<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3316/effect/col_action1/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,25}</string>
                <key>spriteSize</key>
                <string>{170,149}</string>
                <key>spriteSourceSize</key>
                <string>{508,415}</string>
                <key>textureRect</key>
                <string>{{654,649},{170,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3316/effect/col_action1/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,21}</string>
                <key>spriteSize</key>
                <string>{160,141}</string>
                <key>spriteSourceSize</key>
                <string>{508,415}</string>
                <key>textureRect</key>
                <string>{{654,800},{160,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3316/effect/col_action1/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,15}</string>
                <key>spriteSize</key>
                <string>{126,127}</string>
                <key>spriteSourceSize</key>
                <string>{508,415}</string>
                <key>textureRect</key>
                <string>{{857,321},{126,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3316/effect/col_action1/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,13}</string>
                <key>spriteSize</key>
                <string>{116,119}</string>
                <key>spriteSourceSize</key>
                <string>{508,415}</string>
                <key>textureRect</key>
                <string>{{857,450},{116,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3316/effect/col_action1/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,13}</string>
                <key>spriteSize</key>
                <string>{112,117}</string>
                <key>spriteSourceSize</key>
                <string>{508,415}</string>
                <key>textureRect</key>
                <string>{{857,571},{112,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3316/effect/col_action1/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,12}</string>
                <key>spriteSize</key>
                <string>{108,113}</string>
                <key>spriteSourceSize</key>
                <string>{508,415}</string>
                <key>textureRect</key>
                <string>{{816,800},{108,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3316/effect/col_action1/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,11}</string>
                <key>spriteSize</key>
                <string>{104,109}</string>
                <key>spriteSourceSize</key>
                <string>{508,415}</string>
                <key>textureRect</key>
                <string>{{917,1},{104,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3316/effect/col_action1/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,7}</string>
                <key>spriteSize</key>
                <string>{110,115}</string>
                <key>spriteSourceSize</key>
                <string>{508,415}</string>
                <key>textureRect</key>
                <string>{{826,685},{110,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3316/effect/col_action1/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,8}</string>
                <key>spriteSize</key>
                <string>{104,109}</string>
                <key>spriteSourceSize</key>
                <string>{508,415}</string>
                <key>textureRect</key>
                <string>{{917,112},{104,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3316/effect/col_action1/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62,20}</string>
                <key>spriteSize</key>
                <string>{232,221}</string>
                <key>spriteSourceSize</key>
                <string>{508,415}</string>
                <key>textureRect</key>
                <string>{{431,691},{232,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3316/effect/col_action1/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,16}</string>
                <key>spriteSize</key>
                <string>{382,337}</string>
                <key>spriteSourceSize</key>
                <string>{508,415}</string>
                <key>textureRect</key>
                <string>{{473,310},{382,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3316/effect/col_action1/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-8}</string>
                <key>spriteSize</key>
                <string>{470,377}</string>
                <key>spriteSourceSize</key>
                <string>{508,415}</string>
                <key>textureRect</key>
                <string>{{1,1},{470,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3316/effect/col_action1/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,11}</string>
                <key>spriteSize</key>
                <string>{428,299}</string>
                <key>spriteSourceSize</key>
                <string>{508,415}</string>
                <key>textureRect</key>
                <string>{{1,691},{428,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3316/effect/col_action1/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,12}</string>
                <key>spriteSize</key>
                <string>{442,309}</string>
                <key>spriteSourceSize</key>
                <string>{508,415}</string>
                <key>textureRect</key>
                <string>{{1,380},{442,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3316/effect/col_action1/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,12}</string>
                <key>spriteSize</key>
                <string>{442,307}</string>
                <key>spriteSourceSize</key>
                <string>{508,415}</string>
                <key>textureRect</key>
                <string>{{473,1},{442,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3316/effect/col_action1/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,11}</string>
                <key>spriteSize</key>
                <string>{96,101}</string>
                <key>spriteSourceSize</key>
                <string>{508,415}</string>
                <key>textureRect</key>
                <string>{{917,223},{96,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action10.pvr.ccz</string>
            <key>size</key>
            <string>{1022,991}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f90ba57ebb72b565a53fc22e18eb0bb:02a6cdcd2b53a898b36224d450e0eee7:fd6dfe3ee94267230ed6425290acf6b5$</string>
            <key>textureFileName</key>
            <string>col_action10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
