<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3316/effect/col_action2/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{103,67}</string>
                <key>spriteSize</key>
                <string>{91,71}</string>
                <key>spriteSourceSize</key>
                <string>{341,239}</string>
                <key>textureRect</key>
                <string>{{1,1},{91,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3316/effect/col_action2/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{114,54}</string>
                <key>spriteSize</key>
                <string>{95,111}</string>
                <key>spriteSourceSize</key>
                <string>{341,239}</string>
                <key>textureRect</key>
                <string>{{94,1},{95,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3316/effect/col_action2/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{97,58}</string>
                <key>spriteSize</key>
                <string>{125,113}</string>
                <key>spriteSourceSize</key>
                <string>{341,239}</string>
                <key>textureRect</key>
                <string>{{1,98},{125,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3316/effect/col_action2/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-4}</string>
                <key>spriteSize</key>
                <string>{223,123}</string>
                <key>spriteSourceSize</key>
                <string>{341,239}</string>
                <key>textureRect</key>
                <string>{{273,112},{223,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3316/effect/col_action2/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-3}</string>
                <key>spriteSize</key>
                <string>{199,163}</string>
                <key>spriteSourceSize</key>
                <string>{341,239}</string>
                <key>textureRect</key>
                <string>{{1,368},{199,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3316/effect/col_action2/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-4}</string>
                <key>spriteSize</key>
                <string>{227,185}</string>
                <key>spriteSourceSize</key>
                <string>{341,239}</string>
                <key>textureRect</key>
                <string>{{202,368},{227,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3316/effect/col_action2/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-6}</string>
                <key>spriteSize</key>
                <string>{113,101}</string>
                <key>spriteSourceSize</key>
                <string>{341,239}</string>
                <key>textureRect</key>
                <string>{{207,1},{113,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3316/effect/col_action2/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-5}</string>
                <key>spriteSize</key>
                <string>{155,129}</string>
                <key>spriteSourceSize</key>
                <string>{341,239}</string>
                <key>textureRect</key>
                <string>{{154,237},{155,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3316/effect/col_action2/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-5}</string>
                <key>spriteSize</key>
                <string>{155,129}</string>
                <key>spriteSourceSize</key>
                <string>{341,239}</string>
                <key>textureRect</key>
                <string>{{311,237},{155,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3316/effect/col_action2/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-6}</string>
                <key>spriteSize</key>
                <string>{151,125}</string>
                <key>spriteSourceSize</key>
                <string>{341,239}</string>
                <key>textureRect</key>
                <string>{{1,225},{151,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3316/effect/col_action2/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-6}</string>
                <key>spriteSize</key>
                <string>{143,119}</string>
                <key>spriteSourceSize</key>
                <string>{341,239}</string>
                <key>textureRect</key>
                <string>{{128,104},{143,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3316/effect/col_action2/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-6}</string>
                <key>spriteSize</key>
                <string>{133,109}</string>
                <key>spriteSourceSize</key>
                <string>{341,239}</string>
                <key>textureRect</key>
                <string>{{322,1},{133,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action20.pvr.ccz</string>
            <key>size</key>
            <string>{497,554}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d126e42cf2a21ec160192236c17f7c1:caba2481d207e5788e10ca83e5104043:98ec4b5f3da3b367b0df440471cccb39$</string>
            <key>textureFileName</key>
            <string>col_action20.pvr.ccz</string>
        </dict>
    </dict>
</plist>
