<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3329/effect/col_action1/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{96,-11}</string>
                <key>spriteSize</key>
                <string>{30,34}</string>
                <key>spriteSourceSize</key>
                <string>{498,270}</string>
                <key>textureRect</key>
                <string>{{481,837},{30,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3329/effect/col_action1/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{95,14}</string>
                <key>spriteSize</key>
                <string>{32,92}</string>
                <key>spriteSourceSize</key>
                <string>{498,270}</string>
                <key>textureRect</key>
                <string>{{479,969},{32,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3329/effect/col_action1/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{95,11}</string>
                <key>spriteSize</key>
                <string>{32,92}</string>
                <key>spriteSourceSize</key>
                <string>{498,270}</string>
                <key>textureRect</key>
                <string>{{479,1063},{32,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3329/effect/col_action1/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{85,-5}</string>
                <key>spriteSize</key>
                <string>{94,114}</string>
                <key>spriteSourceSize</key>
                <string>{498,270}</string>
                <key>textureRect</key>
                <string>{{395,1},{94,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3329/effect/col_action1/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{83,-7}</string>
                <key>spriteSize</key>
                <string>{94,118}</string>
                <key>spriteSourceSize</key>
                <string>{498,270}</string>
                <key>textureRect</key>
                <string>{{375,499},{94,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3329/effect/col_action1/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{84,4}</string>
                <key>spriteSize</key>
                <string>{62,104}</string>
                <key>spriteSourceSize</key>
                <string>{498,270}</string>
                <key>textureRect</key>
                <string>{{375,905},{62,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3329/effect/col_action1/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{85,-1}</string>
                <key>spriteSize</key>
                <string>{66,100}</string>
                <key>spriteSourceSize</key>
                <string>{498,270}</string>
                <key>textureRect</key>
                <string>{{241,1073},{66,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3329/effect/col_action1/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{83,-3}</string>
                <key>spriteSize</key>
                <string>{66,104}</string>
                <key>spriteSourceSize</key>
                <string>{498,270}</string>
                <key>textureRect</key>
                <string>{{375,837},{66,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3329/effect/col_action1/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{85,-6}</string>
                <key>spriteSize</key>
                <string>{94,112}</string>
                <key>spriteSourceSize</key>
                <string>{498,270}</string>
                <key>textureRect</key>
                <string>{{395,97},{94,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3329/effect/col_action1/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{83,-7}</string>
                <key>spriteSize</key>
                <string>{94,118}</string>
                <key>spriteSourceSize</key>
                <string>{498,270}</string>
                <key>textureRect</key>
                <string>{{375,595},{94,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3329/effect/col_action1/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{84,2}</string>
                <key>spriteSize</key>
                <string>{64,108}</string>
                <key>spriteSourceSize</key>
                <string>{498,270}</string>
                <key>textureRect</key>
                <string>{{375,691},{64,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3329/effect/col_action1/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{85,-3}</string>
                <key>spriteSize</key>
                <string>{78,106}</string>
                <key>spriteSourceSize</key>
                <string>{498,270}</string>
                <key>textureRect</key>
                <string>{{375,757},{78,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3329/effect/col_action1/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{83,-4}</string>
                <key>spriteSize</key>
                <string>{78,102}</string>
                <key>spriteSourceSize</key>
                <string>{498,270}</string>
                <key>textureRect</key>
                <string>{{241,993},{78,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3329/effect/col_action1/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,-2}</string>
                <key>spriteSize</key>
                <string>{56,100}</string>
                <key>spriteSourceSize</key>
                <string>{498,270}</string>
                <key>textureRect</key>
                <string>{{235,1141},{56,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3329/effect/col_action1/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,-2}</string>
                <key>spriteSize</key>
                <string>{56,100}</string>
                <key>spriteSourceSize</key>
                <string>{498,270}</string>
                <key>textureRect</key>
                <string>{{229,1199},{56,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3329/effect/col_action1/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{91,1}</string>
                <key>spriteSize</key>
                <string>{48,96}</string>
                <key>spriteSourceSize</key>
                <string>{498,270}</string>
                <key>textureRect</key>
                <string>{{453,1255},{48,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3329/effect/col_action1/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{232,94}</string>
                <key>spriteSourceSize</key>
                <string>{498,270}</string>
                <key>textureRect</key>
                <string>{{1,1091},{232,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3329/effect/col_action1/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{372,162}</string>
                <key>spriteSourceSize</key>
                <string>{498,270}</string>
                <key>textureRect</key>
                <string>{{1,173},{372,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3329/effect/col_action1/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{372,162}</string>
                <key>spriteSourceSize</key>
                <string>{498,270}</string>
                <key>textureRect</key>
                <string>{{1,337},{372,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3329/effect/col_action1/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{372,162}</string>
                <key>spriteSourceSize</key>
                <string>{498,270}</string>
                <key>textureRect</key>
                <string>{{1,501},{372,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3329/effect/col_action1/20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{372,162}</string>
                <key>spriteSourceSize</key>
                <string>{498,270}</string>
                <key>textureRect</key>
                <string>{{1,665},{372,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3329/effect/col_action1/21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{372,162}</string>
                <key>spriteSourceSize</key>
                <string>{498,270}</string>
                <key>textureRect</key>
                <string>{{1,829},{372,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3329/effect/col_action1/22</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{372,162}</string>
                <key>spriteSourceSize</key>
                <string>{498,270}</string>
                <key>textureRect</key>
                <string>{{1,665},{372,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3329/effect/col_action1/23</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{372,162}</string>
                <key>spriteSourceSize</key>
                <string>{498,270}</string>
                <key>textureRect</key>
                <string>{{1,829},{372,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3329/effect/col_action1/24</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{372,162}</string>
                <key>spriteSourceSize</key>
                <string>{498,270}</string>
                <key>textureRect</key>
                <string>{{1,665},{372,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3329/effect/col_action1/25</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{392,170}</string>
                <key>spriteSourceSize</key>
                <string>{498,270}</string>
                <key>textureRect</key>
                <string>{{1,1},{392,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3329/effect/col_action1/26</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-1}</string>
                <key>spriteSize</key>
                <string>{304,132}</string>
                <key>spriteSourceSize</key>
                <string>{498,270}</string>
                <key>textureRect</key>
                <string>{{375,193},{304,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3329/effect/col_action1/27</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-2}</string>
                <key>spriteSize</key>
                <string>{284,102}</string>
                <key>spriteSourceSize</key>
                <string>{498,270}</string>
                <key>textureRect</key>
                <string>{{375,969},{284,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3329/effect/col_action1/28</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{238,96}</string>
                <key>spriteSourceSize</key>
                <string>{498,270}</string>
                <key>textureRect</key>
                <string>{{1,993},{238,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3329/effect/col_action1/29</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{220,96}</string>
                <key>spriteSourceSize</key>
                <string>{498,270}</string>
                <key>textureRect</key>
                <string>{{1,1273},{220,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3329/effect/col_action1/30</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,5}</string>
                <key>spriteSize</key>
                <string>{222,86}</string>
                <key>spriteSourceSize</key>
                <string>{498,270}</string>
                <key>textureRect</key>
                <string>{{229,1257},{222,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3329/effect/col_action1/31</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,14}</string>
                <key>spriteSize</key>
                <string>{226,84}</string>
                <key>spriteSourceSize</key>
                <string>{498,270}</string>
                <key>textureRect</key>
                <string>{{1,1187},{226,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action10.pvr.ccz</string>
            <key>size</key>
            <string>{512,1370}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4665ebc8a7b6f9b2dc601d7ed6021e70:e2d8c14c7b06eadea96694e6a8b582bf:fd6dfe3ee94267230ed6425290acf6b5$</string>
            <key>textureFileName</key>
            <string>col_action10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
