<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/event/thxgiving2017/help/bak_help</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{611,143}</string>
                <key>spriteSourceSize</key>
                <string>{611,143}</string>
                <key>textureRect</key>
                <string>{{1840,1},{611,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/thxgiving2017/help/bak_help_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{611,143}</string>
                <key>spriteSourceSize</key>
                <string>{611,143}</string>
                <key>textureRect</key>
                <string>{{1227,749},{611,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/thxgiving2017/help/bak_rank_help</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{611,274}</string>
                <key>spriteSourceSize</key>
                <string>{611,274}</string>
                <key>textureRect</key>
                <string>{{1,614},{611,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/thxgiving2017/help/bak_rank_help_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{611,274}</string>
                <key>spriteSourceSize</key>
                <string>{611,274}</string>
                <key>textureRect</key>
                <string>{{614,614},{611,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/thxgiving2017/help/bak_reward_help</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,203}</string>
                <key>spriteSourceSize</key>
                <string>{501,203}</string>
                <key>textureRect</key>
                <string>{{1169,339},{501,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/thxgiving2017/help/bak_reward_help_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,203}</string>
                <key>spriteSourceSize</key>
                <string>{501,203}</string>
                <key>textureRect</key>
                <string>{{1227,544},{501,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/thxgiving2017/help/sack_rank_help</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{611,413}</string>
                <key>spriteSourceSize</key>
                <string>{611,413}</string>
                <key>textureRect</key>
                <string>{{1,1},{611,413}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/thxgiving2017/help/sack_rank_help_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{611,413}</string>
                <key>spriteSourceSize</key>
                <string>{611,413}</string>
                <key>textureRect</key>
                <string>{{416,1},{611,413}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/thxgiving2017/help/special_rank_help</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{611,336}</string>
                <key>spriteSourceSize</key>
                <string>{611,336}</string>
                <key>textureRect</key>
                <string>{{1227,1},{611,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/thxgiving2017/help/special_rank_help_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{611,336}</string>
                <key>spriteSourceSize</key>
                <string>{611,336}</string>
                <key>textureRect</key>
                <string>{{831,1},{611,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>help.pvr.ccz</string>
            <key>size</key>
            <string>{1984,893}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fdd9e73c656b767ec288cadced4d91b:c6ffc25d9dbfe87ec6f496f0fe19dacc:e39418eb90d556d47aac04bdaf3d5b7a$</string>
            <key>textureFileName</key>
            <string>help.pvr.ccz</string>
        </dict>
    </dict>
</plist>
