<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/event/thxgiving2017/scale9/bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{485,19},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/thxgiving2017/scale9/bg_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,18}</string>
                <key>spriteSourceSize</key>
                <string>{121,18}</string>
                <key>textureRect</key>
                <string>{{410,134},{121,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/thxgiving2017/scale9/board_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,38}</string>
                <key>spriteSourceSize</key>
                <string>{39,38}</string>
                <key>textureRect</key>
                <string>{{585,1},{39,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/thxgiving2017/scale9/bottom</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,30}</string>
                <key>spriteSourceSize</key>
                <string>{235,30}</string>
                <key>textureRect</key>
                <string>{{248,19},{235,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/thxgiving2017/scale9/box_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,20}</string>
                <key>spriteSourceSize</key>
                <string>{21,20}</string>
                <key>textureRect</key>
                <string>{{601,206},{21,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/thxgiving2017/scale9/box_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,23}</string>
                <key>spriteSourceSize</key>
                <string>{26,23}</string>
                <key>textureRect</key>
                <string>{{533,126},{26,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/thxgiving2017/scale9/box_table</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,36}</string>
                <key>spriteSourceSize</key>
                <string>{8,36}</string>
                <key>textureRect</key>
                <string>{{1,241},{8,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/thxgiving2017/scale9/bt_back_blue</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{431,213},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/thxgiving2017/scale9/bt_back_yellow</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{473,213},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/thxgiving2017/scale9/bt_off_gray</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,40}</string>
                <key>spriteSourceSize</key>
                <string>{38,40}</string>
                <key>textureRect</key>
                <string>{{578,41},{38,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/thxgiving2017/scale9/btn_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,81}</string>
                <key>spriteSourceSize</key>
                <string>{81,81}</string>
                <key>textureRect</key>
                <string>{{413,51},{81,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/thxgiving2017/scale9/btn_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,27}</string>
                <key>spriteSourceSize</key>
                <string>{42,27}</string>
                <key>textureRect</key>
                <string>{{578,83},{42,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/thxgiving2017/scale9/btn_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{431,154},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/thxgiving2017/scale9/choo_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,220}</string>
                <key>spriteSourceSize</key>
                <string>{245,220}</string>
                <key>textureRect</key>
                <string>{{1,19},{245,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/thxgiving2017/scale9/choo_name_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,23}</string>
                <key>spriteSourceSize</key>
                <string>{64,23}</string>
                <key>textureRect</key>
                <string>{{496,101},{64,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/thxgiving2017/scale9/choo_title_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,14}</string>
                <key>spriteSourceSize</key>
                <string>{172,14}</string>
                <key>textureRect</key>
                <string>{{248,174},{172,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/thxgiving2017/scale9/deco_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,59}</string>
                <key>spriteSourceSize</key>
                <string>{101,59}</string>
                <key>textureRect</key>
                <string>{{248,190},{101,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/thxgiving2017/scale9/event2019_choo_dragon_eval_back</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{410,154},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/thxgiving2017/scale9/event2019_choo_frame_dragon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,78}</string>
                <key>spriteSourceSize</key>
                <string>{60,78}</string>
                <key>textureRect</key>
                <string>{{351,190},{60,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/thxgiving2017/scale9/event2019_choo_frame_dragon_back</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{563,112},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/thxgiving2017/scale9/event2019_choo_right_back</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{515,208},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/thxgiving2017/scale9/event2019_choo_right_back_rectangle</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{601,229},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/thxgiving2017/scale9/event2019_choo_right_line</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{1,251},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/thxgiving2017/scale9/event2019_choo_stat_back</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,70}</string>
                <key>spriteSourceSize</key>
                <string>{163,70}</string>
                <key>textureRect</key>
                <string>{{248,51},{163,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/thxgiving2017/scale9/event2019_choo_stat_line</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{5,251},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/thxgiving2017/scale9/event2019_choo_stat_text_back1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,20}</string>
                <key>spriteSourceSize</key>
                <string>{30,20}</string>
                <key>textureRect</key>
                <string>{{595,174},{30,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/thxgiving2017/scale9/event2019_choo_stat_text_back2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{563,174},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/thxgiving2017/scale9/event2019_choo_win_back</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,52}</string>
                <key>spriteSourceSize</key>
                <string>{60,52}</string>
                <key>textureRect</key>
                <string>{{501,154},{60,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/thxgiving2017/scale9/mini1_frame</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{496,19},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/thxgiving2017/scale9/mini2_deco1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,37}</string>
                <key>spriteSourceSize</key>
                <string>{20,37}</string>
                <key>textureRect</key>
                <string>{{557,208},{20,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/thxgiving2017/scale9/mini2_deco2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,37}</string>
                <key>spriteSourceSize</key>
                <string>{20,37}</string>
                <key>textureRect</key>
                <string>{{579,206},{20,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/thxgiving2017/scale9/mini3_gauge</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{582,16}</string>
                <key>spriteSourceSize</key>
                <string>{582,16}</string>
                <key>textureRect</key>
                <string>{{1,1},{582,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/thxgiving2017/scale9/png-save-sample</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,49}</string>
                <key>spriteSourceSize</key>
                <string>{160,49}</string>
                <key>textureRect</key>
                <string>{{248,123},{160,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/thxgiving2017/scale9/rank_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{422,154},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/thxgiving2017/scale9/rank_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,10}</string>
                <key>spriteSourceSize</key>
                <string>{20,10}</string>
                <key>textureRect</key>
                <string>{{39,241},{20,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>scale9.pvr.ccz</string>
            <key>size</key>
            <string>{625,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9672faf2eb067dcada666844a2d69c18:ac97fc273a13bce95238a8f506640758:6f7b3facf21f2a5d368b2d3e0aff0361$</string>
            <key>textureFileName</key>
            <string>scale9.pvr.ccz</string>
        </dict>
    </dict>
</plist>
