<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-4}</string>
			<key>spriteSize</key>
			<string>{142,126}</string>
			<key>spriteSourceSize</key>
			<string>{284,182}</string>
			<key>textureRect</key>
			<string>{{359,483},{142,126}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-10}</string>
			<key>spriteSize</key>
			<string>{176,126}</string>
			<key>spriteSourceSize</key>
			<string>{284,182}</string>
			<key>textureRect</key>
			<string>{{359,305},{176,126}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-9}</string>
			<key>spriteSize</key>
			<string>{210,148}</string>
			<key>spriteSourceSize</key>
			<string>{284,182}</string>
			<key>textureRect</key>
			<string>{{271,155},{210,148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-11}</string>
			<key>spriteSize</key>
			<string>{226,152}</string>
			<key>spriteSourceSize</key>
			<string>{284,182}</string>
			<key>textureRect</key>
			<string>{{271,1},{226,152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-13}</string>
			<key>spriteSize</key>
			<string>{232,156}</string>
			<key>spriteSourceSize</key>
			<string>{284,182}</string>
			<key>textureRect</key>
			<string>{{341,1411},{232,156}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-12}</string>
			<key>spriteSize</key>
			<string>{242,158}</string>
			<key>spriteSourceSize</key>
			<string>{284,182}</string>
			<key>textureRect</key>
			<string>{{319,1167},{242,158}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-12}</string>
			<key>spriteSize</key>
			<string>{250,158}</string>
			<key>spriteSourceSize</key>
			<string>{284,182}</string>
			<key>textureRect</key>
			<string>{{181,1435},{250,158}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-12}</string>
			<key>spriteSize</key>
			<string>{256,158}</string>
			<key>spriteSourceSize</key>
			<string>{284,182}</string>
			<key>textureRect</key>
			<string>{{329,897},{256,158}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-8}</string>
			<key>spriteSize</key>
			<string>{258,166}</string>
			<key>spriteSourceSize</key>
			<string>{284,182}</string>
			<key>textureRect</key>
			<string>{{327,637},{258,166}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-2}</string>
			<key>spriteSize</key>
			<string>{262,178}</string>
			<key>spriteSourceSize</key>
			<string>{284,182}</string>
			<key>textureRect</key>
			<string>{{1,1449},{262,178}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{266,182}</string>
			<key>spriteSourceSize</key>
			<string>{284,182}</string>
			<key>textureRect</key>
			<string>{{1,185},{266,182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-2}</string>
			<key>spriteSize</key>
			<string>{266,174}</string>
			<key>spriteSourceSize</key>
			<string>{284,182}</string>
			<key>textureRect</key>
			<string>{{183,369},{266,174}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-2}</string>
			<key>spriteSize</key>
			<string>{268,176}</string>
			<key>spriteSourceSize</key>
			<string>{284,182}</string>
			<key>textureRect</key>
			<string>{{1,1179},{268,176}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{268,180}</string>
			<key>spriteSourceSize</key>
			<string>{284,182}</string>
			<key>textureRect</key>
			<string>{{1,369},{268,180}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{268,182}</string>
			<key>spriteSourceSize</key>
			<string>{284,182}</string>
			<key>textureRect</key>
			<string>{{1,1},{268,182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>15</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-1}</string>
			<key>spriteSize</key>
			<string>{268,178}</string>
			<key>spriteSourceSize</key>
			<string>{284,182}</string>
			<key>textureRect</key>
			<string>{{1,639},{268,178}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>16</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-1}</string>
			<key>spriteSize</key>
			<string>{268,178}</string>
			<key>spriteSourceSize</key>
			<string>{284,182}</string>
			<key>textureRect</key>
			<string>{{1,909},{268,178}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>17</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-15}</string>
			<key>spriteSize</key>
			<string>{262,146}</string>
			<key>spriteSourceSize</key>
			<string>{284,182}</string>
			<key>textureRect</key>
			<string>{{181,903},{262,146}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>18</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-16}</string>
			<key>spriteSize</key>
			<string>{262,144}</string>
			<key>spriteSourceSize</key>
			<string>{284,182}</string>
			<key>textureRect</key>
			<string>{{181,639},{262,144}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>19</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-17}</string>
			<key>spriteSize</key>
			<string>{254,138}</string>
			<key>spriteSourceSize</key>
			<string>{284,182}</string>
			<key>textureRect</key>
			<string>{{179,1179},{254,138}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action30.pvr.ccz</string>
		<key>size</key>
		<string>{498,1712}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:993eb4691d6003b7075384d6a02c9f36:ad8259e1b4571c716d1a96f0875902bb:e44ba353004d0fd8b165f5c6960cb7e8$</string>
		<key>textureFileName</key>
		<string>col_action30.pvr.ccz</string>
	</dict>
</dict>
</plist>
