<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/fortune/newGem/basic_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,135}</string>
                <key>spriteSourceSize</key>
                <string>{120,135}</string>
                <key>textureRect</key>
                <string>{{824,797},{120,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/newGem/bt_back</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,46}</string>
                <key>spriteSourceSize</key>
                <string>{40,46}</string>
                <key>textureRect</key>
                <string>{{1135,867},{40,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/newGem/bt_gem_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,44}</string>
                <key>spriteSourceSize</key>
                <string>{170,44}</string>
                <key>textureRect</key>
                <string>{{1,969},{170,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/newGem/bt_gem_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,44}</string>
                <key>spriteSourceSize</key>
                <string>{170,44}</string>
                <key>textureRect</key>
                <string>{{173,969},{170,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/newGem/bt_gem_on2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,44}</string>
                <key>spriteSourceSize</key>
                <string>{170,44}</string>
                <key>textureRect</key>
                <string>{{345,969},{170,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/newGem/bt_left</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,30}</string>
                <key>spriteSourceSize</key>
                <string>{21,30}</string>
                <key>textureRect</key>
                <string>{{731,979},{21,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/newGem/bt_left2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,30}</string>
                <key>spriteSourceSize</key>
                <string>{25,30}</string>
                <key>textureRect</key>
                <string>{{1019,679},{25,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/newGem/bt_recipe</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,135}</string>
                <key>spriteSourceSize</key>
                <string>{120,135}</string>
                <key>textureRect</key>
                <string>{{1051,665},{120,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/newGem/bt_right</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,30}</string>
                <key>spriteSourceSize</key>
                <string>{21,30}</string>
                <key>textureRect</key>
                <string>{{763,979},{21,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/newGem/bt_right2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,30}</string>
                <key>spriteSourceSize</key>
                <string>{25,30}</string>
                <key>textureRect</key>
                <string>{{1019,706},{25,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/newGem/bt_select_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,40}</string>
                <key>spriteSourceSize</key>
                <string>{60,40}</string>
                <key>textureRect</key>
                <string>{{1057,973},{60,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/newGem/bt_select_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,40}</string>
                <key>spriteSourceSize</key>
                <string>{60,40}</string>
                <key>textureRect</key>
                <string>{{1119,973},{60,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/newGem/frame_composebg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,40}</string>
                <key>spriteSourceSize</key>
                <string>{86,40}</string>
                <key>textureRect</key>
                <string>{{1057,931},{86,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/newGem/frame_gembg1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{744,458}</string>
                <key>spriteSourceSize</key>
                <string>{744,458}</string>
                <key>textureRect</key>
                <string>{{1,1},{744,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/newGem/frame_gembg2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{714,324}</string>
                <key>spriteSourceSize</key>
                <string>{714,324}</string>
                <key>textureRect</key>
                <string>{{1,461},{714,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/newGem/frame_gembg3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{505,44}</string>
                <key>spriteSourceSize</key>
                <string>{505,44}</string>
                <key>textureRect</key>
                <string>{{1,787},{505,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/newGem/frame_gembg4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,36}</string>
                <key>spriteSourceSize</key>
                <string>{154,36}</string>
                <key>textureRect</key>
                <string>{{1051,627},{154,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/newGem/frame_gembg5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{624,458}</string>
                <key>spriteSourceSize</key>
                <string>{624,458}</string>
                <key>textureRect</key>
                <string>{{747,1},{624,458}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/newGem/frame_gembg6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{505,42}</string>
                <key>spriteSourceSize</key>
                <string>{505,42}</string>
                <key>textureRect</key>
                <string>{{1,833},{505,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/newGem/frame_gembg7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,40}</string>
                <key>spriteSourceSize</key>
                <string>{300,40}</string>
                <key>textureRect</key>
                <string>{{717,679},{300,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/newGem/frame_gembg8</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,50}</string>
                <key>spriteSourceSize</key>
                <string>{332,50}</string>
                <key>textureRect</key>
                <string>{{717,627},{332,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/newGem/frame_goldbg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,32}</string>
                <key>spriteSourceSize</key>
                <string>{204,32}</string>
                <key>textureRect</key>
                <string>{{946,797},{204,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/newGem/frame_golddiabg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,32}</string>
                <key>spriteSourceSize</key>
                <string>{174,32}</string>
                <key>textureRect</key>
                <string>{{980,761},{174,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/newGem/frame_itembox</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,156}</string>
                <key>spriteSourceSize</key>
                <string>{134,156}</string>
                <key>textureRect</key>
                <string>{{508,787},{134,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/newGem/frame_result_box2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,156}</string>
                <key>spriteSourceSize</key>
                <string>{137,156}</string>
                <key>textureRect</key>
                <string>{{666,797},{137,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/newGem/icon_composeston</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,78}</string>
                <key>spriteSourceSize</key>
                <string>{69,78}</string>
                <key>textureRect</key>
                <string>{{1108,787},{69,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/newGem/icon_failed</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,95}</string>
                <key>spriteSourceSize</key>
                <string>{92,95}</string>
                <key>textureRect</key>
                <string>{{1014,787},{92,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/newGem/icon_gem_add</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{468,877},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/newGem/icon_gem_finished</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,38}</string>
                <key>spriteSourceSize</key>
                <string>{37,38}</string>
                <key>textureRect</key>
                <string>{{655,954},{37,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/newGem/icon_gold</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,31}</string>
                <key>spriteSourceSize</key>
                <string>{32,31}</string>
                <key>textureRect</key>
                <string>{{484,923},{32,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/newGem/icon_golddia</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,26}</string>
                <key>spriteSourceSize</key>
                <string>{33,26}</string>
                <key>textureRect</key>
                <string>{{695,954},{33,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/newGem/icon_hammer</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,76}</string>
                <key>spriteSourceSize</key>
                <string>{75,76}</string>
                <key>textureRect</key>
                <string>{{980,937},{75,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/newGem/icon_jem</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,26}</string>
                <key>spriteSourceSize</key>
                <string>{28,26}</string>
                <key>textureRect</key>
                <string>{{915,934},{28,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/newGem/icon_potion</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,27}</string>
                <key>spriteSourceSize</key>
                <string>{24,27}</string>
                <key>textureRect</key>
                <string>{{1014,761},{24,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/newGem/txt_1success</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,14}</string>
                <key>spriteSourceSize</key>
                <string>{40,14}</string>
                <key>textureRect</key>
                <string>{{1135,915},{40,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/newGem/txt_1success_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,24}</string>
                <key>spriteSourceSize</key>
                <string>{56,24}</string>
                <key>textureRect</key>
                <string>{{602,923},{56,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/newGem/txt_2success</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,14}</string>
                <key>spriteSourceSize</key>
                <string>{42,14}</string>
                <key>textureRect</key>
                <string>{{1188,718},{42,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/newGem/txt_2success_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,24}</string>
                <key>spriteSourceSize</key>
                <string>{56,24}</string>
                <key>textureRect</key>
                <string>{{1181,872},{56,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/newGem/txt_3success</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,14}</string>
                <key>spriteSourceSize</key>
                <string>{42,14}</string>
                <key>textureRect</key>
                <string>{{587,989},{42,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/newGem/txt_3success_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,24}</string>
                <key>spriteSourceSize</key>
                <string>{56,24}</string>
                <key>textureRect</key>
                <string>{{1181,930},{56,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/newGem/txt_cancel</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,19}</string>
                <key>spriteSourceSize</key>
                <string>{34,19}</string>
                <key>textureRect</key>
                <string>{{730,958},{34,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/newGem/txt_cancel2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,19}</string>
                <key>spriteSourceSize</key>
                <string>{34,19}</string>
                <key>textureRect</key>
                <string>{{766,958},{34,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/newGem/txt_cancel2_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,18}</string>
                <key>spriteSourceSize</key>
                <string>{65,18}</string>
                <key>textureRect</key>
                <string>{{588,949},{65,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/newGem/txt_cancel_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,18}</string>
                <key>spriteSourceSize</key>
                <string>{65,18}</string>
                <key>textureRect</key>
                <string>{{588,969},{65,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/newGem/txt_compose_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,20}</string>
                <key>spriteSourceSize</key>
                <string>{68,20}</string>
                <key>textureRect</key>
                <string>{{717,554},{68,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/newGem/txt_compose_off_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,23}</string>
                <key>spriteSourceSize</key>
                <string>{83,23}</string>
                <key>textureRect</key>
                <string>{{1179,787},{83,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/newGem/txt_compose_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,20}</string>
                <key>spriteSourceSize</key>
                <string>{68,20}</string>
                <key>textureRect</key>
                <string>{{517,986},{68,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/newGem/txt_compose_on_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,23}</string>
                <key>spriteSourceSize</key>
                <string>{83,23}</string>
                <key>textureRect</key>
                <string>{{517,923},{83,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/newGem/txt_fail</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,13}</string>
                <key>spriteSourceSize</key>
                <string>{24,13}</string>
                <key>textureRect</key>
                <string>{{1181,988},{24,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/newGem/txt_fail_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,13}</string>
                <key>spriteSourceSize</key>
                <string>{23,13}</string>
                <key>textureRect</key>
                <string>{{1188,762},{23,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/newGem/txt_gem1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,16}</string>
                <key>spriteSourceSize</key>
                <string>{234,16}</string>
                <key>textureRect</key>
                <string>{{717,779},{234,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/newGem/txt_gem1_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,18}</string>
                <key>spriteSourceSize</key>
                <string>{300,18}</string>
                <key>textureRect</key>
                <string>{{717,721},{300,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/newGem/txt_gem2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,19}</string>
                <key>spriteSourceSize</key>
                <string>{91,19}</string>
                <key>textureRect</key>
                <string>{{717,461},{91,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/newGem/txt_gem2_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,16}</string>
                <key>spriteSourceSize</key>
                <string>{89,16}</string>
                <key>textureRect</key>
                <string>{{824,934},{89,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/newGem/txt_gem3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,17}</string>
                <key>spriteSourceSize</key>
                <string>{51,17}</string>
                <key>textureRect</key>
                <string>{{1188,665},{51,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/newGem/txt_gem3_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,36}</string>
                <key>spriteSourceSize</key>
                <string>{69,36}</string>
                <key>textureRect</key>
                <string>{{517,948},{69,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/newGem/txt_gem4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{381,43}</string>
                <key>spriteSourceSize</key>
                <string>{381,43}</string>
                <key>textureRect</key>
                <string>{{1,924},{381,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/newGem/txt_gem4_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{465,45}</string>
                <key>spriteSourceSize</key>
                <string>{465,45}</string>
                <key>textureRect</key>
                <string>{{1,877},{465,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/newGem/txt_item1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,16}</string>
                <key>spriteSourceSize</key>
                <string>{260,16}</string>
                <key>textureRect</key>
                <string>{{717,761},{260,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/newGem/txt_item1_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,18}</string>
                <key>spriteSourceSize</key>
                <string>{315,18}</string>
                <key>textureRect</key>
                <string>{{717,741},{315,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/newGem/txt_ok</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,21}</string>
                <key>spriteSourceSize</key>
                <string>{40,21}</string>
                <key>textureRect</key>
                <string>{{1145,931},{40,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/newGem/txt_ok_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,18}</string>
                <key>spriteSourceSize</key>
                <string>{34,18}</string>
                <key>textureRect</key>
                <string>{{695,982},{34,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/newGem/txt_restore</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,20}</string>
                <key>spriteSourceSize</key>
                <string>{67,20}</string>
                <key>textureRect</key>
                <string>{{738,936},{67,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/newGem/txt_restore_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,16}</string>
                <key>spriteSourceSize</key>
                <string>{76,16}</string>
                <key>textureRect</key>
                <string>{{660,936},{76,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/newGem/txt_resulttitle</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,45}</string>
                <key>spriteSourceSize</key>
                <string>{119,45}</string>
                <key>textureRect</key>
                <string>{{1014,884},{119,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/newGem/txt_resulttitle_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,42}</string>
                <key>spriteSourceSize</key>
                <string>{98,42}</string>
                <key>textureRect</key>
                <string>{{384,924},{98,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>newGem.pvr.ccz</string>
            <key>size</key>
            <string>{1206,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c70e6f7af5422861731dcc13e2875f61:6a5757e4431a5c5a8800e4f3085f72e9:310e6a1cc451159e45ba0d088bf85f88$</string>
            <key>textureFileName</key>
            <string>newGem.pvr.ccz</string>
        </dict>
    </dict>
</plist>
