<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>1</key>
		<dict>
			<key>frame</key>
			<string>{{130,144},{62,60}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,14},{62,60}}</string>
			<key>sourceSize</key>
			<string>{90,90}</string>
		</dict>
		<key>2</key>
		<dict>
			<key>frame</key>
			<string>{{2,144},{68,64}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,16},{68,64}}</string>
			<key>sourceSize</key>
			<string>{90,90}</string>
		</dict>
		<key>3</key>
		<dict>
			<key>frame</key>
			<string>{{68,144},{60,62}}</string>
			<key>offset</key>
			<string>{4,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,18},{60,62}}</string>
			<key>sourceSize</key>
			<string>{90,90}</string>
		</dict>
		<key>4</key>
		<dict>
			<key>frame</key>
			<string>{{2,74},{68,64}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,16},{68,64}}</string>
			<key>sourceSize</key>
			<string>{90,90}</string>
		</dict>
		<key>5</key>
		<dict>
			<key>frame</key>
			<string>{{68,74},{68,62}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,18},{68,62}}</string>
			<key>sourceSize</key>
			<string>{90,90}</string>
		</dict>
		<key>6</key>
		<dict>
			<key>frame</key>
			<string>{{72,2},{66,66}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,14},{66,66}}</string>
			<key>sourceSize</key>
			<string>{90,90}</string>
		</dict>
		<key>7</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{68,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,10},{68,70}}</string>
			<key>sourceSize</key>
			<string>{90,90}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>profile.pvr.ccz</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e718b08cbfb89695db2e82d85319f170:79c1270fcf3450754f248d40ec053331:03c072fd1c1f67b4883b34fedb7a3213$</string>
		<key>textureFileName</key>
		<string>profile.pvr.ccz</string>
	</dict>
</dict>
</plist>
