<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/18/profile/1</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{46,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{46,62}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dragon/18/profile/2</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{68,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dragon/18/profile/3</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{66,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{66,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dragon/18/profile/4</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{64,70}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{64,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dragon/18/profile/5</key>
            <dict>
                <key>frame</key>
                <string>{{68,146},{62,70}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{62,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dragon/18/profile/6</key>
            <dict>
                <key>frame</key>
                <string>{{70,74},{68,66}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,14},{68,66}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>profile.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c32f4c5af0ac40e9ff3dbd65c892723:77a6d85ebd2d2d48906dbc8107fca50e:03c072fd1c1f67b4883b34fedb7a3213$</string>
            <key>textureFileName</key>
            <string>profile.pvr.ccz</string>
        </dict>
    </dict>
</plist>
