<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/40/effect/adv_action1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,149}</string>
                <key>spriteSourceSize</key>
                <string>{149,149}</string>
                <key>textureRect</key>
                <string>{{95,298},{149,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/40/effect/adv_action2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,120}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{1,176},{200,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/40/effect/col_action1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,92}</string>
                <key>spriteSourceSize</key>
                <string>{171,92}</string>
                <key>textureRect</key>
                <string>{{1,298},{171,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/40/effect/col_action2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{253,173}</string>
                <key>spriteSourceSize</key>
                <string>{257,173}</string>
                <key>textureRect</key>
                <string>{{1,1},{253,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>effect.pvr.ccz</string>
            <key>size</key>
            <string>{255,470}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28bbb60d15451a3fd67ae462db43290c:c35932c66075566c4d2f7a5682eb9a30:e0fdcd92bbdb8ab6858982d39ba3f2d9$</string>
            <key>textureFileName</key>
            <string>effect.pvr.ccz</string>
        </dict>
    </dict>
</plist>
