<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/802/effect/col_action3/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-96}</string>
                <key>spriteSize</key>
                <string>{53,22}</string>
                <key>spriteSourceSize</key>
                <string>{233,232}</string>
                <key>textureRect</key>
                <string>{{469,56},{53,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/802/effect/col_action3/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-96}</string>
                <key>spriteSize</key>
                <string>{53,24}</string>
                <key>spriteSourceSize</key>
                <string>{233,232}</string>
                <key>textureRect</key>
                <string>{{469,1},{53,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/802/effect/col_action3/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-62}</string>
                <key>spriteSize</key>
                <string>{53,94}</string>
                <key>spriteSourceSize</key>
                <string>{233,232}</string>
                <key>textureRect</key>
                <string>{{426,487},{53,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/802/effect/col_action3/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-60}</string>
                <key>spriteSize</key>
                <string>{115,98}</string>
                <key>spriteSourceSize</key>
                <string>{233,232}</string>
                <key>textureRect</key>
                <string>{{395,852},{115,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/802/effect/col_action3/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-67}</string>
                <key>spriteSize</key>
                <string>{175,80}</string>
                <key>spriteSourceSize</key>
                <string>{233,232}</string>
                <key>textureRect</key>
                <string>{{410,675},{175,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/802/effect/col_action3/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-56}</string>
                <key>spriteSize</key>
                <string>{193,106}</string>
                <key>spriteSourceSize</key>
                <string>{233,232}</string>
                <key>textureRect</key>
                <string>{{200,831},{193,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/802/effect/col_action3/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-56}</string>
                <key>spriteSize</key>
                <string>{185,108}</string>
                <key>spriteSourceSize</key>
                <string>{233,232}</string>
                <key>textureRect</key>
                <string>{{163,951},{185,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/802/effect/col_action3/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-56}</string>
                <key>spriteSize</key>
                <string>{189,108}</string>
                <key>spriteSourceSize</key>
                <string>{233,232}</string>
                <key>textureRect</key>
                <string>{{1,841},{189,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/802/effect/col_action3/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-42}</string>
                <key>spriteSize</key>
                <string>{191,140}</string>
                <key>spriteSourceSize</key>
                <string>{233,232}</string>
                <key>textureRect</key>
                <string>{{273,969},{191,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/802/effect/col_action3/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-42}</string>
                <key>spriteSize</key>
                <string>{197,140}</string>
                <key>spriteSourceSize</key>
                <string>{233,232}</string>
                <key>textureRect</key>
                <string>{{1,699},{197,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/802/effect/col_action3/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-35}</string>
                <key>spriteSize</key>
                <string>{201,154}</string>
                <key>spriteSourceSize</key>
                <string>{233,232}</string>
                <key>textureRect</key>
                <string>{{207,675},{201,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/802/effect/col_action3/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-35}</string>
                <key>spriteSize</key>
                <string>{204,154}</string>
                <key>spriteSourceSize</key>
                <string>{234,232}</string>
                <key>textureRect</key>
                <string>{{1,543},{204,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/802/effect/col_action3/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-18}</string>
                <key>spriteSize</key>
                <string>{208,186}</string>
                <key>spriteSourceSize</key>
                <string>{236,232}</string>
                <key>textureRect</key>
                <string>{{216,487},{208,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/802/effect/col_action3/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-18}</string>
                <key>spriteSize</key>
                <string>{213,186}</string>
                <key>spriteSourceSize</key>
                <string>{237,232}</string>
                <key>textureRect</key>
                <string>{{1,355},{213,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/802/effect/col_action3/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-31}</string>
                <key>spriteSize</key>
                <string>{217,160}</string>
                <key>spriteSourceSize</key>
                <string>{239,232}</string>
                <key>textureRect</key>
                <string>{{224,325},{217,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/802/effect/col_action3/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-26}</string>
                <key>spriteSize</key>
                <string>{221,170}</string>
                <key>spriteSourceSize</key>
                <string>{241,232}</string>
                <key>textureRect</key>
                <string>{{1,183},{221,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/802/effect/col_action3/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-18}</string>
                <key>spriteSize</key>
                <string>{236,180}</string>
                <key>spriteSourceSize</key>
                <string>{242,232}</string>
                <key>textureRect</key>
                <string>{{1,1},{236,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/802/effect/col_action3/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-28}</string>
                <key>spriteSize</key>
                <string>{227,160}</string>
                <key>spriteSourceSize</key>
                <string>{243,232}</string>
                <key>textureRect</key>
                <string>{{239,163},{227,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/802/effect/col_action3/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-29}</string>
                <key>spriteSize</key>
                <string>{228,160}</string>
                <key>spriteSourceSize</key>
                <string>{244,232}</string>
                <key>textureRect</key>
                <string>{{239,1},{228,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/802/effect/col_action3/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-29}</string>
                <key>spriteSize</key>
                <string>{165,160}</string>
                <key>spriteSourceSize</key>
                <string>{233,232}</string>
                <key>textureRect</key>
                <string>{{1,969},{165,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action30.pvr.ccz</string>
            <key>size</key>
            <string>{494,1137}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc01f7311d9f9f5d000755809966c77d:f71fb0afcb52072bfa0b3ae3fd3254ec:e44ba353004d0fd8b165f5c6960cb7e8$</string>
            <key>textureFileName</key>
            <string>col_action30.pvr.ccz</string>
        </dict>
    </dict>
</plist>
