<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/452/effect/col_action1/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-82}</string>
                <key>spriteSize</key>
                <string>{212,65}</string>
                <key>spriteSourceSize</key>
                <string>{226,235}</string>
                <key>textureRect</key>
                <string>{{1049,220},{212,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/452/effect/col_action1/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-83}</string>
                <key>spriteSize</key>
                <string>{202,61}</string>
                <key>spriteSourceSize</key>
                <string>{226,235}</string>
                <key>textureRect</key>
                <string>{{1552,1},{202,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/452/effect/col_action1/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-84}</string>
                <key>spriteSize</key>
                <string>{210,63}</string>
                <key>spriteSourceSize</key>
                <string>{226,235}</string>
                <key>textureRect</key>
                <string>{{1205,425},{210,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/452/effect/col_action1/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-84}</string>
                <key>spriteSize</key>
                <string>{198,59}</string>
                <key>spriteSourceSize</key>
                <string>{226,235}</string>
                <key>textureRect</key>
                <string>{{1005,435},{198,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/452/effect/col_action1/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-83}</string>
                <key>spriteSize</key>
                <string>{184,55}</string>
                <key>spriteSourceSize</key>
                <string>{226,235}</string>
                <key>textureRect</key>
                <string>{{643,439},{184,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/452/effect/col_action1/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-82}</string>
                <key>spriteSize</key>
                <string>{174,53}</string>
                <key>spriteSourceSize</key>
                <string>{226,235}</string>
                <key>textureRect</key>
                <string>{{829,439},{174,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/452/effect/col_action1/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-82}</string>
                <key>spriteSize</key>
                <string>{162,49}</string>
                <key>spriteSourceSize</key>
                <string>{226,235}</string>
                <key>textureRect</key>
                <string>{{1448,423},{162,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/452/effect/col_action1/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-81}</string>
                <key>spriteSize</key>
                <string>{150,47}</string>
                <key>spriteSourceSize</key>
                <string>{226,235}</string>
                <key>textureRect</key>
                <string>{{1559,205},{150,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/452/effect/col_action1/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-81}</string>
                <key>spriteSize</key>
                <string>{140,43}</string>
                <key>spriteSourceSize</key>
                <string>{226,235}</string>
                <key>textureRect</key>
                <string>{{223,451},{140,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/452/effect/col_action1/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-80}</string>
                <key>spriteSize</key>
                <string>{126,41}</string>
                <key>spriteSourceSize</key>
                <string>{226,235}</string>
                <key>textureRect</key>
                <string>{{365,451},{126,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/452/effect/col_action1/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-80}</string>
                <key>spriteSize</key>
                <string>{116,37}</string>
                <key>spriteSourceSize</key>
                <string>{226,235}</string>
                <key>textureRect</key>
                <string>{{1,457},{116,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/452/effect/col_action1/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-79}</string>
                <key>spriteSize</key>
                <string>{102,35}</string>
                <key>spriteSourceSize</key>
                <string>{226,235}</string>
                <key>textureRect</key>
                <string>{{119,457},{102,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/452/effect/col_action1/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-81}</string>
                <key>spriteSize</key>
                <string>{148,45}</string>
                <key>spriteSourceSize</key>
                <string>{226,235}</string>
                <key>textureRect</key>
                <string>{{493,449},{148,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/452/effect/col_action1/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-76}</string>
                <key>spriteSize</key>
                <string>{58,29}</string>
                <key>spriteSourceSize</key>
                <string>{226,235}</string>
                <key>textureRect</key>
                <string>{{1417,423},{58,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/452/effect/col_action1/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{206,213}</string>
                <key>spriteSourceSize</key>
                <string>{226,235}</string>
                <key>textureRect</key>
                <string>{{841,220},{206,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/452/effect/col_action1/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{208,223}</string>
                <key>spriteSourceSize</key>
                <string>{226,235}</string>
                <key>textureRect</key>
                <string>{{211,1},{208,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/452/effect/col_action1/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{208,227}</string>
                <key>spriteSourceSize</key>
                <string>{226,235}</string>
                <key>textureRect</key>
                <string>{{1,1},{208,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/452/effect/col_action1/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{208,225}</string>
                <key>spriteSourceSize</key>
                <string>{226,235}</string>
                <key>textureRect</key>
                <string>{{1,230},{208,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/452/effect/col_action1/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{208,221}</string>
                <key>spriteSourceSize</key>
                <string>{226,235}</string>
                <key>textureRect</key>
                <string>{{421,226},{208,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/452/effect/col_action1/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{208,223}</string>
                <key>spriteSourceSize</key>
                <string>{226,235}</string>
                <key>textureRect</key>
                <string>{{211,226},{208,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/452/effect/col_action1/20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{208,217}</string>
                <key>spriteSourceSize</key>
                <string>{226,235}</string>
                <key>textureRect</key>
                <string>{{631,1},{208,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/452/effect/col_action1/21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{208,217}</string>
                <key>spriteSourceSize</key>
                <string>{226,235}</string>
                <key>textureRect</key>
                <string>{{631,220},{208,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/452/effect/col_action1/22</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{208,217}</string>
                <key>spriteSourceSize</key>
                <string>{226,235}</string>
                <key>textureRect</key>
                <string>{{841,1},{208,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/452/effect/col_action1/23</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{208,223}</string>
                <key>spriteSourceSize</key>
                <string>{226,235}</string>
                <key>textureRect</key>
                <string>{{421,1},{208,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/452/effect/col_action1/24</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-24}</string>
                <key>spriteSize</key>
                <string>{208,181}</string>
                <key>spriteSourceSize</key>
                <string>{226,235}</string>
                <key>textureRect</key>
                <string>{{1369,1},{208,181}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/452/effect/col_action1/25</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-14}</string>
                <key>spriteSize</key>
                <string>{208,201}</string>
                <key>spriteSourceSize</key>
                <string>{226,235}</string>
                <key>textureRect</key>
                <string>{{1356,213},{208,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/452/effect/col_action1/26</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-24}</string>
                <key>spriteSize</key>
                <string>{210,179}</string>
                <key>spriteSourceSize</key>
                <string>{226,235}</string>
                <key>textureRect</key>
                <string>{{1051,1},{210,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/452/effect/col_action1/27</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-46}</string>
                <key>spriteSize</key>
                <string>{210,135}</string>
                <key>spriteSourceSize</key>
                <string>{226,235}</string>
                <key>textureRect</key>
                <string>{{1232,1},{210,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/452/effect/col_action1/28</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-46}</string>
                <key>spriteSize</key>
                <string>{210,137}</string>
                <key>spriteSourceSize</key>
                <string>{226,235}</string>
                <key>textureRect</key>
                <string>{{1116,213},{210,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/452/effect/col_action1/29</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-64}</string>
                <key>spriteSize</key>
                <string>{210,99}</string>
                <key>spriteSourceSize</key>
                <string>{226,235}</string>
                <key>textureRect</key>
                <string>{{1255,213},{210,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action10.pvr.ccz</string>
            <key>size</key>
            <string>{1614,495}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd5bbb24f2c666475eb880f5292261d7:96f02351da9e38d30f9471c7ae7a2ba0:fd6dfe3ee94267230ed6425290acf6b5$</string>
            <key>textureFileName</key>
            <string>col_action10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
