<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>arm_l1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{43,43}</string>
			<key>spriteSourceSize</key>
			<string>{43,43}</string>
			<key>textureRect</key>
			<string>{{239,159},{43,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>arm_r1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,43}</string>
			<key>spriteSourceSize</key>
			<string>{36,43}</string>
			<key>textureRect</key>
			<string>{{239,204},{36,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>body</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{59,72}</string>
			<key>spriteSourceSize</key>
			<string>{59,72}</string>
			<key>textureRect</key>
			<string>{{165,185},{59,72}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>body_armor_1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,29}</string>
			<key>spriteSourceSize</key>
			<string>{26,29}</string>
			<key>textureRect</key>
			<string>{{256,56},{26,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>body_armor_2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21,22}</string>
			<key>spriteSourceSize</key>
			<string>{21,22}</string>
			<key>textureRect</key>
			<string>{{208,159},{21,22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>body_armor_3</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{34,31}</string>
			<key>spriteSourceSize</key>
			<string>{34,31}</string>
			<key>textureRect</key>
			<string>{{269,84},{34,31}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>capsule2_att_1_0011_body</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{59,72}</string>
			<key>spriteSourceSize</key>
			<string>{59,72}</string>
			<key>textureRect</key>
			<string>{{208,85},{59,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eye_1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{34,29}</string>
			<key>spriteSourceSize</key>
			<string>{34,29}</string>
			<key>textureRect</key>
			<string>{{269,120},{34,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>eye_2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{37,25}</string>
			<key>spriteSourceSize</key>
			<string>{37,25}</string>
			<key>textureRect</key>
			<string>{{277,204},{37,25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>head</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{130,133}</string>
			<key>spriteSourceSize</key>
			<string>{130,133}</string>
			<key>textureRect</key>
			<string>{{1,1},{130,133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>leg_l1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{53,43}</string>
			<key>spriteSourceSize</key>
			<string>{53,43}</string>
			<key>textureRect</key>
			<string>{{256,1},{53,43}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>leg_r1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{39,30}</string>
			<key>spriteSourceSize</key>
			<string>{39,30}</string>
			<key>textureRect</key>
			<string>{{133,94},{39,30}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>shield_l1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,91}</string>
			<key>spriteSourceSize</key>
			<string>{64,91}</string>
			<key>textureRect</key>
			<string>{{133,1},{64,91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shield_l2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{55,82}</string>
			<key>spriteSourceSize</key>
			<string>{55,82}</string>
			<key>textureRect</key>
			<string>{{199,1},{55,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shield_r1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{41,89}</string>
			<key>spriteSourceSize</key>
			<string>{41,89}</string>
			<key>textureRect</key>
			<string>{{165,94},{41,89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>tail</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{97,75}</string>
			<key>spriteSourceSize</key>
			<string>{97,75}</string>
			<key>textureRect</key>
			<string>{{88,136},{97,75}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>wing</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{85,101}</string>
			<key>spriteSourceSize</key>
			<string>{85,101}</string>
			<key>textureRect</key>
			<string>{{1,136},{85,101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>capsule2_att.pvr.ccz</string>
		<key>size</key>
		<string>{303,248}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:8c411905083e67509c1754b64308c303:51d3306108e63e50963e9991a1d86595:162f834d68a0b873f623aca8440982c4$</string>
		<key>textureFileName</key>
		<string>capsule2_att.pvr.ccz</string>
	</dict>
</dict>
</plist>
