<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-112.5,102}</string>
			<key>spriteSize</key>
			<string>{3,3}</string>
			<key>spriteSourceSize</key>
			<string>{228,207}</string>
			<key>textureRect</key>
			<string>{{502,137},{3,3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,99}</string>
			<key>spriteSize</key>
			<string>{8,9}</string>
			<key>spriteSourceSize</key>
			<string>{228,207}</string>
			<key>textureRect</key>
			<string>{{502,127},{8,9}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,92}</string>
			<key>spriteSize</key>
			<string>{10,23}</string>
			<key>spriteSourceSize</key>
			<string>{228,207}</string>
			<key>textureRect</key>
			<string>{{461,143},{10,23}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,84}</string>
			<key>spriteSize</key>
			<string>{14,39}</string>
			<key>spriteSourceSize</key>
			<string>{228,207}</string>
			<key>textureRect</key>
			<string>{{461,127},{14,39}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,56}</string>
			<key>spriteSize</key>
			<string>{50,95}</string>
			<key>spriteSourceSize</key>
			<string>{228,207}</string>
			<key>textureRect</key>
			<string>{{461,1},{50,95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,31}</string>
			<key>spriteSize</key>
			<string>{84,145}</string>
			<key>spriteSourceSize</key>
			<string>{228,207}</string>
			<key>textureRect</key>
			<string>{{347,1224},{84,145}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{13,17}</string>
			<key>spriteSize</key>
			<string>{100,173}</string>
			<key>spriteSourceSize</key>
			<string>{228,207}</string>
			<key>textureRect</key>
			<string>{{398,902},{100,173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,-1}</string>
			<key>spriteSize</key>
			<string>{120,191}</string>
			<key>spriteSourceSize</key>
			<string>{228,207}</string>
			<key>textureRect</key>
			<string>{{205,902},{120,191}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-10}</string>
			<key>spriteSize</key>
			<string>{138,173}</string>
			<key>spriteSourceSize</key>
			<string>{228,207}</string>
			<key>textureRect</key>
			<string>{{1,1081},{138,173}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-11}</string>
			<key>spriteSize</key>
			<string>{138,169}</string>
			<key>spriteSourceSize</key>
			<string>{228,207}</string>
			<key>textureRect</key>
			<string>{{176,1193},{138,169}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-13}</string>
			<key>spriteSize</key>
			<string>{138,165}</string>
			<key>spriteSourceSize</key>
			<string>{228,207}</string>
			<key>textureRect</key>
			<string>{{1,1221},{138,165}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,-13}</string>
			<key>spriteSize</key>
			<string>{186,167}</string>
			<key>spriteSourceSize</key>
			<string>{228,207}</string>
			<key>textureRect</key>
			<string>{{189,1024},{186,167}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,-16}</string>
			<key>spriteSize</key>
			<string>{186,175}</string>
			<key>spriteSourceSize</key>
			<string>{228,207}</string>
			<key>textureRect</key>
			<string>{{1,904},{186,175}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-13,-15}</string>
			<key>spriteSize</key>
			<string>{202,177}</string>
			<key>spriteSourceSize</key>
			<string>{228,207}</string>
			<key>textureRect</key>
			<string>{{1,725},{202,177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-7,-14}</string>
			<key>spriteSize</key>
			<string>{214,179}</string>
			<key>spriteSourceSize</key>
			<string>{228,207}</string>
			<key>textureRect</key>
			<string>{{225,721},{214,179}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>15</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-14}</string>
			<key>spriteSize</key>
			<string>{222,179}</string>
			<key>spriteSourceSize</key>
			<string>{228,207}</string>
			<key>textureRect</key>
			<string>{{1,544},{222,179}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>16</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-14}</string>
			<key>spriteSize</key>
			<string>{228,179}</string>
			<key>spriteSourceSize</key>
			<string>{228,207}</string>
			<key>textureRect</key>
			<string>{{1,1},{228,179}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>17</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-14}</string>
			<key>spriteSize</key>
			<string>{228,179}</string>
			<key>spriteSourceSize</key>
			<string>{228,207}</string>
			<key>textureRect</key>
			<string>{{231,1},{228,179}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>18</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-14}</string>
			<key>spriteSize</key>
			<string>{228,179}</string>
			<key>spriteSourceSize</key>
			<string>{228,207}</string>
			<key>textureRect</key>
			<string>{{1,182},{228,179}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>19</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-14}</string>
			<key>spriteSize</key>
			<string>{228,179}</string>
			<key>spriteSourceSize</key>
			<string>{228,207}</string>
			<key>textureRect</key>
			<string>{{231,182},{228,179}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>20</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-14}</string>
			<key>spriteSize</key>
			<string>{228,179}</string>
			<key>spriteSourceSize</key>
			<string>{228,207}</string>
			<key>textureRect</key>
			<string>{{1,363},{228,179}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>21</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-14}</string>
			<key>spriteSize</key>
			<string>{224,179}</string>
			<key>spriteSourceSize</key>
			<string>{228,207}</string>
			<key>textureRect</key>
			<string>{{231,363},{224,179}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>22</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-14}</string>
			<key>spriteSize</key>
			<string>{224,179}</string>
			<key>spriteSourceSize</key>
			<string>{228,207}</string>
			<key>textureRect</key>
			<string>{{231,363},{224,179}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>23</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,-16}</string>
			<key>spriteSize</key>
			<string>{220,175}</string>
			<key>spriteSourceSize</key>
			<string>{228,207}</string>
			<key>textureRect</key>
			<string>{{225,544},{220,175}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>24</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{63,-30}</string>
			<key>spriteSize</key>
			<string>{92,145}</string>
			<key>spriteSourceSize</key>
			<string>{228,207}</string>
			<key>textureRect</key>
			<string>{{377,1077},{92,145}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>25</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{63,-30}</string>
			<key>spriteSize</key>
			<string>{92,145}</string>
			<key>spriteSourceSize</key>
			<string>{228,207}</string>
			<key>textureRect</key>
			<string>{{377,1077},{92,145}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>26</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{82,-83}</string>
			<key>spriteSize</key>
			<string>{48,27}</string>
			<key>spriteSourceSize</key>
			<string>{228,207}</string>
			<key>textureRect</key>
			<string>{{461,98},{48,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>27</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{82,-83}</string>
			<key>spriteSize</key>
			<string>{48,27}</string>
			<key>spriteSourceSize</key>
			<string>{228,207}</string>
			<key>textureRect</key>
			<string>{{461,98},{48,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action30.pvr.ccz</string>
		<key>size</key>
		<string>{512,1360}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:9b7d59746b627b681c517c8b23d540ff:9f3ed4a7e00117cdb3eacee93b423d37:e44ba353004d0fd8b165f5c6960cb7e8$</string>
		<key>textureFileName</key>
		<string>col_action30.pvr.ccz</string>
	</dict>
</dict>
</plist>
