<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3483/effect/col_action2/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{86,33}</string>
                <key>spriteSize</key>
                <string>{134,168}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{179,709},{134,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3483/effect/col_action2/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{56,-20}</string>
                <key>spriteSize</key>
                <string>{178,114}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{315,709},{178,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3483/effect/col_action2/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-9}</string>
                <key>spriteSize</key>
                <string>{228,210}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{295,267},{228,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3483/effect/col_action2/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-6}</string>
                <key>spriteSize</key>
                <string>{272,208}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1,417},{272,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3483/effect/col_action2/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-10}</string>
                <key>spriteSize</key>
                <string>{316,206}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{316,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3483/effect/col_action2/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-10}</string>
                <key>spriteSize</key>
                <string>{292,206}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1,209},{292,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3483/effect/col_action2/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-25}</string>
                <key>spriteSize</key>
                <string>{248,176}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1,627},{248,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3483/effect/col_action2/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-20}</string>
                <key>spriteSize</key>
                <string>{264,186}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{319,1},{264,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3483/effect/col_action2/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-61}</string>
                <key>spriteSize</key>
                <string>{228,104}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{275,497},{228,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3483/effect/col_action2/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,-61}</string>
                <key>spriteSize</key>
                <string>{196,104}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{275,603},{196,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action20.pvr.ccz</string>
            <key>size</key>
            <string>{506,878}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0135624da3cb764e01c2311c716623de:46d631f0d22714b939ce05eafa1c3092:98ec4b5f3da3b367b0df440471cccb39$</string>
            <key>textureFileName</key>
            <string>col_action20.pvr.ccz</string>
        </dict>
    </dict>
</plist>
