<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-3}</string>
			<key>spriteSize</key>
			<string>{135,56}</string>
			<key>spriteSourceSize</key>
			<string>{455,238}</string>
			<key>textureRect</key>
			<string>{{206,919},{135,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{203,86}</string>
			<key>spriteSourceSize</key>
			<string>{455,238}</string>
			<key>textureRect</key>
			<string>{{1,919},{203,86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{311,128}</string>
			<key>spriteSourceSize</key>
			<string>{455,238}</string>
			<key>textureRect</key>
			<string>{{380,451},{311,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{345,138}</string>
			<key>spriteSourceSize</key>
			<string>{455,238}</string>
			<key>textureRect</key>
			<string>{{388,311},{345,138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{363,146}</string>
			<key>spriteSourceSize</key>
			<string>{455,238}</string>
			<key>textureRect</key>
			<string>{{1,621},{363,146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{377,150}</string>
			<key>spriteSourceSize</key>
			<string>{455,238}</string>
			<key>textureRect</key>
			<string>{{1,315},{377,150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{385,154}</string>
			<key>spriteSourceSize</key>
			<string>{455,238}</string>
			<key>textureRect</key>
			<string>{{1,159},{385,154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{379,154}</string>
			<key>spriteSourceSize</key>
			<string>{455,238}</string>
			<key>textureRect</key>
			<string>{{388,1},{379,154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-2}</string>
			<key>spriteSize</key>
			<string>{385,156}</string>
			<key>spriteSourceSize</key>
			<string>{455,238}</string>
			<key>textureRect</key>
			<string>{{1,1},{385,156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{363,152}</string>
			<key>spriteSourceSize</key>
			<string>{455,238}</string>
			<key>textureRect</key>
			<string>{{1,467},{363,152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-3}</string>
			<key>spriteSize</key>
			<string>{365,152}</string>
			<key>spriteSourceSize</key>
			<string>{455,238}</string>
			<key>textureRect</key>
			<string>{{388,157},{365,152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{347,148}</string>
			<key>spriteSourceSize</key>
			<string>{455,238}</string>
			<key>textureRect</key>
			<string>{{1,769},{347,148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{303,144}</string>
			<key>spriteSourceSize</key>
			<string>{455,238}</string>
			<key>textureRect</key>
			<string>{{366,581},{303,144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{275,134}</string>
			<key>spriteSourceSize</key>
			<string>{455,238}</string>
			<key>textureRect</key>
			<string>{{366,727},{275,134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{263,138}</string>
			<key>spriteSourceSize</key>
			<string>{455,238}</string>
			<key>textureRect</key>
			<string>{{693,495},{263,138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>15</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-1}</string>
			<key>spriteSize</key>
			<string>{159,142}</string>
			<key>spriteSourceSize</key>
			<string>{455,238}</string>
			<key>textureRect</key>
			<string>{{848,635},{159,142}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>16</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,-1}</string>
			<key>spriteSize</key>
			<string>{161,146}</string>
			<key>spriteSourceSize</key>
			<string>{455,238}</string>
			<key>textureRect</key>
			<string>{{517,863},{161,146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>17</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,0}</string>
			<key>spriteSize</key>
			<string>{165,150}</string>
			<key>spriteSourceSize</key>
			<string>{455,238}</string>
			<key>textureRect</key>
			<string>{{350,863},{165,150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>18</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,0}</string>
			<key>spriteSize</key>
			<string>{167,152}</string>
			<key>spriteSourceSize</key>
			<string>{455,238}</string>
			<key>textureRect</key>
			<string>{{838,797},{167,152}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>19</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,0}</string>
			<key>spriteSize</key>
			<string>{171,156}</string>
			<key>spriteSourceSize</key>
			<string>{455,238}</string>
			<key>textureRect</key>
			<string>{{680,797},{171,156}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>20</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,1}</string>
			<key>spriteSize</key>
			<string>{175,160}</string>
			<key>spriteSourceSize</key>
			<string>{455,238}</string>
			<key>textureRect</key>
			<string>{{671,635},{175,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>21</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,1}</string>
			<key>spriteSize</key>
			<string>{177,164}</string>
			<key>spriteSourceSize</key>
			<string>{455,238}</string>
			<key>textureRect</key>
			<string>{{735,329},{177,164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>22</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,0}</string>
			<key>spriteSize</key>
			<string>{181,164}</string>
			<key>spriteSourceSize</key>
			<string>{455,238}</string>
			<key>textureRect</key>
			<string>{{755,163},{181,164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>23</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,-3}</string>
			<key>spriteSize</key>
			<string>{183,160}</string>
			<key>spriteSourceSize</key>
			<string>{455,238}</string>
			<key>textureRect</key>
			<string>{{769,1},{183,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action10.pvr.ccz</string>
		<key>size</key>
		<string>{991,1014}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:a91cb897867277cef546037b0242e253:36efa8719cb980f1ce49f3aa3f2a3dab:fd6dfe3ee94267230ed6425290acf6b5$</string>
		<key>textureFileName</key>
		<string>col_action10.pvr.ccz</string>
	</dict>
</dict>
</plist>
