<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{57,62}</string>
			<key>spriteSourceSize</key>
			<string>{57,62}</string>
			<key>textureRect</key>
			<string>{{356,1},{57,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,69}</string>
			<key>spriteSourceSize</key>
			<string>{64,69}</string>
			<key>textureRect</key>
			<string>{{290,1},{64,69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>3</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{68,69}</string>
			<key>spriteSourceSize</key>
			<string>{68,69}</string>
			<key>textureRect</key>
			<string>{{220,1},{68,69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>4</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,69}</string>
			<key>spriteSourceSize</key>
			<string>{71,69}</string>
			<key>textureRect</key>
			<string>{{1,1},{71,69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>7</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,69}</string>
			<key>spriteSourceSize</key>
			<string>{71,69}</string>
			<key>textureRect</key>
			<string>{{74,1},{71,69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>8</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,69}</string>
			<key>spriteSourceSize</key>
			<string>{71,69}</string>
			<key>textureRect</key>
			<string>{{147,1},{71,69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>profile.pvr.ccz</string>
		<key>size</key>
		<string>{414,71}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:363aed0b93d905bcf212e7f33b69a92f:8fbf3da9a842b13a98aeccea45bbb6ac:03c072fd1c1f67b4883b34fedb7a3213$</string>
		<key>textureFileName</key>
		<string>profile.pvr.ccz</string>
	</dict>
</dict>
</plist>
