<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/worldmap/user_lv_up/bt_trabox</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,39}</string>
                <key>spriteSourceSize</key>
                <string>{147,39}</string>
                <key>textureRect</key>
                <string>{{42,338},{147,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/worldmap/user_lv_up/frame_levelup_titlebg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{397,94}</string>
                <key>spriteSourceSize</key>
                <string>{397,94}</string>
                <key>textureRect</key>
                <string>{{83,338},{397,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/worldmap/user_lv_up/frame_levelupbg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{386,46}</string>
                <key>spriteSourceSize</key>
                <string>{386,46}</string>
                <key>textureRect</key>
                <string>{{83,434},{386,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/worldmap/user_lv_up/frame_treboxbg1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,335}</string>
                <key>spriteSourceSize</key>
                <string>{490,335}</string>
                <key>textureRect</key>
                <string>{{1,1},{490,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/worldmap/user_lv_up/txt_trabox</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,22}</string>
                <key>spriteSourceSize</key>
                <string>{38,22}</string>
                <key>textureRect</key>
                <string>{{42,487},{38,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/worldmap/user_lv_up/txt_trabox_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,20}</string>
                <key>spriteSourceSize</key>
                <string>{35,20}</string>
                <key>textureRect</key>
                <string>{{82,487},{35,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/worldmap/user_lv_up/txt_userlevelup</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,36}</string>
                <key>spriteSourceSize</key>
                <string>{125,36}</string>
                <key>textureRect</key>
                <string>{{119,482},{125,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/worldmap/user_lv_up/txt_userlevelup_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,39}</string>
                <key>spriteSourceSize</key>
                <string>{159,39}</string>
                <key>textureRect</key>
                <string>{{1,338},{159,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>user_lv_up.pvr.ccz</string>
            <key>size</key>
            <string>{492,519}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:374f9d1962ac366c339e2c62ea418941:4a95010cf3af1a9cb224749e5a35051c:535fca7b2af4272a2bebf54fe43cae58$</string>
            <key>textureFileName</key>
            <string>user_lv_up.pvr.ccz</string>
        </dict>
    </dict>
</plist>
