<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/spirit/6/profile/1</key>
            <dict>
                <key>frame</key>
                <string>{{108,281},{91,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,81}}</string>
                <key>sourceSize</key>
                <string>{91,81}</string>
            </dict>
            <key>scene/spirit/6/profile/2</key>
            <dict>
                <key>frame</key>
                <string>{{101,372},{91,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,85}}</string>
                <key>sourceSize</key>
                <string>{91,85}</string>
            </dict>
            <key>scene/spirit/6/profile/3</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{101,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,97}}</string>
                <key>sourceSize</key>
                <string>{101,97}</string>
            </dict>
            <key>scene/spirit/6/profile/4</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{104,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,99}}</string>
                <key>sourceSize</key>
                <string>{104,99}</string>
            </dict>
            <key>scene/spirit/6/profile/5-1</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,81}}</string>
                <key>sourceSize</key>
                <string>{110,81}</string>
            </dict>
            <key>scene/spirit/6/profile/5-2</key>
            <dict>
                <key>frame</key>
                <string>{{110,197},{105,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,82}}</string>
                <key>sourceSize</key>
                <string>{105,82}</string>
            </dict>
            <key>scene/spirit/6/profile/5-3</key>
            <dict>
                <key>frame</key>
                <string>{{111,101},{107,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,94}}</string>
                <key>sourceSize</key>
                <string>{107,94}</string>
            </dict>
            <key>scene/spirit/6/profile/6-1</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{109,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,97}}</string>
                <key>sourceSize</key>
                <string>{109,97}</string>
            </dict>
            <key>scene/spirit/6/profile/6-2</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{106,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,80}}</string>
                <key>sourceSize</key>
                <string>{106,80}</string>
            </dict>
            <key>scene/spirit/6/profile/6-3</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{107,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,102}}</string>
                <key>sourceSize</key>
                <string>{107,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>profile.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:510fd5091293af5c501ca7ff0aba4bae:818acccc0edf5f0a467e4fe62cb0f604:03c072fd1c1f67b4883b34fedb7a3213$</string>
            <key>textureFileName</key>
            <string>profile.pvr.ccz</string>
        </dict>
    </dict>
</plist>
