<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/guild/guild_cave/dragonlist/all_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,40}</string>
                <key>spriteSourceSize</key>
                <string>{36,40}</string>
                <key>textureRect</key>
                <string>{{497,405},{36,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/dragonlist/box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{759,394}</string>
                <key>spriteSourceSize</key>
                <string>{759,394}</string>
                <key>textureRect</key>
                <string>{{1,1},{759,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/dragonlist/box_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,56}</string>
                <key>spriteSourceSize</key>
                <string>{382,56}</string>
                <key>textureRect</key>
                <string>{{762,1},{382,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/dragonlist/choice</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{1,397},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/dragonlist/class_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,57}</string>
                <key>spriteSourceSize</key>
                <string>{120,57}</string>
                <key>textureRect</key>
                <string>{{375,405},{120,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/dragonlist/countbox</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,57}</string>
                <key>spriteSourceSize</key>
                <string>{218,57}</string>
                <key>textureRect</key>
                <string>{{155,405},{218,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/dragonlist/lv_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,17}</string>
                <key>spriteSourceSize</key>
                <string>{48,17}</string>
                <key>textureRect</key>
                <string>{{190,464},{48,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/dragonlist/plus_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{497,447},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/dragonlist/star_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{170,464},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/dragonlist/star_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,18}</string>
                <key>spriteSourceSize</key>
                <string>{33,18}</string>
                <key>textureRect</key>
                <string>{{135,470},{33,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/dragonlist/star_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,18}</string>
                <key>spriteSourceSize</key>
                <string>{48,18}</string>
                <key>textureRect</key>
                <string>{{762,385},{48,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/dragonlist/star_4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,18}</string>
                <key>spriteSourceSize</key>
                <string>{63,18}</string>
                <key>textureRect</key>
                <string>{{135,405},{63,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/dragonlist/star_5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,18}</string>
                <key>spriteSourceSize</key>
                <string>{78,18}</string>
                <key>textureRect</key>
                <string>{{95,405},{78,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/dragonlist/star_6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,18}</string>
                <key>spriteSourceSize</key>
                <string>{73,18}</string>
                <key>textureRect</key>
                <string>{{115,405},{73,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>dragonlist.pvr.ccz</string>
            <key>size</key>
            <string>{819,490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8228e9ffceadbd0550fdf8f578f67dc:fbf689fb3af7f64dcf16451eb284a68a:7c003390ecf6853221860680ecad4bc5$</string>
            <key>textureFileName</key>
            <string>dragonlist.pvr.ccz</string>
        </dict>
    </dict>
</plist>
