<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/guild/guild_cave/drawmain/10select_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,50}</string>
                <key>spriteSourceSize</key>
                <string>{227,50}</string>
                <key>textureRect</key>
                <string>{{218,1217},{227,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/10select_bt_choice_effect</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,58}</string>
                <key>spriteSourceSize</key>
                <string>{235,58}</string>
                <key>textureRect</key>
                <string>{{158,1217},{235,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/5star_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,50}</string>
                <key>spriteSourceSize</key>
                <string>{227,50}</string>
                <key>textureRect</key>
                <string>{{270,1262},{227,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/5star_ticket</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,48}</string>
                <key>spriteSourceSize</key>
                <string>{109,48}</string>
                <key>textureRect</key>
                <string>{{426,1275},{109,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/6star_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,50}</string>
                <key>spriteSourceSize</key>
                <string>{227,50}</string>
                <key>textureRect</key>
                <string>{{306,928},{227,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/6star_ticket</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,48}</string>
                <key>spriteSourceSize</key>
                <string>{109,48}</string>
                <key>textureRect</key>
                <string>{{322,1386},{109,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,480}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/card_choice</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,55}</string>
                <key>spriteSourceSize</key>
                <string>{116,55}</string>
                <key>textureRect</key>
                <string>{{426,1157},{116,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/center_5str</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,48}</string>
                <key>spriteSourceSize</key>
                <string>{62,48}</string>
                <key>textureRect</key>
                <string>{{158,1454},{62,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/center_6str</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,48}</string>
                <key>spriteSourceSize</key>
                <string>{62,48}</string>
                <key>textureRect</key>
                <string>{{208,1454},{62,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/center_star_number_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,40}</string>
                <key>spriteSourceSize</key>
                <string>{113,40}</string>
                <key>textureRect</key>
                <string>{{158,1518},{113,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/draw_txt_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,34}</string>
                <key>spriteSourceSize</key>
                <string>{202,34}</string>
                <key>textureRect</key>
                <string>{{272,859},{202,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/egg_icon_normal</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,204}</string>
                <key>spriteSourceSize</key>
                <string>{267,204}</string>
                <key>textureRect</key>
                <string>{{1,1011},{267,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/egg_icon_premium</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,206}</string>
                <key>spriteSourceSize</key>
                <string>{269,206}</string>
                <key>textureRect</key>
                <string>{{1,803},{269,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/egg_icon_shadow</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,87}</string>
                <key>spriteSourceSize</key>
                <string>{309,87}</string>
                <key>textureRect</key>
                <string>{{1,1217},{309,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/normal10_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,50}</string>
                <key>spriteSourceSize</key>
                <string>{227,50}</string>
                <key>textureRect</key>
                <string>{{358,928},{227,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/normal10_ticket</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,48}</string>
                <key>spriteSourceSize</key>
                <string>{109,48}</string>
                <key>textureRect</key>
                <string>{{433,1386},{109,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/normal_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,50}</string>
                <key>spriteSourceSize</key>
                <string>{227,50}</string>
                <key>textureRect</key>
                <string>{{410,928},{227,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/normal_draw_txt_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,21}</string>
                <key>spriteSourceSize</key>
                <string>{127,21}</string>
                <key>textureRect</key>
                <string>{{1,1528},{127,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/normal_draw_txt_kr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,24}</string>
                <key>spriteSourceSize</key>
                <string>{81,24}</string>
                <key>textureRect</key>
                <string>{{272,928},{81,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/normal_ticket</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,48}</string>
                <key>spriteSourceSize</key>
                <string>{109,48}</string>
                <key>textureRect</key>
                <string>{{322,1436},{109,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/premiu_ticket</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,48}</string>
                <key>spriteSourceSize</key>
                <string>{109,48}</string>
                <key>textureRect</key>
                <string>{{322,1486},{109,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/premium10_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,50}</string>
                <key>spriteSourceSize</key>
                <string>{227,50}</string>
                <key>textureRect</key>
                <string>{{322,1157},{227,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/premium_ticket</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,50}</string>
                <key>spriteSourceSize</key>
                <string>{227,50}</string>
                <key>textureRect</key>
                <string>{{374,1157},{227,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/ruby_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,54}</string>
                <key>spriteSourceSize</key>
                <string>{209,54}</string>
                <key>textureRect</key>
                <string>{{272,803},{209,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/title_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,66}</string>
                <key>spriteSourceSize</key>
                <string>{308,68}</string>
                <key>textureRect</key>
                <string>{{90,1217},{306,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/title_txt_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,34}</string>
                <key>spriteSourceSize</key>
                <string>{249,34}</string>
                <key>textureRect</key>
                <string>{{270,1011},{249,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/title_txt_kr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,31}</string>
                <key>spriteSourceSize</key>
                <string>{188,31}</string>
                <key>textureRect</key>
                <string>{{272,895},{188,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>drawmain.pvr.ccz</string>
            <key>size</key>
            <string>{482,1559}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0029ddae8fe0b042b21233363e54ef5e:6515cadbae5985688db80339691e0bf6:4ae03a31fd01ceb74c0439015435a5c3$</string>
            <key>textureFileName</key>
            <string>drawmain.pvr.ccz</string>
        </dict>
    </dict>
</plist>
