<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/guild/guild_cave/drawmain/10select_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,50}</string>
                <key>spriteSourceSize</key>
                <string>{227,50}</string>
                <key>textureRect</key>
                <string>{{270,1528},{227,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/10select_bt_choice_effect</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,58}</string>
                <key>spriteSourceSize</key>
                <string>{235,58}</string>
                <key>textureRect</key>
                <string>{{272,1468},{235,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/5star_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,50}</string>
                <key>spriteSourceSize</key>
                <string>{227,50}</string>
                <key>textureRect</key>
                <string>{{270,1580},{227,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/5star_ticket</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,48}</string>
                <key>spriteSourceSize</key>
                <string>{109,48}</string>
                <key>textureRect</key>
                <string>{{351,860},{109,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/6star_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,50}</string>
                <key>spriteSourceSize</key>
                <string>{227,50}</string>
                <key>textureRect</key>
                <string>{{270,1632},{227,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/6star_ticket</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,48}</string>
                <key>spriteSourceSize</key>
                <string>{109,48}</string>
                <key>textureRect</key>
                <string>{{351,910},{109,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,480}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/bt_cardshop_info</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,39}</string>
                <key>spriteSourceSize</key>
                <string>{37,39}</string>
                <key>textureRect</key>
                <string>{{312,1107},{37,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/card_choice</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,55}</string>
                <key>spriteSourceSize</key>
                <string>{116,55}</string>
                <key>textureRect</key>
                <string>{{351,803},{116,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/center_5str</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,48}</string>
                <key>spriteSourceSize</key>
                <string>{62,48}</string>
                <key>textureRect</key>
                <string>{{308,1399},{62,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/center_6str</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,48}</string>
                <key>spriteSourceSize</key>
                <string>{62,48}</string>
                <key>textureRect</key>
                <string>{{447,1251},{62,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/center_star_number_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,40}</string>
                <key>spriteSourceSize</key>
                <string>{113,40}</string>
                <key>textureRect</key>
                <string>{{469,803},{113,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/draw_txt_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,34}</string>
                <key>spriteSourceSize</key>
                <string>{202,34}</string>
                <key>textureRect</key>
                <string>{{272,1264},{202,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/egg_icon_normal</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,204}</string>
                <key>spriteSourceSize</key>
                <string>{267,204}</string>
                <key>textureRect</key>
                <string>{{1,1472},{267,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/egg_icon_premium</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,206}</string>
                <key>spriteSourceSize</key>
                <string>{269,206}</string>
                <key>textureRect</key>
                <string>{{1,1264},{269,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/egg_icon_shadow</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,87}</string>
                <key>spriteSourceSize</key>
                <string>{309,87}</string>
                <key>textureRect</key>
                <string>{{1,1107},{309,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/gem_draw_title</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,31}</string>
                <key>spriteSourceSize</key>
                <string>{219,31}</string>
                <key>textureRect</key>
                <string>{{414,1210},{219,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/gem_draw_title_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,34}</string>
                <key>spriteSourceSize</key>
                <string>{316,34}</string>
                <key>textureRect</key>
                <string>{{1,1071},{316,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/gem_icon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{348,266}</string>
                <key>spriteSourceSize</key>
                <string>{354,268}</string>
                <key>textureRect</key>
                <string>{{1,803},{348,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/normal10_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,50}</string>
                <key>spriteSourceSize</key>
                <string>{227,50}</string>
                <key>textureRect</key>
                <string>{{1,1678},{227,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/normal10_gem_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,50}</string>
                <key>spriteSourceSize</key>
                <string>{227,50}</string>
                <key>textureRect</key>
                <string>{{1,1730},{227,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/normal10_gem_ticket</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,48}</string>
                <key>spriteSourceSize</key>
                <string>{109,48}</string>
                <key>textureRect</key>
                <string>{{462,918},{109,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/normal10_ticket</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,48}</string>
                <key>spriteSourceSize</key>
                <string>{109,48}</string>
                <key>textureRect</key>
                <string>{{351,960},{109,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/normal_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,50}</string>
                <key>spriteSourceSize</key>
                <string>{227,50}</string>
                <key>textureRect</key>
                <string>{{1,1782},{227,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/normal_draw_txt_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,21}</string>
                <key>spriteSourceSize</key>
                <string>{127,21}</string>
                <key>textureRect</key>
                <string>{{483,84},{127,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/normal_draw_txt_kr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,24}</string>
                <key>spriteSourceSize</key>
                <string>{81,24}</string>
                <key>textureRect</key>
                <string>{{483,1},{81,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/normal_gem_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,50}</string>
                <key>spriteSourceSize</key>
                <string>{227,50}</string>
                <key>textureRect</key>
                <string>{{1,1834},{227,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/normal_gem_ticket</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,48}</string>
                <key>spriteSourceSize</key>
                <string>{109,48}</string>
                <key>textureRect</key>
                <string>{{351,1010},{109,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/normal_ticket</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,48}</string>
                <key>spriteSourceSize</key>
                <string>{109,48}</string>
                <key>textureRect</key>
                <string>{{462,1029},{109,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/premiu10_gem_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,50}</string>
                <key>spriteSourceSize</key>
                <string>{227,50}</string>
                <key>textureRect</key>
                <string>{{263,1684},{227,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/premiu10_gem_ticket</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,48}</string>
                <key>spriteSourceSize</key>
                <string>{109,48}</string>
                <key>textureRect</key>
                <string>{{351,1060},{109,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/premiu10_ticket</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,48}</string>
                <key>spriteSourceSize</key>
                <string>{109,48}</string>
                <key>textureRect</key>
                <string>{{351,1110},{109,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/premiu_gem_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,50}</string>
                <key>spriteSourceSize</key>
                <string>{227,50}</string>
                <key>textureRect</key>
                <string>{{263,1736},{227,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/premiu_gem_ticket</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,48}</string>
                <key>spriteSourceSize</key>
                <string>{109,48}</string>
                <key>textureRect</key>
                <string>{{462,1140},{109,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/premiu_ticket</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,48}</string>
                <key>spriteSourceSize</key>
                <string>{109,48}</string>
                <key>textureRect</key>
                <string>{{348,1160},{109,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/premium10_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,50}</string>
                <key>spriteSourceSize</key>
                <string>{227,50}</string>
                <key>textureRect</key>
                <string>{{263,1788},{227,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/premium_ticket</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,50}</string>
                <key>spriteSourceSize</key>
                <string>{227,50}</string>
                <key>textureRect</key>
                <string>{{263,1840},{227,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/ruby_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,54}</string>
                <key>spriteSourceSize</key>
                <string>{209,54}</string>
                <key>textureRect</key>
                <string>{{358,1251},{209,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/title_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,66}</string>
                <key>spriteSourceSize</key>
                <string>{308,68}</string>
                <key>textureRect</key>
                <string>{{1,1196},{306,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/title_txt_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,34}</string>
                <key>spriteSourceSize</key>
                <string>{249,34}</string>
                <key>textureRect</key>
                <string>{{312,1148},{249,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/title_txt_kr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,31}</string>
                <key>spriteSourceSize</key>
                <string>{188,31}</string>
                <key>textureRect</key>
                <string>{{230,1678},{188,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/txt_cardshop7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{70,19}</string>
                <key>spriteSourceSize</key>
                <string>{94,19}</string>
                <key>textureRect</key>
                <string>{{483,213},{70,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/drawmain/txt_cardshop7_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,17}</string>
                <key>spriteSourceSize</key>
                <string>{94,19}</string>
                <key>textureRect</key>
                <string>{{483,285},{92,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>drawmain.pvr.ccz</string>
            <key>size</key>
            <string>{511,1891}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:970ab409eedd69077d5b1fc2c6ab902f:bad29e311bf8bcbf0cb5b6a077b272fe:4ae03a31fd01ceb74c0439015435a5c3$</string>
            <key>textureFileName</key>
            <string>drawmain.pvr.ccz</string>
        </dict>
    </dict>
</plist>
