<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/guild/guild_cave/gemenchantpopup/bt_select_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,40}</string>
                <key>spriteSourceSize</key>
                <string>{60,40}</string>
                <key>textureRect</key>
                <string>{{271,1},{60,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/gemenchantpopup/bt_select_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,40}</string>
                <key>spriteSourceSize</key>
                <string>{60,40}</string>
                <key>textureRect</key>
                <string>{{333,1},{60,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/gemenchantpopup/exit_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{42,48}</string>
                <key>spriteSourceSize</key>
                <string>{50,52}</string>
                <key>textureRect</key>
                <string>{{395,1},{42,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/gemenchantpopup/frame_gembg1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{744,458}</string>
                <key>spriteSourceSize</key>
                <string>{744,458}</string>
                <key>textureRect</key>
                <string>{{1,45},{744,458}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/gemenchantpopup/frame_goldbg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,32}</string>
                <key>spriteSourceSize</key>
                <string>{204,32}</string>
                <key>textureRect</key>
                <string>{{65,1},{204,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/gemenchantpopup/icon_gold</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,31}</string>
                <key>spriteSourceSize</key>
                <string>{32,31}</string>
                <key>textureRect</key>
                <string>{{31,1},{32,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/gemenchantpopup/icon_jem</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,26}</string>
                <key>spriteSourceSize</key>
                <string>{28,26}</string>
                <key>textureRect</key>
                <string>{{1,1},{28,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>gemenchantpopup.pvr.ccz</string>
            <key>size</key>
            <string>{460,790}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abd850018f1d7d372f3c8ec168cba51f:49b7ed9976bc358864e7697384e1c8ec:a2cdabf33d7b070126ae00e2f021cab4$</string>
            <key>textureFileName</key>
            <string>gemenchantpopup.pvr.ccz</string>
        </dict>
    </dict>
</plist>
