<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/guild/guild_cave/levelupfilter/box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,270}</string>
                <key>spriteSourceSize</key>
                <string>{456,270}</string>
                <key>textureRect</key>
                <string>{{1,1},{456,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/levelupfilter/bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,37}</string>
                <key>spriteSourceSize</key>
                <string>{111,37}</string>
                <key>textureRect</key>
                <string>{{1,273},{111,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/levelupfilter/bt_choice</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,37}</string>
                <key>spriteSourceSize</key>
                <string>{111,37}</string>
                <key>textureRect</key>
                <string>{{114,273},{111,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/levelupfilter/cancle_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,39}</string>
                <key>spriteSourceSize</key>
                <string>{150,39}</string>
                <key>textureRect</key>
                <string>{{459,1},{150,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/levelupfilter/ok_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,39}</string>
                <key>spriteSourceSize</key>
                <string>{150,39}</string>
                <key>textureRect</key>
                <string>{{459,153},{150,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>levelupfilter.pvr.ccz</string>
            <key>size</key>
            <string>{499,311}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7dbe77186038b909e27118cfb8d431a0:28a810356484d869bdf0937a3bbdc227:aaae2f57af12da1d70bbabd04165b63c$</string>
            <key>textureFileName</key>
            <string>levelupfilter.pvr.ccz</string>
        </dict>
    </dict>
</plist>
