<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/guild/guild_cave/skillicon/skill_10_m</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,54}</string>
                <key>spriteSourceSize</key>
                <string>{50,54}</string>
                <key>textureRect</key>
                <string>{{1,1},{50,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/skillicon/skill_10_s</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,40}</string>
                <key>spriteSourceSize</key>
                <string>{49,40}</string>
                <key>textureRect</key>
                <string>{{1,561},{49,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/skillicon/skill_1_m</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,54}</string>
                <key>spriteSourceSize</key>
                <string>{50,54}</string>
                <key>textureRect</key>
                <string>{{1,57},{50,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/skillicon/skill_1_s</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,34}</string>
                <key>spriteSourceSize</key>
                <string>{49,40}</string>
                <key>textureRect</key>
                <string>{{1,916},{35,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/skillicon/skill_2_m</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,54}</string>
                <key>spriteSourceSize</key>
                <string>{50,54}</string>
                <key>textureRect</key>
                <string>{{1,113},{50,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/skillicon/skill_2_s</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,40}</string>
                <key>spriteSourceSize</key>
                <string>{49,40}</string>
                <key>textureRect</key>
                <string>{{1,603},{49,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/skillicon/skill_3_m</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,54}</string>
                <key>spriteSourceSize</key>
                <string>{50,54}</string>
                <key>textureRect</key>
                <string>{{1,169},{50,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/skillicon/skill_3_s</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,40}</string>
                <key>spriteSourceSize</key>
                <string>{38,40}</string>
                <key>textureRect</key>
                <string>{{1,765},{38,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/skillicon/skill_4_m</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,54}</string>
                <key>spriteSourceSize</key>
                <string>{50,54}</string>
                <key>textureRect</key>
                <string>{{1,225},{50,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/skillicon/skill_4_s</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,40}</string>
                <key>spriteSourceSize</key>
                <string>{49,40}</string>
                <key>textureRect</key>
                <string>{{1,645},{47,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/skillicon/skill_5_m</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,54}</string>
                <key>spriteSourceSize</key>
                <string>{50,54}</string>
                <key>textureRect</key>
                <string>{{1,281},{50,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/skillicon/skill_5_s</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{45,36}</string>
                <key>spriteSourceSize</key>
                <string>{49,40}</string>
                <key>textureRect</key>
                <string>{{1,687},{45,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/skillicon/skill_6_m</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,54}</string>
                <key>spriteSourceSize</key>
                <string>{50,54}</string>
                <key>textureRect</key>
                <string>{{1,337},{50,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/skillicon/skill_6_s</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{39,36}</string>
                <key>spriteSourceSize</key>
                <string>{49,40}</string>
                <key>textureRect</key>
                <string>{{1,805},{39,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/skillicon/skill_7_m</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,54}</string>
                <key>spriteSourceSize</key>
                <string>{50,54}</string>
                <key>textureRect</key>
                <string>{{1,393},{50,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/skillicon/skill_7_s</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{35,38}</string>
                <key>spriteSourceSize</key>
                <string>{49,40}</string>
                <key>textureRect</key>
                <string>{{1,843},{35,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/skillicon/skill_8_m</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,54}</string>
                <key>spriteSourceSize</key>
                <string>{50,54}</string>
                <key>textureRect</key>
                <string>{{1,449},{50,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/skillicon/skill_8_s</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{43,38}</string>
                <key>spriteSourceSize</key>
                <string>{49,40}</string>
                <key>textureRect</key>
                <string>{{1,725},{43,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/skillicon/skill_9_m</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,54}</string>
                <key>spriteSourceSize</key>
                <string>{50,54}</string>
                <key>textureRect</key>
                <string>{{1,505},{50,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/skillicon/skill_9_s</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,34}</string>
                <key>spriteSourceSize</key>
                <string>{49,40}</string>
                <key>textureRect</key>
                <string>{{1,880},{37,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>skillicon.pvr.ccz</string>
            <key>size</key>
            <string>{52,951}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b484e1578487a2e95aef54afb81b82b:95037b1aebaa30c629799c4c2a95542e:b78b1be4a1056d13f2cd5e7a09c46747$</string>
            <key>textureFileName</key>
            <string>skillicon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
