<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/event/cactus/scale9/line</key>
            <dict>
                <key>frame</key>
                <string>{{26,2},{4,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,11}}</string>
                <key>sourceSize</key>
                <string>{4,11}</string>
            </dict>
            <key>scene/event/cactus/scale9/line_h</key>
            <dict>
                <key>frame</key>
                <string>{{26,15},{11,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,4}}</string>
                <key>sourceSize</key>
                <string>{11,4}</string>
            </dict>
            <key>scene/event/cactus/scale9/reward_gauge</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{30,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,22}}</string>
                <key>sourceSize</key>
                <string>{30,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scale9.pvr.ccz</string>
            <key>size</key>
            <string>{32,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:760edf82afdc776b1f43342bdd676a8b:3ca60c376e3a5074c651f23e6fd901aa:6f7b3facf21f2a5d368b2d3e0aff0361$</string>
            <key>textureFileName</key>
            <string>scale9.pvr.ccz</string>
        </dict>
    </dict>
</plist>
