<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common/dragon_aura01/Front/00</key>
            <dict>
                <key>frame</key>
                <string>{{267,1881},{263,133}}</string>
                <key>offset</key>
                <string>{-8,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,74},{263,133}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/01</key>
            <dict>
                <key>frame</key>
                <string>{{2,1881},{263,165}}</string>
                <key>offset</key>
                <string>{-8,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,42},{263,165}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/02</key>
            <dict>
                <key>frame</key>
                <string>{{1121,1871},{263,169}}</string>
                <key>offset</key>
                <string>{-8,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,38},{263,169}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/03</key>
            <dict>
                <key>frame</key>
                <string>{{589,1875},{263,171}}</string>
                <key>offset</key>
                <string>{-8,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,36},{263,171}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/04</key>
            <dict>
                <key>frame</key>
                <string>{{854,1871},{265,173}}</string>
                <key>offset</key>
                <string>{-8,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,34},{265,173}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/05</key>
            <dict>
                <key>frame</key>
                <string>{{983,1335},{265,181}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,26},{265,181}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/06</key>
            <dict>
                <key>frame</key>
                <string>{{971,1604},{265,181}}</string>
                <key>offset</key>
                <string>{-7,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,26},{265,181}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/07</key>
            <dict>
                <key>frame</key>
                <string>{{786,1604},{265,183}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,24},{265,183}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/08</key>
            <dict>
                <key>frame</key>
                <string>{{585,805},{267,185}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,22},{267,185}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/09</key>
            <dict>
                <key>frame</key>
                <string>{{396,1074},{267,187}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,20},{267,187}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/10</key>
            <dict>
                <key>frame</key>
                <string>{{396,805},{267,187}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,20},{267,187}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/11</key>
            <dict>
                <key>frame</key>
                <string>{{398,267},{267,189}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,18},{267,189}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/12</key>
            <dict>
                <key>frame</key>
                <string>{{396,536},{267,189}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,18},{267,189}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/13</key>
            <dict>
                <key>frame</key>
                <string>{{396,1612},{267,191}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,16},{267,191}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/14</key>
            <dict>
                <key>frame</key>
                <string>{{394,1343},{267,191}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,16},{267,191}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/15</key>
            <dict>
                <key>frame</key>
                <string>{{201,1343},{267,191}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,16},{267,191}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/16</key>
            <dict>
                <key>frame</key>
                <string>{{201,1074},{267,193}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{267,193}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/17</key>
            <dict>
                <key>frame</key>
                <string>{{201,805},{267,193}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{267,193}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/18</key>
            <dict>
                <key>frame</key>
                <string>{{201,536},{267,193}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{267,193}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/19</key>
            <dict>
                <key>frame</key>
                <string>{{201,267},{267,195}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{267,195}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/20</key>
            <dict>
                <key>frame</key>
                <string>{{786,1337},{265,195}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{265,195}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/21</key>
            <dict>
                <key>frame</key>
                <string>{{589,1608},{265,195}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{265,195}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/22</key>
            <dict>
                <key>frame</key>
                <string>{{987,267},{265,195}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{265,195}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/23</key>
            <dict>
                <key>frame</key>
                <string>{{587,1341},{265,197}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{265,197}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/24</key>
            <dict>
                <key>frame</key>
                <string>{{788,267},{265,197}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{265,197}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/25</key>
            <dict>
                <key>frame</key>
                <string>{{786,534},{265,197}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{265,197}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/26</key>
            <dict>
                <key>frame</key>
                <string>{{772,803},{265,197}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{265,197}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/27</key>
            <dict>
                <key>frame</key>
                <string>{{585,1074},{265,197}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{265,197}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/28</key>
            <dict>
                <key>frame</key>
                <string>{{589,267},{265,197}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{265,197}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/29</key>
            <dict>
                <key>frame</key>
                <string>{{587,536},{265,197}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{265,197}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/30</key>
            <dict>
                <key>frame</key>
                <string>{{2,1343},{267,197}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{267,197}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/31</key>
            <dict>
                <key>frame</key>
                <string>{{2,1074},{267,197}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{267,197}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/32</key>
            <dict>
                <key>frame</key>
                <string>{{2,805},{267,197}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{267,197}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/33</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{267,197}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{267,197}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/34</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{267,197}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{267,197}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/35</key>
            <dict>
                <key>frame</key>
                <string>{{1618,2},{267,197}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{267,197}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/36</key>
            <dict>
                <key>frame</key>
                <string>{{1349,2},{267,197}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{267,197}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/37</key>
            <dict>
                <key>frame</key>
                <string>{{1080,2},{267,197}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{267,197}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/38</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{269,197}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{269,197}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/39</key>
            <dict>
                <key>frame</key>
                <string>{{811,2},{267,197}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{267,197}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/40</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{267,197}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{267,197}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/41</key>
            <dict>
                <key>frame</key>
                <string>{{273,2},{267,197}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{267,197}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/42</key>
            <dict>
                <key>frame</key>
                <string>{{199,1612},{267,195}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{267,195}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/43</key>
            <dict>
                <key>frame</key>
                <string>{{2,1612},{267,195}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{267,195}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/44</key>
            <dict>
                <key>frame</key>
                <string>{{985,534},{265,195}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{265,195}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/45</key>
            <dict>
                <key>frame</key>
                <string>{{971,801},{265,195}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{265,195}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/46</key>
            <dict>
                <key>frame</key>
                <string>{{784,1070},{265,195}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{265,195}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/47</key>
            <dict>
                <key>frame</key>
                <string>{{1182,534},{265,193}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,14},{265,193}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/48</key>
            <dict>
                <key>frame</key>
                <string>{{1168,801},{265,193}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,14},{265,193}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/49</key>
            <dict>
                <key>frame</key>
                <string>{{981,1068},{265,193}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,14},{265,193}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/50</key>
            <dict>
                <key>frame</key>
                <string>{{1184,267},{265,189}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,18},{265,189}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/51</key>
            <dict>
                <key>frame</key>
                <string>{{1375,267},{265,187}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,20},{265,187}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/52</key>
            <dict>
                <key>frame</key>
                <string>{{1154,1602},{263,187}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,20},{263,187}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/53</key>
            <dict>
                <key>frame</key>
                <string>{{1166,1335},{263,185}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,22},{263,185}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/54</key>
            <dict>
                <key>frame</key>
                <string>{{1176,1068},{263,183}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,24},{263,183}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/55</key>
            <dict>
                <key>frame</key>
                <string>{{1343,1600},{263,181}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,26},{263,181}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
            <key>common/dragon_aura01/Front/56</key>
            <dict>
                <key>frame</key>
                <string>{{1887,2},{263,135}}</string>
                <key>offset</key>
                <string>{-8,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,72},{263,135}}</string>
                <key>sourceSize</key>
                <string>{291,207}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Front.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b323a557da3c2cd94ed8083c137789cf:235fa4e4926c551789a2bbb05e126eee:c740bc2a46baef785aedb8cd137c62f7$</string>
            <key>textureFileName</key>
            <string>Front.pvr.ccz</string>
        </dict>
    </dict>
</plist>
