<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-146.5,82}</string>
			<key>spriteSize</key>
			<string>{3,3}</string>
			<key>spriteSourceSize</key>
			<string>{296,167}</string>
			<key>textureRect</key>
			<string>{{335,291},{3,3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,-6}</string>
			<key>spriteSize</key>
			<string>{288,33}</string>
			<key>spriteSourceSize</key>
			<string>{296,167}</string>
			<key>textureRect</key>
			<string>{{316,1},{288,33}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-7}</string>
			<key>spriteSize</key>
			<string>{292,39}</string>
			<key>spriteSourceSize</key>
			<string>{296,167}</string>
			<key>textureRect</key>
			<string>{{234,1},{292,39}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-7}</string>
			<key>spriteSize</key>
			<string>{292,43}</string>
			<key>spriteSourceSize</key>
			<string>{296,167}</string>
			<key>textureRect</key>
			<string>{{144,1},{292,43}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-7}</string>
			<key>spriteSize</key>
			<string>{294,45}</string>
			<key>spriteSourceSize</key>
			<string>{296,167}</string>
			<key>textureRect</key>
			<string>{{50,1},{294,45}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,-6}</string>
			<key>spriteSize</key>
			<string>{288,33}</string>
			<key>spriteSourceSize</key>
			<string>{296,167}</string>
			<key>textureRect</key>
			<string>{{351,1},{288,33}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-6}</string>
			<key>spriteSize</key>
			<string>{290,39}</string>
			<key>spriteSourceSize</key>
			<string>{296,167}</string>
			<key>textureRect</key>
			<string>{{275,1},{290,39}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-7}</string>
			<key>spriteSize</key>
			<string>{292,43}</string>
			<key>spriteSourceSize</key>
			<string>{296,167}</string>
			<key>textureRect</key>
			<string>{{189,1},{292,43}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-7}</string>
			<key>spriteSize</key>
			<string>{294,45}</string>
			<key>spriteSourceSize</key>
			<string>{296,167}</string>
			<key>textureRect</key>
			<string>{{97,1},{294,45}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-7}</string>
			<key>spriteSize</key>
			<string>{294,47}</string>
			<key>spriteSourceSize</key>
			<string>{296,167}</string>
			<key>textureRect</key>
			<string>{{1,1},{294,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,-6}</string>
			<key>spriteSize</key>
			<string>{288,33}</string>
			<key>spriteSourceSize</key>
			<string>{296,167}</string>
			<key>textureRect</key>
			<string>{{386,1},{288,33}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-7}</string>
			<key>spriteSize</key>
			<string>{290,37}</string>
			<key>spriteSourceSize</key>
			<string>{296,167}</string>
			<key>textureRect</key>
			<string>{{1,297},{290,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{123,-7}</string>
			<key>spriteSize</key>
			<string>{40,41}</string>
			<key>spriteSourceSize</key>
			<string>{296,167}</string>
			<key>textureRect</key>
			<string>{{293,293},{40,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-146.5,82}</string>
			<key>spriteSize</key>
			<string>{3,3}</string>
			<key>spriteSourceSize</key>
			<string>{296,167}</string>
			<key>textureRect</key>
			<string>{{335,291},{3,3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action10.pvr.ccz</string>
		<key>size</key>
		<string>{420,335}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:1bea496d4fc6318c947588bf236ea574:90d17c62ba5135276b8bf8b22bf61800:fd6dfe3ee94267230ed6425290acf6b5$</string>
		<key>textureFileName</key>
		<string>col_action10.pvr.ccz</string>
	</dict>
</dict>
</plist>
