<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/event/anniversary2021/attend/frame_check-in</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{485,296}</string>
                <key>spriteSourceSize</key>
                <string>{487,298}</string>
                <key>textureRect</key>
                <string>{{1,1},{485,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/attend/frame_success</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,141}</string>
                <key>spriteSourceSize</key>
                <string>{95,141}</string>
                <key>textureRect</key>
                <string>{{1,299},{95,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>attend.pvr.ccz</string>
            <key>size</key>
            <string>{487,395}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8070a6812fbc3be3f3da57a111d6b4bf:d0ef26c90ffa09d0f00aa7b5575e95b1:7ddef6e270557dc706c7042cb9dfc27a$</string>
            <key>textureFileName</key>
            <string>attend.pvr.ccz</string>
        </dict>
    </dict>
</plist>
