<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/event/anniversary2021/dragon_cup/bt_all</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{317,213},{40,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/bt_arrow1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,21}</string>
                <key>spriteSourceSize</key>
                <string>{15,21}</string>
                <key>textureRect</key>
                <string>{{486,259},{15,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/bt_arrow2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,21}</string>
                <key>spriteSourceSize</key>
                <string>{15,21}</string>
                <key>textureRect</key>
                <string>{{486,276},{15,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/bt_atk</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,33}</string>
                <key>spriteSourceSize</key>
                <string>{39,33}</string>
                <key>textureRect</key>
                <string>{{363,259},{39,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/bt_dark</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{317,255},{40,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/bt_dawn</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{451,904},{40,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/bt_def</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,33}</string>
                <key>spriteSourceSize</key>
                <string>{39,33}</string>
                <key>textureRect</key>
                <string>{{404,259},{39,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/bt_dusk</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{1,1177},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/bt_earth</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{43,1177},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/bt_fire</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{85,1177},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/bt_hp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,33}</string>
                <key>spriteSourceSize</key>
                <string>{39,33}</string>
                <key>textureRect</key>
                <string>{{445,259},{39,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/bt_light</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{193,1145},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/bt_nightmare</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{235,1145},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/bt_percent</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,33}</string>
                <key>spriteSourceSize</key>
                <string>{39,33}</string>
                <key>textureRect</key>
                <string>{{265,945},{39,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/bt_pluse</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,33}</string>
                <key>spriteSourceSize</key>
                <string>{39,33}</string>
                <key>textureRect</key>
                <string>{{471,946},{39,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/bt_save_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,40}</string>
                <key>spriteSourceSize</key>
                <string>{120,40}</string>
                <key>textureRect</key>
                <string>{{243,1020},{120,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/bt_save_off_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,40}</string>
                <key>spriteSourceSize</key>
                <string>{120,40}</string>
                <key>textureRect</key>
                <string>{{303,945},{120,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/bt_save_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,40}</string>
                <key>spriteSourceSize</key>
                <string>{120,40}</string>
                <key>textureRect</key>
                <string>{{285,987},{120,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/bt_save_on_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,40}</string>
                <key>spriteSourceSize</key>
                <string>{120,40}</string>
                <key>textureRect</key>
                <string>{{327,987},{120,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/bt_start</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,37}</string>
                <key>spriteSourceSize</key>
                <string>{122,37}</string>
                <key>textureRect</key>
                <string>{{165,1021},{122,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/bt_start_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,37}</string>
                <key>spriteSourceSize</key>
                <string>{122,37}</string>
                <key>textureRect</key>
                <string>{{204,1021},{122,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/bt_type1_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,38}</string>
                <key>spriteSourceSize</key>
                <string>{44,38}</string>
                <key>textureRect</key>
                <string>{{471,981},{44,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/bt_type1_off_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,38}</string>
                <key>spriteSourceSize</key>
                <string>{44,38}</string>
                <key>textureRect</key>
                <string>{{369,987},{44,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/bt_type1_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,38}</string>
                <key>spriteSourceSize</key>
                <string>{44,38}</string>
                <key>textureRect</key>
                <string>{{415,988},{44,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/bt_type1_on_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,38}</string>
                <key>spriteSourceSize</key>
                <string>{44,38}</string>
                <key>textureRect</key>
                <string>{{369,1027},{44,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/bt_type2_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,38}</string>
                <key>spriteSourceSize</key>
                <string>{44,38}</string>
                <key>textureRect</key>
                <string>{{369,1067},{44,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/bt_type2_off_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,38}</string>
                <key>spriteSourceSize</key>
                <string>{44,38}</string>
                <key>textureRect</key>
                <string>{{461,1027},{44,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/bt_type2_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,38}</string>
                <key>spriteSourceSize</key>
                <string>{44,38}</string>
                <key>textureRect</key>
                <string>{{415,1028},{44,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/bt_type2_on_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,38}</string>
                <key>spriteSourceSize</key>
                <string>{44,38}</string>
                <key>textureRect</key>
                <string>{{461,1067},{44,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/bt_type3_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,38}</string>
                <key>spriteSourceSize</key>
                <string>{44,38}</string>
                <key>textureRect</key>
                <string>{{415,1068},{44,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/bt_type3_off_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,38}</string>
                <key>spriteSourceSize</key>
                <string>{44,38}</string>
                <key>textureRect</key>
                <string>{{461,1107},{44,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/bt_type3_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,38}</string>
                <key>spriteSourceSize</key>
                <string>{44,38}</string>
                <key>textureRect</key>
                <string>{{399,1108},{44,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/bt_type3_on_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,38}</string>
                <key>spriteSourceSize</key>
                <string>{44,38}</string>
                <key>textureRect</key>
                <string>{{445,1147},{44,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/bt_water</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{223,946},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/bt_wind</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{425,946},{40,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/frame_battletip</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,220}</string>
                <key>spriteSourceSize</key>
                <string>{138,220}</string>
                <key>textureRect</key>
                <string>{{229,805},{138,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/frame_battletip_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,220}</string>
                <key>spriteSourceSize</key>
                <string>{138,220}</string>
                <key>textureRect</key>
                <string>{{1,881},{138,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/frame_checkbg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{223,992},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/frame_complete</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{454,693},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/frame_cuppoint</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,45}</string>
                <key>spriteSourceSize</key>
                <string>{151,45}</string>
                <key>textureRect</key>
                <string>{{454,751},{151,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/frame_dragoncard</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{317,297},{130,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/frame_dragoncard_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{317,429},{130,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/frame_dragoncard_off_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{317,561},{130,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/frame_dragoncup</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,54}</string>
                <key>spriteSourceSize</key>
                <string>{223,54}</string>
                <key>textureRect</key>
                <string>{{229,693},{223,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/frame_dragoncup_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,54}</string>
                <key>spriteSourceSize</key>
                <string>{223,54}</string>
                <key>textureRect</key>
                <string>{{229,749},{223,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/frame_dragonnamebg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,30}</string>
                <key>spriteSourceSize</key>
                <string>{82,30}</string>
                <key>textureRect</key>
                <string>{{193,1191},{82,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/frame_itembg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,140}</string>
                <key>spriteSourceSize</key>
                <string>{120,140}</string>
                <key>textureRect</key>
                <string>{{363,137},{120,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/frame_settingbg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,226}</string>
                <key>spriteSourceSize</key>
                <string>{186,226}</string>
                <key>textureRect</key>
                <string>{{1,693},{186,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/frame_settingbg1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{303,1109},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/frame_settingbg2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{127,1157},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/frame_settingbg3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,24}</string>
                <key>spriteSourceSize</key>
                <string>{80,24}</string>
                <key>textureRect</key>
                <string>{{277,1142},{80,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/frame_spirit_atk</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,24}</string>
                <key>spriteSourceSize</key>
                <string>{134,24}</string>
                <key>textureRect</key>
                <string>{{87,1021},{134,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/frame_spirit_def</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,24}</string>
                <key>spriteSourceSize</key>
                <string>{134,24}</string>
                <key>textureRect</key>
                <string>{{113,1021},{134,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/frame_spirit_hp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,24}</string>
                <key>spriteSourceSize</key>
                <string>{134,24}</string>
                <key>textureRect</key>
                <string>{{139,1021},{134,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/frame_spiritbg1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,144}</string>
                <key>spriteSourceSize</key>
                <string>{134,144}</string>
                <key>textureRect</key>
                <string>{{363,1},{134,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/frame_spiritbg2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,210}</string>
                <key>spriteSourceSize</key>
                <string>{360,210}</string>
                <key>textureRect</key>
                <string>{{1,1},{360,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/frame_spiritbg3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,84}</string>
                <key>spriteSourceSize</key>
                <string>{154,84}</string>
                <key>textureRect</key>
                <string>{{1,1021},{154,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/title_dragoninfo</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,38}</string>
                <key>spriteSourceSize</key>
                <string>{314,38}</string>
                <key>textureRect</key>
                <string>{{1,213},{314,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/title_dragoninfo_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,38}</string>
                <key>spriteSourceSize</key>
                <string>{314,38}</string>
                <key>textureRect</key>
                <string>{{1,253},{314,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/title_dragonrank</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,38}</string>
                <key>spriteSourceSize</key>
                <string>{314,38}</string>
                <key>textureRect</key>
                <string>{{1,293},{314,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/title_dragonrank_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,38}</string>
                <key>spriteSourceSize</key>
                <string>{314,38}</string>
                <key>textureRect</key>
                <string>{{1,333},{314,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/title_dragonsetting</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,38}</string>
                <key>spriteSourceSize</key>
                <string>{314,38}</string>
                <key>textureRect</key>
                <string>{{1,373},{314,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/title_dragonsetting_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,38}</string>
                <key>spriteSourceSize</key>
                <string>{314,38}</string>
                <key>textureRect</key>
                <string>{{1,413},{314,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/title_finals</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,38}</string>
                <key>spriteSourceSize</key>
                <string>{314,38}</string>
                <key>textureRect</key>
                <string>{{1,453},{314,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/title_finals_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,38}</string>
                <key>spriteSourceSize</key>
                <string>{314,38}</string>
                <key>textureRect</key>
                <string>{{1,493},{314,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/title_qualification</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,38}</string>
                <key>spriteSourceSize</key>
                <string>{314,38}</string>
                <key>textureRect</key>
                <string>{{1,533},{314,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/title_qualification_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,38}</string>
                <key>spriteSourceSize</key>
                <string>{314,38}</string>
                <key>textureRect</key>
                <string>{{1,573},{314,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/title_trials</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,38}</string>
                <key>spriteSourceSize</key>
                <string>{314,38}</string>
                <key>textureRect</key>
                <string>{{1,613},{314,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/dragon_cup/title_trials_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,38}</string>
                <key>spriteSourceSize</key>
                <string>{314,38}</string>
                <key>textureRect</key>
                <string>{{1,653},{314,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>dragon_cup.pvr.ccz</string>
            <key>size</key>
            <string>{511,1223}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac7bd4e71f36b1e29db982798c313682:85c584f18c0d26808a5254a83e3b4e69:7fca480b3c4ff5d4c0f3fed23d56137c$</string>
            <key>textureFileName</key>
            <string>dragon_cup.pvr.ccz</string>
        </dict>
    </dict>
</plist>
