<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/event/anniversary2021/package/9th_package1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,128}</string>
                <key>spriteSourceSize</key>
                <string>{178,128}</string>
                <key>textureRect</key>
                <string>{{309,1},{178,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/package/9th_package1_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,128}</string>
                <key>spriteSourceSize</key>
                <string>{178,128}</string>
                <key>textureRect</key>
                <string>{{309,131},{178,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/package/9th_package2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,128}</string>
                <key>spriteSourceSize</key>
                <string>{178,128}</string>
                <key>textureRect</key>
                <string>{{309,261},{178,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/package/9th_package2_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,128}</string>
                <key>spriteSourceSize</key>
                <string>{178,128}</string>
                <key>textureRect</key>
                <string>{{309,391},{178,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/package/9th_package3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,128}</string>
                <key>spriteSourceSize</key>
                <string>{178,128}</string>
                <key>textureRect</key>
                <string>{{309,521},{178,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/package/9th_package3_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,128}</string>
                <key>spriteSourceSize</key>
                <string>{178,128}</string>
                <key>textureRect</key>
                <string>{{309,651},{178,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/package/9th_package4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,128}</string>
                <key>spriteSourceSize</key>
                <string>{178,128}</string>
                <key>textureRect</key>
                <string>{{309,781},{178,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/package/9th_package4_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,128}</string>
                <key>spriteSourceSize</key>
                <string>{178,128}</string>
                <key>textureRect</key>
                <string>{{309,911},{178,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/package/bt_shop_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,101}</string>
                <key>spriteSourceSize</key>
                <string>{28,101}</string>
                <key>textureRect</key>
                <string>{{309,1041},{28,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/package/bt_shop_off_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,101}</string>
                <key>spriteSourceSize</key>
                <string>{28,101}</string>
                <key>textureRect</key>
                <string>{{412,1041},{28,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/package/bt_shop_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,306}</string>
                <key>spriteSourceSize</key>
                <string>{600,306}</string>
                <key>textureRect</key>
                <string>{{1,1},{600,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/package/bt_shop_on_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,306}</string>
                <key>spriteSourceSize</key>
                <string>{600,306}</string>
                <key>textureRect</key>
                <string>{{1,603},{600,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>package.pvr.ccz</string>
            <key>size</key>
            <string>{488,1204}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a080718ca826a6bf668eb1f324cb5101:d14a4f36dd7dce1c3f2ac1b09a316153:c2ff68153dbba2484dcc5bf7541359be$</string>
            <key>textureFileName</key>
            <string>package.pvr.ccz</string>
        </dict>
    </dict>
</plist>
