<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/offerwallshop/battle/Dream_Gem_ Box_txt_kr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,23}</string>
                <key>spriteSourceSize</key>
                <string>{101,23}</string>
                <key>textureRect</key>
                <string>{{454,1},{101,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/battle/Dream_Gem_Box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,5}</string>
                <key>spriteSize</key>
                <string>{119,108}</string>
                <key>spriteSourceSize</key>
                <string>{137,130}</string>
                <key>textureRect</key>
                <string>{{1,1},{119,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/battle/Dream_Gem_Box_txt_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,20}</string>
                <key>spriteSourceSize</key>
                <string>{153,20}</string>
                <key>textureRect</key>
                <string>{{404,107},{153,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/offerwallshop/battle/Potion Box_txt_kr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,23}</string>
                <key>spriteSourceSize</key>
                <string>{97,23}</string>
                <key>textureRect</key>
                <string>{{739,1},{97,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/battle/Potion_Box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5}</string>
                <key>spriteSize</key>
                <string>{115,96}</string>
                <key>spriteSourceSize</key>
                <string>{137,130}</string>
                <key>textureRect</key>
                <string>{{278,1},{115,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/battle/Potion_Box_txt_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,22}</string>
                <key>spriteSourceSize</key>
                <string>{104,22}</string>
                <key>textureRect</key>
                <string>{{404,1},{104,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/battle/Rampage_ticket_icon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,95}</string>
                <key>spriteSourceSize</key>
                <string>{77,95}</string>
                <key>textureRect</key>
                <string>{{789,1},{77,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/offerwallshop/battle/Rampage_ticket_txt_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,27}</string>
                <key>spriteSourceSize</key>
                <string>{157,27}</string>
                <key>textureRect</key>
                <string>{{816,98},{157,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/offerwallshop/battle/Rampage_ticket_txt_kr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,24}</string>
                <key>spriteSourceSize</key>
                <string>{59,24}</string>
                <key>textureRect</key>
                <string>{{655,101},{59,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/offerwallshop/battle/Shining Box_txt_kr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,23}</string>
                <key>spriteSourceSize</key>
                <string>{97,23}</string>
                <key>textureRect</key>
                <string>{{764,1},{97,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/battle/Shining_Box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{127,98}</string>
                <key>spriteSourceSize</key>
                <string>{137,130}</string>
                <key>textureRect</key>
                <string>{{610,1},{127,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/offerwallshop/battle/Shining_Box_txt_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,26}</string>
                <key>spriteSourceSize</key>
                <string>{114,26}</string>
                <key>textureRect</key>
                <string>{{376,1},{114,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/battle/Ticket_icon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,81}</string>
                <key>spriteSourceSize</key>
                <string>{64,81}</string>
                <key>textureRect</key>
                <string>{{964,1},{64,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/offerwallshop/battle/Ticket_txt_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,22}</string>
                <key>spriteSourceSize</key>
                <string>{62,22}</string>
                <key>textureRect</key>
                <string>{{1000,84},{62,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/offerwallshop/battle/Ticket_txt_kr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,23}</string>
                <key>spriteSourceSize</key>
                <string>{38,23}</string>
                <key>textureRect</key>
                <string>{{975,84},{38,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/battle/dragon_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{137,118}</string>
                <key>spriteSourceSize</key>
                <string>{137,130}</string>
                <key>textureRect</key>
                <string>{{111,1},{137,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/offerwallshop/battle/dragon_box_txt_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,26}</string>
                <key>spriteSourceSize</key>
                <string>{116,26}</string>
                <key>textureRect</key>
                <string>{{250,1},{116,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/battle/dragon_box_txt_kr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,24}</string>
                <key>spriteSourceSize</key>
                <string>{102,24}</string>
                <key>textureRect</key>
                <string>{{428,1},{102,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/battle/gold_Box_icon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,71}</string>
                <key>spriteSourceSize</key>
                <string>{94,71}</string>
                <key>textureRect</key>
                <string>{{891,1},{94,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/battle/gold_Box_txt_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,21}</string>
                <key>spriteSourceSize</key>
                <string>{95,21}</string>
                <key>textureRect</key>
                <string>{{868,1},{95,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/battle/gold_Box_txt_kr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,23}</string>
                <key>spriteSourceSize</key>
                <string>{78,23}</string>
                <key>textureRect</key>
                <string>{{1030,1},{78,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/battle/spirit_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{129,98}</string>
                <key>spriteSourceSize</key>
                <string>{137,130}</string>
                <key>textureRect</key>
                <string>{{479,1},{129,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/offerwallshop/battle/spirit_box_txt_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,26}</string>
                <key>spriteSourceSize</key>
                <string>{94,26}</string>
                <key>textureRect</key>
                <string>{{559,101},{94,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/offerwallshop/battle/spirit_box_txt_kr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,23}</string>
                <key>spriteSourceSize</key>
                <string>{98,23}</string>
                <key>textureRect</key>
                <string>{{716,101},{98,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>battle.pvr.ccz</string>
            <key>size</key>
            <string>{1063,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d12583928130ea7d7b67a6b4184f408c:aea09e78fad042640d84814df427c54f:7c9c19caf5e5db18b98f0e67f10858ff$</string>
            <key>textureFileName</key>
            <string>battle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
