<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/offerwallshop/confirm/box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,188}</string>
                <key>spriteSourceSize</key>
                <string>{444,188}</string>
                <key>textureRect</key>
                <string>{{1,42},{444,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/offerwallshop/confirm/cancle_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,39}</string>
                <key>spriteSourceSize</key>
                <string>{150,39}</string>
                <key>textureRect</key>
                <string>{{1,1},{150,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/offerwallshop/confirm/ok_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,39}</string>
                <key>spriteSourceSize</key>
                <string>{150,39}</string>
                <key>textureRect</key>
                <string>{{153,1},{150,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>confirm.pvr.ccz</string>
            <key>size</key>
            <string>{446,231}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7921ac0210a9bd6783e654d3633551ff:a72c825c22f9089b7b818779b3454160:4455ee524be61f39cfca5e37deda5857$</string>
            <key>textureFileName</key>
            <string>confirm.pvr.ccz</string>
        </dict>
    </dict>
</plist>
