<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/offerwallshop/drawinfo/battle_choice_txt_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,21}</string>
                <key>spriteSourceSize</key>
                <string>{133,21}</string>
                <key>textureRect</key>
                <string>{{311,721},{133,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/drawinfo/battle_choice_txt_kr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,19}</string>
                <key>spriteSourceSize</key>
                <string>{134,19}</string>
                <key>textureRect</key>
                <string>{{416,1},{134,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/drawinfo/battle_txt_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,21}</string>
                <key>spriteSourceSize</key>
                <string>{133,21}</string>
                <key>textureRect</key>
                <string>{{334,721},{133,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/drawinfo/battle_txt_kr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,19}</string>
                <key>spriteSourceSize</key>
                <string>{134,19}</string>
                <key>textureRect</key>
                <string>{{416,137},{134,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/drawinfo/box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{718,413}</string>
                <key>spriteSourceSize</key>
                <string>{718,413}</string>
                <key>textureRect</key>
                <string>{{1,1},{718,413}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/drawinfo/box_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,32}</string>
                <key>spriteSourceSize</key>
                <string>{308,32}</string>
                <key>textureRect</key>
                <string>{{1,721},{308,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/offerwallshop/drawinfo/box_name_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,41}</string>
                <key>spriteSourceSize</key>
                <string>{129,41}</string>
                <key>textureRect</key>
                <string>{{165,755},{129,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/offerwallshop/drawinfo/box_name_bt_choice</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,41}</string>
                <key>spriteSourceSize</key>
                <string>{129,41}</string>
                <key>textureRect</key>
                <string>{{165,798},{129,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/offerwallshop/drawinfo/bt_</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,38}</string>
                <key>spriteSourceSize</key>
                <string>{162,38}</string>
                <key>textureRect</key>
                <string>{{1,755},{162,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/offerwallshop/drawinfo/bt_choice</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,37}</string>
                <key>spriteSourceSize</key>
                <string>{162,37}</string>
                <key>textureRect</key>
                <string>{{1,795},{162,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/offerwallshop/drawinfo/growth_choice_txt_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,21}</string>
                <key>spriteSourceSize</key>
                <string>{146,21}</string>
                <key>textureRect</key>
                <string>{{1,834},{146,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/offerwallshop/drawinfo/growth_choice_txt_kr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,19}</string>
                <key>spriteSourceSize</key>
                <string>{134,19}</string>
                <key>textureRect</key>
                <string>{{416,273},{134,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/drawinfo/growth_txt_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,21}</string>
                <key>spriteSourceSize</key>
                <string>{146,21}</string>
                <key>textureRect</key>
                <string>{{149,841},{146,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/offerwallshop/drawinfo/growth_txt_kr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,19}</string>
                <key>spriteSourceSize</key>
                <string>{134,19}</string>
                <key>textureRect</key>
                <string>{{416,409},{134,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/drawinfo/lucky_shop_list_choice_txt_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,21}</string>
                <key>spriteSourceSize</key>
                <string>{133,21}</string>
                <key>textureRect</key>
                <string>{{357,721},{133,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/drawinfo/lucky_shop_list_choice_txt_kr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,19}</string>
                <key>spriteSourceSize</key>
                <string>{134,19}</string>
                <key>textureRect</key>
                <string>{{416,545},{134,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/drawinfo/lucky_shop_list_txt_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,21}</string>
                <key>spriteSourceSize</key>
                <string>{133,21}</string>
                <key>textureRect</key>
                <string>{{380,721},{133,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/drawinfo/lucky_shop_list_txt_kr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,19}</string>
                <key>spriteSourceSize</key>
                <string>{134,19}</string>
                <key>textureRect</key>
                <string>{{416,681},{134,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>drawinfo.pvr.ccz</string>
            <key>size</key>
            <string>{436,863}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c40d4db0158572039ae28ba449831eb:eedc46a6169c361b4c48c51b00381ddb:06bcf9189abd094f384c5f2dc57411b1$</string>
            <key>textureFileName</key>
            <string>drawinfo.pvr.ccz</string>
        </dict>
    </dict>
</plist>
