<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/offerwallshop/growshop/Awakening Box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{133,98}</string>
                <key>spriteSourceSize</key>
                <string>{137,130}</string>
                <key>textureRect</key>
                <string>{{548,375},{133,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/growshop/Awakening Box_txt_kr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,23}</string>
                <key>spriteSourceSize</key>
                <string>{98,23}</string>
                <key>textureRect</key>
                <string>{{433,184},{98,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/offerwallshop/growshop/Awakening-Box_txt_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,26}</string>
                <key>spriteSourceSize</key>
                <string>{148,26}</string>
                <key>textureRect</key>
                <string>{{232,480},{148,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/offerwallshop/growshop/Awakening-Lv+1_txt_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,26}</string>
                <key>spriteSourceSize</key>
                <string>{155,26}</string>
                <key>textureRect</key>
                <string>{{75,480},{155,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/offerwallshop/growshop/Awakening-Lv+1_txt_kr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,23}</string>
                <key>spriteSourceSize</key>
                <string>{91,23}</string>
                <key>textureRect</key>
                <string>{{851,356},{91,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/growshop/Battle Shop_txt_kr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,36}</string>
                <key>spriteSourceSize</key>
                <string>{30,36}</string>
                <key>textureRect</key>
                <string>{{772,372},{30,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/growshop/Battle-Shop_txt_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,36}</string>
                <key>spriteSourceSize</key>
                <string>{42,36}</string>
                <key>textureRect</key>
                <string>{{710,207},{42,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/growshop/Capsule-Lv+1_txtx_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,23}</string>
                <key>spriteSourceSize</key>
                <string>{90,23}</string>
                <key>textureRect</key>
                <string>{{666,257},{90,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/growshop/Capsule-Lv+1_txtx_kr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,25}</string>
                <key>spriteSourceSize</key>
                <string>{125,25}</string>
                <key>textureRect</key>
                <string>{{306,184},{125,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/offerwallshop/growshop/Enhancement Box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{129,100}</string>
                <key>spriteSourceSize</key>
                <string>{137,130}</string>
                <key>textureRect</key>
                <string>{{748,1},{129,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/offerwallshop/growshop/Enhancement Box_txt_kr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,23}</string>
                <key>spriteSourceSize</key>
                <string>{98,23}</string>
                <key>textureRect</key>
                <string>{{600,349},{98,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/offerwallshop/growshop/Enhancement-Box_txt_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,40}</string>
                <key>spriteSourceSize</key>
                <string>{128,40}</string>
                <key>textureRect</key>
                <string>{{748,103},{128,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/offerwallshop/growshop/Growth Shop_txtx-kr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,37}</string>
                <key>spriteSourceSize</key>
                <string>{31,37}</string>
                <key>textureRect</key>
                <string>{{844,449},{31,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/offerwallshop/growshop/Growth-Shop_txtx-en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,36}</string>
                <key>spriteSourceSize</key>
                <string>{54,36}</string>
                <key>textureRect</key>
                <string>{{295,421},{54,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/growshop/Point Charging_txt_kr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,36}</string>
                <key>spriteSourceSize</key>
                <string>{46,36}</string>
                <key>textureRect</key>
                <string>{{333,421},{46,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/offerwallshop/growshop/Point-Charging_txt_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,36}</string>
                <key>spriteSourceSize</key>
                <string>{51,36}</string>
                <key>textureRect</key>
                <string>{{537,121},{51,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/growshop/Raising Box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,11}</string>
                <key>spriteSize</key>
                <string>{113,108}</string>
                <key>spriteSourceSize</key>
                <string>{137,130}</string>
                <key>textureRect</key>
                <string>{{700,257},{113,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/growshop/Raising Box_txt_kr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,23}</string>
                <key>spriteSourceSize</key>
                <string>{98,23}</string>
                <key>textureRect</key>
                <string>{{575,119},{98,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/offerwallshop/growshop/Raising-Box_txt_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,26}</string>
                <key>spriteSourceSize</key>
                <string>{111,26}</string>
                <key>textureRect</key>
                <string>{{382,398},{111,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/growshop/Transcendence Box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,7}</string>
                <key>spriteSize</key>
                <string>{133,98}</string>
                <key>spriteSourceSize</key>
                <string>{137,130}</string>
                <key>textureRect</key>
                <string>{{648,374},{133,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/growshop/Transcendence Box_txt_kr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,23}</string>
                <key>spriteSourceSize</key>
                <string>{97,23}</string>
                <key>textureRect</key>
                <string>{{851,257},{97,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/growshop/Transcendence-Box_txt_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,40}</string>
                <key>spriteSourceSize</key>
                <string>{138,40}</string>
                <key>textureRect</key>
                <string>{{600,209},{138,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/growshop/awake_icon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,110}</string>
                <key>spriteSourceSize</key>
                <string>{116,110}</string>
                <key>textureRect</key>
                <string>{{410,398},{116,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/offerwallshop/growshop/box_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,185}</string>
                <key>spriteSourceSize</key>
                <string>{169,185}</string>
                <key>textureRect</key>
                <string>{{273,211},{169,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/offerwallshop/growshop/box_2_shadow</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,181}</string>
                <key>spriteSourceSize</key>
                <string>{165,181}</string>
                <key>textureRect</key>
                <string>{{306,1},{165,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/offerwallshop/growshop/box_buy_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,39}</string>
                <key>spriteSourceSize</key>
                <string>{94,39}</string>
                <key>textureRect</key>
                <string>{{810,257},{94,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/growshop/box_buy_txt_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,22}</string>
                <key>spriteSourceSize</key>
                <string>{38,22}</string>
                <key>textureRect</key>
                <string>{{748,372},{38,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/growshop/box_buy_txt_kr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,21}</string>
                <key>spriteSourceSize</key>
                <string>{36,21}</string>
                <key>textureRect</key>
                <string>{{677,84},{36,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/growshop/chargestation</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,164}</string>
                <key>spriteSourceSize</key>
                <string>{154,164}</string>
                <key>textureRect</key>
                <string>{{444,209},{154,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/offerwallshop/growshop/chargestation_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{477,270}</string>
                <key>spriteSourceSize</key>
                <string>{477,270}</string>
                <key>textureRect</key>
                <string>{{1,1},{477,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/growshop/information_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,44}</string>
                <key>spriteSourceSize</key>
                <string>{118,44}</string>
                <key>textureRect</key>
                <string>{{700,1},{118,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/growshop/item_buy_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,33}</string>
                <key>spriteSourceSize</key>
                <string>{76,33}</string>
                <key>textureRect</key>
                <string>{{533,174},{76,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/offerwallshop/growshop/item_buy_txtx_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,20}</string>
                <key>spriteSourceSize</key>
                <string>{34,20}</string>
                <key>textureRect</key>
                <string>{{575,144},{34,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/offerwallshop/growshop/item_buy_txtx_kr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,19}</string>
                <key>spriteSourceSize</key>
                <string>{33,19}</string>
                <key>textureRect</key>
                <string>{{333,459},{33,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/offerwallshop/growshop/left</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,35}</string>
                <key>spriteSourceSize</key>
                <string>{27,35}</string>
                <key>textureRect</key>
                <string>{{1,480},{27,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/growshop/list_txt_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,17}</string>
                <key>spriteSourceSize</key>
                <string>{31,17}</string>
                <key>textureRect</key>
                <string>{{528,398},{31,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/growshop/list_txt_kr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,16}</string>
                <key>spriteSourceSize</key>
                <string>{61,16}</string>
                <key>textureRect</key>
                <string>{{528,431},{61,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/growshop/lucky_shop_txt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,21}</string>
                <key>spriteSourceSize</key>
                <string>{81,21}</string>
                <key>textureRect</key>
                <string>{{677,1},{81,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/growshop/lucky_shop_txt_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,21}</string>
                <key>spriteSourceSize</key>
                <string>{103,21}</string>
                <key>textureRect</key>
                <string>{{273,398},{103,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/offerwallshop/growshop/lv_down_icon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,110}</string>
                <key>spriteSourceSize</key>
                <string>{116,110}</string>
                <key>textureRect</key>
                <string>{{565,1},{116,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/growshop/lv_down_txt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,20}</string>
                <key>spriteSourceSize</key>
                <string>{48,20}</string>
                <key>textureRect</key>
                <string>{{675,122},{48,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/offerwallshop/growshop/lv_plus_icon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,110}</string>
                <key>spriteSourceSize</key>
                <string>{116,110}</string>
                <key>textureRect</key>
                <string>{{748,145},{116,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/offerwallshop/growshop/lv_plus_icon_txt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,20}</string>
                <key>spriteSourceSize</key>
                <string>{57,20}</string>
                <key>textureRect</key>
                <string>{{273,421},{57,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/growshop/number_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,39}</string>
                <key>spriteSourceSize</key>
                <string>{71,39}</string>
                <key>textureRect</key>
                <string>{{810,353},{71,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/growshop/point_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,26}</string>
                <key>spriteSourceSize</key>
                <string>{117,26}</string>
                <key>textureRect</key>
                <string>{{537,1},{117,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/growshop/point_box_</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,31}</string>
                <key>spriteSourceSize</key>
                <string>{208,31}</string>
                <key>textureRect</key>
                <string>{{273,1},{208,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/growshop/point_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{666,207},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/offerwallshop/growshop/point_change_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,22}</string>
                <key>spriteSourceSize</key>
                <string>{136,22}</string>
                <key>textureRect</key>
                <string>{{642,207},{136,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/growshop/point_change_txt_kr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,21}</string>
                <key>spriteSourceSize</key>
                <string>{102,21}</string>
                <key>textureRect</key>
                <string>{{444,375},{102,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/offerwallshop/growshop/right</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,35}</string>
                <key>spriteSourceSize</key>
                <string>{27,35}</string>
                <key>textureRect</key>
                <string>{{38,480},{27,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/growshop/shadow</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,62}</string>
                <key>spriteSourceSize</key>
                <string>{171,62}</string>
                <key>textureRect</key>
                <string>{{473,1},{171,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/growshop/side_bt_</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,66}</string>
                <key>spriteSourceSize</key>
                <string>{61,66}</string>
                <key>textureRect</key>
                <string>{{611,144},{61,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/growshop/side_bt_choice</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,66}</string>
                <key>spriteSourceSize</key>
                <string>{61,66}</string>
                <key>textureRect</key>
                <string>{{679,144},{61,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/growshop/sold_txt_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,37}</string>
                <key>spriteSourceSize</key>
                <string>{94,37}</string>
                <key>textureRect</key>
                <string>{{748,426},{94,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/offerwallshop/growshop/sold_txt_kr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,37}</string>
                <key>spriteSourceSize</key>
                <string>{94,37}</string>
                <key>textureRect</key>
                <string>{{748,465},{94,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>growshop.pvr.ccz</string>
            <key>size</key>
            <string>{878,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfeb2d36558fc583f4bf11728f3aa6c2:b9265674bc797043375c24b885eff924:1b84ade956d41d0c3848cb9c4bac368a$</string>
            <key>textureFileName</key>
            <string>growshop.pvr.ccz</string>
        </dict>
    </dict>
</plist>
