<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/offerwallshop/keyshop/box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{465,260}</string>
                <key>spriteSourceSize</key>
                <string>{465,260}</string>
                <key>textureRect</key>
                <string>{{1,1},{465,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/offerwallshop/keyshop/buy_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,47}</string>
                <key>spriteSourceSize</key>
                <string>{220,47}</string>
                <key>textureRect</key>
                <string>{{236,263},{220,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/offerwallshop/keyshop/key</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,165}</string>
                <key>spriteSourceSize</key>
                <string>{151,165}</string>
                <key>textureRect</key>
                <string>{{1,263},{151,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/keyshop/key_store_txt_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,34}</string>
                <key>spriteSourceSize</key>
                <string>{140,34}</string>
                <key>textureRect</key>
                <string>{{168,263},{140,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/offerwallshop/keyshop/key_store_txt_kr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,30}</string>
                <key>spriteSourceSize</key>
                <string>{112,30}</string>
                <key>textureRect</key>
                <string>{{204,263},{112,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>keyshop.pvr.ccz</string>
            <key>size</key>
            <string>{467,415}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0af42be4ef722241bbaf81fbb1b20858:78eb584858ed731d0afead71074d5bca:821dcd3eb56d85916d9312786e1f5ea5$</string>
            <key>textureFileName</key>
            <string>keyshop.pvr.ccz</string>
        </dict>
    </dict>
</plist>
