<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster/2/1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{214,233}</string>
                <key>spriteSourceSize</key>
                <string>{300,265}</string>
                <key>textureRect</key>
                <string>{{254,282},{214,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster/2/2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,7}</string>
                <key>spriteSize</key>
                <string>{220,251}</string>
                <key>spriteSourceSize</key>
                <string>{300,265}</string>
                <key>textureRect</key>
                <string>{{1,282},{220,251}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster/2/at</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{148,131}</string>
                <key>spriteSourceSize</key>
                <string>{150,133}</string>
                <key>textureRect</key>
                <string>{{320,1},{148,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/2/bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,279}</string>
                <key>spriteSourceSize</key>
                <string>{317,279}</string>
                <key>textureRect</key>
                <string>{{1,1},{317,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>2.pvr.ccz</string>
            <key>size</key>
            <string>{488,503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb96396460be50089653df22ceb7fcab:c3a248a15f1a839052b939a3c35f695b:f4dfa1d67d8d55cce14e82e37799af03$</string>
            <key>textureFileName</key>
            <string>2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
