<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster/244/1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,5}</string>
                <key>spriteSize</key>
                <string>{664,446}</string>
                <key>spriteSourceSize</key>
                <string>{760,680}</string>
                <key>textureRect</key>
                <string>{{1,448},{664,446}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/244/2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,445}</string>
                <key>spriteSourceSize</key>
                <string>{673,445}</string>
                <key>textureRect</key>
                <string>{{1,1},{673,445}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/244/at</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,240}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{667,448},{400,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster/244/bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-138}</string>
                <key>spriteSize</key>
                <string>{800,204}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{1,896},{800,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>244.pvr.ccz</string>
            <key>size</key>
            <string>{908,1101}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89a7091fe5ca36a13d395eff56a6c05d:913950f7cde5f76f91b833f747e8e6b1:6b1b229825c3b30ebd61ce493336478e$</string>
            <key>textureFileName</key>
            <string>244.pvr.ccz</string>
        </dict>
    </dict>
</plist>
