<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster/48/1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-12}</string>
                <key>spriteSize</key>
                <string>{250,209}</string>
                <key>spriteSourceSize</key>
                <string>{300,265}</string>
                <key>textureRect</key>
                <string>{{282,1},{250,209}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster/48/2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-16}</string>
                <key>spriteSize</key>
                <string>{258,201}</string>
                <key>spriteSourceSize</key>
                <string>{300,265}</string>
                <key>textureRect</key>
                <string>{{1,320},{258,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/48/at</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,3}</string>
                <key>spriteSize</key>
                <string>{224,221}</string>
                <key>spriteSourceSize</key>
                <string>{300,265}</string>
                <key>textureRect</key>
                <string>{{282,253},{224,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster/48/bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,279}</string>
                <key>spriteSourceSize</key>
                <string>{317,279}</string>
                <key>textureRect</key>
                <string>{{1,1},{317,279}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>48.pvr.ccz</string>
            <key>size</key>
            <string>{504,522}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8db54d64a11cabe8690df3fe741e4ff2:1b1659efcb783f008638398e73c6521f:7479aede09814298c26359b3d32c135e$</string>
            <key>textureFileName</key>
            <string>48.pvr.ccz</string>
        </dict>
    </dict>
</plist>
