<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster/49/1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-25}</string>
                <key>spriteSize</key>
                <string>{202,177}</string>
                <key>spriteSourceSize</key>
                <string>{300,265}</string>
                <key>textureRect</key>
                <string>{{320,220},{202,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/49/2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-12}</string>
                <key>spriteSize</key>
                <string>{252,221}</string>
                <key>spriteSourceSize</key>
                <string>{300,265}</string>
                <key>textureRect</key>
                <string>{{616,1},{252,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster/49/at</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,5}</string>
                <key>spriteSize</key>
                <string>{294,217}</string>
                <key>spriteSourceSize</key>
                <string>{300,265}</string>
                <key>textureRect</key>
                <string>{{320,1},{294,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/49/bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,279}</string>
                <key>spriteSourceSize</key>
                <string>{317,279}</string>
                <key>textureRect</key>
                <string>{{1,1},{317,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>49.pvr.ccz</string>
            <key>size</key>
            <string>{838,398}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21c6c3af6b2dd194e04c45a7dc9e51fe:82f7dcd35136a7f1bc817ba9843dde1c:fe802e0f9ff0fc9de257e4949fc017de$</string>
            <key>textureFileName</key>
            <string>49.pvr.ccz</string>
        </dict>
    </dict>
</plist>
