<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster/50/1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-18}</string>
                <key>spriteSize</key>
                <string>{152,179}</string>
                <key>spriteSourceSize</key>
                <string>{300,265}</string>
                <key>textureRect</key>
                <string>{{1,320},{152,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/50/2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-1}</string>
                <key>spriteSize</key>
                <string>{206,207}</string>
                <key>spriteSourceSize</key>
                <string>{300,265}</string>
                <key>textureRect</key>
                <string>{{282,301},{206,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster/50/at</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{298,265}</string>
                <key>spriteSourceSize</key>
                <string>{300,265}</string>
                <key>textureRect</key>
                <string>{{282,1},{298,265}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster/50/bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,279}</string>
                <key>spriteSourceSize</key>
                <string>{317,279}</string>
                <key>textureRect</key>
                <string>{{1,1},{317,279}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>50.pvr.ccz</string>
            <key>size</key>
            <string>{548,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ab62b3f3dc9a1534ec553eeb1dbecd3:e8d6d0bb3deefb307691e2fa19a69a18:c6fc531c307bdfd270fca98820b3555c$</string>
            <key>textureFileName</key>
            <string>50.pvr.ccz</string>
        </dict>
    </dict>
</plist>
