<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster/7/1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,4}</string>
                <key>spriteSize</key>
                <string>{146,223}</string>
                <key>spriteSourceSize</key>
                <string>{300,265}</string>
                <key>textureRect</key>
                <string>{{320,1},{146,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/7/2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,11}</string>
                <key>spriteSize</key>
                <string>{216,243}</string>
                <key>spriteSourceSize</key>
                <string>{300,265}</string>
                <key>textureRect</key>
                <string>{{1,282},{216,243}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster/7/at</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-13}</string>
                <key>spriteSize</key>
                <string>{148,37}</string>
                <key>spriteSourceSize</key>
                <string>{150,133}</string>
                <key>textureRect</key>
                <string>{{246,282},{148,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster/7/bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,279}</string>
                <key>spriteSourceSize</key>
                <string>{317,279}</string>
                <key>textureRect</key>
                <string>{{1,1},{317,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>7.pvr.ccz</string>
            <key>size</key>
            <string>{467,499}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:605f6e6b5faf16beaf053861cbd289d5:279a101e6e83fcdc6f219307e24e2455:0569de6c5090f3391630397641a86de1$</string>
            <key>textureFileName</key>
            <string>7.pvr.ccz</string>
        </dict>
    </dict>
</plist>
