<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster/76/1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-17}</string>
                <key>spriteSize</key>
                <string>{238,219}</string>
                <key>spriteSourceSize</key>
                <string>{300,265}</string>
                <key>textureRect</key>
                <string>{{253,1},{238,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/76/2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-12}</string>
                <key>spriteSize</key>
                <string>{250,225}</string>
                <key>spriteSourceSize</key>
                <string>{300,265}</string>
                <key>textureRect</key>
                <string>{{1,1},{250,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/76/at</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,4}</string>
                <key>spriteSize</key>
                <string>{234,231}</string>
                <key>spriteSourceSize</key>
                <string>{300,265}</string>
                <key>textureRect</key>
                <string>{{493,1},{234,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/76/at2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,4}</string>
                <key>spriteSize</key>
                <string>{234,231}</string>
                <key>spriteSourceSize</key>
                <string>{300,265}</string>
                <key>textureRect</key>
                <string>{{493,1},{234,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>76.pvr.ccz</string>
            <key>size</key>
            <string>{728,233}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:144e4d5bd3c8fb049c8c30b1f3780702:2ca2ecad20231236a32c992f8b557dc1:68b73b67d2fff8d69161c92bbfd9dea4$</string>
            <key>textureFileName</key>
            <string>76.pvr.ccz</string>
        </dict>
    </dict>
</plist>
