<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3148/effect/col_action1/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,83}</string>
                <key>spriteSize</key>
                <string>{44,73}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{1142,924},{44,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3148/effect/col_action1/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,82}</string>
                <key>spriteSize</key>
                <string>{50,79}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{582,934},{50,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3148/effect/col_action1/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,73}</string>
                <key>spriteSize</key>
                <string>{58,93}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{487,934},{58,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3148/effect/col_action1/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,78}</string>
                <key>spriteSize</key>
                <string>{66,175}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{965,924},{66,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3148/effect/col_action1/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,331}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{1081,591},{68,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3148/effect/col_action1/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{82,331}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{881,667},{82,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3148/effect/col_action1/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{114,331}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{965,591},{114,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3148/effect/col_action1/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{154,331}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{725,667},{154,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3148/effect/col_action1/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{164,331}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{779,334},{164,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3148/effect/col_action1/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{170,331}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{1023,1},{170,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3148/effect/col_action1/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{196,331}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{825,1},{196,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3148/effect/col_action1/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{230,331}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{547,334},{230,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3148/effect/col_action1/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{250,331}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{1,667},{250,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3148/effect/col_action1/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,0}</string>
                <key>spriteSize</key>
                <string>{302,331}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{1,1},{302,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3148/effect/col_action1/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,0}</string>
                <key>spriteSize</key>
                <string>{302,331}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{1,334},{302,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3148/effect/col_action1/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,0}</string>
                <key>spriteSize</key>
                <string>{278,331}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{305,1},{278,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3148/effect/col_action1/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,331}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{253,667},{232,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3148/effect/col_action1/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{238,331}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{585,1},{238,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3148/effect/col_action1/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,331}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{305,334},{240,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3148/effect/col_action1/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{236,265}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{487,667},{236,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3148/effect/col_action1/20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{238,255}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{945,334},{238,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3148/effect/col_action1/21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,102}</string>
                <key>spriteSize</key>
                <string>{58,49}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{663,934},{58,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3148/effect/col_action1/22</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,108}</string>
                <key>spriteSize</key>
                <string>{54,13}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{945,591},{54,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action10.pvr.ccz</string>
            <key>size</key>
            <string>{1194,999}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a815aed8fe4ec2142b1d46611d2ad33:fade47c0d4db7cae6d761365718e5ef9:fd6dfe3ee94267230ed6425290acf6b5$</string>
            <key>textureFileName</key>
            <string>col_action10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
