<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/53/effect/col_action2/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-48}</string>
                <key>spriteSize</key>
                <string>{306,105}</string>
                <key>spriteSourceSize</key>
                <string>{314,201}</string>
                <key>textureRect</key>
                <string>{{1,1622},{306,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/53/effect/col_action2/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-48}</string>
                <key>spriteSize</key>
                <string>{306,105}</string>
                <key>spriteSourceSize</key>
                <string>{314,201}</string>
                <key>textureRect</key>
                <string>{{309,1586},{306,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/53/effect/col_action2/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-36}</string>
                <key>spriteSize</key>
                <string>{308,129}</string>
                <key>spriteSourceSize</key>
                <string>{314,201}</string>
                <key>textureRect</key>
                <string>{{621,1250},{308,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/53/effect/col_action2/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-22}</string>
                <key>spriteSize</key>
                <string>{308,157}</string>
                <key>spriteSourceSize</key>
                <string>{314,201}</string>
                <key>textureRect</key>
                <string>{{311,1250},{308,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/53/effect/col_action2/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{308,179}</string>
                <key>spriteSourceSize</key>
                <string>{314,201}</string>
                <key>textureRect</key>
                <string>{{1,407},{308,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/53/effect/col_action2/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{308,189}</string>
                <key>spriteSourceSize</key>
                <string>{314,201}</string>
                <key>textureRect</key>
                <string>{{311,204},{308,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/53/effect/col_action2/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{308,191}</string>
                <key>spriteSourceSize</key>
                <string>{314,201}</string>
                <key>textureRect</key>
                <string>{{621,202},{308,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/53/effect/col_action2/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{308,199}</string>
                <key>spriteSourceSize</key>
                <string>{314,201}</string>
                <key>textureRect</key>
                <string>{{621,1},{308,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/53/effect/col_action2/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{308,201}</string>
                <key>spriteSourceSize</key>
                <string>{314,201}</string>
                <key>textureRect</key>
                <string>{{1,1},{308,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/53/effect/col_action2/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{308,201}</string>
                <key>spriteSourceSize</key>
                <string>{314,201}</string>
                <key>textureRect</key>
                <string>{{1,204},{308,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/53/effect/col_action2/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{308,201}</string>
                <key>spriteSourceSize</key>
                <string>{314,201}</string>
                <key>textureRect</key>
                <string>{{311,1},{308,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/53/effect/col_action2/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-17}</string>
                <key>spriteSize</key>
                <string>{308,167}</string>
                <key>spriteSourceSize</key>
                <string>{314,201}</string>
                <key>textureRect</key>
                <string>{{1,934},{308,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/53/effect/col_action2/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-17}</string>
                <key>spriteSize</key>
                <string>{308,167}</string>
                <key>spriteSourceSize</key>
                <string>{314,201}</string>
                <key>textureRect</key>
                <string>{{311,916},{308,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/53/effect/col_action2/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-18}</string>
                <key>spriteSize</key>
                <string>{308,165}</string>
                <key>spriteSourceSize</key>
                <string>{314,201}</string>
                <key>textureRect</key>
                <string>{{621,916},{308,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/53/effect/col_action2/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-18}</string>
                <key>spriteSize</key>
                <string>{308,165}</string>
                <key>spriteSourceSize</key>
                <string>{314,201}</string>
                <key>textureRect</key>
                <string>{{621,1083},{308,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/53/effect/col_action2/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-19}</string>
                <key>spriteSize</key>
                <string>{308,163}</string>
                <key>spriteSourceSize</key>
                <string>{314,201}</string>
                <key>textureRect</key>
                <string>{{311,1085},{308,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/53/effect/col_action2/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-19}</string>
                <key>spriteSize</key>
                <string>{308,163}</string>
                <key>spriteSourceSize</key>
                <string>{314,201}</string>
                <key>textureRect</key>
                <string>{{1,1103},{308,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/53/effect/col_action2/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-15}</string>
                <key>spriteSize</key>
                <string>{308,171}</string>
                <key>spriteSourceSize</key>
                <string>{314,201}</string>
                <key>textureRect</key>
                <string>{{621,570},{308,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/53/effect/col_action2/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-15}</string>
                <key>spriteSize</key>
                <string>{308,171}</string>
                <key>spriteSourceSize</key>
                <string>{314,201}</string>
                <key>textureRect</key>
                <string>{{621,743},{308,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/53/effect/col_action2/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-16}</string>
                <key>spriteSize</key>
                <string>{308,169}</string>
                <key>spriteSourceSize</key>
                <string>{314,201}</string>
                <key>textureRect</key>
                <string>{{311,745},{308,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/53/effect/col_action2/20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-14}</string>
                <key>spriteSize</key>
                <string>{308,173}</string>
                <key>spriteSourceSize</key>
                <string>{314,201}</string>
                <key>textureRect</key>
                <string>{{311,395},{308,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/53/effect/col_action2/21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-14}</string>
                <key>spriteSize</key>
                <string>{308,173}</string>
                <key>spriteSourceSize</key>
                <string>{314,201}</string>
                <key>textureRect</key>
                <string>{{621,395},{308,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/53/effect/col_action2/22</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-16}</string>
                <key>spriteSize</key>
                <string>{308,169}</string>
                <key>spriteSourceSize</key>
                <string>{314,201}</string>
                <key>textureRect</key>
                <string>{{1,763},{308,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/53/effect/col_action2/23</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-14}</string>
                <key>spriteSize</key>
                <string>{308,173}</string>
                <key>spriteSourceSize</key>
                <string>{314,201}</string>
                <key>textureRect</key>
                <string>{{1,588},{308,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/53/effect/col_action2/24</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-14}</string>
                <key>spriteSize</key>
                <string>{308,173}</string>
                <key>spriteSourceSize</key>
                <string>{314,201}</string>
                <key>textureRect</key>
                <string>{{311,570},{308,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/53/effect/col_action2/25</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-13}</string>
                <key>spriteSize</key>
                <string>{292,175}</string>
                <key>spriteSourceSize</key>
                <string>{314,201}</string>
                <key>textureRect</key>
                <string>{{1,1268},{292,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/53/effect/col_action2/26</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-13}</string>
                <key>spriteSize</key>
                <string>{292,175}</string>
                <key>spriteSourceSize</key>
                <string>{314,201}</string>
                <key>textureRect</key>
                <string>{{1,1445},{292,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/53/effect/col_action2/27</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-13}</string>
                <key>spriteSize</key>
                <string>{290,175}</string>
                <key>spriteSourceSize</key>
                <string>{314,201}</string>
                <key>textureRect</key>
                <string>{{295,1409},{290,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/53/effect/col_action2/28</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-13}</string>
                <key>spriteSize</key>
                <string>{290,175}</string>
                <key>spriteSourceSize</key>
                <string>{314,201}</string>
                <key>textureRect</key>
                <string>{{621,1381},{290,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/53/effect/col_action2/29</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-14}</string>
                <key>spriteSize</key>
                <string>{288,173}</string>
                <key>spriteSourceSize</key>
                <string>{314,201}</string>
                <key>textureRect</key>
                <string>{{617,1558},{288,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action20.pvr.ccz</string>
            <key>size</key>
            <string>{930,1732}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:935ef2782ff4cb7fe6627a169b03d110:78473f0185d3a895b8f495bb240cb3b1:98ec4b5f3da3b367b0df440471cccb39$</string>
            <key>textureFileName</key>
            <string>col_action20.pvr.ccz</string>
        </dict>
    </dict>
</plist>
