<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/guild/guild_war/guildwar_main/bt_battlefield</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,172}</string>
                <key>spriteSourceSize</key>
                <string>{324,172}</string>
                <key>textureRect</key>
                <string>{{713,1},{324,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_main/bt_battlefield_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,172}</string>
                <key>spriteSourceSize</key>
                <string>{324,172}</string>
                <key>textureRect</key>
                <string>{{887,1},{324,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_main/bt_guildmenu_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,138}</string>
                <key>spriteSourceSize</key>
                <string>{154,138}</string>
                <key>textureRect</key>
                <string>{{1,347},{154,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_main/bt_guildmenu_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,138}</string>
                <key>spriteSourceSize</key>
                <string>{154,138}</string>
                <key>textureRect</key>
                <string>{{141,347},{154,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_main/bt_gulid_gvs</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,24}</string>
                <key>spriteSourceSize</key>
                <string>{51,24}</string>
                <key>textureRect</key>
                <string>{{314,463},{51,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_main/bt_gulid_medal</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,34}</string>
                <key>spriteSourceSize</key>
                <string>{33,34}</string>
                <key>textureRect</key>
                <string>{{1110,343},{33,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_main/bt_gulid_ranking</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,26}</string>
                <key>spriteSourceSize</key>
                <string>{41,26}</string>
                <key>textureRect</key>
                <string>{{1098,418},{41,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_main/bt_home</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,34}</string>
                <key>textureRect</key>
                <string>{{686,443},{40,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_main/bt_receipt_base</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,172}</string>
                <key>spriteSourceSize</key>
                <string>{324,172}</string>
                <key>textureRect</key>
                <string>{{1061,1},{324,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_main/bt_receipt_base_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,172}</string>
                <key>spriteSourceSize</key>
                <string>{324,172}</string>
                <key>textureRect</key>
                <string>{{1149,327},{324,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_main/bt_receipt_complete</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,172}</string>
                <key>spriteSourceSize</key>
                <string>{324,172}</string>
                <key>textureRect</key>
                <string>{{1235,1},{324,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_main/bt_receipt_complete_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,172}</string>
                <key>spriteSourceSize</key>
                <string>{324,172}</string>
                <key>textureRect</key>
                <string>{{1409,1},{324,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_main/bt_receipt_impossible</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,172}</string>
                <key>spriteSourceSize</key>
                <string>{324,172}</string>
                <key>textureRect</key>
                <string>{{1475,327},{324,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_main/bt_receipt_impossible_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,172}</string>
                <key>spriteSourceSize</key>
                <string>{324,172}</string>
                <key>textureRect</key>
                <string>{{1583,1},{324,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_main/frame_guildwar_bg6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{710,344}</string>
                <key>spriteSourceSize</key>
                <string>{710,344}</string>
                <key>textureRect</key>
                <string>{{1,1},{710,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_main/icon_guildwar_Vs</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,33}</string>
                <key>spriteSourceSize</key>
                <string>{38,33}</string>
                <key>textureRect</key>
                <string>{{1110,378},{38,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_main/icon_menu1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{84,100}</string>
                <key>spriteSourceSize</key>
                <string>{154,138}</string>
                <key>textureRect</key>
                <string>{{514,347},{84,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_main/icon_menu1_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{114,104}</string>
                <key>spriteSourceSize</key>
                <string>{154,138}</string>
                <key>textureRect</key>
                <string>{{314,347},{114,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_main/icon_menu2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{94,92}</string>
                <key>spriteSourceSize</key>
                <string>{154,138}</string>
                <key>textureRect</key>
                <string>{{600,347},{94,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_main/icon_menu2_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{90,94}</string>
                <key>spriteSourceSize</key>
                <string>{154,138}</string>
                <key>textureRect</key>
                <string>{{694,347},{90,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_main/icon_menu3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-37}</string>
                <key>spriteSize</key>
                <string>{94,30}</string>
                <key>spriteSourceSize</key>
                <string>{154,138}</string>
                <key>textureRect</key>
                <string>{{786,343},{94,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_main/icon_menu3_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-38}</string>
                <key>spriteSize</key>
                <string>{80,34}</string>
                <key>spriteSourceSize</key>
                <string>{154,138}</string>
                <key>textureRect</key>
                <string>{{604,443},{80,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_main/icon_menu4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{72,92}</string>
                <key>spriteSourceSize</key>
                <string>{154,138}</string>
                <key>textureRect</key>
                <string>{{818,343},{72,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_main/icon_menu4_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{112,92}</string>
                <key>spriteSourceSize</key>
                <string>{154,138}</string>
                <key>textureRect</key>
                <string>{{420,347},{112,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_main/title_guildwar</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,71}</string>
                <key>spriteSourceSize</key>
                <string>{216,71}</string>
                <key>textureRect</key>
                <string>{{892,343},{216,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_main/txt_nomaster</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,56}</string>
                <key>spriteSourceSize</key>
                <string>{302,56}</string>
                <key>textureRect</key>
                <string>{{1801,1},{302,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_main/txt_nomaster_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,60}</string>
                <key>spriteSourceSize</key>
                <string>{340,60}</string>
                <key>textureRect</key>
                <string>{{728,443},{340,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_main/txt_notaccepted1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,14}</string>
                <key>spriteSourceSize</key>
                <string>{229,14}</string>
                <key>textureRect</key>
                <string>{{297,489},{229,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_main/txt_notaccepted1_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,15}</string>
                <key>spriteSourceSize</key>
                <string>{235,15}</string>
                <key>textureRect</key>
                <string>{{367,463},{235,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_main/txt_notaccepted2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,14}</string>
                <key>spriteSourceSize</key>
                <string>{152,14}</string>
                <key>textureRect</key>
                <string>{{281,347},{152,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_main/txt_notaccepted2_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,15}</string>
                <key>spriteSourceSize</key>
                <string>{184,15}</string>
                <key>textureRect</key>
                <string>{{528,480},{184,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_main/txt_notaccepted3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,14}</string>
                <key>spriteSourceSize</key>
                <string>{217,14}</string>
                <key>textureRect</key>
                <string>{{713,327},{217,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_main/txt_notaccepted3_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,15}</string>
                <key>spriteSourceSize</key>
                <string>{140,15}</string>
                <key>textureRect</key>
                <string>{{297,347},{140,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_main/txt_notaccepted4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,14}</string>
                <key>spriteSourceSize</key>
                <string>{215,14}</string>
                <key>textureRect</key>
                <string>{{932,327},{215,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_main/txt_notaccepted4_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,14}</string>
                <key>spriteSourceSize</key>
                <string>{204,14}</string>
                <key>textureRect</key>
                <string>{{892,418},{204,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>guildwar_main.pvr.ccz</string>
            <key>size</key>
            <string>{1858,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c30680e68e60ba87644813adac3f117:c650ae6930a329c385e81390d8f7cace:1c9cbcb6e8887a24a02ef8c2f2cb4802$</string>
            <key>textureFileName</key>
            <string>guildwar_main.pvr.ccz</string>
        </dict>
    </dict>
</plist>
