<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/guild/guild_war/guildwar_rewardpop/frame_guildwar_bg16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{494,374}</string>
                <key>spriteSourceSize</key>
                <string>{494,374}</string>
                <key>textureRect</key>
                <string>{{1,1},{494,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_rewardpop/frame_guildwar_bg19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{494,374}</string>
                <key>spriteSourceSize</key>
                <string>{494,374}</string>
                <key>textureRect</key>
                <string>{{1,377},{494,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_rewardpop/frame_medal</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,34}</string>
                <key>spriteSourceSize</key>
                <string>{210,34}</string>
                <key>textureRect</key>
                <string>{{259,1645},{210,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_rewardpop/frame_totalmedal</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,41}</string>
                <key>spriteSourceSize</key>
                <string>{298,41}</string>
                <key>textureRect</key>
                <string>{{91,1521},{298,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_rewardpop/title_MatchResult</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{397,94}</string>
                <key>spriteSourceSize</key>
                <string>{397,94}</string>
                <key>textureRect</key>
                <string>{{1,753},{397,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_rewardpop/title_MatchResult_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{397,94}</string>
                <key>spriteSourceSize</key>
                <string>{397,94}</string>
                <key>textureRect</key>
                <string>{{400,753},{397,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_rewardpop/title_lost</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{397,94}</string>
                <key>spriteSourceSize</key>
                <string>{397,94}</string>
                <key>textureRect</key>
                <string>{{1,849},{397,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_rewardpop/title_lost_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{397,94}</string>
                <key>spriteSourceSize</key>
                <string>{397,94}</string>
                <key>textureRect</key>
                <string>{{1,945},{397,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_rewardpop/title_monthlyreward</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{397,94}</string>
                <key>spriteSourceSize</key>
                <string>{397,94}</string>
                <key>textureRect</key>
                <string>{{1,1041},{397,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_rewardpop/title_monthlyreward_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{397,94}</string>
                <key>spriteSourceSize</key>
                <string>{397,94}</string>
                <key>textureRect</key>
                <string>{{1,1137},{397,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_rewardpop/title_weeklyreward</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{397,94}</string>
                <key>spriteSourceSize</key>
                <string>{397,94}</string>
                <key>textureRect</key>
                <string>{{400,1152},{397,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_rewardpop/title_weeklyreward_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{397,94}</string>
                <key>spriteSourceSize</key>
                <string>{397,94}</string>
                <key>textureRect</key>
                <string>{{1,1233},{397,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_rewardpop/title_win</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{397,94}</string>
                <key>spriteSourceSize</key>
                <string>{397,94}</string>
                <key>textureRect</key>
                <string>{{1,1329},{397,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_rewardpop/title_win_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{397,94}</string>
                <key>spriteSourceSize</key>
                <string>{397,94}</string>
                <key>textureRect</key>
                <string>{{1,1425},{397,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_rewardpop/txt_Draw</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,26}</string>
                <key>spriteSourceSize</key>
                <string>{62,26}</string>
                <key>textureRect</key>
                <string>{{430,1569},{62,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_rewardpop/txt_Draw_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,21}</string>
                <key>spriteSourceSize</key>
                <string>{67,21}</string>
                <key>textureRect</key>
                <string>{{64,1608},{67,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_rewardpop/txt_GuildMatch</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,74}</string>
                <key>spriteSourceSize</key>
                <string>{222,74}</string>
                <key>textureRect</key>
                <string>{{189,1569},{222,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_rewardpop/txt_Lose</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,26}</string>
                <key>spriteSourceSize</key>
                <string>{42,26}</string>
                <key>textureRect</key>
                <string>{{203,1645},{42,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_rewardpop/txt_Lose_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,23}</string>
                <key>spriteSourceSize</key>
                <string>{57,23}</string>
                <key>textureRect</key>
                <string>{{64,1549},{57,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_rewardpop/txt_Reward</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,18}</string>
                <key>spriteSourceSize</key>
                <string>{69,18}</string>
                <key>textureRect</key>
                <string>{{471,1597},{69,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_rewardpop/txt_Reward_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,15}</string>
                <key>spriteSourceSize</key>
                <string>{73,15}</string>
                <key>textureRect</key>
                <string>{{413,1569},{73,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_rewardpop/txt_Win</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,26}</string>
                <key>spriteSourceSize</key>
                <string>{42,26}</string>
                <key>textureRect</key>
                <string>{{231,1645},{42,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_rewardpop/txt_Win_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,21}</string>
                <key>spriteSourceSize</key>
                <string>{45,21}</string>
                <key>textureRect</key>
                <string>{{430,1597},{45,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_rewardpop/txt_contributionaward</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,26}</string>
                <key>spriteSourceSize</key>
                <string>{88,26}</string>
                <key>textureRect</key>
                <string>{{1,1521},{88,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_rewardpop/txt_contributionaward_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,16}</string>
                <key>spriteSourceSize</key>
                <string>{128,16}</string>
                <key>textureRect</key>
                <string>{{22,1551},{128,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_rewardpop/txt_monthlyreward</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,26}</string>
                <key>spriteSourceSize</key>
                <string>{87,26}</string>
                <key>textureRect</key>
                <string>{{161,1569},{87,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_rewardpop/txt_monthlyreward_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,22}</string>
                <key>spriteSourceSize</key>
                <string>{122,22}</string>
                <key>textureRect</key>
                <string>{{40,1564},{122,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_rewardpop/txt_participationaward</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,26}</string>
                <key>spriteSourceSize</key>
                <string>{88,26}</string>
                <key>textureRect</key>
                <string>{{113,1660},{88,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_rewardpop/txt_participationaward_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,19}</string>
                <key>spriteSourceSize</key>
                <string>{128,19}</string>
                <key>textureRect</key>
                <string>{{1,1551},{128,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_rewardpop/txt_totalaward</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,18}</string>
                <key>spriteSourceSize</key>
                <string>{89,18}</string>
                <key>textureRect</key>
                <string>{{113,1569},{89,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_rewardpop/txt_totalaward_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,16}</string>
                <key>spriteSourceSize</key>
                <string>{99,16}</string>
                <key>textureRect</key>
                <string>{{391,1551},{99,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_rewardpop/txt_weeklyreward</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,26}</string>
                <key>spriteSourceSize</key>
                <string>{88,26}</string>
                <key>textureRect</key>
                <string>{{133,1569},{88,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_rewardpop/txt_weeklyreward_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,22}</string>
                <key>spriteSourceSize</key>
                <string>{117,22}</string>
                <key>textureRect</key>
                <string>{{89,1569},{117,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>guildwar_rewardpop.pvr.ccz</string>
            <key>size</key>
            <string>{496,1688}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56d7ff2469a1e7e0e622ad691fce955e:86afa7af0b88e0fcfad1a510ad7e4d13:900bc6e795c9912aa1f8e92cbae9d690$</string>
            <key>textureFileName</key>
            <string>guildwar_rewardpop.pvr.ccz</string>
        </dict>
    </dict>
</plist>
