<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/guild/guild_war/guildwar_medalshop/bt_gacha1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,80}</string>
                <key>spriteSourceSize</key>
                <string>{174,80}</string>
                <key>textureRect</key>
                <string>{{761,1033},{174,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_medalshop/bt_gacha10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,80}</string>
                <key>spriteSourceSize</key>
                <string>{174,80}</string>
                <key>textureRect</key>
                <string>{{843,1033},{174,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_medalshop/bt_medal_menu_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,63}</string>
                <key>spriteSourceSize</key>
                <string>{203,63}</string>
                <key>textureRect</key>
                <string>{{111,945},{203,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_medalshop/bt_medal_menu_off_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,63}</string>
                <key>spriteSourceSize</key>
                <string>{203,63}</string>
                <key>textureRect</key>
                <string>{{176,945},{203,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_medalshop/bt_medal_menu_off_1_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,63}</string>
                <key>spriteSourceSize</key>
                <string>{203,63}</string>
                <key>textureRect</key>
                <string>{{234,1150},{203,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_medalshop/bt_medal_menu_off_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,63}</string>
                <key>spriteSourceSize</key>
                <string>{203,63}</string>
                <key>textureRect</key>
                <string>{{241,945},{203,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_medalshop/bt_medal_menu_off_2_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,63}</string>
                <key>spriteSourceSize</key>
                <string>{203,63}</string>
                <key>textureRect</key>
                <string>{{306,945},{203,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_medalshop/bt_medal_menu_off_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,63}</string>
                <key>spriteSourceSize</key>
                <string>{203,63}</string>
                <key>textureRect</key>
                <string>{{371,945},{203,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_medalshop/bt_medal_menu_off_3_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,63}</string>
                <key>spriteSourceSize</key>
                <string>{203,63}</string>
                <key>textureRect</key>
                <string>{{436,945},{203,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_medalshop/bt_medal_menu_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,63}</string>
                <key>spriteSourceSize</key>
                <string>{203,63}</string>
                <key>textureRect</key>
                <string>{{439,1150},{203,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_medalshop/bt_medal_menu_on_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,63}</string>
                <key>spriteSourceSize</key>
                <string>{203,63}</string>
                <key>textureRect</key>
                <string>{{501,903},{203,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_medalshop/bt_medal_menu_on_1_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,63}</string>
                <key>spriteSourceSize</key>
                <string>{203,63}</string>
                <key>textureRect</key>
                <string>{{566,903},{203,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_medalshop/bt_medal_menu_on_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,63}</string>
                <key>spriteSourceSize</key>
                <string>{203,63}</string>
                <key>textureRect</key>
                <string>{{631,903},{203,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_medalshop/bt_medal_menu_on_2_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,63}</string>
                <key>spriteSourceSize</key>
                <string>{203,63}</string>
                <key>textureRect</key>
                <string>{{696,903},{203,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_medalshop/bt_medal_menu_on_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,63}</string>
                <key>spriteSourceSize</key>
                <string>{203,63}</string>
                <key>textureRect</key>
                <string>{{761,903},{203,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_medalshop/bt_medal_menu_on_3_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,63}</string>
                <key>spriteSourceSize</key>
                <string>{203,63}</string>
                <key>textureRect</key>
                <string>{{761,968},{203,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_medalshop/frame_guildwar_bg9</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{514,324}</string>
                <key>spriteSourceSize</key>
                <string>{514,324}</string>
                <key>textureRect</key>
                <string>{{1,1},{514,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_medalshop/frame_guildwar_itembg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,104}</string>
                <key>spriteSourceSize</key>
                <string>{107,104}</string>
                <key>textureRect</key>
                <string>{{644,1108},{107,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_medalshop/medal_banner_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,204}</string>
                <key>spriteSourceSize</key>
                <string>{488,204}</string>
                <key>textureRect</key>
                <string>{{774,1},{488,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_medalshop/medal_banner_0_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,204}</string>
                <key>spriteSourceSize</key>
                <string>{488,204}</string>
                <key>textureRect</key>
                <string>{{1,327},{488,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_medalshop/medal_banner_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,204}</string>
                <key>spriteSourceSize</key>
                <string>{488,204}</string>
                <key>textureRect</key>
                <string>{{491,491},{488,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_medalshop/medal_banner_1_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,204}</string>
                <key>spriteSourceSize</key>
                <string>{488,204}</string>
                <key>textureRect</key>
                <string>{{1,533},{488,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_medalshop/medal_banner_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,204}</string>
                <key>spriteSourceSize</key>
                <string>{488,204}</string>
                <key>textureRect</key>
                <string>{{491,697},{488,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_medalshop/medal_banner_2_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,204}</string>
                <key>spriteSourceSize</key>
                <string>{488,204}</string>
                <key>textureRect</key>
                <string>{{1,739},{488,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_medalshop/medal_banner_event_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,8}</string>
                <key>spriteSize</key>
                <string>{255,229}</string>
                <key>spriteSourceSize</key>
                <string>{265,265}</string>
                <key>textureRect</key>
                <string>{{517,1},{255,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_medalshop/medal_banner_event_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,6}</string>
                <key>spriteSize</key>
                <string>{245,235}</string>
                <key>spriteSourceSize</key>
                <string>{265,265}</string>
                <key>textureRect</key>
                <string>{{517,232},{245,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_medalshop/title_medalshop</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,53}</string>
                <key>spriteSourceSize</key>
                <string>{240,53}</string>
                <key>textureRect</key>
                <string>{{1,945},{240,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_medalshop/title_medalshop_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,53}</string>
                <key>spriteSourceSize</key>
                <string>{240,53}</string>
                <key>textureRect</key>
                <string>{{56,945},{240,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_medalshop/txt_gacha1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,12}</string>
                <key>spriteSourceSize</key>
                <string>{42,12}</string>
                <key>textureRect</key>
                <string>{{601,469},{42,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_medalshop/txt_gacha10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,12}</string>
                <key>spriteSourceSize</key>
                <string>{49,12}</string>
                <key>textureRect</key>
                <string>{{550,469},{49,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_medalshop/txt_gacha10_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,11}</string>
                <key>spriteSourceSize</key>
                <string>{50,11}</string>
                <key>textureRect</key>
                <string>{{645,469},{50,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_medalshop/txt_gacha1_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,11}</string>
                <key>spriteSourceSize</key>
                <string>{43,11}</string>
                <key>textureRect</key>
                <string>{{697,469},{43,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_medalshop/txt_magnas</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,22}</string>
                <key>spriteSourceSize</key>
                <string>{157,22}</string>
                <key>textureRect</key>
                <string>{{75,1187},{157,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_medalshop/txt_magnas_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,24}</string>
                <key>spriteSourceSize</key>
                <string>{74,24}</string>
                <key>textureRect</key>
                <string>{{491,327},{74,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_medalshop/txt_probability</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,23}</string>
                <key>spriteSourceSize</key>
                <string>{72,23}</string>
                <key>textureRect</key>
                <string>{{1,1187},{72,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_medalshop/txt_probability_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,21}</string>
                <key>spriteSourceSize</key>
                <string>{44,21}</string>
                <key>textureRect</key>
                <string>{{491,403},{44,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_medalshop/txt_shah</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,21}</string>
                <key>spriteSourceSize</key>
                <string>{36,21}</string>
                <key>textureRect</key>
                <string>{{111,1150},{36,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_medalshop/txt_shah_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,20}</string>
                <key>spriteSourceSize</key>
                <string>{57,20}</string>
                <key>textureRect</key>
                <string>{{491,469},{57,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>guildwar_medalshop.pvr.ccz</string>
            <key>size</key>
            <string>{980,1214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06bb7aa77f239a2fc8dcc34c49d73a05:83e67656c39bd50bda5c7d391a2f8d8c:eb0320003df63a13903b6a41e1686e53$</string>
            <key>textureFileName</key>
            <string>guildwar_medalshop.pvr.ccz</string>
        </dict>
    </dict>
</plist>
