<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/guild/guild_war/guildwar_bonuspop/frame_guildwar_bg8</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,394}</string>
                <key>spriteSourceSize</key>
                <string>{474,394}</string>
                <key>textureRect</key>
                <string>{{1,1},{474,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_bonuspop/frame_nextweek_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{404,104}</string>
                <key>spriteSourceSize</key>
                <string>{404,104}</string>
                <key>textureRect</key>
                <string>{{1,397},{404,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_bonuspop/frame_thisweek_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{404,104}</string>
                <key>spriteSourceSize</key>
                <string>{404,104}</string>
                <key>textureRect</key>
                <string>{{1,503},{404,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_bonuspop/icon_atk</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,20}</string>
                <key>spriteSourceSize</key>
                <string>{21,20}</string>
                <key>textureRect</key>
                <string>{{419,689},{21,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_bonuspop/icon_buff_e</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,32}</string>
                <key>spriteSourceSize</key>
                <string>{18,32}</string>
                <key>textureRect</key>
                <string>{{317,685},{18,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_bonuspop/icon_buff_t</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,32}</string>
                <key>spriteSourceSize</key>
                <string>{18,32}</string>
                <key>textureRect</key>
                <string>{{351,685},{18,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_bonuspop/icon_dark</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,42}</string>
                <key>spriteSourceSize</key>
                <string>{37,42}</string>
                <key>textureRect</key>
                <string>{{1,656},{37,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_bonuspop/icon_dawn</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,42}</string>
                <key>spriteSourceSize</key>
                <string>{37,42}</string>
                <key>textureRect</key>
                <string>{{437,484},{37,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_bonuspop/icon_debuff_e</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,32}</string>
                <key>spriteSourceSize</key>
                <string>{18,32}</string>
                <key>textureRect</key>
                <string>{{385,685},{18,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_bonuspop/icon_debuff_t</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,32}</string>
                <key>spriteSourceSize</key>
                <string>{18,32}</string>
                <key>textureRect</key>
                <string>{{479,655},{18,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_bonuspop/icon_def</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,23}</string>
                <key>spriteSourceSize</key>
                <string>{22,23}</string>
                <key>textureRect</key>
                <string>{{441,683},{22,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_bonuspop/icon_down</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,20}</string>
                <key>spriteSourceSize</key>
                <string>{19,20}</string>
                <key>textureRect</key>
                <string>{{473,634},{19,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_bonuspop/icon_dusk</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,42}</string>
                <key>spriteSourceSize</key>
                <string>{37,42}</string>
                <key>textureRect</key>
                <string>{{40,656},{37,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_bonuspop/icon_earth</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,42}</string>
                <key>spriteSourceSize</key>
                <string>{37,42}</string>
                <key>textureRect</key>
                <string>{{437,528},{37,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_bonuspop/icon_fire</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,42}</string>
                <key>spriteSourceSize</key>
                <string>{37,42}</string>
                <key>textureRect</key>
                <string>{{79,656},{37,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_bonuspop/icon_guildwar</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,85}</string>
                <key>spriteSourceSize</key>
                <string>{96,85}</string>
                <key>textureRect</key>
                <string>{{407,397},{96,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_bonuspop/icon_hp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,19}</string>
                <key>spriteSourceSize</key>
                <string>{22,19}</string>
                <key>textureRect</key>
                <string>{{407,605},{22,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_bonuspop/icon_light</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,42}</string>
                <key>spriteSourceSize</key>
                <string>{37,42}</string>
                <key>textureRect</key>
                <string>{{118,656},{37,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_bonuspop/icon_nightmare</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,42}</string>
                <key>spriteSourceSize</key>
                <string>{37,42}</string>
                <key>textureRect</key>
                <string>{{437,572},{37,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_bonuspop/icon_type_atk</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,26}</string>
                <key>textureRect</key>
                <string>{{477,346},{48,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_bonuspop/icon_type_atk_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,26}</string>
                <key>textureRect</key>
                <string>{{476,484},{48,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_bonuspop/icon_type_atkdef</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,26}</string>
                <key>textureRect</key>
                <string>{{279,629},{48,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_bonuspop/icon_type_atkdef_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,26}</string>
                <key>textureRect</key>
                <string>{{329,629},{48,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_bonuspop/icon_type_def</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,26}</string>
                <key>textureRect</key>
                <string>{{476,534},{48,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_bonuspop/icon_type_def_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,26}</string>
                <key>textureRect</key>
                <string>{{476,584},{48,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_bonuspop/icon_type_hp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,26}</string>
                <key>textureRect</key>
                <string>{{379,629},{48,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_bonuspop/icon_type_hp_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,26}</string>
                <key>textureRect</key>
                <string>{{157,656},{48,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_bonuspop/icon_type_hpatk</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,26}</string>
                <key>textureRect</key>
                <string>{{224,652},{48,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_bonuspop/icon_type_hpatk_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,26}</string>
                <key>textureRect</key>
                <string>{{274,657},{48,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_bonuspop/icon_type_hpdef</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,26}</string>
                <key>textureRect</key>
                <string>{{324,657},{48,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_bonuspop/icon_type_hpdef_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,26}</string>
                <key>textureRect</key>
                <string>{{374,657},{48,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_bonuspop/icon_type_neu</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,26}</string>
                <key>textureRect</key>
                <string>{{224,680},{48,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_bonuspop/icon_type_neu_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,26}</string>
                <key>textureRect</key>
                <string>{{429,655},{48,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_bonuspop/icon_up</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,20}</string>
                <key>spriteSourceSize</key>
                <string>{19,20}</string>
                <key>textureRect</key>
                <string>{{465,689},{19,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_bonuspop/icon_water</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,42}</string>
                <key>spriteSourceSize</key>
                <string>{37,42}</string>
                <key>textureRect</key>
                <string>{{429,616},{37,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_bonuspop/icon_wind</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,42}</string>
                <key>spriteSourceSize</key>
                <string>{37,42}</string>
                <key>textureRect</key>
                <string>{{185,653},{37,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_bonuspop/txt_guildbonus1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,28}</string>
                <key>spriteSourceSize</key>
                <string>{119,28}</string>
                <key>textureRect</key>
                <string>{{407,484},{119,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_bonuspop/txt_guildbonus1_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,25}</string>
                <key>spriteSourceSize</key>
                <string>{164,25}</string>
                <key>textureRect</key>
                <string>{{1,629},{164,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_bonuspop/txt_guildbonus2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,18}</string>
                <key>spriteSourceSize</key>
                <string>{336,18}</string>
                <key>textureRect</key>
                <string>{{1,609},{336,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_bonuspop/txt_guildbonus2_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{343,19}</string>
                <key>spriteSourceSize</key>
                <string>{343,19}</string>
                <key>textureRect</key>
                <string>{{477,1},{343,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/guildwar_bonuspop/txt_nextweek</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,22}</string>
                <key>spriteSourceSize</key>
                <string>{55,22}</string>
                <key>textureRect</key>
                <string>{{167,629},{55,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_bonuspop/txt_nextweek_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,18}</string>
                <key>spriteSourceSize</key>
                <string>{41,18}</string>
                <key>textureRect</key>
                <string>{{274,685},{41,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_bonuspop/txt_thisweek</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,21}</string>
                <key>spriteSourceSize</key>
                <string>{53,21}</string>
                <key>textureRect</key>
                <string>{{224,629},{53,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/guildwar_bonuspop/txt_thisweek_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,18}</string>
                <key>spriteSourceSize</key>
                <string>{65,18}</string>
                <key>textureRect</key>
                <string>{{339,609},{65,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>guildwar_bonuspop.pvr.ccz</string>
            <key>size</key>
            <string>{504,711}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4093952c53c56c1c7737a9b24a60b71:12655602053bb94ef9572bcd5d03fd59:d46796b40aaa61fc47c661c820a9687a$</string>
            <key>textureFileName</key>
            <string>guildwar_bonuspop.pvr.ccz</string>
        </dict>
    </dict>
</plist>
