<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{95,-3}</string>
			<key>spriteSize</key>
			<string>{161,124}</string>
			<key>spriteSourceSize</key>
			<string>{365,164}</string>
			<key>textureRect</key>
			<string>{{872,1},{161,124}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{91,-3}</string>
			<key>spriteSize</key>
			<string>{153,112}</string>
			<key>spriteSourceSize</key>
			<string>{365,164}</string>
			<key>textureRect</key>
			<string>{{613,871},{153,112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{81,-3}</string>
			<key>spriteSize</key>
			<string>{149,98}</string>
			<key>spriteSourceSize</key>
			<string>{365,164}</string>
			<key>textureRect</key>
			<string>{{866,164},{149,98}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{61,3}</string>
			<key>spriteSize</key>
			<string>{137,92}</string>
			<key>spriteSourceSize</key>
			<string>{365,164}</string>
			<key>textureRect</key>
			<string>{{474,893},{137,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{60,-6}</string>
			<key>spriteSize</key>
			<string>{133,106}</string>
			<key>spriteSourceSize</key>
			<string>{365,164}</string>
			<key>textureRect</key>
			<string>{{768,879},{133,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{65,-5}</string>
			<key>spriteSize</key>
			<string>{99,90}</string>
			<key>spriteSourceSize</key>
			<string>{365,164}</string>
			<key>textureRect</key>
			<string>{{903,879},{99,90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{63,-4}</string>
			<key>spriteSize</key>
			<string>{81,80}</string>
			<key>spriteSourceSize</key>
			<string>{365,164}</string>
			<key>textureRect</key>
			<string>{{898,522},{81,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{13,-4}</string>
			<key>spriteSize</key>
			<string>{167,82}</string>
			<key>spriteSourceSize</key>
			<string>{365,164}</string>
			<key>textureRect</key>
			<string>{{305,901},{167,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,2}</string>
			<key>spriteSize</key>
			<string>{205,100}</string>
			<key>spriteSourceSize</key>
			<string>{365,164}</string>
			<key>textureRect</key>
			<string>{{898,315},{205,100}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-25,-4}</string>
			<key>spriteSize</key>
			<string>{265,146}</string>
			<key>spriteSourceSize</key>
			<string>{365,164}</string>
			<key>textureRect</key>
			<string>{{679,604},{265,146}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-33,0}</string>
			<key>spriteSize</key>
			<string>{283,164}</string>
			<key>spriteSourceSize</key>
			<string>{365,164}</string>
			<key>textureRect</key>
			<string>{{1,329},{283,164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-32,-1}</string>
			<key>spriteSize</key>
			<string>{283,162}</string>
			<key>spriteSourceSize</key>
			<string>{365,164}</string>
			<key>textureRect</key>
			<string>{{1,495},{283,162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-30,0}</string>
			<key>spriteSize</key>
			<string>{289,164}</string>
			<key>spriteSourceSize</key>
			<string>{365,164}</string>
			<key>textureRect</key>
			<string>{{1,1},{289,164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-29,-4}</string>
			<key>spriteSize</key>
			<string>{289,156}</string>
			<key>spriteSourceSize</key>
			<string>{365,164}</string>
			<key>textureRect</key>
			<string>{{581,1},{289,156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-29,-2}</string>
			<key>spriteSize</key>
			<string>{287,160}</string>
			<key>spriteSourceSize</key>
			<string>{365,164}</string>
			<key>textureRect</key>
			<string>{{292,1},{287,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>15</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-33,-6}</string>
			<key>spriteSize</key>
			<string>{279,152}</string>
			<key>spriteSourceSize</key>
			<string>{365,164}</string>
			<key>textureRect</key>
			<string>{{459,612},{279,152}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>16</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-31,-6}</string>
			<key>spriteSize</key>
			<string>{281,152}</string>
			<key>spriteSourceSize</key>
			<string>{365,164}</string>
			<key>textureRect</key>
			<string>{{305,618},{281,152}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>17</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-32,-5}</string>
			<key>spriteSize</key>
			<string>{283,154}</string>
			<key>spriteSourceSize</key>
			<string>{365,164}</string>
			<key>textureRect</key>
			<string>{{590,317},{283,154}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>18</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-29,-3}</string>
			<key>spriteSize</key>
			<string>{287,158}</string>
			<key>spriteSourceSize</key>
			<string>{365,164}</string>
			<key>textureRect</key>
			<string>{{292,163},{287,158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>19</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-29,-7}</string>
			<key>spriteSize</key>
			<string>{287,150}</string>
			<key>spriteSourceSize</key>
			<string>{365,164}</string>
			<key>textureRect</key>
			<string>{{1,659},{287,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>20</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-29,-7}</string>
			<key>spriteSize</key>
			<string>{287,150}</string>
			<key>spriteSourceSize</key>
			<string>{365,164}</string>
			<key>textureRect</key>
			<string>{{153,659},{287,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>21</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-31,-7}</string>
			<key>spriteSize</key>
			<string>{285,150}</string>
			<key>spriteSourceSize</key>
			<string>{365,164}</string>
			<key>textureRect</key>
			<string>{{746,317},{285,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>22</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-32,-4}</string>
			<key>spriteSize</key>
			<string>{283,156}</string>
			<key>spriteSourceSize</key>
			<string>{365,164}</string>
			<key>textureRect</key>
			<string>{{581,159},{283,156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>23</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-29,-2}</string>
			<key>spriteSize</key>
			<string>{289,160}</string>
			<key>spriteSourceSize</key>
			<string>{365,164}</string>
			<key>textureRect</key>
			<string>{{1,167},{289,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>24</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-28,-7}</string>
			<key>spriteSize</key>
			<string>{287,150}</string>
			<key>spriteSourceSize</key>
			<string>{365,164}</string>
			<key>textureRect</key>
			<string>{{286,329},{287,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>25</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-30,-7}</string>
			<key>spriteSize</key>
			<string>{287,150}</string>
			<key>spriteSourceSize</key>
			<string>{365,164}</string>
			<key>textureRect</key>
			<string>{{438,323},{287,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>26</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-38,-8}</string>
			<key>spriteSize</key>
			<string>{273,146}</string>
			<key>spriteSourceSize</key>
			<string>{365,164}</string>
			<key>textureRect</key>
			<string>{{827,604},{273,146}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>27</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-46,-2}</string>
			<key>spriteSize</key>
			<string>{255,64}</string>
			<key>spriteSourceSize</key>
			<string>{365,164}</string>
			<key>textureRect</key>
			<string>{{1,948},{255,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>28</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-46,-2}</string>
			<key>spriteSize</key>
			<string>{255,64}</string>
			<key>spriteSourceSize</key>
			<string>{365,164}</string>
			<key>textureRect</key>
			<string>{{613,602},{255,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action20.pvr.ccz</string>
		<key>size</key>
		<string>{999,1013}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:a0c63df80cbec078ef26741c923e7be4:242bf28f0a4cf670a0e476d8d39151c9:98ec4b5f3da3b367b0df440471cccb39$</string>
		<key>textureFileName</key>
		<string>col_action20.pvr.ccz</string>
	</dict>
</dict>
</plist>
