<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/6/effect/col_action3/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-89}</string>
                <key>spriteSize</key>
                <string>{9,5}</string>
                <key>spriteSourceSize</key>
                <string>{243,225}</string>
                <key>textureRect</key>
                <string>{{1,1132},{9,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/6/effect/col_action3/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-64}</string>
                <key>spriteSize</key>
                <string>{171,97}</string>
                <key>spriteSourceSize</key>
                <string>{243,225}</string>
                <key>textureRect</key>
                <string>{{800,1054},{171,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/6/effect/col_action3/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-62}</string>
                <key>spriteSize</key>
                <string>{173,101}</string>
                <key>spriteSourceSize</key>
                <string>{243,225}</string>
                <key>textureRect</key>
                <string>{{905,863},{173,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/6/effect/col_action3/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-61}</string>
                <key>spriteSize</key>
                <string>{175,103}</string>
                <key>spriteSourceSize</key>
                <string>{243,225}</string>
                <key>textureRect</key>
                <string>{{800,877},{175,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/6/effect/col_action3/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-60}</string>
                <key>spriteSize</key>
                <string>{183,105}</string>
                <key>spriteSourceSize</key>
                <string>{243,225}</string>
                <key>textureRect</key>
                <string>{{693,877},{183,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/6/effect/col_action3/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-59}</string>
                <key>spriteSize</key>
                <string>{195,107}</string>
                <key>spriteSourceSize</key>
                <string>{243,225}</string>
                <key>textureRect</key>
                <string>{{905,1},{195,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/6/effect/col_action3/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{203,225}</string>
                <key>spriteSourceSize</key>
                <string>{243,225}</string>
                <key>textureRect</key>
                <string>{{1,905},{203,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/6/effect/col_action3/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{207,225}</string>
                <key>spriteSourceSize</key>
                <string>{243,225}</string>
                <key>textureRect</key>
                <string>{{1,678},{207,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/6/effect/col_action3/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{223,225}</string>
                <key>spriteSourceSize</key>
                <string>{243,225}</string>
                <key>textureRect</key>
                <string>{{228,1},{223,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/6/effect/col_action3/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{225,225}</string>
                <key>spriteSourceSize</key>
                <string>{243,225}</string>
                <key>textureRect</key>
                <string>{{1,1},{225,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/6/effect/col_action3/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{215,217}</string>
                <key>spriteSourceSize</key>
                <string>{243,225}</string>
                <key>textureRect</key>
                <string>{{686,1},{215,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/6/effect/col_action3/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{225,225}</string>
                <key>spriteSourceSize</key>
                <string>{243,225}</string>
                <key>textureRect</key>
                <string>{{1,228},{225,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/6/effect/col_action3/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-2}</string>
                <key>spriteSize</key>
                <string>{225,221}</string>
                <key>spriteSourceSize</key>
                <string>{243,225}</string>
                <key>textureRect</key>
                <string>{{1,455},{225,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/6/effect/col_action3/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-8}</string>
                <key>spriteSize</key>
                <string>{221,209}</string>
                <key>spriteSourceSize</key>
                <string>{243,225}</string>
                <key>textureRect</key>
                <string>{{228,461},{221,209}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/6/effect/col_action3/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-35}</string>
                <key>spriteSize</key>
                <string>{213,155}</string>
                <key>spriteSourceSize</key>
                <string>{243,225}</string>
                <key>textureRect</key>
                <string>{{439,335},{213,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/6/effect/col_action3/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-29}</string>
                <key>spriteSize</key>
                <string>{213,167}</string>
                <key>spriteSourceSize</key>
                <string>{243,225}</string>
                <key>textureRect</key>
                <string>{{210,684},{213,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/6/effect/col_action3/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-8}</string>
                <key>spriteSize</key>
                <string>{231,209}</string>
                <key>spriteSourceSize</key>
                <string>{243,225}</string>
                <key>textureRect</key>
                <string>{{228,228},{231,209}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/6/effect/col_action3/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-12}</string>
                <key>spriteSize</key>
                <string>{231,201}</string>
                <key>spriteSourceSize</key>
                <string>{243,225}</string>
                <key>textureRect</key>
                <string>{{453,1},{231,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/6/effect/col_action3/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-37}</string>
                <key>spriteSize</key>
                <string>{225,151}</string>
                <key>spriteSourceSize</key>
                <string>{243,225}</string>
                <key>textureRect</key>
                <string>{{206,980},{225,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/6/effect/col_action3/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-50}</string>
                <key>spriteSize</key>
                <string>{213,125}</string>
                <key>spriteSourceSize</key>
                <string>{243,225}</string>
                <key>textureRect</key>
                <string>{{210,853},{213,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/6/effect/col_action3/20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-49}</string>
                <key>spriteSize</key>
                <string>{213,127}</string>
                <key>spriteSourceSize</key>
                <string>{243,225}</string>
                <key>textureRect</key>
                <string>{{887,218},{213,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/6/effect/col_action3/21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-49}</string>
                <key>spriteSize</key>
                <string>{213,127}</string>
                <key>spriteSourceSize</key>
                <string>{243,225}</string>
                <key>textureRect</key>
                <string>{{439,625},{213,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/6/effect/col_action3/22</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-49}</string>
                <key>spriteSize</key>
                <string>{213,127}</string>
                <key>spriteSourceSize</key>
                <string>{243,225}</string>
                <key>textureRect</key>
                <string>{{564,885},{213,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/6/effect/col_action3/23</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-48}</string>
                <key>spriteSize</key>
                <string>{213,129}</string>
                <key>spriteSourceSize</key>
                <string>{243,225}</string>
                <key>textureRect</key>
                <string>{{869,433},{213,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/6/effect/col_action3/24</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-48}</string>
                <key>spriteSize</key>
                <string>{215,129}</string>
                <key>spriteSourceSize</key>
                <string>{243,225}</string>
                <key>textureRect</key>
                <string>{{453,204},{215,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/6/effect/col_action3/25</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-48}</string>
                <key>spriteSize</key>
                <string>{215,129}</string>
                <key>spriteSourceSize</key>
                <string>{243,225}</string>
                <key>textureRect</key>
                <string>{{670,218},{215,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/6/effect/col_action3/26</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-48}</string>
                <key>spriteSize</key>
                <string>{213,129}</string>
                <key>spriteSourceSize</key>
                <string>{243,225}</string>
                <key>textureRect</key>
                <string>{{654,615},{213,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/6/effect/col_action3/27</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-48}</string>
                <key>spriteSize</key>
                <string>{213,129}</string>
                <key>spriteSourceSize</key>
                <string>{243,225}</string>
                <key>textureRect</key>
                <string>{{425,754},{213,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/6/effect/col_action3/28</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-48}</string>
                <key>spriteSize</key>
                <string>{213,129}</string>
                <key>spriteSourceSize</key>
                <string>{243,225}</string>
                <key>textureRect</key>
                <string>{{433,885},{213,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/6/effect/col_action3/29</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-48}</string>
                <key>spriteSize</key>
                <string>{213,129}</string>
                <key>spriteSourceSize</key>
                <string>{243,225}</string>
                <key>textureRect</key>
                <string>{{869,648},{213,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/6/effect/col_action3/30</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-47}</string>
                <key>spriteSize</key>
                <string>{213,131}</string>
                <key>spriteSourceSize</key>
                <string>{243,225}</string>
                <key>textureRect</key>
                <string>{{439,492},{213,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/6/effect/col_action3/31</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-47}</string>
                <key>spriteSize</key>
                <string>{213,131}</string>
                <key>spriteSourceSize</key>
                <string>{243,225}</string>
                <key>textureRect</key>
                <string>{{654,349},{213,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/6/effect/col_action3/32</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-47}</string>
                <key>spriteSize</key>
                <string>{213,131}</string>
                <key>spriteSourceSize</key>
                <string>{243,225}</string>
                <key>textureRect</key>
                <string>{{654,482},{213,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/6/effect/col_action3/33</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-48}</string>
                <key>spriteSize</key>
                <string>{211,129}</string>
                <key>spriteSourceSize</key>
                <string>{243,225}</string>
                <key>textureRect</key>
                <string>{{654,746},{211,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action30.pvr.ccz</string>
            <key>size</key>
            <string>{1015,1152}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c861c57f62a85be00ab847b55e876fb5:32bd30fde449b05c4ac9f089650e8e21:e44ba353004d0fd8b165f5c6960cb7e8$</string>
            <key>textureFileName</key>
            <string>col_action30.pvr.ccz</string>
        </dict>
    </dict>
</plist>
