<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/6/effect/col_action1/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,81}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{272,258}</string>
                <key>textureRect</key>
                <string>{{411,1703},{14,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/6/effect/col_action1/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,88}</string>
                <key>spriteSize</key>
                <string>{12,16}</string>
                <key>spriteSourceSize</key>
                <string>{272,258}</string>
                <key>textureRect</key>
                <string>{{395,1255},{12,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/6/effect/col_action1/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,46}</string>
                <key>spriteSize</key>
                <string>{58,102}</string>
                <key>spriteSourceSize</key>
                <string>{272,258}</string>
                <key>textureRect</key>
                <string>{{395,1179},{58,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/6/effect/col_action1/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,29}</string>
                <key>spriteSize</key>
                <string>{68,136}</string>
                <key>spriteSourceSize</key>
                <string>{272,258}</string>
                <key>textureRect</key>
                <string>{{411,1565},{68,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/6/effect/col_action1/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,16}</string>
                <key>spriteSize</key>
                <string>{74,166}</string>
                <key>spriteSourceSize</key>
                <string>{272,258}</string>
                <key>textureRect</key>
                <string>{{395,1011},{74,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/6/effect/col_action1/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,13}</string>
                <key>spriteSize</key>
                <string>{84,160}</string>
                <key>spriteSourceSize</key>
                <string>{272,258}</string>
                <key>textureRect</key>
                <string>{{423,1403},{84,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/6/effect/col_action1/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,18}</string>
                <key>spriteSize</key>
                <string>{86,162}</string>
                <key>spriteSourceSize</key>
                <string>{272,258}</string>
                <key>textureRect</key>
                <string>{{423,1239},{86,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/6/effect/col_action1/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-4}</string>
                <key>spriteSize</key>
                <string>{144,208}</string>
                <key>spriteSourceSize</key>
                <string>{272,258}</string>
                <key>textureRect</key>
                <string>{{233,1531},{144,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/6/effect/col_action1/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-8}</string>
                <key>spriteSize</key>
                <string>{166,218}</string>
                <key>spriteSourceSize</key>
                <string>{272,258}</string>
                <key>textureRect</key>
                <string>{{249,659},{166,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/6/effect/col_action1/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{192,250}</string>
                <key>spriteSourceSize</key>
                <string>{272,258}</string>
                <key>textureRect</key>
                <string>{{197,1279},{192,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/6/effect/col_action1/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{200,256}</string>
                <key>spriteSourceSize</key>
                <string>{272,258}</string>
                <key>textureRect</key>
                <string>{{1,1021},{200,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/6/effect/col_action1/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{208,230}</string>
                <key>spriteSourceSize</key>
                <string>{272,258}</string>
                <key>textureRect</key>
                <string>{{1,1531},{208,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/6/effect/col_action1/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{228,258}</string>
                <key>spriteSourceSize</key>
                <string>{272,258}</string>
                <key>textureRect</key>
                <string>{{253,255},{228,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/6/effect/col_action1/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{246,252}</string>
                <key>spriteSourceSize</key>
                <string>{272,258}</string>
                <key>textureRect</key>
                <string>{{1,513},{246,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/6/effect/col_action1/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{248,256}</string>
                <key>spriteSourceSize</key>
                <string>{272,258}</string>
                <key>textureRect</key>
                <string>{{1,1},{248,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/6/effect/col_action1/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{252,252}</string>
                <key>spriteSourceSize</key>
                <string>{272,258}</string>
                <key>textureRect</key>
                <string>{{251,1},{252,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/6/effect/col_action1/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{252,250}</string>
                <key>spriteSourceSize</key>
                <string>{272,258}</string>
                <key>textureRect</key>
                <string>{{1,259},{252,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/6/effect/col_action1/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{252,238}</string>
                <key>spriteSourceSize</key>
                <string>{272,258}</string>
                <key>textureRect</key>
                <string>{{1,767},{252,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/6/effect/col_action1/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-20}</string>
                <key>spriteSize</key>
                <string>{250,194}</string>
                <key>spriteSourceSize</key>
                <string>{272,258}</string>
                <key>textureRect</key>
                <string>{{1,1279},{250,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/6/effect/col_action1/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-20}</string>
                <key>spriteSize</key>
                <string>{246,190}</string>
                <key>spriteSourceSize</key>
                <string>{272,258}</string>
                <key>textureRect</key>
                <string>{{203,1021},{246,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/6/effect/col_action1/20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-24}</string>
                <key>spriteSize</key>
                <string>{218,182}</string>
                <key>spriteSourceSize</key>
                <string>{272,258}</string>
                <key>textureRect</key>
                <string>{{241,827},{218,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/6/effect/col_action1/21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-20}</string>
                <key>spriteSize</key>
                <string>{222,172}</string>
                <key>spriteSourceSize</key>
                <string>{272,258}</string>
                <key>textureRect</key>
                <string>{{253,485},{222,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/6/effect/col_action1/22</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-86}</string>
                <key>spriteSize</key>
                <string>{204,42}</string>
                <key>spriteSourceSize</key>
                <string>{272,258}</string>
                <key>textureRect</key>
                <string>{{469,659},{204,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/6/effect/col_action1/23</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-90}</string>
                <key>spriteSize</key>
                <string>{172,34}</string>
                <key>spriteSourceSize</key>
                <string>{272,258}</string>
                <key>textureRect</key>
                <string>{{477,485},{172,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/6/effect/col_action1/24</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-92}</string>
                <key>spriteSize</key>
                <string>{194,30}</string>
                <key>spriteSourceSize</key>
                <string>{272,258}</string>
                <key>textureRect</key>
                <string>{{391,1269},{194,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/6/effect/col_action1/25</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-92}</string>
                <key>spriteSize</key>
                <string>{196,30}</string>
                <key>spriteSourceSize</key>
                <string>{272,258}</string>
                <key>textureRect</key>
                <string>{{379,1531},{196,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/6/effect/col_action1/26</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-89}</string>
                <key>spriteSize</key>
                <string>{166,20}</string>
                <key>spriteSourceSize</key>
                <string>{272,258}</string>
                <key>textureRect</key>
                <string>{{481,1565},{166,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/6/effect/col_action1/27</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-84,-93}</string>
                <key>spriteSize</key>
                <string>{18,14}</string>
                <key>spriteSourceSize</key>
                <string>{272,258}</string>
                <key>textureRect</key>
                <string>{{395,1239},{18,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/6/effect/col_action1/28</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-84,-93}</string>
                <key>spriteSize</key>
                <string>{18,14}</string>
                <key>spriteSourceSize</key>
                <string>{272,258}</string>
                <key>textureRect</key>
                <string>{{391,1465},{18,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action10.pvr.ccz</string>
            <key>size</key>
            <string>{512,1740}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4a5760c401b41c036074e1b7fe90e9d:5d1651c974f193de2aea60b85fe8ee8d:fd6dfe3ee94267230ed6425290acf6b5$</string>
            <key>textureFileName</key>
            <string>col_action10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
