<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/317/capsule2/ashley_cap2_body</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,75}</string>
                <key>spriteSourceSize</key>
                <string>{51,75}</string>
                <key>textureRect</key>
                <string>{{671,1},{51,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/317/capsule2/ashley_cap2_body_light</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,78}</string>
                <key>spriteSourceSize</key>
                <string>{43,78}</string>
                <key>textureRect</key>
                <string>{{585,1},{43,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/317/capsule2/ashley_cap2_eye1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,26}</string>
                <key>spriteSourceSize</key>
                <string>{33,26}</string>
                <key>textureRect</key>
                <string>{{849,42},{33,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/317/capsule2/ashley_cap2_eye2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,25}</string>
                <key>spriteSourceSize</key>
                <string>{33,25}</string>
                <key>textureRect</key>
                <string>{{853,1},{33,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/317/capsule2/ashley_cap2_head</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,119}</string>
                <key>spriteSourceSize</key>
                <string>{151,119}</string>
                <key>textureRect</key>
                <string>{{154,1},{151,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/317/capsule2/ashley_cap2_head_light</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{407,1},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/317/capsule2/ashley_cap2_headatt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,123}</string>
                <key>spriteSourceSize</key>
                <string>{151,123}</string>
                <key>textureRect</key>
                <string>{{1,1},{151,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/317/capsule2/ashley_cap2_l_arm1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,44}</string>
                <key>spriteSourceSize</key>
                <string>{39,44}</string>
                <key>textureRect</key>
                <string>{{767,1},{39,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/317/capsule2/ashley_cap2_l_arm1_light</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,34}</string>
                <key>spriteSourceSize</key>
                <string>{39,34}</string>
                <key>textureRect</key>
                <string>{{797,80},{39,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/317/capsule2/ashley_cap2_l_arm2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,36}</string>
                <key>spriteSourceSize</key>
                <string>{39,36}</string>
                <key>textureRect</key>
                <string>{{808,42},{39,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/317/capsule2/ashley_cap2_l_arm2_light</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,19}</string>
                <key>spriteSourceSize</key>
                <string>{32,19}</string>
                <key>textureRect</key>
                <string>{{407,103},{32,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/317/capsule2/ashley_cap2_l_arm3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,45}</string>
                <key>spriteSourceSize</key>
                <string>{42,45}</string>
                <key>textureRect</key>
                <string>{{638,79},{42,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/317/capsule2/ashley_cap2_l_arm3_light</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,45}</string>
                <key>spriteSourceSize</key>
                <string>{33,45}</string>
                <key>textureRect</key>
                <string>{{723,78},{33,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/317/capsule2/ashley_cap2_l_leg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,49}</string>
                <key>spriteSourceSize</key>
                <string>{37,49}</string>
                <key>textureRect</key>
                <string>{{758,58},{37,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/317/capsule2/ashley_cap2_l_leg_light</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,37}</string>
                <key>spriteSourceSize</key>
                <string>{36,37}</string>
                <key>textureRect</key>
                <string>{{833,80},{36,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/317/capsule2/ashley_cap2_l_wing</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,98}</string>
                <key>spriteSourceSize</key>
                <string>{108,98}</string>
                <key>textureRect</key>
                <string>{{307,1},{108,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/317/capsule2/ashley_cap2_l_wing_light</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,51}</string>
                <key>spriteSourceSize</key>
                <string>{43,51}</string>
                <key>textureRect</key>
                <string>{{585,81},{43,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/317/capsule2/ashley_cap2_r_arm</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,55}</string>
                <key>spriteSourceSize</key>
                <string>{41,55}</string>
                <key>textureRect</key>
                <string>{{724,1},{41,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/317/capsule2/ashley_cap2_r_arm_light</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,45}</string>
                <key>spriteSourceSize</key>
                <string>{39,45}</string>
                <key>textureRect</key>
                <string>{{682,78},{39,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/317/capsule2/ashley_cap2_r_leg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,43}</string>
                <key>spriteSourceSize</key>
                <string>{39,43}</string>
                <key>textureRect</key>
                <string>{{808,1},{39,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/317/capsule2/ashley_cap2_r_leg_light</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,18}</string>
                <key>spriteSourceSize</key>
                <string>{19,18}</string>
                <key>textureRect</key>
                <string>{{441,103},{19,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/317/capsule2/ashley_cap2_r_wing</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,98}</string>
                <key>spriteSourceSize</key>
                <string>{74,98}</string>
                <key>textureRect</key>
                <string>{{509,1},{74,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/317/capsule2/ashley_cap2_tail</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,39}</string>
                <key>spriteSourceSize</key>
                <string>{76,39}</string>
                <key>textureRect</key>
                <string>{{630,1},{76,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/317/capsule2/ashley_cap2_tail_light</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,22}</string>
                <key>spriteSourceSize</key>
                <string>{66,22}</string>
                <key>textureRect</key>
                <string>{{509,101},{66,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>capsule2.pvr.ccz</string>
            <key>size</key>
            <string>{879,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14612bef0a18aaaef8e683c7b5abbe93:8e8eb44820ba13679c1166a0fb9babff:d1d65c8fb33228e606b94bb79355db47$</string>
            <key>textureFileName</key>
            <string>capsule2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
