<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3357/advent/back thorn_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,152}</string>
                <key>spriteSourceSize</key>
                <string>{104,160}</string>
                <key>textureRect</key>
                <string>{{1541,563},{96,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3357/advent/back thorn_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,193}</string>
                <key>spriteSourceSize</key>
                <string>{114,201}</string>
                <key>textureRect</key>
                <string>{{1588,199},{106,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3357/advent/back thorn_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,164}</string>
                <key>spriteSourceSize</key>
                <string>{84,172}</string>
                <key>textureRect</key>
                <string>{{870,799},{76,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3357/advent/back thorn_4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,179}</string>
                <key>spriteSourceSize</key>
                <string>{154,187}</string>
                <key>textureRect</key>
                <string>{{1537,661},{146,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3357/advent/body_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,182}</string>
                <key>spriteSourceSize</key>
                <string>{327,190}</string>
                <key>textureRect</key>
                <string>{{1215,914},{319,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3357/advent/effect_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,176}</string>
                <key>spriteSourceSize</key>
                <string>{245,184}</string>
                <key>textureRect</key>
                <string>{{1011,1232},{237,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3357/advent/effect_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,494}</string>
                <key>spriteSourceSize</key>
                <string>{231,502}</string>
                <key>textureRect</key>
                <string>{{786,878},{223,494}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3357/advent/effect_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,167}</string>
                <key>spriteSourceSize</key>
                <string>{161,175}</string>
                <key>textureRect</key>
                <string>{{1541,394},{153,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3357/advent/effect_4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,288}</string>
                <key>spriteSourceSize</key>
                <string>{327,296}</string>
                <key>textureRect</key>
                <string>{{1216,624},{319,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3357/advent/effect_5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,256}</string>
                <key>spriteSourceSize</key>
                <string>{112,264}</string>
                <key>textureRect</key>
                <string>{{1011,965},{104,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3357/advent/effect_6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,323}</string>
                <key>spriteSourceSize</key>
                <string>{291,325}</string>
                <key>textureRect</key>
                <string>{{1216,335},{287,323}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3357/advent/effect_7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{875,867}</string>
                <key>spriteSourceSize</key>
                <string>{883,875}</string>
                <key>textureRect</key>
                <string>{{1,1},{875,867}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3357/advent/effect_8</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{538,783}</string>
                <key>spriteSourceSize</key>
                <string>{546,791}</string>
                <key>textureRect</key>
                <string>{{1,878},{538,783}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3357/advent/hair_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,379}</string>
                <key>spriteSourceSize</key>
                <string>{352,387}</string>
                <key>textureRect</key>
                <string>{{870,418},{344,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3357/advent/head_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,164}</string>
                <key>spriteSourceSize</key>
                <string>{185,172}</string>
                <key>textureRect</key>
                <string>{{1036,799},{177,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3357/advent/horn_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,263}</string>
                <key>spriteSourceSize</key>
                <string>{167,271}</string>
                <key>textureRect</key>
                <string>{{1536,967},{159,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3357/advent/horn_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,253}</string>
                <key>spriteSourceSize</key>
                <string>{90,261}</string>
                <key>textureRect</key>
                <string>{{1280,1098},{82,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3357/advent/leg_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,139}</string>
                <key>spriteSourceSize</key>
                <string>{270,147}</string>
                <key>textureRect</key>
                <string>{{870,1},{262,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3357/advent/leg_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,91}</string>
                <key>spriteSourceSize</key>
                <string>{98,99}</string>
                <key>textureRect</key>
                <string>{{1117,965},{90,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3357/advent/leg_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{108,166}</string>
                <key>spriteSourceSize</key>
                <string>{116,174}</string>
                <key>textureRect</key>
                <string>{{1417,1182},{108,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3357/advent/leg_4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{80,144}</string>
                <key>spriteSourceSize</key>
                <string>{88,154}</string>
                <key>textureRect</key>
                <string>{{996,335},{80,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3357/advent/leg_5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{165,168}</string>
                <key>spriteSourceSize</key>
                <string>{173,176}</string>
                <key>textureRect</key>
                <string>{{1250,1232},{165,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3357/advent/leg_6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,161}</string>
                <key>spriteSourceSize</key>
                <string>{129,169}</string>
                <key>textureRect</key>
                <string>{{1117,1098},{121,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3357/advent/leg_7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,124}</string>
                <key>spriteSourceSize</key>
                <string>{159,132}</string>
                <key>textureRect</key>
                <string>{{870,265},{151,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3357/advent/leg_8</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,146}</string>
                <key>spriteSourceSize</key>
                <string>{131,154}</string>
                <key>textureRect</key>
                <string>{{1537,842},{123,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3357/advent/neck_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,196}</string>
                <key>spriteSourceSize</key>
                <string>{115,204}</string>
                <key>textureRect</key>
                <string>{{1588,1},{107,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3357/advent/tail_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,575}</string>
                <key>spriteSourceSize</key>
                <string>{340,583}</string>
                <key>textureRect</key>
                <string>{{1011,1},{332,575}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>advent.pvr.ccz</string>
            <key>size</key>
            <string>{1696,1417}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38d6a6bf0216c820b889942175757a98:9840aa336d62486193925195ada0f9da:ffccfea3f11273cd9a437861ecc6c056$</string>
            <key>textureFileName</key>
            <string>advent.pvr.ccz</string>
        </dict>
    </dict>
</plist>
