<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/339/profile/1</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,78}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{60,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dragon/339/profile/2</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{66,66}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{66,66}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dragon/339/profile/3</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{68,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dragon/339/profile/4</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{64,70}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{64,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>profile.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f3b201631c0337898bf6f17a8aa4c26:1a46d394555a0dec564dd65fd4c74a24:03c072fd1c1f67b4883b34fedb7a3213$</string>
            <key>textureFileName</key>
            <string>profile.pvr.ccz</string>
        </dict>
    </dict>
</plist>
