<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster/250/effect/at1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,480}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/250/effect/at2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,0}</string>
                <key>spriteSize</key>
                <string>{718,480}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{1,965},{718,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/250/effect/at3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,480}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{1,483},{800,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>effect.pvr.ccz</string>
            <key>size</key>
            <string>{802,1446}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92a3b0c028ea3723b46b1fb31386d159:77b04e8981947094f45d010357aaaded:e0fdcd92bbdb8ab6858982d39ba3f2d9$</string>
            <key>textureFileName</key>
            <string>effect.pvr.ccz</string>
        </dict>
    </dict>
</plist>
