<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3259/effect/col_action1/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-84}</string>
                <key>spriteSize</key>
                <string>{76,74}</string>
                <key>spriteSourceSize</key>
                <string>{322,328}</string>
                <key>textureRect</key>
                <string>{{391,575},{76,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3259/effect/col_action1/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-10}</string>
                <key>spriteSize</key>
                <string>{76,74}</string>
                <key>spriteSourceSize</key>
                <string>{322,328}</string>
                <key>textureRect</key>
                <string>{{391,651},{76,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3259/effect/col_action1/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,27}</string>
                <key>spriteSize</key>
                <string>{76,74}</string>
                <key>spriteSourceSize</key>
                <string>{322,328}</string>
                <key>textureRect</key>
                <string>{{285,669},{76,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3259/effect/col_action1/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,38}</string>
                <key>spriteSize</key>
                <string>{76,74}</string>
                <key>spriteSourceSize</key>
                <string>{322,328}</string>
                <key>textureRect</key>
                <string>{{233,1125},{76,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3259/effect/col_action1/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,24}</string>
                <key>spriteSize</key>
                <string>{76,74}</string>
                <key>spriteSourceSize</key>
                <string>{322,328}</string>
                <key>textureRect</key>
                <string>{{311,1125},{76,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3259/effect/col_action1/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,4}</string>
                <key>spriteSize</key>
                <string>{76,74}</string>
                <key>spriteSourceSize</key>
                <string>{322,328}</string>
                <key>textureRect</key>
                <string>{{389,1125},{76,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3259/effect/col_action1/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{76,74}</string>
                <key>spriteSourceSize</key>
                <string>{322,328}</string>
                <key>textureRect</key>
                <string>{{285,745},{76,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3259/effect/col_action1/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,3}</string>
                <key>spriteSize</key>
                <string>{76,74}</string>
                <key>spriteSourceSize</key>
                <string>{322,328}</string>
                <key>textureRect</key>
                <string>{{361,745},{76,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3259/effect/col_action1/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{230,268}</string>
                <key>spriteSourceSize</key>
                <string>{322,328}</string>
                <key>textureRect</key>
                <string>{{1,865},{230,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3259/effect/col_action1/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,15}</string>
                <key>spriteSize</key>
                <string>{214,210}</string>
                <key>spriteSourceSize</key>
                <string>{322,328}</string>
                <key>textureRect</key>
                <string>{{295,359},{214,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3259/effect/col_action1/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,22}</string>
                <key>spriteSize</key>
                <string>{196,122}</string>
                <key>spriteSourceSize</key>
                <string>{322,328}</string>
                <key>textureRect</key>
                <string>{{303,235},{196,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3259/effect/col_action1/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,16}</string>
                <key>spriteSize</key>
                <string>{92,94}</string>
                <key>spriteSourceSize</key>
                <string>{322,328}</string>
                <key>textureRect</key>
                <string>{{295,575},{92,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3259/effect/col_action1/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,4}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{322,328}</string>
                <key>textureRect</key>
                <string>{{437,727},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3259/effect/col_action1/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,4}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{322,328}</string>
                <key>textureRect</key>
                <string>{{437,797},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3259/effect/col_action1/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,4}</string>
                <key>spriteSize</key>
                <string>{66,64}</string>
                <key>spriteSourceSize</key>
                <string>{322,328}</string>
                <key>textureRect</key>
                <string>{{1,1135},{66,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3259/effect/col_action1/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,4}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{322,328}</string>
                <key>textureRect</key>
                <string>{{69,1135},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3259/effect/col_action1/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{322,328}</string>
                <key>textureRect</key>
                <string>{{135,1135},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3259/effect/col_action1/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,13}</string>
                <key>spriteSize</key>
                <string>{198,232}</string>
                <key>spriteSourceSize</key>
                <string>{322,328}</string>
                <key>textureRect</key>
                <string>{{303,1},{198,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3259/effect/col_action1/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-1}</string>
                <key>spriteSize</key>
                <string>{258,262}</string>
                <key>spriteSourceSize</key>
                <string>{322,328}</string>
                <key>textureRect</key>
                <string>{{233,865},{258,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3259/effect/col_action1/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-1}</string>
                <key>spriteSize</key>
                <string>{276,282}</string>
                <key>spriteSourceSize</key>
                <string>{322,328}</string>
                <key>textureRect</key>
                <string>{{1,587},{276,282}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3259/effect/col_action1/20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-1}</string>
                <key>spriteSize</key>
                <string>{286,292}</string>
                <key>spriteSourceSize</key>
                <string>{322,328}</string>
                <key>textureRect</key>
                <string>{{1,299},{286,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3259/effect/col_action1/21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-2}</string>
                <key>spriteSize</key>
                <string>{296,300}</string>
                <key>spriteSourceSize</key>
                <string>{322,328}</string>
                <key>textureRect</key>
                <string>{{1,1},{296,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action10.pvr.ccz</string>
            <key>size</key>
            <string>{506,1200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc7d9294ece776c0712ea748a56c389b:65e0f92818dc2b4831e6db315987d3cc:fd6dfe3ee94267230ed6425290acf6b5$</string>
            <key>textureFileName</key>
            <string>col_action10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
