<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/769/effect/col_action1/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,0}</string>
                <key>spriteSize</key>
                <string>{65,57}</string>
                <key>spriteSourceSize</key>
                <string>{291,331}</string>
                <key>textureRect</key>
                <string>{{991,660},{65,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/769/effect/col_action1/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,8}</string>
                <key>spriteSize</key>
                <string>{93,63}</string>
                <key>spriteSourceSize</key>
                <string>{291,331}</string>
                <key>textureRect</key>
                <string>{{443,704},{93,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/769/effect/col_action1/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,15}</string>
                <key>spriteSize</key>
                <string>{115,69}</string>
                <key>spriteSourceSize</key>
                <string>{291,331}</string>
                <key>textureRect</key>
                <string>{{991,543},{115,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/769/effect/col_action1/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,24}</string>
                <key>spriteSize</key>
                <string>{133,77}</string>
                <key>spriteSourceSize</key>
                <string>{291,331}</string>
                <key>textureRect</key>
                <string>{{711,792},{133,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/769/effect/col_action1/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,31}</string>
                <key>spriteSize</key>
                <string>{151,89}</string>
                <key>spriteSourceSize</key>
                <string>{291,331}</string>
                <key>textureRect</key>
                <string>{{1284,618},{151,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/769/effect/col_action1/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,37}</string>
                <key>spriteSize</key>
                <string>{167,97}</string>
                <key>spriteSourceSize</key>
                <string>{291,331}</string>
                <key>textureRect</key>
                <string>{{443,535},{167,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/769/effect/col_action1/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,23}</string>
                <key>spriteSize</key>
                <string>{173,127}</string>
                <key>spriteSourceSize</key>
                <string>{291,331}</string>
                <key>textureRect</key>
                <string>{{536,792},{173,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/769/effect/col_action1/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,17}</string>
                <key>spriteSize</key>
                <string>{175,141}</string>
                <key>spriteSourceSize</key>
                <string>{291,331}</string>
                <key>textureRect</key>
                <string>{{1196,750},{175,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/769/effect/col_action1/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,18}</string>
                <key>spriteSize</key>
                <string>{179,143}</string>
                <key>spriteSourceSize</key>
                <string>{291,331}</string>
                <key>textureRect</key>
                <string>{{234,784},{179,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/769/effect/col_action1/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,12}</string>
                <key>spriteSize</key>
                <string>{179,153}</string>
                <key>spriteSourceSize</key>
                <string>{291,331}</string>
                <key>textureRect</key>
                <string>{{792,776},{179,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/769/effect/col_action1/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-8}</string>
                <key>spriteSize</key>
                <string>{231,197}</string>
                <key>spriteSourceSize</key>
                <string>{291,331}</string>
                <key>textureRect</key>
                <string>{{1,728},{231,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/769/effect/col_action1/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-8}</string>
                <key>spriteSize</key>
                <string>{231,197}</string>
                <key>spriteSourceSize</key>
                <string>{291,331}</string>
                <key>textureRect</key>
                <string>{{792,543},{231,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/769/effect/col_action1/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,24}</string>
                <key>spriteSize</key>
                <string>{237,219}</string>
                <key>spriteSourceSize</key>
                <string>{291,331}</string>
                <key>textureRect</key>
                <string>{{1063,272},{237,219}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/769/effect/col_action1/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-2}</string>
                <key>spriteSize</key>
                <string>{261,269}</string>
                <key>spriteSourceSize</key>
                <string>{291,331}</string>
                <key>textureRect</key>
                <string>{{667,1},{261,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/769/effect/col_action1/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-2}</string>
                <key>spriteSize</key>
                <string>{261,269}</string>
                <key>spriteSourceSize</key>
                <string>{291,331}</string>
                <key>textureRect</key>
                <string>{{930,1},{261,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/769/effect/col_action1/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{269,331}</string>
                <key>spriteSourceSize</key>
                <string>{291,331}</string>
                <key>textureRect</key>
                <string>{{1,1},{269,331}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/769/effect/col_action1/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,20}</string>
                <key>spriteSize</key>
                <string>{249,269}</string>
                <key>spriteSourceSize</key>
                <string>{291,331}</string>
                <key>textureRect</key>
                <string>{{1193,1},{249,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/769/effect/col_action1/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,19}</string>
                <key>spriteSize</key>
                <string>{247,269}</string>
                <key>spriteSourceSize</key>
                <string>{291,331}</string>
                <key>textureRect</key>
                <string>{{543,272},{247,269}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/769/effect/col_action1/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,11}</string>
                <key>spriteSize</key>
                <string>{203,173}</string>
                <key>spriteSourceSize</key>
                <string>{291,331}</string>
                <key>textureRect</key>
                <string>{{991,750},{203,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/769/effect/col_action1/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-11}</string>
                <key>spriteSize</key>
                <string>{247,191}</string>
                <key>spriteSourceSize</key>
                <string>{291,331}</string>
                <key>textureRect</key>
                <string>{{1,535},{247,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/769/effect/col_action1/20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-11}</string>
                <key>spriteSize</key>
                <string>{247,191}</string>
                <key>spriteSourceSize</key>
                <string>{291,331}</string>
                <key>textureRect</key>
                <string>{{250,535},{247,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/769/effect/col_action1/21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,24}</string>
                <key>spriteSize</key>
                <string>{237,219}</string>
                <key>spriteSourceSize</key>
                <string>{291,331}</string>
                <key>textureRect</key>
                <string>{{1063,511},{237,219}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/769/effect/col_action1/22</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-2}</string>
                <key>spriteSize</key>
                <string>{261,269}</string>
                <key>spriteSourceSize</key>
                <string>{291,331}</string>
                <key>textureRect</key>
                <string>{{1,272},{261,269}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/769/effect/col_action1/23</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-2}</string>
                <key>spriteSize</key>
                <string>{261,269}</string>
                <key>spriteSourceSize</key>
                <string>{291,331}</string>
                <key>textureRect</key>
                <string>{{272,272},{261,269}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/769/effect/col_action1/24</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{269,331}</string>
                <key>spriteSourceSize</key>
                <string>{291,331}</string>
                <key>textureRect</key>
                <string>{{334,1},{269,331}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/769/effect/col_action1/25</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,20}</string>
                <key>spriteSize</key>
                <string>{247,269}</string>
                <key>spriteSourceSize</key>
                <string>{291,331}</string>
                <key>textureRect</key>
                <string>{{814,272},{247,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/769/effect/col_action1/26</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,19}</string>
                <key>spriteSize</key>
                <string>{247,269}</string>
                <key>spriteSourceSize</key>
                <string>{291,331}</string>
                <key>textureRect</key>
                <string>{{543,521},{247,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/769/effect/col_action1/27</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-4}</string>
                <key>spriteSize</key>
                <string>{171,149}</string>
                <key>spriteSourceSize</key>
                <string>{291,331}</string>
                <key>textureRect</key>
                <string>{{1284,272},{171,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/769/effect/col_action1/28</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-2}</string>
                <key>spriteSize</key>
                <string>{171,147}</string>
                <key>spriteSourceSize</key>
                <string>{291,331}</string>
                <key>textureRect</key>
                <string>{{1284,445},{171,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/769/effect/col_action1/29</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,-13}</string>
                <key>spriteSize</key>
                <string>{133,119}</string>
                <key>spriteSourceSize</key>
                <string>{291,331}</string>
                <key>textureRect</key>
                <string>{{415,784},{133,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action10.pvr.ccz</string>
            <key>size</key>
            <string>{1443,930}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f44ffe490cf6f23b4c641cbc81dcfbfc:aebe8503d0ede2c0c5c388f3aa40b567:fd6dfe3ee94267230ed6425290acf6b5$</string>
            <key>textureFileName</key>
            <string>col_action10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
