<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3019/effect/col_action2/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,4}</string>
                <key>spriteSize</key>
                <string>{159,115}</string>
                <key>spriteSourceSize</key>
                <string>{267,127}</string>
                <key>textureRect</key>
                <string>{{130,291},{159,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3019/effect/col_action2/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{161,123}</string>
                <key>spriteSourceSize</key>
                <string>{267,127}</string>
                <key>textureRect</key>
                <string>{{1,130},{161,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3019/effect/col_action2/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{161,127}</string>
                <key>spriteSourceSize</key>
                <string>{267,127}</string>
                <key>textureRect</key>
                <string>{{333,1},{161,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3019/effect/col_action2/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{159,127}</string>
                <key>spriteSourceSize</key>
                <string>{267,127}</string>
                <key>textureRect</key>
                <string>{{1,293},{159,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3019/effect/col_action2/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{165,127}</string>
                <key>spriteSourceSize</key>
                <string>{267,127}</string>
                <key>textureRect</key>
                <string>{{1,1},{165,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3019/effect/col_action2/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{163,127}</string>
                <key>spriteSourceSize</key>
                <string>{267,127}</string>
                <key>textureRect</key>
                <string>{{168,1},{163,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3019/effect/col_action2/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,4}</string>
                <key>spriteSize</key>
                <string>{147,115}</string>
                <key>spriteSourceSize</key>
                <string>{267,127}</string>
                <key>textureRect</key>
                <string>{{380,130},{147,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3019/effect/col_action2/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{151,123}</string>
                <key>spriteSourceSize</key>
                <string>{267,127}</string>
                <key>textureRect</key>
                <string>{{255,130},{151,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3019/effect/col_action2/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{155,127}</string>
                <key>spriteSourceSize</key>
                <string>{267,127}</string>
                <key>textureRect</key>
                <string>{{247,291},{155,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3019/effect/col_action2/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{159,127}</string>
                <key>spriteSourceSize</key>
                <string>{267,127}</string>
                <key>textureRect</key>
                <string>{{126,130},{159,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action20.pvr.ccz</string>
            <key>size</key>
            <string>{496,453}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1e85ad0ef5d49fa79b52c1b35f217ad:429351e14d5acc6c89987353afb6a8bd:98ec4b5f3da3b367b0df440471cccb39$</string>
            <key>textureFileName</key>
            <string>col_action20.pvr.ccz</string>
        </dict>
    </dict>
</plist>
