<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/leona/enchant/bt_select_off</key>
            <dict>
                <key>frame</key>
                <string>{{157,44},{60,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>scene/leona/enchant/bt_select_on</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{60,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>scene/leona/enchant/icon_enchant</key>
            <dict>
                <key>frame</key>
                <string>{{219,2},{32,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,27}}</string>
                <key>sourceSize</key>
                <string>{32,27}</string>
            </dict>
            <key>scene/leona/enchant/icon_succession</key>
            <dict>
                <key>frame</key>
                <string>{{219,31},{42,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,30}}</string>
                <key>sourceSize</key>
                <string>{42,30}</string>
            </dict>
            <key>scene/leona/enchant/leona_enchant_arrow</key>
            <dict>
                <key>frame</key>
                <string>{{157,86},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>scene/leona/enchant/succession_slot</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{503,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,153}}</string>
                <key>sourceSize</key>
                <string>{503,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>enchant.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c9bfd3fe6b02c1def216ff2258ff20b:bb279b6ae8d3b6717afc1bd796f8d54d:5f2282f2389d9658bef9b13364bfc47d$</string>
            <key>textureFileName</key>
            <string>enchant.pvr.ccz</string>
        </dict>
    </dict>
</plist>
