<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/colosseum/champion/1set</key>
            <dict>
                <key>frame</key>
                <string>{{501,264},{49,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,20}}</string>
                <key>sourceSize</key>
                <string>{49,20}</string>
            </dict>
            <key>scene/colosseum/champion/1set_b</key>
            <dict>
                <key>frame</key>
                <string>{{510,856},{132,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,44}}</string>
                <key>sourceSize</key>
                <string>{132,44}</string>
            </dict>
            <key>scene/colosseum/champion/2set</key>
            <dict>
                <key>frame</key>
                <string>{{501,242},{50,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,20}}</string>
                <key>sourceSize</key>
                <string>{50,20}</string>
            </dict>
            <key>scene/colosseum/champion/2set_b</key>
            <dict>
                <key>frame</key>
                <string>{{307,859},{149,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,44}}</string>
                <key>sourceSize</key>
                <string>{149,44}</string>
            </dict>
            <key>scene/colosseum/champion/3set</key>
            <dict>
                <key>frame</key>
                <string>{{501,220},{50,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,20}}</string>
                <key>sourceSize</key>
                <string>{50,20}</string>
            </dict>
            <key>scene/colosseum/champion/3set_b</key>
            <dict>
                <key>frame</key>
                <string>{{261,859},{149,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,44}}</string>
                <key>sourceSize</key>
                <string>{149,44}</string>
            </dict>
            <key>scene/colosseum/champion/back_light</key>
            <dict>
                <key>frame</key>
                <string>{{621,188},{238,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,237}}</string>
                <key>sourceSize</key>
                <string>{238,237}</string>
            </dict>
            <key>scene/colosseum/champion/badge</key>
            <dict>
                <key>frame</key>
                <string>{{501,162},{52,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,56}}</string>
                <key>sourceSize</key>
                <string>{52,56}</string>
            </dict>
            <key>scene/colosseum/champion/box_d_blank</key>
            <dict>
                <key>frame</key>
                <string>{{432,776},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>scene/colosseum/champion/box_status</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,477}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,477}}</string>
                <key>sourceSize</key>
                <string>{316,477}</string>
            </dict>
            <key>scene/colosseum/champion/bt_futune</key>
            <dict>
                <key>frame</key>
                <string>{{320,204},{170,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,44}}</string>
                <key>sourceSize</key>
                <string>{170,44}</string>
            </dict>
            <key>scene/colosseum/champion/bt_futune_off</key>
            <dict>
                <key>frame</key>
                <string>{{320,158},{170,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,44}}</string>
                <key>sourceSize</key>
                <string>{170,44}</string>
            </dict>
            <key>scene/colosseum/champion/btn_team</key>
            <dict>
                <key>frame</key>
                <string>{{501,52},{48,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,53}}</string>
                <key>sourceSize</key>
                <string>{48,53}</string>
            </dict>
            <key>scene/colosseum/champion/btn_team2</key>
            <dict>
                <key>frame</key>
                <string>{{501,2},{48,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,53}}</string>
                <key>sourceSize</key>
                <string>{48,53}</string>
            </dict>
            <key>scene/colosseum/champion/c_round16</key>
            <dict>
                <key>frame</key>
                <string>{{105,481},{376,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,49}}</string>
                <key>sourceSize</key>
                <string>{376,49}</string>
            </dict>
            <key>scene/colosseum/champion/c_round2</key>
            <dict>
                <key>frame</key>
                <string>{{320,102},{189,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,54}}</string>
                <key>sourceSize</key>
                <string>{189,54}</string>
            </dict>
            <key>scene/colosseum/champion/c_round32</key>
            <dict>
                <key>frame</key>
                <string>{{54,481},{396,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,49}}</string>
                <key>sourceSize</key>
                <string>{396,49}</string>
            </dict>
            <key>scene/colosseum/champion/c_round4</key>
            <dict>
                <key>frame</key>
                <string>{{156,481},{311,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,50}}</string>
                <key>sourceSize</key>
                <string>{311,50}</string>
            </dict>
            <key>scene/colosseum/champion/c_round8</key>
            <dict>
                <key>frame</key>
                <string>{{2,481},{413,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,50}}</string>
                <key>sourceSize</key>
                <string>{413,50}</string>
            </dict>
            <key>scene/colosseum/champion/champ_vs</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{63,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,39}}</string>
                <key>sourceSize</key>
                <string>{63,39}</string>
            </dict>
            <key>scene/colosseum/champion/championbattle</key>
            <dict>
                <key>frame</key>
                <string>{{208,859},{157,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,51}}</string>
                <key>sourceSize</key>
                <string>{157,51}</string>
            </dict>
            <key>scene/colosseum/champion/empty</key>
            <dict>
                <key>frame</key>
                <string>{{885,2},{129,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,30}}</string>
                <key>sourceSize</key>
                <string>{129,30}</string>
            </dict>
            <key>scene/colosseum/champion/eval_icon</key>
            <dict>
                <key>frame</key>
                <string>{{384,316},{23,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,28}}</string>
                <key>sourceSize</key>
                <string>{23,28}</string>
            </dict>
            <key>scene/colosseum/champion/flower_1</key>
            <dict>
                <key>frame</key>
                <string>{{409,316},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>scene/colosseum/champion/flower_2</key>
            <dict>
                <key>frame</key>
                <string>{{465,2},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>scene/colosseum/champion/flower_3</key>
            <dict>
                <key>frame</key>
                <string>{{353,859},{147,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,134}}</string>
                <key>sourceSize</key>
                <string>{147,134}</string>
            </dict>
            <key>scene/colosseum/champion/icon_c</key>
            <dict>
                <key>frame</key>
                <string>{{376,436},{36,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>scene/colosseum/champion/lobby</key>
            <dict>
                <key>frame</key>
                <string>{{406,352},{66,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,19}}</string>
                <key>sourceSize</key>
                <string>{66,19}</string>
            </dict>
            <key>scene/colosseum/champion/lobby_box</key>
            <dict>
                <key>frame</key>
                <string>{{621,2},{184,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,262}}</string>
                <key>sourceSize</key>
                <string>{184,262}</string>
            </dict>
            <key>scene/colosseum/champion/lobby_box2</key>
            <dict>
                <key>frame</key>
                <string>{{170,859},{18,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,31}}</string>
                <key>sourceSize</key>
                <string>{18,31}</string>
            </dict>
            <key>scene/colosseum/champion/lobby_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{489,995},{130,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,27}}</string>
                <key>sourceSize</key>
                <string>{130,27}</string>
            </dict>
            <key>scene/colosseum/champion/lose</key>
            <dict>
                <key>frame</key>
                <string>{{439,455},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>scene/colosseum/champion/lose2</key>
            <dict>
                <key>frame</key>
                <string>{{320,286},{55,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,30}}</string>
                <key>sourceSize</key>
                <string>{55,30}</string>
            </dict>
            <key>scene/colosseum/champion/num</key>
            <dict>
                <key>frame</key>
                <string>{{105,859},{63,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,18}}</string>
                <key>sourceSize</key>
                <string>{63,18}</string>
            </dict>
            <key>scene/colosseum/champion/num2</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{90,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,26}}</string>
                <key>sourceSize</key>
                <string>{90,26}</string>
            </dict>
            <key>scene/colosseum/champion/num_tournament</key>
            <dict>
                <key>frame</key>
                <string>{{76,895},{116,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,33}}</string>
                <key>sourceSize</key>
                <string>{116,33}</string>
            </dict>
            <key>scene/colosseum/champion/platform</key>
            <dict>
                <key>frame</key>
                <string>{{556,162},{172,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,58}}</string>
                <key>sourceSize</key>
                <string>{172,58}</string>
            </dict>
            <key>scene/colosseum/champion/plus</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>scene/colosseum/champion/sign</key>
            <dict>
                <key>frame</key>
                <string>{{156,794},{253,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,63}}</string>
                <key>sourceSize</key>
                <string>{253,63}</string>
            </dict>
            <key>scene/colosseum/champion/skull</key>
            <dict>
                <key>frame</key>
                <string>{{465,282},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>scene/colosseum/champion/star</key>
            <dict>
                <key>frame</key>
                <string>{{111,895},{109,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,49}}</string>
                <key>sourceSize</key>
                <string>{109,49}</string>
            </dict>
            <key>scene/colosseum/champion/star1</key>
            <dict>
                <key>frame</key>
                <string>{{465,250},{33,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,30}}</string>
                <key>sourceSize</key>
                <string>{33,30}</string>
            </dict>
            <key>scene/colosseum/champion/star2</key>
            <dict>
                <key>frame</key>
                <string>{{413,420},{33,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,30}}</string>
                <key>sourceSize</key>
                <string>{33,30}</string>
            </dict>
            <key>scene/colosseum/champion/star3</key>
            <dict>
                <key>frame</key>
                <string>{{352,250},{33,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,30}}</string>
                <key>sourceSize</key>
                <string>{33,30}</string>
            </dict>
            <key>scene/colosseum/champion/star4</key>
            <dict>
                <key>frame</key>
                <string>{{320,250},{33,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,30}}</string>
                <key>sourceSize</key>
                <string>{33,30}</string>
            </dict>
            <key>scene/colosseum/champion/star5</key>
            <dict>
                <key>frame</key>
                <string>{{465,69},{33,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,30}}</string>
                <key>sourceSize</key>
                <string>{33,30}</string>
            </dict>
            <key>scene/colosseum/champion/star6</key>
            <dict>
                <key>frame</key>
                <string>{{465,37},{33,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,30}}</string>
                <key>sourceSize</key>
                <string>{33,30}</string>
            </dict>
            <key>scene/colosseum/champion/surpport</key>
            <dict>
                <key>frame</key>
                <string>{{54,879},{63,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,14}}</string>
                <key>sourceSize</key>
                <string>{63,14}</string>
            </dict>
            <key>scene/colosseum/champion/tagmatch_r1</key>
            <dict>
                <key>frame</key>
                <string>{{385,352},{82,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,19}}</string>
                <key>sourceSize</key>
                <string>{82,19}</string>
            </dict>
            <key>scene/colosseum/champion/tagmatch_r2</key>
            <dict>
                <key>frame</key>
                <string>{{411,776},{81,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,19}}</string>
                <key>sourceSize</key>
                <string>{81,19}</string>
            </dict>
            <key>scene/colosseum/champion/tagmatch_r3</key>
            <dict>
                <key>frame</key>
                <string>{{342,352},{82,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,20}}</string>
                <key>sourceSize</key>
                <string>{82,20}</string>
            </dict>
            <key>scene/colosseum/champion/tagmatch_r4</key>
            <dict>
                <key>frame</key>
                <string>{{364,352},{82,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,19}}</string>
                <key>sourceSize</key>
                <string>{82,19}</string>
            </dict>
            <key>scene/colosseum/champion/tagmatch_r5</key>
            <dict>
                <key>frame</key>
                <string>{{320,352},{82,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,20}}</string>
                <key>sourceSize</key>
                <string>{82,20}</string>
            </dict>
            <key>scene/colosseum/champion/team_1</key>
            <dict>
                <key>frame</key>
                <string>{{320,436},{54,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,37}}</string>
                <key>sourceSize</key>
                <string>{54,37}</string>
            </dict>
            <key>scene/colosseum/champion/team_1_en</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{97,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,28}}</string>
                <key>sourceSize</key>
                <string>{97,28}</string>
            </dict>
            <key>scene/colosseum/champion/team_2</key>
            <dict>
                <key>frame</key>
                <string>{{512,286},{64,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,37}}</string>
                <key>sourceSize</key>
                <string>{64,37}</string>
            </dict>
            <key>scene/colosseum/champion/team_2_en</key>
            <dict>
                <key>frame</key>
                <string>{{512,102},{104,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,28}}</string>
                <key>sourceSize</key>
                <string>{104,28}</string>
            </dict>
            <key>scene/colosseum/champion/team_3</key>
            <dict>
                <key>frame</key>
                <string>{{556,43},{63,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,37}}</string>
                <key>sourceSize</key>
                <string>{63,37}</string>
            </dict>
            <key>scene/colosseum/champion/team_3_en</key>
            <dict>
                <key>frame</key>
                <string>{{512,132},{103,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,28}}</string>
                <key>sourceSize</key>
                <string>{103,28}</string>
            </dict>
            <key>scene/colosseum/champion/team_setting</key>
            <dict>
                <key>frame</key>
                <string>{{489,856},{137,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,19}}</string>
                <key>sourceSize</key>
                <string>{137,19}</string>
            </dict>
            <key>scene/colosseum/champion/trophy</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{72,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,125}}</string>
                <key>sourceSize</key>
                <string>{72,125}</string>
            </dict>
            <key>scene/colosseum/champion/win</key>
            <dict>
                <key>frame</key>
                <string>{{413,455},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>scene/colosseum/champion/win2</key>
            <dict>
                <key>frame</key>
                <string>{{352,286},{54,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,30}}</string>
                <key>sourceSize</key>
                <string>{54,30}</string>
            </dict>
            <key>scene/colosseum/champion/win3</key>
            <dict>
                <key>frame</key>
                <string>{{162,879},{139,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,44}}</string>
                <key>sourceSize</key>
                <string>{139,44}</string>
            </dict>
            <key>scene/colosseum/champion/win_effect</key>
            <dict>
                <key>frame</key>
                <string>{{208,481},{293,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,291}}</string>
                <key>sourceSize</key>
                <string>{293,291}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>champion.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8eee087ca36096d3ec6950767942f573:205cd11b74423412e6f257f33ad60460:c8d4218481af7b82a61de7c96b9d90b5$</string>
            <key>textureFileName</key>
            <string>champion.pvr.ccz</string>
        </dict>
    </dict>
</plist>
