<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/colosseum/practice/btn_practice</key>
            <dict>
                <key>frame</key>
                <string>{{120,451},{59,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,68}}</string>
                <key>sourceSize</key>
                <string>{59,68}</string>
            </dict>
            <key>scene/colosseum/practice/btn_start</key>
            <dict>
                <key>frame</key>
                <string>{{168,372},{75,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,22}}</string>
                <key>sourceSize</key>
                <string>{75,22}</string>
            </dict>
            <key>scene/colosseum/practice/btn_start_off</key>
            <dict>
                <key>frame</key>
                <string>{{466,295},{75,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,22}}</string>
                <key>sourceSize</key>
                <string>{75,22}</string>
            </dict>
            <key>scene/colosseum/practice/icon_select</key>
            <dict>
                <key>frame</key>
                <string>{{120,298},{70,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,84}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>scene/colosseum/practice/lose</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{211,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,116}}</string>
                <key>sourceSize</key>
                <string>{211,116}</string>
            </dict>
            <key>scene/colosseum/practice/tag_dragon_info</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{207,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,294}}</string>
                <key>sourceSize</key>
                <string>{207,294}</string>
            </dict>
            <key>scene/colosseum/practice/txt_practice</key>
            <dict>
                <key>frame</key>
                <string>{{211,295},{253,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,61}}</string>
                <key>sourceSize</key>
                <string>{253,61}</string>
            </dict>
            <key>scene/colosseum/practice/vs</key>
            <dict>
                <key>frame</key>
                <string>{{120,372},{77,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,46}}</string>
                <key>sourceSize</key>
                <string>{77,46}</string>
            </dict>
            <key>scene/colosseum/practice/win</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{293,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,291}}</string>
                <key>sourceSize</key>
                <string>{293,291}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>practice.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:723ba9ca0ae3efdf8963e76633e6db07:9a03db7d9d4a9b3b2682bbe3db5023ec:57d17aa4a237c01e4810ccdf935ff95f$</string>
            <key>textureFileName</key>
            <string>practice.pvr.ccz</string>
        </dict>
    </dict>
</plist>
