<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/colosseum/rookie_battle/badge</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,56}</string>
                <key>spriteSourceSize</key>
                <string>{52,56}</string>
                <key>textureRect</key>
                <string>{{187,687},{52,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/colosseum/rookie_battle/bt_dvleague</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,262}</string>
                <key>spriteSourceSize</key>
                <string>{184,262}</string>
                <key>textureRect</key>
                <string>{{1,1},{184,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/colosseum/rookie_battle/icon_r</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,35}</string>
                <key>spriteSourceSize</key>
                <string>{36,35}</string>
                <key>textureRect</key>
                <string>{{109,842},{36,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/colosseum/rookie_battle/lobby_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,262}</string>
                <key>spriteSourceSize</key>
                <string>{184,262}</string>
                <key>textureRect</key>
                <string>{{1,265},{184,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/colosseum/rookie_battle/platform_rookie</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,59}</string>
                <key>spriteSourceSize</key>
                <string>{172,59}</string>
                <key>textureRect</key>
                <string>{{187,513},{172,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/colosseum/rookie_battle/rookie_leaf1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,24}</string>
                <key>spriteSourceSize</key>
                <string>{28,24}</string>
                <key>textureRect</key>
                <string>{{147,842},{28,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/colosseum/rookie_battle/rookie_leaf2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,24}</string>
                <key>spriteSourceSize</key>
                <string>{28,24}</string>
                <key>textureRect</key>
                <string>{{147,868},{28,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/colosseum/rookie_battle/rookie_leaf3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,24}</string>
                <key>spriteSourceSize</key>
                <string>{28,24}</string>
                <key>textureRect</key>
                <string>{{109,879},{28,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/colosseum/rookie_battle/rookie_leaf4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,24}</string>
                <key>spriteSourceSize</key>
                <string>{28,24}</string>
                <key>textureRect</key>
                <string>{{109,905},{28,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/colosseum/rookie_battle/rookie_leaf5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,24}</string>
                <key>spriteSourceSize</key>
                <string>{28,24}</string>
                <key>textureRect</key>
                <string>{{135,905},{28,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/colosseum/rookie_battle/rookie_leaf6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,24}</string>
                <key>spriteSourceSize</key>
                <string>{28,24}</string>
                <key>textureRect</key>
                <string>{{161,894},{28,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/colosseum/rookie_battle/rookie_lobby_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,262}</string>
                <key>spriteSourceSize</key>
                <string>{184,262}</string>
                <key>textureRect</key>
                <string>{{1,529},{184,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/colosseum/rookie_battle/sign_rookie</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,63}</string>
                <key>spriteSourceSize</key>
                <string>{253,63}</string>
                <key>textureRect</key>
                <string>{{187,1},{253,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/colosseum/rookie_battle/sign_rookie_back</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,61}</string>
                <key>spriteSourceSize</key>
                <string>{255,61}</string>
                <key>textureRect</key>
                <string>{{187,256},{255,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/colosseum/rookie_battle/text_rookie_lobby</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,47}</string>
                <key>spriteSourceSize</key>
                <string>{184,47}</string>
                <key>textureRect</key>
                <string>{{187,741},{184,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/colosseum/rookie_battle/text_rookie_team</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,47}</string>
                <key>spriteSourceSize</key>
                <string>{184,47}</string>
                <key>textureRect</key>
                <string>{{1,793},{184,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/colosseum/rookie_battle/trophy_rookie</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,106}</string>
                <key>spriteSourceSize</key>
                <string>{84,106}</string>
                <key>textureRect</key>
                <string>{{1,842},{84,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>rookie_battle.pvr.ccz</string>
            <key>size</key>
            <string>{251,934}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11de60f5b930baf7d24adde021f401c5:56d6e9aa55b015feef0445a20013c566:7109fc44a7cff4d4e38ac62fbdaa9f63$</string>
            <key>textureFileName</key>
            <string>rookie_battle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
