<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/colosseum/tourney_league/bt_general</key>
            <dict>
                <key>frame</key>
                <string>{{726,374},{184,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,262}}</string>
                <key>sourceSize</key>
                <string>{184,262}</string>
            </dict>
            <key>scene/colosseum/tourney_league/bt_master</key>
            <dict>
                <key>frame</key>
                <string>{{726,188},{184,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,262}}</string>
                <key>sourceSize</key>
                <string>{184,262}</string>
            </dict>
            <key>scene/colosseum/tourney_league/bt_rookie</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{184,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,262}}</string>
                <key>sourceSize</key>
                <string>{184,262}</string>
            </dict>
            <key>scene/colosseum/tourney_league/general_list</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{722,412}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{722,412}}</string>
                <key>sourceSize</key>
                <string>{722,412}</string>
            </dict>
            <key>scene/colosseum/tourney_league/master_list</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{722,412}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{722,412}}</string>
                <key>sourceSize</key>
                <string>{722,412}</string>
            </dict>
            <key>scene/colosseum/tourney_league/rookie_list</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{722,412}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{722,412}}</string>
                <key>sourceSize</key>
                <string>{722,412}</string>
            </dict>
            <key>scene/colosseum/tourney_league/rule_txt_bg</key>
            <dict>
                <key>frame</key>
                <string>{{950,560},{184,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,62}}</string>
                <key>sourceSize</key>
                <string>{184,62}</string>
            </dict>
            <key>scene/colosseum/tourney_league/txt_general</key>
            <dict>
                <key>frame</key>
                <string>{{726,712},{222,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,74}}</string>
                <key>sourceSize</key>
                <string>{222,74}</string>
            </dict>
            <key>scene/colosseum/tourney_league/txt_master</key>
            <dict>
                <key>frame</key>
                <string>{{726,636},{222,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,74}}</string>
                <key>sourceSize</key>
                <string>{222,74}</string>
            </dict>
            <key>scene/colosseum/tourney_league/txt_rookie</key>
            <dict>
                <key>frame</key>
                <string>{{726,560},{222,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,74}}</string>
                <key>sourceSize</key>
                <string>{222,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tourney_league.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51cb0f9b6511a10f736c412de3a8af1b:cd08551c195d1d5eee750c87c733d38b:d0cfa55b9e5621ea2ed4c1448da901a2$</string>
            <key>textureFileName</key>
            <string>tourney_league.pvr.ccz</string>
        </dict>
    </dict>
</plist>
