<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3115/effect/col_action2/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{115,117}</string>
                <key>spriteSourceSize</key>
                <string>{305,341}</string>
                <key>textureRect</key>
                <string>{{1301,775},{115,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3115/effect/col_action2/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{141,141}</string>
                <key>spriteSourceSize</key>
                <string>{305,341}</string>
                <key>textureRect</key>
                <string>{{1335,1},{141,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3115/effect/col_action2/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{169,169}</string>
                <key>spriteSourceSize</key>
                <string>{305,341}</string>
                <key>textureRect</key>
                <string>{{1301,604},{169,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3115/effect/col_action2/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{191,191}</string>
                <key>spriteSourceSize</key>
                <string>{305,341}</string>
                <key>textureRect</key>
                <string>{{1301,411},{191,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3115/effect/col_action2/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{201,201}</string>
                <key>spriteSourceSize</key>
                <string>{305,341}</string>
                <key>textureRect</key>
                <string>{{1132,1},{201,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3115/effect/col_action2/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{203,203}</string>
                <key>spriteSourceSize</key>
                <string>{305,341}</string>
                <key>textureRect</key>
                <string>{{927,1},{203,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3115/effect/col_action2/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{203,203}</string>
                <key>spriteSourceSize</key>
                <string>{305,341}</string>
                <key>textureRect</key>
                <string>{{1098,206},{203,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3115/effect/col_action2/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{203,205}</string>
                <key>spriteSourceSize</key>
                <string>{305,341}</string>
                <key>textureRect</key>
                <string>{{893,216},{203,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3115/effect/col_action2/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,213}</string>
                <key>spriteSourceSize</key>
                <string>{305,341}</string>
                <key>textureRect</key>
                <string>{{1,710},{207,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3115/effect/col_action2/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,215}</string>
                <key>spriteSourceSize</key>
                <string>{305,341}</string>
                <key>textureRect</key>
                <string>{{1090,666},{209,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3115/effect/col_action2/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,217}</string>
                <key>spriteSourceSize</key>
                <string>{305,341}</string>
                <key>textureRect</key>
                <string>{{676,449},{213,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3115/effect/col_action2/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,221}</string>
                <key>spriteSourceSize</key>
                <string>{305,341}</string>
                <key>textureRect</key>
                <string>{{658,680},{215,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3115/effect/col_action2/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,223}</string>
                <key>spriteSourceSize</key>
                <string>{305,341}</string>
                <key>textureRect</key>
                <string>{{674,224},{217,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3115/effect/col_action2/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,225}</string>
                <key>spriteSourceSize</key>
                <string>{305,341}</string>
                <key>textureRect</key>
                <string>{{455,453},{219,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3115/effect/col_action2/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,227}</string>
                <key>spriteSourceSize</key>
                <string>{305,341}</string>
                <key>textureRect</key>
                <string>{{471,1},{221,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3115/effect/col_action2/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{223,227}</string>
                <key>spriteSourceSize</key>
                <string>{305,341}</string>
                <key>textureRect</key>
                <string>{{449,224},{223,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3115/effect/col_action2/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{225,229}</string>
                <key>spriteSourceSize</key>
                <string>{305,341}</string>
                <key>textureRect</key>
                <string>{{228,471},{225,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3115/effect/col_action2/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{229,231}</string>
                <key>spriteSourceSize</key>
                <string>{305,341}</string>
                <key>textureRect</key>
                <string>{{1,1},{229,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3115/effect/col_action2/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,233}</string>
                <key>spriteSourceSize</key>
                <string>{305,341}</string>
                <key>textureRect</key>
                <string>{{1,475},{225,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3115/effect/col_action2/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{223,235}</string>
                <key>spriteSourceSize</key>
                <string>{305,341}</string>
                <key>textureRect</key>
                <string>{{224,234},{223,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3115/effect/col_action2/20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{221,237}</string>
                <key>spriteSourceSize</key>
                <string>{305,341}</string>
                <key>textureRect</key>
                <string>{{232,1},{221,237}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3115/effect/col_action2/21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{221,239}</string>
                <key>spriteSourceSize</key>
                <string>{305,341}</string>
                <key>textureRect</key>
                <string>{{1,234},{221,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3115/effect/col_action2/22</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{215,227}</string>
                <key>spriteSourceSize</key>
                <string>{305,341}</string>
                <key>textureRect</key>
                <string>{{429,702},{215,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3115/effect/col_action2/23</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,225}</string>
                <key>spriteSourceSize</key>
                <string>{305,341}</string>
                <key>textureRect</key>
                <string>{{700,1},{213,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3115/effect/col_action2/24</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{213,217}</string>
                <key>spriteSourceSize</key>
                <string>{305,341}</string>
                <key>textureRect</key>
                <string>{{875,668},{213,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3115/effect/col_action2/25</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{211,215}</string>
                <key>spriteSourceSize</key>
                <string>{305,341}</string>
                <key>textureRect</key>
                <string>{{891,449},{211,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3115/effect/col_action2/26</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{207,211}</string>
                <key>spriteSourceSize</key>
                <string>{305,341}</string>
                <key>textureRect</key>
                <string>{{216,710},{207,211}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3115/effect/col_action2/27</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{195,203}</string>
                <key>spriteSourceSize</key>
                <string>{305,341}</string>
                <key>textureRect</key>
                <string>{{1104,411},{195,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3115/effect/col_action2/28</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{185,195}</string>
                <key>spriteSourceSize</key>
                <string>{305,341}</string>
                <key>textureRect</key>
                <string>{{1303,204},{185,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action20.pvr.ccz</string>
            <key>size</key>
            <string>{1493,918}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01f952c558d0dc9f3b0ac38d2cbe9454:3f110d7b130717024518da0601a3cacf:98ec4b5f3da3b367b0df440471cccb39$</string>
            <key>textureFileName</key>
            <string>col_action20.pvr.ccz</string>
        </dict>
    </dict>
</plist>
