<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/14/effect/col_action3/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-107}</string>
                <key>spriteSize</key>
                <string>{282,90}</string>
                <key>spriteSourceSize</key>
                <string>{282,304}</string>
                <key>textureRect</key>
                <string>{{207,597},{282,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/14/effect/col_action3/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-107}</string>
                <key>spriteSize</key>
                <string>{280,90}</string>
                <key>spriteSourceSize</key>
                <string>{282,304}</string>
                <key>textureRect</key>
                <string>{{1335,809},{280,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/14/effect/col_action3/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-106}</string>
                <key>spriteSize</key>
                <string>{278,92}</string>
                <key>spriteSourceSize</key>
                <string>{282,304}</string>
                <key>textureRect</key>
                <string>{{1681,261},{278,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/14/effect/col_action3/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{276,304}</string>
                <key>spriteSourceSize</key>
                <string>{282,304}</string>
                <key>textureRect</key>
                <string>{{1,1},{276,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/14/effect/col_action3/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-8}</string>
                <key>spriteSize</key>
                <string>{274,288}</string>
                <key>spriteSourceSize</key>
                <string>{282,304}</string>
                <key>textureRect</key>
                <string>{{1,307},{274,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/14/effect/col_action3/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-42}</string>
                <key>spriteSize</key>
                <string>{272,220}</string>
                <key>spriteSourceSize</key>
                <string>{282,304}</string>
                <key>textureRect</key>
                <string>{{279,1},{272,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/14/effect/col_action3/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-50}</string>
                <key>spriteSize</key>
                <string>{272,204}</string>
                <key>spriteSourceSize</key>
                <string>{282,304}</string>
                <key>textureRect</key>
                <string>{{1663,559},{272,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/14/effect/col_action3/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-52}</string>
                <key>spriteSize</key>
                <string>{272,200}</string>
                <key>spriteSourceSize</key>
                <string>{282,304}</string>
                <key>textureRect</key>
                <string>{{1339,607},{272,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/14/effect/col_action3/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-53}</string>
                <key>spriteSize</key>
                <string>{278,198}</string>
                <key>spriteSourceSize</key>
                <string>{282,304}</string>
                <key>textureRect</key>
                <string>{{1401,205},{278,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/14/effect/col_action3/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-54}</string>
                <key>spriteSize</key>
                <string>{282,196}</string>
                <key>spriteSourceSize</key>
                <string>{282,304}</string>
                <key>textureRect</key>
                <string>{{551,337},{282,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/14/effect/col_action3/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-52}</string>
                <key>spriteSize</key>
                <string>{282,200}</string>
                <key>spriteSourceSize</key>
                <string>{282,304}</string>
                <key>textureRect</key>
                <string>{{835,1},{282,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/14/effect/col_action3/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-51}</string>
                <key>spriteSize</key>
                <string>{280,202}</string>
                <key>spriteSourceSize</key>
                <string>{282,304}</string>
                <key>textureRect</key>
                <string>{{1119,1},{280,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/14/effect/col_action3/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-50}</string>
                <key>spriteSize</key>
                <string>{280,204}</string>
                <key>spriteSourceSize</key>
                <string>{282,304}</string>
                <key>textureRect</key>
                <string>{{1,597},{280,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/14/effect/col_action3/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-50}</string>
                <key>spriteSize</key>
                <string>{280,204}</string>
                <key>spriteSourceSize</key>
                <string>{282,304}</string>
                <key>textureRect</key>
                <string>{{553,1},{280,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/14/effect/col_action3/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-51}</string>
                <key>spriteSize</key>
                <string>{280,202}</string>
                <key>spriteSourceSize</key>
                <string>{282,304}</string>
                <key>textureRect</key>
                <string>{{1401,1},{280,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/14/effect/col_action3/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-53}</string>
                <key>spriteSize</key>
                <string>{280,198}</string>
                <key>spriteSourceSize</key>
                <string>{282,304}</string>
                <key>textureRect</key>
                <string>{{837,203},{280,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/14/effect/col_action3/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-53}</string>
                <key>spriteSize</key>
                <string>{280,198}</string>
                <key>spriteSourceSize</key>
                <string>{282,304}</string>
                <key>textureRect</key>
                <string>{{1119,205},{280,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/14/effect/col_action3/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-53}</string>
                <key>spriteSize</key>
                <string>{274,198}</string>
                <key>spriteSourceSize</key>
                <string>{282,304}</string>
                <key>textureRect</key>
                <string>{{835,403},{274,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/14/effect/col_action3/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-53}</string>
                <key>spriteSize</key>
                <string>{274,198}</string>
                <key>spriteSourceSize</key>
                <string>{282,304}</string>
                <key>textureRect</key>
                <string>{{1111,405},{274,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/14/effect/col_action3/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-52}</string>
                <key>spriteSize</key>
                <string>{274,200}</string>
                <key>spriteSourceSize</key>
                <string>{282,304}</string>
                <key>textureRect</key>
                <string>{{1387,405},{274,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/14/effect/col_action3/20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-52}</string>
                <key>spriteSize</key>
                <string>{274,200}</string>
                <key>spriteSourceSize</key>
                <string>{282,304}</string>
                <key>textureRect</key>
                <string>{{787,603},{274,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/14/effect/col_action3/21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-52}</string>
                <key>spriteSize</key>
                <string>{274,200}</string>
                <key>spriteSourceSize</key>
                <string>{282,304}</string>
                <key>textureRect</key>
                <string>{{1063,605},{274,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/14/effect/col_action3/22</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-52}</string>
                <key>spriteSize</key>
                <string>{272,200}</string>
                <key>spriteSourceSize</key>
                <string>{282,304}</string>
                <key>textureRect</key>
                <string>{{513,745},{272,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/14/effect/col_action3/23</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-52}</string>
                <key>spriteSize</key>
                <string>{272,200}</string>
                <key>spriteSourceSize</key>
                <string>{282,304}</string>
                <key>textureRect</key>
                <string>{{787,805},{272,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/14/effect/col_action3/24</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-52}</string>
                <key>spriteSize</key>
                <string>{272,200}</string>
                <key>spriteSourceSize</key>
                <string>{282,304}</string>
                <key>textureRect</key>
                <string>{{1061,807},{272,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/14/effect/col_action3/25</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-51}</string>
                <key>spriteSize</key>
                <string>{272,202}</string>
                <key>spriteSourceSize</key>
                <string>{282,304}</string>
                <key>textureRect</key>
                <string>{{1681,355},{272,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/14/effect/col_action3/26</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-49}</string>
                <key>spriteSize</key>
                <string>{272,206}</string>
                <key>spriteSourceSize</key>
                <string>{282,304}</string>
                <key>textureRect</key>
                <string>{{1617,765},{272,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/14/effect/col_action3/27</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-48}</string>
                <key>spriteSize</key>
                <string>{272,208}</string>
                <key>spriteSourceSize</key>
                <string>{282,304}</string>
                <key>textureRect</key>
                <string>{{513,535},{272,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/14/effect/col_action3/28</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-46}</string>
                <key>spriteSize</key>
                <string>{272,212}</string>
                <key>spriteSourceSize</key>
                <string>{282,304}</string>
                <key>textureRect</key>
                <string>{{277,313},{272,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/14/effect/col_action3/29</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-46}</string>
                <key>spriteSize</key>
                <string>{272,212}</string>
                <key>spriteSourceSize</key>
                <string>{282,304}</string>
                <key>textureRect</key>
                <string>{{299,527},{272,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/14/effect/col_action3/30</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-88}</string>
                <key>spriteSize</key>
                <string>{274,128}</string>
                <key>spriteSourceSize</key>
                <string>{282,304}</string>
                <key>textureRect</key>
                <string>{{561,207},{274,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/14/effect/col_action3/31</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-88}</string>
                <key>spriteSize</key>
                <string>{276,128}</string>
                <key>spriteSourceSize</key>
                <string>{282,304}</string>
                <key>textureRect</key>
                <string>{{1683,1},{276,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/14/effect/col_action3/32</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-88}</string>
                <key>spriteSize</key>
                <string>{276,128}</string>
                <key>spriteSourceSize</key>
                <string>{282,304}</string>
                <key>textureRect</key>
                <string>{{1683,131},{276,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/14/effect/col_action3/33</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-108}</string>
                <key>spriteSize</key>
                <string>{280,88}</string>
                <key>spriteSourceSize</key>
                <string>{282,304}</string>
                <key>textureRect</key>
                <string>{{279,223},{280,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action30.pvr.ccz</string>
            <key>size</key>
            <string>{1960,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11e9cef80d7f8c6066ce527eb6b5f5a7:e5717f71c0f8e83173b608acd520bf4e:e44ba353004d0fd8b165f5c6960cb7e8$</string>
            <key>textureFileName</key>
            <string>col_action30.pvr.ccz</string>
        </dict>
    </dict>
</plist>
