<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-13,-67}</string>
			<key>spriteSize</key>
			<string>{218,62}</string>
			<key>spriteSourceSize</key>
			<string>{266,200}</string>
			<key>textureRect</key>
			<string>{{791,261},{218,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-10,-67}</string>
			<key>spriteSize</key>
			<string>{228,62}</string>
			<key>spriteSourceSize</key>
			<string>{266,200}</string>
			<key>textureRect</key>
			<string>{{785,383},{228,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-8,-66}</string>
			<key>spriteSize</key>
			<string>{234,66}</string>
			<key>spriteSourceSize</key>
			<string>{266,200}</string>
			<key>textureRect</key>
			<string>{{771,613},{234,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-11,-66}</string>
			<key>spriteSize</key>
			<string>{240,68}</string>
			<key>spriteSourceSize</key>
			<string>{266,200}</string>
			<key>textureRect</key>
			<string>{{515,967},{240,68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-11,-64}</string>
			<key>spriteSize</key>
			<string>{240,72}</string>
			<key>spriteSourceSize</key>
			<string>{266,200}</string>
			<key>textureRect</key>
			<string>{{499,1037},{240,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-10,-64}</string>
			<key>spriteSize</key>
			<string>{240,72}</string>
			<key>spriteSourceSize</key>
			<string>{266,200}</string>
			<key>textureRect</key>
			<string>{{741,1041},{240,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-10,-65}</string>
			<key>spriteSize</key>
			<string>{240,70}</string>
			<key>spriteSourceSize</key>
			<string>{266,200}</string>
			<key>textureRect</key>
			<string>{{757,969},{240,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-10,-50}</string>
			<key>spriteSize</key>
			<string>{240,100}</string>
			<key>spriteSourceSize</key>
			<string>{266,200}</string>
			<key>textureRect</key>
			<string>{{513,707},{240,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-10,-41}</string>
			<key>spriteSize</key>
			<string>{240,118}</string>
			<key>spriteSourceSize</key>
			<string>{266,200}</string>
			<key>textureRect</key>
			<string>{{257,991},{240,118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-10,-22}</string>
			<key>spriteSize</key>
			<string>{240,156}</string>
			<key>spriteSourceSize</key>
			<string>{266,200}</string>
			<key>textureRect</key>
			<string>{{515,809},{240,156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,-14}</string>
			<key>spriteSize</key>
			<string>{250,172}</string>
			<key>spriteSourceSize</key>
			<string>{266,200}</string>
			<key>textureRect</key>
			<string>{{261,657},{250,172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-7}</string>
			<key>spriteSize</key>
			<string>{258,186}</string>
			<key>spriteSourceSize</key>
			<string>{266,200}</string>
			<key>textureRect</key>
			<string>{{531,195},{258,186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-4}</string>
			<key>spriteSize</key>
			<string>{262,192}</string>
			<key>spriteSourceSize</key>
			<string>{266,200}</string>
			<key>textureRect</key>
			<string>{{1,199},{262,192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{266,196}</string>
			<key>spriteSourceSize</key>
			<string>{266,200}</string>
			<key>textureRect</key>
			<string>{{1,1},{266,196}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-4}</string>
			<key>spriteSize</key>
			<string>{258,192}</string>
			<key>spriteSourceSize</key>
			<string>{266,200}</string>
			<key>textureRect</key>
			<string>{{1,587},{258,192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>15</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-4}</string>
			<key>spriteSize</key>
			<string>{260,192}</string>
			<key>spriteSourceSize</key>
			<string>{266,200}</string>
			<key>textureRect</key>
			<string>{{269,1},{260,192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>16</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-4}</string>
			<key>spriteSize</key>
			<string>{260,192}</string>
			<key>spriteSourceSize</key>
			<string>{266,200}</string>
			<key>textureRect</key>
			<string>{{1,393},{260,192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>17</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-4}</string>
			<key>spriteSize</key>
			<string>{260,192}</string>
			<key>spriteSourceSize</key>
			<string>{266,200}</string>
			<key>textureRect</key>
			<string>{{531,1},{260,192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>18</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-4}</string>
			<key>spriteSize</key>
			<string>{258,192}</string>
			<key>spriteSourceSize</key>
			<string>{266,200}</string>
			<key>textureRect</key>
			<string>{{1,781},{258,192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>19</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-4}</string>
			<key>spriteSize</key>
			<string>{258,192}</string>
			<key>spriteSourceSize</key>
			<string>{266,200}</string>
			<key>textureRect</key>
			<string>{{793,1},{258,192}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>20</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-5}</string>
			<key>spriteSize</key>
			<string>{258,190}</string>
			<key>spriteSourceSize</key>
			<string>{266,200}</string>
			<key>textureRect</key>
			<string>{{525,383},{258,190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>21</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-19}</string>
			<key>spriteSize</key>
			<string>{258,162}</string>
			<key>spriteSourceSize</key>
			<string>{266,200}</string>
			<key>textureRect</key>
			<string>{{265,361},{258,162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>22</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-18}</string>
			<key>spriteSize</key>
			<string>{260,164}</string>
			<key>spriteSourceSize</key>
			<string>{266,200}</string>
			<key>textureRect</key>
			<string>{{269,195},{260,164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>23</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,-21}</string>
			<key>spriteSize</key>
			<string>{252,158}</string>
			<key>spriteSourceSize</key>
			<string>{266,200}</string>
			<key>textureRect</key>
			<string>{{261,831},{252,158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>24</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,-35}</string>
			<key>spriteSize</key>
			<string>{252,130}</string>
			<key>spriteSourceSize</key>
			<string>{266,200}</string>
			<key>textureRect</key>
			<string>{{263,525},{252,130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>25</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,-35}</string>
			<key>spriteSize</key>
			<string>{252,130}</string>
			<key>spriteSourceSize</key>
			<string>{266,200}</string>
			<key>textureRect</key>
			<string>{{517,575},{252,130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>26</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,-35}</string>
			<key>spriteSize</key>
			<string>{254,130}</string>
			<key>spriteSourceSize</key>
			<string>{266,200}</string>
			<key>textureRect</key>
			<string>{{1,975},{254,130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>27</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,-35}</string>
			<key>spriteSize</key>
			<string>{252,130}</string>
			<key>spriteSourceSize</key>
			<string>{266,200}</string>
			<key>textureRect</key>
			<string>{{849,325},{252,130}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>28</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,-35}</string>
			<key>spriteSize</key>
			<string>{252,130}</string>
			<key>spriteSourceSize</key>
			<string>{266,200}</string>
			<key>textureRect</key>
			<string>{{757,707},{252,130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>29</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-34}</string>
			<key>spriteSize</key>
			<string>{246,128}</string>
			<key>spriteSourceSize</key>
			<string>{266,200}</string>
			<key>textureRect</key>
			<string>{{757,839},{246,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action10.pvr.ccz</string>
		<key>size</key>
		<string>{1010,1114}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:60ff6883090afeddc4330eef9c507c88:b7307af45d3a05622b4b12ec7dd710be:fd6dfe3ee94267230ed6425290acf6b5$</string>
		<key>textureFileName</key>
		<string>col_action10.pvr.ccz</string>
	</dict>
</dict>
</plist>
