<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/752/effect/col_action2/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{220,112}</string>
                <key>spriteSourceSize</key>
                <string>{230,190}</string>
                <key>textureRect</key>
                <string>{{1,1},{220,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/752/effect/col_action2/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{210,174}</string>
                <key>spriteSourceSize</key>
                <string>{230,190}</string>
                <key>textureRect</key>
                <string>{{629,943},{210,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/752/effect/col_action2/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{208,180}</string>
                <key>spriteSourceSize</key>
                <string>{230,190}</string>
                <key>textureRect</key>
                <string>{{625,1465},{208,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/752/effect/col_action2/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{214,182}</string>
                <key>spriteSourceSize</key>
                <string>{230,190}</string>
                <key>textureRect</key>
                <string>{{819,189},{214,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/752/effect/col_action2/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{214,182}</string>
                <key>spriteSourceSize</key>
                <string>{230,190}</string>
                <key>textureRect</key>
                <string>{{409,1435},{214,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/752/effect/col_action2/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{218,186}</string>
                <key>spriteSourceSize</key>
                <string>{230,190}</string>
                <key>textureRect</key>
                <string>{{115,1},{218,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/752/effect/col_action2/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{218,186}</string>
                <key>spriteSourceSize</key>
                <string>{230,190}</string>
                <key>textureRect</key>
                <string>{{1,443},{218,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/752/effect/col_action2/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{218,186}</string>
                <key>spriteSourceSize</key>
                <string>{230,190}</string>
                <key>textureRect</key>
                <string>{{1,663},{218,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/752/effect/col_action2/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{218,186}</string>
                <key>spriteSourceSize</key>
                <string>{230,190}</string>
                <key>textureRect</key>
                <string>{{191,189},{218,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/752/effect/col_action2/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{218,186}</string>
                <key>spriteSourceSize</key>
                <string>{230,190}</string>
                <key>textureRect</key>
                <string>{{335,1},{218,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/752/effect/col_action2/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{218,186}</string>
                <key>spriteSourceSize</key>
                <string>{230,190}</string>
                <key>textureRect</key>
                <string>{{191,377},{218,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/752/effect/col_action2/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{218,186}</string>
                <key>spriteSourceSize</key>
                <string>{230,190}</string>
                <key>textureRect</key>
                <string>{{221,659},{218,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/752/effect/col_action2/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{218,186}</string>
                <key>spriteSourceSize</key>
                <string>{230,190}</string>
                <key>textureRect</key>
                <string>{{411,189},{218,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/752/effect/col_action2/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{218,186}</string>
                <key>spriteSourceSize</key>
                <string>{230,190}</string>
                <key>textureRect</key>
                <string>{{555,1},{218,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/752/effect/col_action2/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{218,186}</string>
                <key>spriteSourceSize</key>
                <string>{230,190}</string>
                <key>textureRect</key>
                <string>{{411,377},{218,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/752/effect/col_action2/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{218,186}</string>
                <key>spriteSourceSize</key>
                <string>{230,190}</string>
                <key>textureRect</key>
                <string>{{1,851},{218,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/752/effect/col_action2/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{218,186}</string>
                <key>spriteSourceSize</key>
                <string>{230,190}</string>
                <key>textureRect</key>
                <string>{{189,879},{218,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/752/effect/col_action2/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{218,186}</string>
                <key>spriteSourceSize</key>
                <string>{230,190}</string>
                <key>textureRect</key>
                <string>{{189,1067},{218,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/752/effect/col_action2/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{218,186}</string>
                <key>spriteSourceSize</key>
                <string>{230,190}</string>
                <key>textureRect</key>
                <string>{{1,1071},{218,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/752/effect/col_action2/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{218,186}</string>
                <key>spriteSourceSize</key>
                <string>{230,190}</string>
                <key>textureRect</key>
                <string>{{189,1255},{218,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/752/effect/col_action2/20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{218,186}</string>
                <key>spriteSourceSize</key>
                <string>{230,190}</string>
                <key>textureRect</key>
                <string>{{1,1291},{218,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/752/effect/col_action2/21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{218,186}</string>
                <key>spriteSourceSize</key>
                <string>{230,190}</string>
                <key>textureRect</key>
                <string>{{189,1443},{218,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/752/effect/col_action2/22</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{218,186}</string>
                <key>spriteSourceSize</key>
                <string>{230,190}</string>
                <key>textureRect</key>
                <string>{{409,649},{218,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/752/effect/col_action2/23</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{218,186}</string>
                <key>spriteSourceSize</key>
                <string>{230,190}</string>
                <key>textureRect</key>
                <string>{{409,869},{218,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/752/effect/col_action2/24</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{218,186}</string>
                <key>spriteSourceSize</key>
                <string>{230,190}</string>
                <key>textureRect</key>
                <string>{{409,1089},{218,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/752/effect/col_action2/25</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{218,186}</string>
                <key>spriteSourceSize</key>
                <string>{230,190}</string>
                <key>textureRect</key>
                <string>{{597,565},{218,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/752/effect/col_action2/26</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{218,186}</string>
                <key>spriteSourceSize</key>
                <string>{230,190}</string>
                <key>textureRect</key>
                <string>{{631,189},{218,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/752/effect/col_action2/27</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{218,186}</string>
                <key>spriteSourceSize</key>
                <string>{230,190}</string>
                <key>textureRect</key>
                <string>{{775,1},{218,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/752/effect/col_action2/28</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{218,188}</string>
                <key>spriteSourceSize</key>
                <string>{230,190}</string>
                <key>textureRect</key>
                <string>{{1,223},{218,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/752/effect/col_action2/29</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{214,186}</string>
                <key>spriteSourceSize</key>
                <string>{230,190}</string>
                <key>textureRect</key>
                <string>{{785,565},{214,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/752/effect/col_action2/30</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{208,186}</string>
                <key>spriteSourceSize</key>
                <string>{230,190}</string>
                <key>textureRect</key>
                <string>{{627,1277},{208,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/752/effect/col_action2/31</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-16}</string>
                <key>spriteSize</key>
                <string>{198,156}</string>
                <key>spriteSourceSize</key>
                <string>{230,190}</string>
                <key>textureRect</key>
                <string>{{837,1275},{198,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/752/effect/col_action2/32</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-16}</string>
                <key>spriteSize</key>
                <string>{202,154}</string>
                <key>spriteSourceSize</key>
                <string>{230,190}</string>
                <key>textureRect</key>
                <string>{{841,781},{202,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/752/effect/col_action2/33</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-16}</string>
                <key>spriteSize</key>
                <string>{212,154}</string>
                <key>spriteSourceSize</key>
                <string>{230,190}</string>
                <key>textureRect</key>
                <string>{{631,409},{212,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/752/effect/col_action2/34</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-16}</string>
                <key>spriteSize</key>
                <string>{212,154}</string>
                <key>spriteSourceSize</key>
                <string>{230,190}</string>
                <key>textureRect</key>
                <string>{{629,1119},{212,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/752/effect/col_action2/35</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-15}</string>
                <key>spriteSize</key>
                <string>{218,156}</string>
                <key>spriteSourceSize</key>
                <string>{230,190}</string>
                <key>textureRect</key>
                <string>{{597,785},{218,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/752/effect/col_action2/36</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-15}</string>
                <key>spriteSize</key>
                <string>{216,156}</string>
                <key>spriteSourceSize</key>
                <string>{230,190}</string>
                <key>textureRect</key>
                <string>{{409,1277},{216,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/752/effect/col_action2/37</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-9}</string>
                <key>spriteSize</key>
                <string>{132,152}</string>
                <key>spriteSourceSize</key>
                <string>{230,190}</string>
                <key>textureRect</key>
                <string>{{1,1511},{132,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/752/effect/col_action2/38</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-9}</string>
                <key>spriteSize</key>
                <string>{132,152}</string>
                <key>spriteSourceSize</key>
                <string>{230,190}</string>
                <key>textureRect</key>
                <string>{{1,1511},{132,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/752/effect/col_action2/39</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,7}</string>
                <key>spriteSize</key>
                <string>{92,126}</string>
                <key>spriteSourceSize</key>
                <string>{230,190}</string>
                <key>textureRect</key>
                <string>{{189,565},{92,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/752/effect/col_action2/40</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,7}</string>
                <key>spriteSize</key>
                <string>{82,126}</string>
                <key>spriteSourceSize</key>
                <string>{230,190}</string>
                <key>textureRect</key>
                <string>{{317,565},{82,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action20.pvr.ccz</string>
            <key>size</key>
            <string>{1002,1646}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a8cbb1e5304a952b5f8c35fab126534:a5c8ac641d7c1ffc8085376cfcd33ef3:98ec4b5f3da3b367b0df440471cccb39$</string>
            <key>textureFileName</key>
            <string>col_action20.pvr.ccz</string>
        </dict>
    </dict>
</plist>
