<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-51,-2}</string>
			<key>spriteSize</key>
			<string>{24,62}</string>
			<key>spriteSourceSize</key>
			<string>{162,202}</string>
			<key>textureRect</key>
			<string>{{413,389},{24,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-3}</string>
			<key>spriteSize</key>
			<string>{124,160}</string>
			<key>spriteSourceSize</key>
			<string>{162,202}</string>
			<key>textureRect</key>
			<string>{{1489,351},{124,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-4}</string>
			<key>spriteSize</key>
			<string>{126,164}</string>
			<key>spriteSourceSize</key>
			<string>{162,202}</string>
			<key>textureRect</key>
			<string>{{463,385},{126,164}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-4}</string>
			<key>spriteSize</key>
			<string>{128,166}</string>
			<key>spriteSourceSize</key>
			<string>{162,202}</string>
			<key>textureRect</key>
			<string>{{629,381},{128,166}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-4}</string>
			<key>spriteSize</key>
			<string>{128,166}</string>
			<key>spriteSourceSize</key>
			<string>{162,202}</string>
			<key>textureRect</key>
			<string>{{797,381},{128,166}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-4}</string>
			<key>spriteSize</key>
			<string>{132,170}</string>
			<key>spriteSourceSize</key>
			<string>{162,202}</string>
			<key>textureRect</key>
			<string>{{1475,1},{132,170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-4}</string>
			<key>spriteSize</key>
			<string>{132,170}</string>
			<key>spriteSourceSize</key>
			<string>{162,202}</string>
			<key>textureRect</key>
			<string>{{1587,173},{132,170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-4}</string>
			<key>spriteSize</key>
			<string>{132,170}</string>
			<key>spriteSourceSize</key>
			<string>{162,202}</string>
			<key>textureRect</key>
			<string>{{1609,1},{132,170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-3}</string>
			<key>spriteSize</key>
			<string>{132,172}</string>
			<key>spriteSourceSize</key>
			<string>{162,202}</string>
			<key>textureRect</key>
			<string>{{1453,177},{132,172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-2}</string>
			<key>spriteSize</key>
			<string>{132,174}</string>
			<key>spriteSourceSize</key>
			<string>{162,202}</string>
			<key>textureRect</key>
			<string>{{1341,1},{132,174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-1}</string>
			<key>spriteSize</key>
			<string>{132,176}</string>
			<key>spriteSourceSize</key>
			<string>{162,202}</string>
			<key>textureRect</key>
			<string>{{1319,181},{132,176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{132,178}</string>
			<key>spriteSourceSize</key>
			<string>{162,202}</string>
			<key>textureRect</key>
			<string>{{1207,1},{132,178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,0}</string>
			<key>spriteSize</key>
			<string>{140,178}</string>
			<key>spriteSourceSize</key>
			<string>{162,202}</string>
			<key>textureRect</key>
			<string>{{1037,183},{140,178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,0}</string>
			<key>spriteSize</key>
			<string>{140,178}</string>
			<key>spriteSourceSize</key>
			<string>{162,202}</string>
			<key>textureRect</key>
			<string>{{1065,1},{140,178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,0}</string>
			<key>spriteSize</key>
			<string>{140,178}</string>
			<key>spriteSourceSize</key>
			<string>{162,202}</string>
			<key>textureRect</key>
			<string>{{1145,363},{140,178}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>15</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,0}</string>
			<key>spriteSize</key>
			<string>{138,178}</string>
			<key>spriteSourceSize</key>
			<string>{162,202}</string>
			<key>textureRect</key>
			<string>{{965,373},{138,178}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>16</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,0}</string>
			<key>spriteSize</key>
			<string>{138,178}</string>
			<key>spriteSourceSize</key>
			<string>{162,202}</string>
			<key>textureRect</key>
			<string>{{1179,181},{138,178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>17</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,4}</string>
			<key>spriteSize</key>
			<string>{138,186}</string>
			<key>spriteSourceSize</key>
			<string>{162,202}</string>
			<key>textureRect</key>
			<string>{{611,193},{138,186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>18</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,4}</string>
			<key>spriteSize</key>
			<string>{138,186}</string>
			<key>spriteSourceSize</key>
			<string>{162,202}</string>
			<key>textureRect</key>
			<string>{{751,193},{138,186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>19</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,3}</string>
			<key>spriteSize</key>
			<string>{144,184}</string>
			<key>spriteSourceSize</key>
			<string>{162,202}</string>
			<key>textureRect</key>
			<string>{{759,1},{144,184}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>20</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,3}</string>
			<key>spriteSize</key>
			<string>{144,184}</string>
			<key>spriteSourceSize</key>
			<string>{162,202}</string>
			<key>textureRect</key>
			<string>{{891,187},{144,184}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>21</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,1}</string>
			<key>spriteSize</key>
			<string>{146,190}</string>
			<key>spriteSourceSize</key>
			<string>{162,202}</string>
			<key>textureRect</key>
			<string>{{463,1},{146,190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>22</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,1}</string>
			<key>spriteSize</key>
			<string>{146,190}</string>
			<key>spriteSourceSize</key>
			<string>{162,202}</string>
			<key>textureRect</key>
			<string>{{463,193},{146,190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>23</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,1}</string>
			<key>spriteSize</key>
			<string>{146,190}</string>
			<key>spriteSourceSize</key>
			<string>{162,202}</string>
			<key>textureRect</key>
			<string>{{611,1},{146,190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>24</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-3}</string>
			<key>spriteSize</key>
			<string>{148,192}</string>
			<key>spriteSourceSize</key>
			<string>{162,202}</string>
			<key>textureRect</key>
			<string>{{313,1},{148,192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>25</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-3}</string>
			<key>spriteSize</key>
			<string>{148,192}</string>
			<key>spriteSourceSize</key>
			<string>{162,202}</string>
			<key>textureRect</key>
			<string>{{313,195},{148,192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>26</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,-3}</string>
			<key>spriteSize</key>
			<string>{152,192}</string>
			<key>spriteSourceSize</key>
			<string>{162,202}</string>
			<key>textureRect</key>
			<string>{{159,1},{152,192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>27</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,-3}</string>
			<key>spriteSize</key>
			<string>{152,192}</string>
			<key>spriteSourceSize</key>
			<string>{162,202}</string>
			<key>textureRect</key>
			<string>{{159,195},{152,192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>28</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,-5}</string>
			<key>spriteSize</key>
			<string>{156,192}</string>
			<key>spriteSourceSize</key>
			<string>{162,202}</string>
			<key>textureRect</key>
			<string>{{1,1},{156,192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>29</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,-5}</string>
			<key>spriteSize</key>
			<string>{156,192}</string>
			<key>spriteSourceSize</key>
			<string>{162,202}</string>
			<key>textureRect</key>
			<string>{{1,195},{156,192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>30</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-11}</string>
			<key>spriteSize</key>
			<string>{158,180}</string>
			<key>spriteSourceSize</key>
			<string>{162,202}</string>
			<key>textureRect</key>
			<string>{{905,1},{158,180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>31</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-23}</string>
			<key>spriteSize</key>
			<string>{158,156}</string>
			<key>spriteSourceSize</key>
			<string>{162,202}</string>
			<key>textureRect</key>
			<string>{{1615,345},{158,156}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>32</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-23}</string>
			<key>spriteSize</key>
			<string>{156,154}</string>
			<key>spriteSourceSize</key>
			<string>{162,202}</string>
			<key>textureRect</key>
			<string>{{1721,173},{156,154}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>33</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-23}</string>
			<key>spriteSize</key>
			<string>{156,154}</string>
			<key>spriteSourceSize</key>
			<string>{162,202}</string>
			<key>textureRect</key>
			<string>{{1721,173},{156,154}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>34</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-23}</string>
			<key>spriteSize</key>
			<string>{156,154}</string>
			<key>spriteSourceSize</key>
			<string>{162,202}</string>
			<key>textureRect</key>
			<string>{{1743,1},{156,154}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>35</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-19}</string>
			<key>spriteSize</key>
			<string>{152,162}</string>
			<key>spriteSourceSize</key>
			<string>{162,202}</string>
			<key>textureRect</key>
			<string>{{1325,359},{152,162}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>36</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-19}</string>
			<key>spriteSize</key>
			<string>{152,162}</string>
			<key>spriteSourceSize</key>
			<string>{162,202}</string>
			<key>textureRect</key>
			<string>{{1325,359},{152,162}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>37</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-22,-13}</string>
			<key>spriteSize</key>
			<string>{108,158}</string>
			<key>spriteSourceSize</key>
			<string>{162,202}</string>
			<key>textureRect</key>
			<string>{{1,389},{108,158}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>38</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-22,-13}</string>
			<key>spriteSize</key>
			<string>{108,158}</string>
			<key>spriteSourceSize</key>
			<string>{162,202}</string>
			<key>textureRect</key>
			<string>{{1,389},{108,158}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>39</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-22,7}</string>
			<key>spriteSize</key>
			<string>{106,124}</string>
			<key>spriteSourceSize</key>
			<string>{162,202}</string>
			<key>textureRect</key>
			<string>{{161,389},{106,124}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>40</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-22,7}</string>
			<key>spriteSize</key>
			<string>{106,124}</string>
			<key>spriteSourceSize</key>
			<string>{162,202}</string>
			<key>textureRect</key>
			<string>{{287,389},{106,124}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action10.pvr.ccz</string>
		<key>size</key>
		<string>{1898,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:75e5c88fc5f7500255eee8f974946755:46a4aa59d03f058de35fdb4f613b1069:fd6dfe3ee94267230ed6425290acf6b5$</string>
		<key>textureFileName</key>
		<string>col_action10.pvr.ccz</string>
	</dict>
</dict>
</plist>
