<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3071/effect/col_action2/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,3}</string>
                <key>spriteSize</key>
                <string>{189,140}</string>
                <key>spriteSourceSize</key>
                <string>{355,284}</string>
                <key>textureRect</key>
                <string>{{342,566},{189,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3071/effect/col_action2/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,4}</string>
                <key>spriteSize</key>
                <string>{187,140}</string>
                <key>spriteSourceSize</key>
                <string>{355,284}</string>
                <key>textureRect</key>
                <string>{{340,757},{187,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3071/effect/col_action2/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,3}</string>
                <key>spriteSize</key>
                <string>{187,138}</string>
                <key>spriteSourceSize</key>
                <string>{355,284}</string>
                <key>textureRect</key>
                <string>{{264,1537},{187,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3071/effect/col_action2/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-1}</string>
                <key>spriteSize</key>
                <string>{187,144}</string>
                <key>spriteSourceSize</key>
                <string>{355,284}</string>
                <key>textureRect</key>
                <string>{{342,377},{187,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3071/effect/col_action2/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-1}</string>
                <key>spriteSize</key>
                <string>{185,146}</string>
                <key>spriteSourceSize</key>
                <string>{355,284}</string>
                <key>textureRect</key>
                <string>{{354,190},{185,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3071/effect/col_action2/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-6}</string>
                <key>spriteSize</key>
                <string>{187,154}</string>
                <key>spriteSourceSize</key>
                <string>{355,284}</string>
                <key>textureRect</key>
                <string>{{354,1},{187,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3071/effect/col_action2/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-10}</string>
                <key>spriteSize</key>
                <string>{189,174}</string>
                <key>spriteSourceSize</key>
                <string>{355,284}</string>
                <key>textureRect</key>
                <string>{{288,1361},{189,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3071/effect/col_action2/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-4}</string>
                <key>spriteSize</key>
                <string>{199,194}</string>
                <key>spriteSourceSize</key>
                <string>{355,284}</string>
                <key>textureRect</key>
                <string>{{304,946},{199,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3071/effect/col_action2/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-12}</string>
                <key>spriteSize</key>
                <string>{217,222}</string>
                <key>spriteSourceSize</key>
                <string>{355,284}</string>
                <key>textureRect</key>
                <string>{{288,1142},{217,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3071/effect/col_action2/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-13}</string>
                <key>spriteSize</key>
                <string>{261,258}</string>
                <key>spriteSourceSize</key>
                <string>{355,284}</string>
                <key>textureRect</key>
                <string>{{1,1387},{261,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3071/effect/col_action2/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-6}</string>
                <key>spriteSize</key>
                <string>{337,272}</string>
                <key>spriteSourceSize</key>
                <string>{355,284}</string>
                <key>textureRect</key>
                <string>{{1,573},{337,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3071/effect/col_action2/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{351,284}</string>
                <key>spriteSourceSize</key>
                <string>{355,284}</string>
                <key>textureRect</key>
                <string>{{1,1},{351,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3071/effect/col_action2/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-16}</string>
                <key>spriteSize</key>
                <string>{301,252}</string>
                <key>spriteSourceSize</key>
                <string>{355,284}</string>
                <key>textureRect</key>
                <string>{{1,847},{301,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3071/effect/col_action2/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,0}</string>
                <key>spriteSize</key>
                <string>{285,284}</string>
                <key>spriteSourceSize</key>
                <string>{355,284}</string>
                <key>textureRect</key>
                <string>{{1,1101},{285,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3071/effect/col_action2/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{339,284}</string>
                <key>spriteSourceSize</key>
                <string>{355,284}</string>
                <key>textureRect</key>
                <string>{{1,287},{339,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action20.pvr.ccz</string>
            <key>size</key>
            <string>{511,1676}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:236a7aa78ff1a8a487cf05f0bbb86de7:8b940c7f974a5abf85005adaf5e98dbb:98ec4b5f3da3b367b0df440471cccb39$</string>
            <key>textureFileName</key>
            <string>col_action20.pvr.ccz</string>
        </dict>
    </dict>
</plist>
