<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-25,88}</string>
			<key>spriteSize</key>
			<string>{66,52}</string>
			<key>spriteSourceSize</key>
			<string>{670,328}</string>
			<key>textureRect</key>
			<string>{{141,401},{66,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-54,51}</string>
			<key>spriteSize</key>
			<string>{64,76}</string>
			<key>spriteSourceSize</key>
			<string>{670,328}</string>
			<key>textureRect</key>
			<string>{{1,401},{64,76}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-83,35}</string>
			<key>spriteSize</key>
			<string>{60,64}</string>
			<key>spriteSourceSize</key>
			<string>{670,328}</string>
			<key>textureRect</key>
			<string>{{79,401},{60,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-135,15}</string>
			<key>spriteSize</key>
			<string>{94,70}</string>
			<key>spriteSourceSize</key>
			<string>{670,328}</string>
			<key>textureRect</key>
			<string>{{209,391},{94,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-143,14}</string>
			<key>spriteSize</key>
			<string>{122,104}</string>
			<key>spriteSourceSize</key>
			<string>{670,328}</string>
			<key>textureRect</key>
			<string>{{309,347},{122,104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-141,15}</string>
			<key>spriteSize</key>
			<string>{162,138}</string>
			<key>spriteSourceSize</key>
			<string>{670,328}</string>
			<key>textureRect</key>
			<string>{{309,1},{162,138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-142,15}</string>
			<key>spriteSize</key>
			<string>{182,156}</string>
			<key>spriteSourceSize</key>
			<string>{670,328}</string>
			<key>textureRect</key>
			<string>{{1,217},{182,156}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-143,14}</string>
			<key>spriteSize</key>
			<string>{214,184}</string>
			<key>spriteSourceSize</key>
			<string>{670,328}</string>
			<key>textureRect</key>
			<string>{{1,1},{214,184}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-143,14}</string>
			<key>spriteSize</key>
			<string>{172,148}</string>
			<key>spriteSourceSize</key>
			<string>{670,328}</string>
			<key>textureRect</key>
			<string>{{159,217},{172,148}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-135,13}</string>
			<key>spriteSize</key>
			<string>{150,120}</string>
			<key>spriteSourceSize</key>
			<string>{670,328}</string>
			<key>textureRect</key>
			<string>{{187,1},{150,120}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-135,9}</string>
			<key>spriteSize</key>
			<string>{150,112}</string>
			<key>spriteSourceSize</key>
			<string>{670,328}</string>
			<key>textureRect</key>
			<string>{{309,141},{150,112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-134,17}</string>
			<key>spriteSize</key>
			<string>{148,90}</string>
			<key>spriteSourceSize</key>
			<string>{670,328}</string>
			<key>textureRect</key>
			<string>{{309,255},{148,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-142,0}</string>
			<key>spriteSize</key>
			<string>{38,44}</string>
			<key>spriteSourceSize</key>
			<string>{670,328}</string>
			<key>textureRect</key>
			<string>{{187,153},{38,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-142,0}</string>
			<key>spriteSize</key>
			<string>{38,44}</string>
			<key>spriteSourceSize</key>
			<string>{670,328}</string>
			<key>textureRect</key>
			<string>{{227,153},{38,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-142,0}</string>
			<key>spriteSize</key>
			<string>{38,44}</string>
			<key>spriteSourceSize</key>
			<string>{670,328}</string>
			<key>textureRect</key>
			<string>{{267,153},{38,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action20.pvr.ccz</string>
		<key>size</key>
		<string>{472,466}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d7d583a78d2a6a653c83cd9de8789a21:7033e64c0a66b100b1bb3afc9c3bec8a:98ec4b5f3da3b367b0df440471cccb39$</string>
		<key>textureFileName</key>
		<string>col_action20.pvr.ccz</string>
	</dict>
</dict>
</plist>
