<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/sss_aura7/back/00</key>
            <dict>
                <key>frame</key>
                <string>{{1374,830},{341,274}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,274}}</string>
                <key>sourceSize</key>
                <string>{341,282}</string>
            </dict>
            <key>dragon/sss_aura7/back/01</key>
            <dict>
                <key>frame</key>
                <string>{{1031,1717},{341,274}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,274}}</string>
                <key>sourceSize</key>
                <string>{341,282}</string>
            </dict>
            <key>dragon/sss_aura7/back/02</key>
            <dict>
                <key>frame</key>
                <string>{{830,1374},{341,274}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,274}}</string>
                <key>sourceSize</key>
                <string>{341,282}</string>
            </dict>
            <key>dragon/sss_aura7/back/03</key>
            <dict>
                <key>frame</key>
                <string>{{830,1031},{341,274}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,274}}</string>
                <key>sourceSize</key>
                <string>{341,282}</string>
            </dict>
            <key>dragon/sss_aura7/back/04</key>
            <dict>
                <key>frame</key>
                <string>{{1717,688},{341,274}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,274}}</string>
                <key>sourceSize</key>
                <string>{341,282}</string>
            </dict>
            <key>dragon/sss_aura7/back/05</key>
            <dict>
                <key>frame</key>
                <string>{{1374,554},{341,274}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,274}}</string>
                <key>sourceSize</key>
                <string>{341,282}</string>
            </dict>
            <key>dragon/sss_aura7/back/06</key>
            <dict>
                <key>frame</key>
                <string>{{1031,554},{341,274}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,274}}</string>
                <key>sourceSize</key>
                <string>{341,282}</string>
            </dict>
            <key>dragon/sss_aura7/back/07</key>
            <dict>
                <key>frame</key>
                <string>{{688,1717},{341,274}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,274}}</string>
                <key>sourceSize</key>
                <string>{341,282}</string>
            </dict>
            <key>dragon/sss_aura7/back/08</key>
            <dict>
                <key>frame</key>
                <string>{{554,1374},{341,274}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,274}}</string>
                <key>sourceSize</key>
                <string>{341,282}</string>
            </dict>
            <key>dragon/sss_aura7/back/09</key>
            <dict>
                <key>frame</key>
                <string>{{554,1031},{341,274}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,274}}</string>
                <key>sourceSize</key>
                <string>{341,282}</string>
            </dict>
            <key>dragon/sss_aura7/back/10</key>
            <dict>
                <key>frame</key>
                <string>{{554,688},{341,274}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,274}}</string>
                <key>sourceSize</key>
                <string>{341,282}</string>
            </dict>
            <key>dragon/sss_aura7/back/11</key>
            <dict>
                <key>frame</key>
                <string>{{1717,345},{341,274}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,274}}</string>
                <key>sourceSize</key>
                <string>{341,282}</string>
            </dict>
            <key>dragon/sss_aura7/back/12</key>
            <dict>
                <key>frame</key>
                <string>{{1374,278},{341,274}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,274}}</string>
                <key>sourceSize</key>
                <string>{341,282}</string>
            </dict>
            <key>dragon/sss_aura7/back/13</key>
            <dict>
                <key>frame</key>
                <string>{{1031,278},{341,274}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,274}}</string>
                <key>sourceSize</key>
                <string>{341,282}</string>
            </dict>
            <key>dragon/sss_aura7/back/14</key>
            <dict>
                <key>frame</key>
                <string>{{688,278},{341,274}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,274}}</string>
                <key>sourceSize</key>
                <string>{341,282}</string>
            </dict>
            <key>dragon/sss_aura7/back/15</key>
            <dict>
                <key>frame</key>
                <string>{{345,1717},{341,274}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,274}}</string>
                <key>sourceSize</key>
                <string>{341,282}</string>
            </dict>
            <key>dragon/sss_aura7/back/16</key>
            <dict>
                <key>frame</key>
                <string>{{278,1374},{341,274}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,274}}</string>
                <key>sourceSize</key>
                <string>{341,282}</string>
            </dict>
            <key>dragon/sss_aura7/back/17</key>
            <dict>
                <key>frame</key>
                <string>{{278,1031},{341,274}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,274}}</string>
                <key>sourceSize</key>
                <string>{341,282}</string>
            </dict>
            <key>dragon/sss_aura7/back/18</key>
            <dict>
                <key>frame</key>
                <string>{{278,688},{341,274}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,274}}</string>
                <key>sourceSize</key>
                <string>{341,282}</string>
            </dict>
            <key>dragon/sss_aura7/back/19</key>
            <dict>
                <key>frame</key>
                <string>{{278,345},{341,274}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,274}}</string>
                <key>sourceSize</key>
                <string>{341,282}</string>
            </dict>
            <key>dragon/sss_aura7/back/20</key>
            <dict>
                <key>frame</key>
                <string>{{2,1717},{341,274}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,274}}</string>
                <key>sourceSize</key>
                <string>{341,282}</string>
            </dict>
            <key>dragon/sss_aura7/back/21</key>
            <dict>
                <key>frame</key>
                <string>{{2,1374},{341,274}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,274}}</string>
                <key>sourceSize</key>
                <string>{341,282}</string>
            </dict>
            <key>dragon/sss_aura7/back/22</key>
            <dict>
                <key>frame</key>
                <string>{{2,1031},{341,274}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,274}}</string>
                <key>sourceSize</key>
                <string>{341,282}</string>
            </dict>
            <key>dragon/sss_aura7/back/23</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{341,274}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,274}}</string>
                <key>sourceSize</key>
                <string>{341,282}</string>
            </dict>
            <key>dragon/sss_aura7/back/24</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{341,274}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,274}}</string>
                <key>sourceSize</key>
                <string>{341,282}</string>
            </dict>
            <key>dragon/sss_aura7/back/25</key>
            <dict>
                <key>frame</key>
                <string>{{1717,2},{341,274}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,274}}</string>
                <key>sourceSize</key>
                <string>{341,282}</string>
            </dict>
            <key>dragon/sss_aura7/back/26</key>
            <dict>
                <key>frame</key>
                <string>{{1374,2},{341,274}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,274}}</string>
                <key>sourceSize</key>
                <string>{341,282}</string>
            </dict>
            <key>dragon/sss_aura7/back/27</key>
            <dict>
                <key>frame</key>
                <string>{{1031,2},{341,274}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,274}}</string>
                <key>sourceSize</key>
                <string>{341,282}</string>
            </dict>
            <key>dragon/sss_aura7/back/28</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{341,274}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,274}}</string>
                <key>sourceSize</key>
                <string>{341,282}</string>
            </dict>
            <key>dragon/sss_aura7/back/29</key>
            <dict>
                <key>frame</key>
                <string>{{345,2},{341,274}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,274}}</string>
                <key>sourceSize</key>
                <string>{341,282}</string>
            </dict>
            <key>dragon/sss_aura7/back/30</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{341,274}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,274}}</string>
                <key>sourceSize</key>
                <string>{341,282}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>back.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00b3458afda747f66d58c1c40f941763:e77b24c3559457affbc011405725a8bf:43f3ab1da9ce7ff12a953bd181b43222$</string>
            <key>textureFileName</key>
            <string>back.pvr.ccz</string>
        </dict>
    </dict>
</plist>
