<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3179/effect/col_action2/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-183.5,138.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{370,280}</string>
                <key>textureRect</key>
                <string>{{1,941},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3179/effect/col_action2/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{370,280}</string>
                <key>textureRect</key>
                <string>{{359,907},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3179/effect/col_action2/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{370,280}</string>
                <key>textureRect</key>
                <string>{{319,907},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3179/effect/col_action2/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{370,280}</string>
                <key>textureRect</key>
                <string>{{273,907},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3179/effect/col_action2/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{370,280}</string>
                <key>textureRect</key>
                <string>{{631,899},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3179/effect/col_action2/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{370,280}</string>
                <key>textureRect</key>
                <string>{{525,899},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3179/effect/col_action2/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{370,280}</string>
                <key>textureRect</key>
                <string>{{579,899},{52,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3179/effect/col_action2/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{94,84}</string>
                <key>spriteSourceSize</key>
                <string>{370,280}</string>
                <key>textureRect</key>
                <string>{{769,869},{94,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3179/effect/col_action2/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{144,126}</string>
                <key>spriteSourceSize</key>
                <string>{370,280}</string>
                <key>textureRect</key>
                <string>{{801,459},{144,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3179/effect/col_action2/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{218,192}</string>
                <key>spriteSourceSize</key>
                <string>{370,280}</string>
                <key>textureRect</key>
                <string>{{801,265},{218,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3179/effect/col_action2/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{276,242}</string>
                <key>spriteSourceSize</key>
                <string>{370,280}</string>
                <key>textureRect</key>
                <string>{{525,621},{276,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3179/effect/col_action2/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{274,242}</string>
                <key>spriteSourceSize</key>
                <string>{370,280}</string>
                <key>textureRect</key>
                <string>{{769,593},{274,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3179/effect/col_action2/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{284,250}</string>
                <key>spriteSourceSize</key>
                <string>{370,280}</string>
                <key>textureRect</key>
                <string>{{273,621},{284,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3179/effect/col_action2/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{290,256}</string>
                <key>spriteSourceSize</key>
                <string>{370,280}</string>
                <key>textureRect</key>
                <string>{{543,301},{290,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3179/effect/col_action2/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{298,262}</string>
                <key>spriteSourceSize</key>
                <string>{370,280}</string>
                <key>textureRect</key>
                <string>{{537,1},{298,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3179/effect/col_action2/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{304,268}</string>
                <key>spriteSourceSize</key>
                <string>{370,280}</string>
                <key>textureRect</key>
                <string>{{273,315},{304,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3179/effect/col_action2/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{312,274}</string>
                <key>spriteSourceSize</key>
                <string>{370,280}</string>
                <key>textureRect</key>
                <string>{{1,1},{312,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3179/effect/col_action2/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{310,270}</string>
                <key>spriteSourceSize</key>
                <string>{370,280}</string>
                <key>textureRect</key>
                <string>{{1,629},{310,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3179/effect/col_action2/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{312,270}</string>
                <key>spriteSourceSize</key>
                <string>{370,280}</string>
                <key>textureRect</key>
                <string>{{1,315},{312,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3179/effect/col_action2/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,4}</string>
                <key>spriteSize</key>
                <string>{300,258}</string>
                <key>spriteSourceSize</key>
                <string>{370,280}</string>
                <key>textureRect</key>
                <string>{{277,1},{300,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3179/effect/col_action2/20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,4}</string>
                <key>spriteSize</key>
                <string>{262,218}</string>
                <key>spriteSourceSize</key>
                <string>{370,280}</string>
                <key>textureRect</key>
                <string>{{801,1},{262,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action20.pvr.ccz</string>
            <key>size</key>
            <string>{1020,954}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75af9e683961abc9da862b280f88110f:4f121c226c9d053be146265392047341:98ec4b5f3da3b367b0df440471cccb39$</string>
            <key>textureFileName</key>
            <string>col_action20.pvr.ccz</string>
        </dict>
    </dict>
</plist>
