<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/spirit/4/profile/1</key>
            <dict>
                <key>frame</key>
                <string>{{93,405},{82,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,89}}</string>
                <key>sourceSize</key>
                <string>{82,89}</string>
            </dict>
            <key>scene/spirit/4/profile/2</key>
            <dict>
                <key>frame</key>
                <string>{{2,405},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
            <key>scene/spirit/4/profile/3</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{105,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,101}}</string>
                <key>sourceSize</key>
                <string>{105,101}</string>
            </dict>
            <key>scene/spirit/4/profile/4</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{94,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,105}}</string>
                <key>sourceSize</key>
                <string>{94,105}</string>
            </dict>
            <key>scene/spirit/4/profile/5-1</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{107,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,98}}</string>
                <key>sourceSize</key>
                <string>{107,98}</string>
            </dict>
            <key>scene/spirit/4/profile/5-2</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{102,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,105}}</string>
                <key>sourceSize</key>
                <string>{102,105}</string>
            </dict>
            <key>scene/spirit/4/profile/5-3</key>
            <dict>
                <key>frame</key>
                <string>{{109,205},{105,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,90}}</string>
                <key>sourceSize</key>
                <string>{105,90}</string>
            </dict>
            <key>scene/spirit/4/profile/6-1</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>scene/spirit/4/profile/6-2</key>
            <dict>
                <key>frame</key>
                <string>{{109,106},{97,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,105}}</string>
                <key>sourceSize</key>
                <string>{97,105}</string>
            </dict>
            <key>scene/spirit/4/profile/6-3</key>
            <dict>
                <key>frame</key>
                <string>{{109,297},{104,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,98}}</string>
                <key>sourceSize</key>
                <string>{104,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>profile.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41b8d34c8ebba3f0c4ce82a0f381a5f9:848f4146ced857f86df03eed89d120de:03c072fd1c1f67b4883b34fedb7a3213$</string>
            <key>textureFileName</key>
            <string>profile.pvr.ccz</string>
        </dict>
    </dict>
</plist>
