<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3015/effect/col_action1/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{103,92}</string>
                <key>spriteSourceSize</key>
                <string>{205,98}</string>
                <key>textureRect</key>
                <string>{{1,295},{103,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3015/effect/col_action1/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{103,92}</string>
                <key>spriteSourceSize</key>
                <string>{205,98}</string>
                <key>textureRect</key>
                <string>{{1,389},{103,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3015/effect/col_action1/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{103,92}</string>
                <key>spriteSourceSize</key>
                <string>{205,98}</string>
                <key>textureRect</key>
                <string>{{1,483},{103,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3015/effect/col_action1/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{103,92}</string>
                <key>spriteSourceSize</key>
                <string>{205,98}</string>
                <key>textureRect</key>
                <string>{{1,577},{103,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3015/effect/col_action1/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{103,92}</string>
                <key>spriteSourceSize</key>
                <string>{205,98}</string>
                <key>textureRect</key>
                <string>{{1,671},{103,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3015/effect/col_action1/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{103,96}</string>
                <key>spriteSourceSize</key>
                <string>{205,98}</string>
                <key>textureRect</key>
                <string>{{1,1},{103,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3015/effect/col_action1/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{103,96}</string>
                <key>spriteSourceSize</key>
                <string>{205,98}</string>
                <key>textureRect</key>
                <string>{{1,99},{103,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3015/effect/col_action1/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{103,96}</string>
                <key>spriteSourceSize</key>
                <string>{205,98}</string>
                <key>textureRect</key>
                <string>{{1,197},{103,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3015/effect/col_action1/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{103,92}</string>
                <key>spriteSourceSize</key>
                <string>{205,98}</string>
                <key>textureRect</key>
                <string>{{1,765},{103,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3015/effect/col_action1/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{103,92}</string>
                <key>spriteSourceSize</key>
                <string>{205,98}</string>
                <key>textureRect</key>
                <string>{{1,859},{103,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3015/effect/col_action1/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{103,92}</string>
                <key>spriteSourceSize</key>
                <string>{205,98}</string>
                <key>textureRect</key>
                <string>{{1,953},{103,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3015/effect/col_action1/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{103,92}</string>
                <key>spriteSourceSize</key>
                <string>{205,98}</string>
                <key>textureRect</key>
                <string>{{1,1047},{103,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action10.pvr.ccz</string>
            <key>size</key>
            <string>{105,1140}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25aa1926d33b65eefe98da6aac80fcd1:70c917410d1d4b91d3f8221ef8b2404a:fd6dfe3ee94267230ed6425290acf6b5$</string>
            <key>textureFileName</key>
            <string>col_action10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
