<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/book/renewal/bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,480}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/book/renewal/book_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-10}</string>
                <key>spriteSize</key>
                <string>{762,338}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{1,483},{762,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/book/renewal/book_bg_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-10}</string>
                <key>spriteSize</key>
                <string>{762,338}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{1,823},{762,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/book/renewal/btn_reset</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{135,40}</string>
                <key>spriteSourceSize</key>
                <string>{137,42}</string>
                <key>textureRect</key>
                <string>{{761,1163},{135,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/book/renewal/main_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-9}</string>
                <key>spriteSize</key>
                <string>{758,448}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{1,1163},{758,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/book/renewal/reset</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{75,18}</string>
                <key>spriteSourceSize</key>
                <string>{137,42}</string>
                <key>textureRect</key>
                <string>{{765,799},{75,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/book/renewal/reset_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{95,18}</string>
                <key>spriteSourceSize</key>
                <string>{137,42}</string>
                <key>textureRect</key>
                <string>{{765,702},{95,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/book/renewal/search_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,33}</string>
                <key>spriteSourceSize</key>
                <string>{125,37}</string>
                <key>textureRect</key>
                <string>{{765,483},{125,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/book/renewal/search_new</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,22}</string>
                <key>spriteSourceSize</key>
                <string>{90,22}</string>
                <key>textureRect</key>
                <string>{{765,610},{90,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>renewal.pvr.ccz</string>
            <key>size</key>
            <string>{802,1612}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6282a187e12d59cb7ac1d60b56d6a78:7d265ce6734de7fc9fd2950b06796592:45c6f03621e7b40c65c6e8fe0a63e9ce$</string>
            <key>textureFileName</key>
            <string>renewal.pvr.ccz</string>
        </dict>
    </dict>
</plist>
