<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/event/anniversary2021/bt_bingo_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,72}</string>
                <key>spriteSourceSize</key>
                <string>{28,72}</string>
                <key>textureRect</key>
                <string>{{600,585},{28,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/bt_bingo_off_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,72}</string>
                <key>spriteSourceSize</key>
                <string>{28,72}</string>
                <key>textureRect</key>
                <string>{{1437,1524},{28,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/bt_bingo_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,306}</string>
                <key>spriteSourceSize</key>
                <string>{600,306}</string>
                <key>textureRect</key>
                <string>{{792,1},{600,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/bt_bingo_on_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,306}</string>
                <key>spriteSourceSize</key>
                <string>{600,306}</string>
                <key>textureRect</key>
                <string>{{1,738},{600,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/bt_checkin_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,72}</string>
                <key>spriteSourceSize</key>
                <string>{28,72}</string>
                <key>textureRect</key>
                <string>{{1467,1524},{28,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/bt_checkin_off_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,72}</string>
                <key>spriteSourceSize</key>
                <string>{28,72}</string>
                <key>textureRect</key>
                <string>{{1497,1431},{28,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/bt_checkin_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,306}</string>
                <key>spriteSourceSize</key>
                <string>{600,306}</string>
                <key>textureRect</key>
                <string>{{309,738},{600,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/bt_checkin_on_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,306}</string>
                <key>spriteSourceSize</key>
                <string>{600,306}</string>
                <key>textureRect</key>
                <string>{{792,309},{600,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/bt_cookie_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,72}</string>
                <key>spriteSourceSize</key>
                <string>{28,72}</string>
                <key>textureRect</key>
                <string>{{1497,1505},{28,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/bt_cookie_off_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,72}</string>
                <key>spriteSourceSize</key>
                <string>{28,72}</string>
                <key>textureRect</key>
                <string>{{948,1581},{28,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/bt_cookie_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,306}</string>
                <key>spriteSourceSize</key>
                <string>{600,306}</string>
                <key>textureRect</key>
                <string>{{617,617},{600,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/bt_cookie_on_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,306}</string>
                <key>spriteSourceSize</key>
                <string>{600,306}</string>
                <key>textureRect</key>
                <string>{{1219,617},{600,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/bt_dailyrank_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,33}</string>
                <key>spriteSourceSize</key>
                <string>{104,33}</string>
                <key>textureRect</key>
                <string>{{1477,1219},{104,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/bt_dailyrank_off_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,33}</string>
                <key>spriteSourceSize</key>
                <string>{104,33}</string>
                <key>textureRect</key>
                <string>{{485,1571},{104,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/bt_dailyrank_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,33}</string>
                <key>spriteSourceSize</key>
                <string>{104,33}</string>
                <key>textureRect</key>
                <string>{{565,550},{104,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/bt_dailyrank_on_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,33}</string>
                <key>spriteSourceSize</key>
                <string>{104,33}</string>
                <key>textureRect</key>
                <string>{{737,378},{104,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/bt_dragoncup_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,72}</string>
                <key>spriteSourceSize</key>
                <string>{28,72}</string>
                <key>textureRect</key>
                <string>{{1022,1581},{28,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/bt_dragoncup_off_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,72}</string>
                <key>spriteSourceSize</key>
                <string>{28,72}</string>
                <key>textureRect</key>
                <string>{{1096,1581},{28,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/bt_dragoncup_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,306}</string>
                <key>spriteSourceSize</key>
                <string>{600,306}</string>
                <key>textureRect</key>
                <string>{{617,925},{600,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/bt_dragoncup_on_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,306}</string>
                <key>spriteSourceSize</key>
                <string>{600,306}</string>
                <key>textureRect</key>
                <string>{{617,1233},{600,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/bt_explanation_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,33}</string>
                <key>spriteSourceSize</key>
                <string>{104,33}</string>
                <key>textureRect</key>
                <string>{{1219,1494},{104,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/bt_explanation_off_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,33}</string>
                <key>spriteSourceSize</key>
                <string>{104,33}</string>
                <key>textureRect</key>
                <string>{{485,1376},{104,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/bt_explanation_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,33}</string>
                <key>spriteSourceSize</key>
                <string>{104,33}</string>
                <key>textureRect</key>
                <string>{{1477,1325},{104,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/bt_explanation_on_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,33}</string>
                <key>spriteSourceSize</key>
                <string>{104,33}</string>
                <key>textureRect</key>
                <string>{{591,1571},{104,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/bt_finals_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,82}</string>
                <key>spriteSourceSize</key>
                <string>{38,82}</string>
                <key>textureRect</key>
                <string>{{1394,533},{38,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/bt_finals_off_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,82}</string>
                <key>spriteSourceSize</key>
                <string>{38,82}</string>
                <key>textureRect</key>
                <string>{{1434,528},{38,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/bt_finals_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,82}</string>
                <key>spriteSourceSize</key>
                <string>{38,82}</string>
                <key>textureRect</key>
                <string>{{977,1541},{38,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/bt_finals_on_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,82}</string>
                <key>spriteSourceSize</key>
                <string>{38,82}</string>
                <key>textureRect</key>
                <string>{{1061,1541},{38,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/bt_info</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,36}</string>
                <key>spriteSourceSize</key>
                <string>{32,36}</string>
                <key>textureRect</key>
                <string>{{671,550},{32,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/bt_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{565,691},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/bt_qualification_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,82}</string>
                <key>spriteSourceSize</key>
                <string>{38,82}</string>
                <key>textureRect</key>
                <string>{{1474,528},{38,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/bt_qualification_off_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,82}</string>
                <key>spriteSourceSize</key>
                <string>{38,82}</string>
                <key>textureRect</key>
                <string>{{1145,1541},{38,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/bt_qualification_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,82}</string>
                <key>spriteSourceSize</key>
                <string>{38,82}</string>
                <key>textureRect</key>
                <string>{{1229,1529},{38,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/bt_qualification_on_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,82}</string>
                <key>spriteSourceSize</key>
                <string>{38,82}</string>
                <key>textureRect</key>
                <string>{{1313,1529},{38,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/bt_rank</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,36}</string>
                <key>spriteSourceSize</key>
                <string>{32,36}</string>
                <key>textureRect</key>
                <string>{{748,568},{32,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/bt_reward_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,33}</string>
                <key>spriteSourceSize</key>
                <string>{104,33}</string>
                <key>textureRect</key>
                <string>{{565,585},{104,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/bt_reward_off_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,33}</string>
                <key>spriteSourceSize</key>
                <string>{104,33}</string>
                <key>textureRect</key>
                <string>{{1325,1494},{104,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/bt_reward_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,33}</string>
                <key>spriteSourceSize</key>
                <string>{104,33}</string>
                <key>textureRect</key>
                <string>{{485,1411},{104,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/bt_reward_on_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,33}</string>
                <key>spriteSourceSize</key>
                <string>{104,33}</string>
                <key>textureRect</key>
                <string>{{697,1571},{104,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/bt_rule</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,34}</string>
                <key>spriteSourceSize</key>
                <string>{37,34}</string>
                <key>textureRect</key>
                <string>{{909,1571},{37,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/bt_rule_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,34}</string>
                <key>spriteSourceSize</key>
                <string>{37,34}</string>
                <key>textureRect</key>
                <string>{{709,568},{37,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/bt_totalrank_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,33}</string>
                <key>spriteSourceSize</key>
                <string>{104,33}</string>
                <key>textureRect</key>
                <string>{{485,1446},{104,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/bt_totalrank_off_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,33}</string>
                <key>spriteSourceSize</key>
                <string>{104,33}</string>
                <key>textureRect</key>
                <string>{{803,1571},{104,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/bt_totalrank_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,33}</string>
                <key>spriteSourceSize</key>
                <string>{104,33}</string>
                <key>textureRect</key>
                <string>{{485,1481},{104,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/bt_totalrank_on_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,33}</string>
                <key>spriteSourceSize</key>
                <string>{104,33}</string>
                <key>textureRect</key>
                <string>{{1398,493},{104,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/bt_trials_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,82}</string>
                <key>spriteSourceSize</key>
                <string>{38,82}</string>
                <key>textureRect</key>
                <string>{{737,484},{38,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/bt_trials_off_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,82}</string>
                <key>spriteSourceSize</key>
                <string>{38,82}</string>
                <key>textureRect</key>
                <string>{{1229,1569},{38,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/bt_trials_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,82}</string>
                <key>spriteSourceSize</key>
                <string>{38,82}</string>
                <key>textureRect</key>
                <string>{{1313,1569},{38,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/bt_trials_on_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,82}</string>
                <key>spriteSourceSize</key>
                <string>{38,82}</string>
                <key>textureRect</key>
                <string>{{1397,1529},{38,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/btn_x</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,46}</string>
                <key>spriteSourceSize</key>
                <string>{40,46}</string>
                <key>textureRect</key>
                <string>{{1431,1476},{40,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/ef_bingo</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{565,378},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/ef_cookie</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,255}</string>
                <key>spriteSourceSize</key>
                <string>{256,255}</string>
                <key>textureRect</key>
                <string>{{1219,1219},{256,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/frame_9thbg1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{789,375}</string>
                <key>spriteSourceSize</key>
                <string>{789,375}</string>
                <key>textureRect</key>
                <string>{{1,1},{789,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/frame_9thbg2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{562,358}</string>
                <key>spriteSourceSize</key>
                <string>{562,358}</string>
                <key>textureRect</key>
                <string>{{1,378},{562,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/frame_line</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{530,2}</string>
                <key>spriteSourceSize</key>
                <string>{530,2}</string>
                <key>textureRect</key>
                <string>{{1394,1},{530,2}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/frame_pointbg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,34}</string>
                <key>spriteSourceSize</key>
                <string>{130,34}</string>
                <key>textureRect</key>
                <string>{{485,1340},{130,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/frame_rank1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,28}</string>
                <key>spriteSourceSize</key>
                <string>{490,28}</string>
                <key>textureRect</key>
                <string>{{485,1541},{490,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/frame_rank2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,32}</string>
                <key>spriteSourceSize</key>
                <string>{490,32}</string>
                <key>textureRect</key>
                <string>{{1398,1},{490,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/frame_rank3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,32}</string>
                <key>spriteSourceSize</key>
                <string>{490,32}</string>
                <key>textureRect</key>
                <string>{{1432,1},{490,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/frame_rank4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,32}</string>
                <key>spriteSourceSize</key>
                <string>{490,32}</string>
                <key>textureRect</key>
                <string>{{1466,1},{490,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/icon_check</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,29}</string>
                <key>spriteSourceSize</key>
                <string>{35,29}</string>
                <key>textureRect</key>
                <string>{{1170,1581},{35,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/info_lv_gauge</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,16}</string>
                <key>spriteSourceSize</key>
                <string>{210,16}</string>
                <key>textureRect</key>
                <string>{{1219,1476},{210,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/info_lv_gauge_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,18}</string>
                <key>spriteSourceSize</key>
                <string>{212,18}</string>
                <key>textureRect</key>
                <string>{{1500,1},{212,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2021/title_anniv</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{482,135}</string>
                <key>spriteSourceSize</key>
                <string>{494,139}</string>
                <key>textureRect</key>
                <string>{{1,1340},{482,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2021/title_anniv_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{482,135}</string>
                <key>spriteSourceSize</key>
                <string>{494,139}</string>
                <key>textureRect</key>
                <string>{{1,1477},{482,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>anniversary2021.pvr.ccz</string>
            <key>size</key>
            <string>{1526,1613}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3b48cd8af825ec9d43594f73f43ea44:21189e6cfaae65348ba1e148de4e7cb6:82f8c24d54551b8f4b0f16372098cf3a$</string>
            <key>textureFileName</key>
            <string>anniversary2021.pvr.ccz</string>
        </dict>
    </dict>
</plist>
