<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/event/anniversary2019/anniversary2019_icon</key>
            <dict>
                <key>frame</key>
                <string>{{403,458},{84,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,66}}</string>
                <key>sourceSize</key>
                <string>{84,66}</string>
            </dict>
            <key>scene/event/anniversary2019/dia_bg</key>
            <dict>
                <key>frame</key>
                <string>{{403,526},{189,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,49}}</string>
                <key>sourceSize</key>
                <string>{189,49}</string>
            </dict>
            <key>scene/event/anniversary2019/spirit</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{503,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,226}}</string>
                <key>sourceSize</key>
                <string>{503,226}</string>
            </dict>
            <key>scene/event/anniversary2019/spirit_en</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{503,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,226}}</string>
                <key>sourceSize</key>
                <string>{503,226}</string>
            </dict>
            <key>scene/event/anniversary2019/title_7</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{399,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,118}}</string>
                <key>sourceSize</key>
                <string>{399,118}</string>
            </dict>
            <key>scene/event/anniversary2019/title_7_en</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{399,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,116}}</string>
                <key>sourceSize</key>
                <string>{399,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anniversary2019.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45130b04e996d17bdc54ae6f5cfe4429:c5b80089b7ed19473f20ba0092d91419:504d48d8a2c42da65142a2b26c69a9ef$</string>
            <key>textureFileName</key>
            <string>anniversary2019.pvr.ccz</string>
        </dict>
    </dict>
</plist>
