<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/event/attendance2017/bg</key>
            <dict>
                <key>frame</key>
                <string>{{2,29},{735,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{735,263}}</string>
                <key>sourceSize</key>
                <string>{735,263}</string>
            </dict>
            <key>scene/event/attendance2017/icon</key>
            <dict>
                <key>frame</key>
                <string>{{267,29},{79,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,70}}</string>
                <key>sourceSize</key>
                <string>{79,70}</string>
            </dict>
            <key>scene/event/attendance2017/shadow</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{83,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,29}}</string>
                <key>sourceSize</key>
                <string>{83,29}</string>
            </dict>
            <key>scene/event/attendance2017/title_en</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{370,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,25}}</string>
                <key>sourceSize</key>
                <string>{370,25}</string>
            </dict>
            <key>scene/event/attendance2017/title_kr</key>
            <dict>
                <key>frame</key>
                <string>{{459,2},{174,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,29}}</string>
                <key>sourceSize</key>
                <string>{174,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>attendance2017.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a90d13db5244a6ddcb27dd02c5378f82:9663a5adff74a7087d33da7bc08f37ae:21c11a408514934fa0c34f6d53c5a6e5$</string>
            <key>textureFileName</key>
            <string>attendance2017.pvr.ccz</string>
        </dict>
    </dict>
</plist>
