<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/event/cardcode/back_badgeinfo</key>
            <dict>
                <key>frame</key>
                <string>{{559,2},{261,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,82}}</string>
                <key>sourceSize</key>
                <string>{261,82}</string>
            </dict>
            <key>scene/event/cardcode/back_cha</key>
            <dict>
                <key>frame</key>
                <string>{{368,458},{122,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,136}}</string>
                <key>sourceSize</key>
                <string>{122,136}</string>
            </dict>
            <key>scene/event/cardcode/back_exp_gage01</key>
            <dict>
                <key>frame</key>
                <string>{{822,26},{198,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,22}}</string>
                <key>sourceSize</key>
                <string>{198,22}</string>
            </dict>
            <key>scene/event/cardcode/back_exp_gage02</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{198,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,22}}</string>
                <key>sourceSize</key>
                <string>{198,22}</string>
            </dict>
            <key>scene/event/cardcode/back_exp_gage03</key>
            <dict>
                <key>frame</key>
                <string>{{810,231},{194,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,18}}</string>
                <key>sourceSize</key>
                <string>{194,18}</string>
            </dict>
            <key>scene/event/cardcode/back_get_item</key>
            <dict>
                <key>frame</key>
                <string>{{559,86},{248,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,249}}</string>
                <key>sourceSize</key>
                <string>{248,249}</string>
            </dict>
            <key>scene/event/cardcode/back_lisence01</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{555,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{555,226}}</string>
                <key>sourceSize</key>
                <string>{555,226}</string>
            </dict>
            <key>scene/event/cardcode/back_lisence02</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{555,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{555,226}}</string>
                <key>sourceSize</key>
                <string>{555,226}</string>
            </dict>
            <key>scene/event/cardcode/back_lisence03</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{555,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{555,226}}</string>
                <key>sourceSize</key>
                <string>{555,226}</string>
            </dict>
            <key>scene/event/cardcode/badge_000</key>
            <dict>
                <key>frame</key>
                <string>{{909,560},{43,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,52}}</string>
                <key>sourceSize</key>
                <string>{43,52}</string>
            </dict>
            <key>scene/event/cardcode/badge_001</key>
            <dict>
                <key>frame</key>
                <string>{{935,515},{43,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,52}}</string>
                <key>sourceSize</key>
                <string>{43,52}</string>
            </dict>
            <key>scene/event/cardcode/badge_002</key>
            <dict>
                <key>frame</key>
                <string>{{935,470},{43,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,52}}</string>
                <key>sourceSize</key>
                <string>{43,52}</string>
            </dict>
            <key>scene/event/cardcode/badge_003</key>
            <dict>
                <key>frame</key>
                <string>{{935,425},{43,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,52}}</string>
                <key>sourceSize</key>
                <string>{43,52}</string>
            </dict>
            <key>scene/event/cardcode/badge_004</key>
            <dict>
                <key>frame</key>
                <string>{{707,540},{43,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,52}}</string>
                <key>sourceSize</key>
                <string>{43,52}</string>
            </dict>
            <key>scene/event/cardcode/badge_005</key>
            <dict>
                <key>frame</key>
                <string>{{707,495},{43,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,52}}</string>
                <key>sourceSize</key>
                <string>{43,52}</string>
            </dict>
            <key>scene/event/cardcode/badge_006</key>
            <dict>
                <key>frame</key>
                <string>{{707,450},{43,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,52}}</string>
                <key>sourceSize</key>
                <string>{43,52}</string>
            </dict>
            <key>scene/event/cardcode/bt_badgeinfo</key>
            <dict>
                <key>frame</key>
                <string>{{963,560},{40,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,46}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>scene/event/cardcode/bt_ranking</key>
            <dict>
                <key>frame</key>
                <string>{{989,425},{120,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,30}}</string>
                <key>sourceSize</key>
                <string>{120,30}</string>
            </dict>
            <key>scene/event/cardcode/event_icon</key>
            <dict>
                <key>frame</key>
                <string>{{707,416},{78,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,32}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>scene/event/cardcode/frame_pic_01</key>
            <dict>
                <key>frame</key>
                <string>{{761,559},{132,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,146}}</string>
                <key>sourceSize</key>
                <string>{132,146}</string>
            </dict>
            <key>scene/event/cardcode/frame_pic_02</key>
            <dict>
                <key>frame</key>
                <string>{{787,425},{132,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,146}}</string>
                <key>sourceSize</key>
                <string>{132,146}</string>
            </dict>
            <key>scene/event/cardcode/frame_pic_03</key>
            <dict>
                <key>frame</key>
                <string>{{559,416},{132,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,146}}</string>
                <key>sourceSize</key>
                <string>{132,146}</string>
            </dict>
            <key>scene/event/cardcode/get_item01</key>
            <dict>
                <key>frame</key>
                <string>{{822,50},{196,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,179}}</string>
                <key>sourceSize</key>
                <string>{196,179}</string>
            </dict>
            <key>scene/event/cardcode/get_item02</key>
            <dict>
                <key>frame</key>
                <string>{{810,251},{172,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,188}}</string>
                <key>sourceSize</key>
                <string>{172,188}</string>
            </dict>
            <key>scene/event/cardcode/pic_nuri</key>
            <dict>
                <key>frame</key>
                <string>{{230,458},{122,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,136}}</string>
                <key>sourceSize</key>
                <string>{122,136}</string>
            </dict>
            <key>scene/event/cardcode/title_reward</key>
            <dict>
                <key>frame</key>
                <string>{{559,336},{243,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,78}}</string>
                <key>sourceSize</key>
                <string>{243,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cardcode.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82c124b763d381b3a44ca4ec1bc40a46:8cfef0f74c211f9736e98d07f1f4a73b:9f72cdc7d854c92b829724691ca65606$</string>
            <key>textureFileName</key>
            <string>cardcode.pvr.ccz</string>
        </dict>
    </dict>
</plist>
