<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/event/christmas2019/icon_event_off_no1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,73}</string>
                <key>spriteSourceSize</key>
                <string>{73,73}</string>
                <key>textureRect</key>
                <string>{{399,430},{73,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/christmas2019/icon_event_off_no2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,73}</string>
                <key>spriteSourceSize</key>
                <string>{73,73}</string>
                <key>textureRect</key>
                <string>{{516,420},{73,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/christmas2019/icon_event_off_no3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,73}</string>
                <key>spriteSourceSize</key>
                <string>{73,73}</string>
                <key>textureRect</key>
                <string>{{588,284},{73,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/christmas2019/icon_event_off_no4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,73}</string>
                <key>spriteSourceSize</key>
                <string>{73,73}</string>
                <key>textureRect</key>
                <string>{{663,282},{73,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/christmas2019/icon_event_on_no1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,73}</string>
                <key>spriteSourceSize</key>
                <string>{73,73}</string>
                <key>textureRect</key>
                <string>{{591,359},{73,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/christmas2019/icon_event_on_no2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,73}</string>
                <key>spriteSourceSize</key>
                <string>{73,73}</string>
                <key>textureRect</key>
                <string>{{666,357},{73,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/christmas2019/icon_event_on_no3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,73}</string>
                <key>spriteSourceSize</key>
                <string>{73,73}</string>
                <key>textureRect</key>
                <string>{{741,344},{73,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/christmas2019/icon_event_on_no4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,73}</string>
                <key>spriteSourceSize</key>
                <string>{73,73}</string>
                <key>textureRect</key>
                <string>{{741,419},{73,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/christmas2019/icon_eventno_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,73}</string>
                <key>spriteSourceSize</key>
                <string>{73,73}</string>
                <key>textureRect</key>
                <string>{{591,359},{73,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/christmas2019/icon_xmas_event</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,72}</string>
                <key>spriteSourceSize</key>
                <string>{84,72}</string>
                <key>textureRect</key>
                <string>{{320,358},{84,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/christmas2019/xmas_event_bingo1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,70}</string>
                <key>spriteSourceSize</key>
                <string>{86,70}</string>
                <key>textureRect</key>
                <string>{{660,194},{86,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/christmas2019/xmas_event_bingo2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,70}</string>
                <key>spriteSourceSize</key>
                <string>{86,70}</string>
                <key>textureRect</key>
                <string>{{732,178},{86,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/christmas2019/xmas_event_bingo3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,70}</string>
                <key>spriteSourceSize</key>
                <string>{86,70}</string>
                <key>textureRect</key>
                <string>{{516,332},{86,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/christmas2019/xmas_event_bingo_count</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,56}</string>
                <key>spriteSourceSize</key>
                <string>{113,56}</string>
                <key>textureRect</key>
                <string>{{384,286},{113,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/christmas2019/xmas_event_bingo_icon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,56}</string>
                <key>spriteSourceSize</key>
                <string>{59,56}</string>
                <key>textureRect</key>
                <string>{{219,444},{59,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/christmas2019/xmas_event_bingo_reward_b</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,40}</string>
                <key>spriteSourceSize</key>
                <string>{120,40}</string>
                <key>textureRect</key>
                <string>{{277,444},{120,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/christmas2019/xmas_event_bingo_reward_b_g</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,40}</string>
                <key>spriteSourceSize</key>
                <string>{120,40}</string>
                <key>textureRect</key>
                <string>{{474,344},{120,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/christmas2019/xmas_event_bingo_reward_back</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,191}</string>
                <key>spriteSourceSize</key>
                <string>{103,191}</string>
                <key>textureRect</key>
                <string>{{574,1},{103,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/christmas2019/xmas_event_bingo_reward_icon1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,63}</string>
                <key>spriteSourceSize</key>
                <string>{76,63}</string>
                <key>textureRect</key>
                <string>{{738,266},{76,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/christmas2019/xmas_event_bingo_reward_icon2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,63}</string>
                <key>spriteSourceSize</key>
                <string>{76,63}</string>
                <key>textureRect</key>
                <string>{{591,434},{76,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/christmas2019/xmas_event_icon_effect</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,85}</string>
                <key>spriteSourceSize</key>
                <string>{83,85}</string>
                <key>textureRect</key>
                <string>{{679,91},{83,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/christmas2019/xmas_event_off_icon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{765,1},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/christmas2019/xmas_event_on_icon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,44}</string>
                <key>spriteSourceSize</key>
                <string>{42,44}</string>
                <key>textureRect</key>
                <string>{{499,286},{42,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/christmas2019/xmas_event_rule_back</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,283}</string>
                <key>spriteSourceSize</key>
                <string>{188,283}</string>
                <key>textureRect</key>
                <string>{{384,1},{188,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/christmas2019/xmas_event_shop_back</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,216}</string>
                <key>spriteSourceSize</key>
                <string>{141,216}</string>
                <key>textureRect</key>
                <string>{{1,358},{141,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/christmas2019/xmas_event_shopicon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,84}</string>
                <key>spriteSourceSize</key>
                <string>{99,84}</string>
                <key>textureRect</key>
                <string>{{219,358},{99,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/christmas2019/xmas_event_tree</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{381,355}</string>
                <key>spriteSourceSize</key>
                <string>{381,355}</string>
                <key>textureRect</key>
                <string>{{1,1},{381,355}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/christmas2019/xmas_gift_gold</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{84,88}</string>
                <key>spriteSourceSize</key>
                <string>{116,110}</string>
                <key>textureRect</key>
                <string>{{574,194},{84,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/christmas2019/xmas_gift_nomal</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{78,84}</string>
                <key>spriteSourceSize</key>
                <string>{116,110}</string>
                <key>textureRect</key>
                <string>{{394,344},{78,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/christmas2019/xmas_gift_silver</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{84,88}</string>
                <key>spriteSourceSize</key>
                <string>{116,110}</string>
                <key>textureRect</key>
                <string>{{679,1},{84,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>christmas2019.pvr.ccz</string>
            <key>size</key>
            <string>{815,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a8656d137aa11aea303766fe71c97f9:efff2c606e856c25e9d2375abc4377c4:2e671645738083277bb49adcd0ec643b$</string>
            <key>textureFileName</key>
            <string>christmas2019.pvr.ccz</string>
        </dict>
    </dict>
</plist>
