<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/event/chuseok2016/back_category</key>
            <dict>
                <key>frame</key>
                <string>{{64,608},{106,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,302}}</string>
                <key>sourceSize</key>
                <string>{106,302}</string>
            </dict>
            <key>scene/event/chuseok2016/back_day</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{498,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{498,320}}</string>
                <key>sourceSize</key>
                <string>{498,320}</string>
            </dict>
            <key>scene/event/chuseok2016/back_lucky</key>
            <dict>
                <key>frame</key>
                <string>{{172,688},{178,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,178}}</string>
                <key>sourceSize</key>
                <string>{178,178}</string>
            </dict>
            <key>scene/event/chuseok2016/back_point</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{592,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,60}}</string>
                <key>sourceSize</key>
                <string>{592,60}</string>
            </dict>
            <key>scene/event/chuseok2016/back_slot</key>
            <dict>
                <key>frame</key>
                <string>{{64,324},{192,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,282}}</string>
                <key>sourceSize</key>
                <string>{192,282}</string>
            </dict>
            <key>scene/event/chuseok2016/back_today</key>
            <dict>
                <key>frame</key>
                <string>{{2,918},{104,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,322}}</string>
                <key>sourceSize</key>
                <string>{104,322}</string>
            </dict>
            <key>scene/event/chuseok2016/bg_tag</key>
            <dict>
                <key>frame</key>
                <string>{{172,868},{52,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,26}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>scene/event/chuseok2016/bt_main_full</key>
            <dict>
                <key>frame</key>
                <string>{{400,860},{67,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,70}}</string>
                <key>sourceSize</key>
                <string>{67,70}</string>
            </dict>
            <key>scene/event/chuseok2016/bt_main_wait</key>
            <dict>
                <key>frame</key>
                <string>{{172,608},{67,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,70}}</string>
                <key>sourceSize</key>
                <string>{67,70}</string>
            </dict>
            <key>scene/event/chuseok2016/eff_grade1</key>
            <dict>
                <key>frame</key>
                <string>{{446,324},{98,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,58}}</string>
                <key>sourceSize</key>
                <string>{98,58}</string>
            </dict>
            <key>scene/event/chuseok2016/eff_grade2</key>
            <dict>
                <key>frame</key>
                <string>{{420,688},{123,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,78}}</string>
                <key>sourceSize</key>
                <string>{123,78}</string>
            </dict>
            <key>scene/event/chuseok2016/eff_grade3</key>
            <dict>
                <key>frame</key>
                <string>{{352,688},{150,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{150,66}}</string>
                <key>sourceSize</key>
                <string>{150,68}</string>
            </dict>
            <key>scene/event/chuseok2016/gage</key>
            <dict>
                <key>frame</key>
                <string>{{226,868},{24,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,46}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>scene/event/chuseok2016/gage_blank</key>
            <dict>
                <key>frame</key>
                <string>{{352,840},{24,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,46}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>scene/event/chuseok2016/gage_full</key>
            <dict>
                <key>frame</key>
                <string>{{446,424},{24,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,46}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>scene/event/chuseok2016/main_back02</key>
            <dict>
                <key>frame</key>
                <string>{{420,813},{90,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,45}}</string>
                <key>sourceSize</key>
                <string>{90,45}</string>
            </dict>
            <key>scene/event/chuseok2016/main_back03_32x32</key>
            <dict>
                <key>frame</key>
                <string>{{446,472},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>scene/event/chuseok2016/point_shadow_34x34</key>
            <dict>
                <key>frame</key>
                <string>{{472,424},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>scene/event/chuseok2016/title</key>
            <dict>
                <key>frame</key>
                <string>{{352,324},{362,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,92}}</string>
                <key>sourceSize</key>
                <string>{362,94}</string>
            </dict>
            <key>scene/event/chuseok2016/title_eg</key>
            <dict>
                <key>frame</key>
                <string>{{258,324},{362,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,92}}</string>
                <key>sourceSize</key>
                <string>{362,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chuseok2016.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a68ac3d5252f9d4866bc3cd2fc1dc58f:f01fed03f6e6d365d7103b14d59f9b6d:551c20ada0c13572b9627c930300435e$</string>
            <key>textureFileName</key>
            <string>chuseok2016.pvr.ccz</string>
        </dict>
    </dict>
</plist>
