<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/event/dragonvote/icon_1</key>
            <dict>
                <key>frame</key>
                <string>{{37,355},{37,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{37,53}}</string>
                <key>sourceSize</key>
                <string>{39,55}</string>
            </dict>
            <key>scene/event/dragonvote/icon_2</key>
            <dict>
                <key>frame</key>
                <string>{{37,316},{37,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{37,53}}</string>
                <key>sourceSize</key>
                <string>{39,55}</string>
            </dict>
            <key>scene/event/dragonvote/icon_3</key>
            <dict>
                <key>frame</key>
                <string>{{37,277},{37,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{37,53}}</string>
                <key>sourceSize</key>
                <string>{39,55}</string>
            </dict>
            <key>scene/event/dragonvote/icon_4</key>
            <dict>
                <key>frame</key>
                <string>{{37,238},{37,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{37,53}}</string>
                <key>sourceSize</key>
                <string>{39,55}</string>
            </dict>
            <key>scene/event/dragonvote/icon_vote</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{91,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,82}}</string>
                <key>sourceSize</key>
                <string>{91,82}</string>
            </dict>
            <key>scene/event/dragonvote/vote_count</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{150,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{150,60}}</string>
                <key>sourceSize</key>
                <string>{152,62}</string>
            </dict>
            <key>scene/event/dragonvote/vote_title</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{184,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{184,33}}</string>
                <key>sourceSize</key>
                <string>{186,35}</string>
            </dict>
            <key>scene/event/dragonvote/vote_title_en</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{286,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{286,29}}</string>
                <key>sourceSize</key>
                <string>{288,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragonvote.pvr.ccz</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:baf5a43a20865538e5da014179406877:6c9a9112a67a6457dc3ee97da3ac5936:1065fd4a0bd18d237794934296b31d31$</string>
            <key>textureFileName</key>
            <string>dragonvote.pvr.ccz</string>
        </dict>
    </dict>
</plist>
