<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/event/dvmPromotion/dvm_pop</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{468,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,308}}</string>
                <key>sourceSize</key>
                <string>{468,308}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dvmPromotion.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3429d1a530ebe6df15be6c4645ba85c4:d3a31cb8222d2d045838658642a304d5:51c092f25678fdae4342f857111a27f1$</string>
            <key>textureFileName</key>
            <string>dvmPromotion.pvr.ccz</string>
        </dict>
    </dict>
</plist>
