<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/event/hjbrowgame/accept_en</key>
            <dict>
                <key>frame</key>
                <string>{{82,28},{263,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,52}}</string>
                <key>sourceSize</key>
                <string>{263,52}</string>
            </dict>
            <key>scene/event/hjbrowgame/accept_kr</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{314,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,24}}</string>
                <key>sourceSize</key>
                <string>{314,24}</string>
            </dict>
            <key>scene/event/hjbrowgame/box_4</key>
            <dict>
                <key>frame</key>
                <string>{{173,321},{151,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,132}}</string>
                <key>sourceSize</key>
                <string>{151,132}</string>
            </dict>
            <key>scene/event/hjbrowgame/box_4_cover</key>
            <dict>
                <key>frame</key>
                <string>{{355,28},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>scene/event/hjbrowgame/box_4_frame</key>
            <dict>
                <key>frame</key>
                <string>{{32,336},{157,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,139}}</string>
                <key>sourceSize</key>
                <string>{157,139}</string>
            </dict>
            <key>scene/event/hjbrowgame/box_title</key>
            <dict>
                <key>frame</key>
                <string>{{28,293},{31,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,41}}</string>
                <key>sourceSize</key>
                <string>{31,41}</string>
            </dict>
            <key>scene/event/hjbrowgame/hint</key>
            <dict>
                <key>frame</key>
                <string>{{303,474},{50,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,20}}</string>
                <key>sourceSize</key>
                <string>{50,20}</string>
            </dict>
            <key>scene/event/hjbrowgame/hj_icon</key>
            <dict>
                <key>frame</key>
                <string>{{256,28},{64,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,70}}</string>
                <key>sourceSize</key>
                <string>{64,70}</string>
            </dict>
            <key>scene/event/hjbrowgame/promise_en</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{187,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,24}}</string>
                <key>sourceSize</key>
                <string>{187,24}</string>
            </dict>
            <key>scene/event/hjbrowgame/promise_kr</key>
            <dict>
                <key>frame</key>
                <string>{{173,474},{128,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,24}}</string>
                <key>sourceSize</key>
                <string>{128,24}</string>
            </dict>
            <key>scene/event/hjbrowgame/refuse_en</key>
            <dict>
                <key>frame</key>
                <string>{{28,28},{263,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,52}}</string>
                <key>sourceSize</key>
                <string>{263,52}</string>
            </dict>
            <key>scene/event/hjbrowgame/refuse_kr</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{314,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,24}}</string>
                <key>sourceSize</key>
                <string>{314,24}</string>
            </dict>
            <key>scene/event/hjbrowgame/title_en</key>
            <dict>
                <key>frame</key>
                <string>{{61,293},{193,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,26}}</string>
                <key>sourceSize</key>
                <string>{193,26}</string>
            </dict>
            <key>scene/event/hjbrowgame/title_kr</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{164,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,28}}</string>
                <key>sourceSize</key>
                <string>{164,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hjbrowgame.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bceb380a3ffaee9afb093a782b1c8237:c9a3ff7a039f2945cc0b3cc477ace667:0ad9a8cdae44775459dd945f86c41d09$</string>
            <key>textureFileName</key>
            <string>hjbrowgame.pvr.ccz</string>
        </dict>
    </dict>
</plist>
