<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/event/HotYongSoon/bt_iceevent_main</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,60}</string>
                <key>spriteSourceSize</key>
                <string>{75,60}</string>
                <key>textureRect</key>
                <string>{{603,375},{75,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/HotYongSoon/bt_icemission_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,70}</string>
                <key>spriteSourceSize</key>
                <string>{28,70}</string>
                <key>textureRect</key>
                <string>{{1872,910},{28,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/HotYongSoon/bt_icemission_off_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,70}</string>
                <key>spriteSourceSize</key>
                <string>{28,70}</string>
                <key>textureRect</key>
                <string>{{1999,168},{28,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/HotYongSoon/bt_icepakage_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,70}</string>
                <key>spriteSourceSize</key>
                <string>{28,70}</string>
                <key>textureRect</key>
                <string>{{1753,273},{28,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/HotYongSoon/bt_icepakage_off_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,70}</string>
                <key>spriteSourceSize</key>
                <string>{28,70}</string>
                <key>textureRect</key>
                <string>{{1121,1002},{28,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/HotYongSoon/bt_iceshop_buy</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,35}</string>
                <key>spriteSourceSize</key>
                <string>{65,35}</string>
                <key>textureRect</key>
                <string>{{303,991},{65,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/HotYongSoon/bt_iceshop_buy_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,35}</string>
                <key>spriteSourceSize</key>
                <string>{65,35}</string>
                <key>textureRect</key>
                <string>{{665,375},{65,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/HotYongSoon/bt_iceshop_left</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,30}</string>
                <key>spriteSourceSize</key>
                <string>{25,30}</string>
                <key>textureRect</key>
                <string>{{1642,747},{25,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/HotYongSoon/bt_iceshop_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,70}</string>
                <key>spriteSourceSize</key>
                <string>{28,70}</string>
                <key>textureRect</key>
                <string>{{1193,1002},{28,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/HotYongSoon/bt_iceshop_off_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,70}</string>
                <key>spriteSourceSize</key>
                <string>{28,70}</string>
                <key>textureRect</key>
                <string>{{1944,910},{28,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/HotYongSoon/bt_iceshop_right</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,30}</string>
                <key>spriteSourceSize</key>
                <string>{25,30}</string>
                <key>textureRect</key>
                <string>{{1844,946},{25,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/HotYongSoon/frame_ice_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{716,372}</string>
                <key>spriteSourceSize</key>
                <string>{716,372}</string>
                <key>textureRect</key>
                <string>{{1,1},{716,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/HotYongSoon/frame_ice_npcbg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,270}</string>
                <key>spriteSourceSize</key>
                <string>{162,270}</string>
                <key>textureRect</key>
                <string>{{1753,1},{162,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/HotYongSoon/frame_ice_npctalk</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,84}</string>
                <key>spriteSourceSize</key>
                <string>{152,84}</string>
                <key>textureRect</key>
                <string>{{1299,760},{152,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/HotYongSoon/frame_ice_title</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,141}</string>
                <key>spriteSourceSize</key>
                <string>{478,141}</string>
                <key>textureRect</key>
                <string>{{719,309},{478,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/HotYongSoon/frame_ice_title_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,141}</string>
                <key>spriteSourceSize</key>
                <string>{478,141}</string>
                <key>textureRect</key>
                <string>{{1199,309},{478,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/HotYongSoon/frame_icecheck_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,41}</string>
                <key>spriteSourceSize</key>
                <string>{165,41}</string>
                <key>textureRect</key>
                <string>{{1999,1},{165,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/HotYongSoon/frame_icecheck_bg1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,31}</string>
                <key>spriteSourceSize</key>
                <string>{165,31}</string>
                <key>textureRect</key>
                <string>{{1,1015},{165,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/HotYongSoon/frame_icelist_bg0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,82}</string>
                <key>spriteSourceSize</key>
                <string>{392,82}</string>
                <key>textureRect</key>
                <string>{{597,760},{392,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/HotYongSoon/frame_icelist_bg1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,0}</string>
                <key>spriteSize</key>
                <string>{328,80}</string>
                <key>spriteSourceSize</key>
                <string>{392,82}</string>
                <key>textureRect</key>
                <string>{{433,683},{328,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/HotYongSoon/frame_icelist_bg2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,0}</string>
                <key>spriteSize</key>
                <string>{332,80}</string>
                <key>spriteSourceSize</key>
                <string>{392,82}</string>
                <key>textureRect</key>
                <string>{{515,683},{332,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/HotYongSoon/frame_icelist_bg3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,0}</string>
                <key>spriteSize</key>
                <string>{302,80}</string>
                <key>spriteSourceSize</key>
                <string>{392,82}</string>
                <key>textureRect</key>
                <string>{{597,928},{302,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/HotYongSoon/frame_icelist_bg4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,0}</string>
                <key>spriteSize</key>
                <string>{290,80}</string>
                <key>spriteSourceSize</key>
                <string>{392,82}</string>
                <key>textureRect</key>
                <string>{{1917,1},{290,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/HotYongSoon/frame_icelist_bg5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,0}</string>
                <key>spriteSize</key>
                <string>{298,80}</string>
                <key>spriteSourceSize</key>
                <string>{392,82}</string>
                <key>textureRect</key>
                <string>{{991,842},{298,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/HotYongSoon/frame_icelist_bg6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,0}</string>
                <key>spriteSize</key>
                <string>{306,80}</string>
                <key>spriteSourceSize</key>
                <string>{392,82}</string>
                <key>textureRect</key>
                <string>{{991,760},{306,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/HotYongSoon/frame_icelist_bgoff</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,82}</string>
                <key>spriteSourceSize</key>
                <string>{392,82}</string>
                <key>textureRect</key>
                <string>{{597,844},{392,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/HotYongSoon/frame_icelist_gauge</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,22}</string>
                <key>spriteSourceSize</key>
                <string>{300,22}</string>
                <key>textureRect</key>
                <string>{{1,991},{300,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/HotYongSoon/frame_icelist_gaugebg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,22}</string>
                <key>spriteSourceSize</key>
                <string>{300,22}</string>
                <key>textureRect</key>
                <string>{{597,1010},{300,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/HotYongSoon/frame_icelist_rewardon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{1274,973},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/HotYongSoon/frame_icemission</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,306}</string>
                <key>spriteSourceSize</key>
                <string>{430,306}</string>
                <key>textureRect</key>
                <string>{{1,683},{430,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/HotYongSoon/frame_icemission_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,306}</string>
                <key>spriteSourceSize</key>
                <string>{430,306}</string>
                <key>textureRect</key>
                <string>{{1321,1},{430,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/HotYongSoon/frame_icepackage</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,306}</string>
                <key>spriteSourceSize</key>
                <string>{600,306}</string>
                <key>textureRect</key>
                <string>{{1,375},{600,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/HotYongSoon/frame_icepackage_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,306}</string>
                <key>spriteSourceSize</key>
                <string>{600,306}</string>
                <key>textureRect</key>
                <string>{{719,1},{600,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/HotYongSoon/frame_iceshop</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,306}</string>
                <key>spriteSourceSize</key>
                <string>{430,306}</string>
                <key>textureRect</key>
                <string>{{603,452},{430,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/HotYongSoon/frame_iceshop_buy</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,36}</string>
                <key>spriteSourceSize</key>
                <string>{56,36}</string>
                <key>textureRect</key>
                <string>{{370,991},{56,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/HotYongSoon/frame_iceshop_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,306}</string>
                <key>spriteSourceSize</key>
                <string>{430,306}</string>
                <key>textureRect</key>
                <string>{{1035,452},{430,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/HotYongSoon/frame_iceshop_listbg1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,118}</string>
                <key>spriteSourceSize</key>
                <string>{92,118}</string>
                <key>textureRect</key>
                <string>{{1001,952},{92,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/HotYongSoon/frame_iceshop_listbg2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,16}</string>
                <key>spriteSourceSize</key>
                <string>{78,16}</string>
                <key>textureRect</key>
                <string>{{1642,667},{78,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/HotYongSoon/frame_iceshop_pickbg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,122}</string>
                <key>spriteSourceSize</key>
                <string>{96,122}</string>
                <key>textureRect</key>
                <string>{{1871,611},{96,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/HotYongSoon/iceevent_package1_mini</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,125}</string>
                <key>spriteSourceSize</key>
                <string>{173,125}</string>
                <key>textureRect</key>
                <string>{{1467,667},{173,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/HotYongSoon/iceevent_package1_mini_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,125}</string>
                <key>spriteSourceSize</key>
                <string>{173,125}</string>
                <key>textureRect</key>
                <string>{{1291,846},{173,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/HotYongSoon/iceevent_package2_mini</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,125}</string>
                <key>spriteSourceSize</key>
                <string>{173,125}</string>
                <key>textureRect</key>
                <string>{{1466,794},{173,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/HotYongSoon/iceevent_package2_mini_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,125}</string>
                <key>spriteSourceSize</key>
                <string>{173,125}</string>
                <key>textureRect</key>
                <string>{{1466,921},{173,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/HotYongSoon/iceevent_package3_mini</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,125}</string>
                <key>spriteSourceSize</key>
                <string>{173,125}</string>
                <key>textureRect</key>
                <string>{{1679,309},{173,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/HotYongSoon/iceevent_package3_mini_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,125}</string>
                <key>spriteSourceSize</key>
                <string>{173,125}</string>
                <key>textureRect</key>
                <string>{{1696,436},{173,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/HotYongSoon/iceevent_package4_mini</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,125}</string>
                <key>spriteSourceSize</key>
                <string>{173,125}</string>
                <key>textureRect</key>
                <string>{{1823,436},{173,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/HotYongSoon/iceevent_package4_mini_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,125}</string>
                <key>spriteSourceSize</key>
                <string>{173,125}</string>
                <key>textureRect</key>
                <string>{{1696,611},{173,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/HotYongSoon/iceevent_package5_mini</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,125}</string>
                <key>spriteSourceSize</key>
                <string>{173,125}</string>
                <key>textureRect</key>
                <string>{{1669,738},{173,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/HotYongSoon/iceevent_package5_mini_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,125}</string>
                <key>spriteSourceSize</key>
                <string>{173,125}</string>
                <key>textureRect</key>
                <string>{{1669,865},{173,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/HotYongSoon/iceevent_package6_mini</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,125}</string>
                <key>spriteSourceSize</key>
                <string>{173,125}</string>
                <key>textureRect</key>
                <string>{{1872,735},{173,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/HotYongSoon/iceevent_package6_mini_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,125}</string>
                <key>spriteSourceSize</key>
                <string>{173,125}</string>
                <key>textureRect</key>
                <string>{{1854,293},{173,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/HotYongSoon/icon_check</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{1334,973},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/HotYongSoon/icon_event_ice</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-1}</string>
                <key>spriteSize</key>
                <string>{213,199}</string>
                <key>spriteSourceSize</key>
                <string>{265,265}</string>
                <key>textureRect</key>
                <string>{{1467,452},{213,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/HotYongSoon/icon_event_ice_medium</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,94}</string>
                <key>spriteSourceSize</key>
                <string>{116,110}</string>
                <key>textureRect</key>
                <string>{{901,952},{98,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/HotYongSoon/icon_icelist_reward</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,21}</string>
                <key>spriteSourceSize</key>
                <string>{63,21}</string>
                <key>textureRect</key>
                <string>{{901,928},{63,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/HotYongSoon/txt_icelist_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,23}</string>
                <key>spriteSourceSize</key>
                <string>{150,23}</string>
                <key>textureRect</key>
                <string>{{1121,952},{150,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/HotYongSoon/txt_icelist_1_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,26}</string>
                <key>spriteSourceSize</key>
                <string>{222,26}</string>
                <key>textureRect</key>
                <string>{{1668,452},{222,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/HotYongSoon/txt_icelist_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,23}</string>
                <key>spriteSourceSize</key>
                <string>{133,23}</string>
                <key>textureRect</key>
                <string>{{168,1015},{133,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/HotYongSoon/txt_icelist_2_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,26}</string>
                <key>spriteSourceSize</key>
                <string>{206,26}</string>
                <key>textureRect</key>
                <string>{{1844,738},{206,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/HotYongSoon/txt_icelist_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,23}</string>
                <key>spriteSourceSize</key>
                <string>{167,23}</string>
                <key>textureRect</key>
                <string>{{2000,420},{167,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/HotYongSoon/txt_icelist_3_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,26}</string>
                <key>spriteSourceSize</key>
                <string>{185,26}</string>
                <key>textureRect</key>
                <string>{{1669,992},{185,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/HotYongSoon/txt_icelist_4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,23}</string>
                <key>spriteSourceSize</key>
                <string>{172,23}</string>
                <key>textureRect</key>
                <string>{{1975,420},{172,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/HotYongSoon/txt_icelist_4_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,26}</string>
                <key>spriteSourceSize</key>
                <string>{218,26}</string>
                <key>textureRect</key>
                <string>{{1641,794},{218,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/HotYongSoon/txt_icelist_5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,23}</string>
                <key>spriteSourceSize</key>
                <string>{173,23}</string>
                <key>textureRect</key>
                <string>{{1950,420},{173,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/HotYongSoon/txt_icelist_5_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,26}</string>
                <key>spriteSourceSize</key>
                <string>{278,26}</string>
                <key>textureRect</key>
                <string>{{991,924},{278,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/HotYongSoon/txt_icelist_6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,23}</string>
                <key>spriteSourceSize</key>
                <string>{151,23}</string>
                <key>textureRect</key>
                <string>{{1121,977},{151,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/HotYongSoon/txt_icelist_6_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,26}</string>
                <key>spriteSourceSize</key>
                <string>{178,26}</string>
                <key>textureRect</key>
                <string>{{1641,1020},{178,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>HotYongSoon.pvr.ccz</string>
            <key>size</key>
            <string>{2041,1047}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85605c582c487eff2df53114a736b464:76a62302361659c435a68dc3a105d761:25b74186d00cd7673474b446e6087551$</string>
            <key>textureFileName</key>
            <string>HotYongSoon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
