<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/event/NewbieMission/bt_reward_ok</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,57}</string>
                <key>spriteSourceSize</key>
                <string>{163,57}</string>
                <key>textureRect</key>
                <string>{{405,396},{163,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewbieMission/bt_reward_ok_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,57}</string>
                <key>spriteSourceSize</key>
                <string>{163,57}</string>
                <key>textureRect</key>
                <string>{{395,561},{163,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewbieMission/btn_help</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{367,669},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewbieMission/icon_clear</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,17}</string>
                <key>spriteSourceSize</key>
                <string>{40,17}</string>
                <key>textureRect</key>
                <string>{{454,713},{40,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewbieMission/icon_reward</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,21}</string>
                <key>spriteSourceSize</key>
                <string>{63,21}</string>
                <key>textureRect</key>
                <string>{{405,193},{63,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewbieMission/mission_cell_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,82}</string>
                <key>spriteSourceSize</key>
                <string>{392,82}</string>
                <key>textureRect</key>
                <string>{{1,501},{392,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewbieMission/mission_cell_bgoff</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,82}</string>
                <key>spriteSourceSize</key>
                <string>{392,82}</string>
                <key>textureRect</key>
                <string>{{1,585},{392,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewbieMission/mission_cell_gauge_bar</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,20}</string>
                <key>spriteSourceSize</key>
                <string>{300,22}</string>
                <key>textureRect</key>
                <string>{{367,695},{298,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewbieMission/mission_cell_gauge_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,22}</string>
                <key>spriteSourceSize</key>
                <string>{300,22}</string>
                <key>textureRect</key>
                <string>{{481,1},{300,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewbieMission/mission_list_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,306}</string>
                <key>spriteSourceSize</key>
                <string>{402,306}</string>
                <key>textureRect</key>
                <string>{{1,193},{402,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewbieMission/mission_popup_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{604,364}</string>
                <key>spriteSourceSize</key>
                <string>{604,364}</string>
                <key>textureRect</key>
                <string>{{1,669},{604,364}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewbieMission/mission_progress_gauge_bar</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,20}</string>
                <key>spriteSourceSize</key>
                <string>{162,22}</string>
                <key>textureRect</key>
                <string>{{330,1275},{160,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewbieMission/mission_progress_gauge_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,22}</string>
                <key>spriteSourceSize</key>
                <string>{162,22}</string>
                <key>textureRect</key>
                <string>{{306,1275},{162,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewbieMission/mission_progress_title</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,25}</string>
                <key>spriteSourceSize</key>
                <string>{162,25}</string>
                <key>textureRect</key>
                <string>{{252,1275},{162,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewbieMission/mission_progress_title_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,25}</string>
                <key>spriteSourceSize</key>
                <string>{162,25}</string>
                <key>textureRect</key>
                <string>{{279,1275},{162,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewbieMission/mission_title</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,94}</string>
                <key>spriteSourceSize</key>
                <string>{478,94}</string>
                <key>textureRect</key>
                <string>{{1,1},{478,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewbieMission/mission_title_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,94}</string>
                <key>spriteSourceSize</key>
                <string>{478,94}</string>
                <key>textureRect</key>
                <string>{{1,97},{478,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewbieMission/reward_dragon_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,249}</string>
                <key>spriteSourceSize</key>
                <string>{162,249}</string>
                <key>textureRect</key>
                <string>{{1,1275},{162,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewbieMission/reward_dragon_text</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,40}</string>
                <key>spriteSourceSize</key>
                <string>{126,40}</string>
                <key>textureRect</key>
                <string>{{464,461},{126,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewbieMission/reward_dragon_text_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,41}</string>
                <key>spriteSourceSize</key>
                <string>{122,41}</string>
                <key>textureRect</key>
                <string>{{454,589},{122,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewbieMission/reward_item_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{405,216},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewbieMission/reward_item_get</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{405,276},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewbieMission/reward_item_lock</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{405,336},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewbieMission/tab_click_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,33}</string>
                <key>spriteSourceSize</key>
                <string>{77,33}</string>
                <key>textureRect</key>
                <string>{{465,303},{77,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewbieMission/tab_click_1_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,33}</string>
                <key>spriteSourceSize</key>
                <string>{77,33}</string>
                <key>textureRect</key>
                <string>{{465,382},{77,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewbieMission/tab_click_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,33}</string>
                <key>spriteSourceSize</key>
                <string>{77,33}</string>
                <key>textureRect</key>
                <string>{{389,726},{77,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewbieMission/tab_click_2_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,33}</string>
                <key>spriteSourceSize</key>
                <string>{77,33}</string>
                <key>textureRect</key>
                <string>{{424,732},{77,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewbieMission/tab_click_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,33}</string>
                <key>spriteSourceSize</key>
                <string>{77,33}</string>
                <key>textureRect</key>
                <string>{{424,767},{77,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewbieMission/tab_click_3_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,33}</string>
                <key>spriteSourceSize</key>
                <string>{77,33}</string>
                <key>textureRect</key>
                <string>{{424,802},{77,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewbieMission/tab_click_4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,33}</string>
                <key>spriteSourceSize</key>
                <string>{77,33}</string>
                <key>textureRect</key>
                <string>{{389,805},{77,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewbieMission/tab_click_4_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,33}</string>
                <key>spriteSourceSize</key>
                <string>{77,33}</string>
                <key>textureRect</key>
                <string>{{424,837},{77,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewbieMission/tab_click_5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,33}</string>
                <key>spriteSourceSize</key>
                <string>{77,33}</string>
                <key>textureRect</key>
                <string>{{424,872},{77,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewbieMission/tab_click_5_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,33}</string>
                <key>spriteSourceSize</key>
                <string>{77,33}</string>
                <key>textureRect</key>
                <string>{{389,884},{77,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewbieMission/tab_off_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,33}</string>
                <key>spriteSourceSize</key>
                <string>{77,33}</string>
                <key>textureRect</key>
                <string>{{424,907},{77,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewbieMission/tab_off_1_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,33}</string>
                <key>spriteSourceSize</key>
                <string>{77,33}</string>
                <key>textureRect</key>
                <string>{{424,942},{77,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewbieMission/tab_off_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,33}</string>
                <key>spriteSourceSize</key>
                <string>{77,33}</string>
                <key>textureRect</key>
                <string>{{389,963},{77,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewbieMission/tab_off_2_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,33}</string>
                <key>spriteSourceSize</key>
                <string>{77,33}</string>
                <key>textureRect</key>
                <string>{{424,977},{77,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewbieMission/tab_off_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,33}</string>
                <key>spriteSourceSize</key>
                <string>{77,33}</string>
                <key>textureRect</key>
                <string>{{424,1012},{77,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewbieMission/tab_off_3_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,33}</string>
                <key>spriteSourceSize</key>
                <string>{77,33}</string>
                <key>textureRect</key>
                <string>{{367,1042},{77,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewbieMission/tab_off_4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,33}</string>
                <key>spriteSourceSize</key>
                <string>{77,33}</string>
                <key>textureRect</key>
                <string>{{402,1047},{77,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewbieMission/tab_off_4_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,33}</string>
                <key>spriteSourceSize</key>
                <string>{77,33}</string>
                <key>textureRect</key>
                <string>{{402,1082},{77,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewbieMission/tab_off_5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,33}</string>
                <key>spriteSourceSize</key>
                <string>{77,33}</string>
                <key>textureRect</key>
                <string>{{402,1117},{77,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewbieMission/tab_off_5_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,33}</string>
                <key>spriteSourceSize</key>
                <string>{77,33}</string>
                <key>textureRect</key>
                <string>{{367,1121},{77,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewbieMission/tab_on_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,33}</string>
                <key>spriteSourceSize</key>
                <string>{77,33}</string>
                <key>textureRect</key>
                <string>{{402,1152},{77,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewbieMission/tab_on_1_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,33}</string>
                <key>spriteSourceSize</key>
                <string>{77,33}</string>
                <key>textureRect</key>
                <string>{{402,1187},{77,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewbieMission/tab_on_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,33}</string>
                <key>spriteSourceSize</key>
                <string>{77,33}</string>
                <key>textureRect</key>
                <string>{{367,1200},{77,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewbieMission/tab_on_2_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,33}</string>
                <key>spriteSourceSize</key>
                <string>{77,33}</string>
                <key>textureRect</key>
                <string>{{402,1222},{77,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewbieMission/tab_on_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,33}</string>
                <key>spriteSourceSize</key>
                <string>{77,33}</string>
                <key>textureRect</key>
                <string>{{402,1257},{77,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewbieMission/tab_on_3_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,33}</string>
                <key>spriteSourceSize</key>
                <string>{77,33}</string>
                <key>textureRect</key>
                <string>{{352,1279},{77,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewbieMission/tab_on_4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,33}</string>
                <key>spriteSourceSize</key>
                <string>{77,33}</string>
                <key>textureRect</key>
                <string>{{352,1358},{77,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewbieMission/tab_on_4_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,33}</string>
                <key>spriteSourceSize</key>
                <string>{77,33}</string>
                <key>textureRect</key>
                <string>{{387,1292},{77,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewbieMission/tab_on_5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,33}</string>
                <key>spriteSourceSize</key>
                <string>{77,33}</string>
                <key>textureRect</key>
                <string>{{466,1292},{77,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewbieMission/tab_on_5_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,33}</string>
                <key>spriteSourceSize</key>
                <string>{77,33}</string>
                <key>textureRect</key>
                <string>{{387,1327},{77,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>NewbieMission.pvr.ccz</string>
            <key>size</key>
            <string>{505,1438}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8781dc69ccebc1ed4fc202357b162681:ff52eed4e3817f9f700bdfa82b567d40:0354146502482a68eaa1ede723533487$</string>
            <key>textureFileName</key>
            <string>NewbieMission.pvr.ccz</string>
        </dict>
    </dict>
</plist>
