<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/event/NewHalloween/bt_icemission_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,70}</string>
                <key>spriteSourceSize</key>
                <string>{28,70}</string>
                <key>textureRect</key>
                <string>{{933,281},{28,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewHalloween/bt_icemission_off_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,70}</string>
                <key>spriteSourceSize</key>
                <string>{28,70}</string>
                <key>textureRect</key>
                <string>{{939,353},{28,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewHalloween/bt_iceshop_buy</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,35}</string>
                <key>spriteSourceSize</key>
                <string>{65,35}</string>
                <key>textureRect</key>
                <string>{{726,1563},{65,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewHalloween/bt_iceshop_buy_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,35}</string>
                <key>spriteSourceSize</key>
                <string>{65,35}</string>
                <key>textureRect</key>
                <string>{{833,1914},{65,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewHalloween/bt_iceshop_left</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,30}</string>
                <key>spriteSourceSize</key>
                <string>{25,30}</string>
                <key>textureRect</key>
                <string>{{395,1921},{25,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewHalloween/bt_iceshop_right</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,30}</string>
                <key>spriteSourceSize</key>
                <string>{25,30}</string>
                <key>textureRect</key>
                <string>{{785,1962},{25,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewHalloween/bt_pumpakage_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,70}</string>
                <key>spriteSourceSize</key>
                <string>{28,70}</string>
                <key>textureRect</key>
                <string>{{939,425},{28,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewHalloween/bt_pumpakage_off_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,70}</string>
                <key>spriteSourceSize</key>
                <string>{28,70}</string>
                <key>textureRect</key>
                <string>{{939,497},{28,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewHalloween/bt_pumshop_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,70}</string>
                <key>spriteSourceSize</key>
                <string>{28,70}</string>
                <key>textureRect</key>
                <string>{{939,569},{28,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewHalloween/bt_pumshop_off_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,70}</string>
                <key>spriteSourceSize</key>
                <string>{28,70}</string>
                <key>textureRect</key>
                <string>{{939,641},{28,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewHalloween/buy_arrow</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,38}</string>
                <key>spriteSourceSize</key>
                <string>{31,38}</string>
                <key>textureRect</key>
                <string>{{793,1563},{31,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewHalloween/frame_ice_npctalk</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,84}</string>
                <key>spriteSourceSize</key>
                <string>{152,84}</string>
                <key>textureRect</key>
                <string>{{779,273},{152,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewHalloween/frame_icecheck_bg1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,39}</string>
                <key>spriteSourceSize</key>
                <string>{169,39}</string>
                <key>textureRect</key>
                <string>{{878,1743},{169,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewHalloween/frame_icelist_bg1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,0}</string>
                <key>spriteSize</key>
                <string>{328,80}</string>
                <key>spriteSourceSize</key>
                <string>{392,82}</string>
                <key>textureRect</key>
                <string>{{603,813},{328,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewHalloween/frame_icelist_bg2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,0}</string>
                <key>spriteSize</key>
                <string>{332,80}</string>
                <key>spriteSourceSize</key>
                <string>{392,82}</string>
                <key>textureRect</key>
                <string>{{603,895},{332,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewHalloween/frame_icelist_bg3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,0}</string>
                <key>spriteSize</key>
                <string>{302,80}</string>
                <key>spriteSourceSize</key>
                <string>{392,82}</string>
                <key>textureRect</key>
                <string>{{720,977},{302,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewHalloween/frame_icelist_bg4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,0}</string>
                <key>spriteSize</key>
                <string>{290,80}</string>
                <key>spriteSourceSize</key>
                <string>{392,82}</string>
                <key>textureRect</key>
                <string>{{884,977},{290,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewHalloween/frame_icelist_bg5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,0}</string>
                <key>spriteSize</key>
                <string>{298,80}</string>
                <key>spriteSourceSize</key>
                <string>{392,82}</string>
                <key>textureRect</key>
                <string>{{802,977},{298,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewHalloween/frame_icelist_bg6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,0}</string>
                <key>spriteSize</key>
                <string>{306,80}</string>
                <key>spriteSourceSize</key>
                <string>{392,82}</string>
                <key>textureRect</key>
                <string>{{638,977},{306,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewHalloween/frame_icelist_bgoff</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,82}</string>
                <key>spriteSourceSize</key>
                <string>{392,82}</string>
                <key>textureRect</key>
                <string>{{1,1921},{392,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewHalloween/frame_iceshop_buy</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,36}</string>
                <key>spriteSourceSize</key>
                <string>{56,36}</string>
                <key>textureRect</key>
                <string>{{911,754},{56,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewHalloween/frame_iceshop_listbg2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,16}</string>
                <key>spriteSourceSize</key>
                <string>{78,16}</string>
                <key>textureRect</key>
                <string>{{779,359},{78,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewHalloween/frame_iceshop_pickbg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,122}</string>
                <key>spriteSourceSize</key>
                <string>{96,122}</string>
                <key>textureRect</key>
                <string>{{638,1285},{96,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewHalloween/frame_pum_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{776,378}</string>
                <key>spriteSourceSize</key>
                <string>{776,378}</string>
                <key>textureRect</key>
                <string>{{1,1},{776,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewHalloween/frame_pum_npcbg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,270}</string>
                <key>spriteSourceSize</key>
                <string>{162,270}</string>
                <key>textureRect</key>
                <string>{{779,1},{162,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewHalloween/frame_pum_title</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{476,119}</string>
                <key>spriteSourceSize</key>
                <string>{476,119}</string>
                <key>textureRect</key>
                <string>{{433,997},{476,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewHalloween/frame_pum_title_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{476,110}</string>
                <key>spriteSourceSize</key>
                <string>{476,110}</string>
                <key>textureRect</key>
                <string>{{433,1475},{476,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewHalloween/frame_pumcheck_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,43}</string>
                <key>spriteSourceSize</key>
                <string>{169,43}</string>
                <key>textureRect</key>
                <string>{{833,1743},{169,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewHalloween/frame_pumlist_bg0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,82}</string>
                <key>spriteSourceSize</key>
                <string>{392,82}</string>
                <key>textureRect</key>
                <string>{{554,997},{392,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewHalloween/frame_pumlist_gauge</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,22}</string>
                <key>spriteSourceSize</key>
                <string>{300,22}</string>
                <key>textureRect</key>
                <string>{{1,2005},{300,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewHalloween/frame_pumlist_gaugebg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,22}</string>
                <key>spriteSourceSize</key>
                <string>{300,22}</string>
                <key>textureRect</key>
                <string>{{303,2005},{300,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewHalloween/frame_pumlist_rewardon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{881,1371},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewHalloween/frame_pummission</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,306}</string>
                <key>spriteSourceSize</key>
                <string>{430,306}</string>
                <key>textureRect</key>
                <string>{{1,997},{430,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewHalloween/frame_pummission_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,306}</string>
                <key>spriteSourceSize</key>
                <string>{430,306}</string>
                <key>textureRect</key>
                <string>{{1,1305},{430,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewHalloween/frame_pumpackage</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,306}</string>
                <key>spriteSourceSize</key>
                <string>{600,306}</string>
                <key>textureRect</key>
                <string>{{1,381},{600,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewHalloween/frame_pumpackage_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,306}</string>
                <key>spriteSourceSize</key>
                <string>{600,306}</string>
                <key>textureRect</key>
                <string>{{1,689},{600,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewHalloween/frame_pumshop</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,306}</string>
                <key>spriteSourceSize</key>
                <string>{430,306}</string>
                <key>textureRect</key>
                <string>{{1,1613},{430,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewHalloween/frame_pumshop_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,306}</string>
                <key>spriteSourceSize</key>
                <string>{430,306}</string>
                <key>textureRect</key>
                <string>{{603,381},{430,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewHalloween/frame_pumshop_listbg1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,118}</string>
                <key>spriteSourceSize</key>
                <string>{92,118}</string>
                <key>textureRect</key>
                <string>{{836,1277},{92,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewHalloween/icon_check</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{881,1431},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewHalloween/icon_icelist_reward</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,21}</string>
                <key>spriteSourceSize</key>
                <string>{63,21}</string>
                <key>textureRect</key>
                <string>{{941,1371},{63,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewHalloween/item_pumcandy</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,151}</string>
                <key>spriteSourceSize</key>
                <string>{265,265}</string>
                <key>textureRect</key>
                <string>{{573,1391},{209,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewHalloween/item_pumcandy_110</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,72}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{762,1281},{98,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewHalloween/pumevent_package1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,128}</string>
                <key>spriteSourceSize</key>
                <string>{178,128}</string>
                <key>textureRect</key>
                <string>{{573,1602},{178,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewHalloween/pumevent_package1_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,128}</string>
                <key>spriteSourceSize</key>
                <string>{178,128}</string>
                <key>textureRect</key>
                <string>{{573,1782},{178,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewHalloween/pumevent_package2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,128}</string>
                <key>spriteSourceSize</key>
                <string>{178,128}</string>
                <key>textureRect</key>
                <string>{{703,1602},{178,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewHalloween/pumevent_package2_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,128}</string>
                <key>spriteSourceSize</key>
                <string>{178,128}</string>
                <key>textureRect</key>
                <string>{{703,1782},{178,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewHalloween/pumevent_package3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,128}</string>
                <key>spriteSourceSize</key>
                <string>{178,128}</string>
                <key>textureRect</key>
                <string>{{726,1383},{178,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewHalloween/pumevent_package3_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,128}</string>
                <key>spriteSourceSize</key>
                <string>{178,128}</string>
                <key>textureRect</key>
                <string>{{833,1563},{178,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewHalloween/txt_pumlist_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,23}</string>
                <key>spriteSourceSize</key>
                <string>{150,23}</string>
                <key>textureRect</key>
                <string>{{395,1953},{150,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewHalloween/txt_pumlist_1_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,26}</string>
                <key>spriteSourceSize</key>
                <string>{222,26}</string>
                <key>textureRect</key>
                <string>{{545,1475},{222,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewHalloween/txt_pumlist_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,23}</string>
                <key>spriteSourceSize</key>
                <string>{133,23}</string>
                <key>textureRect</key>
                <string>{{856,1371},{133,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewHalloween/txt_pumlist_2_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,26}</string>
                <key>spriteSourceSize</key>
                <string>{206,26}</string>
                <key>textureRect</key>
                <string>{{911,359},{206,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewHalloween/txt_pumlist_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,23}</string>
                <key>spriteSourceSize</key>
                <string>{167,23}</string>
                <key>textureRect</key>
                <string>{{944,1743},{167,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewHalloween/txt_pumlist_3_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,26}</string>
                <key>spriteSourceSize</key>
                <string>{185,26}</string>
                <key>textureRect</key>
                <string>{{911,567},{185,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewHalloween/txt_pumlist_4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,23}</string>
                <key>spriteSourceSize</key>
                <string>{172,23}</string>
                <key>textureRect</key>
                <string>{{919,1743},{172,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewHalloween/txt_pumlist_4_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,26}</string>
                <key>spriteSourceSize</key>
                <string>{218,26}</string>
                <key>textureRect</key>
                <string>{{545,1699},{218,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewHalloween/txt_pumlist_5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,23}</string>
                <key>spriteSourceSize</key>
                <string>{173,23}</string>
                <key>textureRect</key>
                <string>{{605,1990},{173,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewHalloween/txt_pumlist_5_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,26}</string>
                <key>spriteSourceSize</key>
                <string>{278,26}</string>
                <key>textureRect</key>
                <string>{{943,1},{278,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewHalloween/txt_pumlist_6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,23}</string>
                <key>spriteSourceSize</key>
                <string>{151,23}</string>
                <key>textureRect</key>
                <string>{{395,1978},{151,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewHalloween/txt_pumlist_6_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,26}</string>
                <key>spriteSourceSize</key>
                <string>{178,26}</string>
                <key>textureRect</key>
                <string>{{605,1962},{178,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>NewHalloween.pvr.ccz</string>
            <key>size</key>
            <string>{970,2028}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71212f792c33745eee6e92332cd9d16c:1ba5ae71f7693ad943b70d979ca3f5b7:de6fcf50179f174be23ae9b9a04edf47$</string>
            <key>textureFileName</key>
            <string>NewHalloween.pvr.ccz</string>
        </dict>
    </dict>
</plist>
