<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/event/PromotionVIP/bt_confirm</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,48}</string>
                <key>spriteSourceSize</key>
                <string>{178,48}</string>
                <key>textureRect</key>
                <string>{{129,1395},{178,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/PromotionVIP/bt_confirm_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,48}</string>
                <key>spriteSourceSize</key>
                <string>{178,48}</string>
                <key>textureRect</key>
                <string>{{309,1395},{178,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/PromotionVIP/frame_mrevent_bg01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-3}</string>
                <key>spriteSize</key>
                <string>{780,460}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{1,613},{780,460}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/PromotionVIP/icon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{76,62}</string>
                <key>spriteSourceSize</key>
                <string>{80,74}</string>
                <key>textureRect</key>
                <string>{{1,1395},{76,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/PromotionVIP/icon_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{76,62}</string>
                <key>spriteSourceSize</key>
                <string>{80,74}</string>
                <key>textureRect</key>
                <string>{{65,1395},{76,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/PromotionVIP/txt_mrevent01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-17}</string>
                <key>spriteSize</key>
                <string>{472,296}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{1,315},{472,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/PromotionVIP/txt_mrevent01_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-22}</string>
                <key>spriteSize</key>
                <string>{498,312}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{1,1},{498,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>PromotionVIP.pvr.ccz</string>
            <key>size</key>
            <string>{500,1472}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0281963a23cafd549db427b737d17f44:384a716be5e6c555633ef7c028caec18:fe137ead90e8b3680bc7894dd8e99281$</string>
            <key>textureFileName</key>
            <string>PromotionVIP.pvr.ccz</string>
        </dict>
    </dict>
</plist>
