<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/event/Promotion/bt_advance_reservation</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,57}</string>
                <key>spriteSourceSize</key>
                <string>{163,57}</string>
                <key>textureRect</key>
                <string>{{1885,1},{163,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/Promotion/bt_download</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,57}</string>
                <key>spriteSourceSize</key>
                <string>{163,57}</string>
                <key>textureRect</key>
                <string>{{1885,166},{163,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/Promotion/bt_promotion</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,57}</string>
                <key>spriteSourceSize</key>
                <string>{163,57}</string>
                <key>textureRect</key>
                <string>{{1777,841},{163,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/Promotion/bt_reward_ok</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,57}</string>
                <key>spriteSourceSize</key>
                <string>{163,57}</string>
                <key>textureRect</key>
                <string>{{1822,647},{163,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/Promotion/frame_game1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,250}</string>
                <key>spriteSourceSize</key>
                <string>{506,250}</string>
                <key>textureRect</key>
                <string>{{1,410},{506,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Promotion/frame_game10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,250}</string>
                <key>spriteSourceSize</key>
                <string>{506,250}</string>
                <key>textureRect</key>
                <string>{{535,1},{506,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Promotion/frame_game12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,250}</string>
                <key>spriteSourceSize</key>
                <string>{506,250}</string>
                <key>textureRect</key>
                <string>{{1,662},{506,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Promotion/frame_game13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,250}</string>
                <key>spriteSourceSize</key>
                <string>{506,250}</string>
                <key>textureRect</key>
                <string>{{1043,1},{506,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Promotion/frame_game2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,250}</string>
                <key>spriteSourceSize</key>
                <string>{506,250}</string>
                <key>textureRect</key>
                <string>{{535,253},{506,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Promotion/frame_game3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,250}</string>
                <key>spriteSourceSize</key>
                <string>{506,250}</string>
                <key>textureRect</key>
                <string>{{1043,253},{506,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Promotion/frame_game4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,250}</string>
                <key>spriteSourceSize</key>
                <string>{506,250}</string>
                <key>textureRect</key>
                <string>{{1551,1},{506,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/Promotion/frame_game5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,250}</string>
                <key>spriteSourceSize</key>
                <string>{506,250}</string>
                <key>textureRect</key>
                <string>{{509,505},{506,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Promotion/frame_game6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,250}</string>
                <key>spriteSourceSize</key>
                <string>{506,250}</string>
                <key>textureRect</key>
                <string>{{1017,505},{506,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Promotion/frame_game7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{505,250}</string>
                <key>spriteSourceSize</key>
                <string>{505,250}</string>
                <key>textureRect</key>
                <string>{{1017,757},{505,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Promotion/frame_game8</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{505,250}</string>
                <key>spriteSourceSize</key>
                <string>{505,250}</string>
                <key>textureRect</key>
                <string>{{1525,509},{505,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/Promotion/frame_game9</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,250}</string>
                <key>spriteSourceSize</key>
                <string>{506,250}</string>
                <key>textureRect</key>
                <string>{{509,757},{506,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Promotion/frame_mrevent_bg1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{532,407}</string>
                <key>spriteSourceSize</key>
                <string>{532,407}</string>
                <key>textureRect</key>
                <string>{{1,1},{532,407}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Promotion/txt_complete</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,24}</string>
                <key>spriteSourceSize</key>
                <string>{73,24}</string>
                <key>textureRect</key>
                <string>{{509,410},{73,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/Promotion/txt_mrevent1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,19}</string>
                <key>spriteSourceSize</key>
                <string>{322,19}</string>
                <key>textureRect</key>
                <string>{{1824,1},{322,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/Promotion/txt_mrevent10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,18}</string>
                <key>spriteSourceSize</key>
                <string>{300,18}</string>
                <key>textureRect</key>
                <string>{{1822,377},{268,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/Promotion/txt_mrevent12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{317,18}</string>
                <key>spriteSourceSize</key>
                <string>{345,18}</string>
                <key>textureRect</key>
                <string>{{1,934},{317,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Promotion/txt_mrevent13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{317,18}</string>
                <key>spriteSourceSize</key>
                <string>{345,18}</string>
                <key>textureRect</key>
                <string>{{1845,1},{317,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/Promotion/txt_mrevent2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,19}</string>
                <key>spriteSourceSize</key>
                <string>{374,19}</string>
                <key>textureRect</key>
                <string>{{1803,1},{374,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/Promotion/txt_mrevent3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,19}</string>
                <key>spriteSourceSize</key>
                <string>{330,19}</string>
                <key>textureRect</key>
                <string>{{1777,509},{330,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/Promotion/txt_mrevent4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,18}</string>
                <key>spriteSourceSize</key>
                <string>{360,18}</string>
                <key>textureRect</key>
                <string>{{1,914},{360,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Promotion/txt_mrevent5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,18}</string>
                <key>spriteSourceSize</key>
                <string>{277,18}</string>
                <key>textureRect</key>
                <string>{{1,998},{277,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Promotion/txt_mrevent6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,18}</string>
                <key>spriteSourceSize</key>
                <string>{313,18}</string>
                <key>textureRect</key>
                <string>{{1,954},{313,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Promotion/txt_mrevent7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,18}</string>
                <key>spriteSourceSize</key>
                <string>{258,18}</string>
                <key>textureRect</key>
                <string>{{1862,331},{258,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/Promotion/txt_mrevent8</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,18}</string>
                <key>spriteSourceSize</key>
                <string>{285,18}</string>
                <key>textureRect</key>
                <string>{{1865,1},{285,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/Promotion/txt_mrevent9</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,18}</string>
                <key>spriteSourceSize</key>
                <string>{300,18}</string>
                <key>textureRect</key>
                <string>{{1842,331},{268,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/Promotion/txt_title1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,24}</string>
                <key>spriteSourceSize</key>
                <string>{149,24}</string>
                <key>textureRect</key>
                <string>{{320,934},{149,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Promotion/txt_title10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{238,22}</string>
                <key>spriteSourceSize</key>
                <string>{250,24}</string>
                <key>textureRect</key>
                <string>{{1882,331},{238,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/Promotion/txt_title12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{280,22}</string>
                <key>spriteSourceSize</key>
                <string>{286,24}</string>
                <key>textureRect</key>
                <string>{{1,974},{280,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Promotion/txt_title13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{280,22}</string>
                <key>spriteSourceSize</key>
                <string>{286,24}</string>
                <key>textureRect</key>
                <string>{{1798,509},{280,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/Promotion/txt_title2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,24}</string>
                <key>spriteSourceSize</key>
                <string>{217,24}</string>
                <key>textureRect</key>
                <string>{{1881,591},{217,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/Promotion/txt_title3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,24}</string>
                <key>spriteSourceSize</key>
                <string>{158,24}</string>
                <key>textureRect</key>
                <string>{{1888,810},{158,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/Promotion/txt_title4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,24}</string>
                <key>spriteSourceSize</key>
                <string>{196,24}</string>
                <key>textureRect</key>
                <string>{{1836,812},{196,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/Promotion/txt_title5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,24}</string>
                <key>spriteSourceSize</key>
                <string>{155,24}</string>
                <key>textureRect</key>
                <string>{{1914,804},{155,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/Promotion/txt_title6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,24}</string>
                <key>spriteSourceSize</key>
                <string>{231,24}</string>
                <key>textureRect</key>
                <string>{{1907,571},{231,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/Promotion/txt_title7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,24}</string>
                <key>spriteSourceSize</key>
                <string>{155,24}</string>
                <key>textureRect</key>
                <string>{{316,960},{155,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Promotion/txt_title8</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,24}</string>
                <key>spriteSourceSize</key>
                <string>{190,24}</string>
                <key>textureRect</key>
                <string>{{1862,812},{190,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/Promotion/txt_title9</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,20}</string>
                <key>spriteSourceSize</key>
                <string>{250,24}</string>
                <key>textureRect</key>
                <string>{{1906,331},{238,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>Promotion.pvr.ccz</string>
            <key>size</key>
            <string>{1943,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5de6b7a7d0ad786e231d48409563bb29:f1eee2fff2d356222e65cae24d43e20d:5821ea5d87e4e219121af24d29581df1$</string>
            <key>textureFileName</key>
            <string>Promotion.pvr.ccz</string>
        </dict>
    </dict>
</plist>
