<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/event/ranking/bg_colo_event_reward_table_scaled</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{661,687},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/ranking/bt_colo_event_cap_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,32}</string>
                <key>spriteSourceSize</key>
                <string>{100,32}</string>
                <key>textureRect</key>
                <string>{{1,687},{100,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/ranking/bt_colo_event_cap_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,32}</string>
                <key>spriteSourceSize</key>
                <string>{100,32}</string>
                <key>textureRect</key>
                <string>{{35,687},{100,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/ranking/bt_colo_event_solo_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,32}</string>
                <key>spriteSourceSize</key>
                <string>{100,32}</string>
                <key>textureRect</key>
                <string>{{69,687},{100,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/ranking/bt_colo_event_solo_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,32}</string>
                <key>spriteSourceSize</key>
                <string>{100,32}</string>
                <key>textureRect</key>
                <string>{{103,687},{100,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/ranking/bt_colo_event_tag_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,32}</string>
                <key>spriteSourceSize</key>
                <string>{100,32}</string>
                <key>textureRect</key>
                <string>{{137,687},{100,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/ranking/bt_colo_event_tag_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,32}</string>
                <key>spriteSourceSize</key>
                <string>{100,32}</string>
                <key>textureRect</key>
                <string>{{171,687},{100,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/ranking/bt_colosseum_event</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,73}</string>
                <key>spriteSourceSize</key>
                <string>{77,73}</string>
                <key>textureRect</key>
                <string>{{582,687},{77,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/ranking/colo_event_ranking_table</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{684,340}</string>
                <key>spriteSourceSize</key>
                <string>{684,340}</string>
                <key>textureRect</key>
                <string>{{1,1},{684,340}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/ranking/colo_event_reward</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{684,340}</string>
                <key>spriteSourceSize</key>
                <string>{684,340}</string>
                <key>textureRect</key>
                <string>{{343,1},{684,340}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/ranking/colosseum_event_title_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,94}</string>
                <key>spriteSourceSize</key>
                <string>{375,94}</string>
                <key>textureRect</key>
                <string>{{205,687},{375,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>ranking.pvr.ccz</string>
            <key>size</key>
            <string>{684,788}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:493dc8f69405bd3b9f84f46e32302d9b:520c2570c59213a23d8fbbf885212860:744c1b3d37fbca2d518f623a64f08842$</string>
            <key>textureFileName</key>
            <string>ranking.pvr.ccz</string>
        </dict>
    </dict>
</plist>
