<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/event/standardatt/bg_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{708,230}</string>
                <key>spriteSourceSize</key>
                <string>{708,230}</string>
                <key>textureRect</key>
                <string>{{245,669},{708,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/standardatt/bg_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{710,242}</string>
                <key>spriteSourceSize</key>
                <string>{710,242}</string>
                <key>textureRect</key>
                <string>{{1,606},{710,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/standardatt/icom_check</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,43}</string>
                <key>spriteSourceSize</key>
                <string>{50,43}</string>
                <key>textureRect</key>
                <string>{{245,606},{50,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/standardatt/icon_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,69}</string>
                <key>spriteSourceSize</key>
                <string>{84,69}</string>
                <key>textureRect</key>
                <string>{{156,1388},{84,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/standardatt/icon_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,68}</string>
                <key>spriteSourceSize</key>
                <string>{87,68}</string>
                <key>textureRect</key>
                <string>{{156,1318},{87,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/standardatt/off_box_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,153}</string>
                <key>spriteSourceSize</key>
                <string>{114,153}</string>
                <key>textureRect</key>
                <string>{{292,553},{114,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/standardatt/off_box_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,167}</string>
                <key>spriteSourceSize</key>
                <string>{114,167}</string>
                <key>textureRect</key>
                <string>{{292,437},{114,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/standardatt/on_box_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,153}</string>
                <key>spriteSourceSize</key>
                <string>{114,153}</string>
                <key>textureRect</key>
                <string>{{1,1379},{114,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/standardatt/on_box_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,127}</string>
                <key>spriteSourceSize</key>
                <string>{110,127}</string>
                <key>textureRect</key>
                <string>{{245,1379},{110,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/standardatt/shadow_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,29}</string>
                <key>spriteSourceSize</key>
                <string>{83,29}</string>
                <key>textureRect</key>
                <string>{{447,553},{83,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/standardatt/title_en_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,167}</string>
                <key>spriteSourceSize</key>
                <string>{289,167}</string>
                <key>textureRect</key>
                <string>{{1,437},{289,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/standardatt/title_kr_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,167}</string>
                <key>spriteSourceSize</key>
                <string>{289,167}</string>
                <key>textureRect</key>
                <string>{{1,437},{289,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/standardatt/title_season6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{484,216}</string>
                <key>spriteSourceSize</key>
                <string>{484,226}</string>
                <key>textureRect</key>
                <string>{{1,1},{484,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/standardatt/title_season6_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{484,216}</string>
                <key>spriteSourceSize</key>
                <string>{484,226}</string>
                <key>textureRect</key>
                <string>{{1,219},{484,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>standardatt.pvr.ccz</string>
            <key>size</key>
            <string>{486,1494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8d64bd051194281402c1b4fdeea8e0d:344c9addd9881a3b0f0a19e833a37dc5:50200c17848a437f892eb66c434aa211$</string>
            <key>textureFileName</key>
            <string>standardatt.pvr.ccz</string>
        </dict>
    </dict>
</plist>
