<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/event/thxgiving2019/bt_back</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,46}</string>
                <key>spriteSourceSize</key>
                <string>{40,46}</string>
                <key>textureRect</key>
                <string>{{121,1},{40,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/thxgiving2019/event2019_choo_dragon_status</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,34}</string>
                <key>spriteSourceSize</key>
                <string>{150,34}</string>
                <key>textureRect</key>
                <string>{{163,1},{150,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/thxgiving2019/event2019_choo_stat_text</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,15}</string>
                <key>spriteSourceSize</key>
                <string>{127,15}</string>
                <key>textureRect</key>
                <string>{{163,37},{127,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/thxgiving2019/event2019_choo_text_get_complete</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,59}</string>
                <key>spriteSourceSize</key>
                <string>{118,59}</string>
                <key>textureRect</key>
                <string>{{1,1},{118,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>thxgiving2019.pvr.ccz</string>
            <key>size</key>
            <string>{314,61}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8728ca31415890c7b8a7352d5ffd9b31:a59601e3e70f765da1d7ec355bf27441:859280e9eeff875125f34b536fadc99a$</string>
            <key>textureFileName</key>
            <string>thxgiving2019.pvr.ccz</string>
        </dict>
    </dict>
</plist>
