<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/event/thxgiving2017/adv_coin</key>
            <dict>
                <key>frame</key>
                <string>{{138,384},{227,255}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{227,255}}</string>
                <key>sourceSize</key>
                <string>{265,265}</string>
            </dict>
            <key>scene/event/thxgiving2017/board_1</key>
            <dict>
                <key>frame</key>
                <string>{{505,268},{91,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,24}}</string>
                <key>sourceSize</key>
                <string>{91,24}</string>
            </dict>
            <key>scene/event/thxgiving2017/box_2</key>
            <dict>
                <key>frame</key>
                <string>{{1013,15},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>scene/event/thxgiving2017/btn_crown</key>
            <dict>
                <key>frame</key>
                <string>{{274,212},{40,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,46}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>scene/event/thxgiving2017/choo_bg</key>
            <dict>
                <key>frame</key>
                <string>{{86,660},{245,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,220}}</string>
                <key>sourceSize</key>
                <string>{245,220}</string>
            </dict>
            <key>scene/event/thxgiving2017/choo_stat</key>
            <dict>
                <key>frame</key>
                <string>{{505,212},{54,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,137}}</string>
                <key>sourceSize</key>
                <string>{54,137}</string>
            </dict>
            <key>scene/event/thxgiving2017/cloud</key>
            <dict>
                <key>frame</key>
                <string>{{75,941},{103,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,67}}</string>
                <key>sourceSize</key>
                <string>{103,67}</string>
            </dict>
            <key>scene/event/thxgiving2017/effect</key>
            <dict>
                <key>frame</key>
                <string>{{496,586},{158,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,158}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>scene/event/thxgiving2017/gourd</key>
            <dict>
                <key>frame</key>
                <string>{{367,371},{213,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,198}}</string>
                <key>sourceSize</key>
                <string>{213,198}</string>
            </dict>
            <key>scene/event/thxgiving2017/gourd_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{86,384},{274,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,50}}</string>
                <key>sourceSize</key>
                <string>{274,50}</string>
            </dict>
            <key>scene/event/thxgiving2017/leaf_1</key>
            <dict>
                <key>frame</key>
                <string>{{292,886},{52,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,60}}</string>
                <key>sourceSize</key>
                <string>{52,60}</string>
            </dict>
            <key>scene/event/thxgiving2017/leaf_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,941},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>scene/event/thxgiving2017/leaf_3</key>
            <dict>
                <key>frame</key>
                <string>{{918,947},{93,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,51}}</string>
                <key>sourceSize</key>
                <string>{93,51}</string>
            </dict>
            <key>scene/event/thxgiving2017/leaf_4</key>
            <dict>
                <key>frame</key>
                <string>{{354,308},{64,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,61}}</string>
                <key>sourceSize</key>
                <string>{64,61}</string>
            </dict>
            <key>scene/event/thxgiving2017/leaf_5</key>
            <dict>
                <key>frame</key>
                <string>{{420,212},{84,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,83}}</string>
                <key>sourceSize</key>
                <string>{84,83}</string>
            </dict>
            <key>scene/event/thxgiving2017/leaf_6</key>
            <dict>
                <key>frame</key>
                <string>{{473,886},{114,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,51}}</string>
                <key>sourceSize</key>
                <string>{114,51}</string>
            </dict>
            <key>scene/event/thxgiving2017/lucky_bag_icon</key>
            <dict>
                <key>frame</key>
                <string>{{274,254},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>scene/event/thxgiving2017/lucky_bag_spine</key>
            <dict>
                <key>frame</key>
                <string>{{567,320},{150,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,147}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>scene/event/thxgiving2017/lucky_bag_spine_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{526,989},{150,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,33}}</string>
                <key>sourceSize</key>
                <string>{150,33}</string>
            </dict>
            <key>scene/event/thxgiving2017/main_icon</key>
            <dict>
                <key>frame</key>
                <string>{{180,940},{84,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,66}}</string>
                <key>sourceSize</key>
                <string>{84,66}</string>
            </dict>
            <key>scene/event/thxgiving2017/mini1_deco</key>
            <dict>
                <key>frame</key>
                <string>{{75,1010},{22,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,11}}</string>
                <key>sourceSize</key>
                <string>{22,11}</string>
            </dict>
            <key>scene/event/thxgiving2017/mini1_txt_box</key>
            <dict>
                <key>frame</key>
                <string>{{354,886},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>scene/event/thxgiving2017/mini2_coin1</key>
            <dict>
                <key>frame</key>
                <string>{{716,462},{141,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,140}}</string>
                <key>sourceSize</key>
                <string>{141,140}</string>
            </dict>
            <key>scene/event/thxgiving2017/mini2_coin2</key>
            <dict>
                <key>frame</key>
                <string>{{859,320},{141,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,140}}</string>
                <key>sourceSize</key>
                <string>{141,140}</string>
            </dict>
            <key>scene/event/thxgiving2017/mini2_coin3</key>
            <dict>
                <key>frame</key>
                <string>{{716,320},{141,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,140}}</string>
                <key>sourceSize</key>
                <string>{141,140}</string>
            </dict>
            <key>scene/event/thxgiving2017/mini2_dot</key>
            <dict>
                <key>frame</key>
                <string>{{99,1010},{10,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,321}}</string>
                <key>sourceSize</key>
                <string>{10,321}</string>
            </dict>
            <key>scene/event/thxgiving2017/mini3_gauge</key>
            <dict>
                <key>frame</key>
                <string>{{1006,302},{582,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,16}}</string>
                <key>sourceSize</key>
                <string>{582,16}</string>
            </dict>
            <key>scene/event/thxgiving2017/mini3_gauge_bg</key>
            <dict>
                <key>frame</key>
                <string>{{422,302},{582,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,16}}</string>
                <key>sourceSize</key>
                <string>{582,16}</string>
            </dict>
            <key>scene/event/thxgiving2017/mini4_blueline</key>
            <dict>
                <key>frame</key>
                <string>{{678,980},{238,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,31}}</string>
                <key>sourceSize</key>
                <string>{238,31}</string>
            </dict>
            <key>scene/event/thxgiving2017/mini4_board</key>
            <dict>
                <key>frame</key>
                <string>{{333,641},{238,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,161}}</string>
                <key>sourceSize</key>
                <string>{238,161}</string>
            </dict>
            <key>scene/event/thxgiving2017/mini4_redline</key>
            <dict>
                <key>frame</key>
                <string>{{629,947},{238,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,31}}</string>
                <key>sourceSize</key>
                <string>{238,31}</string>
            </dict>
            <key>scene/event/thxgiving2017/mini_circle</key>
            <dict>
                <key>frame</key>
                <string>{{526,886},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>scene/event/thxgiving2017/mini_clock</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{88,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,96}}</string>
                <key>sourceSize</key>
                <string>{88,96}</string>
            </dict>
            <key>scene/event/thxgiving2017/mini_cross</key>
            <dict>
                <key>frame</key>
                <string>{{496,746},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>scene/event/thxgiving2017/pillar</key>
            <dict>
                <key>frame</key>
                <string>{{629,886},{59,385}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,385}}</string>
                <key>sourceSize</key>
                <string>{59,385}</string>
            </dict>
            <key>scene/event/thxgiving2017/rank_1</key>
            <dict>
                <key>frame</key>
                <string>{{1013,9},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>scene/event/thxgiving2017/roof</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{721,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{721,103}}</string>
                <key>sourceSize</key>
                <string>{721,103}</string>
            </dict>
            <key>scene/event/thxgiving2017/roof_en</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{721,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{721,103}}</string>
                <key>sourceSize</key>
                <string>{721,103}</string>
            </dict>
            <key>scene/event/thxgiving2017/sale_ribbon</key>
            <dict>
                <key>frame</key>
                <string>{{266,940},{66,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,63}}</string>
                <key>sourceSize</key>
                <string>{66,63}</string>
            </dict>
            <key>scene/event/thxgiving2017/sample</key>
            <dict>
                <key>frame</key>
                <string>{{725,2},{286,298}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{286,298}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>scene/event/thxgiving2017/score_board</key>
            <dict>
                <key>frame</key>
                <string>{{354,212},{94,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,64}}</string>
                <key>sourceSize</key>
                <string>{94,64}</string>
            </dict>
            <key>scene/event/thxgiving2017/stamp</key>
            <dict>
                <key>frame</key>
                <string>{{187,212},{85,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,86}</string>
            </dict>
            <key>scene/event/thxgiving2017/stamp_en</key>
            <dict>
                <key>frame</key>
                <string>{{100,212},{85,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,86}</string>
            </dict>
            <key>scene/event/thxgiving2017/tab_1</key>
            <dict>
                <key>frame</key>
                <string>{{189,886},{101,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,52}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>scene/event/thxgiving2017/tab_2</key>
            <dict>
                <key>frame</key>
                <string>{{86,886},{101,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,52}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>scene/event/thxgiving2017/tab_rope</key>
            <dict>
                <key>frame</key>
                <string>{{1013,2},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>scene/event/thxgiving2017/txt_draw</key>
            <dict>
                <key>frame</key>
                <string>{{100,300},{251,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,82}}</string>
                <key>sourceSize</key>
                <string>{251,82}</string>
            </dict>
            <key>scene/event/thxgiving2017/txt_gameover</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{637,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{637,82}}</string>
                <key>sourceSize</key>
                <string>{637,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>thxgiving2017.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7900cd631ef43c1ac6270f707356b3b9:2ee409c86249a97a6cfdf84b7bac456b:14e877e8440c6edca98dd9b518ca1caf$</string>
            <key>textureFileName</key>
            <string>thxgiving2017.pvr.ccz</string>
        </dict>
    </dict>
</plist>
