<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/colosseum/champion/scale9/9scale_rookie_no_admittance</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{579,33},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/colosseum/champion/scale9/box_buff</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,132}</string>
                <key>spriteSourceSize</key>
                <string>{152,132}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/colosseum/champion/scale9/box_buff_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,34}</string>
                <key>spriteSourceSize</key>
                <string>{21,34}</string>
                <key>textureRect</key>
                <string>{{195,112},{21,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/colosseum/champion/scale9/box_dragon_setting</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,77}</string>
                <key>spriteSourceSize</key>
                <string>{37,77}</string>
                <key>textureRect</key>
                <string>{{195,33},{37,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/colosseum/champion/scale9/box_next</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,24}</string>
                <key>spriteSourceSize</key>
                <string>{29,24}</string>
                <key>textureRect</key>
                <string>{{276,109},{29,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/colosseum/champion/scale9/box_stat</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,41}</string>
                <key>spriteSourceSize</key>
                <string>{28,41}</string>
                <key>textureRect</key>
                <string>{{712,77},{28,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/colosseum/champion/scale9/box_surpport</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,38}</string>
                <key>spriteSourceSize</key>
                <string>{17,38}</string>
                <key>textureRect</key>
                <string>{{472,106},{17,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/colosseum/champion/scale9/box_tournament_me</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,42}</string>
                <key>spriteSourceSize</key>
                <string>{36,42}</string>
                <key>textureRect</key>
                <string>{{675,33},{36,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/colosseum/champion/scale9/box_tournament_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,33}</string>
                <key>spriteSourceSize</key>
                <string>{39,33}</string>
                <key>textureRect</key>
                <string>{{713,33},{39,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/colosseum/champion/scale9/box_tournament_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,33}</string>
                <key>spriteSourceSize</key>
                <string>{39,33}</string>
                <key>textureRect</key>
                <string>{{742,74},{39,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/colosseum/champion/scale9/box_user</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,34}</string>
                <key>spriteSourceSize</key>
                <string>{33,34}</string>
                <key>textureRect</key>
                <string>{{748,33},{33,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/colosseum/champion/scale9/btn_buff</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,54}</string>
                <key>spriteSourceSize</key>
                <string>{37,54}</string>
                <key>textureRect</key>
                <string>{{540,33},{37,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/colosseum/champion/scale9/btn_green</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,71}</string>
                <key>spriteSourceSize</key>
                <string>{59,71}</string>
                <key>textureRect</key>
                <string>{{320,33},{59,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/colosseum/champion/scale9/btn_green2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{549,89},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/colosseum/champion/scale9/btn_grey</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,71}</string>
                <key>spriteSourceSize</key>
                <string>{59,71}</string>
                <key>textureRect</key>
                <string>{{381,33},{59,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/colosseum/champion/scale9/btn_peacock</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{628,87},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/colosseum/champion/scale9/btn_pink</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,71}</string>
                <key>spriteSourceSize</key>
                <string>{59,71}</string>
                <key>textureRect</key>
                <string>{{442,33},{59,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/colosseum/champion/scale9/btn_pink2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,47}</string>
                <key>spriteSourceSize</key>
                <string>{40,47}</string>
                <key>textureRect</key>
                <string>{{633,33},{40,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/colosseum/champion/scale9/btn_red</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{670,82},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/colosseum/champion/scale9/dragon_setting_box_line</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{317,129},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/colosseum/champion/scale9/line</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,2}</string>
                <key>spriteSourceSize</key>
                <string>{4,2}</string>
                <key>textureRect</key>
                <string>{{313,129},{4,2}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/colosseum/champion/scale9/lobby_box2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,31}</string>
                <key>spriteSourceSize</key>
                <string>{18,31}</string>
                <key>textureRect</key>
                <string>{{307,109},{18,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/colosseum/champion/scale9/nametag</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,42}</string>
                <key>spriteSourceSize</key>
                <string>{27,42}</string>
                <key>textureRect</key>
                <string>{{340,106},{27,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/colosseum/champion/scale9/nametag_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,42}</string>
                <key>spriteSourceSize</key>
                <string>{25,42}</string>
                <key>textureRect</key>
                <string>{{384,106},{25,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/colosseum/champion/scale9/nametag_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,42}</string>
                <key>spriteSourceSize</key>
                <string>{25,42}</string>
                <key>textureRect</key>
                <string>{{428,106},{25,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/colosseum/champion/scale9/ribbon_red</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,38}</string>
                <key>spriteSourceSize</key>
                <string>{97,38}</string>
                <key>textureRect</key>
                <string>{{155,33},{97,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/colosseum/champion/scale9/start_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,30}</string>
                <key>spriteSourceSize</key>
                <string>{800,30}</string>
                <key>textureRect</key>
                <string>{{155,1},{800,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/colosseum/champion/scale9/stripe_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,16}</string>
                <key>spriteSourceSize</key>
                <string>{32,16}</string>
                <key>textureRect</key>
                <string>{{742,115},{32,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/colosseum/champion/scale9/stripe_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,16}</string>
                <key>spriteSourceSize</key>
                <string>{32,16}</string>
                <key>textureRect</key>
                <string>{{776,115},{32,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/colosseum/champion/scale9/tab_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,41}</string>
                <key>spriteSourceSize</key>
                <string>{74,41}</string>
                <key>textureRect</key>
                <string>{{234,33},{74,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/colosseum/champion/scale9/tab_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,41}</string>
                <key>spriteSourceSize</key>
                <string>{74,41}</string>
                <key>textureRect</key>
                <string>{{277,33},{74,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/colosseum/champion/scale9/table</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,43}</string>
                <key>spriteSourceSize</key>
                <string>{20,43}</string>
                <key>textureRect</key>
                <string>{{231,112},{20,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/colosseum/champion/scale9/table_table</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{307,129},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/colosseum/champion/scale9/tournament_line_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,32}</string>
                <key>spriteSourceSize</key>
                <string>{5,32}</string>
                <key>textureRect</key>
                <string>{{670,128},{5,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/colosseum/champion/scale9/tournament_line_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,5}</string>
                <key>spriteSourceSize</key>
                <string>{32,5}</string>
                <key>textureRect</key>
                <string>{{472,125},{32,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/colosseum/champion/scale9/tournament_line_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,45}</string>
                <key>spriteSourceSize</key>
                <string>{35,45}</string>
                <key>textureRect</key>
                <string>{{591,87},{35,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/colosseum/champion/scale9/tournament_line_4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{512,104},{29,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/colosseum/champion/scale9/tournament_line_5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,35}</string>
                <key>spriteSourceSize</key>
                <string>{69,35}</string>
                <key>textureRect</key>
                <string>{{503,33},{69,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>scale9.pvr.ccz</string>
            <key>size</key>
            <string>{956,134}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0eea29dde9a213122eebc74cc96ec89c:a22fc493d29383b80c19cc22298f4ada:6f7b3facf21f2a5d368b2d3e0aff0361$</string>
            <key>textureFileName</key>
            <string>scale9.pvr.ccz</string>
        </dict>
    </dict>
</plist>
