<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/colosseum/champion/winnereffect/00</key>
            <dict>
                <key>frame</key>
                <string>{{286,973},{282,135}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{282,135}}</string>
                <key>sourceSize</key>
                <string>{282,149}</string>
            </dict>
            <key>scene/colosseum/champion/winnereffect/01</key>
            <dict>
                <key>frame</key>
                <string>{{286,697},{282,137}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{282,137}}</string>
                <key>sourceSize</key>
                <string>{282,149}</string>
            </dict>
            <key>scene/colosseum/champion/winnereffect/02</key>
            <dict>
                <key>frame</key>
                <string>{{2,697},{282,137}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{282,137}}</string>
                <key>sourceSize</key>
                <string>{282,149}</string>
            </dict>
            <key>scene/colosseum/champion/winnereffect/03</key>
            <dict>
                <key>frame</key>
                <string>{{854,570},{282,137}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{282,137}}</string>
                <key>sourceSize</key>
                <string>{282,149}</string>
            </dict>
            <key>scene/colosseum/champion/winnereffect/04</key>
            <dict>
                <key>frame</key>
                <string>{{570,558},{282,137}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{282,137}}</string>
                <key>sourceSize</key>
                <string>{282,149}</string>
            </dict>
            <key>scene/colosseum/champion/winnereffect/05</key>
            <dict>
                <key>frame</key>
                <string>{{286,558},{282,137}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{282,137}}</string>
                <key>sourceSize</key>
                <string>{282,149}</string>
            </dict>
            <key>scene/colosseum/champion/winnereffect/06</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{282,137}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{282,137}}</string>
                <key>sourceSize</key>
                <string>{282,149}</string>
            </dict>
            <key>scene/colosseum/champion/winnereffect/07</key>
            <dict>
                <key>frame</key>
                <string>{{570,419},{282,137}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{282,137}}</string>
                <key>sourceSize</key>
                <string>{282,149}</string>
            </dict>
            <key>scene/colosseum/champion/winnereffect/08</key>
            <dict>
                <key>frame</key>
                <string>{{286,419},{282,137}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{282,137}}</string>
                <key>sourceSize</key>
                <string>{282,149}</string>
            </dict>
            <key>scene/colosseum/champion/winnereffect/09</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{282,137}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{282,137}}</string>
                <key>sourceSize</key>
                <string>{282,149}</string>
            </dict>
            <key>scene/colosseum/champion/winnereffect/10</key>
            <dict>
                <key>frame</key>
                <string>{{854,286},{282,137}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{282,137}}</string>
                <key>sourceSize</key>
                <string>{282,149}</string>
            </dict>
            <key>scene/colosseum/champion/winnereffect/11</key>
            <dict>
                <key>frame</key>
                <string>{{570,280},{282,137}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{282,137}}</string>
                <key>sourceSize</key>
                <string>{282,149}</string>
            </dict>
            <key>scene/colosseum/champion/winnereffect/12</key>
            <dict>
                <key>frame</key>
                <string>{{2,973},{282,135}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{282,135}}</string>
                <key>sourceSize</key>
                <string>{282,149}</string>
            </dict>
            <key>scene/colosseum/champion/winnereffect/13</key>
            <dict>
                <key>frame</key>
                <string>{{570,971},{282,135}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{282,135}}</string>
                <key>sourceSize</key>
                <string>{282,149}</string>
            </dict>
            <key>scene/colosseum/champion/winnereffect/14</key>
            <dict>
                <key>frame</key>
                <string>{{286,836},{282,135}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{282,135}}</string>
                <key>sourceSize</key>
                <string>{282,149}</string>
            </dict>
            <key>scene/colosseum/champion/winnereffect/15</key>
            <dict>
                <key>frame</key>
                <string>{{570,1108},{282,133}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{282,133}}</string>
                <key>sourceSize</key>
                <string>{282,149}</string>
            </dict>
            <key>scene/colosseum/champion/winnereffect/16</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{282,135}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{282,135}}</string>
                <key>sourceSize</key>
                <string>{282,149}</string>
            </dict>
            <key>scene/colosseum/champion/winnereffect/17</key>
            <dict>
                <key>frame</key>
                <string>{{854,854},{282,135}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{282,135}}</string>
                <key>sourceSize</key>
                <string>{282,149}</string>
            </dict>
            <key>scene/colosseum/champion/winnereffect/18</key>
            <dict>
                <key>frame</key>
                <string>{{570,834},{282,135}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{282,135}}</string>
                <key>sourceSize</key>
                <string>{282,149}</string>
            </dict>
            <key>scene/colosseum/champion/winnereffect/19</key>
            <dict>
                <key>frame</key>
                <string>{{570,697},{282,135}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{282,135}}</string>
                <key>sourceSize</key>
                <string>{282,149}</string>
            </dict>
            <key>scene/colosseum/champion/winnereffect/20</key>
            <dict>
                <key>frame</key>
                <string>{{286,280},{282,137}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{282,137}}</string>
                <key>sourceSize</key>
                <string>{282,149}</string>
            </dict>
            <key>scene/colosseum/champion/winnereffect/21</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{282,137}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{282,137}}</string>
                <key>sourceSize</key>
                <string>{282,149}</string>
            </dict>
            <key>scene/colosseum/champion/winnereffect/22</key>
            <dict>
                <key>frame</key>
                <string>{{570,141},{282,137}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{282,137}}</string>
                <key>sourceSize</key>
                <string>{282,149}</string>
            </dict>
            <key>scene/colosseum/champion/winnereffect/23</key>
            <dict>
                <key>frame</key>
                <string>{{286,141},{282,137}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{282,137}}</string>
                <key>sourceSize</key>
                <string>{282,149}</string>
            </dict>
            <key>scene/colosseum/champion/winnereffect/24</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{282,137}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{282,137}}</string>
                <key>sourceSize</key>
                <string>{282,149}</string>
            </dict>
            <key>scene/colosseum/champion/winnereffect/25</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{282,137}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{282,137}}</string>
                <key>sourceSize</key>
                <string>{282,149}</string>
            </dict>
            <key>scene/colosseum/champion/winnereffect/26</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{282,137}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{282,137}}</string>
                <key>sourceSize</key>
                <string>{282,149}</string>
            </dict>
            <key>scene/colosseum/champion/winnereffect/27</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{282,137}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{282,137}}</string>
                <key>sourceSize</key>
                <string>{282,149}</string>
            </dict>
            <key>scene/colosseum/champion/winnereffect/28</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{282,137}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{282,137}}</string>
                <key>sourceSize</key>
                <string>{282,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>winnereffect.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26f777fa724ffab43b60a442de338588:463e55999cb763a7c2ebc1bafda9beb6:89702eb55de93eb4d3a61fecd650a259$</string>
            <key>textureFileName</key>
            <string>winnereffect.pvr.ccz</string>
        </dict>
    </dict>
</plist>
