<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>arm1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{45,85}</string>
			<key>spriteSourceSize</key>
			<string>{45,85}</string>
			<key>textureRect</key>
			<string>{{208,65},{45,85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>arm11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{92,93}</string>
			<key>spriteSourceSize</key>
			<string>{92,93}</string>
			<key>textureRect</key>
			<string>{{138,403},{92,93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>arm2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{45,74}</string>
			<key>spriteSourceSize</key>
			<string>{45,74}</string>
			<key>textureRect</key>
			<string>{{204,152},{45,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>arm22</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{56,99}</string>
			<key>spriteSourceSize</key>
			<string>{56,99}</string>
			<key>textureRect</key>
			<string>{{125,345},{56,99}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>att</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{98,62}</string>
			<key>spriteSourceSize</key>
			<string>{98,62}</string>
			<key>textureRect</key>
			<string>{{1,403},{98,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>body</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{95,171}</string>
			<key>spriteSourceSize</key>
			<string>{95,171}</string>
			<key>textureRect</key>
			<string>{{1,168},{95,171}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>head</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{70,83}</string>
			<key>spriteSourceSize</key>
			<string>{70,83}</string>
			<key>textureRect</key>
			<string>{{170,273},{70,83}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>leg1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{43,71}</string>
			<key>spriteSourceSize</key>
			<string>{43,71}</string>
			<key>textureRect</key>
			<string>{{125,265},{43,71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>leg11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{43,78}</string>
			<key>spriteSourceSize</key>
			<string>{43,78}</string>
			<key>textureRect</key>
			<string>{{174,228},{43,78}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>leg2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{47,62}</string>
			<key>spriteSourceSize</key>
			<string>{47,62}</string>
			<key>textureRect</key>
			<string>{{208,1},{47,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>leg22</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,62}</string>
			<key>spriteSourceSize</key>
			<string>{71,62}</string>
			<key>textureRect</key>
			<string>{{65,441},{71,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>neck</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{56,59}</string>
			<key>spriteSourceSize</key>
			<string>{56,59}</string>
			<key>textureRect</key>
			<string>{{65,380},{56,59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>tail</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{122,113}</string>
			<key>spriteSourceSize</key>
			<string>{122,113}</string>
			<key>textureRect</key>
			<string>{{1,265},{122,113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>wing1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{85,205}</string>
			<key>spriteSourceSize</key>
			<string>{85,205}</string>
			<key>textureRect</key>
			<string>{{1,1},{85,205}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>wing2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{78,201}</string>
			<key>spriteSourceSize</key>
			<string>{78,201}</string>
			<key>textureRect</key>
			<string>{{1,88},{78,201}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>adult.pvr.ccz</string>
		<key>size</key>
		<string>{256,504}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e252ce555dadb04dc36f24d1a7e919bd:7613b573c14fcb17474cacea5b548377:93b06bf88a4e0ef9c037a7a46c3a378b$</string>
		<key>textureFileName</key>
		<string>adult.pvr.ccz</string>
	</dict>
</dict>
</plist>
