<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3154/effect/col_action2/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,31}</string>
                <key>spriteSize</key>
                <string>{196,179}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{201,1570},{196,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3154/effect/col_action2/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{198,183}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{1,1570},{198,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3154/effect/col_action2/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,27}</string>
                <key>spriteSize</key>
                <string>{202,187}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{1570,209},{202,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3154/effect/col_action2/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,44}</string>
                <key>spriteSize</key>
                <string>{282,243}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{571,1474},{282,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3154/effect/col_action2/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,331}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{1,1},{568,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3154/effect/col_action2/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,331}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{571,1},{568,331}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3154/effect/col_action2/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,331}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{1,334},{568,331}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3154/effect/col_action2/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,331}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{334,571},{568,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3154/effect/col_action2/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,331}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{904,1},{568,331}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3154/effect/col_action2/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,331}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{904,571},{568,331}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3154/effect/col_action2/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,331}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{1,904},{568,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3154/effect/col_action2/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,331}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{571,904},{568,331}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3154/effect/col_action2/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,331}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{1,1237},{568,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3154/effect/col_action2/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,331}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{904,1141},{568,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3154/effect/col_action2/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,331}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{1237,1},{568,331}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3154/effect/col_action2/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,331}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{1237,571},{568,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3154/effect/col_action2/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,331}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{1474,904},{568,331}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3154/effect/col_action2/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,16}</string>
                <key>spriteSize</key>
                <string>{248,259}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{855,1474},{248,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3154/effect/col_action2/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,13}</string>
                <key>spriteSize</key>
                <string>{244,257}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{1116,1474},{244,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3154/effect/col_action2/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,12}</string>
                <key>spriteSize</key>
                <string>{244,253}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{1375,1474},{244,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3154/effect/col_action2/20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,21}</string>
                <key>spriteSize</key>
                <string>{234,221}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{334,334},{234,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3154/effect/col_action2/21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,29}</string>
                <key>spriteSize</key>
                <string>{216,197}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{1237,904},{216,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3154/effect/col_action2/22</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,24}</string>
                <key>spriteSize</key>
                <string>{206,181}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{1570,1},{206,181}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action20.pvr.ccz</string>
            <key>size</key>
            <string>{1806,1754}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6df629b384eaf8d621806b3462cf910d:2a9c56bfef8c6ccebf24186704f651df:98ec4b5f3da3b367b0df440471cccb39$</string>
            <key>textureFileName</key>
            <string>col_action20.pvr.ccz</string>
        </dict>
    </dict>
</plist>
