<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/213/effect/col_action2/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-97,39}</string>
                <key>spriteSize</key>
                <string>{77,51}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{178,848},{77,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/213/effect/col_action2/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-95,7}</string>
                <key>spriteSize</key>
                <string>{81,141}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{144,991},{81,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/213/effect/col_action2/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-109,3}</string>
                <key>spriteSize</key>
                <string>{111,149}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{140,1134},{111,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/213/effect/col_action2/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-110,3}</string>
                <key>spriteSize</key>
                <string>{113,149}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{1,1253},{113,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/213/effect/col_action2/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-89,5}</string>
                <key>spriteSize</key>
                <string>{223,215}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{1,631},{223,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/213/effect/col_action2/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,241}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{1,1},{401,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/213/effect/col_action2/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-78,8}</string>
                <key>spriteSize</key>
                <string>{245,225}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{1,404},{245,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/213/effect/col_action2/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-130,22}</string>
                <key>spriteSize</key>
                <string>{141,175}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{1,848},{141,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/213/effect/col_action2/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-118,17}</string>
                <key>spriteSize</key>
                <string>{123,137}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{1,1128},{123,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/213/effect/col_action2/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-119,12}</string>
                <key>spriteSize</key>
                <string>{141,135}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{1,991},{141,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/213/effect/col_action2/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-124,8}</string>
                <key>spriteSize</key>
                <string>{137,113}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{116,1285},{137,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action20.pvr.ccz</string>
            <key>size</key>
            <string>{252,1423}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc9abafe106aa7cc6c5c37ee64ddb036:07079bed53cfdb2689095cf6322daf37:98ec4b5f3da3b367b0df440471cccb39$</string>
            <key>textureFileName</key>
            <string>col_action20.pvr.ccz</string>
        </dict>
    </dict>
</plist>
