<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/eggshop/openpack/images/dragoncard_bg1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,135}</string>
                <key>spriteSourceSize</key>
                <string>{223,135}</string>
                <key>textureRect</key>
                <string>{{1527,1},{223,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/eggshop/openpack/images/dragoncard_bg2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,135}</string>
                <key>spriteSourceSize</key>
                <string>{223,135}</string>
                <key>textureRect</key>
                <string>{{1023,473},{223,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/eggshop/openpack/images/dragoncard_eclipse</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,291}</string>
                <key>spriteSourceSize</key>
                <string>{223,291}</string>
                <key>textureRect</key>
                <string>{{573,473},{223,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/openpack/images/dragoncard_eclipse_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,291}</string>
                <key>spriteSourceSize</key>
                <string>{223,291}</string>
                <key>textureRect</key>
                <string>{{798,473},{223,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/openpack/images/dragoncard_eclipse_top</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,58}</string>
                <key>spriteSourceSize</key>
                <string>{223,58}</string>
                <key>textureRect</key>
                <string>{{226,920},{223,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/openpack/images/dragoncard_m_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,291}</string>
                <key>spriteSourceSize</key>
                <string>{223,291}</string>
                <key>textureRect</key>
                <string>{{573,766},{223,291}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/eggshop/openpack/images/dragoncard_m_kr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,291}</string>
                <key>spriteSourceSize</key>
                <string>{223,291}</string>
                <key>textureRect</key>
                <string>{{866,766},{223,291}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/eggshop/openpack/images/dragoncard_m_top</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,58}</string>
                <key>spriteSourceSize</key>
                <string>{223,58}</string>
                <key>textureRect</key>
                <string>{{1452,829},{223,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/openpack/images/dragoncard_pr_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,291}</string>
                <key>spriteSourceSize</key>
                <string>{223,291}</string>
                <key>textureRect</key>
                <string>{{1160,536},{223,291}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/eggshop/openpack/images/dragoncard_pr_kr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,291}</string>
                <key>spriteSourceSize</key>
                <string>{223,291}</string>
                <key>textureRect</key>
                <string>{{1453,536},{223,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/openpack/images/dragoncard_pr_top</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,59}</string>
                <key>spriteSourceSize</key>
                <string>{223,59}</string>
                <key>textureRect</key>
                <string>{{1,920},{223,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/openpack/images/ef_cardbg1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,482}</string>
                <key>spriteSourceSize</key>
                <string>{570,482}</string>
                <key>textureRect</key>
                <string>{{1,436},{570,482}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/openpack/images/ef_cardbg2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{526,470}</string>
                <key>spriteSourceSize</key>
                <string>{526,470}</string>
                <key>textureRect</key>
                <string>{{676,1},{526,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/openpack/images/ef_cardbg3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,433}</string>
                <key>spriteSourceSize</key>
                <string>{673,433}</string>
                <key>textureRect</key>
                <string>{{1,1},{673,433}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/openpack/images/ef_cardbg4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,320}</string>
                <key>spriteSourceSize</key>
                <string>{321,320}</string>
                <key>textureRect</key>
                <string>{{1204,1},{321,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/openpack/images/ef_dragoncard_w</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,291}</string>
                <key>spriteSourceSize</key>
                <string>{223,291}</string>
                <key>textureRect</key>
                <string>{{1159,761},{223,291}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/eggshop/openpack/images/ef_gacha10_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{1527,226},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/openpack/images/ef_gacha1_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,330}</string>
                <key>spriteSourceSize</key>
                <string>{211,330}</string>
                <key>textureRect</key>
                <string>{{1204,323},{211,330}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/eggshop/openpack/images/ef_gacha2_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,330}</string>
                <key>spriteSourceSize</key>
                <string>{211,330}</string>
                <key>textureRect</key>
                <string>{{1204,323},{211,330}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/eggshop/openpack/images/ef_gacha3_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,330}</string>
                <key>spriteSourceSize</key>
                <string>{211,330}</string>
                <key>textureRect</key>
                <string>{{1204,323},{211,330}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/eggshop/openpack/images/ef_gacha4_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,330}</string>
                <key>spriteSourceSize</key>
                <string>{211,330}</string>
                <key>textureRect</key>
                <string>{{1204,323},{211,330}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/eggshop/openpack/images/ef_star1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,82}</string>
                <key>spriteSourceSize</key>
                <string>{87,82}</string>
                <key>textureRect</key>
                <string>{{1538,889},{87,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/openpack/images/ef_star2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,83}</string>
                <key>spriteSourceSize</key>
                <string>{81,83}</string>
                <key>textureRect</key>
                <string>{{1536,314},{81,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/openpack/images/ef_star3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,87}</string>
                <key>spriteSourceSize</key>
                <string>{84,87}</string>
                <key>textureRect</key>
                <string>{{1452,889},{84,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/openpack/images/ef_star4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,83}</string>
                <key>spriteSourceSize</key>
                <string>{76,83}</string>
                <key>textureRect</key>
                <string>{{1536,399},{76,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>images.pvr.ccz</string>
            <key>size</key>
            <string>{1677,990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54c4fccb63a8f84b963ffc8e5a8c127b:e5105cd594c1dc7e8cc31e8cbdc4010e:8f17e1ce2c45f807bcb9853cd131d9c3$</string>
            <key>textureFileName</key>
            <string>images.pvr.ccz</string>
        </dict>
    </dict>
</plist>
