<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-20,-3}</string>
			<key>spriteSize</key>
			<string>{154,147}</string>
			<key>spriteSourceSize</key>
			<string>{300,265}</string>
			<key>textureRect</key>
			<string>{{251,282},{154,147}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-8,4}</string>
			<key>spriteSize</key>
			<string>{248,227}</string>
			<key>spriteSourceSize</key>
			<string>{300,265}</string>
			<key>textureRect</key>
			<string>{{1,282},{248,227}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>at</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{19,-19}</string>
			<key>spriteSize</key>
			<string>{80,61}</string>
			<key>spriteSourceSize</key>
			<string>{150,133}</string>
			<key>textureRect</key>
			<string>{{251,438},{80,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{317,279}</string>
			<key>spriteSourceSize</key>
			<string>{317,279}</string>
			<key>textureRect</key>
			<string>{{1,1},{317,279}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>1.pvr.ccz</string>
		<key>size</key>
		<string>{399,510}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:38854ae36e9c959ffc3c92129be31a28:81ae425692c86ffbc150500478350749:40d3598d41e1bf9d383a31258ca9da63$</string>
		<key>textureFileName</key>
		<string>1.pvr.ccz</string>
	</dict>
</dict>
</plist>
