<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-4}</string>
			<key>spriteSize</key>
			<string>{174,225}</string>
			<key>spriteSourceSize</key>
			<string>{300,265}</string>
			<key>textureRect</key>
			<string>{{266,282},{174,225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-1}</string>
			<key>spriteSize</key>
			<string>{232,263}</string>
			<key>spriteSourceSize</key>
			<string>{300,265}</string>
			<key>textureRect</key>
			<string>{{1,282},{232,263}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>at</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{150,123}</string>
			<key>spriteSourceSize</key>
			<string>{150,133}</string>
			<key>textureRect</key>
			<string>{{320,1},{150,123}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{317,279}</string>
			<key>spriteSourceSize</key>
			<string>{317,279}</string>
			<key>textureRect</key>
			<string>{{1,1},{317,279}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>10.pvr.ccz</string>
		<key>size</key>
		<string>{444,515}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c076c5eb0f0e4cd10646f5977f8539ef:fd2d468dbf53d84e2343c1ee28cf3a0a:62ac47a818e979d487d40c8b1aa5979d$</string>
		<key>textureFileName</key>
		<string>10.pvr.ccz</string>
	</dict>
</dict>
</plist>
