<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,-17}</string>
			<key>spriteSize</key>
			<string>{264,183}</string>
			<key>spriteSourceSize</key>
			<string>{300,265}</string>
			<key>textureRect</key>
			<string>{{320,1},{264,183}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,-3}</string>
			<key>spriteSize</key>
			<string>{284,251}</string>
			<key>spriteSourceSize</key>
			<string>{300,265}</string>
			<key>textureRect</key>
			<string>{{1,282},{284,251}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>at</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-14}</string>
			<key>spriteSize</key>
			<string>{148,105}</string>
			<key>spriteSourceSize</key>
			<string>{150,133}</string>
			<key>textureRect</key>
			<string>{{320,267},{148,105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{317,279}</string>
			<key>spriteSourceSize</key>
			<string>{317,279}</string>
			<key>textureRect</key>
			<string>{{1,1},{317,279}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>11.pvr.ccz</string>
		<key>size</key>
		<string>{504,534}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:4ae3cfcb7f583db6e46b7b31b34d4b8e:e12f67778a62e9106cd9cb61dedd1fd8:76ca3f5c8d4d567ddb13725dea970561$</string>
		<key>textureFileName</key>
		<string>11.pvr.ccz</string>
	</dict>
</dict>
</plist>
