<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{254,249}</string>
			<key>spriteSourceSize</key>
			<string>{300,265}</string>
			<key>textureRect</key>
			<string>{{612,1},{254,249}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,0}</string>
			<key>spriteSize</key>
			<string>{290,265}</string>
			<key>spriteSourceSize</key>
			<string>{300,265}</string>
			<key>textureRect</key>
			<string>{{320,1},{290,265}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>at</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,0}</string>
			<key>spriteSize</key>
			<string>{142,133}</string>
			<key>spriteSourceSize</key>
			<string>{150,133}</string>
			<key>textureRect</key>
			<string>{{863,1},{142,133}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{317,279}</string>
			<key>spriteSourceSize</key>
			<string>{317,279}</string>
			<key>textureRect</key>
			<string>{{1,1},{317,279}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>15.pvr.ccz</string>
		<key>size</key>
		<string>{997,281}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:92603c2fceb3fee363697131b7a741f5:6e99d59716db917902742c24235dc400:bae71249e3239ddbd29f19fdae42675e$</string>
		<key>textureFileName</key>
		<string>15.pvr.ccz</string>
	</dict>
</dict>
</plist>
