<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster/16/1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,3}</string>
                <key>spriteSize</key>
                <string>{128,253}</string>
                <key>spriteSourceSize</key>
                <string>{300,265}</string>
                <key>textureRect</key>
                <string>{{320,1},{128,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/16/2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,16}</string>
                <key>spriteSize</key>
                <string>{188,233}</string>
                <key>spriteSourceSize</key>
                <string>{300,265}</string>
                <key>textureRect</key>
                <string>{{1,282},{188,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster/16/at</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,0}</string>
                <key>spriteSize</key>
                <string>{114,133}</string>
                <key>spriteSourceSize</key>
                <string>{150,133}</string>
                <key>textureRect</key>
                <string>{{236,282},{114,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/16/bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,279}</string>
                <key>spriteSourceSize</key>
                <string>{317,279}</string>
                <key>textureRect</key>
                <string>{{1,1},{317,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>16.pvr.ccz</string>
            <key>size</key>
            <string>{449,471}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39f0a4293e0b34783ee7defd8fe51642:c9a5a494770179a9507ad04acc1ce92c:b3347015d9ea88a9c33d82d049258067$</string>
            <key>textureFileName</key>
            <string>16.pvr.ccz</string>
        </dict>
    </dict>
</plist>
