<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-13}</string>
			<key>spriteSize</key>
			<string>{160,209}</string>
			<key>spriteSourceSize</key>
			<string>{300,265}</string>
			<key>textureRect</key>
			<string>{{320,230},{160,209}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-12,16}</string>
			<key>spriteSize</key>
			<string>{180,227}</string>
			<key>spriteSourceSize</key>
			<string>{300,265}</string>
			<key>textureRect</key>
			<string>{{320,1},{180,227}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>at</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,4}</string>
			<key>spriteSize</key>
			<string>{146,125}</string>
			<key>spriteSourceSize</key>
			<string>{150,133}</string>
			<key>textureRect</key>
			<string>{{1,282},{146,125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{317,279}</string>
			<key>spriteSourceSize</key>
			<string>{317,279}</string>
			<key>textureRect</key>
			<string>{{1,1},{317,279}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>17.pvr.ccz</string>
		<key>size</key>
		<string>{501,440}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:79ea1b89941d858838f32d36f58acd19:54de2d3204953d7bfd45faa176a75134:f2ed516b0c7ed0acdf1ce434262777c2$</string>
		<key>textureFileName</key>
		<string>17.pvr.ccz</string>
	</dict>
</dict>
</plist>
