<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster/19/1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{190,245}</string>
                <key>spriteSourceSize</key>
                <string>{300,265}</string>
                <key>textureRect</key>
                <string>{{320,1},{190,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/19/2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{182,255}</string>
                <key>spriteSourceSize</key>
                <string>{300,265}</string>
                <key>textureRect</key>
                <string>{{1,282},{182,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster/19/at</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-14}</string>
                <key>spriteSize</key>
                <string>{122,105}</string>
                <key>spriteSourceSize</key>
                <string>{150,133}</string>
                <key>textureRect</key>
                <string>{{258,282},{122,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster/19/bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,279}</string>
                <key>spriteSourceSize</key>
                <string>{317,279}</string>
                <key>textureRect</key>
                <string>{{1,1},{317,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>19.pvr.ccz</string>
            <key>size</key>
            <string>{511,465}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:210f85c3f5e203131f40f87ec6e1c0ec:b0ee6c4b0f2d5e90f64b63d286549be7:bc20d41a6a3094797d06f54e24518e5b$</string>
            <key>textureFileName</key>
            <string>19.pvr.ccz</string>
        </dict>
    </dict>
</plist>
