<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster/21/1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-17}</string>
                <key>spriteSize</key>
                <string>{158,193}</string>
                <key>spriteSourceSize</key>
                <string>{300,265}</string>
                <key>textureRect</key>
                <string>{{1,233},{158,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/21/2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,7}</string>
                <key>spriteSize</key>
                <string>{230,251}</string>
                <key>spriteSourceSize</key>
                <string>{300,265}</string>
                <key>textureRect</key>
                <string>{{1,1},{230,251}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster/21/at</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{144,131}</string>
                <key>spriteSourceSize</key>
                <string>{150,133}</string>
                <key>textureRect</key>
                <string>{{161,233},{144,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>21.pvr.ccz</string>
            <key>size</key>
            <string>{293,427}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5768ac6261d001e2cc9f211a52b7e8fe:50afaa908f37fd6cfcd6c65970aec4ed:ba3d62f4521ad466174ca9572e77d0d4$</string>
            <key>textureFileName</key>
            <string>21.pvr.ccz</string>
        </dict>
    </dict>
</plist>
