<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,1}</string>
			<key>spriteSize</key>
			<string>{414,304}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{453,965},{414,304}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-11,12}</string>
			<key>spriteSize</key>
			<string>{450,362}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{1,965},{450,362}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>at</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{800,480}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{1,1},{800,480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{800,480}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{1,483},{800,480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>243.pvr.ccz</string>
		<key>size</key>
		<string>{868,1328}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:055326a986eba8025897890bbfa9fadd:f53e5b0ba2d86520dad12a6bee865f4f:155496fea0a96f4b731266957d331581$</string>
		<key>textureFileName</key>
		<string>243.pvr.ccz</string>
	</dict>
</dict>
</plist>
