<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster/26/1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{196,215}</string>
                <key>spriteSourceSize</key>
                <string>{300,265}</string>
                <key>textureRect</key>
                <string>{{260,1},{196,215}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster/26/2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{286,257}</string>
                <key>spriteSourceSize</key>
                <string>{300,265}</string>
                <key>textureRect</key>
                <string>{{1,1},{286,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster/26/at</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,133}</string>
                <key>spriteSourceSize</key>
                <string>{150,133}</string>
                <key>textureRect</key>
                <string>{{260,199},{150,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>26.pvr.ccz</string>
            <key>size</key>
            <string>{476,333}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:718b62315b3cfeaad4ff62e2dc34af62:339870e3dff68c72c2e197630d6889bf:57669e7b697bddbb8ed1b17e2ba7d1d6$</string>
            <key>textureFileName</key>
            <string>26.pvr.ccz</string>
        </dict>
    </dict>
</plist>
