<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Sample</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-41,20}</string>
			<key>spriteSize</key>
			<string>{1438,1004}</string>
			<key>spriteSourceSize</key>
			<string>{1788,1188}</string>
			<key>textureRect</key>
			<string>{{1,1},{1438,1004}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>att1effect</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{906,544}</string>
			<key>spriteSourceSize</key>
			<string>{906,544}</string>
			<key>textureRect</key>
			<string>{{1,1007},{906,544}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>att2effect</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{906,544}</string>
			<key>spriteSourceSize</key>
			<string>{906,544}</string>
			<key>textureRect</key>
			<string>{{1441,1},{906,544}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>att3effect</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{906,544}</string>
			<key>spriteSourceSize</key>
			<string>{906,544}</string>
			<key>textureRect</key>
			<string>{{909,1007},{906,544}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>267.pvr.ccz</string>
		<key>size</key>
		<string>{1986,1552}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:263e0bd7c7d2d43e6c364ee1d47c3707:7751e2d7b1a558719e838f97c35fd408:66ee962bf1965d3ede6abdcd7207958a$</string>
		<key>textureFileName</key>
		<string>267.pvr.ccz</string>
	</dict>
</dict>
</plist>
