<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-18}</string>
			<key>spriteSize</key>
			<string>{168,227}</string>
			<key>spriteSourceSize</key>
			<string>{300,265}</string>
			<key>textureRect</key>
			<string>{{283,1},{168,227}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-4}</string>
			<key>spriteSize</key>
			<string>{280,241}</string>
			<key>spriteSourceSize</key>
			<string>{300,265}</string>
			<key>textureRect</key>
			<string>{{1,1},{280,241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>at</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-11}</string>
			<key>spriteSize</key>
			<string>{150,111}</string>
			<key>spriteSourceSize</key>
			<string>{150,133}</string>
			<key>textureRect</key>
			<string>{{453,1},{150,111}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>28.pvr.ccz</string>
		<key>size</key>
		<string>{565,243}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:4b0699882f9dfb512f13ec68c5871f57:cf808b69de76fa665953b2428349cabe:1b8e1fc95ba856830129732b13b2790d$</string>
		<key>textureFileName</key>
		<string>28.pvr.ccz</string>
	</dict>
</dict>
</plist>
