<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-4}</string>
			<key>spriteSize</key>
			<string>{222,215}</string>
			<key>spriteSourceSize</key>
			<string>{300,265}</string>
			<key>textureRect</key>
			<string>{{246,282},{222,215}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,11}</string>
			<key>spriteSize</key>
			<string>{230,243}</string>
			<key>spriteSourceSize</key>
			<string>{300,265}</string>
			<key>textureRect</key>
			<string>{{1,282},{230,243}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>at</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-12,15}</string>
			<key>spriteSize</key>
			<string>{126,93}</string>
			<key>spriteSourceSize</key>
			<string>{150,133}</string>
			<key>textureRect</key>
			<string>{{320,1},{126,93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{317,279}</string>
			<key>spriteSourceSize</key>
			<string>{317,279}</string>
			<key>textureRect</key>
			<string>{{1,1},{317,279}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>3.pvr.ccz</string>
		<key>size</key>
		<string>{462,513}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:243d7dd3c78d3cdb6ed6075c44f87728:6e9ceb4006ae992e62e4492f375bd9bf:4fc1b54cbb0cba7f358a3909f8e5c8df$</string>
		<key>textureFileName</key>
		<string>3.pvr.ccz</string>
	</dict>
</dict>
</plist>
