<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster/30/1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-7}</string>
                <key>spriteSize</key>
                <string>{216,203}</string>
                <key>spriteSourceSize</key>
                <string>{300,265}</string>
                <key>textureRect</key>
                <string>{{1,295},{216,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/30/2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-10}</string>
                <key>spriteSize</key>
                <string>{292,245}</string>
                <key>spriteSourceSize</key>
                <string>{300,265}</string>
                <key>textureRect</key>
                <string>{{1,1},{292,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster/30/at</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,133}</string>
                <key>spriteSourceSize</key>
                <string>{150,133}</string>
                <key>textureRect</key>
                <string>{{1,500},{150,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>30.pvr.ccz</string>
            <key>size</key>
            <string>{247,634}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50ec67c358214b27a625c79eda9483dd:928d76138c5fbf5c5ef01fa8ac80a49d:8119ef1216a83c959c2598e3f1ded060$</string>
            <key>textureFileName</key>
            <string>30.pvr.ccz</string>
        </dict>
    </dict>
</plist>
