<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-34,-20}</string>
			<key>spriteSize</key>
			<string>{232,207}</string>
			<key>spriteSourceSize</key>
			<string>{300,265}</string>
			<key>textureRect</key>
			<string>{{268,1},{232,207}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-14,0}</string>
			<key>spriteSize</key>
			<string>{272,265}</string>
			<key>spriteSourceSize</key>
			<string>{300,265}</string>
			<key>textureRect</key>
			<string>{{1,1},{272,265}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>at</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-7,-3}</string>
			<key>spriteSize</key>
			<string>{136,127}</string>
			<key>spriteSourceSize</key>
			<string>{150,133}</string>
			<key>textureRect</key>
			<string>{{268,210},{136,127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>31.pvr.ccz</string>
		<key>size</key>
		<string>{501,338}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:7412e36f7c2199b6bc16837947617d51:ca52674d9e584b2fc160e4a9d87d0fcd:4fd72bef7d5e359b5ef2cc7f60e89030$</string>
		<key>textureFileName</key>
		<string>31.pvr.ccz</string>
	</dict>
</dict>
</plist>
