<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-16}</string>
			<key>spriteSize</key>
			<string>{240,225}</string>
			<key>spriteSourceSize</key>
			<string>{300,265}</string>
			<key>textureRect</key>
			<string>{{1,295},{240,225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,0}</string>
			<key>spriteSize</key>
			<string>{292,247}</string>
			<key>spriteSourceSize</key>
			<string>{300,265}</string>
			<key>textureRect</key>
			<string>{{1,1},{292,247}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>at</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-18,-20}</string>
			<key>spriteSize</key>
			<string>{114,93}</string>
			<key>spriteSourceSize</key>
			<string>{150,133}</string>
			<key>textureRect</key>
			<string>{{1,522},{114,93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>33.pvr.ccz</string>
		<key>size</key>
		<string>{249,616}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:55055623fc101ac59aeb67964639b83c:6f0e5f865de2049f29fcd56ca38a7b31:470616c0b9a1c1338ae8d9237f65a476$</string>
		<key>textureFileName</key>
		<string>33.pvr.ccz</string>
	</dict>
</dict>
</plist>
