<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster/34/1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{244,225}</string>
                <key>spriteSourceSize</key>
                <string>{300,265}</string>
                <key>textureRect</key>
                <string>{{1,287},{244,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/34/2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{284,247}</string>
                <key>spriteSourceSize</key>
                <string>{300,265}</string>
                <key>textureRect</key>
                <string>{{1,1},{284,247}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster/34/at</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-20}</string>
                <key>spriteSize</key>
                <string>{114,93}</string>
                <key>spriteSourceSize</key>
                <string>{150,133}</string>
                <key>textureRect</key>
                <string>{{1,514},{114,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>34.pvr.ccz</string>
            <key>size</key>
            <string>{249,608}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f00db0a13ee08612a8c1ab5846a46d73:dfa120a4eda270a17e6f2ae084cd9a0f:50e92b0cb1c17ccdd5549da17eb45d6f$</string>
            <key>textureFileName</key>
            <string>34.pvr.ccz</string>
        </dict>
    </dict>
</plist>
