<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,-10}</string>
			<key>spriteSize</key>
			<string>{152,201}</string>
			<key>spriteSourceSize</key>
			<string>{300,265}</string>
			<key>textureRect</key>
			<string>{{1,268},{152,201}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{9,0}</string>
			<key>spriteSize</key>
			<string>{174,265}</string>
			<key>spriteSourceSize</key>
			<string>{300,265}</string>
			<key>textureRect</key>
			<string>{{1,1},{174,265}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>at</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-28}</string>
			<key>spriteSize</key>
			<string>{150,77}</string>
			<key>spriteSourceSize</key>
			<string>{150,133}</string>
			<key>textureRect</key>
			<string>{{1,422},{150,77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>35.pvr.ccz</string>
		<key>size</key>
		<string>{203,500}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:ea27b6d11e6f1f97e5794ac6993592c5:68ff676749247cfa2dd7265a7bf7e5e1:e435bcaee1f67c69ebef9c2ffd8521f6$</string>
		<key>textureFileName</key>
		<string>35.pvr.ccz</string>
	</dict>
</dict>
</plist>
