<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,-10}</string>
			<key>spriteSize</key>
			<string>{152,199}</string>
			<key>spriteSourceSize</key>
			<string>{300,265}</string>
			<key>textureRect</key>
			<string>{{1,268},{152,199}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{9,0}</string>
			<key>spriteSize</key>
			<string>{174,265}</string>
			<key>spriteSourceSize</key>
			<string>{300,265}</string>
			<key>textureRect</key>
			<string>{{1,1},{174,265}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>at</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-28}</string>
			<key>spriteSize</key>
			<string>{150,77}</string>
			<key>spriteSourceSize</key>
			<string>{150,133}</string>
			<key>textureRect</key>
			<string>{{1,422},{150,77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>36.pvr.ccz</string>
		<key>size</key>
		<string>{201,500}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:0d4d47068805175c6a3076c13e3f2b53:760418faedd53909d05a76539dee0948:e6ecb3ac13a85dd7fe820815291a6418$</string>
		<key>textureFileName</key>
		<string>36.pvr.ccz</string>
	</dict>
</dict>
</plist>
