<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-24,-14}</string>
			<key>spriteSize</key>
			<string>{638,428}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{1439,1},{638,428}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-25,-20}</string>
			<key>spriteSize</key>
			<string>{634,440}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{803,1},{634,440}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>3</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{16,-50}</string>
			<key>spriteSize</key>
			<string>{398,364}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{803,443},{398,364}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>at2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-10,-42}</string>
			<key>spriteSize</key>
			<string>{768,388}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{1,483},{768,388}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>at3</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{800,480}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{1,1},{800,480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-116}</string>
			<key>spriteSize</key>
			<string>{800,248}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{1203,641},{800,248}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>43.pvr.ccz</string>
		<key>size</key>
		<string>{2004,890}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e6ad8fce4562a3bab1afafbe1fd4ca5b:80f6a272416e473e12d7a063b1e65bd4:82a97c1b4c9aef2e1b6e189173e3b3fd$</string>
		<key>textureFileName</key>
		<string>43.pvr.ccz</string>
	</dict>
</dict>
</plist>
