<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster/51/1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{588,456}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{461,207},{588,456}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster/51/2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-15}</string>
                <key>spriteSize</key>
                <string>{646,446}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{1,555},{646,446}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster/51/3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-3}</string>
                <key>spriteSize</key>
                <string>{708,470}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{449,797},{708,470}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster/51/at2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,480}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{1,1507},{800,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/51/at3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-72,7}</string>
                <key>spriteSize</key>
                <string>{346,458}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{1,207},{346,458}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster/51/bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-138}</string>
                <key>spriteSize</key>
                <string>{800,204}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>51.pvr.ccz</string>
            <key>size</key>
            <string>{920,1988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db206137dbfe80de97d9041dbdaa9db7:91034b40eab90dcab6932d28df6fd719:0b58536b192db54d47ccc68de7b5cbe1$</string>
            <key>textureFileName</key>
            <string>51.pvr.ccz</string>
        </dict>
    </dict>
</plist>
