<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{11,-9}</string>
			<key>spriteSize</key>
			<string>{720,462}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{761,771},{720,462}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-21,-6}</string>
			<key>spriteSize</key>
			<string>{758,468}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{1,803},{758,468}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>3</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-19,0}</string>
			<key>spriteSize</key>
			<string>{554,480}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{1483,723},{554,480}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>4</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{13,-19}</string>
			<key>spriteSize</key>
			<string>{750,434}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{963,1},{750,434}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>5</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{11,-8}</string>
			<key>spriteSize</key>
			<string>{720,462}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{1483,1},{720,462}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>at2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{800,480}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{1,1},{800,480}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>at3</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-1}</string>
			<key>spriteSize</key>
			<string>{768,478}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{483,1},{768,478}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>69.pvr.ccz</string>
		<key>size</key>
		<string>{1964,1278}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:f0e77cb33e03b59da04e60f851f54c6b:b46599abb2f0d34cb846ad172deeb83a:90a820dd15f2748f0e26db92b1207758$</string>
		<key>textureFileName</key>
		<string>69.pvr.ccz</string>
	</dict>
</dict>
</plist>
