<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>5</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,16}</string>
			<key>spriteSize</key>
			<string>{784,396}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{401,965},{784,396}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>raid_boss_volca_30_body</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,16}</string>
			<key>spriteSize</key>
			<string>{784,396}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{401,965},{784,396}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>raid_boss_volca_30_head</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{14,-41}</string>
			<key>spriteSize</key>
			<string>{186,162}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{1329,1349},{186,162}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>raid_boss_volca_att1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{10,12}</string>
			<key>spriteSize</key>
			<string>{766,456}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{803,1},{766,456}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raid_boss_volca_att11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-38,-40}</string>
			<key>spriteSize</key>
			<string>{528,400}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{799,1349},{528,400}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raid_boss_volca_att1_effect</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-15,0}</string>
			<key>spriteSize</key>
			<string>{770,480}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{1,483},{770,480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raid_boss_volca_att2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{25,-17}</string>
			<key>spriteSize</key>
			<string>{630,446}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{799,901},{630,446}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raid_boss_volca_att2_effect</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{800,480}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{1,1},{800,480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raid_boss_volca_body</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,16}</string>
			<key>spriteSize</key>
			<string>{784,398}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{1,965},{784,398}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>raid_boss_volca_head</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{14,-40}</string>
			<key>spriteSize</key>
			<string>{186,160}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{1329,1537},{186,160}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>raid_boss_volca_hit</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{20,-13}</string>
			<key>spriteSize</key>
			<string>{642,440}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{803,459},{642,440}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>70.pvr.ccz</string>
		<key>size</key>
		<string>{1570,1750}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:5b3ef69d9d859709c97d1ff23e63aca2:fa7ea015d9c7560a33bbe82bd8a3676d:154bb7cc705dbca0fd4ffabd2e6513ed$</string>
		<key>textureFileName</key>
		<string>70.pvr.ccz</string>
	</dict>
</dict>
</plist>
