<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster/71/raid_boss_blue_30_body</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{652,470}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{649,1373},{652,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/71/raid_boss_blue_30_head</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,140}</string>
                <key>spriteSize</key>
                <string>{144,160}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{1303,1373},{144,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster/71/raid_boss_blue_att1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,13}</string>
                <key>spriteSize</key>
                <string>{772,454}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{785,917},{772,454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/71/raid_boss_blue_att11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-48}</string>
                <key>spriteSize</key>
                <string>{800,384}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{1,483},{800,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/71/raid_boss_blue_att1_effect</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{782,480}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{1,869},{782,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/71/raid_boss_blue_att2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,19}</string>
                <key>spriteSize</key>
                <string>{752,440}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{803,1},{752,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/71/raid_boss_blue_att2_effect</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,480}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/71/raid_boss_blue_body</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{652,472}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{803,443},{652,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/71/raid_boss_blue_head</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,140}</string>
                <key>spriteSize</key>
                <string>{144,160}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{1303,1519},{144,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster/71/raid_boss_blue_hit</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{646,476}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{1,1373},{646,476}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>71.pvr.ccz</string>
            <key>size</key>
            <string>{1558,1850}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72c55a58108f58c11712e9a8ccba9d1e:f3979dc5cdf7040d4b0cdc454aba5bac:6b21bdbdc796875139146aed8fd5a4c5$</string>
            <key>textureFileName</key>
            <string>71.pvr.ccz</string>
        </dict>
    </dict>
</plist>
