<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>raid_boss_witch_30_body</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-15,13}</string>
			<key>spriteSize</key>
			<string>{664,438}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{1223,1},{664,438}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>raid_boss_witch_30_head</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-33,-10}</string>
			<key>spriteSize</key>
			<string>{236,238}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{1271,1321},{236,238}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raid_boss_witch_30_light</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{40,-22}</string>
			<key>spriteSize</key>
			<string>{92,88}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{1271,1561},{92,88}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>raid_boss_witch_att1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-11,6}</string>
			<key>spriteSize</key>
			<string>{652,452}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{1201,667},{652,452}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>raid_boss_witch_att11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-78,-54}</string>
			<key>spriteSize</key>
			<string>{546,350}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{483,1305},{546,350}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raid_boss_witch_att1_effect</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{800,480}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{1,1},{800,480}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>raid_boss_witch_att2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,25}</string>
			<key>spriteSize</key>
			<string>{716,430}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{483,433},{716,430}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raid_boss_witch_att2_effect</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{800,480}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{1,803},{800,480}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>raid_boss_witch_body</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-15,13}</string>
			<key>spriteSize</key>
			<string>{664,438}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{483,865},{664,438}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raid_boss_witch_head</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-33,-10}</string>
			<key>spriteSize</key>
			<string>{238,238}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{1031,1399},{238,238}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raid_boss_witch_hit</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-13,25}</string>
			<key>spriteSize</key>
			<string>{738,430}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{483,1},{738,430}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raid_boss_witch_light</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{39,-21}</string>
			<key>spriteSize</key>
			<string>{94,92}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{1031,1305},{94,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>72.pvr.ccz</string>
		<key>size</key>
		<string>{1662,1656}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d63884a269d1fb3094f08a3a92269b31:c1ca85ef22c8cddb8ed8b6bf6695c44a:8d81accd7b24f147eca795ad0d090037$</string>
		<key>textureFileName</key>
		<string>72.pvr.ccz</string>
	</dict>
</dict>
</plist>
