<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>raid_boss_pup_30_body</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{47,20}</string>
			<key>spriteSize</key>
			<string>{400,436}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{569,771},{400,436}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>raid_boss_pup_30_tail</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-127,10}</string>
			<key>spriteSize</key>
			<string>{298,282}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{1,787},{298,282}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>raid_boss_pup_att1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{15,20}</string>
			<key>spriteSize</key>
			<string>{556,440}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{1447,497},{556,440}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>raid_boss_pup_att1_effect</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,0}</string>
			<key>spriteSize</key>
			<string>{784,480}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{1,1},{784,480}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>raid_boss_pup_att2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,0}</string>
			<key>spriteSize</key>
			<string>{768,480}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{483,1},{768,480}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>raid_boss_pup_att2_effect</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{80,0}</string>
			<key>spriteSize</key>
			<string>{640,480}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{965,1},{640,480}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>raid_boss_pup_body</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{42,20}</string>
			<key>spriteSize</key>
			<string>{410,436}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{1007,643},{410,436}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>raid_boss_pup_hit</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-14,7}</string>
			<key>spriteSize</key>
			<string>{494,446}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{1447,1},{494,446}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>raid_boss_pup_tail</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-127,10}</string>
			<key>spriteSize</key>
			<string>{298,282}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{285,787},{298,282}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>73.pvr.ccz</string>
		<key>size</key>
		<string>{1894,1172}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:4e4e4b2a4cbc3dabf5787f8d166d6a8d:4d8ca089349b135cfe4585a3a44a82dd:df994b8e75102bb1250262d3e744649c$</string>
		<key>textureFileName</key>
		<string>73.pvr.ccz</string>
	</dict>
</dict>
</plist>
