<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster/77/1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-17}</string>
                <key>spriteSize</key>
                <string>{238,219}</string>
                <key>spriteSourceSize</key>
                <string>{300,265}</string>
                <key>textureRect</key>
                <string>{{257,1},{238,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/77/2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-15}</string>
                <key>spriteSize</key>
                <string>{254,229}</string>
                <key>spriteSourceSize</key>
                <string>{300,265}</string>
                <key>textureRect</key>
                <string>{{1,1},{254,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/77/at</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,4}</string>
                <key>spriteSize</key>
                <string>{234,231}</string>
                <key>spriteSourceSize</key>
                <string>{300,265}</string>
                <key>textureRect</key>
                <string>{{497,1},{234,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/77/at2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,4}</string>
                <key>spriteSize</key>
                <string>{234,231}</string>
                <key>spriteSourceSize</key>
                <string>{300,265}</string>
                <key>textureRect</key>
                <string>{{497,1},{234,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>77.pvr.ccz</string>
            <key>size</key>
            <string>{732,233}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51be5fc8fa477a2aa9a36b3344fdb3a0:7e9087d336d9f3a26a3c2f235e4a9c65:3f5ba027f843d50d10855cd8fc33441d$</string>
            <key>textureFileName</key>
            <string>77.pvr.ccz</string>
        </dict>
    </dict>
</plist>
