<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{14,-15}</string>
			<key>spriteSize</key>
			<string>{202,211}</string>
			<key>spriteSourceSize</key>
			<string>{300,265}</string>
			<key>textureRect</key>
			<string>{{275,282},{202,211}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{14,-4}</string>
			<key>spriteSize</key>
			<string>{272,235}</string>
			<key>spriteSourceSize</key>
			<string>{300,265}</string>
			<key>textureRect</key>
			<string>{{1,282},{272,235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>at</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{150,133}</string>
			<key>spriteSourceSize</key>
			<string>{150,133}</string>
			<key>textureRect</key>
			<string>{{320,1},{150,133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{317,279}</string>
			<key>spriteSourceSize</key>
			<string>{317,279}</string>
			<key>textureRect</key>
			<string>{{1,1},{317,279}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>9.pvr.ccz</string>
		<key>size</key>
		<string>{478,518}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:0aa3b991c273fc026cc6c0a154363504:2c91f85735c941b1da44fe4c05991fa0:4236ac0434d43ef96883e176a733f56a$</string>
		<key>textureFileName</key>
		<string>9.pvr.ccz</string>
	</dict>
</dict>
</plist>
