<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>frame</key>
			<string>{{1374,830},{341,274}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{341,274}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>01</key>
		<dict>
			<key>frame</key>
			<string>{{1031,1717},{341,274}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{341,274}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>02</key>
		<dict>
			<key>frame</key>
			<string>{{830,1374},{341,274}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{341,274}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>03</key>
		<dict>
			<key>frame</key>
			<string>{{830,1031},{341,274}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{341,274}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>04</key>
		<dict>
			<key>frame</key>
			<string>{{1717,688},{341,274}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{341,274}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>05</key>
		<dict>
			<key>frame</key>
			<string>{{1374,554},{341,274}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{341,274}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>06</key>
		<dict>
			<key>frame</key>
			<string>{{1031,554},{341,274}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{341,274}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>07</key>
		<dict>
			<key>frame</key>
			<string>{{688,1717},{341,274}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{341,274}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>08</key>
		<dict>
			<key>frame</key>
			<string>{{554,1374},{341,274}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{341,274}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>09</key>
		<dict>
			<key>frame</key>
			<string>{{554,1031},{341,274}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{341,274}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>10</key>
		<dict>
			<key>frame</key>
			<string>{{554,688},{341,274}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{341,274}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>11</key>
		<dict>
			<key>frame</key>
			<string>{{1717,345},{341,274}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{341,274}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>12</key>
		<dict>
			<key>frame</key>
			<string>{{1374,278},{341,274}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{341,274}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>13</key>
		<dict>
			<key>frame</key>
			<string>{{1031,278},{341,274}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{341,274}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>14</key>
		<dict>
			<key>frame</key>
			<string>{{688,278},{341,274}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{341,274}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>15</key>
		<dict>
			<key>frame</key>
			<string>{{345,1717},{341,274}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{341,274}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>16</key>
		<dict>
			<key>frame</key>
			<string>{{278,1374},{341,274}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{341,274}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>17</key>
		<dict>
			<key>frame</key>
			<string>{{278,1031},{341,274}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{341,274}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>18</key>
		<dict>
			<key>frame</key>
			<string>{{278,688},{341,274}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{341,274}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>19</key>
		<dict>
			<key>frame</key>
			<string>{{278,345},{341,274}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{341,274}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>20</key>
		<dict>
			<key>frame</key>
			<string>{{2,1717},{341,274}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{341,274}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>21</key>
		<dict>
			<key>frame</key>
			<string>{{2,1374},{341,274}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{341,274}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>22</key>
		<dict>
			<key>frame</key>
			<string>{{2,1031},{341,274}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{341,274}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>23</key>
		<dict>
			<key>frame</key>
			<string>{{2,688},{341,274}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{341,274}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>24</key>
		<dict>
			<key>frame</key>
			<string>{{2,345},{341,274}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{341,274}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>25</key>
		<dict>
			<key>frame</key>
			<string>{{1717,2},{341,274}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{341,274}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>26</key>
		<dict>
			<key>frame</key>
			<string>{{1374,2},{341,274}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{341,274}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>27</key>
		<dict>
			<key>frame</key>
			<string>{{1031,2},{341,274}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{341,274}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>28</key>
		<dict>
			<key>frame</key>
			<string>{{688,2},{341,274}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{341,274}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>29</key>
		<dict>
			<key>frame</key>
			<string>{{345,2},{341,274}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{341,274}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>30</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{341,274}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{341,274}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>back.pvr.ccz</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:00b3458afda747f66d58c1c40f941763:e77b24c3559457affbc011405725a8bf:43f3ab1da9ce7ff12a953bd181b43222$</string>
		<key>textureFileName</key>
		<string>back.pvr.ccz</string>
	</dict>
</dict>
</plist>
