<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>frame</key>
			<string>{{1752,289},{291,198}}</string>
			<key>offset</key>
			<string>{-11,-40}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,82},{291,198}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>01</key>
		<dict>
			<key>frame</key>
			<string>{{903,396},{289,198}}</string>
			<key>offset</key>
			<string>{-11,-40}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,82},{289,198}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>02</key>
		<dict>
			<key>frame</key>
			<string>{{578,198},{287,196}}</string>
			<key>offset</key>
			<string>{-11,-40}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,83},{287,196}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>03</key>
		<dict>
			<key>frame</key>
			<string>{{291,198},{285,196}}</string>
			<key>offset</key>
			<string>{-11,-40}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,83},{285,196}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>04</key>
		<dict>
			<key>frame</key>
			<string>{{1770,2},{285,196}}</string>
			<key>offset</key>
			<string>{-11,-40}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,83},{285,196}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>05</key>
		<dict>
			<key>frame</key>
			<string>{{2,198},{287,196}}</string>
			<key>offset</key>
			<string>{-11,-40}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,83},{287,196}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>06</key>
		<dict>
			<key>frame</key>
			<string>{{867,198},{289,196}}</string>
			<key>offset</key>
			<string>{-10,-40}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,83},{289,196}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>07</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{289,194}}</string>
			<key>offset</key>
			<string>{-10,-40}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,84},{289,194}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>08</key>
		<dict>
			<key>frame</key>
			<string>{{293,2},{291,194}}</string>
			<key>offset</key>
			<string>{-10,-40}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,84},{291,194}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>09</key>
		<dict>
			<key>frame</key>
			<string>{{881,2},{293,194}}</string>
			<key>offset</key>
			<string>{-10,-39}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,83},{293,194}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>10</key>
		<dict>
			<key>frame</key>
			<string>{{1158,198},{293,196}}</string>
			<key>offset</key>
			<string>{-10,-38}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,81},{293,196}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>11</key>
		<dict>
			<key>frame</key>
			<string>{{586,2},{293,194}}</string>
			<key>offset</key>
			<string>{-9,-38}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,82},{293,194}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>12</key>
		<dict>
			<key>frame</key>
			<string>{{1473,2},{295,194}}</string>
			<key>offset</key>
			<string>{-9,-38}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,82},{295,194}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>13</key>
		<dict>
			<key>frame</key>
			<string>{{1176,2},{295,194}}</string>
			<key>offset</key>
			<string>{-9,-38}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,82},{295,194}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>14</key>
		<dict>
			<key>frame</key>
			<string>{{2,396},{297,196}}</string>
			<key>offset</key>
			<string>{-9,-37}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,80},{297,196}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>15</key>
		<dict>
			<key>frame</key>
			<string>{{1453,198},{297,196}}</string>
			<key>offset</key>
			<string>{-9,-37}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,80},{297,196}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>16</key>
		<dict>
			<key>frame</key>
			<string>{{602,396},{299,196}}</string>
			<key>offset</key>
			<string>{-9,-37}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,80},{299,196}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>17</key>
		<dict>
			<key>frame</key>
			<string>{{301,396},{299,196}}</string>
			<key>offset</key>
			<string>{-8,-37}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,80},{299,196}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>18</key>
		<dict>
			<key>frame</key>
			<string>{{1194,396},{301,198}}</string>
			<key>offset</key>
			<string>{-9,-36}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,78},{301,198}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>19</key>
		<dict>
			<key>frame</key>
			<string>{{2,594},{301,200}}</string>
			<key>offset</key>
			<string>{-9,-36}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,77},{301,200}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>20</key>
		<dict>
			<key>frame</key>
			<string>{{1699,489},{301,200}}</string>
			<key>offset</key>
			<string>{-9,-37}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,78},{301,200}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>21</key>
		<dict>
			<key>frame</key>
			<string>{{2,796},{301,202}}</string>
			<key>offset</key>
			<string>{-9,-37}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,77},{301,202}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>22</key>
		<dict>
			<key>frame</key>
			<string>{{606,798},{299,202}}</string>
			<key>offset</key>
			<string>{-9,-37}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,77},{299,202}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>23</key>
		<dict>
			<key>frame</key>
			<string>{{305,796},{299,202}}</string>
			<key>offset</key>
			<string>{-10,-37}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,77},{299,202}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>24</key>
		<dict>
			<key>frame</key>
			<string>{{903,596},{297,200}}</string>
			<key>offset</key>
			<string>{-9,-38}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,79},{297,200}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>25</key>
		<dict>
			<key>frame</key>
			<string>{{604,594},{297,200}}</string>
			<key>offset</key>
			<string>{-10,-38}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,79},{297,200}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>26</key>
		<dict>
			<key>frame</key>
			<string>{{305,594},{297,200}}</string>
			<key>offset</key>
			<string>{-10,-39}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,80},{297,200}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>27</key>
		<dict>
			<key>frame</key>
			<string>{{1497,691},{295,200}}</string>
			<key>offset</key>
			<string>{-10,-39}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,80},{295,200}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>28</key>
		<dict>
			<key>frame</key>
			<string>{{1794,691},{293,200}}</string>
			<key>offset</key>
			<string>{-10,-40}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,81},{293,200}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>29</key>
		<dict>
			<key>frame</key>
			<string>{{1202,596},{293,200}}</string>
			<key>offset</key>
			<string>{-10,-40}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,81},{293,200}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
		<key>30</key>
		<dict>
			<key>frame</key>
			<string>{{1497,396},{291,200}}</string>
			<key>offset</key>
			<string>{-10,-40}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,81},{291,200}}</string>
			<key>sourceSize</key>
			<string>{341,282}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>front.pvr.ccz</string>
		<key>size</key>
		<string>{2048,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:f738fb3298318bc1cbbf4e530c76df85:50894f45b69e6d5db4290641b3cbca67:0e4b35eee275cb82d555f86fb01ac2ee$</string>
		<key>textureFileName</key>
		<string>front.pvr.ccz</string>
	</dict>
</dict>
</plist>
