<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/58/effect/col_action3/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{244,175}</string>
                <key>spriteSourceSize</key>
                <string>{244,199}</string>
                <key>textureRect</key>
                <string>{{493,985},{244,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/58/effect/col_action3/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{244,177}</string>
                <key>spriteSourceSize</key>
                <string>{244,199}</string>
                <key>textureRect</key>
                <string>{{1,985},{244,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/58/effect/col_action3/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{244,177}</string>
                <key>spriteSourceSize</key>
                <string>{244,199}</string>
                <key>textureRect</key>
                <string>{{247,985},{244,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/58/effect/col_action3/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{244,197}</string>
                <key>spriteSourceSize</key>
                <string>{244,199}</string>
                <key>textureRect</key>
                <string>{{1654,895},{244,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/58/effect/col_action3/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,199}</string>
                <key>spriteSourceSize</key>
                <string>{244,199}</string>
                <key>textureRect</key>
                <string>{{1,1},{244,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/58/effect/col_action3/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,199}</string>
                <key>spriteSourceSize</key>
                <string>{244,199}</string>
                <key>textureRect</key>
                <string>{{1,247},{244,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/58/effect/col_action3/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,199}</string>
                <key>spriteSourceSize</key>
                <string>{244,199}</string>
                <key>textureRect</key>
                <string>{{1,493},{244,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/58/effect/col_action3/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,199}</string>
                <key>spriteSourceSize</key>
                <string>{244,199}</string>
                <key>textureRect</key>
                <string>{{1,739},{244,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/58/effect/col_action3/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,199}</string>
                <key>spriteSourceSize</key>
                <string>{244,199}</string>
                <key>textureRect</key>
                <string>{{202,1},{244,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/58/effect/col_action3/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,199}</string>
                <key>spriteSourceSize</key>
                <string>{244,199}</string>
                <key>textureRect</key>
                <string>{{202,247},{244,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/58/effect/col_action3/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,199}</string>
                <key>spriteSourceSize</key>
                <string>{244,199}</string>
                <key>textureRect</key>
                <string>{{202,493},{244,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/58/effect/col_action3/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,199}</string>
                <key>spriteSourceSize</key>
                <string>{244,199}</string>
                <key>textureRect</key>
                <string>{{202,739},{244,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/58/effect/col_action3/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,199}</string>
                <key>spriteSourceSize</key>
                <string>{244,199}</string>
                <key>textureRect</key>
                <string>{{403,1},{244,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/58/effect/col_action3/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,199}</string>
                <key>spriteSourceSize</key>
                <string>{244,199}</string>
                <key>textureRect</key>
                <string>{{403,247},{244,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/58/effect/col_action3/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,199}</string>
                <key>spriteSourceSize</key>
                <string>{244,199}</string>
                <key>textureRect</key>
                <string>{{403,493},{244,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/58/effect/col_action3/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,199}</string>
                <key>spriteSourceSize</key>
                <string>{244,199}</string>
                <key>textureRect</key>
                <string>{{403,739},{244,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/58/effect/col_action3/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,199}</string>
                <key>spriteSourceSize</key>
                <string>{244,199}</string>
                <key>textureRect</key>
                <string>{{604,1},{244,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/58/effect/col_action3/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,199}</string>
                <key>spriteSourceSize</key>
                <string>{244,199}</string>
                <key>textureRect</key>
                <string>{{604,247},{244,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/58/effect/col_action3/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,199}</string>
                <key>spriteSourceSize</key>
                <string>{244,199}</string>
                <key>textureRect</key>
                <string>{{604,493},{244,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/58/effect/col_action3/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,199}</string>
                <key>spriteSourceSize</key>
                <string>{244,199}</string>
                <key>textureRect</key>
                <string>{{604,739},{244,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/58/effect/col_action3/20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,199}</string>
                <key>spriteSourceSize</key>
                <string>{244,199}</string>
                <key>textureRect</key>
                <string>{{805,1},{244,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/58/effect/col_action3/21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,199}</string>
                <key>spriteSourceSize</key>
                <string>{244,199}</string>
                <key>textureRect</key>
                <string>{{805,247},{244,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/58/effect/col_action3/22</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,199}</string>
                <key>spriteSourceSize</key>
                <string>{244,199}</string>
                <key>textureRect</key>
                <string>{{805,493},{244,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/58/effect/col_action3/23</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,199}</string>
                <key>spriteSourceSize</key>
                <string>{244,199}</string>
                <key>textureRect</key>
                <string>{{805,739},{244,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/58/effect/col_action3/24</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,199}</string>
                <key>spriteSourceSize</key>
                <string>{244,199}</string>
                <key>textureRect</key>
                <string>{{1006,1},{244,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/58/effect/col_action3/25</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,199}</string>
                <key>spriteSourceSize</key>
                <string>{244,199}</string>
                <key>textureRect</key>
                <string>{{1252,1},{244,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/58/effect/col_action3/26</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,199}</string>
                <key>spriteSourceSize</key>
                <string>{244,199}</string>
                <key>textureRect</key>
                <string>{{1498,1},{244,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/58/effect/col_action3/27</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,199}</string>
                <key>spriteSourceSize</key>
                <string>{244,199}</string>
                <key>textureRect</key>
                <string>{{1006,202},{244,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/58/effect/col_action3/28</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,199}</string>
                <key>spriteSourceSize</key>
                <string>{244,199}</string>
                <key>textureRect</key>
                <string>{{1252,202},{244,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/58/effect/col_action3/29</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,199}</string>
                <key>spriteSourceSize</key>
                <string>{244,199}</string>
                <key>textureRect</key>
                <string>{{1498,202},{244,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/58/effect/col_action3/30</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,199}</string>
                <key>spriteSourceSize</key>
                <string>{244,199}</string>
                <key>textureRect</key>
                <string>{{1006,403},{244,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/58/effect/col_action3/31</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,199}</string>
                <key>spriteSourceSize</key>
                <string>{244,199}</string>
                <key>textureRect</key>
                <string>{{1006,649},{244,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/58/effect/col_action3/32</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,199}</string>
                <key>spriteSourceSize</key>
                <string>{244,199}</string>
                <key>textureRect</key>
                <string>{{1006,895},{244,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/58/effect/col_action3/33</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,199}</string>
                <key>spriteSourceSize</key>
                <string>{244,199}</string>
                <key>textureRect</key>
                <string>{{1207,403},{244,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/58/effect/col_action3/34</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,199}</string>
                <key>spriteSourceSize</key>
                <string>{244,199}</string>
                <key>textureRect</key>
                <string>{{1453,403},{244,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/58/effect/col_action3/35</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,199}</string>
                <key>spriteSourceSize</key>
                <string>{244,199}</string>
                <key>textureRect</key>
                <string>{{1699,403},{244,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/58/effect/col_action3/36</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,199}</string>
                <key>spriteSourceSize</key>
                <string>{244,199}</string>
                <key>textureRect</key>
                <string>{{1207,604},{244,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/58/effect/col_action3/37</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,199}</string>
                <key>spriteSourceSize</key>
                <string>{244,199}</string>
                <key>textureRect</key>
                <string>{{1453,604},{244,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/58/effect/col_action3/38</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,199}</string>
                <key>spriteSourceSize</key>
                <string>{244,199}</string>
                <key>textureRect</key>
                <string>{{1699,649},{244,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/58/effect/col_action3/39</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,199}</string>
                <key>spriteSourceSize</key>
                <string>{244,199}</string>
                <key>textureRect</key>
                <string>{{1207,805},{244,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/58/effect/col_action3/40</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,199}</string>
                <key>spriteSourceSize</key>
                <string>{244,199}</string>
                <key>textureRect</key>
                <string>{{1408,805},{244,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/58/effect/col_action3/41</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-34}</string>
                <key>spriteSize</key>
                <string>{244,131}</string>
                <key>spriteSourceSize</key>
                <string>{244,199}</string>
                <key>textureRect</key>
                <string>{{739,985},{244,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action30.pvr.ccz</string>
            <key>size</key>
            <string>{1899,1163}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eef4c76a181da674d7efa393730a912f:dc70b147fa46ed51c4e0ed28d6b5c3b0:e44ba353004d0fd8b165f5c6960cb7e8$</string>
            <key>textureFileName</key>
            <string>col_action30.pvr.ccz</string>
        </dict>
    </dict>
</plist>
