<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/adventure/AdventurePopup/AdventureMain/Adventure_Disable_Text</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,25}</string>
                <key>spriteSourceSize</key>
                <string>{41,27}</string>
                <key>textureRect</key>
                <string>{{911,1190},{39,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/AdventurePopup/AdventureMain/Adventure_Disable_Text_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,21}</string>
                <key>spriteSourceSize</key>
                <string>{120,23}</string>
                <key>textureRect</key>
                <string>{{791,1206},{118,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/AdventurePopup/AdventureMain/Adventure_Enable_Text</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,25}</string>
                <key>spriteSourceSize</key>
                <string>{41,27}</string>
                <key>textureRect</key>
                <string>{{952,1184},{39,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/AdventurePopup/AdventureMain/Adventure_Enable_Text_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,21}</string>
                <key>spriteSourceSize</key>
                <string>{120,23}</string>
                <key>textureRect</key>
                <string>{{984,860},{118,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/adventure/AdventurePopup/AdventureMain/ArchaBackImage</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,56}</string>
                <key>spriteSize</key>
                <string>{488,287}</string>
                <key>spriteSourceSize</key>
                <string>{488,399}</string>
                <key>textureRect</key>
                <string>{{1,423},{488,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/AdventurePopup/AdventureMain/AutoAdventure_Disable_Text</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,24}</string>
                <key>spriteSourceSize</key>
                <string>{80,26}</string>
                <key>textureRect</key>
                <string>{{895,1110},{78,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/adventure/AdventurePopup/AdventureMain/AutoAdventure_Disable_Text_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,32}</string>
                <key>spriteSourceSize</key>
                <string>{89,34}</string>
                <key>textureRect</key>
                <string>{{981,579},{87,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/adventure/AdventurePopup/AdventureMain/AutoAdventure_Enable_Text</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,24}</string>
                <key>spriteSourceSize</key>
                <string>{80,26}</string>
                <key>textureRect</key>
                <string>{{921,1094},{78,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/adventure/AdventurePopup/AdventureMain/AutoAdventure_Enable_Text_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,32}</string>
                <key>spriteSourceSize</key>
                <string>{89,34}</string>
                <key>textureRect</key>
                <string>{{981,668},{87,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/adventure/AdventurePopup/AdventureMain/BackPannel</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{508,420}</string>
                <key>spriteSourceSize</key>
                <string>{512,424}</string>
                <key>textureRect</key>
                <string>{{1,1},{508,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/AdventurePopup/AdventureMain/BigButton_Disable</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,43}</string>
                <key>spriteSourceSize</key>
                <string>{159,43}</string>
                <key>textureRect</key>
                <string>{{761,969},{159,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/AdventurePopup/AdventureMain/BigButton_Enable</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,43}</string>
                <key>spriteSourceSize</key>
                <string>{159,43}</string>
                <key>textureRect</key>
                <string>{{761,1014},{159,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/AdventurePopup/AdventureMain/Conquest_Disable_Text</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,26}</string>
                <key>spriteSourceSize</key>
                <string>{103,28}</string>
                <key>textureRect</key>
                <string>{{981,757},{101,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/adventure/AdventurePopup/AdventureMain/Conquest_Disable_Text_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,17}</string>
                <key>spriteSourceSize</key>
                <string>{149,19}</string>
                <key>textureRect</key>
                <string>{{491,423},{147,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/adventure/AdventurePopup/AdventureMain/Conquest_Enable_Text</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,26}</string>
                <key>spriteSourceSize</key>
                <string>{103,28}</string>
                <key>textureRect</key>
                <string>{{967,981},{101,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/adventure/AdventurePopup/AdventureMain/Conquest_Enable_Text_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,17}</string>
                <key>spriteSourceSize</key>
                <string>{149,19}</string>
                <key>textureRect</key>
                <string>{{761,1091},{147,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/AdventurePopup/AdventureMain/DreamLandBackImage</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,56}</string>
                <key>spriteSize</key>
                <string>{488,287}</string>
                <key>spriteSourceSize</key>
                <string>{488,399}</string>
                <key>textureRect</key>
                <string>{{511,1},{488,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/AdventurePopup/AdventureMain/DungeonBackImage</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,56}</string>
                <key>spriteSize</key>
                <string>{488,287}</string>
                <key>spriteSourceSize</key>
                <string>{488,399}</string>
                <key>textureRect</key>
                <string>{{1,712},{488,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/AdventurePopup/AdventureMain/EstellaBackImage</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,88}</string>
                <key>spriteSize</key>
                <string>{488,223}</string>
                <key>spriteSourceSize</key>
                <string>{488,399}</string>
                <key>textureRect</key>
                <string>{{1,1001},{488,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/AdventurePopup/AdventureMain/ItemPannel</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{446,99}</string>
                <key>spriteSourceSize</key>
                <string>{450,103}</string>
                <key>textureRect</key>
                <string>{{491,868},{446,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/AdventurePopup/AdventureMain/MonsterPannel</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,164}</string>
                <key>spriteSourceSize</key>
                <string>{272,168}</string>
                <key>textureRect</key>
                <string>{{491,969},{268,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/AdventurePopup/AdventureMain/NameTitle</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,30}</string>
                <key>spriteSourceSize</key>
                <string>{140,34}</string>
                <key>textureRect</key>
                <string>{{761,1059},{136,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/AdventurePopup/AdventureMain/OptionButtonDisable</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{947,1094},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/AdventurePopup/AdventureMain/OptionButtonEnable</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{947,1139},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/AdventurePopup/AdventureMain/PopupLine</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,6}</string>
                <key>spriteSourceSize</key>
                <string>{371,6}</string>
                <key>textureRect</key>
                <string>{{1001,1},{371,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/adventure/AdventurePopup/AdventureMain/SkyBackImage</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,56}</string>
                <key>spriteSize</key>
                <string>{488,287}</string>
                <key>spriteSourceSize</key>
                <string>{488,399}</string>
                <key>textureRect</key>
                <string>{{511,290},{488,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/AdventurePopup/AdventureMain/SmallButtonDisable</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,43}</string>
                <key>spriteSourceSize</key>
                <string>{111,43}</string>
                <key>textureRect</key>
                <string>{{939,868},{111,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/adventure/AdventurePopup/AdventureMain/SmallButtonEnable</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,43}</string>
                <key>spriteSourceSize</key>
                <string>{111,43}</string>
                <key>textureRect</key>
                <string>{{922,981},{111,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/adventure/AdventurePopup/AdventureMain/TotalItem_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{98,92}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{491,1135},{98,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/AdventurePopup/AdventureMain/TotalItem_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{98,92}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{591,1135},{98,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/AdventurePopup/AdventureMain/TotalItem_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{98,92}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{691,1135},{98,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/AdventurePopup/AdventureMain/TotalItem_4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{102,94}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{791,1110},{102,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/AdventurePopup/AdventureMain/UtakanBackImage</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,56}</string>
                <key>spriteSize</key>
                <string>{488,287}</string>
                <key>spriteSourceSize</key>
                <string>{488,399}</string>
                <key>textureRect</key>
                <string>{{491,579},{488,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>AdventureMain.pvr.ccz</string>
            <key>size</key>
            <string>{1014,1228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ed514546a7a23bd7d163f62ff1565b4:ef74c0c40098fcb6577b6d2f3b4115e7:cc2dffe37ddedff14a4b421a570d177c$</string>
            <key>textureFileName</key>
            <string>AdventureMain.pvr.ccz</string>
        </dict>
    </dict>
</plist>
