<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/adventure/AdventurePopup/AdventureOption/AutoOptionText</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,33}</string>
                <key>spriteSourceSize</key>
                <string>{215,35}</string>
                <key>textureRect</key>
                <string>{{418,347},{213,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/adventure/AdventurePopup/AdventureOption/AutoOptionText_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,36}</string>
                <key>spriteSourceSize</key>
                <string>{307,38}</string>
                <key>textureRect</key>
                <string>{{39,537},{305,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/AdventurePopup/AdventureOption/BackPannel</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{415,393}</string>
                <key>spriteSourceSize</key>
                <string>{419,397}</string>
                <key>textureRect</key>
                <string>{{1,1},{415,393}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/AdventurePopup/AdventureOption/CheckBox</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{453,523},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/AdventurePopup/AdventureOption/DragonPannel</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,82}</string>
                <key>spriteSourceSize</key>
                <string>{348,86}</string>
                <key>textureRect</key>
                <string>{{418,1},{344,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/adventure/AdventurePopup/AdventureOption/DragonTitle</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,36}</string>
                <key>spriteSourceSize</key>
                <string>{171,40}</string>
                <key>textureRect</key>
                <string>{{1,396},{167,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/adventure/AdventurePopup/AdventureOption/OptionPannel</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,139}</string>
                <key>spriteSourceSize</key>
                <string>{348,143}</string>
                <key>textureRect</key>
                <string>{{39,396},{344,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/AdventurePopup/AdventureOption/QuestionBox</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{453,548},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/AdventurePopup/AdventureOption/SaveButton</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,45}</string>
                <key>spriteSourceSize</key>
                <string>{151,47}</string>
                <key>textureRect</key>
                <string>{{453,347},{149,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/adventure/AdventurePopup/AdventureOption/SaveText</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,23}</string>
                <key>spriteSourceSize</key>
                <string>{42,25}</string>
                <key>textureRect</key>
                <string>{{453,498},{40,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/AdventurePopup/AdventureOption/SaveText_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,19}</string>
                <key>spriteSourceSize</key>
                <string>{53,21}</string>
                <key>textureRect</key>
                <string>{{385,396},{51,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>AdventureOption.pvr.ccz</string>
            <key>size</key>
            <string>{501,574}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74387f20b36d03fb77386da2fe06a558:c842b9e5d4fb16bf595572d3c4bd25cd:4f477b65c2b7a8ce711867081c864dc8$</string>
            <key>textureFileName</key>
            <string>AdventureOption.pvr.ccz</string>
        </dict>
    </dict>
</plist>
