<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-88.5,118.5}</string>
			<key>spriteSize</key>
			<string>{3,3}</string>
			<key>spriteSourceSize</key>
			<string>{180,240}</string>
			<key>textureRect</key>
			<string>{{361,1},{3,3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,81}</string>
			<key>spriteSize</key>
			<string>{64,78}</string>
			<key>spriteSourceSize</key>
			<string>{180,240}</string>
			<key>textureRect</key>
			<string>{{299,297},{64,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,8}</string>
			<key>spriteSize</key>
			<string>{132,156}</string>
			<key>spriteSourceSize</key>
			<string>{180,240}</string>
			<key>textureRect</key>
			<string>{{165,297},{132,156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,7}</string>
			<key>spriteSize</key>
			<string>{132,156}</string>
			<key>spriteSourceSize</key>
			<string>{180,240}</string>
			<key>textureRect</key>
			<string>{{1,329},{132,156}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{152,168}</string>
			<key>spriteSourceSize</key>
			<string>{180,240}</string>
			<key>textureRect</key>
			<string>{{191,1},{152,168}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-19}</string>
			<key>spriteSize</key>
			<string>{162,144}</string>
			<key>spriteSourceSize</key>
			<string>{180,240}</string>
			<key>textureRect</key>
			<string>{{1,183},{162,144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-4}</string>
			<key>spriteSize</key>
			<string>{140,174}</string>
			<key>spriteSourceSize</key>
			<string>{180,240}</string>
			<key>textureRect</key>
			<string>{{191,155},{140,174}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-18}</string>
			<key>spriteSize</key>
			<string>{180,188}</string>
			<key>spriteSourceSize</key>
			<string>{180,240}</string>
			<key>textureRect</key>
			<string>{{1,1},{180,188}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action10.pvr.ccz</string>
		<key>size</key>
		<string>{366,462}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:cece8c4827232e7c52c3a80141dffe85:6ae2bcb07ab818d6933f585965ca8ebd:fd6dfe3ee94267230ed6425290acf6b5$</string>
		<key>textureFileName</key>
		<string>col_action10.pvr.ccz</string>
	</dict>
</dict>
</plist>
