<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3216/effect/col_action2/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-121,22}</string>
                <key>spriteSize</key>
                <string>{69,197}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{1,874},{69,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3216/effect/col_action2/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-121,21}</string>
                <key>spriteSize</key>
                <string>{111,199}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{204,512},{111,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3216/effect/col_action2/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-122,21}</string>
                <key>spriteSize</key>
                <string>{157,199}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{204,194},{157,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3216/effect/col_action2/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-122,21}</string>
                <key>spriteSize</key>
                <string>{157,199}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{204,353},{157,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3216/effect/col_action2/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-112,20}</string>
                <key>spriteSize</key>
                <string>{177,201}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{1,174},{177,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3216/effect/col_action2/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-112,20}</string>
                <key>spriteSize</key>
                <string>{177,201}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{1,353},{177,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3216/effect/col_action2/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-115,14}</string>
                <key>spriteSize</key>
                <string>{171,213}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{1,1},{171,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3216/effect/col_action2/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-107,25}</string>
                <key>spriteSize</key>
                <string>{187,191}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{216,1},{187,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3216/effect/col_action2/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-103,22}</string>
                <key>spriteSize</key>
                <string>{195,197}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{1,532},{195,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3216/effect/col_action2/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-119,22}</string>
                <key>spriteSize</key>
                <string>{143,197}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{200,625},{143,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3216/effect/col_action2/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-119,22}</string>
                <key>spriteSize</key>
                <string>{143,197}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{1,729},{143,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3216/effect/col_action2/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-119,22}</string>
                <key>spriteSize</key>
                <string>{143,197}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{200,770},{143,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action20.pvr.ccz</string>
            <key>size</key>
            <string>{404,944}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8ddeab2097384143ff5da01c58663d1:83de1128e0ea895495be775df84248d4:98ec4b5f3da3b367b0df440471cccb39$</string>
            <key>textureFileName</key>
            <string>col_action20.pvr.ccz</string>
        </dict>
    </dict>
</plist>
