<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>adv_action1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{200,120}</string>
			<key>spriteSourceSize</key>
			<string>{200,120}</string>
			<key>textureRect</key>
			<string>{{1,168},{200,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adv_action2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{200,120}</string>
			<key>spriteSourceSize</key>
			<string>{200,120}</string>
			<key>textureRect</key>
			<string>{{203,194},{200,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>col_action1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,-2}</string>
			<key>spriteSize</key>
			<string>{242,165}</string>
			<key>spriteSourceSize</key>
			<string>{264,169}</string>
			<key>textureRect</key>
			<string>{{1,1},{242,165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>col_action2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-2}</string>
			<key>spriteSize</key>
			<string>{205,191}</string>
			<key>spriteSourceSize</key>
			<string>{235,195}</string>
			<key>textureRect</key>
			<string>{{245,1},{205,191}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>effect.pvr.ccz</string>
		<key>size</key>
		<string>{451,315}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:452355f67850bd1675e1bbecb92a217c:7dcd9218319d5a1d1b539c75576af3c3:e0fdcd92bbdb8ab6858982d39ba3f2d9$</string>
		<key>textureFileName</key>
		<string>effect.pvr.ccz</string>
	</dict>
</dict>
</plist>
