<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-21,-42}</string>
			<key>spriteSize</key>
			<string>{62,64}</string>
			<key>spriteSourceSize</key>
			<string>{236,216}</string>
			<key>textureRect</key>
			<string>{{679,653},{62,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-27,-48}</string>
			<key>spriteSize</key>
			<string>{70,76}</string>
			<key>spriteSourceSize</key>
			<string>{236,216}</string>
			<key>textureRect</key>
			<string>{{859,977},{70,76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-47}</string>
			<key>spriteSize</key>
			<string>{116,86}</string>
			<key>spriteSourceSize</key>
			<string>{236,216}</string>
			<key>textureRect</key>
			<string>{{859,859},{116,86}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-48}</string>
			<key>spriteSize</key>
			<string>{202,96}</string>
			<key>spriteSourceSize</key>
			<string>{236,216}</string>
			<key>textureRect</key>
			<string>{{655,981},{202,96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-47}</string>
			<key>spriteSize</key>
			<string>{208,100}</string>
			<key>spriteSourceSize</key>
			<string>{236,216}</string>
			<key>textureRect</key>
			<string>{{859,649},{208,100}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-46}</string>
			<key>spriteSize</key>
			<string>{212,102}</string>
			<key>spriteSourceSize</key>
			<string>{236,216}</string>
			<key>textureRect</key>
			<string>{{753,1079},{212,102}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-46}</string>
			<key>spriteSize</key>
			<string>{212,102}</string>
			<key>spriteSourceSize</key>
			<string>{236,216}</string>
			<key>textureRect</key>
			<string>{{857,1079},{212,102}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-46}</string>
			<key>spriteSize</key>
			<string>{218,104}</string>
			<key>spriteSourceSize</key>
			<string>{236,216}</string>
			<key>textureRect</key>
			<string>{{729,431},{218,104}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-46}</string>
			<key>spriteSize</key>
			<string>{218,104}</string>
			<key>spriteSourceSize</key>
			<string>{236,216}</string>
			<key>textureRect</key>
			<string>{{835,429},{218,104}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-46}</string>
			<key>spriteSize</key>
			<string>{218,104}</string>
			<key>spriteSourceSize</key>
			<string>{236,216}</string>
			<key>textureRect</key>
			<string>{{435,761},{218,104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-46}</string>
			<key>spriteSize</key>
			<string>{218,104}</string>
			<key>spriteSourceSize</key>
			<string>{236,216}</string>
			<key>textureRect</key>
			<string>{{435,867},{218,104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-46}</string>
			<key>spriteSize</key>
			<string>{218,104}</string>
			<key>spriteSourceSize</key>
			<string>{236,216}</string>
			<key>textureRect</key>
			<string>{{435,973},{218,104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-46}</string>
			<key>spriteSize</key>
			<string>{218,104}</string>
			<key>spriteSourceSize</key>
			<string>{236,216}</string>
			<key>textureRect</key>
			<string>{{427,1079},{218,104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-45}</string>
			<key>spriteSize</key>
			<string>{218,106}</string>
			<key>spriteSourceSize</key>
			<string>{236,216}</string>
			<key>textureRect</key>
			<string>{{621,433},{218,106}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-46}</string>
			<key>spriteSize</key>
			<string>{218,104}</string>
			<key>spriteSourceSize</key>
			<string>{236,216}</string>
			<key>textureRect</key>
			<string>{{427,1185},{218,104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>15</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-46}</string>
			<key>spriteSize</key>
			<string>{218,104}</string>
			<key>spriteSourceSize</key>
			<string>{236,216}</string>
			<key>textureRect</key>
			<string>{{655,761},{218,104}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>16</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-45}</string>
			<key>spriteSize</key>
			<string>{218,106}</string>
			<key>spriteSourceSize</key>
			<string>{236,216}</string>
			<key>textureRect</key>
			<string>{{459,653},{218,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>17</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-46}</string>
			<key>spriteSize</key>
			<string>{218,104}</string>
			<key>spriteSourceSize</key>
			<string>{236,216}</string>
			<key>textureRect</key>
			<string>{{647,1079},{218,104}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>18</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-44}</string>
			<key>spriteSize</key>
			<string>{218,108}</string>
			<key>spriteSourceSize</key>
			<string>{236,216}</string>
			<key>textureRect</key>
			<string>{{813,209},{218,108}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>19</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-44}</string>
			<key>spriteSize</key>
			<string>{218,108}</string>
			<key>spriteSourceSize</key>
			<string>{236,216}</string>
			<key>textureRect</key>
			<string>{{239,631},{218,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>20</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,5}</string>
			<key>spriteSize</key>
			<string>{218,206}</string>
			<key>spriteSourceSize</key>
			<string>{236,216}</string>
			<key>textureRect</key>
			<string>{{1,649},{218,206}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>21</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,5}</string>
			<key>spriteSize</key>
			<string>{218,206}</string>
			<key>spriteSourceSize</key>
			<string>{236,216}</string>
			<key>textureRect</key>
			<string>{{239,423},{218,206}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>22</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,5}</string>
			<key>spriteSize</key>
			<string>{218,206}</string>
			<key>spriteSourceSize</key>
			<string>{236,216}</string>
			<key>textureRect</key>
			<string>{{697,1},{218,206}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>23</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,5}</string>
			<key>spriteSize</key>
			<string>{218,206}</string>
			<key>spriteSourceSize</key>
			<string>{236,216}</string>
			<key>textureRect</key>
			<string>{{1,857},{218,206}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>24</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,4}</string>
			<key>spriteSize</key>
			<string>{218,208}</string>
			<key>spriteSourceSize</key>
			<string>{236,216}</string>
			<key>textureRect</key>
			<string>{{239,213},{218,208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>25</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,4}</string>
			<key>spriteSize</key>
			<string>{218,208}</string>
			<key>spriteSourceSize</key>
			<string>{236,216}</string>
			<key>textureRect</key>
			<string>{{477,1},{218,208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>26</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-19}</string>
			<key>spriteSize</key>
			<string>{218,160}</string>
			<key>spriteSourceSize</key>
			<string>{236,216}</string>
			<key>textureRect</key>
			<string>{{459,433},{218,160}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>27</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-3}</string>
			<key>spriteSize</key>
			<string>{218,192}</string>
			<key>spriteSourceSize</key>
			<string>{236,216}</string>
			<key>textureRect</key>
			<string>{{1,1065},{218,192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>28</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-3}</string>
			<key>spriteSize</key>
			<string>{218,192}</string>
			<key>spriteSourceSize</key>
			<string>{236,216}</string>
			<key>textureRect</key>
			<string>{{459,213},{218,192}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>29</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{236,210}</string>
			<key>spriteSourceSize</key>
			<string>{236,216}</string>
			<key>textureRect</key>
			<string>{{239,1},{236,210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>30</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{236,210}</string>
			<key>spriteSourceSize</key>
			<string>{236,216}</string>
			<key>textureRect</key>
			<string>{{1,437},{236,210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>31</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{236,216}</string>
			<key>spriteSourceSize</key>
			<string>{236,216}</string>
			<key>textureRect</key>
			<string>{{1,1},{236,216}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>32</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{236,216}</string>
			<key>spriteSourceSize</key>
			<string>{236,216}</string>
			<key>textureRect</key>
			<string>{{1,219},{236,216}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>33</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-19}</string>
			<key>spriteSize</key>
			<string>{218,158}</string>
			<key>spriteSourceSize</key>
			<string>{236,216}</string>
			<key>textureRect</key>
			<string>{{653,211},{218,158}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>34</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-18}</string>
			<key>spriteSize</key>
			<string>{212,158}</string>
			<key>spriteSourceSize</key>
			<string>{236,216}</string>
			<key>textureRect</key>
			<string>{{221,741},{212,158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>35</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-18}</string>
			<key>spriteSize</key>
			<string>{212,158}</string>
			<key>spriteSourceSize</key>
			<string>{236,216}</string>
			<key>textureRect</key>
			<string>{{221,901},{212,158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>36</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-18}</string>
			<key>spriteSize</key>
			<string>{204,158}</string>
			<key>spriteSourceSize</key>
			<string>{236,216}</string>
			<key>textureRect</key>
			<string>{{221,1061},{204,158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>37</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,-13}</string>
			<key>spriteSize</key>
			<string>{96,148}</string>
			<key>spriteSourceSize</key>
			<string>{236,216}</string>
			<key>textureRect</key>
			<string>{{761,651},{96,148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>38</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,-13}</string>
			<key>spriteSize</key>
			<string>{96,148}</string>
			<key>spriteSourceSize</key>
			<string>{236,216}</string>
			<key>textureRect</key>
			<string>{{761,801},{96,148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action10.pvr.ccz</string>
		<key>size</key>
		<string>{960,1298}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:9b50d2dbde22dc2edaabac4882bf84a3:e589712a85de0974cfcc411444ce1ffe:fd6dfe3ee94267230ed6425290acf6b5$</string>
		<key>textureFileName</key>
		<string>col_action10.pvr.ccz</string>
	</dict>
</dict>
</plist>
