<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{62,128}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{129,789},{62,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{62,138}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{65,765},{62,138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{158,62}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{1,765},{158,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{168,62}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{149,619},{168,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,4}</string>
			<key>spriteSize</key>
			<string>{186,184}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{1,433},{186,184}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,4}</string>
			<key>spriteSize</key>
			<string>{200,198}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{1,233},{200,198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,4}</string>
			<key>spriteSize</key>
			<string>{230,230}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{1,1},{230,230}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,3}</string>
			<key>spriteSize</key>
			<string>{146,144}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{1,619},{146,144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action10.pvr.ccz</string>
		<key>size</key>
		<string>{232,924}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:6aa42a57b2e21d255370a8f65b531569:789496ae1d631f20d501b3d212b9a238:fd6dfe3ee94267230ed6425290acf6b5$</string>
		<key>textureFileName</key>
		<string>col_action10.pvr.ccz</string>
	</dict>
</dict>
</plist>
