<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3023/effect/col_action1/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{104,84}</string>
                <key>spriteSourceSize</key>
                <string>{240,144}</string>
                <key>textureRect</key>
                <string>{{127,427},{104,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3023/effect/col_action1/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{132,102}</string>
                <key>spriteSourceSize</key>
                <string>{240,144}</string>
                <key>textureRect</key>
                <string>{{127,293},{132,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3023/effect/col_action1/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{204,144}</string>
                <key>spriteSourceSize</key>
                <string>{240,144}</string>
                <key>textureRect</key>
                <string>{{1,1},{204,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3023/effect/col_action1/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{196,124}</string>
                <key>spriteSourceSize</key>
                <string>{240,144}</string>
                <key>textureRect</key>
                <string>{{1,293},{196,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3023/effect/col_action1/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{182,144}</string>
                <key>spriteSourceSize</key>
                <string>{240,144}</string>
                <key>textureRect</key>
                <string>{{1,147},{182,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action10.pvr.ccz</string>
            <key>size</key>
            <string>{232,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cefec4c65df7e7edb5a8c5326eea1aae:288355da4661f1d5f4f74723c270cb13:fd6dfe3ee94267230ed6425290acf6b5$</string>
            <key>textureFileName</key>
            <string>col_action10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
