<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,2}</string>
			<key>spriteSize</key>
			<string>{165,180}</string>
			<key>spriteSourceSize</key>
			<string>{257,240}</string>
			<key>textureRect</key>
			<string>{{1,1215},{165,180}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,6}</string>
			<key>spriteSize</key>
			<string>{147,202}</string>
			<key>spriteSourceSize</key>
			<string>{257,240}</string>
			<key>textureRect</key>
			<string>{{1,1066},{147,202}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-7,5}</string>
			<key>spriteSize</key>
			<string>{225,208}</string>
			<key>spriteSourceSize</key>
			<string>{257,240}</string>
			<key>textureRect</key>
			<string>{{1,484},{225,208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{257,240}</string>
			<key>spriteSourceSize</key>
			<string>{257,240}</string>
			<key>textureRect</key>
			<string>{{1,1},{257,240}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{47,48}</string>
			<key>spriteSourceSize</key>
			<string>{257,240}</string>
			<key>textureRect</key>
			<string>{{183,1269},{47,48}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{53,52}</string>
			<key>spriteSourceSize</key>
			<string>{257,240}</string>
			<key>textureRect</key>
			<string>{{183,1215},{53,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{203,202}</string>
			<key>spriteSourceSize</key>
			<string>{257,240}</string>
			<key>textureRect</key>
			<string>{{1,862},{203,202}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{217,166}</string>
			<key>spriteSourceSize</key>
			<string>{257,240}</string>
			<key>textureRect</key>
			<string>{{1,694},{217,166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,0}</string>
			<key>spriteSize</key>
			<string>{229,222}</string>
			<key>spriteSourceSize</key>
			<string>{257,240}</string>
			<key>textureRect</key>
			<string>{{1,260},{229,222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action10.pvr.ccz</string>
		<key>size</key>
		<string>{242,1381}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:7616cdc300a9dc857252074145d57e2b:9a26a7ab9f054f77b875f58ccea0c81d:fd6dfe3ee94267230ed6425290acf6b5$</string>
		<key>textureFileName</key>
		<string>col_action10.pvr.ccz</string>
	</dict>
</dict>
</plist>
