<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{11,0}</string>
			<key>spriteSize</key>
			<string>{127,165}</string>
			<key>spriteSourceSize</key>
			<string>{275,165}</string>
			<key>textureRect</key>
			<string>{{808,1},{127,165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{16,0}</string>
			<key>spriteSize</key>
			<string>{173,165}</string>
			<key>spriteSourceSize</key>
			<string>{275,165}</string>
			<key>textureRect</key>
			<string>{{1,1},{173,165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,0}</string>
			<key>spriteSize</key>
			<string>{151,165}</string>
			<key>spriteSourceSize</key>
			<string>{275,165}</string>
			<key>textureRect</key>
			<string>{{502,1},{151,165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{151,165}</string>
			<key>spriteSourceSize</key>
			<string>{275,165}</string>
			<key>textureRect</key>
			<string>{{655,1},{151,165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,0}</string>
			<key>spriteSize</key>
			<string>{159,165}</string>
			<key>spriteSourceSize</key>
			<string>{275,165}</string>
			<key>textureRect</key>
			<string>{{341,1},{159,165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{163,165}</string>
			<key>spriteSourceSize</key>
			<string>{275,165}</string>
			<key>textureRect</key>
			<string>{{176,1},{163,165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action20.pvr.ccz</string>
		<key>size</key>
		<string>{936,167}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:fd06794bc89491cda12e7d4658a697be:6c789dd6289fe97f4323c1302fe43ba0:98ec4b5f3da3b367b0df440471cccb39$</string>
		<key>textureFileName</key>
		<string>col_action20.pvr.ccz</string>
	</dict>
</dict>
</plist>
