<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/greatwar/package/aracapack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,128}</string>
                <key>spriteSourceSize</key>
                <string>{178,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{178,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/greatwar/package/aracapack_eng</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,128}</string>
                <key>spriteSourceSize</key>
                <string>{178,128}</string>
                <key>textureRect</key>
                <string>{{181,1},{178,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/greatwar/package/asilipack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,128}</string>
                <key>spriteSourceSize</key>
                <string>{178,128}</string>
                <key>textureRect</key>
                <string>{{361,1},{178,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/greatwar/package/asilipack_eng</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,128}</string>
                <key>spriteSourceSize</key>
                <string>{178,128}</string>
                <key>textureRect</key>
                <string>{{541,1},{178,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/greatwar/package/chaospack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,128}</string>
                <key>spriteSourceSize</key>
                <string>{178,128}</string>
                <key>textureRect</key>
                <string>{{721,1},{178,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/greatwar/package/chaospack_eng</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,128}</string>
                <key>spriteSourceSize</key>
                <string>{178,128}</string>
                <key>textureRect</key>
                <string>{{901,1},{178,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/greatwar/package/garudapack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,128}</string>
                <key>spriteSourceSize</key>
                <string>{178,128}</string>
                <key>textureRect</key>
                <string>{{1081,1},{178,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/greatwar/package/garudapack_eng</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,128}</string>
                <key>spriteSourceSize</key>
                <string>{178,128}</string>
                <key>textureRect</key>
                <string>{{1261,1},{178,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/greatwar/package/karnapack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,128}</string>
                <key>spriteSourceSize</key>
                <string>{178,128}</string>
                <key>textureRect</key>
                <string>{{1441,1},{178,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/greatwar/package/karnapack_eng</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,128}</string>
                <key>spriteSourceSize</key>
                <string>{178,128}</string>
                <key>textureRect</key>
                <string>{{1621,1},{178,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>package.pvr.ccz</string>
            <key>size</key>
            <string>{1800,130}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fddbf272236d3e2e9a9d264b587a8ab0:beaa430630c0fb26c53dec288bc25bae:c2ff68153dbba2484dcc5bf7541359be$</string>
            <key>textureFileName</key>
            <string>package.pvr.ccz</string>
        </dict>
    </dict>
</plist>
