<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/greatwar/quest/bt_total</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,40}</string>
                <key>spriteSourceSize</key>
                <string>{120,40}</string>
                <key>textureRect</key>
                <string>{{674,1},{120,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/greatwar/quest/bt_total_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,40}</string>
                <key>spriteSourceSize</key>
                <string>{120,40}</string>
                <key>textureRect</key>
                <string>{{796,1},{120,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/greatwar/quest/frame_gauge</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,12}</string>
                <key>spriteSourceSize</key>
                <string>{300,12}</string>
                <key>textureRect</key>
                <string>{{1,1},{300,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/greatwar/quest/frame_gauge_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,16}</string>
                <key>spriteSourceSize</key>
                <string>{304,16}</string>
                <key>textureRect</key>
                <string>{{303,1},{304,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/greatwar/quest/frame_itembg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{918,1},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/greatwar/quest/frame_quest1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,78}</string>
                <key>spriteSourceSize</key>
                <string>{544,78}</string>
                <key>textureRect</key>
                <string>{{983,1},{544,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/greatwar/quest/frame_quest1_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,78}</string>
                <key>spriteSourceSize</key>
                <string>{544,78}</string>
                <key>textureRect</key>
                <string>{{1,19},{544,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/greatwar/quest/frame_quest2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,78}</string>
                <key>spriteSourceSize</key>
                <string>{544,78}</string>
                <key>textureRect</key>
                <string>{{547,81},{544,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/greatwar/quest/frame_quest2_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,78}</string>
                <key>spriteSourceSize</key>
                <string>{544,78}</string>
                <key>textureRect</key>
                <string>{{1093,81},{544,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/greatwar/quest/frame_quest3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,78}</string>
                <key>spriteSourceSize</key>
                <string>{544,78}</string>
                <key>textureRect</key>
                <string>{{1,99},{544,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/greatwar/quest/frame_quest3_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,78}</string>
                <key>spriteSourceSize</key>
                <string>{544,78}</string>
                <key>textureRect</key>
                <string>{{547,161},{544,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/greatwar/quest/frame_quest_success</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,78}</string>
                <key>spriteSourceSize</key>
                <string>{544,78}</string>
                <key>textureRect</key>
                <string>{{1093,161},{544,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/greatwar/quest/icon_icelist_reward</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,21}</string>
                <key>spriteSourceSize</key>
                <string>{63,21}</string>
                <key>textureRect</key>
                <string>{{609,1},{63,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>quest.pvr.ccz</string>
            <key>size</key>
            <string>{1638,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:553a7666643b04e720a1ba97c40b6cbe:9672e8c943bdc34835974cbae9b0521b:c76e50bad73d7d101b0bd6d8b49893e3$</string>
            <key>textureFileName</key>
            <string>quest.pvr.ccz</string>
        </dict>
    </dict>
</plist>
