<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/greatwar/rank/bt_rank</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,36}</string>
                <key>spriteSourceSize</key>
                <string>{32,36}</string>
                <key>textureRect</key>
                <string>{{317,35},{32,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/greatwar/rank/frame_rank1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,28}</string>
                <key>spriteSourceSize</key>
                <string>{490,28}</string>
                <key>textureRect</key>
                <string>{{342,109},{490,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/greatwar/rank/frame_rank2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,32}</string>
                <key>spriteSourceSize</key>
                <string>{490,32}</string>
                <key>textureRect</key>
                <string>{{1,1},{490,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/greatwar/rank/frame_rank3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,32}</string>
                <key>spriteSourceSize</key>
                <string>{490,32}</string>
                <key>textureRect</key>
                <string>{{351,41},{490,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/greatwar/rank/frame_rank4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,32}</string>
                <key>spriteSourceSize</key>
                <string>{490,32}</string>
                <key>textureRect</key>
                <string>{{342,75},{490,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/greatwar/rank/icon_crown1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,23}</string>
                <key>spriteSourceSize</key>
                <string>{33,23}</string>
                <key>textureRect</key>
                <string>{{317,73},{33,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/greatwar/rank/icon_crown2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,23}</string>
                <key>spriteSourceSize</key>
                <string>{33,23}</string>
                <key>textureRect</key>
                <string>{{809,1},{33,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/greatwar/rank/icon_crown3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,23}</string>
                <key>spriteSourceSize</key>
                <string>{33,23}</string>
                <key>textureRect</key>
                <string>{{317,108},{33,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/greatwar/rank/title_lv21ranking</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,38}</string>
                <key>spriteSourceSize</key>
                <string>{314,38}</string>
                <key>textureRect</key>
                <string>{{493,1},{314,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/greatwar/rank/title_lv21ranking_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,38}</string>
                <key>spriteSourceSize</key>
                <string>{314,38}</string>
                <key>textureRect</key>
                <string>{{1,35},{314,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/greatwar/rank/title_lv45ranking</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,38}</string>
                <key>spriteSourceSize</key>
                <string>{314,38}</string>
                <key>textureRect</key>
                <string>{{1,75},{314,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/greatwar/rank/title_lv45ranking_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,38}</string>
                <key>spriteSourceSize</key>
                <string>{314,38}</string>
                <key>textureRect</key>
                <string>{{1,115},{314,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/greatwar/rank/title_pvpranking</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,38}</string>
                <key>spriteSourceSize</key>
                <string>{314,38}</string>
                <key>textureRect</key>
                <string>{{342,139},{314,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/greatwar/rank/title_pvpranking_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,38}</string>
                <key>spriteSourceSize</key>
                <string>{314,38}</string>
                <key>textureRect</key>
                <string>{{1,155},{314,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>rank.pvr.ccz</string>
            <key>size</key>
            <string>{843,194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e08a7686469f3c6dcbcb011a13ee93f9:242ceb4cec7e12b9533fd4d368d3ce85:0b89fd4acf5ba9d3f6c687af2207b2c4$</string>
            <key>textureFileName</key>
            <string>rank.pvr.ccz</string>
        </dict>
    </dict>
</plist>
