<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/greatwar/rule/bt_tabreward_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,82}</string>
                <key>spriteSourceSize</key>
                <string>{38,82}</string>
                <key>textureRect</key>
                <string>{{121,830},{38,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/greatwar/rule/bt_tabreward_off_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,82}</string>
                <key>spriteSourceSize</key>
                <string>{38,82}</string>
                <key>textureRect</key>
                <string>{{205,830},{38,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/greatwar/rule/bt_tabreward_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,82}</string>
                <key>spriteSourceSize</key>
                <string>{38,82}</string>
                <key>textureRect</key>
                <string>{{289,830},{38,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/greatwar/rule/bt_tabreward_on_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,82}</string>
                <key>spriteSourceSize</key>
                <string>{38,82}</string>
                <key>textureRect</key>
                <string>{{373,830},{38,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/greatwar/rule/bt_tabrule_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,82}</string>
                <key>spriteSourceSize</key>
                <string>{38,82}</string>
                <key>textureRect</key>
                <string>{{241,685},{38,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/greatwar/rule/bt_tabrule_off_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,82}</string>
                <key>spriteSourceSize</key>
                <string>{38,82}</string>
                <key>textureRect</key>
                <string>{{457,633},{38,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/greatwar/rule/bt_tabrule_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,82}</string>
                <key>spriteSourceSize</key>
                <string>{38,82}</string>
                <key>textureRect</key>
                <string>{{457,717},{38,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/greatwar/rule/bt_tabrule_on_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,82}</string>
                <key>spriteSourceSize</key>
                <string>{38,82}</string>
                <key>textureRect</key>
                <string>{{281,685},{38,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/greatwar/rule/title_lv21reward</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,38}</string>
                <key>spriteSourceSize</key>
                <string>{314,38}</string>
                <key>textureRect</key>
                <string>{{457,1},{314,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/greatwar/rule/title_lv21reward_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,38}</string>
                <key>spriteSourceSize</key>
                <string>{314,38}</string>
                <key>textureRect</key>
                <string>{{457,317},{314,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/greatwar/rule/title_lv45reward</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,38}</string>
                <key>spriteSourceSize</key>
                <string>{314,38}</string>
                <key>textureRect</key>
                <string>{{241,369},{314,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/greatwar/rule/title_lv45reward_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,38}</string>
                <key>spriteSourceSize</key>
                <string>{314,38}</string>
                <key>textureRect</key>
                <string>{{281,369},{314,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/greatwar/rule/title_reward</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,38}</string>
                <key>spriteSourceSize</key>
                <string>{314,38}</string>
                <key>textureRect</key>
                <string>{{321,369},{314,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/greatwar/rule/title_reward_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,38}</string>
                <key>spriteSourceSize</key>
                <string>{314,38}</string>
                <key>textureRect</key>
                <string>{{361,369},{314,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/greatwar/rule/title_rules</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,38}</string>
                <key>spriteSourceSize</key>
                <string>{314,38}</string>
                <key>textureRect</key>
                <string>{{401,369},{314,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/greatwar/rule/title_rules_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,38}</string>
                <key>spriteSourceSize</key>
                <string>{314,38}</string>
                <key>textureRect</key>
                <string>{{121,790},{314,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/greatwar/rule/txt_reward</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{454,182}</string>
                <key>spriteSourceSize</key>
                <string>{454,182}</string>
                <key>textureRect</key>
                <string>{{1,1},{454,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/greatwar/rule/txt_reward_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{454,182}</string>
                <key>spriteSourceSize</key>
                <string>{454,182}</string>
                <key>textureRect</key>
                <string>{{1,185},{454,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/greatwar/rule/txt_rules</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{419,118}</string>
                <key>spriteSourceSize</key>
                <string>{487,118}</string>
                <key>textureRect</key>
                <string>{{121,369},{419,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/greatwar/rule/txt_rules_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{487,118}</string>
                <key>spriteSourceSize</key>
                <string>{487,118}</string>
                <key>textureRect</key>
                <string>{{1,369},{487,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>rule.pvr.ccz</string>
            <key>size</key>
            <string>{496,869}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af98c59bd5ebe1a22472684988413458:36bda0979e3582582126ce662b4c6c72:9cc161fb62d6945e40e6c977b0a86425$</string>
            <key>textureFileName</key>
            <string>rule.pvr.ccz</string>
        </dict>
    </dict>
</plist>
