<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/event/anniversary2020/box_rank/title-box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,57}</string>
                <key>spriteSourceSize</key>
                <string>{279,57}</string>
                <key>textureRect</key>
                <string>{{1,1},{279,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/box_rank/title_text</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,28}</string>
                <key>spriteSourceSize</key>
                <string>{164,28}</string>
                <key>textureRect</key>
                <string>{{282,36},{164,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/box_rank/title_text_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,33}</string>
                <key>spriteSourceSize</key>
                <string>{172,33}</string>
                <key>textureRect</key>
                <string>{{282,1},{172,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>box_rank.pvr.ccz</string>
            <key>size</key>
            <string>{455,65}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5ca3baf3ca7198910bded33e9634048:5837ab099e4b40bd51f71b1f64e4b6b5:696fe1d6c7dfca3f6421caa5898cf900$</string>
            <key>textureFileName</key>
            <string>box_rank.pvr.ccz</string>
        </dict>
    </dict>
</plist>
