<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/event/anniversary2020/dragonset/back_icon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,33}</string>
                <key>spriteSourceSize</key>
                <string>{52,33}</string>
                <key>textureRect</key>
                <string>{{153,155},{52,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/dragonset/center_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,152}</string>
                <key>spriteSourceSize</key>
                <string>{188,152}</string>
                <key>textureRect</key>
                <string>{{1,1},{188,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/dragonset/item_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,69}</string>
                <key>spriteSourceSize</key>
                <string>{70,69}</string>
                <key>textureRect</key>
                <string>{{153,276},{70,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/dragonset/point</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,20}</string>
                <key>spriteSourceSize</key>
                <string>{56,20}</string>
                <key>textureRect</key>
                <string>{{225,276},{56,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/dragonset/point_bar</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,50}</string>
                <key>spriteSourceSize</key>
                <string>{190,50}</string>
                <key>textureRect</key>
                <string>{{1,155},{190,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/dragonset/save_bt_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,48}</string>
                <key>spriteSourceSize</key>
                <string>{181,48}</string>
                <key>textureRect</key>
                <string>{{103,155},{181,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/dragonset/save_bt_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,48}</string>
                <key>spriteSourceSize</key>
                <string>{182,48}</string>
                <key>textureRect</key>
                <string>{{53,155},{182,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/dragonset/title_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,60}</string>
                <key>spriteSourceSize</key>
                <string>{273,60}</string>
                <key>textureRect</key>
                <string>{{191,1},{273,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>dragonset.pvr.ccz</string>
            <key>size</key>
            <string>{252,346}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f93e28cd763105bafc463dd8ed103b83:6db8e068ea192825a6954dcc0675f5ac:fcdf314afd9e03e820ae0cc240cd1feb$</string>
            <key>textureFileName</key>
            <string>dragonset.pvr.ccz</string>
        </dict>
    </dict>
</plist>
