<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/event/anniversary2020/dragoncard/card_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,100}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{1,276},{180,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/dragoncard/card_frame</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,253}</string>
                <key>spriteSourceSize</key>
                <string>{191,253}</string>
                <key>textureRect</key>
                <string>{{62,1},{191,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/dragoncard/card_textbox</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,25}</string>
                <key>spriteSourceSize</key>
                <string>{180,25}</string>
                <key>textureRect</key>
                <string>{{226,256},{180,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/dragoncard/card_top</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,41}</string>
                <key>spriteSourceSize</key>
                <string>{182,41}</string>
                <key>textureRect</key>
                <string>{{183,256},{182,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/dragoncard/cup_title_text</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,29}</string>
                <key>spriteSourceSize</key>
                <string>{97,29}</string>
                <key>textureRect</key>
                <string>{{1,443},{97,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/dragoncard/cup_title_text_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,32}</string>
                <key>spriteSourceSize</key>
                <string>{156,32}</string>
                <key>textureRect</key>
                <string>{{1,378},{156,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/dragoncard/title_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,59}</string>
                <key>spriteSourceSize</key>
                <string>{273,59}</string>
                <key>textureRect</key>
                <string>{{1,1},{273,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/dragoncard/title_text</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,29}</string>
                <key>spriteSourceSize</key>
                <string>{120,29}</string>
                <key>textureRect</key>
                <string>{{1,412},{120,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/dragoncard/title_text_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,35}</string>
                <key>spriteSourceSize</key>
                <string>{106,35}</string>
                <key>textureRect</key>
                <string>{{123,440},{106,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>dragoncard.pvr.ccz</string>
            <key>size</key>
            <string>{254,476}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e73096f4f7e302114c136ff095b4dfdc:fd26d9bda3638d8e264fc977ad61cd4a:4247d3207c949787c601bc846b022772$</string>
            <key>textureFileName</key>
            <string>dragoncard.pvr.ccz</string>
        </dict>
    </dict>
</plist>
