<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/event/anniversary2020/help/box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{494,304}</string>
                <key>spriteSourceSize</key>
                <string>{494,304}</string>
                <key>textureRect</key>
                <string>{{1,37},{494,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/help/box_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{494,304}</string>
                <key>spriteSourceSize</key>
                <string>{494,304}</string>
                <key>textureRect</key>
                <string>{{1,343},{494,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/help/tab_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,34}</string>
                <key>spriteSourceSize</key>
                <string>{94,34}</string>
                <key>textureRect</key>
                <string>{{1,1},{94,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/help/tab_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,34}</string>
                <key>spriteSourceSize</key>
                <string>{94,34}</string>
                <key>textureRect</key>
                <string>{{97,1},{94,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/help/tab_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,34}</string>
                <key>spriteSourceSize</key>
                <string>{94,34}</string>
                <key>textureRect</key>
                <string>{{193,1},{94,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/help/tab_disable</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,34}</string>
                <key>spriteSourceSize</key>
                <string>{94,34}</string>
                <key>textureRect</key>
                <string>{{289,1},{94,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>help.pvr.ccz</string>
            <key>size</key>
            <string>{496,648}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07cbac1b8fcdb95fff085f1a9fbbc2a4:b7f9151b4c6766249bb545cec7048c8a:e39418eb90d556d47aac04bdaf3d5b7a$</string>
            <key>textureFileName</key>
            <string>help.pvr.ccz</string>
        </dict>
    </dict>
</plist>
