<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/event/anniversary2020/mission/BOX</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,52}</string>
                <key>spriteSourceSize</key>
                <string>{474,52}</string>
                <key>textureRect</key>
                <string>{{1,803},{474,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/mission/POINT</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,23}</string>
                <key>spriteSourceSize</key>
                <string>{19,23}</string>
                <key>textureRect</key>
                <string>{{194,857},{19,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/mission/mission_Process</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,32}</string>
                <key>spriteSourceSize</key>
                <string>{167,32}</string>
                <key>textureRect</key>
                <string>{{1,857},{167,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/mission/pink_process_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,7}</string>
                <key>spriteSourceSize</key>
                <string>{10,7}</string>
                <key>textureRect</key>
                <string>{{194,882},{10,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/mission/pink_process_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,14}</string>
                <key>spriteSourceSize</key>
                <string>{10,14}</string>
                <key>textureRect</key>
                <string>{{239,857},{10,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/mission/pink_process_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,21}</string>
                <key>spriteSourceSize</key>
                <string>{10,21}</string>
                <key>textureRect</key>
                <string>{{215,857},{10,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/mission/pink_process_4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,28}</string>
                <key>spriteSourceSize</key>
                <string>{10,28}</string>
                <key>textureRect</key>
                <string>{{170,857},{10,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/mission/yellow_process_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,7}</string>
                <key>spriteSourceSize</key>
                <string>{10,7}</string>
                <key>textureRect</key>
                <string>{{206,882},{10,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/mission/yellow_process_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,14}</string>
                <key>spriteSourceSize</key>
                <string>{10,14}</string>
                <key>textureRect</key>
                <string>{{239,873},{10,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/mission/yellow_process_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,21}</string>
                <key>spriteSourceSize</key>
                <string>{10,21}</string>
                <key>textureRect</key>
                <string>{{227,857},{10,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/mission/yellow_process_4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,28}</string>
                <key>spriteSourceSize</key>
                <string>{10,28}</string>
                <key>textureRect</key>
                <string>{{182,857},{10,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/mission/전체</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,480}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>mission.pvr.ccz</string>
            <key>size</key>
            <string>{482,890}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ebee2c34713bb79a48d3bb9d969b6b9:83345a8084d6d288414160e83495670f:11d2edf9f142b580526144416d7946f2$</string>
            <key>textureFileName</key>
            <string>mission.pvr.ccz</string>
        </dict>
    </dict>
</plist>
