<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/event/anniversary2020/pluck/BOX_CLOSE_EF</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{198,185}</string>
                <key>spriteSourceSize</key>
                <string>{256,185}</string>
                <key>textureRect</key>
                <string>{{815,1339},{198,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/LEVEL-RESET_TEXT</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,72}</string>
                <key>spriteSourceSize</key>
                <string>{264,72}</string>
                <key>textureRect</key>
                <string>{{264,1911},{264,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/LEVEL-UP++_TEXT</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,79}</string>
                <key>spriteSourceSize</key>
                <string>{237,79}</string>
                <key>textureRect</key>
                <string>{{530,1900},{237,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/LEVEL-UP_TEXT</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,72}</string>
                <key>spriteSourceSize</key>
                <string>{225,72}</string>
                <key>textureRect</key>
                <string>{{741,1644},{225,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/LV1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,25}</string>
                <key>spriteSourceSize</key>
                <string>{62,25}</string>
                <key>textureRect</key>
                <string>{{788,1339},{62,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/LV1_BOX</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,289}</string>
                <key>spriteSourceSize</key>
                <string>{234,289}</string>
                <key>textureRect</key>
                <string>{{533,627},{234,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/LV2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,25}</string>
                <key>spriteSourceSize</key>
                <string>{62,25}</string>
                <key>textureRect</key>
                <string>{{788,1403},{62,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/LV3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,25}</string>
                <key>spriteSourceSize</key>
                <string>{62,25}</string>
                <key>textureRect</key>
                <string>{{913,1929},{62,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/LV4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,25}</string>
                <key>spriteSourceSize</key>
                <string>{62,25}</string>
                <key>textureRect</key>
                <string>{{913,1956},{62,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/LV4-5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{259,312}</string>
                <key>spriteSourceSize</key>
                <string>{261,316}</string>
                <key>textureRect</key>
                <string>{{264,1597},{259,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/LV5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,25}</string>
                <key>spriteSourceSize</key>
                <string>{62,25}</string>
                <key>textureRect</key>
                <string>{{981,1104},{62,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/LV6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,25}</string>
                <key>spriteSourceSize</key>
                <string>{62,25}</string>
                <key>textureRect</key>
                <string>{{981,1168},{62,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/LV6_BOX</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{261,312}</string>
                <key>spriteSourceSize</key>
                <string>{261,316}</string>
                <key>textureRect</key>
                <string>{{721,1},{261,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/LV6_EF</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,35}</string>
                <key>spriteSourceSize</key>
                <string>{33,35}</string>
                <key>textureRect</key>
                <string>{{961,1888},{33,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/LV6_effect</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{530,530}</string>
                <key>spriteSourceSize</key>
                <string>{530,530}</string>
                <key>textureRect</key>
                <string>{{1,1},{530,530}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/LV7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,25}</string>
                <key>spriteSourceSize</key>
                <string>{62,25}</string>
                <key>textureRect</key>
                <string>{{981,1232},{62,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/LV7_BOX</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{261,314}</string>
                <key>spriteSourceSize</key>
                <string>{261,316}</string>
                <key>textureRect</key>
                <string>{{1,1597},{261,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/LV7_ef</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,35}</string>
                <key>spriteSourceSize</key>
                <string>{33,35}</string>
                <key>textureRect</key>
                <string>{{977,1925},{33,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/LV7_effect</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{530,530}</string>
                <key>spriteSourceSize</key>
                <string>{530,530}</string>
                <key>textureRect</key>
                <string>{{1,533},{530,530}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/box_close_1-3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{256,177}</string>
                <key>spriteSourceSize</key>
                <string>{256,185}</string>
                <key>textureRect</key>
                <string>{{769,607},{256,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/box_close_4-5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{256,157}</string>
                <key>spriteSourceSize</key>
                <string>{256,185}</string>
                <key>textureRect</key>
                <string>{{533,918},{256,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/box_close_6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{256,157}</string>
                <key>spriteSourceSize</key>
                <string>{256,185}</string>
                <key>textureRect</key>
                <string>{{532,1485},{256,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/box_close_7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{256,157}</string>
                <key>spriteSourceSize</key>
                <string>{256,185}</string>
                <key>textureRect</key>
                <string>{{791,865},{256,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/box_open_1-3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,202}</string>
                <key>spriteSourceSize</key>
                <string>{214,202}</string>
                <key>textureRect</key>
                <string>{{532,1077},{214,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/box_open_4-5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{214,194}</string>
                <key>spriteSourceSize</key>
                <string>{214,202}</string>
                <key>textureRect</key>
                <string>{{785,1123},{214,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/box_open_6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,202}</string>
                <key>spriteSourceSize</key>
                <string>{214,202}</string>
                <key>textureRect</key>
                <string>{{532,1281},{214,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/box_open_7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,202}</string>
                <key>spriteSourceSize</key>
                <string>{214,202}</string>
                <key>textureRect</key>
                <string>{{525,1644},{214,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/box_open_effect</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,276}</string>
                <key>spriteSourceSize</key>
                <string>{290,276}</string>
                <key>textureRect</key>
                <string>{{721,315},{290,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/btnInfo</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{217,1913},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/btnKeyshop</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{953,1836},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/btnKeyshop_disable</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{861,1929},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/btn_fev</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,38}</string>
                <key>spriteSourceSize</key>
                <string>{98,38}</string>
                <key>textureRect</key>
                <string>{{748,1362},{98,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/btn_rule</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,38}</string>
                <key>spriteSourceSize</key>
                <string>{98,38}</string>
                <key>textureRect</key>
                <string>{{861,1889},{98,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/btnexit</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,44}</string>
                <key>spriteSourceSize</key>
                <string>{112,44}</string>
                <key>textureRect</key>
                <string>{{769,1871},{112,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/btnexit_disable</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,44}</string>
                <key>spriteSourceSize</key>
                <string>{112,44}</string>
                <key>textureRect</key>
                <string>{{815,1864},{112,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/continue</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,52}</string>
                <key>spriteSourceSize</key>
                <string>{146,52}</string>
                <key>textureRect</key>
                <string>{{899,1741},{146,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/continue_disable</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,52}</string>
                <key>spriteSourceSize</key>
                <string>{146,52}</string>
                <key>textureRect</key>
                <string>{{953,1688},{146,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/effect</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{529,530}</string>
                <key>spriteSourceSize</key>
                <string>{529,530}</string>
                <key>textureRect</key>
                <string>{{1,1065},{529,530}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/exp_bar</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,35}</string>
                <key>spriteSourceSize</key>
                <string>{283,35}</string>
                <key>textureRect</key>
                <string>{{748,1077},{283,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/exp_item</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,61}</string>
                <key>spriteSourceSize</key>
                <string>{160,61}</string>
                <key>textureRect</key>
                <string>{{790,1526},{160,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/exp_item_-</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,61}</string>
                <key>spriteSourceSize</key>
                <string>{160,61}</string>
                <key>textureRect</key>
                <string>{{952,1526},{160,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/fever</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,26}</string>
                <key>spriteSourceSize</key>
                <string>{273,26}</string>
                <key>textureRect</key>
                <string>{{984,1},{273,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/fever_expbar</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,34}</string>
                <key>spriteSourceSize</key>
                <string>{283,34}</string>
                <key>textureRect</key>
                <string>{{950,819},{283,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/key_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{210,50}</string>
                <key>spriteSourceSize</key>
                <string>{222,50}</string>
                <key>textureRect</key>
                <string>{{948,607},{210,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/key_box-click</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{210,50}</string>
                <key>spriteSourceSize</key>
                <string>{222,50}</string>
                <key>textureRect</key>
                <string>{{525,1848},{210,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/keyshopBg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{624,186}</string>
                <key>spriteSourceSize</key>
                <string>{624,186}</string>
                <key>textureRect</key>
                <string>{{533,1},{624,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/keyshopTitle</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,50}</string>
                <key>spriteSourceSize</key>
                <string>{150,50}</string>
                <key>textureRect</key>
                <string>{{899,1589},{150,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/level_1_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,26}</string>
                <key>spriteSourceSize</key>
                <string>{273,26}</string>
                <key>textureRect</key>
                <string>{{986,819},{273,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/level_4_5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,26}</string>
                <key>spriteSourceSize</key>
                <string>{273,26}</string>
                <key>textureRect</key>
                <string>{{815,1589},{273,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/level_6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,26}</string>
                <key>spriteSourceSize</key>
                <string>{273,26}</string>
                <key>textureRect</key>
                <string>{{843,1589},{273,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/level_7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,26}</string>
                <key>spriteSourceSize</key>
                <string>{273,26}</string>
                <key>textureRect</key>
                <string>{{871,1589},{273,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/shadow_close_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,54}</string>
                <key>spriteSourceSize</key>
                <string>{214,54}</string>
                <key>textureRect</key>
                <string>{{1,1913},{214,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>pluck.pvr.ccz</string>
            <key>size</key>
            <string>{1014,1984}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ca9275356f43e1a6e6dc2675375bc5b:458896dea1a5e71ff4523108e95585c8:48157f4ecce9e992d824ff48ed3fbc6e$</string>
            <key>textureFileName</key>
            <string>pluck.pvr.ccz</string>
        </dict>
    </dict>
</plist>
