<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/event/anniversary2020/tagRanking/info_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,219}</string>
                <key>spriteSourceSize</key>
                <string>{186,219}</string>
                <key>textureRect</key>
                <string>{{1,211},{186,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/tagRanking/info_box_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,219}</string>
                <key>spriteSourceSize</key>
                <string>{186,219}</string>
                <key>textureRect</key>
                <string>{{189,211},{186,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/tagRanking/ranking_bar_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,33}</string>
                <key>spriteSourceSize</key>
                <string>{382,33}</string>
                <key>textureRect</key>
                <string>{{1,1},{382,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/tagRanking/ranking_bar_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,33}</string>
                <key>spriteSourceSize</key>
                <string>{382,33}</string>
                <key>textureRect</key>
                <string>{{1,36},{382,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/tagRanking/ranking_bar_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,33}</string>
                <key>spriteSourceSize</key>
                <string>{382,33}</string>
                <key>textureRect</key>
                <string>{{1,71},{382,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/tagRanking/ranking_bar_4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,33}</string>
                <key>spriteSourceSize</key>
                <string>{382,33}</string>
                <key>textureRect</key>
                <string>{{1,106},{382,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/tagRanking/ranking_bar_5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,33}</string>
                <key>spriteSourceSize</key>
                <string>{382,33}</string>
                <key>textureRect</key>
                <string>{{1,141},{382,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/tagRanking/ranking_bar_last</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,33}</string>
                <key>spriteSourceSize</key>
                <string>{382,33}</string>
                <key>textureRect</key>
                <string>{{1,176},{382,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/tagRanking/title_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,60}</string>
                <key>spriteSourceSize</key>
                <string>{273,60}</string>
                <key>textureRect</key>
                <string>{{385,1},{273,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/tagRanking/title_text</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,29}</string>
                <key>spriteSourceSize</key>
                <string>{149,29}</string>
                <key>textureRect</key>
                <string>{{377,276},{149,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/tagRanking/title_text_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,34}</string>
                <key>spriteSourceSize</key>
                <string>{115,34}</string>
                <key>textureRect</key>
                <string>{{408,276},{115,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>tagRanking.pvr.ccz</string>
            <key>size</key>
            <string>{446,431}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c395815b5ead131088622e928b43bbe:ff6de27bc58bb39d077fdbc390b44049:f7f52a53d97240da54850e67e86d1a92$</string>
            <key>textureFileName</key>
            <string>tagRanking.pvr.ccz</string>
        </dict>
    </dict>
</plist>
