<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{9,45}</string>
			<key>spriteSize</key>
			<string>{171,103}</string>
			<key>spriteSourceSize</key>
			<string>{201,201}</string>
			<key>textureRect</key>
			<string>{{597,1076},{171,103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{9,45}</string>
			<key>spriteSize</key>
			<string>{171,103}</string>
			<key>spriteSourceSize</key>
			<string>{201,201}</string>
			<key>textureRect</key>
			<string>{{770,1076},{171,103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{9,47}</string>
			<key>spriteSize</key>
			<string>{171,107}</string>
			<key>spriteSourceSize</key>
			<string>{201,201}</string>
			<key>textureRect</key>
			<string>{{444,653},{171,107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,37}</string>
			<key>spriteSize</key>
			<string>{193,127}</string>
			<key>spriteSourceSize</key>
			<string>{201,201}</string>
			<key>textureRect</key>
			<string>{{813,645},{193,127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,34}</string>
			<key>spriteSize</key>
			<string>{199,133}</string>
			<key>spriteSourceSize</key>
			<string>{201,201}</string>
			<key>textureRect</key>
			<string>{{813,1},{199,133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,32}</string>
			<key>spriteSize</key>
			<string>{201,137}</string>
			<key>spriteSourceSize</key>
			<string>{201,201}</string>
			<key>textureRect</key>
			<string>{{303,977},{201,137}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,30}</string>
			<key>spriteSize</key>
			<string>{201,141}</string>
			<key>spriteSourceSize</key>
			<string>{201,201}</string>
			<key>textureRect</key>
			<string>{{605,933},{201,141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,30}</string>
			<key>spriteSize</key>
			<string>{201,141}</string>
			<key>spriteSourceSize</key>
			<string>{201,201}</string>
			<key>textureRect</key>
			<string>{{454,965},{201,141}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,26}</string>
			<key>spriteSize</key>
			<string>{201,149}</string>
			<key>spriteSourceSize</key>
			<string>{201,201}</string>
			<key>textureRect</key>
			<string>{{204,200},{201,149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,26}</string>
			<key>spriteSize</key>
			<string>{201,149}</string>
			<key>spriteSourceSize</key>
			<string>{201,201}</string>
			<key>textureRect</key>
			<string>{{407,200},{201,149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,26}</string>
			<key>spriteSize</key>
			<string>{201,149}</string>
			<key>spriteSourceSize</key>
			<string>{201,201}</string>
			<key>textureRect</key>
			<string>{{610,200},{201,149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,26}</string>
			<key>spriteSize</key>
			<string>{201,149}</string>
			<key>spriteSourceSize</key>
			<string>{201,201}</string>
			<key>textureRect</key>
			<string>{{204,351},{201,149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,26}</string>
			<key>spriteSize</key>
			<string>{201,149}</string>
			<key>spriteSourceSize</key>
			<string>{201,201}</string>
			<key>textureRect</key>
			<string>{{1,397},{201,149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,26}</string>
			<key>spriteSize</key>
			<string>{201,149}</string>
			<key>spriteSourceSize</key>
			<string>{201,201}</string>
			<key>textureRect</key>
			<string>{{407,351},{201,149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,26}</string>
			<key>spriteSize</key>
			<string>{201,149}</string>
			<key>spriteSourceSize</key>
			<string>{201,201}</string>
			<key>textureRect</key>
			<string>{{610,351},{201,149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>15</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,26}</string>
			<key>spriteSize</key>
			<string>{201,149}</string>
			<key>spriteSourceSize</key>
			<string>{201,201}</string>
			<key>textureRect</key>
			<string>{{204,502},{201,149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>16</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,26}</string>
			<key>spriteSize</key>
			<string>{201,149}</string>
			<key>spriteSourceSize</key>
			<string>{201,201}</string>
			<key>textureRect</key>
			<string>{{1,548},{201,149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>17</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,26}</string>
			<key>spriteSize</key>
			<string>{201,149}</string>
			<key>spriteSourceSize</key>
			<string>{201,201}</string>
			<key>textureRect</key>
			<string>{{407,502},{201,149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>18</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,26}</string>
			<key>spriteSize</key>
			<string>{201,149}</string>
			<key>spriteSourceSize</key>
			<string>{201,201}</string>
			<key>textureRect</key>
			<string>{{610,502},{201,149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>19</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,26}</string>
			<key>spriteSize</key>
			<string>{201,149}</string>
			<key>spriteSourceSize</key>
			<string>{201,201}</string>
			<key>textureRect</key>
			<string>{{1,774},{201,149}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>20</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,26}</string>
			<key>spriteSize</key>
			<string>{201,149}</string>
			<key>spriteSourceSize</key>
			<string>{201,201}</string>
			<key>textureRect</key>
			<string>{{1,977},{201,149}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>21</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,26}</string>
			<key>spriteSize</key>
			<string>{201,149}</string>
			<key>spriteSourceSize</key>
			<string>{201,201}</string>
			<key>textureRect</key>
			<string>{{152,774},{201,149}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>22</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,26}</string>
			<key>spriteSize</key>
			<string>{201,149}</string>
			<key>spriteSourceSize</key>
			<string>{201,201}</string>
			<key>textureRect</key>
			<string>{{152,977},{201,149}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>23</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,26}</string>
			<key>spriteSize</key>
			<string>{201,149}</string>
			<key>spriteSourceSize</key>
			<string>{201,201}</string>
			<key>textureRect</key>
			<string>{{303,774},{201,149}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>24</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,26}</string>
			<key>spriteSize</key>
			<string>{201,149}</string>
			<key>spriteSourceSize</key>
			<string>{201,201}</string>
			<key>textureRect</key>
			<string>{{810,774},{201,149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>25</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,26}</string>
			<key>spriteSize</key>
			<string>{201,149}</string>
			<key>spriteSourceSize</key>
			<string>{201,201}</string>
			<key>textureRect</key>
			<string>{{454,762},{201,149}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>26</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,26}</string>
			<key>spriteSize</key>
			<string>{201,149}</string>
			<key>spriteSourceSize</key>
			<string>{201,201}</string>
			<key>textureRect</key>
			<string>{{605,782},{201,149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>27</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,26}</string>
			<key>spriteSize</key>
			<string>{201,149}</string>
			<key>spriteSourceSize</key>
			<string>{201,201}</string>
			<key>textureRect</key>
			<string>{{808,925},{201,149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>28</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{201,195}</string>
			<key>spriteSourceSize</key>
			<string>{201,201}</string>
			<key>textureRect</key>
			<string>{{1,200},{201,195}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>29</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{201,197}</string>
			<key>spriteSourceSize</key>
			<string>{201,201}</string>
			<key>textureRect</key>
			<string>{{1,1},{201,197}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>30</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{201,197}</string>
			<key>spriteSourceSize</key>
			<string>{201,201}</string>
			<key>textureRect</key>
			<string>{{204,1},{201,197}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>31</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{201,197}</string>
			<key>spriteSourceSize</key>
			<string>{201,201}</string>
			<key>textureRect</key>
			<string>{{407,1},{201,197}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>32</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{201,197}</string>
			<key>spriteSourceSize</key>
			<string>{201,201}</string>
			<key>textureRect</key>
			<string>{{610,1},{201,197}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>33</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{201,197}</string>
			<key>spriteSourceSize</key>
			<string>{201,201}</string>
			<key>textureRect</key>
			<string>{{813,136},{201,197}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>34</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{9,2}</string>
			<key>spriteSize</key>
			<string>{167,197}</string>
			<key>spriteSourceSize</key>
			<string>{201,201}</string>
			<key>textureRect</key>
			<string>{{813,339},{167,197}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>35</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{14,2}</string>
			<key>spriteSize</key>
			<string>{135,197}</string>
			<key>spriteSourceSize</key>
			<string>{201,201}</string>
			<key>textureRect</key>
			<string>{{813,508},{135,197}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>36</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{13,-1}</string>
			<key>spriteSize</key>
			<string>{127,191}</string>
			<key>spriteSourceSize</key>
			<string>{201,201}</string>
			<key>textureRect</key>
			<string>{{617,653},{127,191}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>37</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{15,-42}</string>
			<key>spriteSize</key>
			<string>{131,109}</string>
			<key>spriteSourceSize</key>
			<string>{201,201}</string>
			<key>textureRect</key>
			<string>{{311,653},{131,109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>38</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-45}</string>
			<key>spriteSize</key>
			<string>{115,105}</string>
			<key>spriteSourceSize</key>
			<string>{201,201}</string>
			<key>textureRect</key>
			<string>{{204,653},{115,105}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action30.pvr.ccz</string>
		<key>size</key>
		<string>{1013,1180}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:0f63466b2db022741e7d09f8cffb7332:c27f4283f44d9074c304b0ce9589ff8a:e44ba353004d0fd8b165f5c6960cb7e8$</string>
		<key>textureFileName</key>
		<string>col_action30.pvr.ccz</string>
	</dict>
</dict>
</plist>
