<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/802/effect/col_action1/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-94}</string>
                <key>spriteSize</key>
                <string>{49,22}</string>
                <key>spriteSourceSize</key>
                <string>{233,232}</string>
                <key>textureRect</key>
                <string>{{301,355},{49,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/802/effect/col_action1/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-95}</string>
                <key>spriteSize</key>
                <string>{51,22}</string>
                <key>spriteSourceSize</key>
                <string>{233,232}</string>
                <key>textureRect</key>
                <string>{{434,559},{51,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/802/effect/col_action1/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-62}</string>
                <key>spriteSize</key>
                <string>{51,88}</string>
                <key>spriteSourceSize</key>
                <string>{233,232}</string>
                <key>textureRect</key>
                <string>{{391,101},{51,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/802/effect/col_action1/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-58}</string>
                <key>spriteSize</key>
                <string>{223,98}</string>
                <key>spriteSourceSize</key>
                <string>{233,232}</string>
                <key>textureRect</key>
                <string>{{208,1},{223,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/802/effect/col_action1/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-57}</string>
                <key>spriteSize</key>
                <string>{181,100}</string>
                <key>spriteSourceSize</key>
                <string>{233,232}</string>
                <key>textureRect</key>
                <string>{{208,101},{181,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/802/effect/col_action1/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-57}</string>
                <key>spriteSize</key>
                <string>{135,100}</string>
                <key>spriteSourceSize</key>
                <string>{233,232}</string>
                <key>textureRect</key>
                <string>{{333,203},{135,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/802/effect/col_action1/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-57}</string>
                <key>spriteSize</key>
                <string>{135,100}</string>
                <key>spriteSourceSize</key>
                <string>{233,232}</string>
                <key>textureRect</key>
                <string>{{333,305},{135,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/802/effect/col_action1/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-44}</string>
                <key>spriteSize</key>
                <string>{93,130}</string>
                <key>spriteSourceSize</key>
                <string>{233,232}</string>
                <key>textureRect</key>
                <string>{{1,687},{93,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/802/effect/col_action1/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-44}</string>
                <key>spriteSize</key>
                <string>{113,130}</string>
                <key>spriteSourceSize</key>
                <string>{233,232}</string>
                <key>textureRect</key>
                <string>{{282,682},{113,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/802/effect/col_action1/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-37}</string>
                <key>spriteSize</key>
                <string>{121,144}</string>
                <key>spriteSourceSize</key>
                <string>{233,232}</string>
                <key>textureRect</key>
                <string>{{288,559},{121,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/802/effect/col_action1/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-37}</string>
                <key>spriteSize</key>
                <string>{121,144}</string>
                <key>spriteSourceSize</key>
                <string>{233,232}</string>
                <key>textureRect</key>
                <string>{{136,670},{121,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/802/effect/col_action1/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-21}</string>
                <key>spriteSize</key>
                <string>{133,174}</string>
                <key>spriteSourceSize</key>
                <string>{233,232}</string>
                <key>textureRect</key>
                <string>{{1,511},{133,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/802/effect/col_action1/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-21}</string>
                <key>spriteSize</key>
                <string>{137,174}</string>
                <key>spriteSourceSize</key>
                <string>{233,232}</string>
                <key>textureRect</key>
                <string>{{1,335},{137,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/802/effect/col_action1/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-33}</string>
                <key>spriteSize</key>
                <string>{157,150}</string>
                <key>spriteSourceSize</key>
                <string>{233,232}</string>
                <key>textureRect</key>
                <string>{{136,511},{157,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/802/effect/col_action1/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-28}</string>
                <key>spriteSize</key>
                <string>{169,160}</string>
                <key>spriteSourceSize</key>
                <string>{233,232}</string>
                <key>textureRect</key>
                <string>{{1,173},{169,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/802/effect/col_action1/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-21}</string>
                <key>spriteSize</key>
                <string>{205,170}</string>
                <key>spriteSourceSize</key>
                <string>{233,232}</string>
                <key>textureRect</key>
                <string>{{1,1},{205,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/802/effect/col_action1/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-31}</string>
                <key>spriteSize</key>
                <string>{159,150}</string>
                <key>spriteSourceSize</key>
                <string>{233,232}</string>
                <key>textureRect</key>
                <string>{{172,203},{159,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/802/effect/col_action1/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-31}</string>
                <key>spriteSize</key>
                <string>{159,150}</string>
                <key>spriteSourceSize</key>
                <string>{233,232}</string>
                <key>textureRect</key>
                <string>{{140,355},{159,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/802/effect/col_action1/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-31}</string>
                <key>spriteSize</key>
                <string>{159,150}</string>
                <key>spriteSourceSize</key>
                <string>{233,232}</string>
                <key>textureRect</key>
                <string>{{140,355},{159,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/802/effect/col_action1/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-31}</string>
                <key>spriteSize</key>
                <string>{159,150}</string>
                <key>spriteSourceSize</key>
                <string>{233,232}</string>
                <key>textureRect</key>
                <string>{{301,407},{159,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action10.pvr.ccz</string>
            <key>size</key>
            <string>{469,796}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8228e8c7229d800ec71b973518484cfd:ae5db73b4a5be14126591abf50abb0af:fd6dfe3ee94267230ed6425290acf6b5$</string>
            <key>textureFileName</key>
            <string>col_action10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
