<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>adv_action1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{200,120}</string>
			<key>spriteSourceSize</key>
			<string>{200,120}</string>
			<key>textureRect</key>
			<string>{{387,1},{200,120}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adv_action2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{200,120}</string>
			<key>spriteSourceSize</key>
			<string>{200,120}</string>
			<key>textureRect</key>
			<string>{{509,1},{200,120}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>col_action1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,0}</string>
			<key>spriteSize</key>
			<string>{180,210}</string>
			<key>spriteSourceSize</key>
			<string>{200,210}</string>
			<key>textureRect</key>
			<string>{{205,1},{180,210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>col_action2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{202,216}</string>
			<key>spriteSourceSize</key>
			<string>{202,216}</string>
			<key>textureRect</key>
			<string>{{1,1},{202,216}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>effect.pvr.ccz</string>
		<key>size</key>
		<string>{630,218}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:8bc280acbeef68da83400adde7eda551:6c46d2ae8fbd63d130a214e0e8285d9b:e0fdcd92bbdb8ab6858982d39ba3f2d9$</string>
		<key>textureFileName</key>
		<string>effect.pvr.ccz</string>
	</dict>
</dict>
</plist>
