<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/spirit/1/profile/1</key>
            <dict>
                <key>frame</key>
                <string>{{94,403},{83,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,86}}</string>
                <key>sourceSize</key>
                <string>{83,86}</string>
            </dict>
            <key>scene/spirit/1/profile/2</key>
            <dict>
                <key>frame</key>
                <string>{{2,403},{90,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,93}}</string>
                <key>sourceSize</key>
                <string>{90,93}</string>
            </dict>
            <key>scene/spirit/1/profile/3</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{107,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,97}}</string>
                <key>sourceSize</key>
                <string>{107,97}</string>
            </dict>
            <key>scene/spirit/1/profile/4</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,111}}</string>
                <key>sourceSize</key>
                <string>{126,111}</string>
            </dict>
            <key>scene/spirit/1/profile/5-1</key>
            <dict>
                <key>frame</key>
                <string>{{111,199},{106,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,80}}</string>
                <key>sourceSize</key>
                <string>{106,80}</string>
            </dict>
            <key>scene/spirit/1/profile/5-2</key>
            <dict>
                <key>frame</key>
                <string>{{130,98},{107,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,99}}</string>
                <key>sourceSize</key>
                <string>{107,99}</string>
            </dict>
            <key>scene/spirit/1/profile/5-3</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{90,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,100}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>scene/spirit/1/profile/6-1</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{110,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,94}}</string>
                <key>sourceSize</key>
                <string>{110,94}</string>
            </dict>
            <key>scene/spirit/1/profile/6-2</key>
            <dict>
                <key>frame</key>
                <string>{{108,281},{104,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,89}}</string>
                <key>sourceSize</key>
                <string>{104,89}</string>
            </dict>
            <key>scene/spirit/1/profile/6-3</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{95,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,104}}</string>
                <key>sourceSize</key>
                <string>{95,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>profile.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d804119a63809d20ddcfc564e60e210c:c2176681cbb3d4494ae623842d21c55b:03c072fd1c1f67b4883b34fedb7a3213$</string>
            <key>textureFileName</key>
            <string>profile.pvr.ccz</string>
        </dict>
    </dict>
</plist>
