<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-66,15}</string>
			<key>spriteSize</key>
			<string>{161,87}</string>
			<key>spriteSourceSize</key>
			<string>{401,241}</string>
			<key>textureRect</key>
			<string>{{208,391},{161,87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-83,15}</string>
			<key>spriteSize</key>
			<string>{163,87}</string>
			<key>spriteSourceSize</key>
			<string>{401,241}</string>
			<key>textureRect</key>
			<string>{{405,138},{163,87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-112,13}</string>
			<key>spriteSize</key>
			<string>{177,179}</string>
			<key>spriteSourceSize</key>
			<string>{401,241}</string>
			<key>textureRect</key>
			<string>{{397,227},{177,179}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-103,20}</string>
			<key>spriteSize</key>
			<string>{195,189}</string>
			<key>spriteSourceSize</key>
			<string>{401,241}</string>
			<key>textureRect</key>
			<string>{{208,1},{195,189}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-98,11}</string>
			<key>spriteSize</key>
			<string>{205,219}</string>
			<key>spriteSourceSize</key>
			<string>{401,241}</string>
			<key>textureRect</key>
			<string>{{1,1},{205,219}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-98,11}</string>
			<key>spriteSize</key>
			<string>{205,219}</string>
			<key>spriteSourceSize</key>
			<string>{401,241}</string>
			<key>textureRect</key>
			<string>{{1,222},{205,219}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-102,24}</string>
			<key>spriteSize</key>
			<string>{197,187}</string>
			<key>spriteSourceSize</key>
			<string>{401,241}</string>
			<key>textureRect</key>
			<string>{{208,192},{197,187}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-116,3}</string>
			<key>spriteSize</key>
			<string>{135,137}</string>
			<key>spriteSourceSize</key>
			<string>{401,241}</string>
			<key>textureRect</key>
			<string>{{405,1},{135,137}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action20.pvr.ccz</string>
		<key>size</key>
		<string>{575,479}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:29b5700947769ca0546e13a7fe04d1c7:d35190d7bae13e539d60c79cc5d7d2a3:98ec4b5f3da3b367b0df440471cccb39$</string>
		<key>textureFileName</key>
		<string>col_action20.pvr.ccz</string>
	</dict>
</dict>
</plist>
