<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/92/effect/adv_action1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,120}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{1,100},{200,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/92/effect/adv_action2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,120}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{1,222},{200,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/92/effect/col_action1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{371,205}</string>
                <key>spriteSourceSize</key>
                <string>{373,207}</string>
                <key>textureRect</key>
                <string>{{1,558},{371,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/92/effect/col_action2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{137,97}</string>
                <key>spriteSourceSize</key>
                <string>{137,99}</string>
                <key>textureRect</key>
                <string>{{1,1},{137,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/92/effect/col_explode</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,212}</string>
                <key>spriteSourceSize</key>
                <string>{212,212}</string>
                <key>textureRect</key>
                <string>{{1,344},{212,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>effect.pvr.ccz</string>
            <key>size</key>
            <string>{214,930}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8773e8d0d8c5521014bc74a43b939c8:9b72cb7cf814d30914ecc8fa8a171e9d:e0fdcd92bbdb8ab6858982d39ba3f2d9$</string>
            <key>textureFileName</key>
            <string>effect.pvr.ccz</string>
        </dict>
    </dict>
</plist>
