<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>adv_action1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{200,120}</string>
			<key>spriteSourceSize</key>
			<string>{200,120}</string>
			<key>textureRect</key>
			<string>{{1,344},{200,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adv_action2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-4}</string>
			<key>spriteSize</key>
			<string>{200,112}</string>
			<key>spriteSourceSize</key>
			<string>{200,120}</string>
			<key>textureRect</key>
			<string>{{1,466},{200,112}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>col_action1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{156,112}</string>
			<key>spriteSourceSize</key>
			<string>{156,112}</string>
			<key>textureRect</key>
			<string>{{115,466},{156,112}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>col_action2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{341,232}</string>
			<key>spriteSourceSize</key>
			<string>{341,232}</string>
			<key>textureRect</key>
			<string>{{1,1},{341,232}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>effect.pvr.ccz</string>
		<key>size</key>
		<string>{234,667}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:627515bfb2ce780755801946835dd935:3a486ea1ff29d0a716c0a80ca83e0d30:e0fdcd92bbdb8ab6858982d39ba3f2d9$</string>
		<key>textureFileName</key>
		<string>effect.pvr.ccz</string>
	</dict>
</dict>
</plist>
