<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/RenewalRaid/buffInfo/frame_buffbg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{462,216}</string>
                <key>spriteSourceSize</key>
                <string>{462,216}</string>
                <key>textureRect</key>
                <string>{{1,1},{462,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/buffInfo/txt_buff</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,0}</string>
                <key>spriteSize</key>
                <string>{371,155}</string>
                <key>spriteSourceSize</key>
                <string>{413,155}</string>
                <key>textureRect</key>
                <string>{{1,376},{371,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/buffInfo/txt_buff_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,155}</string>
                <key>spriteSourceSize</key>
                <string>{413,155}</string>
                <key>textureRect</key>
                <string>{{1,219},{413,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>buffInfo.pvr.ccz</string>
            <key>size</key>
            <string>{464,532}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:196c746dadc34120a476500bc920b609:dea5b85c4bfc42cebc3f6178ec4422b6:82d46f38777052b6c6732697ee995ff8$</string>
            <key>textureFileName</key>
            <string>buffInfo.pvr.ccz</string>
        </dict>
    </dict>
</plist>
