<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/RenewalRaid/GuildRaid/bt_guildraid2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,45}</string>
                <key>spriteSourceSize</key>
                <string>{172,45}</string>
                <key>textureRect</key>
                <string>{{1065,635},{172,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/RenewalRaid/GuildRaid/bt_guildraid3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,37}</string>
                <key>spriteSourceSize</key>
                <string>{138,37}</string>
                <key>textureRect</key>
                <string>{{913,733},{138,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/GuildRaid/bt_guildraid3_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,37}</string>
                <key>spriteSourceSize</key>
                <string>{138,37}</string>
                <key>textureRect</key>
                <string>{{913,772},{138,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/GuildRaid/frame_guildraid_bg1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{414,264}</string>
                <key>spriteSourceSize</key>
                <string>{414,264}</string>
                <key>textureRect</key>
                <string>{{905,1},{414,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/RenewalRaid/GuildRaid/frame_guildraid_bg2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{730,450}</string>
                <key>spriteSourceSize</key>
                <string>{730,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{730,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/RenewalRaid/GuildRaid/frame_guildraid_help</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{454,244}</string>
                <key>spriteSourceSize</key>
                <string>{454,244}</string>
                <key>textureRect</key>
                <string>{{1,733},{454,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/GuildRaid/frame_guildraid_help_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{454,244}</string>
                <key>spriteSourceSize</key>
                <string>{454,244}</string>
                <key>textureRect</key>
                <string>{{457,733},{454,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/GuildRaid/frame_guildraidbg3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{730,450}</string>
                <key>spriteSourceSize</key>
                <string>{730,450}</string>
                <key>textureRect</key>
                <string>{{453,1},{730,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/RenewalRaid/GuildRaid/frame_guildsearch</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,30}</string>
                <key>spriteSourceSize</key>
                <string>{125,30}</string>
                <key>textureRect</key>
                <string>{{1041,448},{125,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/GuildRaid/frame_raidadd2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{1006,635},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/GuildRaid/icon_rubie</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,26}</string>
                <key>spriteSourceSize</key>
                <string>{27,26}</string>
                <key>textureRect</key>
                <string>{{955,436},{27,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/RenewalRaid/GuildRaid/txt_finddragon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,16}</string>
                <key>spriteSourceSize</key>
                <string>{29,16}</string>
                <key>textureRect</key>
                <string>{{1006,453},{29,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/GuildRaid/txt_finddragon_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,13}</string>
                <key>spriteSourceSize</key>
                <string>{65,13}</string>
                <key>textureRect</key>
                <string>{{1151,563},{65,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/RenewalRaid/GuildRaid/txt_finddragon_free</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,16}</string>
                <key>spriteSourceSize</key>
                <string>{63,16}</string>
                <key>textureRect</key>
                <string>{{1151,498},{63,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/RenewalRaid/GuildRaid/txt_finddragon_free_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,16}</string>
                <key>spriteSourceSize</key>
                <string>{115,16}</string>
                <key>textureRect</key>
                <string>{{1041,480},{115,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/GuildRaid/txt_guildraidbattle</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,15}</string>
                <key>spriteSourceSize</key>
                <string>{30,15}</string>
                <key>textureRect</key>
                <string>{{1006,436},{30,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/GuildRaid/txt_guildraidbattle_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,17}</string>
                <key>spriteSourceSize</key>
                <string>{78,17}</string>
                <key>textureRect</key>
                <string>{{955,417},{78,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/GuildRaid/txt_nodragon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,16}</string>
                <key>spriteSourceSize</key>
                <string>{134,16}</string>
                <key>textureRect</key>
                <string>{{905,715},{134,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/GuildRaid/txt_nodragon_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,13}</string>
                <key>spriteSourceSize</key>
                <string>{143,13}</string>
                <key>textureRect</key>
                <string>{{1006,620},{143,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/GuildRaid/txt_rubie</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,49}</string>
                <key>spriteSourceSize</key>
                <string>{225,49}</string>
                <key>textureRect</key>
                <string>{{955,480},{225,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/RenewalRaid/GuildRaid/txt_rubie_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,48}</string>
                <key>spriteSourceSize</key>
                <string>{296,48}</string>
                <key>textureRect</key>
                <string>{{905,417},{296,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/RenewalRaid/GuildRaid/txt_titleguildraid</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,29}</string>
                <key>spriteSourceSize</key>
                <string>{127,29}</string>
                <key>textureRect</key>
                <string>{{1041,417},{127,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/GuildRaid/txt_titleguildraid_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,27}</string>
                <key>spriteSourceSize</key>
                <string>{147,27}</string>
                <key>textureRect</key>
                <string>{{1006,471},{147,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>GuildRaid.pvr.ccz</string>
            <key>size</key>
            <string>{1170,978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81aa7d161d997a23a4c15ca8caec6196:4608b66ba244762563bc1332a595560f:4ff3ec89361759c701f3cf7e6a40bca2$</string>
            <key>textureFileName</key>
            <string>GuildRaid.pvr.ccz</string>
        </dict>
    </dict>
</plist>
