<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/RenewalRaid/RaidPremium/bt_raidpremium</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,36}</string>
                <key>spriteSourceSize</key>
                <string>{140,36}</string>
                <key>textureRect</key>
                <string>{{165,661},{140,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/RaidPremium/bt_raidpremium_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,36}</string>
                <key>spriteSourceSize</key>
                <string>{140,36}</string>
                <key>textureRect</key>
                <string>{{307,661},{140,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/RaidPremium/bt_raidsearch</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,36}</string>
                <key>spriteSourceSize</key>
                <string>{140,36}</string>
                <key>textureRect</key>
                <string>{{449,661},{140,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/RaidPremium/bt_raidsearch_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,36}</string>
                <key>spriteSourceSize</key>
                <string>{140,36}</string>
                <key>textureRect</key>
                <string>{{591,629},{140,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/RaidPremium/bt_raidsearch_off_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,36}</string>
                <key>spriteSourceSize</key>
                <string>{140,36}</string>
                <key>textureRect</key>
                <string>{{591,667},{140,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/RaidPremium/bt_raidsearch_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,36}</string>
                <key>spriteSourceSize</key>
                <string>{140,36}</string>
                <key>textureRect</key>
                <string>{{733,629},{140,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/RaidPremium/bt_raidsearch_on_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,36}</string>
                <key>spriteSourceSize</key>
                <string>{140,36}</string>
                <key>textureRect</key>
                <string>{{733,667},{140,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/RaidPremium/ef_newraid</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,80}</string>
                <key>spriteSourceSize</key>
                <string>{674,80}</string>
                <key>textureRect</key>
                <string>{{1,1},{674,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/RenewalRaid/RaidPremium/ef_newraid_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,80}</string>
                <key>spriteSourceSize</key>
                <string>{674,80}</string>
                <key>textureRect</key>
                <string>{{83,1},{674,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/RenewalRaid/RaidPremium/frame_raidbg10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,216}</string>
                <key>spriteSourceSize</key>
                <string>{356,216}</string>
                <key>textureRect</key>
                <string>{{165,443},{356,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/RaidPremium/frame_raidpremium</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,440}</string>
                <key>spriteSourceSize</key>
                <string>{406,440}</string>
                <key>textureRect</key>
                <string>{{165,1},{406,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/RaidPremium/frame_raidpremium_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,440}</string>
                <key>spriteSourceSize</key>
                <string>{406,440}</string>
                <key>textureRect</key>
                <string>{{573,1},{406,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/RaidPremium/pack_premium30</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,104}</string>
                <key>spriteSourceSize</key>
                <string>{184,104}</string>
                <key>textureRect</key>
                <string>{{523,443},{184,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/RenewalRaid/RaidPremium/pack_premium30_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,104}</string>
                <key>spriteSourceSize</key>
                <string>{184,104}</string>
                <key>textureRect</key>
                <string>{{629,443},{184,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/RenewalRaid/RaidPremium/pack_premium7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,104}</string>
                <key>spriteSourceSize</key>
                <string>{184,104}</string>
                <key>textureRect</key>
                <string>{{735,443},{184,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/RenewalRaid/RaidPremium/pack_premium7_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,104}</string>
                <key>spriteSourceSize</key>
                <string>{184,104}</string>
                <key>textureRect</key>
                <string>{{841,443},{184,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>RaidPremium.pvr.ccz</string>
            <key>size</key>
            <string>{980,704}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74130f0248bb4003f56a8d2d8616cf51:a0bda2418db8233da93d32897695671e:806855d487189d1bfa57804dce17adf2$</string>
            <key>textureFileName</key>
            <string>RaidPremium.pvr.ccz</string>
        </dict>
    </dict>
</plist>
