<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/RenewalRaid/RaidListFilter/bg_opa</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{365,93},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/RaidListFilter/bt_filter</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,30}</string>
                <key>spriteSourceSize</key>
                <string>{90,30}</string>
                <key>textureRect</key>
                <string>{{365,1},{90,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/RenewalRaid/RaidListFilter/popup_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{362,334}</string>
                <key>spriteSourceSize</key>
                <string>{362,336}</string>
                <key>textureRect</key>
                <string>{{1,1},{362,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>RaidListFilter.pvr.ccz</string>
            <key>size</key>
            <string>{406,336}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcbda297222165f3c0329495d316c45a:bff77860b2797263faa49e00f537268d:2619408bc92e67ef8585ff460320e8de$</string>
            <key>textureFileName</key>
            <string>RaidListFilter.pvr.ccz</string>
        </dict>
    </dict>
</plist>
