<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/693/effect/col_action2/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,28}</string>
                <key>spriteSize</key>
                <string>{50,81}</string>
                <key>spriteSourceSize</key>
                <string>{232,207}</string>
                <key>textureRect</key>
                <string>{{909,681},{50,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/693/effect/col_action2/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,47}</string>
                <key>spriteSize</key>
                <string>{76,113}</string>
                <key>spriteSourceSize</key>
                <string>{232,207}</string>
                <key>textureRect</key>
                <string>{{909,566},{76,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/693/effect/col_action2/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,8}</string>
                <key>spriteSize</key>
                <string>{112,191}</string>
                <key>spriteSourceSize</key>
                <string>{232,207}</string>
                <key>textureRect</key>
                <string>{{729,368},{112,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/693/effect/col_action2/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,6}</string>
                <key>spriteSize</key>
                <string>{126,195}</string>
                <key>spriteSourceSize</key>
                <string>{232,207}</string>
                <key>textureRect</key>
                <string>{{601,390},{126,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/693/effect/col_action2/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,6}</string>
                <key>spriteSize</key>
                <string>{126,195}</string>
                <key>spriteSourceSize</key>
                <string>{232,207}</string>
                <key>textureRect</key>
                <string>{{173,779},{126,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/693/effect/col_action2/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,3}</string>
                <key>spriteSize</key>
                <string>{170,195}</string>
                <key>spriteSourceSize</key>
                <string>{232,207}</string>
                <key>textureRect</key>
                <string>{{301,772},{170,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/693/effect/col_action2/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-2}</string>
                <key>spriteSize</key>
                <string>{170,203}</string>
                <key>spriteSourceSize</key>
                <string>{232,207}</string>
                <key>textureRect</key>
                <string>{{649,1},{170,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/693/effect/col_action2/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-3}</string>
                <key>spriteSize</key>
                <string>{170,201}</string>
                <key>spriteSourceSize</key>
                <string>{232,207}</string>
                <key>textureRect</key>
                <string>{{1,779},{170,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/693/effect/col_action2/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-5}</string>
                <key>spriteSize</key>
                <string>{172,197}</string>
                <key>spriteSourceSize</key>
                <string>{232,207}</string>
                <key>textureRect</key>
                <string>{{215,598},{172,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/693/effect/col_action2/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-6}</string>
                <key>spriteSize</key>
                <string>{172,195}</string>
                <key>spriteSourceSize</key>
                <string>{232,207}</string>
                <key>textureRect</key>
                <string>{{404,416},{172,195}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/693/effect/col_action2/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-6}</string>
                <key>spriteSize</key>
                <string>{172,195}</string>
                <key>spriteSourceSize</key>
                <string>{232,207}</string>
                <key>textureRect</key>
                <string>{{414,590},{172,195}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/693/effect/col_action2/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-6}</string>
                <key>spriteSize</key>
                <string>{172,195}</string>
                <key>spriteSourceSize</key>
                <string>{232,207}</string>
                <key>textureRect</key>
                <string>{{735,566},{172,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/693/effect/col_action2/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-6}</string>
                <key>spriteSize</key>
                <string>{172,195}</string>
                <key>spriteSourceSize</key>
                <string>{232,207}</string>
                <key>textureRect</key>
                <string>{{781,763},{172,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/693/effect/col_action2/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-6}</string>
                <key>spriteSize</key>
                <string>{214,195}</string>
                <key>spriteSourceSize</key>
                <string>{232,207}</string>
                <key>textureRect</key>
                <string>{{1,1},{214,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/693/effect/col_action2/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-6}</string>
                <key>spriteSize</key>
                <string>{214,195}</string>
                <key>spriteSourceSize</key>
                <string>{232,207}</string>
                <key>textureRect</key>
                <string>{{1,198},{214,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/693/effect/col_action2/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{214,195}</string>
                <key>spriteSourceSize</key>
                <string>{232,207}</string>
                <key>textureRect</key>
                <string>{{217,1},{214,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/693/effect/col_action2/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{214,195}</string>
                <key>spriteSourceSize</key>
                <string>{232,207}</string>
                <key>textureRect</key>
                <string>{{1,395},{214,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/693/effect/col_action2/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{214,185}</string>
                <key>spriteSourceSize</key>
                <string>{232,207}</string>
                <key>textureRect</key>
                <string>{{433,1},{214,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/693/effect/col_action2/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{212,185}</string>
                <key>spriteSourceSize</key>
                <string>{232,207}</string>
                <key>textureRect</key>
                <string>{{1,592},{212,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/693/effect/col_action2/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-2}</string>
                <key>spriteSize</key>
                <string>{168,185}</string>
                <key>spriteSourceSize</key>
                <string>{232,207}</string>
                <key>textureRect</key>
                <string>{{217,428},{168,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/693/effect/col_action2/20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-2}</string>
                <key>spriteSize</key>
                <string>{140,185}</string>
                <key>spriteSourceSize</key>
                <string>{232,207}</string>
                <key>textureRect</key>
                <string>{{843,379},{140,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/693/effect/col_action2/21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-5}</string>
                <key>spriteSize</key>
                <string>{132,193}</string>
                <key>spriteSourceSize</key>
                <string>{232,207}</string>
                <key>textureRect</key>
                <string>{{473,764},{132,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/693/effect/col_action2/22</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-5}</string>
                <key>spriteSize</key>
                <string>{144,193}</string>
                <key>spriteSourceSize</key>
                <string>{232,207}</string>
                <key>textureRect</key>
                <string>{{698,173},{144,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/693/effect/col_action2/23</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-5}</string>
                <key>spriteSize</key>
                <string>{160,191}</string>
                <key>spriteSourceSize</key>
                <string>{232,207}</string>
                <key>textureRect</key>
                <string>{{844,186},{160,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/693/effect/col_action2/24</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-5}</string>
                <key>spriteSize</key>
                <string>{172,191}</string>
                <key>spriteSourceSize</key>
                <string>{232,207}</string>
                <key>textureRect</key>
                <string>{{607,772},{172,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/693/effect/col_action2/25</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{154,183}</string>
                <key>spriteSourceSize</key>
                <string>{232,207}</string>
                <key>textureRect</key>
                <string>{{854,1},{154,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/693/effect/col_action2/26</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{122,183}</string>
                <key>spriteSourceSize</key>
                <string>{232,207}</string>
                <key>textureRect</key>
                <string>{{611,587},{122,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/693/effect/col_action2/27</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-16}</string>
                <key>spriteSize</key>
                <string>{46,49}</string>
                <key>spriteSourceSize</key>
                <string>{232,207}</string>
                <key>textureRect</key>
                <string>{{955,733},{46,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/693/effect/col_action2/28</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{200,145}</string>
                <key>spriteSourceSize</key>
                <string>{232,207}</string>
                <key>textureRect</key>
                <string>{{551,188},{200,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/693/effect/col_action2/29</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-10}</string>
                <key>spriteSize</key>
                <string>{216,151}</string>
                <key>spriteSourceSize</key>
                <string>{232,207}</string>
                <key>textureRect</key>
                <string>{{398,198},{216,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/693/effect/col_action2/30</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-10}</string>
                <key>spriteSize</key>
                <string>{216,151}</string>
                <key>spriteSourceSize</key>
                <string>{232,207}</string>
                <key>textureRect</key>
                <string>{{398,198},{216,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/693/effect/col_action2/31</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{228,179}</string>
                <key>spriteSourceSize</key>
                <string>{232,207}</string>
                <key>textureRect</key>
                <string>{{217,198},{228,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action20.pvr.ccz</string>
            <key>size</key>
            <string>{1009,981}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90e7a3d8fe5b2ff196027f19ccac81ed:498ac951f7758f47ab80251e97901140:98ec4b5f3da3b367b0df440471cccb39$</string>
            <key>textureFileName</key>
            <string>col_action20.pvr.ccz</string>
        </dict>
    </dict>
</plist>
