<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingo1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,17}</string>
                <key>spriteSourceSize</key>
                <string>{49,45}</string>
                <key>textureRect</key>
                <string>{{246,222},{9,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingo10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,17}</string>
                <key>spriteSourceSize</key>
                <string>{49,45}</string>
                <key>textureRect</key>
                <string>{{194,243},{25,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingo11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,17}</string>
                <key>spriteSourceSize</key>
                <string>{49,45}</string>
                <key>textureRect</key>
                <string>{{235,32},{19,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingo12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,17}</string>
                <key>spriteSourceSize</key>
                <string>{49,45}</string>
                <key>textureRect</key>
                <string>{{223,203},{23,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingo13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,19}</string>
                <key>spriteSourceSize</key>
                <string>{49,45}</string>
                <key>textureRect</key>
                <string>{{221,222},{23,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingo14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,17}</string>
                <key>spriteSourceSize</key>
                <string>{49,45}</string>
                <key>textureRect</key>
                <string>{{221,243},{23,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingo15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,17}</string>
                <key>spriteSourceSize</key>
                <string>{49,45}</string>
                <key>textureRect</key>
                <string>{{234,262},{21,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingo16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,19}</string>
                <key>spriteSourceSize</key>
                <string>{49,45}</string>
                <key>textureRect</key>
                <string>{{184,262},{23,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingo17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,17}</string>
                <key>spriteSourceSize</key>
                <string>{49,45}</string>
                <key>textureRect</key>
                <string>{{234,281},{21,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingo18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,19}</string>
                <key>spriteSourceSize</key>
                <string>{49,45}</string>
                <key>textureRect</key>
                <string>{{209,262},{23,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingo19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,19}</string>
                <key>spriteSourceSize</key>
                <string>{49,45}</string>
                <key>textureRect</key>
                <string>{{184,283},{23,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingo2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,17}</string>
                <key>spriteSourceSize</key>
                <string>{49,45}</string>
                <key>textureRect</key>
                <string>{{240,179},{13,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingo20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,17}</string>
                <key>spriteSourceSize</key>
                <string>{49,45}</string>
                <key>textureRect</key>
                <string>{{235,1},{29,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingo21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,17}</string>
                <key>spriteSourceSize</key>
                <string>{49,45}</string>
                <key>textureRect</key>
                <string>{{209,283},{23,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingo22</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,17}</string>
                <key>spriteSourceSize</key>
                <string>{49,45}</string>
                <key>textureRect</key>
                <string>{{194,203},{27,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingo23</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,19}</string>
                <key>spriteSourceSize</key>
                <string>{49,45}</string>
                <key>textureRect</key>
                <string>{{155,256},{27,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingo24</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,19}</string>
                <key>spriteSourceSize</key>
                <string>{49,45}</string>
                <key>textureRect</key>
                <string>{{155,277},{27,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingo25</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,19}</string>
                <key>spriteSourceSize</key>
                <string>{49,45}</string>
                <key>textureRect</key>
                <string>{{194,222},{25,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingo3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,19}</string>
                <key>spriteSourceSize</key>
                <string>{49,45}</string>
                <key>textureRect</key>
                <string>{{219,101},{13,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingo4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,17}</string>
                <key>spriteSourceSize</key>
                <string>{49,45}</string>
                <key>textureRect</key>
                <string>{{240,122},{15,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingo5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,17}</string>
                <key>spriteSourceSize</key>
                <string>{49,45}</string>
                <key>textureRect</key>
                <string>{{212,116},{13,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingo6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,17}</string>
                <key>spriteSourceSize</key>
                <string>{49,45}</string>
                <key>textureRect</key>
                <string>{{240,141},{15,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingo7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,17}</string>
                <key>spriteSourceSize</key>
                <string>{49,45}</string>
                <key>textureRect</key>
                <string>{{212,135},{13,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingo8</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,19}</string>
                <key>spriteSourceSize</key>
                <string>{49,45}</string>
                <key>textureRect</key>
                <string>{{240,101},{15,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingo9</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,17}</string>
                <key>spriteSourceSize</key>
                <string>{49,45}</string>
                <key>textureRect</key>
                <string>{{240,160},{15,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingonumber_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,47}</string>
                <key>spriteSourceSize</key>
                <string>{33,47}</string>
                <key>textureRect</key>
                <string>{{219,52},{33,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingonumber_10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,49}</string>
                <key>spriteSourceSize</key>
                <string>{55,49}</string>
                <key>textureRect</key>
                <string>{{122,1},{55,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingonumber_11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,47}</string>
                <key>spriteSourceSize</key>
                <string>{48,47}</string>
                <key>textureRect</key>
                <string>{{118,103},{48,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingonumber_12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,49}</string>
                <key>spriteSourceSize</key>
                <string>{54,49}</string>
                <key>textureRect</key>
                <string>{{121,52},{54,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingonumber_13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,49}</string>
                <key>spriteSourceSize</key>
                <string>{54,49}</string>
                <key>textureRect</key>
                <string>{{179,1},{54,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingonumber_14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,47}</string>
                <key>spriteSourceSize</key>
                <string>{55,47}</string>
                <key>textureRect</key>
                <string>{{1,256},{55,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingonumber_15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,49}</string>
                <key>spriteSourceSize</key>
                <string>{54,49}</string>
                <key>textureRect</key>
                <string>{{1,205},{54,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingonumber_16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,49}</string>
                <key>spriteSourceSize</key>
                <string>{54,49}</string>
                <key>textureRect</key>
                <string>{{58,154},{54,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingonumber_17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,47}</string>
                <key>spriteSourceSize</key>
                <string>{54,47}</string>
                <key>textureRect</key>
                <string>{{58,256},{54,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingonumber_18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,49}</string>
                <key>spriteSourceSize</key>
                <string>{55,49}</string>
                <key>textureRect</key>
                <string>{{1,154},{55,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingonumber_19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,49}</string>
                <key>spriteSourceSize</key>
                <string>{55,49}</string>
                <key>textureRect</key>
                <string>{{61,103},{55,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingonumber_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,49}</string>
                <key>spriteSourceSize</key>
                <string>{39,49}</string>
                <key>textureRect</key>
                <string>{{111,205},{39,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingonumber_20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,49}</string>
                <key>spriteSourceSize</key>
                <string>{58,49}</string>
                <key>textureRect</key>
                <string>{{1,52},{58,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingonumber_21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,49}</string>
                <key>spriteSourceSize</key>
                <string>{52,49}</string>
                <key>textureRect</key>
                <string>{{57,205},{52,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingonumber_22</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,49}</string>
                <key>spriteSourceSize</key>
                <string>{58,49}</string>
                <key>textureRect</key>
                <string>{{62,1},{58,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingonumber_23</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,49}</string>
                <key>spriteSourceSize</key>
                <string>{58,49}</string>
                <key>textureRect</key>
                <string>{{1,103},{58,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingonumber_24</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,49}</string>
                <key>spriteSourceSize</key>
                <string>{59,49}</string>
                <key>textureRect</key>
                <string>{{1,1},{59,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingonumber_25</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,49}</string>
                <key>spriteSourceSize</key>
                <string>{58,49}</string>
                <key>textureRect</key>
                <string>{{61,52},{58,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingonumber_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,49}</string>
                <key>spriteSourceSize</key>
                <string>{40,49}</string>
                <key>textureRect</key>
                <string>{{177,52},{40,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingonumber_4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,47}</string>
                <key>spriteSourceSize</key>
                <string>{42,47}</string>
                <key>textureRect</key>
                <string>{{168,103},{42,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingonumber_5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,49}</string>
                <key>spriteSourceSize</key>
                <string>{40,49}</string>
                <key>textureRect</key>
                <string>{{114,154},{40,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingonumber_6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,49}</string>
                <key>spriteSourceSize</key>
                <string>{40,49}</string>
                <key>textureRect</key>
                <string>{{156,152},{40,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingonumber_7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,47}</string>
                <key>spriteSourceSize</key>
                <string>{39,47}</string>
                <key>textureRect</key>
                <string>{{114,256},{39,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingonumber_8</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,49}</string>
                <key>spriteSourceSize</key>
                <string>{40,49}</string>
                <key>textureRect</key>
                <string>{{198,152},{40,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/Thanksgiving2020/bingo/txt_bingonumber_9</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,49}</string>
                <key>spriteSourceSize</key>
                <string>{40,49}</string>
                <key>textureRect</key>
                <string>{{152,205},{40,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>bingo.pvr.ccz</string>
            <key>size</key>
            <string>{256,304}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1b05eaeb531fbc57ba8784466a66ba2:6b5838de914a1224165786fdb17a09dd:224e28a7b059dfab16a49e2e617a8a30$</string>
            <key>textureFileName</key>
            <string>bingo.pvr.ccz</string>
        </dict>
    </dict>
</plist>
