<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3219/effect/col_action_2/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-11}</string>
                <key>spriteSize</key>
                <string>{72,115}</string>
                <key>spriteSourceSize</key>
                <string>{540,591}</string>
                <key>textureRect</key>
                <string>{{957,1263},{72,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3219/effect/col_action_2/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,26}</string>
                <key>spriteSize</key>
                <string>{138,221}</string>
                <key>spriteSourceSize</key>
                <string>{540,591}</string>
                <key>textureRect</key>
                <string>{{1,1895},{138,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3219/effect/col_action_2/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,60}</string>
                <key>spriteSize</key>
                <string>{196,315}</string>
                <key>spriteSourceSize</key>
                <string>{540,591}</string>
                <key>textureRect</key>
                <string>{{1579,563},{196,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3219/effect/col_action_2/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,53}</string>
                <key>spriteSize</key>
                <string>{196,301}</string>
                <key>spriteSourceSize</key>
                <string>{540,591}</string>
                <key>textureRect</key>
                <string>{{1579,880},{196,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3219/effect/col_action_2/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,53}</string>
                <key>spriteSize</key>
                <string>{196,301}</string>
                <key>spriteSourceSize</key>
                <string>{540,591}</string>
                <key>textureRect</key>
                <string>{{572,1804},{196,301}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3219/effect/col_action_2/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,47}</string>
                <key>spriteSize</key>
                <string>{204,289}</string>
                <key>spriteSourceSize</key>
                <string>{540,591}</string>
                <key>textureRect</key>
                <string>{{541,1392},{204,289}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3219/effect/col_action_2/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,54}</string>
                <key>spriteSize</key>
                <string>{208,303}</string>
                <key>spriteSourceSize</key>
                <string>{540,591}</string>
                <key>textureRect</key>
                <string>{{267,1630},{208,303}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3219/effect/col_action_2/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,54}</string>
                <key>spriteSize</key>
                <string>{208,303}</string>
                <key>spriteSourceSize</key>
                <string>{540,591}</string>
                <key>textureRect</key>
                <string>{{541,1087},{208,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3219/effect/col_action_2/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,55}</string>
                <key>spriteSize</key>
                <string>{202,305}</string>
                <key>spriteSourceSize</key>
                <string>{540,591}</string>
                <key>textureRect</key>
                <string>{{1573,1183},{202,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3219/effect/col_action_2/20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,55}</string>
                <key>spriteSize</key>
                <string>{212,305}</string>
                <key>spriteSourceSize</key>
                <string>{540,591}</string>
                <key>textureRect</key>
                <string>{{1625,256},{212,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3219/effect/col_action_2/21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,51}</string>
                <key>spriteSize</key>
                <string>{204,297}</string>
                <key>spriteSourceSize</key>
                <string>{540,591}</string>
                <key>textureRect</key>
                <string>{{751,1086},{204,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3219/effect/col_action_2/22</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,51}</string>
                <key>spriteSize</key>
                <string>{204,297}</string>
                <key>spriteSourceSize</key>
                <string>{540,591}</string>
                <key>textureRect</key>
                <string>{{572,1598},{204,297}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3219/effect/col_action_2/23</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,48}</string>
                <key>spriteSize</key>
                <string>{192,289}</string>
                <key>spriteSourceSize</key>
                <string>{540,591}</string>
                <key>textureRect</key>
                <string>{{1777,563},{192,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3219/effect/col_action_2/24</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,45}</string>
                <key>spriteSize</key>
                <string>{192,283}</string>
                <key>spriteSourceSize</key>
                <string>{540,591}</string>
                <key>textureRect</key>
                <string>{{1777,854},{192,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3219/effect/col_action_2/25</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,45}</string>
                <key>spriteSize</key>
                <string>{192,283}</string>
                <key>spriteSourceSize</key>
                <string>{540,591}</string>
                <key>textureRect</key>
                <string>{{1777,1139},{192,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3219/effect/col_action_2/26</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,45}</string>
                <key>spriteSize</key>
                <string>{184,283}</string>
                <key>spriteSourceSize</key>
                <string>{540,591}</string>
                <key>textureRect</key>
                <string>{{1252,1786},{184,283}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3219/effect/col_action_2/27</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,45}</string>
                <key>spriteSize</key>
                <string>{184,283}</string>
                <key>spriteSourceSize</key>
                <string>{540,591}</string>
                <key>textureRect</key>
                <string>{{1537,1786},{184,283}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3219/effect/col_action_2/28</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,46}</string>
                <key>spriteSize</key>
                <string>{180,287}</string>
                <key>spriteSourceSize</key>
                <string>{540,591}</string>
                <key>textureRect</key>
                <string>{{1616,1490},{180,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3219/effect/col_action_2/29</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,47}</string>
                <key>spriteSize</key>
                <string>{180,289}</string>
                <key>spriteSourceSize</key>
                <string>{540,591}</string>
                <key>textureRect</key>
                <string>{{1252,1495},{180,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3219/effect/col_action_2/30</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,47}</string>
                <key>spriteSize</key>
                <string>{180,289}</string>
                <key>spriteSourceSize</key>
                <string>{540,591}</string>
                <key>textureRect</key>
                <string>{{1434,1495},{180,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3219/effect/col_action_2/31</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,51}</string>
                <key>spriteSize</key>
                <string>{186,297}</string>
                <key>spriteSourceSize</key>
                <string>{540,591}</string>
                <key>textureRect</key>
                <string>{{267,1840},{186,297}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3219/effect/col_action_2/35</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,55}</string>
                <key>spriteSize</key>
                <string>{194,299}</string>
                <key>spriteSourceSize</key>
                <string>{540,591}</string>
                <key>textureRect</key>
                <string>{{1056,1495},{194,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3219/effect/col_action_2/36</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,47}</string>
                <key>spriteSize</key>
                <string>{168,269}</string>
                <key>spriteSourceSize</key>
                <string>{540,591}</string>
                <key>textureRect</key>
                <string>{{1798,1424},{168,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3219/effect/col_action_2/37</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,36}</string>
                <key>spriteSize</key>
                <string>{142,235}</string>
                <key>spriteSourceSize</key>
                <string>{540,591}</string>
                <key>textureRect</key>
                <string>{{875,1798},{142,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3219/effect/col_action_2/38</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,28}</string>
                <key>spriteSize</key>
                <string>{124,207}</string>
                <key>spriteSourceSize</key>
                <string>{540,591}</string>
                <key>textureRect</key>
                <string>{{832,1385},{124,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3219/effect/col_action_2/39</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,18}</string>
                <key>spriteSize</key>
                <string>{114,175}</string>
                <key>spriteSourceSize</key>
                <string>{540,591}</string>
                <key>textureRect</key>
                <string>{{957,1086},{114,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3219/effect/col_action_2/41</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,7}</string>
                <key>spriteSize</key>
                <string>{100,141}</string>
                <key>spriteSourceSize</key>
                <string>{540,591}</string>
                <key>textureRect</key>
                <string>{{1839,419},{100,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3219/effect/col_action_2/42</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,11}</string>
                <key>spriteSize</key>
                <string>{102,149}</string>
                <key>spriteSourceSize</key>
                <string>{540,591}</string>
                <key>textureRect</key>
                <string>{{1019,1798},{102,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3219/effect/col_action_2/44</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,11}</string>
                <key>spriteSize</key>
                <string>{100,149}</string>
                <key>spriteSourceSize</key>
                <string>{540,591}</string>
                <key>textureRect</key>
                <string>{{1822,1695},{100,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3219/effect/col_action_2/46</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,11}</string>
                <key>spriteSize</key>
                <string>{104,149}</string>
                <key>spriteSourceSize</key>
                <string>{540,591}</string>
                <key>textureRect</key>
                <string>{{1123,1796},{104,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3219/effect/col_action_2/47</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,9}</string>
                <key>spriteSize</key>
                <string>{100,145}</string>
                <key>spriteSourceSize</key>
                <string>{540,591}</string>
                <key>textureRect</key>
                <string>{{1822,1846},{100,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3219/effect/col_action_2/48</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,8}</string>
                <key>spriteSize</key>
                <string>{94,141}</string>
                <key>spriteSourceSize</key>
                <string>{540,591}</string>
                <key>textureRect</key>
                <string>{{958,1380},{94,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3219/effect/col_action_2/49</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{116,161}</string>
                <key>spriteSourceSize</key>
                <string>{540,591}</string>
                <key>textureRect</key>
                <string>{{1839,256},{116,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3219/effect/col_action_2/50</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-27}</string>
                <key>spriteSize</key>
                <string>{264,263}</string>
                <key>spriteSourceSize</key>
                <string>{540,591}</string>
                <key>textureRect</key>
                <string>{{1,1630},{264,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3219/effect/col_action_2/52</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-28}</string>
                <key>spriteSize</key>
                <string>{486,489}</string>
                <key>spriteSourceSize</key>
                <string>{540,591}</string>
                <key>textureRect</key>
                <string>{{1082,1007},{486,489}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3219/effect/col_action_2/53</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-25}</string>
                <key>spriteSize</key>
                <string>{538,541}</string>
                <key>spriteSourceSize</key>
                <string>{540,591}</string>
                <key>textureRect</key>
                <string>{{543,1},{538,541}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3219/effect/col_action_2/54</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-25}</string>
                <key>spriteSize</key>
                <string>{538,541}</string>
                <key>spriteSourceSize</key>
                <string>{540,591}</string>
                <key>textureRect</key>
                <string>{{1,1087},{538,541}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3219/effect/col_action_2/64</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-25}</string>
                <key>spriteSize</key>
                <string>{540,541}</string>
                <key>spriteSourceSize</key>
                <string>{540,591}</string>
                <key>textureRect</key>
                <string>{{1,1},{540,541}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3219/effect/col_action_2/65</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-25}</string>
                <key>spriteSize</key>
                <string>{540,541}</string>
                <key>spriteSourceSize</key>
                <string>{540,591}</string>
                <key>textureRect</key>
                <string>{{1,544},{540,541}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3219/effect/col_action_2/66</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-27}</string>
                <key>spriteSize</key>
                <string>{540,537}</string>
                <key>spriteSourceSize</key>
                <string>{540,591}</string>
                <key>textureRect</key>
                <string>{{543,544},{540,537}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3219/effect/col_action_2/67</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-27}</string>
                <key>spriteSize</key>
                <string>{540,537}</string>
                <key>spriteSourceSize</key>
                <string>{540,591}</string>
                <key>textureRect</key>
                <string>{{1083,1},{540,537}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3219/effect/col_action_2/68</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-44}</string>
                <key>spriteSize</key>
                <string>{494,465}</string>
                <key>spriteSourceSize</key>
                <string>{540,591}</string>
                <key>textureRect</key>
                <string>{{1083,540},{494,465}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3219/effect/col_action_2/73</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-34}</string>
                <key>spriteSize</key>
                <string>{264,253}</string>
                <key>spriteSourceSize</key>
                <string>{540,591}</string>
                <key>textureRect</key>
                <string>{{1625,1},{264,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3219/effect/col_action_2/74</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-34}</string>
                <key>spriteSize</key>
                <string>{202,183}</string>
                <key>spriteSourceSize</key>
                <string>{540,591}</string>
                <key>textureRect</key>
                <string>{{871,1594},{202,183}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action_21.pvr.ccz</string>
            <key>size</key>
            <string>{1970,2034}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:111d2608c395ff8e092bc7c83938cbb0:8e472e146137b889d77a7163ab8d3d3a:9cfbe8c80550153b07d157928a60db42$</string>
            <key>textureFileName</key>
            <string>col_action_21.pvr.ccz</string>
        </dict>
    </dict>
</plist>
