<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3296/effect/col_action2/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-46}</string>
                <key>spriteSize</key>
                <string>{172,118}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{1813,731},{172,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3296/effect/col_action2/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-24}</string>
                <key>spriteSize</key>
                <string>{238,120}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{1813,1},{238,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3296/effect/col_action2/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-24}</string>
                <key>spriteSize</key>
                <string>{240,118}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{1813,489},{240,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3296/effect/col_action2/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-26}</string>
                <key>spriteSize</key>
                <string>{246,118}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{1813,241},{246,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3296/effect/col_action2/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-31}</string>
                <key>spriteSize</key>
                <string>{256,122}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{971,1},{256,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3296/effect/col_action2/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-30}</string>
                <key>spriteSize</key>
                <string>{362,116}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{1,1505},{362,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3296/effect/col_action2/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-26}</string>
                <key>spriteSize</key>
                <string>{406,124}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{1809,905},{406,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3296/effect/col_action2/21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-7}</string>
                <key>spriteSize</key>
                <string>{488,216}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{1231,1683},{488,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3296/effect/col_action2/24</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{750,280}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{629,753},{750,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3296/effect/col_action2/25</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{750,300}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{333,1},{750,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3296/effect/col_action2/27</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{750,308}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{319,753},{750,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3296/effect/col_action2/28</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{750,316}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{1,753},{750,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3296/effect/col_action2/30</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{750,330}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{1,1},{750,330}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3296/effect/col_action2/32</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-11}</string>
                <key>spriteSize</key>
                <string>{740,334}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{635,1},{740,334}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3296/effect/col_action2/34</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{548,338}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{119,1505},{548,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3296/effect/col_action2/37</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{560,314}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{669,1505},{560,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3296/effect/col_action2/44</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,24}</string>
                <key>spriteSize</key>
                <string>{576,294}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{1231,879},{576,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3296/effect/col_action2/45</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,24}</string>
                <key>spriteSize</key>
                <string>{574,294}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{911,743},{574,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3296/effect/col_action2/46</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,24}</string>
                <key>spriteSize</key>
                <string>{580,296}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{1231,1},{580,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3296/effect/col_action2/47</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,25}</string>
                <key>spriteSize</key>
                <string>{580,292}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{1231,299},{580,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3296/effect/col_action2/49</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,26}</string>
                <key>spriteSize</key>
                <string>{576,286}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{1231,1175},{576,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3296/effect/col_action2/50</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,27}</string>
                <key>spriteSize</key>
                <string>{580,284}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{1231,593},{580,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3296/effect/col_action2/51</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{576,224}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{971,125},{576,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3296/effect/col_action2/53</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{534,218}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{1231,1463},{534,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action21.pvr.ccz</string>
            <key>size</key>
            <string>{1934,1900}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e26b4f42984048313c47a318a0123e7a:afce7f5c1fb6d1cf19a7023d75698a84:afeb069948a2d5b73bc0123ef0ed95e9$</string>
            <key>textureFileName</key>
            <string>col_action21.pvr.ccz</string>
        </dict>
    </dict>
</plist>
