<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-12,-78}</string>
			<key>spriteSize</key>
			<string>{89,18}</string>
			<key>spriteSourceSize</key>
			<string>{263,210}</string>
			<key>textureRect</key>
			<string>{{979,1},{89,18}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-12,-79}</string>
			<key>spriteSize</key>
			<string>{109,22}</string>
			<key>spriteSourceSize</key>
			<string>{263,210}</string>
			<key>textureRect</key>
			<string>{{955,1},{109,22}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-12,3}</string>
			<key>spriteSize</key>
			<string>{127,190}</string>
			<key>spriteSourceSize</key>
			<string>{263,210}</string>
			<key>textureRect</key>
			<string>{{793,349},{127,190}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-12,3}</string>
			<key>spriteSize</key>
			<string>{141,192}</string>
			<key>spriteSourceSize</key>
			<string>{263,210}</string>
			<key>textureRect</key>
			<string>{{401,344},{141,192}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-12,2}</string>
			<key>spriteSize</key>
			<string>{151,194}</string>
			<key>spriteSourceSize</key>
			<string>{263,210}</string>
			<key>textureRect</key>
			<string>{{597,197},{151,194}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-12,1}</string>
			<key>spriteSize</key>
			<string>{159,194}</string>
			<key>spriteSourceSize</key>
			<string>{263,210}</string>
			<key>textureRect</key>
			<string>{{401,183},{159,194}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,1}</string>
			<key>spriteSize</key>
			<string>{195,194}</string>
			<key>spriteSourceSize</key>
			<string>{263,210}</string>
			<key>textureRect</key>
			<string>{{718,1},{195,194}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,-16}</string>
			<key>spriteSize</key>
			<string>{195,162}</string>
			<key>spriteSourceSize</key>
			<string>{263,210}</string>
			<key>textureRect</key>
			<string>{{204,183},{195,162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-10}</string>
			<key>spriteSize</key>
			<string>{201,174}</string>
			<key>spriteSourceSize</key>
			<string>{263,210}</string>
			<key>textureRect</key>
			<string>{{1,183},{201,174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-7}</string>
			<key>spriteSize</key>
			<string>{237,180}</string>
			<key>spriteSourceSize</key>
			<string>{263,210}</string>
			<key>textureRect</key>
			<string>{{1,1},{237,180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-7}</string>
			<key>spriteSize</key>
			<string>{237,180}</string>
			<key>spriteSourceSize</key>
			<string>{263,210}</string>
			<key>textureRect</key>
			<string>{{240,1},{237,180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-7}</string>
			<key>spriteSize</key>
			<string>{237,180}</string>
			<key>spriteSourceSize</key>
			<string>{263,210}</string>
			<key>textureRect</key>
			<string>{{479,1},{237,180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-12,-21}</string>
			<key>spriteSize</key>
			<string>{165,152}</string>
			<key>spriteSourceSize</key>
			<string>{263,210}</string>
			<key>textureRect</key>
			<string>{{204,347},{165,152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-12,-21}</string>
			<key>spriteSize</key>
			<string>{165,152}</string>
			<key>spriteSourceSize</key>
			<string>{263,210}</string>
			<key>textureRect</key>
			<string>{{204,347},{165,152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-12,-21}</string>
			<key>spriteSize</key>
			<string>{165,152}</string>
			<key>spriteSourceSize</key>
			<string>{263,210}</string>
			<key>textureRect</key>
			<string>{{204,347},{165,152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>15</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-12,-21}</string>
			<key>spriteSize</key>
			<string>{165,152}</string>
			<key>spriteSourceSize</key>
			<string>{263,210}</string>
			<key>textureRect</key>
			<string>{{204,347},{165,152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>16</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-12,-21}</string>
			<key>spriteSize</key>
			<string>{165,152}</string>
			<key>spriteSourceSize</key>
			<string>{263,210}</string>
			<key>textureRect</key>
			<string>{{204,347},{165,152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>17</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-12,-21}</string>
			<key>spriteSize</key>
			<string>{165,152}</string>
			<key>spriteSourceSize</key>
			<string>{263,210}</string>
			<key>textureRect</key>
			<string>{{1,359},{165,152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>18</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-12,-21}</string>
			<key>spriteSize</key>
			<string>{163,150}</string>
			<key>spriteSourceSize</key>
			<string>{263,210}</string>
			<key>textureRect</key>
			<string>{{793,197},{163,150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>19</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-12,-20}</string>
			<key>spriteSize</key>
			<string>{145,148}</string>
			<key>spriteSourceSize</key>
			<string>{263,210}</string>
			<key>textureRect</key>
			<string>{{595,350},{145,148}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>20</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-12,-71}</string>
			<key>spriteSize</key>
			<string>{111,38}</string>
			<key>spriteSourceSize</key>
			<string>{263,210}</string>
			<key>textureRect</key>
			<string>{{915,1},{111,38}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>21</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-12,-77}</string>
			<key>spriteSize</key>
			<string>{71,18}</string>
			<key>spriteSourceSize</key>
			<string>{263,210}</string>
			<key>textureRect</key>
			<string>{{999,1},{71,18}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>22</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-12,-77}</string>
			<key>spriteSize</key>
			<string>{31,8}</string>
			<key>spriteSourceSize</key>
			<string>{263,210}</string>
			<key>textureRect</key>
			<string>{{999,74},{31,8}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action10.pvr.ccz</string>
		<key>size</key>
		<string>{1018,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:3feef473749b5311efa48baf43756ed7:13ceca149b4c962c2267b821231ee9c0:fd6dfe3ee94267230ed6425290acf6b5$</string>
		<key>textureFileName</key>
		<string>col_action10.pvr.ccz</string>
	</dict>
</dict>
</plist>
