<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/10/effect/adv_action1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,120}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{266,169},{200,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/10/effect/adv_action2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,120}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{1,179},{200,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/10/effect/col_action1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,166}</string>
                <key>spriteSourceSize</key>
                <string>{230,166}</string>
                <key>textureRect</key>
                <string>{{266,1},{230,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/10/effect/col_action2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,8}</string>
                <key>spriteSize</key>
                <string>{263,176}</string>
                <key>spriteSourceSize</key>
                <string>{307,194}</string>
                <key>textureRect</key>
                <string>{{1,1},{263,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>effect.pvr.ccz</string>
            <key>size</key>
            <string>{497,300}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76850ba0e7540e3d0c540533572a3e79:fffe4124b6f8ea577226ab1e1b086606:e0fdcd92bbdb8ab6858982d39ba3f2d9$</string>
            <key>textureFileName</key>
            <string>effect.pvr.ccz</string>
        </dict>
    </dict>
</plist>
