<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/guild/guild_war/bt_buff</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,40}</string>
                <key>spriteSourceSize</key>
                <string>{112,40}</string>
                <key>textureRect</key>
                <string>{{633,1661},{112,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/bt_buff_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,40}</string>
                <key>spriteSourceSize</key>
                <string>{112,40}</string>
                <key>textureRect</key>
                <string>{{477,1416},{112,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/bt_cancel</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,43}</string>
                <key>spriteSourceSize</key>
                <string>{149,43}</string>
                <key>textureRect</key>
                <string>{{284,1755},{149,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/bt_cancel_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,43}</string>
                <key>spriteSourceSize</key>
                <string>{149,43}</string>
                <key>textureRect</key>
                <string>{{802,483},{149,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/bt_dragonbg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,242}</string>
                <key>spriteSourceSize</key>
                <string>{174,242}</string>
                <key>textureRect</key>
                <string>{{669,1173},{174,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/bt_dragonselect</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,242}</string>
                <key>spriteSourceSize</key>
                <string>{174,242}</string>
                <key>textureRect</key>
                <string>{{457,1459},{174,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/bt_dragonselect_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,242}</string>
                <key>spriteSourceSize</key>
                <string>{174,242}</string>
                <key>textureRect</key>
                <string>{{633,1417},{174,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/bt_info</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,39}</string>
                <key>spriteSourceSize</key>
                <string>{37,39}</string>
                <key>textureRect</key>
                <string>{{591,1416},{37,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/bt_ok</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,43}</string>
                <key>spriteSourceSize</key>
                <string>{149,43}</string>
                <key>textureRect</key>
                <string>{{802,634},{149,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/bt_ok_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,43}</string>
                <key>spriteSourceSize</key>
                <string>{149,43}</string>
                <key>textureRect</key>
                <string>{{243,1800},{149,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/bt_save</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,43}</string>
                <key>spriteSourceSize</key>
                <string>{149,43}</string>
                <key>textureRect</key>
                <string>{{802,785},{149,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/bt_save_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,43}</string>
                <key>spriteSourceSize</key>
                <string>{149,43}</string>
                <key>textureRect</key>
                <string>{{800,936},{149,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/frame_clear</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{747,1661},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/frame_guildwar_bg1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{454,294}</string>
                <key>spriteSourceSize</key>
                <string>{454,294}</string>
                <key>textureRect</key>
                <string>{{1,1459},{454,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/frame_guildwar_bg2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,241}</string>
                <key>spriteSourceSize</key>
                <string>{190,241}</string>
                <key>textureRect</key>
                <string>{{477,1173},{190,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/frame_guildwar_bg3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,284}</string>
                <key>spriteSourceSize</key>
                <string>{474,284}</string>
                <key>textureRect</key>
                <string>{{1,1173},{474,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/frame_guildwar_bg4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,40}</string>
                <key>spriteSourceSize</key>
                <string>{430,40}</string>
                <key>textureRect</key>
                <string>{{803,1},{430,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/frame_guildwar_bg5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{770,412}</string>
                <key>spriteSourceSize</key>
                <string>{770,412}</string>
                <key>textureRect</key>
                <string>{{1,483},{770,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/frame_guildwar_bg7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{710,274}</string>
                <key>spriteSourceSize</key>
                <string>{710,274}</string>
                <key>textureRect</key>
                <string>{{1,897},{710,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/frame_guildwar_mainbg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,480}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/icon_Medal</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,75}</string>
                <key>spriteSourceSize</key>
                <string>{89,75}</string>
                <key>textureRect</key>
                <string>{{677,1758},{89,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/title_Ranking</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,53}</string>
                <key>spriteSourceSize</key>
                <string>{240,53}</string>
                <key>textureRect</key>
                <string>{{1,1786},{240,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/title_Ranking_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,53}</string>
                <key>spriteSourceSize</key>
                <string>{240,53}</string>
                <key>textureRect</key>
                <string>{{745,897},{240,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/title_defenddeck</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,53}</string>
                <key>spriteSourceSize</key>
                <string>{240,53}</string>
                <key>textureRect</key>
                <string>{{457,1703},{240,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/title_defenddeck_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,53}</string>
                <key>spriteSourceSize</key>
                <string>{240,53}</string>
                <key>textureRect</key>
                <string>{{435,1758},{240,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/txt_beta</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,23}</string>
                <key>spriteSourceSize</key>
                <string>{57,23}</string>
                <key>textureRect</key>
                <string>{{1,1841},{57,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/txt_defendok</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,30}</string>
                <key>spriteSourceSize</key>
                <string>{266,30}</string>
                <key>textureRect</key>
                <string>{{713,897},{266,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_war/txt_defendok_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,54}</string>
                <key>spriteSourceSize</key>
                <string>{235,54}</string>
                <key>textureRect</key>
                <string>{{394,1813},{235,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/txt_guildmatch</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,29}</string>
                <key>spriteSourceSize</key>
                <string>{281,29}</string>
                <key>textureRect</key>
                <string>{{1,1755},{281,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_war/txt_guildmatch_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,27}</string>
                <key>spriteSourceSize</key>
                <string>{358,27}</string>
                <key>textureRect</key>
                <string>{{773,483},{358,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>guild_war.pvr.ccz</string>
            <key>size</key>
            <string>{846,1868}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e37c37aba32789a2e1f655ec33c5014:bc0c8818965a12590fd99a4198dbc9e6:ab28856c960226b2cd8f9a16c579fc15$</string>
            <key>textureFileName</key>
            <string>guild_war.pvr.ccz</string>
        </dict>
    </dict>
</plist>
