<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/guild/guild_cave/back_item</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,47}</string>
                <key>spriteSourceSize</key>
                <string>{47,47}</string>
                <key>textureRect</key>
                <string>{{313,171},{47,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/back_under</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,59}</string>
                <key>spriteSourceSize</key>
                <string>{35,59}</string>
                <key>textureRect</key>
                <string>{{166,194},{35,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/bag_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,37}</string>
                <key>spriteSourceSize</key>
                <string>{79,37}</string>
                <key>textureRect</key>
                <string>{{473,1},{79,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/bag_icon_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{69,64}</string>
                <key>spriteSourceSize</key>
                <string>{73,64}</string>
                <key>textureRect</key>
                <string>{{238,108},{69,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/bag_icon_bt_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{69,64}</string>
                <key>spriteSourceSize</key>
                <string>{73,64}</string>
                <key>textureRect</key>
                <string>{{167,128},{69,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/bar_blue</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,18}</string>
                <key>spriteSourceSize</key>
                <string>{235,18}</string>
                <key>textureRect</key>
                <string>{{1,108},{235,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/book</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,24}</string>
                <key>spriteSourceSize</key>
                <string>{40,24}</string>
                <key>textureRect</key>
                <string>{{417,198},{40,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/book_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,23}</string>
                <key>spriteSourceSize</key>
                <string>{54,23}</string>
                <key>textureRect</key>
                <string>{{313,220},{54,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/bottom_potion_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{395,59}</string>
                <key>spriteSourceSize</key>
                <string>{395,59}</string>
                <key>textureRect</key>
                <string>{{1,1},{395,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/draw_icon_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,64}</string>
                <key>spriteSourceSize</key>
                <string>{73,64}</string>
                <key>textureRect</key>
                <string>{{398,1},{73,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/draw_icon_bt_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,64}</string>
                <key>spriteSourceSize</key>
                <string>{73,64}</string>
                <key>textureRect</key>
                <string>{{304,62},{73,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/eval_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,29}</string>
                <key>spriteSourceSize</key>
                <string>{164,29}</string>
                <key>textureRect</key>
                <string>{{1,128},{164,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/gem_draw_icon_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,64}</string>
                <key>spriteSourceSize</key>
                <string>{73,64}</string>
                <key>textureRect</key>
                <string>{{379,67},{73,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/gem_draw_icon_bt_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,64}</string>
                <key>spriteSourceSize</key>
                <string>{73,64}</string>
                <key>textureRect</key>
                <string>{{238,179},{73,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/gem_enhance</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,26}</string>
                <key>spriteSourceSize</key>
                <string>{68,26}</string>
                <key>textureRect</key>
                <string>{{138,159},{68,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/gem_enhance_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,37}</string>
                <key>spriteSourceSize</key>
                <string>{78,37}</string>
                <key>textureRect</key>
                <string>{{364,133},{78,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/gem_synthetic</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,24}</string>
                <key>spriteSourceSize</key>
                <string>{64,24}</string>
                <key>textureRect</key>
                <string>{{362,172},{64,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/gem_synthetic_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,39}</string>
                <key>spriteSourceSize</key>
                <string>{84,39}</string>
                <key>textureRect</key>
                <string>{{1,159},{84,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/item</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,13}</string>
                <key>spriteSourceSize</key>
                <string>{30,13}</string>
                <key>textureRect</key>
                <string>{{492,160},{30,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/left</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,46}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{369,198},{34,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/left_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,36}</string>
                <key>spriteSourceSize</key>
                <string>{25,36}</string>
                <key>textureRect</key>
                <string>{{477,196},{25,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/lvlup</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,24}</string>
                <key>spriteSourceSize</key>
                <string>{59,24}</string>
                <key>textureRect</key>
                <string>{{444,134},{59,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/lvlup_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,41}</string>
                <key>spriteSourceSize</key>
                <string>{58,41}</string>
                <key>textureRect</key>
                <string>{{304,128},{58,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/potion</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,15}</string>
                <key>spriteSourceSize</key>
                <string>{50,17}</string>
                <key>textureRect</key>
                <string>{{42,222},{48,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/right</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,46}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{444,160},{34,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/right_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,61}</string>
                <key>spriteSourceSize</key>
                <string>{94,61}</string>
                <key>textureRect</key>
                <string>{{42,159},{94,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/skill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,17}</string>
                <key>spriteSourceSize</key>
                <string>{30,17}</string>
                <key>textureRect</key>
                <string>{{92,222},{30,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/skill_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,54}</string>
                <key>spriteSourceSize</key>
                <string>{50,54}</string>
                <key>textureRect</key>
                <string>{{454,82},{50,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/guild/guild_cave/star</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,33}</string>
                <key>spriteSourceSize</key>
                <string>{32,33}</string>
                <key>textureRect</key>
                <string>{{443,196},{32,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/guild_cave/top_dragon-name-box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,44}</string>
                <key>spriteSourceSize</key>
                <string>{301,44}</string>
                <key>textureRect</key>
                <string>{{1,62},{301,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>guild_cave.pvr.ccz</string>
            <key>size</key>
            <string>{511,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c76a75d8c2acbcf46361b12617679ba:2546c44d417f9ea139d4cdd55c799277:7f7629308560620615618ef260435836$</string>
            <key>textureFileName</key>
            <string>guild_cave.pvr.ccz</string>
        </dict>
    </dict>
</plist>
