<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/guild/icon/Gicon_medium_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/icon/Gicon_medium_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{63,1},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/icon/Gicon_medium_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{125,1},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/icon/Gicon_medium_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{187,1},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/icon/Gicon_medium_4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{249,1},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/icon/Gicon_medium_5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{311,1},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/icon/Gicon_medium_6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{373,1},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/icon/Gicon_medium_7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{435,1},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/icon/Gicon_medium_8</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{497,1},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/icon/Gicon_medium_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{559,1},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/icon/Gicon_small_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{621,1},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/icon/Gicon_small_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{621,33},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/icon/Gicon_small_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{653,1},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/icon/Gicon_small_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{653,33},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/icon/Gicon_small_4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{685,1},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/icon/Gicon_small_5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{685,33},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/icon/Gicon_small_6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{717,1},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/icon/Gicon_small_7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{717,33},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/icon/Gicon_small_8</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{749,1},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/guild/icon/Gicon_small_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{749,33},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>icon.pvr.ccz</string>
            <key>size</key>
            <string>{780,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53bcfe935cf4f7642a3131dffe27711d:1c5dc414dbb2cca65eb0bb8562ee10fb:11ef962a08ee8f0dba0cbe0f10ad5890$</string>
            <key>textureFileName</key>
            <string>icon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
