<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,99}</string>
			<key>spriteSize</key>
			<string>{40,92}</string>
			<key>spriteSourceSize</key>
			<string>{276,290}</string>
			<key>textureRect</key>
			<string>{{187,1097},{40,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,97}</string>
			<key>spriteSize</key>
			<string>{40,92}</string>
			<key>spriteSourceSize</key>
			<string>{276,290}</string>
			<key>textureRect</key>
			<string>{{181,1191},{40,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,92}</string>
			<key>spriteSize</key>
			<string>{40,92}</string>
			<key>spriteSourceSize</key>
			<string>{276,290}</string>
			<key>textureRect</key>
			<string>{{181,1285},{40,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,85}</string>
			<key>spriteSize</key>
			<string>{40,92}</string>
			<key>spriteSourceSize</key>
			<string>{276,290}</string>
			<key>textureRect</key>
			<string>{{127,1307},{40,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,73}</string>
			<key>spriteSize</key>
			<string>{40,92}</string>
			<key>spriteSourceSize</key>
			<string>{276,290}</string>
			<key>textureRect</key>
			<string>{{169,1379},{40,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,56}</string>
			<key>spriteSize</key>
			<string>{40,92}</string>
			<key>spriteSourceSize</key>
			<string>{276,290}</string>
			<key>textureRect</key>
			<string>{{127,1401},{40,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,30}</string>
			<key>spriteSize</key>
			<string>{40,92}</string>
			<key>spriteSourceSize</key>
			<string>{276,290}</string>
			<key>textureRect</key>
			<string>{{211,1379},{40,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-13}</string>
			<key>spriteSize</key>
			<string>{40,92}</string>
			<key>spriteSourceSize</key>
			<string>{276,290}</string>
			<key>textureRect</key>
			<string>{{169,1473},{40,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-58}</string>
			<key>spriteSize</key>
			<string>{40,92}</string>
			<key>spriteSourceSize</key>
			<string>{276,290}</string>
			<key>textureRect</key>
			<string>{{211,1473},{40,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-53}</string>
			<key>spriteSize</key>
			<string>{40,92}</string>
			<key>spriteSourceSize</key>
			<string>{276,290}</string>
			<key>textureRect</key>
			<string>{{1,1491},{40,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-52}</string>
			<key>spriteSize</key>
			<string>{40,92}</string>
			<key>spriteSourceSize</key>
			<string>{276,290}</string>
			<key>textureRect</key>
			<string>{{43,1491},{40,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-53}</string>
			<key>spriteSize</key>
			<string>{40,92}</string>
			<key>spriteSourceSize</key>
			<string>{276,290}</string>
			<key>textureRect</key>
			<string>{{85,1491},{40,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-54}</string>
			<key>spriteSize</key>
			<string>{40,92}</string>
			<key>spriteSourceSize</key>
			<string>{276,290}</string>
			<key>textureRect</key>
			<string>{{127,1495},{40,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-56}</string>
			<key>spriteSize</key>
			<string>{50,92}</string>
			<key>spriteSourceSize</key>
			<string>{276,290}</string>
			<key>textureRect</key>
			<string>{{187,1003},{50,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-55}</string>
			<key>spriteSize</key>
			<string>{182,124}</string>
			<key>spriteSourceSize</key>
			<string>{276,290}</string>
			<key>textureRect</key>
			<string>{{1,1307},{182,124}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>15</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-53}</string>
			<key>spriteSize</key>
			<string>{242,166}</string>
			<key>spriteSourceSize</key>
			<string>{276,290}</string>
			<key>textureRect</key>
			<string>{{1,687},{242,166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>16</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,-53}</string>
			<key>spriteSize</key>
			<string>{244,166}</string>
			<key>spriteSourceSize</key>
			<string>{276,290}</string>
			<key>textureRect</key>
			<string>{{1,519},{244,166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>17</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,-52}</string>
			<key>spriteSize</key>
			<string>{248,170}</string>
			<key>spriteSourceSize</key>
			<string>{276,290}</string>
			<key>textureRect</key>
			<string>{{1,347},{248,170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>18</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-52}</string>
			<key>spriteSize</key>
			<string>{252,170}</string>
			<key>spriteSourceSize</key>
			<string>{276,290}</string>
			<key>textureRect</key>
			<string>{{1,175},{252,170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>19</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-51}</string>
			<key>spriteSize</key>
			<string>{254,172}</string>
			<key>spriteSourceSize</key>
			<string>{276,290}</string>
			<key>textureRect</key>
			<string>{{1,1},{254,172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>20</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-54}</string>
			<key>spriteSize</key>
			<string>{238,146}</string>
			<key>spriteSourceSize</key>
			<string>{276,290}</string>
			<key>textureRect</key>
			<string>{{1,855},{238,146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>21</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-54}</string>
			<key>spriteSize</key>
			<string>{178,150}</string>
			<key>spriteSourceSize</key>
			<string>{276,290}</string>
			<key>textureRect</key>
			<string>{{1,1155},{178,150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>22</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-54}</string>
			<key>spriteSize</key>
			<string>{184,150}</string>
			<key>spriteSourceSize</key>
			<string>{276,290}</string>
			<key>textureRect</key>
			<string>{{1,1003},{184,150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>23</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-79,-52}</string>
			<key>spriteSize</key>
			<string>{16,16}</string>
			<key>spriteSourceSize</key>
			<string>{276,290}</string>
			<key>textureRect</key>
			<string>{{239,1003},{16,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action10.pvr.ccz</string>
		<key>size</key>
		<string>{256,1588}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:52176ede3c60ca3229bf90dbf085c24b:2dfed2aea6b743ab2585f28a56c235a6:fd6dfe3ee94267230ed6425290acf6b5$</string>
		<key>textureFileName</key>
		<string>col_action10.pvr.ccz</string>
	</dict>
</dict>
</plist>
