<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,31}</string>
			<key>spriteSize</key>
			<string>{42,40}</string>
			<key>spriteSourceSize</key>
			<string>{200,120}</string>
			<key>textureRect</key>
			<string>{{85,449},{42,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,36}</string>
			<key>spriteSize</key>
			<string>{42,40}</string>
			<key>spriteSourceSize</key>
			<string>{200,120}</string>
			<key>textureRect</key>
			<string>{{85,491},{42,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,39}</string>
			<key>spriteSize</key>
			<string>{44,38}</string>
			<key>spriteSourceSize</key>
			<string>{200,120}</string>
			<key>textureRect</key>
			<string>{{39,449},{44,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,41}</string>
			<key>spriteSize</key>
			<string>{42,38}</string>
			<key>spriteSourceSize</key>
			<string>{200,120}</string>
			<key>textureRect</key>
			<string>{{39,529},{42,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,21}</string>
			<key>spriteSize</key>
			<string>{44,38}</string>
			<key>spriteSourceSize</key>
			<string>{200,120}</string>
			<key>textureRect</key>
			<string>{{39,489},{44,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-8,8}</string>
			<key>spriteSize</key>
			<string>{114,86}</string>
			<key>spriteSourceSize</key>
			<string>{200,120}</string>
			<key>textureRect</key>
			<string>{{1,361},{114,86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{12,9}</string>
			<key>spriteSize</key>
			<string>{114,88}</string>
			<key>spriteSourceSize</key>
			<string>{200,120}</string>
			<key>textureRect</key>
			<string>{{1,181},{114,88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,10}</string>
			<key>spriteSize</key>
			<string>{126,88}</string>
			<key>spriteSourceSize</key>
			<string>{200,120}</string>
			<key>textureRect</key>
			<string>{{1,1},{126,88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-8,9}</string>
			<key>spriteSize</key>
			<string>{114,88}</string>
			<key>spriteSourceSize</key>
			<string>{200,120}</string>
			<key>textureRect</key>
			<string>{{1,271},{114,88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{12,9}</string>
			<key>spriteSize</key>
			<string>{114,88}</string>
			<key>spriteSourceSize</key>
			<string>{200,120}</string>
			<key>textureRect</key>
			<string>{{1,181},{114,88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,10}</string>
			<key>spriteSize</key>
			<string>{126,88}</string>
			<key>spriteSourceSize</key>
			<string>{200,120}</string>
			<key>textureRect</key>
			<string>{{1,91},{126,88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,34}</string>
			<key>spriteSize</key>
			<string>{88,36}</string>
			<key>spriteSourceSize</key>
			<string>{200,120}</string>
			<key>textureRect</key>
			<string>{{1,449},{88,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action20.pvr.ccz</string>
		<key>size</key>
		<string>{128,568}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:aa5fc4c31d0fe1599f55adb4508f05cb:b1526a177b56459e534e09fb901c26a7:98ec4b5f3da3b367b0df440471cccb39$</string>
		<key>textureFileName</key>
		<string>col_action20.pvr.ccz</string>
	</dict>
</dict>
</plist>
