<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/981/effect/col_action1/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,3}</string>
                <key>spriteSize</key>
                <string>{159,125}</string>
                <key>spriteSourceSize</key>
                <string>{205,149}</string>
                <key>textureRect</key>
                <string>{{1,1314},{159,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/981/effect/col_action1/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,1}</string>
                <key>spriteSize</key>
                <string>{163,113}</string>
                <key>spriteSourceSize</key>
                <string>{205,149}</string>
                <key>textureRect</key>
                <string>{{1,231},{163,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/981/effect/col_action1/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,9}</string>
                <key>spriteSize</key>
                <string>{167,129}</string>
                <key>spriteSourceSize</key>
                <string>{205,149}</string>
                <key>textureRect</key>
                <string>{{1,1570},{167,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/981/effect/col_action1/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,1}</string>
                <key>spriteSize</key>
                <string>{169,117}</string>
                <key>spriteSourceSize</key>
                <string>{205,149}</string>
                <key>textureRect</key>
                <string>{{1,580},{169,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/981/effect/col_action1/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,5}</string>
                <key>spriteSize</key>
                <string>{169,121}</string>
                <key>spriteSourceSize</key>
                <string>{205,149}</string>
                <key>textureRect</key>
                <string>{{1,820},{169,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/981/effect/col_action1/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,4}</string>
                <key>spriteSize</key>
                <string>{139,123}</string>
                <key>spriteSourceSize</key>
                <string>{205,149}</string>
                <key>textureRect</key>
                <string>{{1,1189},{139,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/981/effect/col_action1/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,1}</string>
                <key>spriteSize</key>
                <string>{149,115}</string>
                <key>spriteSourceSize</key>
                <string>{205,149}</string>
                <key>textureRect</key>
                <string>{{1,346},{149,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/981/effect/col_action1/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,1}</string>
                <key>spriteSize</key>
                <string>{161,135}</string>
                <key>spriteSourceSize</key>
                <string>{205,149}</string>
                <key>textureRect</key>
                <string>{{1,1701},{161,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/981/effect/col_action1/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,1}</string>
                <key>spriteSize</key>
                <string>{159,121}</string>
                <key>spriteSourceSize</key>
                <string>{205,149}</string>
                <key>textureRect</key>
                <string>{{1,1066},{159,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/981/effect/col_action1/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{163,137}</string>
                <key>spriteSourceSize</key>
                <string>{205,149}</string>
                <key>textureRect</key>
                <string>{{1,1838},{163,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/981/effect/col_action1/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,1}</string>
                <key>spriteSize</key>
                <string>{173,113}</string>
                <key>spriteSourceSize</key>
                <string>{205,149}</string>
                <key>textureRect</key>
                <string>{{1,116},{173,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/981/effect/col_action1/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,2}</string>
                <key>spriteSize</key>
                <string>{169,119}</string>
                <key>spriteSourceSize</key>
                <string>{205,149}</string>
                <key>textureRect</key>
                <string>{{1,699},{169,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/981/effect/col_action1/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,1}</string>
                <key>spriteSize</key>
                <string>{175,113}</string>
                <key>spriteSourceSize</key>
                <string>{205,149}</string>
                <key>textureRect</key>
                <string>{{1,1},{175,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/981/effect/col_action1/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,6}</string>
                <key>spriteSize</key>
                <string>{139,127}</string>
                <key>spriteSourceSize</key>
                <string>{205,149}</string>
                <key>textureRect</key>
                <string>{{1,1441},{139,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/981/effect/col_action1/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,1}</string>
                <key>spriteSize</key>
                <string>{149,115}</string>
                <key>spriteSourceSize</key>
                <string>{205,149}</string>
                <key>textureRect</key>
                <string>{{1,463},{149,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/981/effect/col_action1/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,4}</string>
                <key>spriteSize</key>
                <string>{161,121}</string>
                <key>spriteSourceSize</key>
                <string>{205,149}</string>
                <key>textureRect</key>
                <string>{{1,943},{161,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action10.pvr.ccz</string>
            <key>size</key>
            <string>{177,1976}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d5fadb2e98c7ce85c6dee6dfbe2099d:700d9089c425b74b1b051d858d50b8bb:fd6dfe3ee94267230ed6425290acf6b5$</string>
            <key>textureFileName</key>
            <string>col_action10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
