<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3147/effect/col_action1/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{282,298}</string>
                <key>textureRect</key>
                <string>{{189,1047},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3147/effect/col_action1/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{282,298}</string>
                <key>textureRect</key>
                <string>{{189,1097},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3147/effect/col_action1/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,50}</string>
                <key>spriteSourceSize</key>
                <string>{282,298}</string>
                <key>textureRect</key>
                <string>{{97,1025},{48,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3147/effect/col_action1/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{282,298}</string>
                <key>textureRect</key>
                <string>{{97,1075},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3147/effect/col_action1/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{110,94}</string>
                <key>spriteSourceSize</key>
                <string>{282,298}</string>
                <key>textureRect</key>
                <string>{{1,1047},{110,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3147/effect/col_action1/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,98}</string>
                <key>spriteSourceSize</key>
                <string>{282,298}</string>
                <key>textureRect</key>
                <string>{{157,645},{122,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3147/effect/col_action1/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,102}</string>
                <key>spriteSourceSize</key>
                <string>{282,298}</string>
                <key>textureRect</key>
                <string>{{153,769},{128,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3147/effect/col_action1/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{146,100}</string>
                <key>spriteSourceSize</key>
                <string>{282,298}</string>
                <key>textureRect</key>
                <string>{{1,821},{146,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3147/effect/col_action1/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{144,100}</string>
                <key>spriteSourceSize</key>
                <string>{282,298}</string>
                <key>textureRect</key>
                <string>{{1,923},{144,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3147/effect/col_action1/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{146,100}</string>
                <key>spriteSourceSize</key>
                <string>{282,298}</string>
                <key>textureRect</key>
                <string>{{149,899},{146,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3147/effect/col_action1/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{152,94}</string>
                <key>spriteSourceSize</key>
                <string>{282,298}</string>
                <key>textureRect</key>
                <string>{{1,653},{152,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3147/effect/col_action1/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{154,94}</string>
                <key>spriteSourceSize</key>
                <string>{282,298}</string>
                <key>textureRect</key>
                <string>{{161,489},{154,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3147/effect/col_action1/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{154,96}</string>
                <key>spriteSourceSize</key>
                <string>{282,298}</string>
                <key>textureRect</key>
                <string>{{1,555},{154,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3147/effect/col_action1/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{162,84}</string>
                <key>spriteSourceSize</key>
                <string>{282,298}</string>
                <key>textureRect</key>
                <string>{{171,163},{162,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3147/effect/col_action1/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{160,82}</string>
                <key>spriteSourceSize</key>
                <string>{282,298}</string>
                <key>textureRect</key>
                <string>{{173,1},{160,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3147/effect/col_action1/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{158,82}</string>
                <key>spriteSourceSize</key>
                <string>{282,298}</string>
                <key>textureRect</key>
                <string>{{1,471},{158,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3147/effect/col_action1/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{160,82}</string>
                <key>spriteSourceSize</key>
                <string>{282,298}</string>
                <key>textureRect</key>
                <string>{{167,327},{160,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3147/effect/col_action1/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{166,76}</string>
                <key>spriteSourceSize</key>
                <string>{282,298}</string>
                <key>textureRect</key>
                <string>{{1,241},{166,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3147/effect/col_action1/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{168,78}</string>
                <key>spriteSourceSize</key>
                <string>{282,298}</string>
                <key>textureRect</key>
                <string>{{1,81},{168,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3147/effect/col_action1/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{170,78}</string>
                <key>spriteSourceSize</key>
                <string>{282,298}</string>
                <key>textureRect</key>
                <string>{{1,1},{170,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3147/effect/col_action1/20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{168,78}</string>
                <key>spriteSourceSize</key>
                <string>{282,298}</string>
                <key>textureRect</key>
                <string>{{1,161},{168,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3147/effect/col_action1/21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{164,74}</string>
                <key>spriteSourceSize</key>
                <string>{282,298}</string>
                <key>textureRect</key>
                <string>{{1,319},{164,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3147/effect/col_action1/22</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{160,74}</string>
                <key>spriteSourceSize</key>
                <string>{282,298}</string>
                <key>textureRect</key>
                <string>{{1,395},{160,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3147/effect/col_action1/23</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{150,70}</string>
                <key>spriteSourceSize</key>
                <string>{282,298}</string>
                <key>textureRect</key>
                <string>{{1,749},{150,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action10.pvr.ccz</string>
            <key>size</key>
            <string>{256,1166}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9266e37b360ec19b080e2fa3f0e181b:3390ecc1996ce7095e42dffe303b9ece:fd6dfe3ee94267230ed6425290acf6b5$</string>
            <key>textureFileName</key>
            <string>col_action10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
