<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/event/OneTwoThree/cumulativePayment/bt_help</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{24,26}</string>
                <key>textureRect</key>
                <string>{{405,337},{24,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/OneTwoThree/cumulativePayment/bt_ok</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,38}</string>
                <key>spriteSourceSize</key>
                <string>{108,38}</string>
                <key>textureRect</key>
                <string>{{391,537},{108,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/OneTwoThree/cumulativePayment/bt_ok_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,38}</string>
                <key>spriteSourceSize</key>
                <string>{108,38}</string>
                <key>textureRect</key>
                <string>{{389,831},{108,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/OneTwoThree/cumulativePayment/bt_receive</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,36}</string>
                <key>spriteSourceSize</key>
                <string>{82,36}</string>
                <key>textureRect</key>
                <string>{{405,1},{82,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/OneTwoThree/cumulativePayment/bt_receive_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,36}</string>
                <key>spriteSourceSize</key>
                <string>{82,36}</string>
                <key>textureRect</key>
                <string>{{405,85},{82,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/OneTwoThree/cumulativePayment/bt_received</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,36}</string>
                <key>spriteSourceSize</key>
                <string>{82,36}</string>
                <key>textureRect</key>
                <string>{{405,169},{82,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/OneTwoThree/cumulativePayment/bt_received_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,36}</string>
                <key>spriteSourceSize</key>
                <string>{82,36}</string>
                <key>textureRect</key>
                <string>{{405,253},{82,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/OneTwoThree/cumulativePayment/bt_tabpoint</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,124}</string>
                <key>spriteSourceSize</key>
                <string>{42,124}</string>
                <key>textureRect</key>
                <string>{{1,923},{42,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/OneTwoThree/cumulativePayment/bt_tabpoint_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,114}</string>
                <key>spriteSourceSize</key>
                <string>{42,114}</string>
                <key>textureRect</key>
                <string>{{127,923},{42,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/OneTwoThree/cumulativePayment/ef_gooditem</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,100}</string>
                <key>textureRect</key>
                <string>{{307,825},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/OneTwoThree/cumulativePayment/ef_itembox</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,96}</string>
                <key>spriteSourceSize</key>
                <string>{120,96}</string>
                <key>textureRect</key>
                <string>{{307,303},{120,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/OneTwoThree/cumulativePayment/ef_pointevent_pick</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,96}</string>
                <key>spriteSourceSize</key>
                <string>{300,96}</string>
                <key>textureRect</key>
                <string>{{307,1},{300,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/OneTwoThree/cumulativePayment/frame_item_pick</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{70,54}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{243,923},{70,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/OneTwoThree/cumulativePayment/frame_itembg1_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{307,741},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/OneTwoThree/cumulativePayment/frame_itembg1_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{307,907},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/OneTwoThree/cumulativePayment/frame_itembg2_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,100}</string>
                <key>spriteSourceSize</key>
                <string>{82,100}</string>
                <key>textureRect</key>
                <string>{{307,537},{82,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/OneTwoThree/cumulativePayment/frame_itembg2_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{82,100}</string>
                <key>textureRect</key>
                <string>{{307,639},{80,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/OneTwoThree/cumulativePayment/frame_pointevent_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,456}</string>
                <key>spriteSourceSize</key>
                <string>{304,456}</string>
                <key>textureRect</key>
                <string>{{1,1},{304,456}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/OneTwoThree/cumulativePayment/frame_pointevent_bg_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,456}</string>
                <key>spriteSourceSize</key>
                <string>{304,456}</string>
                <key>textureRect</key>
                <string>{{1,459},{304,456}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/OneTwoThree/cumulativePayment/frame_pointevent_line</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,4}</string>
                <key>spriteSourceSize</key>
                <string>{300,4}</string>
                <key>textureRect</key>
                <string>{{1,917},{300,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/OneTwoThree/cumulativePayment/frame_totalpoint</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,47}</string>
                <key>spriteSourceSize</key>
                <string>{90,47}</string>
                <key>textureRect</key>
                <string>{{389,647},{90,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/OneTwoThree/cumulativePayment/frame_totalpoint_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,48}</string>
                <key>spriteSourceSize</key>
                <string>{90,48}</string>
                <key>textureRect</key>
                <string>{{391,739},{90,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/OneTwoThree/cumulativePayment/master_essence_set</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{110,102}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{307,425},{110,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/OneTwoThree/cumulativePayment/txt_free</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{33,15}</string>
                <key>textureRect</key>
                <string>{{1,967},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/OneTwoThree/cumulativePayment/txt_free_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,15}</string>
                <key>spriteSourceSize</key>
                <string>{33,15}</string>
                <key>textureRect</key>
                <string>{{389,941},{33,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>cumulativePayment.pvr.ccz</string>
            <key>size</key>
            <string>{442,994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a6378a6de76c0c4bfca11578b11e408:743c76cdb1ecf44ed94a121421fc865d:02158f3915166633eebbcdd4679d9748$</string>
            <key>textureFileName</key>
            <string>cumulativePayment.pvr.ccz</string>
        </dict>
    </dict>
</plist>
