<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3218/effect/col_action_1/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-186,196.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{720,444},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3218/effect/col_action_1/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,162}</string>
                <key>spriteSize</key>
                <string>{9,44}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{709,400},{9,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3218/effect/col_action_1/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,147}</string>
                <key>spriteSize</key>
                <string>{23,48}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{321,737},{23,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3218/effect/col_action_1/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,134}</string>
                <key>spriteSize</key>
                <string>{23,48}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{321,787},{23,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3218/effect/col_action_1/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-186,196.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{720,444},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3218/effect/col_action_1/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,109}</string>
                <key>spriteSize</key>
                <string>{23,48}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{321,837},{23,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3218/effect/col_action_1/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,97}</string>
                <key>spriteSize</key>
                <string>{31,48}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{1043,675},{31,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3218/effect/col_action_1/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,88}</string>
                <key>spriteSize</key>
                <string>{7,42}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{720,400},{7,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3218/effect/col_action_1/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,77}</string>
                <key>spriteSize</key>
                <string>{19,48}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{709,350},{19,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3218/effect/col_action_1/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,69}</string>
                <key>spriteSize</key>
                <string>{31,48}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{321,687},{31,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3218/effect/col_action_1/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-2}</string>
                <key>spriteSize</key>
                <string>{347,362}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{369,1},{347,362}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3218/effect/col_action_1/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-2}</string>
                <key>spriteSize</key>
                <string>{347,362}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{1,338},{347,362}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3218/effect/col_action_1/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-6}</string>
                <key>spriteSize</key>
                <string>{335,366}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{1,1},{335,366}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3218/effect/col_action_1/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-5}</string>
                <key>spriteSize</key>
                <string>{335,348}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{733,1},{335,348}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3218/effect/col_action_1/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-5}</string>
                <key>spriteSize</key>
                <string>{335,348}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{733,338},{335,348}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3218/effect/col_action_1/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-9}</string>
                <key>spriteSize</key>
                <string>{325,342}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{365,350},{325,342}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3218/effect/col_action_1/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-13}</string>
                <key>spriteSize</key>
                <string>{317,332}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{709,675},{317,332}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3218/effect/col_action_1/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-16}</string>
                <key>spriteSize</key>
                <string>{311,328}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{365,677},{311,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3218/effect/col_action_1/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-20}</string>
                <key>spriteSize</key>
                <string>{301,318}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{1,687},{301,318}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3218/effect/col_action_1/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-24}</string>
                <key>spriteSize</key>
                <string>{295,304}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{1043,760},{295,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3218/effect/col_action_1/20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-29}</string>
                <key>spriteSize</key>
                <string>{271,260}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{709,994},{271,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3218/effect/col_action_1/21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-29}</string>
                <key>spriteSize</key>
                <string>{259,246}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{970,1333},{259,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3218/effect/col_action_1/22</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-28}</string>
                <key>spriteSize</key>
                <string>{257,242}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{1083,1},{257,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3218/effect/col_action_1/23</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{253,174}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{704,1686},{253,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3218/effect/col_action_1/24</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{253,176}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{360,1256},{253,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3218/effect/col_action_1/25</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{253,176}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{706,1508},{253,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3218/effect/col_action_1/26</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{253,176}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{961,1581},{253,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3218/effect/col_action_1/27</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{253,176}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{249,1759},{253,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3218/effect/col_action_1/28</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,17}</string>
                <key>spriteSize</key>
                <string>{249,154}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{1,1256},{249,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3218/effect/col_action_1/29</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17}</string>
                <key>spriteSize</key>
                <string>{107,152}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{890,1862},{107,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3218/effect/col_action_1/30</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{107,154}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{672,1862},{107,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3218/effect/col_action_1/31</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{107,154}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{781,1862},{107,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3218/effect/col_action_1/32</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,17}</string>
                <key>spriteSize</key>
                <string>{61,156}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{427,1862},{61,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3218/effect/col_action_1/33</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{107,156}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{427,1511},{107,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3218/effect/col_action_1/34</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{107,156}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{427,1669},{107,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3218/effect/col_action_1/35</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,18}</string>
                <key>spriteSize</key>
                <string>{63,158}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{1267,1824},{63,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3218/effect/col_action_1/36</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{109,156}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{1231,1550},{109,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3218/effect/col_action_1/37</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,19}</string>
                <key>spriteSize</key>
                <string>{109,158}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{1231,1390},{109,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3218/effect/col_action_1/38</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,18}</string>
                <key>spriteSize</key>
                <string>{63,160}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{547,1216},{63,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3218/effect/col_action_1/39</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,18}</string>
                <key>spriteSize</key>
                <string>{63,160}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{1123,1759},{63,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3218/effect/col_action_1/40</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,19}</string>
                <key>spriteSize</key>
                <string>{111,160}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{547,990},{111,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3218/effect/col_action_1/41</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,18}</string>
                <key>spriteSize</key>
                <string>{65,162}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{605,1854},{65,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3218/effect/col_action_1/42</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,18}</string>
                <key>spriteSize</key>
                <string>{65,162}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{959,1759},{65,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3218/effect/col_action_1/43</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,19}</string>
                <key>spriteSize</key>
                <string>{111,160}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{547,1103},{111,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3218/effect/col_action_1/44</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,19}</string>
                <key>spriteSize</key>
                <string>{65,164}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{536,1720},{65,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3218/effect/col_action_1/45</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,19}</string>
                <key>spriteSize</key>
                <string>{65,164}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{536,1787},{65,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3218/effect/col_action_1/46</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,19}</string>
                <key>spriteSize</key>
                <string>{113,162}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{490,1854},{113,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3218/effect/col_action_1/47</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,19}</string>
                <key>spriteSize</key>
                <string>{65,166}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{536,1653},{65,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3218/effect/col_action_1/48</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,19}</string>
                <key>spriteSize</key>
                <string>{67,166}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{536,1515},{67,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3218/effect/col_action_1/49</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{115,166}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{538,1281},{115,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3218/effect/col_action_1/50</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,19}</string>
                <key>spriteSize</key>
                <string>{67,166}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{536,1584},{67,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3218/effect/col_action_1/51</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{115,166}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{538,1398},{115,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3218/effect/col_action_1/52</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{115,166}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{310,1511},{115,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3218/effect/col_action_1/53</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,19}</string>
                <key>spriteSize</key>
                <string>{67,168}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{140,1508},{67,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3218/effect/col_action_1/54</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{117,166}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{140,1581},{117,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3218/effect/col_action_1/55</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,23}</string>
                <key>spriteSize</key>
                <string>{69,162}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{1254,1066},{69,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3218/effect/col_action_1/56</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,25}</string>
                <key>spriteSize</key>
                <string>{69,158}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{1254,1230},{69,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3218/effect/col_action_1/57</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,25}</string>
                <key>spriteSize</key>
                <string>{129,176}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{1136,1824},{129,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3218/effect/col_action_1/58</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,24}</string>
                <key>spriteSize</key>
                <string>{135,188}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{999,1826},{135,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3218/effect/col_action_1/59</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,23}</string>
                <key>spriteSize</key>
                <string>{137,194}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{1,1508},{137,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3218/effect/col_action_1/60</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17}</string>
                <key>spriteSize</key>
                <string>{201,210}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{157,1281},{201,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3218/effect/col_action_1/61</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{265,270}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{982,1066},{265,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3218/effect/col_action_1/62</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{255,246}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{1083,512},{255,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3218/effect/col_action_1/63</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{255,246}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{1,1708},{255,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3218/effect/col_action_1/64</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{265,256}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{1083,245},{265,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3218/effect/col_action_1/65</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{271,264}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{1,990},{271,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3218/effect/col_action_1/66</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{271,264}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{274,990},{271,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3218/effect/col_action_1/67</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{259,250}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{709,1256},{259,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3218/effect/col_action_1/68</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-186,196.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{375,396}</string>
                <key>textureRect</key>
                <string>{{720,444},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action_10.pvr.ccz</string>
            <key>size</key>
            <string>{1341,2019}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fe7fbb35e59a74d9b0bf1824747a7ba:578e3cbf18eb501bb8308faa629b4462:a84ffe90cdf197a8f7b925149a695cae$</string>
            <key>textureFileName</key>
            <string>col_action_10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
