<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/event/christmas2020/package/xmas_package1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,128}</string>
                <key>spriteSourceSize</key>
                <string>{178,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{178,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/christmas2020/package/xmas_package1_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,128}</string>
                <key>spriteSourceSize</key>
                <string>{178,128}</string>
                <key>textureRect</key>
                <string>{{181,1},{178,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/christmas2020/package/xmas_package2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,128}</string>
                <key>spriteSourceSize</key>
                <string>{178,128}</string>
                <key>textureRect</key>
                <string>{{361,1},{178,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/christmas2020/package/xmas_package2_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,128}</string>
                <key>spriteSourceSize</key>
                <string>{178,128}</string>
                <key>textureRect</key>
                <string>{{1,131},{178,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/christmas2020/package/xmas_package3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,128}</string>
                <key>spriteSourceSize</key>
                <string>{178,128}</string>
                <key>textureRect</key>
                <string>{{181,131},{178,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/christmas2020/package/xmas_package3_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,128}</string>
                <key>spriteSourceSize</key>
                <string>{178,128}</string>
                <key>textureRect</key>
                <string>{{361,181},{178,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/christmas2020/package/xmas_package4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,128}</string>
                <key>spriteSourceSize</key>
                <string>{178,128}</string>
                <key>textureRect</key>
                <string>{{1,261},{178,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/christmas2020/package/xmas_package4_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,128}</string>
                <key>spriteSourceSize</key>
                <string>{178,128}</string>
                <key>textureRect</key>
                <string>{{181,261},{178,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>package.pvr.ccz</string>
            <key>size</key>
            <string>{490,390}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7cd77707514572644e798784277d833c:7225c22577987b5ab4e3d2e4ef5b9f22:c2ff68153dbba2484dcc5bf7541359be$</string>
            <key>textureFileName</key>
            <string>package.pvr.ccz</string>
        </dict>
    </dict>
</plist>
