<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/event/christmas2020/rule/title_ballrankrule</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,64}</string>
                <key>spriteSourceSize</key>
                <string>{382,64}</string>
                <key>textureRect</key>
                <string>{{555,917},{382,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/christmas2020/rule/title_ballrankrule_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,64}</string>
                <key>spriteSourceSize</key>
                <string>{382,64}</string>
                <key>textureRect</key>
                <string>{{552,983},{382,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/christmas2020/rule/title_ballrewardlist</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,64}</string>
                <key>spriteSourceSize</key>
                <string>{382,64}</string>
                <key>textureRect</key>
                <string>{{552,1049},{382,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/christmas2020/rule/title_ballrewardlist_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,64}</string>
                <key>spriteSourceSize</key>
                <string>{382,64}</string>
                <key>textureRect</key>
                <string>{{552,1115},{382,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/christmas2020/rule/title_pvpreward</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,64}</string>
                <key>spriteSourceSize</key>
                <string>{382,64}</string>
                <key>textureRect</key>
                <string>{{552,1181},{382,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/christmas2020/rule/title_pvpreward_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,64}</string>
                <key>spriteSourceSize</key>
                <string>{382,64}</string>
                <key>textureRect</key>
                <string>{{552,1247},{382,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/christmas2020/rule/title_pvprule</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,64}</string>
                <key>spriteSourceSize</key>
                <string>{382,64}</string>
                <key>textureRect</key>
                <string>{{552,1313},{382,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/christmas2020/rule/title_pvprule_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,64}</string>
                <key>spriteSourceSize</key>
                <string>{382,64}</string>
                <key>textureRect</key>
                <string>{{936,983},{382,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/christmas2020/rule/txt_ballreward</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,492}</string>
                <key>spriteSourceSize</key>
                <string>{504,492}</string>
                <key>textureRect</key>
                <string>{{1,1},{504,492}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/christmas2020/rule/txt_ballreward_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,492}</string>
                <key>spriteSourceSize</key>
                <string>{504,492}</string>
                <key>textureRect</key>
                <string>{{507,1},{504,492}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/christmas2020/rule/txt_ballrule</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,3}</string>
                <key>spriteSize</key>
                <string>{445,126}</string>
                <key>spriteSourceSize</key>
                <string>{569,226}</string>
                <key>textureRect</key>
                <string>{{555,789},{445,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/christmas2020/rule/txt_ballrule_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{549,144}</string>
                <key>spriteSourceSize</key>
                <string>{569,226}</string>
                <key>textureRect</key>
                <string>{{1,1225},{549,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/christmas2020/rule/txt_pvpreward</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{404,292}</string>
                <key>spriteSourceSize</key>
                <string>{404,292}</string>
                <key>textureRect</key>
                <string>{{1,931},{404,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/christmas2020/rule/txt_pvpreward_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{404,292}</string>
                <key>spriteSourceSize</key>
                <string>{404,292}</string>
                <key>textureRect</key>
                <string>{{575,495},{404,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/christmas2020/rule/txt_pvprule</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{552,216}</string>
                <key>spriteSourceSize</key>
                <string>{604,228}</string>
                <key>textureRect</key>
                <string>{{1,713},{552,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/christmas2020/rule/txt_pvprule_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{572,216}</string>
                <key>spriteSourceSize</key>
                <string>{604,228}</string>
                <key>textureRect</key>
                <string>{{1,495},{572,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>rule.pvr.ccz</string>
            <key>size</key>
            <string>{1012,1378}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ba78616e96c9c1862ede875907805f8:a612345706fcbcdafa514832956c4f22:9cc161fb62d6945e40e6c977b0a86425$</string>
            <key>textureFileName</key>
            <string>rule.pvr.ccz</string>
        </dict>
    </dict>
</plist>
