<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>adv_action1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{200,120}</string>
			<key>spriteSourceSize</key>
			<string>{200,120}</string>
			<key>textureRect</key>
			<string>{{1,129},{200,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cap_action1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,-2}</string>
			<key>spriteSize</key>
			<string>{244,190}</string>
			<key>spriteSourceSize</key>
			<string>{250,194}</string>
			<key>textureRect</key>
			<string>{{266,1},{244,190}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>col_action1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,-5}</string>
			<key>spriteSize</key>
			<string>{263,126}</string>
			<key>spriteSourceSize</key>
			<string>{273,136}</string>
			<key>textureRect</key>
			<string>{{1,1},{263,126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>effect.pvr.ccz</string>
		<key>size</key>
		<string>{457,250}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:9b4fbfcbcd85f7115c9accde3a3c2f3e:0591bb3dd81d02899206d38e17fc8e8b:e0fdcd92bbdb8ab6858982d39ba3f2d9$</string>
		<key>textureFileName</key>
		<string>effect.pvr.ccz</string>
	</dict>
</dict>
</plist>
