<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/305/effect/col_action2/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-5}</string>
                <key>spriteSize</key>
                <string>{177,113}</string>
                <key>spriteSourceSize</key>
                <string>{267,127}</string>
                <key>textureRect</key>
                <string>{{778,1},{177,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/305/effect/col_action2/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-1}</string>
                <key>spriteSize</key>
                <string>{179,119}</string>
                <key>spriteSourceSize</key>
                <string>{267,127}</string>
                <key>textureRect</key>
                <string>{{597,1},{179,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/305/effect/col_action2/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{159,123}</string>
                <key>spriteSourceSize</key>
                <string>{267,127}</string>
                <key>textureRect</key>
                <string>{{279,1},{159,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/305/effect/col_action2/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,1}</string>
                <key>spriteSize</key>
                <string>{137,125}</string>
                <key>spriteSourceSize</key>
                <string>{267,127}</string>
                <key>textureRect</key>
                <string>{{1,1},{137,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/305/effect/col_action2/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,1}</string>
                <key>spriteSize</key>
                <string>{137,125}</string>
                <key>spriteSourceSize</key>
                <string>{267,127}</string>
                <key>textureRect</key>
                <string>{{140,1},{137,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/305/effect/col_action2/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,2}</string>
                <key>spriteSize</key>
                <string>{155,123}</string>
                <key>spriteSourceSize</key>
                <string>{267,127}</string>
                <key>textureRect</key>
                <string>{{440,1},{155,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action20.pvr.ccz</string>
            <key>size</key>
            <string>{956,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9800100bf65cefbf0a41e55ca018113a:028779e17ac87dcf8d849e5b58edacc8:98ec4b5f3da3b367b0df440471cccb39$</string>
            <key>textureFileName</key>
            <string>col_action20.pvr.ccz</string>
        </dict>
    </dict>
</plist>
