<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/eggshop/pickup/2024/icon_pickup_15_pack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{370,371}</string>
                <key>spriteSourceSize</key>
                <string>{372,373}</string>
                <key>textureRect</key>
                <string>{{1,1114},{370,371}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/eggshop/pickup/2024/icon_pickup_15_pack_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{370,371}</string>
                <key>spriteSourceSize</key>
                <string>{372,373}</string>
                <key>textureRect</key>
                <string>{{374,1114},{370,371}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/eggshop/pickup/2024/icon_pickup_16_pack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{370,369}</string>
                <key>spriteSourceSize</key>
                <string>{372,373}</string>
                <key>textureRect</key>
                <string>{{1,1},{370,369}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/pickup/2024/icon_pickup_16_pack_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{370,369}</string>
                <key>spriteSourceSize</key>
                <string>{372,373}</string>
                <key>textureRect</key>
                <string>{{373,1},{370,369}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/pickup/2024/icon_pickup_17_pack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{370,369}</string>
                <key>spriteSourceSize</key>
                <string>{372,373}</string>
                <key>textureRect</key>
                <string>{{1,372},{370,369}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/pickup/2024/icon_pickup_17_pack_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{370,369}</string>
                <key>spriteSourceSize</key>
                <string>{372,373}</string>
                <key>textureRect</key>
                <string>{{373,372},{370,369}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/pickup/2024/icon_pickup_18_pack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{370,369}</string>
                <key>spriteSourceSize</key>
                <string>{372,373}</string>
                <key>textureRect</key>
                <string>{{1,743},{370,369}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/pickup/2024/icon_pickup_18_pack_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,369}</string>
                <key>spriteSourceSize</key>
                <string>{372,373}</string>
                <key>textureRect</key>
                <string>{{373,743},{370,369}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>2024.pvr.ccz</string>
            <key>size</key>
            <string>{746,1485}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5489f7984a0ebb50b2bde12877ab5b67:4edf5c0dc63e2c46a7083187dec417e7:e1b66155132dde9ae9971b7fd763c0b9$</string>
            <key>textureFileName</key>
            <string>2024.pvr.ccz</string>
        </dict>
    </dict>
</plist>
