<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/eggshop/pickup/2024/icon_pickup_15_pack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{370,371}</string>
                <key>spriteSourceSize</key>
                <string>{372,373}</string>
                <key>textureRect</key>
                <string>{{1,1},{370,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/pickup/2024/icon_pickup_15_pack_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{370,371}</string>
                <key>spriteSourceSize</key>
                <string>{372,373}</string>
                <key>textureRect</key>
                <string>{{373,1},{370,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>2024.pvr.ccz</string>
            <key>size</key>
            <string>{744,373}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bb52e88b64a2899464a1237d63a86f2:47007788ea1e8efb6842c7620c3f1eeb:e1b66155132dde9ae9971b7fd763c0b9$</string>
            <key>textureFileName</key>
            <string>2024.pvr.ccz</string>
        </dict>
    </dict>
</plist>
