<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3245/effect/col_action2/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,14}</string>
                <key>spriteSize</key>
                <string>{45,75}</string>
                <key>spriteSourceSize</key>
                <string>{211,187}</string>
                <key>textureRect</key>
                <string>{{174,135},{45,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3245/effect/col_action2/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,13}</string>
                <key>spriteSize</key>
                <string>{47,75}</string>
                <key>spriteSourceSize</key>
                <string>{211,187}</string>
                <key>textureRect</key>
                <string>{{174,86},{47,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3245/effect/col_action2/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,8}</string>
                <key>spriteSize</key>
                <string>{49,83}</string>
                <key>spriteSourceSize</key>
                <string>{211,187}</string>
                <key>textureRect</key>
                <string>{{54,1959},{49,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3245/effect/col_action2/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,9}</string>
                <key>spriteSize</key>
                <string>{51,83}</string>
                <key>spriteSourceSize</key>
                <string>{211,187}</string>
                <key>textureRect</key>
                <string>{{1,1959},{51,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3245/effect/col_action2/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,8}</string>
                <key>spriteSize</key>
                <string>{75,83}</string>
                <key>spriteSourceSize</key>
                <string>{211,187}</string>
                <key>textureRect</key>
                <string>{{174,1},{75,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3245/effect/col_action2/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,6}</string>
                <key>spriteSize</key>
                <string>{83,85}</string>
                <key>spriteSourceSize</key>
                <string>{211,187}</string>
                <key>textureRect</key>
                <string>{{172,446},{83,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3245/effect/col_action2/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,4}</string>
                <key>spriteSize</key>
                <string>{99,87}</string>
                <key>spriteSourceSize</key>
                <string>{211,187}</string>
                <key>textureRect</key>
                <string>{{156,910},{99,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3245/effect/col_action2/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{121,87}</string>
                <key>spriteSourceSize</key>
                <string>{211,187}</string>
                <key>textureRect</key>
                <string>{{168,533},{121,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3245/effect/col_action2/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{123,89}</string>
                <key>spriteSourceSize</key>
                <string>{211,187}</string>
                <key>textureRect</key>
                <string>{{1,1868},{123,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3245/effect/col_action2/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{129,89}</string>
                <key>spriteSourceSize</key>
                <string>{211,187}</string>
                <key>textureRect</key>
                <string>{{1,1171},{129,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3245/effect/col_action2/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{125,91}</string>
                <key>spriteSourceSize</key>
                <string>{211,187}</string>
                <key>textureRect</key>
                <string>{{164,656},{125,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3245/effect/col_action2/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{123,91}</string>
                <key>spriteSourceSize</key>
                <string>{211,187}</string>
                <key>textureRect</key>
                <string>{{126,1861},{123,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3245/effect/col_action2/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{123,93}</string>
                <key>spriteSourceSize</key>
                <string>{211,187}</string>
                <key>textureRect</key>
                <string>{{126,1766},{123,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3245/effect/col_action2/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{123,93}</string>
                <key>spriteSourceSize</key>
                <string>{211,187}</string>
                <key>textureRect</key>
                <string>{{1,1773},{123,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3245/effect/col_action2/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{123,95}</string>
                <key>spriteSourceSize</key>
                <string>{211,187}</string>
                <key>textureRect</key>
                <string>{{1,1676},{123,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3245/effect/col_action2/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-4}</string>
                <key>spriteSize</key>
                <string>{125,99}</string>
                <key>spriteSourceSize</key>
                <string>{211,187}</string>
                <key>textureRect</key>
                <string>{{156,783},{125,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3245/effect/col_action2/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-4}</string>
                <key>spriteSize</key>
                <string>{125,101}</string>
                <key>spriteSourceSize</key>
                <string>{211,187}</string>
                <key>textureRect</key>
                <string>{{130,1356},{125,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3245/effect/col_action2/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-4}</string>
                <key>spriteSize</key>
                <string>{127,101}</string>
                <key>spriteSourceSize</key>
                <string>{211,187}</string>
                <key>textureRect</key>
                <string>{{1,1367},{127,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3245/effect/col_action2/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-4}</string>
                <key>spriteSize</key>
                <string>{127,103}</string>
                <key>spriteSourceSize</key>
                <string>{211,187}</string>
                <key>textureRect</key>
                <string>{{1,1262},{127,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3245/effect/col_action2/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-4}</string>
                <key>spriteSize</key>
                <string>{127,101}</string>
                <key>spriteSourceSize</key>
                <string>{211,187}</string>
                <key>textureRect</key>
                <string>{{1,1470},{127,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3245/effect/col_action2/20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{123,105}</string>
                <key>spriteSourceSize</key>
                <string>{211,187}</string>
                <key>textureRect</key>
                <string>{{144,999},{123,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3245/effect/col_action2/21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{123,105}</string>
                <key>spriteSourceSize</key>
                <string>{211,187}</string>
                <key>textureRect</key>
                <string>{{134,1124},{123,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3245/effect/col_action2/22</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{123,103}</string>
                <key>spriteSourceSize</key>
                <string>{211,187}</string>
                <key>textureRect</key>
                <string>{{130,1562},{123,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3245/effect/col_action2/23</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{123,105}</string>
                <key>spriteSourceSize</key>
                <string>{211,187}</string>
                <key>textureRect</key>
                <string>{{132,1249},{123,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3245/effect/col_action2/24</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-7}</string>
                <key>spriteSize</key>
                <string>{123,97}</string>
                <key>spriteSourceSize</key>
                <string>{211,187}</string>
                <key>textureRect</key>
                <string>{{126,1667},{123,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3245/effect/col_action2/25</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-6}</string>
                <key>spriteSize</key>
                <string>{123,101}</string>
                <key>spriteSourceSize</key>
                <string>{211,187}</string>
                <key>textureRect</key>
                <string>{{1,1573},{123,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3245/effect/col_action2/26</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{123,83}</string>
                <key>spriteSourceSize</key>
                <string>{211,187}</string>
                <key>textureRect</key>
                <string>{{172,321},{123,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3245/effect/col_action2/27</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,5}</string>
                <key>spriteSize</key>
                <string>{123,85}</string>
                <key>spriteSourceSize</key>
                <string>{211,187}</string>
                <key>textureRect</key>
                <string>{{126,1954},{123,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3245/effect/col_action2/28</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-6}</string>
                <key>spriteSize</key>
                <string>{125,101}</string>
                <key>spriteSourceSize</key>
                <string>{211,187}</string>
                <key>textureRect</key>
                <string>{{130,1459},{125,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3245/effect/col_action2/29</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-8}</string>
                <key>spriteSize</key>
                <string>{131,113}</string>
                <key>spriteSourceSize</key>
                <string>{211,187}</string>
                <key>textureRect</key>
                <string>{{1,1056},{131,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3245/effect/col_action2/30</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-7}</string>
                <key>spriteSize</key>
                <string>{141,129}</string>
                <key>spriteSourceSize</key>
                <string>{211,187}</string>
                <key>textureRect</key>
                <string>{{1,925},{141,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3245/effect/col_action2/31</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-4}</string>
                <key>spriteSize</key>
                <string>{153,141}</string>
                <key>spriteSourceSize</key>
                <string>{211,187}</string>
                <key>textureRect</key>
                <string>{{1,782},{153,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3245/effect/col_action2/32</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{161,149}</string>
                <key>spriteSourceSize</key>
                <string>{211,187}</string>
                <key>textureRect</key>
                <string>{{1,631},{161,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3245/effect/col_action2/33</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{165,153}</string>
                <key>spriteSourceSize</key>
                <string>{211,187}</string>
                <key>textureRect</key>
                <string>{{1,476},{165,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3245/effect/col_action2/34</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{169,155}</string>
                <key>spriteSourceSize</key>
                <string>{211,187}</string>
                <key>textureRect</key>
                <string>{{1,319},{169,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3245/effect/col_action2/35</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{171,157}</string>
                <key>spriteSourceSize</key>
                <string>{211,187}</string>
                <key>textureRect</key>
                <string>{{1,1},{171,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3245/effect/col_action2/36</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-1}</string>
                <key>spriteSize</key>
                <string>{171,157}</string>
                <key>spriteSourceSize</key>
                <string>{211,187}</string>
                <key>textureRect</key>
                <string>{{1,160},{171,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3245/effect/col_action2/37</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,5}</string>
                <key>spriteSize</key>
                <string>{59,137}</string>
                <key>spriteSourceSize</key>
                <string>{211,187}</string>
                <key>textureRect</key>
                <string>{{174,182},{59,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action20.pvr.ccz</string>
            <key>size</key>
            <string>{256,2043}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1db765a9505ef705ea87afb1d763e33c:093897b6e7766b22eec13ffc44f9b555:98ec4b5f3da3b367b0df440471cccb39$</string>
            <key>textureFileName</key>
            <string>col_action20.pvr.ccz</string>
        </dict>
    </dict>
</plist>
