<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/28/effect/adv_action1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{200,94}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{1,456},{200,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/28/effect/adv_action2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,120}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{1,334},{200,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/28/effect/cap_action2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,16}</string>
                <key>spriteSize</key>
                <string>{205,168}</string>
                <key>spriteSourceSize</key>
                <string>{275,200}</string>
                <key>textureRect</key>
                <string>{{1,164},{205,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/28/effect/col_action1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{196,137}</string>
                <key>spriteSourceSize</key>
                <string>{198,137}</string>
                <key>textureRect</key>
                <string>{{1,552},{196,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/28/effect/col_action2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{213,161}</string>
                <key>spriteSourceSize</key>
                <string>{253,187}</string>
                <key>textureRect</key>
                <string>{{1,1},{213,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>effect.pvr.ccz</string>
            <key>size</key>
            <string>{215,690}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8d2fc1b9b8be9e0de0b7f3fff1dfa0c:ae2ac48cc25d2ad7f0723a73f4d513f8:e0fdcd92bbdb8ab6858982d39ba3f2d9$</string>
            <key>textureFileName</key>
            <string>effect.pvr.ccz</string>
        </dict>
    </dict>
</plist>
