<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{9,59}</string>
			<key>spriteSize</key>
			<string>{155,39}</string>
			<key>spriteSourceSize</key>
			<string>{259,261}</string>
			<key>textureRect</key>
			<string>{{174,549},{155,39}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,58}</string>
			<key>spriteSize</key>
			<string>{173,29}</string>
			<key>spriteSourceSize</key>
			<string>{259,261}</string>
			<key>textureRect</key>
			<string>{{184,205},{173,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,58}</string>
			<key>spriteSize</key>
			<string>{181,21}</string>
			<key>spriteSourceSize</key>
			<string>{259,261}</string>
			<key>textureRect</key>
			<string>{{1,205},{181,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,60}</string>
			<key>spriteSize</key>
			<string>{167,37}</string>
			<key>spriteSourceSize</key>
			<string>{259,261}</string>
			<key>textureRect</key>
			<string>{{1,604},{167,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{9,60}</string>
			<key>spriteSize</key>
			<string>{167,35}</string>
			<key>spriteSourceSize</key>
			<string>{259,261}</string>
			<key>textureRect</key>
			<string>{{182,380},{167,35}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-7,77}</string>
			<key>spriteSize</key>
			<string>{199,85}</string>
			<key>spriteSourceSize</key>
			<string>{259,261}</string>
			<key>textureRect</key>
			<string>{{1,118},{199,85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-16,70}</string>
			<key>spriteSize</key>
			<string>{211,115}</string>
			<key>spriteSourceSize</key>
			<string>{259,261}</string>
			<key>textureRect</key>
			<string>{{1,1},{211,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{10,24}</string>
			<key>spriteSize</key>
			<string>{223,179}</string>
			<key>spriteSourceSize</key>
			<string>{259,261}</string>
			<key>textureRect</key>
			<string>{{1,228},{223,179}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{25,1}</string>
			<key>spriteSize</key>
			<string>{149,171}</string>
			<key>spriteSourceSize</key>
			<string>{259,261}</string>
			<key>textureRect</key>
			<string>{{1,453},{149,171}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,-14}</string>
			<key>spriteSize</key>
			<string>{97,99}</string>
			<key>spriteSourceSize</key>
			<string>{259,261}</string>
			<key>textureRect</key>
			<string>{{104,805},{97,99}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,-15}</string>
			<key>spriteSize</key>
			<string>{97,101}</string>
			<key>spriteSourceSize</key>
			<string>{259,261}</string>
			<key>textureRect</key>
			<string>{{1,643},{97,101}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,-15}</string>
			<key>spriteSize</key>
			<string>{97,101}</string>
			<key>spriteSourceSize</key>
			<string>{259,261}</string>
			<key>textureRect</key>
			<string>{{104,706},{97,101}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,-15}</string>
			<key>spriteSize</key>
			<string>{97,101}</string>
			<key>spriteSourceSize</key>
			<string>{259,261}</string>
			<key>textureRect</key>
			<string>{{1,742},{97,101}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{9,-15}</string>
			<key>spriteSize</key>
			<string>{95,101}</string>
			<key>spriteSourceSize</key>
			<string>{259,261}</string>
			<key>textureRect</key>
			<string>{{1,841},{95,101}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action10.pvr.ccz</string>
		<key>size</key>
		<string>{218,937}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:b828c962770e61c586362e589fa50f94:11805fd2bee21730d242660900e242b1:fd6dfe3ee94267230ed6425290acf6b5$</string>
		<key>textureFileName</key>
		<string>col_action10.pvr.ccz</string>
	</dict>
</dict>
</plist>
