<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>adv_action1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{200,120}</string>
			<key>spriteSourceSize</key>
			<string>{200,120}</string>
			<key>textureRect</key>
			<string>{{193,1},{200,120}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adv_action2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{200,120}</string>
			<key>spriteSourceSize</key>
			<string>{200,120}</string>
			<key>textureRect</key>
			<string>{{1,178},{200,120}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>cap_action1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-7}</string>
			<key>spriteSize</key>
			<string>{190,175}</string>
			<key>spriteSourceSize</key>
			<string>{196,189}</string>
			<key>textureRect</key>
			<string>{{1,1},{190,175}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cap_action2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,-3}</string>
			<key>spriteSize</key>
			<string>{172,189}</string>
			<key>spriteSourceSize</key>
			<string>{188,195}</string>
			<key>textureRect</key>
			<string>{{123,203},{172,189}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>col_action1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-7}</string>
			<key>spriteSize</key>
			<string>{190,175}</string>
			<key>spriteSourceSize</key>
			<string>{196,189}</string>
			<key>textureRect</key>
			<string>{{1,1},{190,175}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>col_action2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,-3}</string>
			<key>spriteSize</key>
			<string>{172,189}</string>
			<key>spriteSourceSize</key>
			<string>{188,195}</string>
			<key>textureRect</key>
			<string>{{123,203},{172,189}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>effect.pvr.ccz</string>
		<key>size</key>
		<string>{314,379}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:5d07c45db7fb70d0eb597416461b7ae5:22b0216d7d538b2310e84f20303a4e0a:e0fdcd92bbdb8ab6858982d39ba3f2d9$</string>
		<key>textureFileName</key>
		<string>effect.pvr.ccz</string>
	</dict>
</dict>
</plist>
