<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3366/effect/col_action1/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{54,36}</string>
                <key>spriteSize</key>
                <string>{85,120}</string>
                <key>spriteSourceSize</key>
                <string>{257,240}</string>
                <key>textureRect</key>
                <string>{{1041,1},{85,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3366/effect/col_action1/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,15}</string>
                <key>spriteSize</key>
                <string>{217,210}</string>
                <key>spriteSourceSize</key>
                <string>{257,240}</string>
                <key>textureRect</key>
                <string>{{236,1},{217,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3366/effect/col_action1/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-9}</string>
                <key>spriteSize</key>
                <string>{233,218}</string>
                <key>spriteSourceSize</key>
                <string>{257,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{233,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3366/effect/col_action1/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-11}</string>
                <key>spriteSize</key>
                <string>{203,216}</string>
                <key>spriteSourceSize</key>
                <string>{257,240}</string>
                <key>textureRect</key>
                <string>{{448,1},{203,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3366/effect/col_action1/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-12}</string>
                <key>spriteSize</key>
                <string>{191,202}</string>
                <key>spriteSourceSize</key>
                <string>{257,240}</string>
                <key>textureRect</key>
                <string>{{653,1},{191,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3366/effect/col_action1/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-12}</string>
                <key>spriteSize</key>
                <string>{193,200}</string>
                <key>spriteSourceSize</key>
                <string>{257,240}</string>
                <key>textureRect</key>
                <string>{{846,1},{193,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action10.pvr.ccz</string>
            <key>size</key>
            <string>{1127,220}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:343e1d89f880052c825709d11457e201:78f961d7f3420c10b3ffc7985ec044cc:fd6dfe3ee94267230ed6425290acf6b5$</string>
            <key>textureFileName</key>
            <string>col_action10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
