<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/554/effect/col_action1/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-20}</string>
                <key>spriteSize</key>
                <string>{301,148}</string>
                <key>spriteSourceSize</key>
                <string>{311,196}</string>
                <key>textureRect</key>
                <string>{{799,1713},{301,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/554/effect/col_action1/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-20}</string>
                <key>spriteSize</key>
                <string>{311,156}</string>
                <key>spriteSourceSize</key>
                <string>{311,196}</string>
                <key>textureRect</key>
                <string>{{641,1713},{311,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/554/effect/col_action1/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{311,158}</string>
                <key>spriteSourceSize</key>
                <string>{311,196}</string>
                <key>textureRect</key>
                <string>{{1,927},{311,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/554/effect/col_action1/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{311,160}</string>
                <key>spriteSourceSize</key>
                <string>{311,196}</string>
                <key>textureRect</key>
                <string>{{627,925},{311,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/554/effect/col_action1/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{311,168}</string>
                <key>spriteSourceSize</key>
                <string>{311,196}</string>
                <key>textureRect</key>
                <string>{{314,757},{311,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/554/effect/col_action1/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{311,176}</string>
                <key>spriteSourceSize</key>
                <string>{311,196}</string>
                <key>textureRect</key>
                <string>{{627,573},{311,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/554/effect/col_action1/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{311,184}</string>
                <key>spriteSourceSize</key>
                <string>{311,196}</string>
                <key>textureRect</key>
                <string>{{1,393},{311,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/554/effect/col_action1/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{311,188}</string>
                <key>spriteSourceSize</key>
                <string>{311,196}</string>
                <key>textureRect</key>
                <string>{{314,391},{311,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/554/effect/col_action1/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{311,190}</string>
                <key>spriteSourceSize</key>
                <string>{311,196}</string>
                <key>textureRect</key>
                <string>{{314,199},{311,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/554/effect/col_action1/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{311,192}</string>
                <key>spriteSourceSize</key>
                <string>{311,196}</string>
                <key>textureRect</key>
                <string>{{1,199},{311,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/554/effect/col_action1/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{311,194}</string>
                <key>spriteSourceSize</key>
                <string>{311,196}</string>
                <key>textureRect</key>
                <string>{{627,1},{311,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/554/effect/col_action1/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{311,194}</string>
                <key>spriteSourceSize</key>
                <string>{311,196}</string>
                <key>textureRect</key>
                <string>{{627,197},{311,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/554/effect/col_action1/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,196}</string>
                <key>spriteSourceSize</key>
                <string>{311,196}</string>
                <key>textureRect</key>
                <string>{{1,1},{311,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/554/effect/col_action1/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,196}</string>
                <key>spriteSourceSize</key>
                <string>{311,196}</string>
                <key>textureRect</key>
                <string>{{314,1},{311,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/554/effect/col_action1/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{311,158}</string>
                <key>spriteSourceSize</key>
                <string>{311,196}</string>
                <key>textureRect</key>
                <string>{{314,927},{311,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/554/effect/col_action1/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{311,158}</string>
                <key>spriteSourceSize</key>
                <string>{311,196}</string>
                <key>textureRect</key>
                <string>{{1,1087},{311,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/554/effect/col_action1/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{311,158}</string>
                <key>spriteSourceSize</key>
                <string>{311,196}</string>
                <key>textureRect</key>
                <string>{{1,1400},{311,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/554/effect/col_action1/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{311,158}</string>
                <key>spriteSourceSize</key>
                <string>{311,196}</string>
                <key>textureRect</key>
                <string>{{1,1713},{311,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/554/effect/col_action1/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{311,158}</string>
                <key>spriteSourceSize</key>
                <string>{311,196}</string>
                <key>textureRect</key>
                <string>{{161,1087},{311,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/554/effect/col_action1/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{311,158}</string>
                <key>spriteSourceSize</key>
                <string>{311,196}</string>
                <key>textureRect</key>
                <string>{{474,1087},{311,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/554/effect/col_action1/20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{311,158}</string>
                <key>spriteSourceSize</key>
                <string>{311,196}</string>
                <key>textureRect</key>
                <string>{{787,1087},{311,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/554/effect/col_action1/21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{311,158}</string>
                <key>spriteSourceSize</key>
                <string>{311,196}</string>
                <key>textureRect</key>
                <string>{{161,1247},{311,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/554/effect/col_action1/22</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{311,158}</string>
                <key>spriteSourceSize</key>
                <string>{311,196}</string>
                <key>textureRect</key>
                <string>{{474,1247},{311,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/554/effect/col_action1/23</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{311,158}</string>
                <key>spriteSourceSize</key>
                <string>{311,196}</string>
                <key>textureRect</key>
                <string>{{787,1400},{311,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/554/effect/col_action1/24</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{311,158}</string>
                <key>spriteSourceSize</key>
                <string>{311,196}</string>
                <key>textureRect</key>
                <string>{{161,1713},{311,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/554/effect/col_action1/25</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{311,158}</string>
                <key>spriteSourceSize</key>
                <string>{311,196}</string>
                <key>textureRect</key>
                <string>{{161,1407},{311,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/554/effect/col_action1/26</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{311,158}</string>
                <key>spriteSourceSize</key>
                <string>{311,196}</string>
                <key>textureRect</key>
                <string>{{321,1707},{311,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/554/effect/col_action1/27</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{311,158}</string>
                <key>spriteSourceSize</key>
                <string>{311,196}</string>
                <key>textureRect</key>
                <string>{{474,1407},{311,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/554/effect/col_action1/28</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{311,180}</string>
                <key>spriteSourceSize</key>
                <string>{311,196}</string>
                <key>textureRect</key>
                <string>{{1,579},{311,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/554/effect/col_action1/29</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{311,178}</string>
                <key>spriteSourceSize</key>
                <string>{311,196}</string>
                <key>textureRect</key>
                <string>{{627,393},{311,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/554/effect/col_action1/30</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{311,174}</string>
                <key>spriteSourceSize</key>
                <string>{311,196}</string>
                <key>textureRect</key>
                <string>{{314,581},{311,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/554/effect/col_action1/31</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{311,172}</string>
                <key>spriteSourceSize</key>
                <string>{311,196}</string>
                <key>textureRect</key>
                <string>{{627,751},{311,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/554/effect/col_action1/32</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{311,164}</string>
                <key>spriteSourceSize</key>
                <string>{311,196}</string>
                <key>textureRect</key>
                <string>{{1,761},{311,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/554/effect/col_action1/33</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{311,158}</string>
                <key>spriteSourceSize</key>
                <string>{311,196}</string>
                <key>textureRect</key>
                <string>{{481,1675},{311,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/554/effect/col_action1/34</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-26}</string>
                <key>spriteSize</key>
                <string>{257,138}</string>
                <key>spriteSourceSize</key>
                <string>{311,196}</string>
                <key>textureRect</key>
                <string>{{161,1567},{257,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/554/effect/col_action1/35</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-41}</string>
                <key>spriteSize</key>
                <string>{245,106}</string>
                <key>spriteSourceSize</key>
                <string>{311,196}</string>
                <key>textureRect</key>
                <string>{{420,1567},{245,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action10.pvr.ccz</string>
            <key>size</key>
            <string>{948,2025}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14e6f7c33acdca8cf338448ebad1c989:d87544c66239219fc355b39d6eb2c03a:fd6dfe3ee94267230ed6425290acf6b5$</string>
            <key>textureFileName</key>
            <string>col_action10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
