<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>at2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{800,450}</string>
			<key>spriteSourceSize</key>
			<string>{800,450}</string>
			<key>textureRect</key>
			<string>{{1,1},{800,450}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>at3</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{800,450}</string>
			<key>spriteSourceSize</key>
			<string>{800,450}</string>
			<key>textureRect</key>
			<string>{{1,453},{800,450}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>at4</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{800,450}</string>
			<key>spriteSourceSize</key>
			<string>{800,450}</string>
			<key>textureRect</key>
			<string>{{1,905},{800,450}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>effect.pvr.ccz</string>
		<key>size</key>
		<string>{802,1356}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d7cfc25d6a1b90974a5468b8fe22145f:9cf62912b80831bc009e704fa00163af:e0fdcd92bbdb8ab6858982d39ba3f2d9$</string>
		<key>textureFileName</key>
		<string>effect.pvr.ccz</string>
	</dict>
</dict>
</plist>
