<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-260.5,260.5}</string>
			<key>spriteSize</key>
			<string>{3,3}</string>
			<key>spriteSourceSize</key>
			<string>{524,524}</string>
			<key>textureRect</key>
			<string>{{765,765},{3,3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{114,184}</string>
			<key>spriteSourceSize</key>
			<string>{524,524}</string>
			<key>textureRect</key>
			<string>{{1491,759},{114,184}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{94,150}</string>
			<key>spriteSourceSize</key>
			<string>{524,524}</string>
			<key>textureRect</key>
			<string>{{1455,1313},{94,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{88,142}</string>
			<key>spriteSourceSize</key>
			<string>{524,524}</string>
			<key>textureRect</key>
			<string>{{1521,379},{88,142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{88,142}</string>
			<key>spriteSourceSize</key>
			<string>{524,524}</string>
			<key>textureRect</key>
			<string>{{1521,523},{88,142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,0}</string>
			<key>spriteSize</key>
			<string>{90,142}</string>
			<key>spriteSourceSize</key>
			<string>{524,524}</string>
			<key>textureRect</key>
			<string>{{1491,945},{90,142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{120,196}</string>
			<key>spriteSourceSize</key>
			<string>{524,524}</string>
			<key>textureRect</key>
			<string>{{1455,1115},{120,196}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,-1}</string>
			<key>spriteSize</key>
			<string>{142,220}</string>
			<key>spriteSourceSize</key>
			<string>{524,524}</string>
			<key>textureRect</key>
			<string>{{229,1163},{142,220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-1}</string>
			<key>spriteSize</key>
			<string>{226,242}</string>
			<key>spriteSourceSize</key>
			<string>{524,524}</string>
			<key>textureRect</key>
			<string>{{1,1163},{226,242}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{304,304}</string>
			<key>spriteSourceSize</key>
			<string>{524,524}</string>
			<key>textureRect</key>
			<string>{{391,1143},{304,304}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{326,324}</string>
			<key>spriteSourceSize</key>
			<string>{524,524}</string>
			<key>textureRect</key>
			<string>{{1127,1115},{326,324}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{360,352}</string>
			<key>spriteSourceSize</key>
			<string>{524,524}</string>
			<key>textureRect</key>
			<string>{{765,1099},{360,352}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,5}</string>
			<key>spriteSize</key>
			<string>{364,372}</string>
			<key>spriteSourceSize</key>
			<string>{524,524}</string>
			<key>textureRect</key>
			<string>{{1155,385},{364,372}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,11}</string>
			<key>spriteSize</key>
			<string>{372,376}</string>
			<key>spriteSourceSize</key>
			<string>{524,524}</string>
			<key>textureRect</key>
			<string>{{391,765},{372,376}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,7}</string>
			<key>spriteSize</key>
			<string>{386,376}</string>
			<key>spriteSourceSize</key>
			<string>{524,524}</string>
			<key>textureRect</key>
			<string>{{1195,1},{386,376}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>15</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,10}</string>
			<key>spriteSize</key>
			<string>{386,382}</string>
			<key>spriteSourceSize</key>
			<string>{524,524}</string>
			<key>textureRect</key>
			<string>{{807,1},{386,382}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>16</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,10}</string>
			<key>spriteSize</key>
			<string>{388,388}</string>
			<key>spriteSourceSize</key>
			<string>{524,524}</string>
			<key>textureRect</key>
			<string>{{1,773},{388,388}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>17</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-7,4}</string>
			<key>spriteSize</key>
			<string>{362,354}</string>
			<key>spriteSourceSize</key>
			<string>{524,524}</string>
			<key>textureRect</key>
			<string>{{771,743},{362,354}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>18</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,2}</string>
			<key>spriteSize</key>
			<string>{384,378}</string>
			<key>spriteSourceSize</key>
			<string>{524,524}</string>
			<key>textureRect</key>
			<string>{{391,379},{384,378}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>19</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,6}</string>
			<key>spriteSize</key>
			<string>{394,374}</string>
			<key>spriteSourceSize</key>
			<string>{524,524}</string>
			<key>textureRect</key>
			<string>{{411,1},{394,374}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>20</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-15,12}</string>
			<key>spriteSize</key>
			<string>{388,392}</string>
			<key>spriteSourceSize</key>
			<string>{524,524}</string>
			<key>textureRect</key>
			<string>{{1,379},{388,392}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>21</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-7,1}</string>
			<key>spriteSize</key>
			<string>{408,376}</string>
			<key>spriteSourceSize</key>
			<string>{524,524}</string>
			<key>textureRect</key>
			<string>{{1,1},{408,376}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>22</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,1}</string>
			<key>spriteSize</key>
			<string>{356,382}</string>
			<key>spriteSourceSize</key>
			<string>{524,524}</string>
			<key>textureRect</key>
			<string>{{771,385},{356,382}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>23</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-14}</string>
			<key>spriteSize</key>
			<string>{354,354}</string>
			<key>spriteSourceSize</key>
			<string>{524,524}</string>
			<key>textureRect</key>
			<string>{{1135,759},{354,354}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action10.pvr.ccz</string>
		<key>size</key>
		<string>{1610,1452}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:5e0f2d8847fd259fc24f9feff52f74ac:51ed412e01d8b5635937aac917ed93e5:fd6dfe3ee94267230ed6425290acf6b5$</string>
		<key>textureFileName</key>
		<string>col_action10.pvr.ccz</string>
	</dict>
</dict>
</plist>
