<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/836/effect/col_action_3/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-162}</string>
                <key>spriteSize</key>
                <string>{37,9}</string>
                <key>spriteSourceSize</key>
                <string>{411,391}</string>
                <key>textureRect</key>
                <string>{{1419,154},{37,9}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/836/effect/col_action_3/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-162}</string>
                <key>spriteSize</key>
                <string>{75,13}</string>
                <key>spriteSourceSize</key>
                <string>{411,391}</string>
                <key>textureRect</key>
                <string>{{775,362},{75,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/836/effect/col_action_3/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-162}</string>
                <key>spriteSize</key>
                <string>{113,17}</string>
                <key>spriteSourceSize</key>
                <string>{411,391}</string>
                <key>textureRect</key>
                <string>{{1390,366},{113,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/836/effect/col_action_3/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-162}</string>
                <key>spriteSize</key>
                <string>{151,23}</string>
                <key>spriteSourceSize</key>
                <string>{411,391}</string>
                <key>textureRect</key>
                <string>{{1419,1},{151,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/836/effect/col_action_3/20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-163}</string>
                <key>spriteSize</key>
                <string>{185,27}</string>
                <key>spriteSourceSize</key>
                <string>{411,391}</string>
                <key>textureRect</key>
                <string>{{1361,366},{185,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/836/effect/col_action_3/21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,5}</string>
                <key>spriteSize</key>
                <string>{239,365}</string>
                <key>spriteSourceSize</key>
                <string>{411,391}</string>
                <key>textureRect</key>
                <string>{{601,1154},{239,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/836/effect/col_action_3/22</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,4}</string>
                <key>spriteSize</key>
                <string>{293,367}</string>
                <key>spriteSourceSize</key>
                <string>{411,391}</string>
                <key>textureRect</key>
                <string>{{306,1154},{293,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/836/effect/col_action_3/23</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,3}</string>
                <key>spriteSize</key>
                <string>{303,367}</string>
                <key>spriteSourceSize</key>
                <string>{411,391}</string>
                <key>textureRect</key>
                <string>{{1,1154},{303,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/836/effect/col_action_3/24</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,6}</string>
                <key>spriteSize</key>
                <string>{313,379}</string>
                <key>spriteSourceSize</key>
                <string>{411,391}</string>
                <key>textureRect</key>
                <string>{{1042,747},{313,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/836/effect/col_action_3/25</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,6}</string>
                <key>spriteSize</key>
                <string>{335,379}</string>
                <key>spriteSourceSize</key>
                <string>{411,391}</string>
                <key>textureRect</key>
                <string>{{1024,366},{335,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/836/effect/col_action_3/26</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,2}</string>
                <key>spriteSize</key>
                <string>{359,387}</string>
                <key>spriteSourceSize</key>
                <string>{411,391}</string>
                <key>textureRect</key>
                <string>{{775,1},{359,387}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/836/effect/col_action_3/27</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,2}</string>
                <key>spriteSize</key>
                <string>{389,385}</string>
                <key>spriteSourceSize</key>
                <string>{411,391}</string>
                <key>textureRect</key>
                <string>{{1,1},{389,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/836/effect/col_action_3/28</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{381,377}</string>
                <key>spriteSourceSize</key>
                <string>{411,391}</string>
                <key>textureRect</key>
                <string>{{392,1},{381,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/836/effect/col_action_3/29</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-5}</string>
                <key>spriteSize</key>
                <string>{377,381}</string>
                <key>spriteSourceSize</key>
                <string>{411,391}</string>
                <key>textureRect</key>
                <string>{{1,388},{377,381}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/836/effect/col_action_3/30</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-5}</string>
                <key>spriteSize</key>
                <string>{369,381}</string>
                <key>spriteSourceSize</key>
                <string>{411,391}</string>
                <key>textureRect</key>
                <string>{{1,771},{369,381}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/836/effect/col_action_3/31</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-5}</string>
                <key>spriteSize</key>
                <string>{349,381}</string>
                <key>spriteSourceSize</key>
                <string>{411,391}</string>
                <key>textureRect</key>
                <string>{{372,771},{349,381}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/836/effect/col_action_3/32</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-5}</string>
                <key>spriteSize</key>
                <string>{319,381}</string>
                <key>spriteSourceSize</key>
                <string>{411,391}</string>
                <key>textureRect</key>
                <string>{{703,380},{319,381}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/836/effect/col_action_3/33</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-5}</string>
                <key>spriteSize</key>
                <string>{321,381}</string>
                <key>spriteSourceSize</key>
                <string>{411,391}</string>
                <key>textureRect</key>
                <string>{{380,388},{321,381}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/836/effect/col_action_3/34</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-5}</string>
                <key>spriteSize</key>
                <string>{317,381}</string>
                <key>spriteSourceSize</key>
                <string>{411,391}</string>
                <key>textureRect</key>
                <string>{{723,763},{317,381}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/836/effect/col_action_3/35</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-3}</string>
                <key>spriteSize</key>
                <string>{299,379}</string>
                <key>spriteSourceSize</key>
                <string>{411,391}</string>
                <key>textureRect</key>
                <string>{{1143,1128},{299,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/836/effect/col_action_3/36</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,1}</string>
                <key>spriteSize</key>
                <string>{299,371}</string>
                <key>spriteSourceSize</key>
                <string>{411,391}</string>
                <key>textureRect</key>
                <string>{{842,1146},{299,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/836/effect/col_action_3/37</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,1}</string>
                <key>spriteSize</key>
                <string>{253,363}</string>
                <key>spriteSourceSize</key>
                <string>{411,391}</string>
                <key>textureRect</key>
                <string>{{1164,1},{253,363}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/836/effect/col_action_3/38</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-162}</string>
                <key>spriteSize</key>
                <string>{125,19}</string>
                <key>spriteSourceSize</key>
                <string>{411,391}</string>
                <key>textureRect</key>
                <string>{{1361,553},{125,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/836/effect/col_action_3/39</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-162}</string>
                <key>spriteSize</key>
                <string>{41,9}</string>
                <key>spriteSourceSize</key>
                <string>{411,391}</string>
                <key>textureRect</key>
                <string>{{1042,1128},{41,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action_30.pvr.ccz</string>
            <key>size</key>
            <string>{1443,1522}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c65fa06bef975dc8a66dc337ae11d242:1558da981916f8d88e26fcbd46c1519b:5753d62c1fadf796cb771431578d2729$</string>
            <key>textureFileName</key>
            <string>col_action_30.pvr.ccz</string>
        </dict>
    </dict>
</plist>
