<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>intro/bg/fake_intro_2023</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,970}</string>
                <key>spriteSourceSize</key>
                <string>{1600,970}</string>
                <key>textureRect</key>
                <string>{{1,1},{1600,970}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>bg.pvr.ccz</string>
            <key>size</key>
            <string>{1602,972}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a844098206241fee14c2f566f93bbd9:0ad9c14a1f6fc495a1dd416ebbba1ddc:b9ac7fcafea4754d416d8216ba5d2469$</string>
            <key>textureFileName</key>
            <string>bg.pvr.ccz</string>
        </dict>
    </dict>
</plist>
