<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>at2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-97,0}</string>
			<key>spriteSize</key>
			<string>{588,480}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{1,1},{588,480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>at3</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-3}</string>
			<key>spriteSize</key>
			<string>{800,474}</string>
			<key>spriteSourceSize</key>
			<string>{800,480}</string>
			<key>textureRect</key>
			<string>{{591,1},{800,474}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>effect.pvr.ccz</string>
		<key>size</key>
		<string>{1392,482}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:4bdf893dda21ce58c3ceff72f373e7ca:498567cddcb6ba35d815bf96cc8a9946:e0fdcd92bbdb8ab6858982d39ba3f2d9$</string>
		<key>textureFileName</key>
		<string>effect.pvr.ccz</string>
	</dict>
</dict>
</plist>
