<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/raid/renewalRaid/bg_back</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{584,295}</string>
                <key>spriteSourceSize</key>
                <string>{584,295}</string>
                <key>textureRect</key>
                <string>{{1,1},{584,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/raid/renewalRaid/bg_raidpopup</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,271}</string>
                <key>spriteSourceSize</key>
                <string>{155,275}</string>
                <key>textureRect</key>
                <string>{{587,1},{155,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/raid/renewalRaid/bg_time</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,26}</string>
                <key>spriteSourceSize</key>
                <string>{103,26}</string>
                <key>textureRect</key>
                <string>{{819,151},{103,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/raid/renewalRaid/health_full</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{112,18}</string>
                <key>spriteSourceSize</key>
                <string>{112,24}</string>
                <key>textureRect</key>
                <string>{{587,274},{112,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/raid/renewalRaid/health_progress</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,13}</string>
                <key>spriteSourceSize</key>
                <string>{72,13}</string>
                <key>textureRect</key>
                <string>{{847,149},{72,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/raid/renewalRaid/health_zero</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{112,18}</string>
                <key>spriteSourceSize</key>
                <string>{114,24}</string>
                <key>textureRect</key>
                <string>{{841,1},{112,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/raid/renewalRaid/heart</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,21}</string>
                <key>spriteSourceSize</key>
                <string>{23,21}</string>
                <key>textureRect</key>
                <string>{{701,274},{23,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/raid/renewalRaid/new</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{828,115},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/raid/renewalRaid/notice</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{34,36}</string>
                <key>textureRect</key>
                <string>{{807,256},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/raid/renewalRaid/txt_clear_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,75}</string>
                <key>spriteSourceSize</key>
                <string>{95,75}</string>
                <key>textureRect</key>
                <string>{{744,1},{95,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/raid/renewalRaid/txt_clear_ko</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,71}</string>
                <key>spriteSourceSize</key>
                <string>{82,71}</string>
                <key>textureRect</key>
                <string>{{744,78},{82,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/raid/renewalRaid/txt_fail_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,64}</string>
                <key>spriteSourceSize</key>
                <string>{73,64}</string>
                <key>textureRect</key>
                <string>{{744,151},{73,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/raid/renewalRaid/txt_fail_ko</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,61}</string>
                <key>spriteSourceSize</key>
                <string>{60,61}</string>
                <key>textureRect</key>
                <string>{{744,217},{60,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>renewalRaid.pvr.ccz</string>
            <key>size</key>
            <string>{861,297}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cae1f4e650e601bc3e07f0d3ca1e4ca1:e908b752ec1abf499167e8fc0e3a560e:3bbde4e78900481e2643bc0a2724f180$</string>
            <key>textureFileName</key>
            <string>renewalRaid.pvr.ccz</string>
        </dict>
    </dict>
</plist>
