<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/209/effect/col_action2/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{150,144}</string>
                <key>spriteSourceSize</key>
                <string>{280,168}</string>
                <key>textureRect</key>
                <string>{{367,331},{150,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/209/effect/col_action2/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{110,106}</string>
                <key>spriteSourceSize</key>
                <string>{280,168}</string>
                <key>textureRect</key>
                <string>{{373,169},{110,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/209/effect/col_action2/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{152,148}</string>
                <key>spriteSourceSize</key>
                <string>{280,168}</string>
                <key>textureRect</key>
                <string>{{357,489},{152,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/209/effect/col_action2/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,3}</string>
                <key>spriteSize</key>
                <string>{174,154}</string>
                <key>spriteSourceSize</key>
                <string>{280,168}</string>
                <key>textureRect</key>
                <string>{{181,489},{174,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/209/effect/col_action2/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,3}</string>
                <key>spriteSize</key>
                <string>{178,154}</string>
                <key>spriteSourceSize</key>
                <string>{280,168}</string>
                <key>textureRect</key>
                <string>{{1,489},{178,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/209/effect/col_action2/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{178,156}</string>
                <key>spriteSourceSize</key>
                <string>{280,168}</string>
                <key>textureRect</key>
                <string>{{187,331},{178,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/209/effect/col_action2/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{184,158}</string>
                <key>spriteSourceSize</key>
                <string>{280,168}</string>
                <key>textureRect</key>
                <string>{{1,329},{184,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/209/effect/col_action2/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{186,162}</string>
                <key>spriteSourceSize</key>
                <string>{280,168}</string>
                <key>textureRect</key>
                <string>{{189,1},{186,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/209/effect/col_action2/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{186,160}</string>
                <key>spriteSourceSize</key>
                <string>{280,168}</string>
                <key>textureRect</key>
                <string>{{1,167},{186,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/209/effect/col_action2/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{186,164}</string>
                <key>spriteSourceSize</key>
                <string>{280,168}</string>
                <key>textureRect</key>
                <string>{{1,1},{186,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/209/effect/col_action2/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-1}</string>
                <key>spriteSize</key>
                <string>{182,164}</string>
                <key>spriteSourceSize</key>
                <string>{280,168}</string>
                <key>textureRect</key>
                <string>{{189,165},{182,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/209/effect/col_action2/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,1}</string>
                <key>spriteSize</key>
                <string>{166,116}</string>
                <key>spriteSourceSize</key>
                <string>{280,168}</string>
                <key>textureRect</key>
                <string>{{377,1},{166,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action20.pvr.ccz</string>
            <key>size</key>
            <string>{512,644}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8017441fbe69d95510b4a6ded00ced29:9e676641218effb2db9ea98d7ffda44b:98ec4b5f3da3b367b0df440471cccb39$</string>
            <key>textureFileName</key>
            <string>col_action20.pvr.ccz</string>
        </dict>
    </dict>
</plist>
