<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/event/anniversary2020/pluck/box/LV5_ef</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{196,871},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/box/LV5_effect</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{529,530}</string>
                <key>spriteSourceSize</key>
                <string>{529,530}</string>
                <key>textureRect</key>
                <string>{{1,1},{529,530}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/box/cash_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{150,93}</string>
                <key>spriteSourceSize</key>
                <string>{156,137}</string>
                <key>textureRect</key>
                <string>{{258,769},{150,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/box/cash_box_txt_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,30}</string>
                <key>spriteSourceSize</key>
                <string>{156,30}</string>
                <key>textureRect</key>
                <string>{{513,533},{156,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/box/cash_box_txt_kr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,29}</string>
                <key>spriteSourceSize</key>
                <string>{132,29}</string>
                <key>textureRect</key>
                <string>{{592,445},{132,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/box/dragon_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{156,117}</string>
                <key>spriteSourceSize</key>
                <string>{156,137}</string>
                <key>textureRect</key>
                <string>{{258,533},{156,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/box/dragon_box_txt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,29}</string>
                <key>spriteSourceSize</key>
                <string>{132,29}</string>
                <key>textureRect</key>
                <string>{{548,667},{132,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/box/dragon_box_txt_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,31}</string>
                <key>spriteSourceSize</key>
                <string>{159,31}</string>
                <key>textureRect</key>
                <string>{{559,305},{159,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/box/evolution_box_txt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,29}</string>
                <key>spriteSourceSize</key>
                <string>{132,29}</string>
                <key>textureRect</key>
                <string>{{579,579},{132,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/box/evolution_box_txt_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,27}</string>
                <key>spriteSourceSize</key>
                <string>{193,27}</string>
                <key>textureRect</key>
                <string>{{1,871},{193,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/box/gem_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,89}</string>
                <key>spriteSourceSize</key>
                <string>{156,137}</string>
                <key>textureRect</key>
                <string>{{532,1},{150,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/box/gem_box_txt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,29}</string>
                <key>spriteSourceSize</key>
                <string>{138,29}</string>
                <key>textureRect</key>
                <string>{{592,305},{138,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/box/gem_box_txt_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,25}</string>
                <key>spriteSourceSize</key>
                <string>{219,25}</string>
                <key>textureRect</key>
                <string>{{532,305},{219,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/box/levelup_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{150,115}</string>
                <key>spriteSourceSize</key>
                <string>{156,137}</string>
                <key>textureRect</key>
                <string>{{258,652},{150,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/box/levelup_box_txt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,29}</string>
                <key>spriteSourceSize</key>
                <string>{132,29}</string>
                <key>textureRect</key>
                <string>{{410,837},{132,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/box/levelup_box_txt_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,26}</string>
                <key>spriteSourceSize</key>
                <string>{133,26}</string>
                <key>textureRect</key>
                <string>{{252,864},{133,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/box/multi_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,43}</string>
                <key>spriteSourceSize</key>
                <string>{138,43}</string>
                <key>textureRect</key>
                <string>{{503,691},{138,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/box/normalBg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,308}</string>
                <key>spriteSourceSize</key>
                <string>{255,308}</string>
                <key>textureRect</key>
                <string>{{1,533},{255,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/box/reinforce_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{150,95}</string>
                <key>spriteSourceSize</key>
                <string>{156,137}</string>
                <key>textureRect</key>
                <string>{{416,533},{150,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/box/reinforce_txt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,29}</string>
                <key>spriteSourceSize</key>
                <string>{132,29}</string>
                <key>textureRect</key>
                <string>{{387,868},{132,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/box/revolution_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{150,91}</string>
                <key>spriteSourceSize</key>
                <string>{156,137}</string>
                <key>textureRect</key>
                <string>{{410,685},{150,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/box/revolution_box_txt_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,26}</string>
                <key>spriteSourceSize</key>
                <string>{249,26}</string>
                <key>textureRect</key>
                <string>{{1,843},{249,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/box/spirit_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{150,89}</string>
                <key>spriteSourceSize</key>
                <string>{156,137}</string>
                <key>textureRect</key>
                <string>{{532,153},{150,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/box/spirit_box_txt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,29}</string>
                <key>spriteSourceSize</key>
                <string>{132,29}</string>
                <key>textureRect</key>
                <string>{{579,713},{132,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/box/spirit_box_txt_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,32}</string>
                <key>spriteSourceSize</key>
                <string>{139,32}</string>
                <key>textureRect</key>
                <string>{{545,526},{139,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>box.pvr.ccz</string>
            <key>size</key>
            <string>{622,904}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7bb4a16bbf62c87cbff816c79fea17a:6f596f8fe6b00d384c480d13ba46b428:2d3529b5ebfd4d7e95bba3df71e3b645$</string>
            <key>textureFileName</key>
            <string>box.pvr.ccz</string>
        </dict>
    </dict>
</plist>
