<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/event/anniversary2020/pluck/box_main/cash_box_main</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{268,167}</string>
                <key>spriteSourceSize</key>
                <string>{280,249}</string>
                <key>textureRect</key>
                <string>{{271,1},{268,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/box_main/dragon_box_main</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{280,211}</string>
                <key>spriteSourceSize</key>
                <string>{280,249}</string>
                <key>textureRect</key>
                <string>{{271,541},{280,211}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/box_main/effect</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,246}</string>
                <key>spriteSourceSize</key>
                <string>{246,246}</string>
                <key>textureRect</key>
                <string>{{1,657},{246,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/box_main/gem_box_main</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{268,159}</string>
                <key>spriteSourceSize</key>
                <string>{280,249}</string>
                <key>textureRect</key>
                <string>{{1,1},{268,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/box_main/levelup_box_main</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,22}</string>
                <key>spriteSize</key>
                <string>{268,205}</string>
                <key>spriteSourceSize</key>
                <string>{280,249}</string>
                <key>textureRect</key>
                <string>{{271,271},{268,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/box_main/reinforce_box_main</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{268,169}</string>
                <key>spriteSourceSize</key>
                <string>{280,249}</string>
                <key>textureRect</key>
                <string>{{1,486},{268,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/box_main/revolution_box_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{268,161}</string>
                <key>spriteSourceSize</key>
                <string>{280,249}</string>
                <key>textureRect</key>
                <string>{{1,323},{268,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/box_main/spirit_box_main</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{268,159}</string>
                <key>spriteSourceSize</key>
                <string>{280,249}</string>
                <key>textureRect</key>
                <string>{{1,162},{268,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>box_main.pvr.ccz</string>
            <key>size</key>
            <string>{483,904}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12ed3a9b7d0ef6ffda8dd78cb1c283f1:86b3afaaf95ddbfbfcb1db75c34f3ec1:48920398fcc70dd25108a9617a2b6a04$</string>
            <key>textureFileName</key>
            <string>box_main.pvr.ccz</string>
        </dict>
    </dict>
</plist>
