<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/event/anniversary2020/pluck/fever/EF_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{439,1101},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/fever/EF_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,13}</string>
                <key>spriteSourceSize</key>
                <string>{13,13}</string>
                <key>textureRect</key>
                <string>{{500,1046},{13,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/fever/EF_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{476,1046},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/fever/FEVER_ITEM</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,66}</string>
                <key>spriteSourceSize</key>
                <string>{164,66}</string>
                <key>textureRect</key>
                <string>{{371,962},{164,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/fever/TIME_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,52}</string>
                <key>spriteSourceSize</key>
                <string>{60,52}</string>
                <key>textureRect</key>
                <string>{{529,861},{60,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/fever/TIME_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,52}</string>
                <key>spriteSourceSize</key>
                <string>{60,52}</string>
                <key>textureRect</key>
                <string>{{591,861},{58,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/fever/backlight</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{529,530}</string>
                <key>spriteSourceSize</key>
                <string>{529,530}</string>
                <key>textureRect</key>
                <string>{{1,1},{529,530}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/fever/card_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,480}</string>
                <key>spriteSourceSize</key>
                <string>{428,480}</string>
                <key>textureRect</key>
                <string>{{533,1},{428,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/fever/card_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,480}</string>
                <key>spriteSourceSize</key>
                <string>{428,480}</string>
                <key>textureRect</key>
                <string>{{533,431},{428,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/fever/card_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,480}</string>
                <key>spriteSourceSize</key>
                <string>{428,480}</string>
                <key>textureRect</key>
                <string>{{1,532},{428,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/fever/exp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,36}</string>
                <key>spriteSourceSize</key>
                <string>{293,46}</string>
                <key>textureRect</key>
                <string>{{483,532},{285,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/fever/exp_rainbow</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,26}</string>
                <key>spriteSourceSize</key>
                <string>{273,26}</string>
                <key>textureRect</key>
                <string>{{439,1073},{273,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/fever/fail_fever</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,292}</string>
                <key>spriteSourceSize</key>
                <string>{240,292}</string>
                <key>textureRect</key>
                <string>{{714,861},{240,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/fever/fever_eff_text</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,176}</string>
                <key>spriteSourceSize</key>
                <string>{368,176}</string>
                <key>textureRect</key>
                <string>{{1,962},{368,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/fever/fever_text</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,35}</string>
                <key>spriteSourceSize</key>
                <string>{109,35}</string>
                <key>textureRect</key>
                <string>{{439,962},{109,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/fever/percent_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,44}</string>
                <key>spriteSourceSize</key>
                <string>{225,44}</string>
                <key>textureRect</key>
                <string>{{483,819},{225,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>fever.pvr.ccz</string>
            <key>size</key>
            <string>{1014,1139}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af4fdb0d9e8ba46fec0e3649f5debdeb:da57a74f6ac09f91054730e7a6566182:d1bada087be5fa98114c9c54a22692c1$</string>
            <key>textureFileName</key>
            <string>fever.pvr.ccz</string>
        </dict>
    </dict>
</plist>
