<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/event/anniversary2020/pluck/reset/box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,215}</string>
                <key>spriteSourceSize</key>
                <string>{444,215}</string>
                <key>textureRect</key>
                <string>{{1,81},{444,215}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/anniversary2020/pluck/reset/cancel</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,38}</string>
                <key>spriteSourceSize</key>
                <string>{152,38}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/anniversary2020/pluck/reset/confirm</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,38}</string>
                <key>spriteSourceSize</key>
                <string>{152,38}</string>
                <key>textureRect</key>
                <string>{{1,41},{152,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>reset.pvr.ccz</string>
            <key>size</key>
            <string>{217,526}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91ef89aac0949e731eb7a9655446e314:331d6de3e4b029c590e345baa19a683a:16ec5e478d447929fd38534446a71fef$</string>
            <key>textureFileName</key>
            <string>reset.pvr.ccz</string>
        </dict>
    </dict>
</plist>
