<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/event/anniversary2020/pluck/scale9/info_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,109}</string>
                <key>spriteSourceSize</key>
                <string>{100,109}</string>
                <key>textureRect</key>
                <string>{{1,1},{100,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>scale9.pvr.ccz</string>
            <key>size</key>
            <string>{102,111}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7499eb61d20da794db991a10204a78ca:5bc4e35efec32feb0596a47a7d94d42d:6f7b3facf21f2a5d368b2d3e0aff0361$</string>
            <key>textureFileName</key>
            <string>scale9.pvr.ccz</string>
        </dict>
    </dict>
</plist>
