<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster/193/effect/at1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-111,0}</string>
                <key>spriteSize</key>
                <string>{577,480}</string>
                <key>spriteSourceSize</key>
                <string>{799,480}</string>
                <key>textureRect</key>
                <string>{{1,965},{577,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/193/effect/at2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{799,480}</string>
                <key>spriteSourceSize</key>
                <string>{799,480}</string>
                <key>textureRect</key>
                <string>{{1,1},{799,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/193/effect/at3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{799,480}</string>
                <key>spriteSourceSize</key>
                <string>{799,480}</string>
                <key>textureRect</key>
                <string>{{1,483},{799,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>effect.pvr.ccz</string>
            <key>size</key>
            <string>{801,1446}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23933aaa63f6af2ef1ec57adde6f0852:3b15cec8304ab6c2d85f2a43a5625c65:e0fdcd92bbdb8ab6858982d39ba3f2d9$</string>
            <key>textureFileName</key>
            <string>effect.pvr.ccz</string>
        </dict>
    </dict>
</plist>
