<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/archa/gemlab/popup_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,156}</string>
                <key>spriteSourceSize</key>
                <string>{444,156}</string>
                <key>textureRect</key>
                <string>{{1,484},{444,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/gemlab/tri_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{472,481}</string>
                <key>spriteSourceSize</key>
                <string>{472,481}</string>
                <key>textureRect</key>
                <string>{{1,1},{472,481}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>gemlab.pvr.ccz</string>
            <key>size</key>
            <string>{474,641}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45703699f6082e3a27ae52cf2ce91095:8095280228691f21f4f4dd8947faccb2:5d8c76e34b9ffbda3a5f67f634ccf173$</string>
            <key>textureFileName</key>
            <string>gemlab.pvr.ccz</string>
        </dict>
    </dict>
</plist>
