<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/archa/single_preset/bt_archadeck_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,51}</string>
                <key>spriteSourceSize</key>
                <string>{58,51}</string>
                <key>textureRect</key>
                <string>{{1,1},{58,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/archa/single_preset/bt_archadeck_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,51}</string>
                <key>spriteSourceSize</key>
                <string>{58,51}</string>
                <key>textureRect</key>
                <string>{{54,1},{58,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/archa/single_preset/bt_reset</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,38}</string>
                <key>spriteSourceSize</key>
                <string>{137,38}</string>
                <key>textureRect</key>
                <string>{{107,1},{137,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/single_preset/txt_archadeck</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,24}</string>
                <key>spriteSourceSize</key>
                <string>{82,24}</string>
                <key>textureRect</key>
                <string>{{247,38},{82,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/single_preset/txt_archadeck_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,35}</string>
                <key>spriteSourceSize</key>
                <string>{76,35}</string>
                <key>textureRect</key>
                <string>{{246,1},{76,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/single_preset/txt_archadeck_off1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,20}</string>
                <key>spriteSourceSize</key>
                <string>{17,20}</string>
                <key>textureRect</key>
                <string>{{331,45},{17,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/archa/single_preset/txt_archadeck_off2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{227,41},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/single_preset/txt_archadeck_off3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,21}</string>
                <key>spriteSourceSize</key>
                <string>{18,21}</string>
                <key>textureRect</key>
                <string>{{107,41},{18,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/single_preset/txt_archadeck_off4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{324,1},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/single_preset/txt_archadeck_off5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,21}</string>
                <key>spriteSourceSize</key>
                <string>{18,21}</string>
                <key>textureRect</key>
                <string>{{127,41},{18,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/single_preset/txt_archadeck_off6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,21}</string>
                <key>spriteSourceSize</key>
                <string>{18,21}</string>
                <key>textureRect</key>
                <string>{{147,41},{18,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/single_preset/txt_archadeck_off7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,20}</string>
                <key>spriteSourceSize</key>
                <string>{17,20}</string>
                <key>textureRect</key>
                <string>{{351,23},{17,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/single_preset/txt_archadeck_on1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,20}</string>
                <key>spriteSourceSize</key>
                <string>{17,20}</string>
                <key>textureRect</key>
                <string>{{364,1},{17,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/single_preset/txt_archadeck_on2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{331,23},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/single_preset/txt_archadeck_on3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,21}</string>
                <key>spriteSourceSize</key>
                <string>{18,21}</string>
                <key>textureRect</key>
                <string>{{167,41},{18,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/single_preset/txt_archadeck_on4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{344,1},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/single_preset/txt_archadeck_on5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,21}</string>
                <key>spriteSourceSize</key>
                <string>{18,21}</string>
                <key>textureRect</key>
                <string>{{187,41},{18,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/single_preset/txt_archadeck_on6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,21}</string>
                <key>spriteSourceSize</key>
                <string>{18,21}</string>
                <key>textureRect</key>
                <string>{{207,41},{18,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/single_preset/txt_archadeck_on7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,20}</string>
                <key>spriteSourceSize</key>
                <string>{17,20}</string>
                <key>textureRect</key>
                <string>{{353,45},{17,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>single_preset.pvr.ccz</string>
            <key>size</key>
            <string>{382,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d64c40e32042d83f429f49da17af63ee:21f326c939193497c284ab386c57e16a:8a6fb0f7d02ecf5740d35230a5d0a997$</string>
            <key>textureFileName</key>
            <string>single_preset.pvr.ccz</string>
        </dict>
    </dict>
</plist>
