<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/archa/tower/bg_line2</key>
            <dict>
                <key>frame</key>
                <string>{{209,980},{13,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,30}}</string>
                <key>sourceSize</key>
                <string>{13,30}</string>
            </dict>
            <key>scene/archa/tower/boss_hp</key>
            <dict>
                <key>frame</key>
                <string>{{233,1124},{597,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{597,16}}</string>
                <key>sourceSize</key>
                <string>{603,22}</string>
            </dict>
            <key>scene/archa/tower/boss_hp_bg</key>
            <dict>
                <key>frame</key>
                <string>{{209,995},{603,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{603,22}}</string>
                <key>sourceSize</key>
                <string>{603,22}</string>
            </dict>
            <key>scene/archa/tower/boss_txt_bg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1658},{348,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,76}}</string>
                <key>sourceSize</key>
                <string>{348,76}</string>
            </dict>
            <key>scene/archa/tower/bt_mint</key>
            <dict>
                <key>frame</key>
                <string>{{152,1508},{148,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,51}}</string>
                <key>sourceSize</key>
                <string>{148,51}</string>
            </dict>
            <key>scene/archa/tower/bt_red</key>
            <dict>
                <key>frame</key>
                <string>{{2,1508},{148,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,51}}</string>
                <key>sourceSize</key>
                <string>{148,51}</string>
            </dict>
            <key>scene/archa/tower/bt_reset</key>
            <dict>
                <key>frame</key>
                <string>{{209,804},{137,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,38}}</string>
                <key>sourceSize</key>
                <string>{137,38}</string>
            </dict>
            <key>scene/archa/tower/gauge_hp</key>
            <dict>
                <key>frame</key>
                <string>{{241,980},{142,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,11}}</string>
                <key>sourceSize</key>
                <string>{142,11}</string>
            </dict>
            <key>scene/archa/tower/icon_cave_tower</key>
            <dict>
                <key>frame</key>
                <string>{{209,943},{36,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>scene/archa/tower/mark_in</key>
            <dict>
                <key>frame</key>
                <string>{{80,1611},{48,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,70}}</string>
                <key>sourceSize</key>
                <string>{48,70}</string>
            </dict>
            <key>scene/archa/tower/mark_out</key>
            <dict>
                <key>frame</key>
                <string>{{80,1561},{48,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,70}}</string>
                <key>sourceSize</key>
                <string>{48,70}</string>
            </dict>
            <key>scene/archa/tower/plus_slot</key>
            <dict>
                <key>frame</key>
                <string>{{80,1987},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>scene/archa/tower/reward_chainfo_bg</key>
            <dict>
                <key>frame</key>
                <string>{{149,1726},{265,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,91}}</string>
                <key>sourceSize</key>
                <string>{265,91}</string>
            </dict>
            <key>scene/archa/tower/top_bag</key>
            <dict>
                <key>frame</key>
                <string>{{152,1658},{66,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,73}}</string>
                <key>sourceSize</key>
                <string>{66,73}</string>
            </dict>
            <key>scene/archa/tower/top_bg</key>
            <dict>
                <key>frame</key>
                <string>{{80,1661},{324,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,67}}</string>
                <key>sourceSize</key>
                <string>{324,67}</string>
            </dict>
            <key>scene/archa/tower/top_tower_bag</key>
            <dict>
                <key>frame</key>
                <string>{{2,1561},{66,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,73}}</string>
                <key>sourceSize</key>
                <string>{66,73}</string>
            </dict>
            <key>scene/archa/tower/tower_front</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,252}}</string>
                <key>offset</key>
                <string>{0,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,228},{800,252}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>scene/archa/tower/txt_lose</key>
            <dict>
                <key>frame</key>
                <string>{{2,1160},{346,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,195}}</string>
                <key>sourceSize</key>
                <string>{346,195}</string>
            </dict>
            <key>scene/archa/tower/txt_win</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{354,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,205}}</string>
                <key>sourceSize</key>
                <string>{354,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tower.pvr.ccz</string>
            <key>size</key>
            <string>{256,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ef5b1029bccc1c3b15df31af25f0e6b:3c20d6c35ad6e10612a4ed15bc2c7140:d17431b98a526120b6dd9a77af5429f3$</string>
            <key>textureFileName</key>
            <string>tower.pvr.ccz</string>
        </dict>
    </dict>
</plist>
