<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/archa/tower/bg_line2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,30}</string>
                <key>spriteSourceSize</key>
                <string>{13,30}</string>
                <key>textureRect</key>
                <string>{{767,622},{13,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/tower/boss_hp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{599,18}</string>
                <key>spriteSourceSize</key>
                <string>{603,22}</string>
                <key>textureRect</key>
                <string>{{783,279},{599,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/tower/boss_hp_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{603,22}</string>
                <key>spriteSourceSize</key>
                <string>{603,22}</string>
                <key>textureRect</key>
                <string>{{783,255},{603,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/tower/boss_txt_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,76}</string>
                <key>spriteSourceSize</key>
                <string>{348,76}</string>
                <key>textureRect</key>
                <string>{{432,544},{348,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/tower/bt_mint</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,51}</string>
                <key>spriteSourceSize</key>
                <string>{148,51}</string>
                <key>textureRect</key>
                <string>{{1527,685},{148,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/archa/tower/bt_mode_hard_00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{172,203}</string>
                <key>spriteSourceSize</key>
                <string>{188,219}</string>
                <key>textureRect</key>
                <string>{{357,715},{172,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/archa/tower/bt_mode_hard_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{172,203}</string>
                <key>spriteSourceSize</key>
                <string>{188,219}</string>
                <key>textureRect</key>
                <string>{{562,715},{172,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/archa/tower/bt_mode_hard_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{186,217}</string>
                <key>spriteSourceSize</key>
                <string>{188,219}</string>
                <key>textureRect</key>
                <string>{{780,356},{186,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/archa/tower/bt_mode_infinite_00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,203}</string>
                <key>spriteSourceSize</key>
                <string>{188,219}</string>
                <key>textureRect</key>
                <string>{{767,685},{172,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/tower/bt_mode_infinite_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,203}</string>
                <key>spriteSourceSize</key>
                <string>{188,219}</string>
                <key>textureRect</key>
                <string>{{941,685},{172,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/tower/bt_mode_infinite_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,217}</string>
                <key>spriteSourceSize</key>
                <string>{188,219}</string>
                <key>textureRect</key>
                <string>{{999,356},{186,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/archa/tower/bt_mode_normal_00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{172,203}</string>
                <key>spriteSourceSize</key>
                <string>{188,219}</string>
                <key>textureRect</key>
                <string>{{1115,685},{172,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/tower/bt_mode_normal_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{172,203}</string>
                <key>spriteSourceSize</key>
                <string>{188,219}</string>
                <key>textureRect</key>
                <string>{{1289,685},{172,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/tower/bt_mode_normal_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{186,217}</string>
                <key>spriteSourceSize</key>
                <string>{188,219}</string>
                <key>textureRect</key>
                <string>{{1218,317},{186,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/tower/bt_mode_open</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{429,303}</string>
                <key>spriteSourceSize</key>
                <string>{429,303}</string>
                <key>textureRect</key>
                <string>{{1,347},{429,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/tower/bt_ranking</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,62}</string>
                <key>spriteSourceSize</key>
                <string>{148,62}</string>
                <key>textureRect</key>
                <string>{{1463,685},{148,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/archa/tower/bt_red</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,51}</string>
                <key>spriteSourceSize</key>
                <string>{148,51}</string>
                <key>textureRect</key>
                <string>{{1108,544},{148,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/tower/bt_reset</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,38}</string>
                <key>spriteSourceSize</key>
                <string>{137,38}</string>
                <key>textureRect</key>
                <string>{{1258,536},{137,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/tower/bt_reward</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,43}</string>
                <key>spriteSourceSize</key>
                <string>{109,43}</string>
                <key>textureRect</key>
                <string>{{1463,835},{109,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/tower/bt_reward_dimmed</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,43}</string>
                <key>spriteSourceSize</key>
                <string>{109,43}</string>
                <key>textureRect</key>
                <string>{{1258,576},{109,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/tower/gauge_hp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,11}</string>
                <key>spriteSourceSize</key>
                <string>{142,11}</string>
                <key>textureRect</key>
                <string>{{1,877},{142,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/tower/icon_cave_tower</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,35}</string>
                <key>spriteSourceSize</key>
                <string>{36,35}</string>
                <key>textureRect</key>
                <string>{{1369,576},{36,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/archa/tower/mark_in</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,70}</string>
                <key>spriteSourceSize</key>
                <string>{48,70}</string>
                <key>textureRect</key>
                <string>{{357,652},{48,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/archa/tower/mark_out</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,70}</string>
                <key>spriteSourceSize</key>
                <string>{48,70}</string>
                <key>textureRect</key>
                <string>{{782,613},{48,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/tower/plus_slot</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{907,613},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/tower/ranking_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,344}</string>
                <key>spriteSourceSize</key>
                <string>{780,344}</string>
                <key>textureRect</key>
                <string>{{1,1},{780,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/tower/reward_chainfo_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,91}</string>
                <key>spriteSourceSize</key>
                <string>{265,91}</string>
                <key>textureRect</key>
                <string>{{432,622},{265,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/tower/text_mode_disable</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{492,16}</string>
                <key>spriteSourceSize</key>
                <string>{492,16}</string>
                <key>textureRect</key>
                <string>{{783,299},{492,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/tower/text_mode_disable_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,37}</string>
                <key>spriteSourceSize</key>
                <string>{415,37}</string>
                <key>textureRect</key>
                <string>{{783,317},{415,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/tower/text_mode_select</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,15}</string>
                <key>spriteSourceSize</key>
                <string>{234,15}</string>
                <key>textureRect</key>
                <string>{{1585,1},{234,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/archa/tower/text_mode_select_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,16}</string>
                <key>spriteSourceSize</key>
                <string>{270,16}</string>
                <key>textureRect</key>
                <string>{{1,859},{270,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/tower/title_rank</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{212,181}</string>
                <key>spriteSourceSize</key>
                <string>{238,181}</string>
                <key>textureRect</key>
                <string>{{1406,471},{212,181}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/archa/tower/title_rank_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,181}</string>
                <key>spriteSourceSize</key>
                <string>{238,181}</string>
                <key>textureRect</key>
                <string>{{1406,255},{214,181}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/archa/tower/top_bag</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,73}</string>
                <key>spriteSourceSize</key>
                <string>{66,73}</string>
                <key>textureRect</key>
                <string>{{699,622},{66,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/tower/top_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,67}</string>
                <key>spriteSourceSize</key>
                <string>{324,67}</string>
                <key>textureRect</key>
                <string>{{782,544},{324,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/tower/top_tower_bag</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,73}</string>
                <key>spriteSourceSize</key>
                <string>{66,73}</string>
                <key>textureRect</key>
                <string>{{832,613},{66,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/archa/tower/tower_front</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-114}</string>
                <key>spriteSize</key>
                <string>{800,252}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{783,1},{800,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/tower/txt_lose</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,195}</string>
                <key>spriteSourceSize</key>
                <string>{346,195}</string>
                <key>textureRect</key>
                <string>{{432,347},{346,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/tower/txt_win</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,205}</string>
                <key>spriteSourceSize</key>
                <string>{354,205}</string>
                <key>textureRect</key>
                <string>{{1,652},{354,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>tower.pvr.ccz</string>
            <key>size</key>
            <string>{1601,889}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7081f94a7adc3560fc6d273ab93d6c01:2726e03a2ed118e2edc303b24f4b51d3:d17431b98a526120b6dd9a77af5429f3$</string>
            <key>textureFileName</key>
            <string>tower.pvr.ccz</string>
        </dict>
    </dict>
</plist>
