<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/archa/world/bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,480}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/archa/world/name_archa</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,57}</string>
                <key>spriteSourceSize</key>
                <string>{140,57}</string>
                <key>textureRect</key>
                <string>{{1,803},{140,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/world/name_archa_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,57}</string>
                <key>spriteSourceSize</key>
                <string>{140,57}</string>
                <key>textureRect</key>
                <string>{{143,803},{140,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/world/name_archa_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,57}</string>
                <key>spriteSourceSize</key>
                <string>{140,57}</string>
                <key>textureRect</key>
                <string>{{285,803},{140,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/world/name_archa_off_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,57}</string>
                <key>spriteSourceSize</key>
                <string>{140,57}</string>
                <key>textureRect</key>
                <string>{{427,803},{140,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/archa/world/name_dark</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,30}</string>
                <key>spriteSourceSize</key>
                <string>{136,30}</string>
                <key>textureRect</key>
                <string>{{1,862},{136,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/world/name_dark_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,30}</string>
                <key>spriteSourceSize</key>
                <string>{136,30}</string>
                <key>textureRect</key>
                <string>{{139,862},{136,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/world/name_dark_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,30}</string>
                <key>spriteSourceSize</key>
                <string>{136,30}</string>
                <key>textureRect</key>
                <string>{{277,862},{136,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/world/name_dark_off_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,30}</string>
                <key>spriteSourceSize</key>
                <string>{136,30}</string>
                <key>textureRect</key>
                <string>{{1,894},{136,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/world/name_earth</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,30}</string>
                <key>spriteSourceSize</key>
                <string>{136,30}</string>
                <key>textureRect</key>
                <string>{{139,894},{136,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/world/name_earth_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,30}</string>
                <key>spriteSourceSize</key>
                <string>{136,30}</string>
                <key>textureRect</key>
                <string>{{277,894},{136,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/world/name_earth_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,30}</string>
                <key>spriteSourceSize</key>
                <string>{136,30}</string>
                <key>textureRect</key>
                <string>{{1,926},{136,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/world/name_earth_off_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,30}</string>
                <key>spriteSourceSize</key>
                <string>{136,30}</string>
                <key>textureRect</key>
                <string>{{139,926},{136,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/world/name_fire</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,30}</string>
                <key>spriteSourceSize</key>
                <string>{136,30}</string>
                <key>textureRect</key>
                <string>{{277,926},{136,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/world/name_fire_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,30}</string>
                <key>spriteSourceSize</key>
                <string>{136,30}</string>
                <key>textureRect</key>
                <string>{{1,958},{136,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/world/name_fire_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,30}</string>
                <key>spriteSourceSize</key>
                <string>{136,30}</string>
                <key>textureRect</key>
                <string>{{139,958},{136,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/world/name_fire_off_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,30}</string>
                <key>spriteSourceSize</key>
                <string>{136,30}</string>
                <key>textureRect</key>
                <string>{{277,958},{136,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/world/name_light</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,30}</string>
                <key>spriteSourceSize</key>
                <string>{136,30}</string>
                <key>textureRect</key>
                <string>{{1,990},{136,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/world/name_light_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,30}</string>
                <key>spriteSourceSize</key>
                <string>{136,30}</string>
                <key>textureRect</key>
                <string>{{139,990},{136,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/world/name_light_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,30}</string>
                <key>spriteSourceSize</key>
                <string>{136,30}</string>
                <key>textureRect</key>
                <string>{{277,990},{136,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/world/name_light_off_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,30}</string>
                <key>spriteSourceSize</key>
                <string>{136,30}</string>
                <key>textureRect</key>
                <string>{{1,1022},{136,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/world/name_searchparty</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,30}</string>
                <key>spriteSourceSize</key>
                <string>{136,30}</string>
                <key>textureRect</key>
                <string>{{277,1022},{136,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/world/name_searchparty _off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,30}</string>
                <key>spriteSourceSize</key>
                <string>{136,30}</string>
                <key>textureRect</key>
                <string>{{139,1022},{136,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/world/name_searchparty_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,30}</string>
                <key>spriteSourceSize</key>
                <string>{136,30}</string>
                <key>textureRect</key>
                <string>{{1,1054},{136,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/world/name_searchparty_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,40}</string>
                <key>spriteSourceSize</key>
                <string>{101,40}</string>
                <key>textureRect</key>
                <string>{{277,1182},{101,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/world/name_searchparty_off_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,30}</string>
                <key>spriteSourceSize</key>
                <string>{136,30}</string>
                <key>textureRect</key>
                <string>{{139,1054},{136,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/world/name_tower</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,30}</string>
                <key>spriteSourceSize</key>
                <string>{136,30}</string>
                <key>textureRect</key>
                <string>{{277,1054},{136,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/world/name_tower_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,30}</string>
                <key>spriteSourceSize</key>
                <string>{136,30}</string>
                <key>textureRect</key>
                <string>{{1,1086},{136,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/world/name_tower_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,30}</string>
                <key>spriteSourceSize</key>
                <string>{136,30}</string>
                <key>textureRect</key>
                <string>{{139,1086},{136,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/world/name_tower_off_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,30}</string>
                <key>spriteSourceSize</key>
                <string>{136,30}</string>
                <key>textureRect</key>
                <string>{{277,1086},{136,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/world/name_village10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,41}</string>
                <key>spriteSourceSize</key>
                <string>{125,41}</string>
                <key>textureRect</key>
                <string>{{415,945},{125,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/archa/world/name_village10_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,41}</string>
                <key>spriteSourceSize</key>
                <string>{125,41}</string>
                <key>textureRect</key>
                <string>{{458,945},{125,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/archa/world/name_village10_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,41}</string>
                <key>spriteSourceSize</key>
                <string>{125,41}</string>
                <key>textureRect</key>
                <string>{{415,1072},{125,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/archa/world/name_village10_off_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,41}</string>
                <key>spriteSourceSize</key>
                <string>{125,41}</string>
                <key>textureRect</key>
                <string>{{458,1072},{125,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/archa/world/name_water</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,30}</string>
                <key>spriteSourceSize</key>
                <string>{136,30}</string>
                <key>textureRect</key>
                <string>{{1,1118},{136,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/world/name_water_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,30}</string>
                <key>spriteSourceSize</key>
                <string>{136,30}</string>
                <key>textureRect</key>
                <string>{{139,1118},{136,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/world/name_water_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,30}</string>
                <key>spriteSourceSize</key>
                <string>{136,30}</string>
                <key>textureRect</key>
                <string>{{277,1118},{136,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/world/name_water_off_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,30}</string>
                <key>spriteSourceSize</key>
                <string>{136,30}</string>
                <key>textureRect</key>
                <string>{{1,1150},{136,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/world/name_wind</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,30}</string>
                <key>spriteSourceSize</key>
                <string>{136,30}</string>
                <key>textureRect</key>
                <string>{{139,1150},{136,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/world/name_wind_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,30}</string>
                <key>spriteSourceSize</key>
                <string>{136,30}</string>
                <key>textureRect</key>
                <string>{{277,1150},{136,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/world/name_wind_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,30}</string>
                <key>spriteSourceSize</key>
                <string>{136,30}</string>
                <key>textureRect</key>
                <string>{{1,1182},{136,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/world/name_wind_off_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,30}</string>
                <key>spriteSourceSize</key>
                <string>{136,30}</string>
                <key>textureRect</key>
                <string>{{139,1182},{136,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>world.pvr.ccz</string>
            <key>size</key>
            <string>{500,1223}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:683399bd5095982c321f02399c4073f8:74c2ea763f906f3b503df19c03488d15:f566c0f4be085255764b1309dbb63cad$</string>
            <key>textureFileName</key>
            <string>world.pvr.ccz</string>
        </dict>
    </dict>
</plist>
