<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3381/effect/col_action1/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-129,92}</string>
                <key>spriteSize</key>
                <string>{142,56}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1,177},{142,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3381/effect/col_action1/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-120,-38}</string>
                <key>spriteSize</key>
                <string>{154,92}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{321,135},{154,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3381/effect/col_action1/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-120,-23}</string>
                <key>spriteSize</key>
                <string>{154,132}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{321,1},{154,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3381/effect/col_action1/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-114,-22}</string>
                <key>spriteSize</key>
                <string>{164,152}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{167,1},{164,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3381/effect/col_action1/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-114,-11}</string>
                <key>spriteSize</key>
                <string>{164,174}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{164,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3381/effect/col_action1/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-124,-44}</string>
                <key>spriteSize</key>
                <string>{102,62}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{167,167},{102,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action10.pvr.ccz</string>
            <key>size</key>
            <string>{476,234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6231867b7f2d5758aad96ffe0caccaef:e101c0b824bbaca3618a1429e61e24b8:fd6dfe3ee94267230ed6425290acf6b5$</string>
            <key>textureFileName</key>
            <string>col_action10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
