<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/shop/discount/discount_icon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,74}</string>
                <key>spriteSourceSize</key>
                <string>{70,74}</string>
                <key>textureRect</key>
                <string>{{174,1},{70,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/shop/discount/discount_label_big</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,69}</string>
                <key>spriteSourceSize</key>
                <string>{95,69}</string>
                <key>textureRect</key>
                <string>{{77,1},{95,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/shop/discount/discount_label_small</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,53}</string>
                <key>spriteSourceSize</key>
                <string>{74,53}</string>
                <key>textureRect</key>
                <string>{{1,1},{74,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>discount.pvr.ccz</string>
            <key>size</key>
            <string>{249,72}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:693512bea1e72bb510594423b7e76fbe:0647df64919e15fafdad8b0c8319ce98:1173266072a39f7422a8bc12c948ce37$</string>
            <key>textureFileName</key>
            <string>discount.pvr.ccz</string>
        </dict>
    </dict>
</plist>
