<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/shop/renewal/bar_gauge_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,3}</string>
                <key>spriteSourceSize</key>
                <string>{98,3}</string>
                <key>textureRect</key>
                <string>{{478,1},{98,3}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/shop/renewal/cash_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,74}</string>
                <key>spriteSourceSize</key>
                <string>{108,74}</string>
                <key>textureRect</key>
                <string>{{243,878},{108,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/shop/renewal/cash_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,72}</string>
                <key>spriteSourceSize</key>
                <string>{148,72}</string>
                <key>textureRect</key>
                <string>{{219,225},{148,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/shop/renewal/cash_4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,109}</string>
                <key>spriteSourceSize</key>
                <string>{125,109}</string>
                <key>textureRect</key>
                <string>{{144,767},{125,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/shop/renewal/cash_5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,109}</string>
                <key>spriteSourceSize</key>
                <string>{125,109}</string>
                <key>textureRect</key>
                <string>{{1,847},{125,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/shop/renewal/cash_6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,129}</string>
                <key>spriteSourceSize</key>
                <string>{141,129}</string>
                <key>textureRect</key>
                <string>{{1,716},{141,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/shop/renewal/cash_7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,173}</string>
                <key>spriteSourceSize</key>
                <string>{216,173}</string>
                <key>textureRect</key>
                <string>{{1,225},{216,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/shop/renewal/cash_8</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,222}</string>
                <key>spriteSourceSize</key>
                <string>{291,222}</string>
                <key>textureRect</key>
                <string>{{1,1},{291,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/shop/renewal/gold_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,78}</string>
                <key>spriteSourceSize</key>
                <string>{113,78}</string>
                <key>textureRect</key>
                <string>{{128,878},{113,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/shop/renewal/gold_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,80}</string>
                <key>spriteSourceSize</key>
                <string>{145,80}</string>
                <key>textureRect</key>
                <string>{{191,620},{145,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/shop/renewal/gold_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,103}</string>
                <key>spriteSourceSize</key>
                <string>{120,103}</string>
                <key>textureRect</key>
                <string>{{127,958},{120,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/shop/renewal/gold_4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,102}</string>
                <key>spriteSourceSize</key>
                <string>{124,102}</string>
                <key>textureRect</key>
                <string>{{1,958},{124,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/shop/renewal/gold_5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,150}</string>
                <key>spriteSourceSize</key>
                <string>{189,150}</string>
                <key>textureRect</key>
                <string>{{288,618},{189,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/shop/renewal/gold_6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,161}</string>
                <key>spriteSourceSize</key>
                <string>{206,161}</string>
                <key>textureRect</key>
                <string>{{292,455},{206,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/shop/renewal/golddia_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,73}</string>
                <key>spriteSourceSize</key>
                <string>{107,73}</string>
                <key>textureRect</key>
                <string>{{353,878},{107,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/shop/renewal/golddia_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,71}</string>
                <key>spriteSourceSize</key>
                <string>{108,71}</string>
                <key>textureRect</key>
                <string>{{219,375},{108,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/shop/renewal/golddia_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,106}</string>
                <key>spriteSourceSize</key>
                <string>{120,106}</string>
                <key>textureRect</key>
                <string>{{271,770},{120,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/shop/renewal/golddia_4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,107}</string>
                <key>spriteSourceSize</key>
                <string>{126,107}</string>
                <key>textureRect</key>
                <string>{{249,954},{126,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/shop/renewal/golddia_5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{214,174}</string>
                <key>spriteSourceSize</key>
                <string>{214,176}</string>
                <key>textureRect</key>
                <string>{{293,279},{214,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/shop/renewal/golddia_6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,182}</string>
                <key>spriteSourceSize</key>
                <string>{276,182}</string>
                <key>textureRect</key>
                <string>{{294,1},{276,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/shop/renewal/new</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,55}</string>
                <key>spriteSourceSize</key>
                <string>{85,55}</string>
                <key>textureRect</key>
                <string>{{443,953},{85,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/shop/renewal/preparing_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,95}</string>
                <key>spriteSourceSize</key>
                <string>{133,95}</string>
                <key>textureRect</key>
                <string>{{191,485},{133,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/shop/renewal/preparing_kr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,95}</string>
                <key>spriteSourceSize</key>
                <string>{72,95}</string>
                <key>textureRect</key>
                <string>{{393,770},{72,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/shop/renewal/stamp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,156}</string>
                <key>spriteSourceSize</key>
                <string>{188,156}</string>
                <key>textureRect</key>
                <string>{{1,400},{188,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/shop/renewal/stamp_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,156}</string>
                <key>spriteSourceSize</key>
                <string>{188,156}</string>
                <key>textureRect</key>
                <string>{{1,558},{188,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/shop/renewal/tag_bonus</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,64}</string>
                <key>spriteSourceSize</key>
                <string>{75,64}</string>
                <key>textureRect</key>
                <string>{{377,953},{75,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>renewal.pvr.ccz</string>
            <key>size</key>
            <string>{508,1062}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:369c72bf0c89bb58fd5c53193194e8c1:29d21e8cf9c3c1d52272a5bbd7a25109:45c6f03621e7b40c65c6e8fe0a63e9ce$</string>
            <key>textureFileName</key>
            <string>renewal.pvr.ccz</string>
        </dict>
    </dict>
</plist>
