<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/shop/scale9/bar_gauge</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{4,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,3}}</string>
                <key>sourceSize</key>
                <string>{4,3}</string>
            </dict>
            <key>scene/shop/scale9/bg_2</key>
            <dict>
                <key>frame</key>
                <string>{{153,230},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>scene/shop/scale9/bg_3</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{50,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,87}}</string>
                <key>sourceSize</key>
                <string>{50,87}</string>
            </dict>
            <key>scene/shop/scale9/bg_title</key>
            <dict>
                <key>frame</key>
                <string>{{245,54},{10,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,7}}</string>
                <key>sourceSize</key>
                <string>{10,7}</string>
            </dict>
            <key>scene/shop/scale9/bg_top</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{134,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,58}}</string>
                <key>sourceSize</key>
                <string>{134,58}</string>
            </dict>
            <key>scene/shop/scale9/box_1</key>
            <dict>
                <key>frame</key>
                <string>{{161,54},{108,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,82}}</string>
                <key>sourceSize</key>
                <string>{108,82}</string>
            </dict>
            <key>scene/shop/scale9/box_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{157,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,36}}</string>
                <key>sourceSize</key>
                <string>{157,36}</string>
            </dict>
            <key>scene/shop/scale9/box_2_cover</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{157,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,36}}</string>
                <key>sourceSize</key>
                <string>{157,36}</string>
            </dict>
            <key>scene/shop/scale9/box_3</key>
            <dict>
                <key>frame</key>
                <string>{{220,230},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>scene/shop/scale9/box_dia</key>
            <dict>
                <key>frame</key>
                <string>{{113,138},{38,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,43}}</string>
                <key>sourceSize</key>
                <string>{38,43}</string>
            </dict>
            <key>scene/shop/scale9/bt_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{104,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,51}}</string>
                <key>sourceSize</key>
                <string>{104,51}</string>
            </dict>
            <key>scene/shop/scale9/bt_1_small</key>
            <dict>
                <key>frame</key>
                <string>{{158,164},{78,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,38}}</string>
                <key>sourceSize</key>
                <string>{78,38}</string>
            </dict>
            <key>scene/shop/scale9/bt_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{109,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,51}}</string>
                <key>sourceSize</key>
                <string>{109,51}</string>
            </dict>
            <key>scene/shop/scale9/bt_3</key>
            <dict>
                <key>frame</key>
                <string>{{153,204},{74,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,24}}</string>
                <key>sourceSize</key>
                <string>{74,24}</string>
            </dict>
            <key>scene/shop/scale9/bt_reward</key>
            <dict>
                <key>frame</key>
                <string>{{67,247},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>scene/shop/scale9/tab_1</key>
            <dict>
                <key>frame</key>
                <string>{{113,178},{67,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,38}}</string>
                <key>sourceSize</key>
                <string>{67,38}</string>
            </dict>
            <key>scene/shop/scale9/tab_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{63,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,38}}</string>
                <key>sourceSize</key>
                <string>{63,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scale9.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:debc0b1678d58caeb94eaeb80191bc8e:6409c34f84656d515a796ae5544db643:6f7b3facf21f2a5d368b2d3e0aff0361$</string>
            <key>textureFileName</key>
            <string>scale9.pvr.ccz</string>
        </dict>
    </dict>
</plist>
