<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3232/effect/col_action2/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,98}</string>
                <key>spriteSize</key>
                <string>{66,93}</string>
                <key>spriteSourceSize</key>
                <string>{278,341}</string>
                <key>textureRect</key>
                <string>{{382,1162},{66,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3232/effect/col_action2/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,83}</string>
                <key>spriteSize</key>
                <string>{66,117}</string>
                <key>spriteSourceSize</key>
                <string>{278,341}</string>
                <key>textureRect</key>
                <string>{{1,916},{66,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3232/effect/col_action2/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,49}</string>
                <key>spriteSize</key>
                <string>{74,175}</string>
                <key>spriteSourceSize</key>
                <string>{278,341}</string>
                <key>textureRect</key>
                <string>{{1,1056},{74,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3232/effect/col_action2/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,22}</string>
                <key>spriteSize</key>
                <string>{80,217}</string>
                <key>spriteSourceSize</key>
                <string>{278,341}</string>
                <key>textureRect</key>
                <string>{{220,679},{80,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3232/effect/col_action2/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,12}</string>
                <key>spriteSize</key>
                <string>{114,239}</string>
                <key>spriteSourceSize</key>
                <string>{278,341}</string>
                <key>textureRect</key>
                <string>{{251,457},{114,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3232/effect/col_action2/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-5}</string>
                <key>spriteSize</key>
                <string>{116,209}</string>
                <key>spriteSourceSize</key>
                <string>{278,341}</string>
                <key>textureRect</key>
                <string>{{220,761},{116,209}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3232/effect/col_action2/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,12}</string>
                <key>spriteSize</key>
                <string>{104,227}</string>
                <key>spriteSourceSize</key>
                <string>{278,341}</string>
                <key>textureRect</key>
                <string>{{241,573},{104,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3232/effect/col_action2/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-22}</string>
                <key>spriteSize</key>
                <string>{74,167}</string>
                <key>spriteSourceSize</key>
                <string>{278,341}</string>
                <key>textureRect</key>
                <string>{{202,1056},{74,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3232/effect/col_action2/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,0}</string>
                <key>spriteSize</key>
                <string>{92,217}</string>
                <key>spriteSourceSize</key>
                <string>{278,341}</string>
                <key>textureRect</key>
                <string>{{1,669},{92,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3232/effect/col_action2/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-19}</string>
                <key>spriteSize</key>
                <string>{90,165}</string>
                <key>spriteSourceSize</key>
                <string>{278,341}</string>
                <key>textureRect</key>
                <string>{{413,889},{90,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3232/effect/col_action2/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,13}</string>
                <key>spriteSize</key>
                <string>{118,249}</string>
                <key>spriteSourceSize</key>
                <string>{278,341}</string>
                <key>textureRect</key>
                <string>{{255,337},{118,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3232/effect/col_action2/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-22}</string>
                <key>spriteSize</key>
                <string>{102,185}</string>
                <key>spriteSourceSize</key>
                <string>{278,341}</string>
                <key>textureRect</key>
                <string>{{278,1030},{102,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3232/effect/col_action2/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-56}</string>
                <key>spriteSize</key>
                <string>{100,119}</string>
                <key>spriteSourceSize</key>
                <string>{278,341}</string>
                <key>textureRect</key>
                <string>{{77,1100},{100,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3232/effect/col_action2/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-64}</string>
                <key>spriteSize</key>
                <string>{104,107}</string>
                <key>spriteSourceSize</key>
                <string>{278,341}</string>
                <key>textureRect</key>
                <string>{{382,1056},{104,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3232/effect/col_action2/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-57}</string>
                <key>spriteSize</key>
                <string>{182,123}</string>
                <key>spriteSourceSize</key>
                <string>{278,341}</string>
                <key>textureRect</key>
                <string>{{77,916},{182,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3232/effect/col_action2/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-55}</string>
                <key>spriteSize</key>
                <string>{242,165}</string>
                <key>spriteSourceSize</key>
                <string>{278,341}</string>
                <key>textureRect</key>
                <string>{{257,170},{242,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3232/effect/col_action2/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-54}</string>
                <key>spriteSize</key>
                <string>{244,167}</string>
                <key>spriteSourceSize</key>
                <string>{278,341}</string>
                <key>textureRect</key>
                <string>{{257,1},{244,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3232/effect/col_action2/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-53}</string>
                <key>spriteSize</key>
                <string>{248,169}</string>
                <key>spriteSourceSize</key>
                <string>{278,341}</string>
                <key>textureRect</key>
                <string>{{1,349},{248,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3232/effect/col_action2/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-53}</string>
                <key>spriteSize</key>
                <string>{252,171}</string>
                <key>spriteSourceSize</key>
                <string>{278,341}</string>
                <key>textureRect</key>
                <string>{{1,176},{252,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3232/effect/col_action2/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-52}</string>
                <key>spriteSize</key>
                <string>{254,173}</string>
                <key>spriteSourceSize</key>
                <string>{278,341}</string>
                <key>textureRect</key>
                <string>{{1,1},{254,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3232/effect/col_action2/20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-55}</string>
                <key>spriteSize</key>
                <string>{238,147}</string>
                <key>spriteSourceSize</key>
                <string>{278,341}</string>
                <key>textureRect</key>
                <string>{{1,520},{238,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3232/effect/col_action2/21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-56}</string>
                <key>spriteSize</key>
                <string>{202,149}</string>
                <key>spriteSourceSize</key>
                <string>{278,341}</string>
                <key>textureRect</key>
                <string>{{209,879},{202,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3232/effect/col_action2/22</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-55}</string>
                <key>spriteSize</key>
                <string>{206,151}</string>
                <key>spriteSourceSize</key>
                <string>{278,341}</string>
                <key>textureRect</key>
                <string>{{1,763},{206,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3232/effect/col_action2/23</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-41}</string>
                <key>spriteSize</key>
                <string>{208,65}</string>
                <key>spriteSourceSize</key>
                <string>{278,341}</string>
                <key>textureRect</key>
                <string>{{439,679},{208,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action20.pvr.ccz</string>
            <key>size</key>
            <string>{505,1232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a673c5ddcfe8b5b067780a6c2bd603b5:19698d2193240afb20656440dd7a0fc0:98ec4b5f3da3b367b0df440471cccb39$</string>
            <key>textureFileName</key>
            <string>col_action20.pvr.ccz</string>
        </dict>
    </dict>
</plist>
