<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/558/effect/col_action1/00</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{622,295}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,91},{622,295}}</string>
                <key>sourceSize</key>
                <string>{622,393}</string>
            </dict>
            <key>dragon/558/effect/col_action1/34</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{622,281}}</string>
                <key>offset</key>
                <string>{0,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,110},{622,281}}</string>
                <key>sourceSize</key>
                <string>{622,393}</string>
            </dict>
            <key>dragon/558/effect/col_action1/35</key>
            <dict>
                <key>frame</key>
                <string>{{285,299},{622,215}}</string>
                <key>offset</key>
                <string>{0,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,172},{622,215}}</string>
                <key>sourceSize</key>
                <string>{622,393}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>col_action12.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f04deeb34db8971f0638d2d7c3500fc5:9692a28222701b8b02b5cadff4946bf5:23ccb683114f132ce21ffb7f24065444$</string>
            <key>textureFileName</key>
            <string>col_action12.pvr.ccz</string>
        </dict>
    </dict>
</plist>
