<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/558/effect/col_action1/04</key>
            <dict>
                <key>frame</key>
                <string>{{626,1506},{622,337}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{622,337}}</string>
                <key>sourceSize</key>
                <string>{622,393}</string>
            </dict>
            <key>dragon/558/effect/col_action1/05</key>
            <dict>
                <key>frame</key>
                <string>{{1250,1139},{622,351}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{622,351}}</string>
                <key>sourceSize</key>
                <string>{622,393}</string>
            </dict>
            <key>dragon/558/effect/col_action1/06</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{622,369}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{622,369}}</string>
                <key>sourceSize</key>
                <string>{622,393}</string>
            </dict>
            <key>dragon/558/effect/col_action1/07</key>
            <dict>
                <key>frame</key>
                <string>{{626,778},{622,375}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{622,375}}</string>
                <key>sourceSize</key>
                <string>{622,393}</string>
            </dict>
            <key>dragon/558/effect/col_action1/08</key>
            <dict>
                <key>frame</key>
                <string>{{626,397},{622,379}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{622,379}}</string>
                <key>sourceSize</key>
                <string>{622,393}</string>
            </dict>
            <key>dragon/558/effect/col_action1/09</key>
            <dict>
                <key>frame</key>
                <string>{{2,397},{622,383}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{622,383}}</string>
                <key>sourceSize</key>
                <string>{622,393}</string>
            </dict>
            <key>dragon/558/effect/col_action1/10</key>
            <dict>
                <key>frame</key>
                <string>{{1250,393},{622,387}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{622,387}}</string>
                <key>sourceSize</key>
                <string>{622,393}</string>
            </dict>
            <key>dragon/558/effect/col_action1/11</key>
            <dict>
                <key>frame</key>
                <string>{{1250,2},{622,389}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{622,389}}</string>
                <key>sourceSize</key>
                <string>{622,393}</string>
            </dict>
            <key>dragon/558/effect/col_action1/12</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{622,393}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{622,393}}</string>
                <key>sourceSize</key>
                <string>{622,393}</string>
            </dict>
            <key>dragon/558/effect/col_action1/13</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{622,393}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{622,393}}</string>
                <key>sourceSize</key>
                <string>{622,393}</string>
            </dict>
            <key>dragon/558/effect/col_action1/28</key>
            <dict>
                <key>frame</key>
                <string>{{2,1153},{622,359}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{622,359}}</string>
                <key>sourceSize</key>
                <string>{622,393}</string>
            </dict>
            <key>dragon/558/effect/col_action1/29</key>
            <dict>
                <key>frame</key>
                <string>{{1250,782},{622,355}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{622,355}}</string>
                <key>sourceSize</key>
                <string>{622,393}</string>
            </dict>
            <key>dragon/558/effect/col_action1/30</key>
            <dict>
                <key>frame</key>
                <string>{{626,1155},{622,349}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{622,349}}</string>
                <key>sourceSize</key>
                <string>{622,393}</string>
            </dict>
            <key>dragon/558/effect/col_action1/31</key>
            <dict>
                <key>frame</key>
                <string>{{1250,1492},{622,343}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{622,343}}</string>
                <key>sourceSize</key>
                <string>{622,393}</string>
            </dict>
            <key>dragon/558/effect/col_action1/32</key>
            <dict>
                <key>frame</key>
                <string>{{2,1514},{622,329}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,64},{622,329}}</string>
                <key>sourceSize</key>
                <string>{622,393}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>col_action10.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f04deeb34db8971f0638d2d7c3500fc5:9692a28222701b8b02b5cadff4946bf5:23ccb683114f132ce21ffb7f24065444$</string>
            <key>textureFileName</key>
            <string>col_action10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
