<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-26,46}</string>
			<key>spriteSize</key>
			<string>{28,49}</string>
			<key>spriteSourceSize</key>
			<string>{416,371}</string>
			<key>textureRect</key>
			<string>{{465,1},{28,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-9,36}</string>
			<key>spriteSize</key>
			<string>{62,59}</string>
			<key>spriteSourceSize</key>
			<string>{416,371}</string>
			<key>textureRect</key>
			<string>{{1,1365},{62,59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-41,75}</string>
			<key>spriteSize</key>
			<string>{126,149}</string>
			<key>spriteSourceSize</key>
			<string>{416,371}</string>
			<key>textureRect</key>
			<string>{{358,786},{126,149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-44,49}</string>
			<key>spriteSize</key>
			<string>{214,205}</string>
			<key>spriteSourceSize</key>
			<string>{416,371}</string>
			<key>textureRect</key>
			<string>{{1,469},{214,205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,35}</string>
			<key>spriteSize</key>
			<string>{246,229}</string>
			<key>spriteSourceSize</key>
			<string>{416,371}</string>
			<key>textureRect</key>
			<string>{{1,1},{246,229}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-12,33}</string>
			<key>spriteSize</key>
			<string>{220,235}</string>
			<key>spriteSourceSize</key>
			<string>{416,371}</string>
			<key>textureRect</key>
			<string>{{1,232},{220,235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,5}</string>
			<key>spriteSize</key>
			<string>{214,213}</string>
			<key>spriteSourceSize</key>
			<string>{416,371}</string>
			<key>textureRect</key>
			<string>{{249,1},{214,213}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,12}</string>
			<key>spriteSize</key>
			<string>{214,175}</string>
			<key>spriteSourceSize</key>
			<string>{416,371}</string>
			<key>textureRect</key>
			<string>{{1,873},{214,175}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-13,26}</string>
			<key>spriteSize</key>
			<string>{178,197}</string>
			<key>spriteSourceSize</key>
			<string>{416,371}</string>
			<key>textureRect</key>
			<string>{{178,873},{178,197}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-7,14}</string>
			<key>spriteSize</key>
			<string>{198,195}</string>
			<key>spriteSourceSize</key>
			<string>{416,371}</string>
			<key>textureRect</key>
			<string>{{1,676},{198,195}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-2}</string>
			<key>spriteSize</key>
			<string>{212,145}</string>
			<key>spriteSourceSize</key>
			<string>{416,371}</string>
			<key>textureRect</key>
			<string>{{223,232},{212,145}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-13,30}</string>
			<key>spriteSize</key>
			<string>{170,179}</string>
			<key>spriteSourceSize</key>
			<string>{416,371}</string>
			<key>textureRect</key>
			<string>{{205,1072},{170,179}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-12,25}</string>
			<key>spriteSize</key>
			<string>{178,175}</string>
			<key>spriteSourceSize</key>
			<string>{416,371}</string>
			<key>textureRect</key>
			<string>{{270,1253},{178,175}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-12,22}</string>
			<key>spriteSize</key>
			<string>{172,113}</string>
			<key>spriteSourceSize</key>
			<string>{416,371}</string>
			<key>textureRect</key>
			<string>{{201,676},{172,113}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-14,35}</string>
			<key>spriteSize</key>
			<string>{232,97}</string>
			<key>spriteSourceSize</key>
			<string>{416,371}</string>
			<key>textureRect</key>
			<string>{{106,1089},{232,97}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>15</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-15,39}</string>
			<key>spriteSize</key>
			<string>{274,103}</string>
			<key>spriteSourceSize</key>
			<string>{416,371}</string>
			<key>textureRect</key>
			<string>{{1,1089},{274,103}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>16</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-15,41}</string>
			<key>spriteSize</key>
			<string>{156,109}</string>
			<key>spriteSourceSize</key>
			<string>{416,371}</string>
			<key>textureRect</key>
			<string>{{377,1095},{156,109}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>17</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-17,42}</string>
			<key>spriteSize</key>
			<string>{164,117}</string>
			<key>spriteSourceSize</key>
			<string>{416,371}</string>
			<key>textureRect</key>
			<string>{{316,667},{164,117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>18</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-7,35}</string>
			<key>spriteSize</key>
			<string>{150,105}</string>
			<key>spriteSourceSize</key>
			<string>{416,371}</string>
			<key>textureRect</key>
			<string>{{342,560},{150,105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>19</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-9,36}</string>
			<key>spriteSize</key>
			<string>{156,111}</string>
			<key>spriteSourceSize</key>
			<string>{416,371}</string>
			<key>textureRect</key>
			<string>{{377,937},{156,111}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>20</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-10,35}</string>
			<key>spriteSize</key>
			<string>{162,115}</string>
			<key>spriteSourceSize</key>
			<string>{416,371}</string>
			<key>textureRect</key>
			<string>{{106,1323},{162,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>21</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-10,35}</string>
			<key>spriteSize</key>
			<string>{166,119}</string>
			<key>spriteSourceSize</key>
			<string>{416,371}</string>
			<key>textureRect</key>
			<string>{{370,392},{166,119}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>22</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-11,36}</string>
			<key>spriteSize</key>
			<string>{172,123}</string>
			<key>spriteSourceSize</key>
			<string>{416,371}</string>
			<key>textureRect</key>
			<string>{{217,469},{172,123}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>23</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-11,36}</string>
			<key>spriteSize</key>
			<string>{174,123}</string>
			<key>spriteSourceSize</key>
			<string>{416,371}</string>
			<key>textureRect</key>
			<string>{{370,216},{174,123}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action10.pvr.ccz</string>
		<key>size</key>
		<string>{494,1439}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:8ddbcedc14d81dbca793c346fb45e31b:db1fe8f246f193d83f155e2fdcdc288b:fd6dfe3ee94267230ed6425290acf6b5$</string>
		<key>textureFileName</key>
		<string>col_action10.pvr.ccz</string>
	</dict>
</dict>
</plist>
