<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/823/effect/col_action3/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,2}</string>
                <key>spriteSize</key>
                <string>{160,144}</string>
                <key>spriteSourceSize</key>
                <string>{250,164}</string>
                <key>textureRect</key>
                <string>{{1,475},{160,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/823/effect/col_action3/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,2}</string>
                <key>spriteSize</key>
                <string>{162,146}</string>
                <key>spriteSourceSize</key>
                <string>{250,164}</string>
                <key>textureRect</key>
                <string>{{361,317},{162,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/823/effect/col_action3/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,7}</string>
                <key>spriteSize</key>
                <string>{148,138}</string>
                <key>spriteSourceSize</key>
                <string>{250,164}</string>
                <key>textureRect</key>
                <string>{{153,775},{148,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/823/effect/col_action3/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,5}</string>
                <key>spriteSize</key>
                <string>{148,124}</string>
                <key>spriteSourceSize</key>
                <string>{250,164}</string>
                <key>textureRect</key>
                <string>{{1,915},{148,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/823/effect/col_action3/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,6}</string>
                <key>spriteSize</key>
                <string>{148,122}</string>
                <key>spriteSourceSize</key>
                <string>{250,164}</string>
                <key>textureRect</key>
                <string>{{151,915},{148,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/823/effect/col_action3/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,8}</string>
                <key>spriteSize</key>
                <string>{146,126}</string>
                <key>spriteSourceSize</key>
                <string>{250,164}</string>
                <key>textureRect</key>
                <string>{{303,911},{146,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/823/effect/col_action3/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,0}</string>
                <key>spriteSize</key>
                <string>{200,156}</string>
                <key>spriteSourceSize</key>
                <string>{250,164}</string>
                <key>textureRect</key>
                <string>{{241,159},{200,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/823/effect/col_action3/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{238,156}</string>
                <key>spriteSourceSize</key>
                <string>{250,164}</string>
                <key>textureRect</key>
                <string>{{1,159},{238,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/823/effect/col_action3/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,156}</string>
                <key>spriteSourceSize</key>
                <string>{250,164}</string>
                <key>textureRect</key>
                <string>{{1,1},{250,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/823/effect/col_action3/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,156}</string>
                <key>spriteSourceSize</key>
                <string>{250,164}</string>
                <key>textureRect</key>
                <string>{{253,1},{250,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/823/effect/col_action3/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,156}</string>
                <key>spriteSourceSize</key>
                <string>{250,164}</string>
                <key>textureRect</key>
                <string>{{1,317},{178,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/823/effect/col_action3/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,156}</string>
                <key>spriteSourceSize</key>
                <string>{250,164}</string>
                <key>textureRect</key>
                <string>{{181,317},{178,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/823/effect/col_action3/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{150,138}</string>
                <key>spriteSourceSize</key>
                <string>{250,164}</string>
                <key>textureRect</key>
                <string>{{309,629},{150,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/823/effect/col_action3/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{146,140}</string>
                <key>spriteSourceSize</key>
                <string>{250,164}</string>
                <key>textureRect</key>
                <string>{{309,769},{146,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/823/effect/col_action3/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{150,140}</string>
                <key>spriteSourceSize</key>
                <string>{250,164}</string>
                <key>textureRect</key>
                <string>{{1,773},{150,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/823/effect/col_action3/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{250,164}</string>
                <key>textureRect</key>
                <string>{{1,621},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/823/effect/col_action3/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{150,152}</string>
                <key>spriteSourceSize</key>
                <string>{250,164}</string>
                <key>textureRect</key>
                <string>{{163,475},{150,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/823/effect/col_action3/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-1}</string>
                <key>spriteSize</key>
                <string>{146,154}</string>
                <key>spriteSourceSize</key>
                <string>{250,164}</string>
                <key>textureRect</key>
                <string>{{317,481},{146,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/823/effect/col_action3/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-1}</string>
                <key>spriteSize</key>
                <string>{146,154}</string>
                <key>spriteSourceSize</key>
                <string>{250,164}</string>
                <key>textureRect</key>
                <string>{{153,627},{146,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action30.pvr.ccz</string>
            <key>size</key>
            <string>{508,1040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78b0016f25189fe21a0ecc766f0a63f2:9d5969082d87e08b12c9467c541cb3be:e44ba353004d0fd8b165f5c6960cb7e8$</string>
            <key>textureFileName</key>
            <string>col_action30.pvr.ccz</string>
        </dict>
    </dict>
</plist>
