<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3081/effect/col_action1/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-85,60}</string>
                <key>spriteSize</key>
                <string>{73,51}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{752,1},{73,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3081/effect/col_action1/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-114,20}</string>
                <key>spriteSize</key>
                <string>{137,151}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{1,1},{137,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3081/effect/col_action1/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-114,18}</string>
                <key>spriteSize</key>
                <string>{137,147}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{154,1},{137,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3081/effect/col_action1/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-116,18}</string>
                <key>spriteSize</key>
                <string>{131,147}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{454,1},{131,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3081/effect/col_action1/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-116,18}</string>
                <key>spriteSize</key>
                <string>{131,147}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{603,1},{131,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3081/effect/col_action1/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-115,19}</string>
                <key>spriteSize</key>
                <string>{135,149}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{303,1},{135,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action10.pvr.ccz</string>
            <key>size</key>
            <string>{804,139}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fefbcf251ea87562e6d3c1b15bfffbe4:5aab0fa90d8b87805478077dc05910cb:fd6dfe3ee94267230ed6425290acf6b5$</string>
            <key>textureFileName</key>
            <string>col_action10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
