<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-153,18}</string>
			<key>spriteSize</key>
			<string>{93,63}</string>
			<key>spriteSourceSize</key>
			<string>{401,241}</string>
			<key>textureRect</key>
			<string>{{295,170},{93,63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-127,13}</string>
			<key>spriteSize</key>
			<string>{145,71}</string>
			<key>spriteSourceSize</key>
			<string>{401,241}</string>
			<key>textureRect</key>
			<string>{{148,170},{145,71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-127,19}</string>
			<key>spriteSize</key>
			<string>{145,83}</string>
			<key>spriteSourceSize</key>
			<string>{401,241}</string>
			<key>textureRect</key>
			<string>{{1,170},{145,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-127,14}</string>
			<key>spriteSize</key>
			<string>{145,101}</string>
			<key>spriteSourceSize</key>
			<string>{401,241}</string>
			<key>textureRect</key>
			<string>{{617,154},{145,101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-119,21}</string>
			<key>spriteSize</key>
			<string>{159,151}</string>
			<key>spriteSourceSize</key>
			<string>{401,241}</string>
			<key>textureRect</key>
			<string>{{464,1},{159,151}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-125,21}</string>
			<key>spriteSize</key>
			<string>{149,151}</string>
			<key>spriteSourceSize</key>
			<string>{401,241}</string>
			<key>textureRect</key>
			<string>{{617,1},{149,151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-127,3}</string>
			<key>spriteSize</key>
			<string>{143,167}</string>
			<key>spriteSourceSize</key>
			<string>{401,241}</string>
			<key>textureRect</key>
			<string>{{158,1},{143,167}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-118,11}</string>
			<key>spriteSize</key>
			<string>{163,159}</string>
			<key>spriteSourceSize</key>
			<string>{401,241}</string>
			<key>textureRect</key>
			<string>{{303,1},{163,159}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-111,24}</string>
			<key>spriteSize</key>
			<string>{167,155}</string>
			<key>spriteSourceSize</key>
			<string>{401,241}</string>
			<key>textureRect</key>
			<string>{{1,1},{167,155}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action20.pvr.ccz</string>
		<key>size</key>
		<string>{767,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:19a03fdf7758869c2e5acd572d494776:173e03d643816fe094d9917738d9b0ef:98ec4b5f3da3b367b0df440471cccb39$</string>
		<key>textureFileName</key>
		<string>col_action20.pvr.ccz</string>
	</dict>
</dict>
</plist>
