<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>frame</key>
			<string>{{531,698},{175,128}}</string>
			<key>offset</key>
			<string>{1,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{62,17},{175,128}}</string>
			<key>sourceSize</key>
			<string>{297,152}</string>
		</dict>
		<key>01</key>
		<dict>
			<key>frame</key>
			<string>{{542,828},{175,130}}</string>
			<key>offset</key>
			<string>{1,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{62,15},{175,130}}</string>
			<key>sourceSize</key>
			<string>{297,152}</string>
		</dict>
		<key>02</key>
		<dict>
			<key>frame</key>
			<string>{{796,821},{173,128}}</string>
			<key>offset</key>
			<string>{1,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{63,17},{173,128}}</string>
			<key>sourceSize</key>
			<string>{297,152}</string>
		</dict>
		<key>03</key>
		<dict>
			<key>frame</key>
			<string>{{2,684},{175,134}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{61,11},{175,134}}</string>
			<key>sourceSize</key>
			<string>{297,152}</string>
		</dict>
		<key>04</key>
		<dict>
			<key>frame</key>
			<string>{{179,684},{173,134}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{62,11},{173,134}}</string>
			<key>sourceSize</key>
			<string>{297,152}</string>
		</dict>
		<key>05</key>
		<dict>
			<key>frame</key>
			<string>{{845,421},{175,134}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{62,11},{175,134}}</string>
			<key>sourceSize</key>
			<string>{297,152}</string>
		</dict>
		<key>06</key>
		<dict>
			<key>frame</key>
			<string>{{674,828},{175,120}}</string>
			<key>offset</key>
			<string>{1,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{62,25},{175,120}}</string>
			<key>sourceSize</key>
			<string>{297,152}</string>
		</dict>
		<key>07</key>
		<dict>
			<key>frame</key>
			<string>{{144,821},{191,128}}</string>
			<key>offset</key>
			<string>{-2,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{51,17},{191,128}}</string>
			<key>sourceSize</key>
			<string>{297,152}</string>
		</dict>
		<key>08</key>
		<dict>
			<key>frame</key>
			<string>{{761,689},{215,130}}</string>
			<key>offset</key>
			<string>{-1,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,15},{215,130}}</string>
			<key>sourceSize</key>
			<string>{297,152}</string>
		</dict>
		<key>09</key>
		<dict>
			<key>frame</key>
			<string>{{785,557},{231,130}}</string>
			<key>offset</key>
			<string>{-1,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,15},{231,130}}</string>
			<key>sourceSize</key>
			<string>{297,152}</string>
		</dict>
		<key>10</key>
		<dict>
			<key>frame</key>
			<string>{{538,424},{245,132}}</string>
			<key>offset</key>
			<string>{-2,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,13},{245,132}}</string>
			<key>sourceSize</key>
			<string>{297,152}</string>
		</dict>
		<key>11</key>
		<dict>
			<key>frame</key>
			<string>{{2,548},{255,134}}</string>
			<key>offset</key>
			<string>{-2,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,13},{255,134}}</string>
			<key>sourceSize</key>
			<string>{297,152}</string>
		</dict>
		<key>12</key>
		<dict>
			<key>frame</key>
			<string>{{2,424},{261,122}}</string>
			<key>offset</key>
			<string>{-1,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,26},{261,122}}</string>
			<key>sourceSize</key>
			<string>{297,152}</string>
		</dict>
		<key>13</key>
		<dict>
			<key>frame</key>
			<string>{{2,288},{267,134}}</string>
			<key>offset</key>
			<string>{-1,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,16},{267,134}}</string>
			<key>sourceSize</key>
			<string>{297,152}</string>
		</dict>
		<key>14</key>
		<dict>
			<key>frame</key>
			<string>{{285,286},{273,134}}</string>
			<key>offset</key>
			<string>{-2,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,17},{273,134}}</string>
			<key>sourceSize</key>
			<string>{297,152}</string>
		</dict>
		<key>15</key>
		<dict>
			<key>frame</key>
			<string>{{566,284},{277,138}}</string>
			<key>offset</key>
			<string>{-2,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,14},{277,138}}</string>
			<key>sourceSize</key>
			<string>{297,152}</string>
		</dict>
		<key>16</key>
		<dict>
			<key>frame</key>
			<string>{{285,146},{279,138}}</string>
			<key>offset</key>
			<string>{-1,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,14},{279,138}}</string>
			<key>sourceSize</key>
			<string>{297,152}</string>
		</dict>
		<key>17</key>
		<dict>
			<key>frame</key>
			<string>{{580,142},{283,140}}</string>
			<key>offset</key>
			<string>{-1,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,12},{283,140}}</string>
			<key>sourceSize</key>
			<string>{297,152}</string>
		</dict>
		<key>18</key>
		<dict>
			<key>frame</key>
			<string>{{867,2},{283,140}}</string>
			<key>offset</key>
			<string>{-1,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,12},{283,140}}</string>
			<key>sourceSize</key>
			<string>{297,152}</string>
		</dict>
		<key>19</key>
		<dict>
			<key>frame</key>
			<string>{{580,2},{285,138}}</string>
			<key>offset</key>
			<string>{-1,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,14},{285,138}}</string>
			<key>sourceSize</key>
			<string>{297,152}</string>
		</dict>
		<key>20</key>
		<dict>
			<key>frame</key>
			<string>{{291,2},{287,142}}</string>
			<key>offset</key>
			<string>{-1,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,10},{287,142}}</string>
			<key>sourceSize</key>
			<string>{297,152}</string>
		</dict>
		<key>21</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{287,142}}</string>
			<key>offset</key>
			<string>{-1,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,10},{287,142}}</string>
			<key>sourceSize</key>
			<string>{297,152}</string>
		</dict>
		<key>22</key>
		<dict>
			<key>frame</key>
			<string>{{2,146},{281,140}}</string>
			<key>offset</key>
			<string>{-2,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,12},{281,140}}</string>
			<key>sourceSize</key>
			<string>{297,152}</string>
		</dict>
		<key>23</key>
		<dict>
			<key>frame</key>
			<string>{{271,422},{265,136}}</string>
			<key>offset</key>
			<string>{-3,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,16},{265,136}}</string>
			<key>sourceSize</key>
			<string>{297,152}</string>
		</dict>
		<key>24</key>
		<dict>
			<key>frame</key>
			<string>{{538,558},{221,138}}</string>
			<key>offset</key>
			<string>{-1,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,14},{221,138}}</string>
			<key>sourceSize</key>
			<string>{297,152}</string>
		</dict>
		<key>25</key>
		<dict>
			<key>frame</key>
			<string>{{2,821},{191,140}}</string>
			<key>offset</key>
			<string>{-2,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{51,12},{191,140}}</string>
			<key>sourceSize</key>
			<string>{297,152}</string>
		</dict>
		<key>26</key>
		<dict>
			<key>frame</key>
			<string>{{274,828},{187,132}}</string>
			<key>offset</key>
			<string>{-5,-10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{50,20},{187,132}}</string>
			<key>sourceSize</key>
			<string>{297,152}</string>
		</dict>
		<key>27</key>
		<dict>
			<key>frame</key>
			<string>{{408,828},{183,132}}</string>
			<key>offset</key>
			<string>{-3,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{54,19},{183,132}}</string>
			<key>sourceSize</key>
			<string>{297,152}</string>
		</dict>
		<key>28</key>
		<dict>
			<key>frame</key>
			<string>{{354,560},{181,132}}</string>
			<key>offset</key>
			<string>{-2,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,16},{181,132}}</string>
			<key>sourceSize</key>
			<string>{297,152}</string>
		</dict>
		<key>29</key>
		<dict>
			<key>frame</key>
			<string>{{845,287},{177,132}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{60,15},{177,132}}</string>
			<key>sourceSize</key>
			<string>{297,152}</string>
		</dict>
		<key>30</key>
		<dict>
			<key>frame</key>
			<string>{{354,694},{175,132}}</string>
			<key>offset</key>
			<string>{1,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{62,13},{175,132}}</string>
			<key>sourceSize</key>
			<string>{297,152}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>back.pvr.ccz</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:1e522d086c3fdb6e51d3e5128617952a:636bd214450c0b7587d6a9b4fa7ed540:43f3ab1da9ce7ff12a953bd181b43222$</string>
		<key>textureFileName</key>
		<string>back.pvr.ccz</string>
	</dict>
</dict>
</plist>
