<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/735/effect/col_action1/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{61,51}</string>
                <key>spriteSize</key>
                <string>{71,34}</string>
                <key>spriteSourceSize</key>
                <string>{205,204}</string>
                <key>textureRect</key>
                <string>{{450,555},{71,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/735/effect/col_action1/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{61,51}</string>
                <key>spriteSize</key>
                <string>{71,34}</string>
                <key>spriteSourceSize</key>
                <string>{205,204}</string>
                <key>textureRect</key>
                <string>{{450,555},{71,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/735/effect/col_action1/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,24}</string>
                <key>spriteSize</key>
                <string>{123,90}</string>
                <key>spriteSourceSize</key>
                <string>{205,204}</string>
                <key>textureRect</key>
                <string>{{142,714},{123,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/735/effect/col_action1/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,24}</string>
                <key>spriteSize</key>
                <string>{123,90}</string>
                <key>spriteSourceSize</key>
                <string>{205,204}</string>
                <key>textureRect</key>
                <string>{{142,714},{123,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/735/effect/col_action1/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,18}</string>
                <key>spriteSize</key>
                <string>{137,104}</string>
                <key>spriteSourceSize</key>
                <string>{205,204}</string>
                <key>textureRect</key>
                <string>{{322,828},{137,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/735/effect/col_action1/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-8}</string>
                <key>spriteSize</key>
                <string>{85,112}</string>
                <key>spriteSourceSize</key>
                <string>{205,204}</string>
                <key>textureRect</key>
                <string>{{94,817},{85,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/735/effect/col_action1/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-7}</string>
                <key>spriteSize</key>
                <string>{91,114}</string>
                <key>spriteSourceSize</key>
                <string>{205,204}</string>
                <key>textureRect</key>
                <string>{{1,817},{91,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/735/effect/col_action1/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,3}</string>
                <key>spriteSize</key>
                <string>{139,132}</string>
                <key>spriteSourceSize</key>
                <string>{205,204}</string>
                <key>textureRect</key>
                <string>{{1,683},{139,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/735/effect/col_action1/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,3}</string>
                <key>spriteSize</key>
                <string>{139,132}</string>
                <key>spriteSourceSize</key>
                <string>{205,204}</string>
                <key>textureRect</key>
                <string>{{181,806},{139,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/735/effect/col_action1/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,4}</string>
                <key>spriteSize</key>
                <string>{145,132}</string>
                <key>spriteSourceSize</key>
                <string>{205,204}</string>
                <key>textureRect</key>
                <string>{{348,269},{145,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/735/effect/col_action1/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,7}</string>
                <key>spriteSize</key>
                <string>{141,126}</string>
                <key>spriteSourceSize</key>
                <string>{205,204}</string>
                <key>textureRect</key>
                <string>{{144,586},{141,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/735/effect/col_action1/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,2}</string>
                <key>spriteSize</key>
                <string>{159,122}</string>
                <key>spriteSourceSize</key>
                <string>{205,204}</string>
                <key>textureRect</key>
                <string>{{1,333},{159,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/735/effect/col_action1/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-9}</string>
                <key>spriteSize</key>
                <string>{143,92}</string>
                <key>spriteSourceSize</key>
                <string>{205,204}</string>
                <key>textureRect</key>
                <string>{{1,457},{143,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/735/effect/col_action1/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-4}</string>
                <key>spriteSize</key>
                <string>{161,128}</string>
                <key>spriteSourceSize</key>
                <string>{205,204}</string>
                <key>textureRect</key>
                <string>{{177,320},{161,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/735/effect/col_action1/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-2}</string>
                <key>spriteSize</key>
                <string>{169,150}</string>
                <key>spriteSourceSize</key>
                <string>{205,204}</string>
                <key>textureRect</key>
                <string>{{177,168},{169,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/735/effect/col_action1/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{153,150}</string>
                <key>spriteSourceSize</key>
                <string>{205,204}</string>
                <key>textureRect</key>
                <string>{{340,403},{153,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/735/effect/col_action1/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{163,174}</string>
                <key>spriteSourceSize</key>
                <string>{205,204}</string>
                <key>textureRect</key>
                <string>{{1,168},{163,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/735/effect/col_action1/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{165,186}</string>
                <key>spriteSourceSize</key>
                <string>{205,204}</string>
                <key>textureRect</key>
                <string>{{1,1},{165,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/735/effect/col_action1/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{165,186}</string>
                <key>spriteSourceSize</key>
                <string>{205,204}</string>
                <key>textureRect</key>
                <string>{{189,1},{165,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/735/effect/col_action1/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{143,134}</string>
                <key>spriteSourceSize</key>
                <string>{205,204}</string>
                <key>textureRect</key>
                <string>{{162,450},{143,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/735/effect/col_action1/20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{141,130}</string>
                <key>spriteSourceSize</key>
                <string>{205,204}</string>
                <key>textureRect</key>
                <string>{{1,551},{141,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/735/effect/col_action1/21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{141,130}</string>
                <key>spriteSourceSize</key>
                <string>{205,204}</string>
                <key>textureRect</key>
                <string>{{307,555},{141,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/735/effect/col_action1/22</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{139,130}</string>
                <key>spriteSourceSize</key>
                <string>{205,204}</string>
                <key>textureRect</key>
                <string>{{364,687},{139,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/735/effect/col_action1/23</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{135,118}</string>
                <key>spriteSourceSize</key>
                <string>{205,204}</string>
                <key>textureRect</key>
                <string>{{377,1},{135,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/735/effect/col_action1/24</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,5}</string>
                <key>spriteSize</key>
                <string>{129,114}</string>
                <key>spriteSourceSize</key>
                <string>{205,204}</string>
                <key>textureRect</key>
                <string>{{377,138},{129,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/735/effect/col_action1/25</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,8}</string>
                <key>spriteSize</key>
                <string>{75,108}</string>
                <key>spriteSourceSize</key>
                <string>{205,204}</string>
                <key>textureRect</key>
                <string>{{287,687},{75,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action10.pvr.ccz</string>
            <key>size</key>
            <string>{496,939}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6ff72a211ad694f692da9d3868aaea9:025bed6440aec8e3090c705101ec1ee1:fd6dfe3ee94267230ed6425290acf6b5$</string>
            <key>textureFileName</key>
            <string>col_action10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
