<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>1</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{72,68}}</string>
			<key>offset</key>
			<string>{-1,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,17},{72,68}}</string>
			<key>sourceSize</key>
			<string>{90,90}</string>
		</dict>
		<key>2</key>
		<dict>
			<key>frame</key>
			<string>{{148,2},{68,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,10},{68,70}}</string>
			<key>sourceSize</key>
			<string>{90,90}</string>
		</dict>
		<key>3</key>
		<dict>
			<key>frame</key>
			<string>{{76,2},{68,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,10},{68,70}}</string>
			<key>sourceSize</key>
			<string>{90,90}</string>
		</dict>
		<key>4</key>
		<dict>
			<key>frame</key>
			<string>{{2,72},{64,70}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,10},{64,70}}</string>
			<key>sourceSize</key>
			<string>{90,90}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>profile.pvr.ccz</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:92975e1510a239c7b1c0a898a6c848f2:e82de37f88f82e32f32404c98f2ccc55:03c072fd1c1f67b4883b34fedb7a3213$</string>
		<key>textureFileName</key>
		<string>profile.pvr.ccz</string>
	</dict>
</dict>
</plist>
