<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/441/effect/col_action1/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-69}</string>
                <key>spriteSize</key>
                <string>{21,24}</string>
                <key>spriteSourceSize</key>
                <string>{297,240}</string>
                <key>textureRect</key>
                <string>{{471,75},{21,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/441/effect/col_action1/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-69}</string>
                <key>spriteSize</key>
                <string>{21,24}</string>
                <key>spriteSourceSize</key>
                <string>{297,240}</string>
                <key>textureRect</key>
                <string>{{471,98},{21,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/441/effect/col_action1/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-69}</string>
                <key>spriteSize</key>
                <string>{23,28}</string>
                <key>spriteSourceSize</key>
                <string>{297,240}</string>
                <key>textureRect</key>
                <string>{{471,50},{23,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/441/effect/col_action1/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-68}</string>
                <key>spriteSize</key>
                <string>{47,38}</string>
                <key>spriteSourceSize</key>
                <string>{297,240}</string>
                <key>textureRect</key>
                <string>{{471,1},{47,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/441/effect/col_action1/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-57}</string>
                <key>spriteSize</key>
                <string>{71,64}</string>
                <key>spriteSourceSize</key>
                <string>{297,240}</string>
                <key>textureRect</key>
                <string>{{413,1439},{71,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/441/effect/col_action1/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-56}</string>
                <key>spriteSize</key>
                <string>{81,68}</string>
                <key>spriteSourceSize</key>
                <string>{297,240}</string>
                <key>textureRect</key>
                <string>{{413,1369},{81,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/441/effect/col_action1/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-47}</string>
                <key>spriteSize</key>
                <string>{93,88}</string>
                <key>spriteSourceSize</key>
                <string>{297,240}</string>
                <key>textureRect</key>
                <string>{{413,1279},{93,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/441/effect/col_action1/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-32}</string>
                <key>spriteSize</key>
                <string>{129,120}</string>
                <key>spriteSourceSize</key>
                <string>{297,240}</string>
                <key>textureRect</key>
                <string>{{386,1672},{129,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/441/effect/col_action1/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-11}</string>
                <key>spriteSize</key>
                <string>{165,164}</string>
                <key>spriteSourceSize</key>
                <string>{297,240}</string>
                <key>textureRect</key>
                <string>{{1,1681},{165,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/441/effect/col_action1/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{173,176}</string>
                <key>spriteSourceSize</key>
                <string>{297,240}</string>
                <key>textureRect</key>
                <string>{{208,1672},{173,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/441/effect/col_action1/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,4}</string>
                <key>spriteSize</key>
                <string>{189,192}</string>
                <key>spriteSourceSize</key>
                <string>{297,240}</string>
                <key>textureRect</key>
                <string>{{208,1481},{189,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/441/effect/col_action1/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,6}</string>
                <key>spriteSize</key>
                <string>{205,198}</string>
                <key>spriteSourceSize</key>
                <string>{297,240}</string>
                <key>textureRect</key>
                <string>{{1,1481},{205,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/441/effect/col_action1/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,7}</string>
                <key>spriteSize</key>
                <string>{203,200}</string>
                <key>spriteSourceSize</key>
                <string>{297,240}</string>
                <key>textureRect</key>
                <string>{{208,1279},{203,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/441/effect/col_action1/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,8}</string>
                <key>spriteSize</key>
                <string>{205,202}</string>
                <key>spriteSourceSize</key>
                <string>{297,240}</string>
                <key>textureRect</key>
                <string>{{1,1277},{205,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/441/effect/col_action1/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,11}</string>
                <key>spriteSize</key>
                <string>{231,208}</string>
                <key>spriteSourceSize</key>
                <string>{297,240}</string>
                <key>textureRect</key>
                <string>{{240,1069},{231,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/441/effect/col_action1/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,13}</string>
                <key>spriteSize</key>
                <string>{231,212}</string>
                <key>spriteSourceSize</key>
                <string>{297,240}</string>
                <key>textureRect</key>
                <string>{{236,645},{231,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/441/effect/col_action1/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,13}</string>
                <key>spriteSize</key>
                <string>{233,212}</string>
                <key>spriteSourceSize</key>
                <string>{297,240}</string>
                <key>textureRect</key>
                <string>{{238,217},{233,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/441/effect/col_action1/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,13}</string>
                <key>spriteSize</key>
                <string>{233,212}</string>
                <key>spriteSourceSize</key>
                <string>{297,240}</string>
                <key>textureRect</key>
                <string>{{1,431},{233,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/441/effect/col_action1/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,13}</string>
                <key>spriteSize</key>
                <string>{233,212}</string>
                <key>spriteSourceSize</key>
                <string>{297,240}</string>
                <key>textureRect</key>
                <string>{{236,431},{233,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/441/effect/col_action1/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,13}</string>
                <key>spriteSize</key>
                <string>{233,214}</string>
                <key>spriteSourceSize</key>
                <string>{297,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{233,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/441/effect/col_action1/20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,13}</string>
                <key>spriteSize</key>
                <string>{233,214}</string>
                <key>spriteSourceSize</key>
                <string>{297,240}</string>
                <key>textureRect</key>
                <string>{{236,1},{233,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/441/effect/col_action1/21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,14}</string>
                <key>spriteSize</key>
                <string>{233,212}</string>
                <key>spriteSourceSize</key>
                <string>{297,240}</string>
                <key>textureRect</key>
                <string>{{1,645},{233,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/441/effect/col_action1/22</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,14}</string>
                <key>spriteSize</key>
                <string>{235,212}</string>
                <key>spriteSourceSize</key>
                <string>{297,240}</string>
                <key>textureRect</key>
                <string>{{1,217},{235,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/441/effect/col_action1/23</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,16}</string>
                <key>spriteSize</key>
                <string>{235,208}</string>
                <key>spriteSourceSize</key>
                <string>{297,240}</string>
                <key>textureRect</key>
                <string>{{1,859},{235,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/441/effect/col_action1/24</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,16}</string>
                <key>spriteSize</key>
                <string>{235,208}</string>
                <key>spriteSourceSize</key>
                <string>{297,240}</string>
                <key>textureRect</key>
                <string>{{238,859},{235,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/441/effect/col_action1/25</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,15}</string>
                <key>spriteSize</key>
                <string>{237,206}</string>
                <key>spriteSourceSize</key>
                <string>{297,240}</string>
                <key>textureRect</key>
                <string>{{1,1069},{237,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action10.pvr.ccz</string>
            <key>size</key>
            <string>{510,1846}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1d37efcd0fde55c0e3004d3ac446acd:95041f08cd854095f8ff0b997d429cb9:fd6dfe3ee94267230ed6425290acf6b5$</string>
            <key>textureFileName</key>
            <string>col_action10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
