<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3441/effect/col_action1/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-11}</string>
                <key>spriteSize</key>
                <string>{108,72}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{109,165},{108,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3441/effect/col_action1/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-3}</string>
                <key>spriteSize</key>
                <string>{132,88}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{109,1},{132,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3441/effect/col_action1/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,7}</string>
                <key>spriteSize</key>
                <string>{98,106}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{1,141},{98,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3441/effect/col_action1/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-4}</string>
                <key>spriteSize</key>
                <string>{138,86}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{138,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3441/effect/col_action1/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-11}</string>
                <key>spriteSize</key>
                <string>{116,72}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{109,91},{116,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action10.pvr.ccz</string>
            <key>size</key>
            <string>{242,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ec72b2273fdb074e4d0f502e0efca4f:e64fdf5c529cb8c298b1425fa483da2f:fd6dfe3ee94267230ed6425290acf6b5$</string>
            <key>textureFileName</key>
            <string>col_action10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
