<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/dungeon/under_dungeon/bt_fight</key>
            <dict>
                <key>frame</key>
                <string>{{969,2},{149,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,53}}</string>
                <key>sourceSize</key>
                <string>{149,53}</string>
            </dict>
            <key>scene/dungeon/under_dungeon/castle_item_box</key>
            <dict>
                <key>frame</key>
                <string>{{544,252},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>scene/dungeon/under_dungeon/clear</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{638,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,95}}</string>
                <key>sourceSize</key>
                <string>{638,95}</string>
            </dict>
            <key>scene/dungeon/under_dungeon/floor_number</key>
            <dict>
                <key>frame</key>
                <string>{{603,987},{220,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,27}}</string>
                <key>sourceSize</key>
                <string>{220,27}</string>
            </dict>
            <key>scene/dungeon/under_dungeon/floor_number_0</key>
            <dict>
                <key>frame</key>
                <string>{{537,438},{22,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,27}}</string>
                <key>sourceSize</key>
                <string>{22,27}</string>
            </dict>
            <key>scene/dungeon/under_dungeon/floor_number_1</key>
            <dict>
                <key>frame</key>
                <string>{{444,446},{22,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,27}}</string>
                <key>sourceSize</key>
                <string>{22,27}</string>
            </dict>
            <key>scene/dungeon/under_dungeon/floor_number_2</key>
            <dict>
                <key>frame</key>
                <string>{{415,446},{22,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,27}}</string>
                <key>sourceSize</key>
                <string>{22,27}</string>
            </dict>
            <key>scene/dungeon/under_dungeon/floor_number_3</key>
            <dict>
                <key>frame</key>
                <string>{{606,420},{22,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,27}}</string>
                <key>sourceSize</key>
                <string>{22,27}</string>
            </dict>
            <key>scene/dungeon/under_dungeon/floor_number_4</key>
            <dict>
                <key>frame</key>
                <string>{{608,396},{22,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,27}}</string>
                <key>sourceSize</key>
                <string>{22,27}</string>
            </dict>
            <key>scene/dungeon/under_dungeon/floor_number_5</key>
            <dict>
                <key>frame</key>
                <string>{{608,372},{22,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,27}}</string>
                <key>sourceSize</key>
                <string>{22,27}</string>
            </dict>
            <key>scene/dungeon/under_dungeon/floor_number_6</key>
            <dict>
                <key>frame</key>
                <string>{{608,348},{22,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,27}}</string>
                <key>sourceSize</key>
                <string>{22,27}</string>
            </dict>
            <key>scene/dungeon/under_dungeon/floor_number_7</key>
            <dict>
                <key>frame</key>
                <string>{{566,438},{22,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{22,25}}</string>
                <key>sourceSize</key>
                <string>{22,27}</string>
            </dict>
            <key>scene/dungeon/under_dungeon/floor_number_8</key>
            <dict>
                <key>frame</key>
                <string>{{572,200},{22,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,27}}</string>
                <key>sourceSize</key>
                <string>{22,27}</string>
            </dict>
            <key>scene/dungeon/under_dungeon/floor_number_9</key>
            <dict>
                <key>frame</key>
                <string>{{572,176},{22,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,27}}</string>
                <key>sourceSize</key>
                <string>{22,27}</string>
            </dict>
            <key>scene/dungeon/under_dungeon/heal_heart</key>
            <dict>
                <key>frame</key>
                <string>{{603,176},{74,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,36}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>scene/dungeon/under_dungeon/hp_gauge</key>
            <dict>
                <key>frame</key>
                <string>{{825,987},{196,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,18}}</string>
                <key>sourceSize</key>
                <string>{196,18}</string>
            </dict>
            <key>scene/dungeon/under_dungeon/icon_atk_up</key>
            <dict>
                <key>frame</key>
                <string>{{544,410},{60,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,26}}</string>
                <key>sourceSize</key>
                <string>{60,26}</string>
            </dict>
            <key>scene/dungeon/under_dungeon/icon_def_up</key>
            <dict>
                <key>frame</key>
                <string>{{544,176},{60,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,26}}</string>
                <key>sourceSize</key>
                <string>{60,26}</string>
            </dict>
            <key>scene/dungeon/under_dungeon/icon_gold_up</key>
            <dict>
                <key>frame</key>
                <string>{{477,422},{58,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{58,24}}</string>
                <key>sourceSize</key>
                <string>{60,26}</string>
            </dict>
            <key>scene/dungeon/under_dungeon/icon_hp_up</key>
            <dict>
                <key>frame</key>
                <string>{{415,422},{60,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,22}}</string>
                <key>sourceSize</key>
                <string>{60,26}</string>
            </dict>
            <key>scene/dungeon/under_dungeon/item_gold</key>
            <dict>
                <key>frame</key>
                <string>{{544,348},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>scene/dungeon/under_dungeon/minigame_arrow</key>
            <dict>
                <key>frame</key>
                <string>{{969,403},{38,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,31}}</string>
                <key>sourceSize</key>
                <string>{38,31}</string>
            </dict>
            <key>scene/dungeon/under_dungeon/minigame_bar_bg</key>
            <dict>
                <key>frame</key>
                <string>{{969,436},{549,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,36}}</string>
                <key>sourceSize</key>
                <string>{549,36}</string>
            </dict>
            <key>scene/dungeon/under_dungeon/minigame_bg</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{579,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{579,325}}</string>
                <key>sourceSize</key>
                <string>{579,325}</string>
            </dict>
            <key>scene/dungeon/under_dungeon/minigame_chance</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{411,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,118}}</string>
                <key>sourceSize</key>
                <string>{411,118}</string>
            </dict>
            <key>scene/dungeon/under_dungeon/minigame_gauge</key>
            <dict>
                <key>frame</key>
                <string>{{969,365},{42,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,36}}</string>
                <key>sourceSize</key>
                <string>{42,36}</string>
            </dict>
            <key>scene/dungeon/under_dungeon/minigame_txt_bg</key>
            <dict>
                <key>frame</key>
                <string>{{2,987},{404,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,34}}</string>
                <key>sourceSize</key>
                <string>{404,34}</string>
            </dict>
            <key>scene/dungeon/under_dungeon/monster_fight</key>
            <dict>
                <key>frame</key>
                <string>{{969,153},{210,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,48}}</string>
                <key>sourceSize</key>
                <string>{210,48}</string>
            </dict>
            <key>scene/dungeon/under_dungeon/monster_fightbar</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{624,75}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,25},{624,75}}</string>
                <key>sourceSize</key>
                <string>{706,125}</string>
            </dict>
            <key>scene/dungeon/under_dungeon/text_great</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{540,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,80}}</string>
                <key>sourceSize</key>
                <string>{540,80}</string>
            </dict>
            <key>scene/dungeon/under_dungeon/text_miss</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{540,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,80}}</string>
                <key>sourceSize</key>
                <string>{540,80}</string>
            </dict>
            <key>scene/dungeon/under_dungeon/text_perfect</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{540,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,80}}</string>
                <key>sourceSize</key>
                <string>{540,80}</string>
            </dict>
            <key>scene/dungeon/under_dungeon/txt_b</key>
            <dict>
                <key>frame</key>
                <string>{{572,224},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{23,25}}</string>
                <key>sourceSize</key>
                <string>{23,27}</string>
            </dict>
            <key>scene/dungeon/under_dungeon/txt_bestrecord</key>
            <dict>
                <key>frame</key>
                <string>{{408,987},{193,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,31}}</string>
                <key>sourceSize</key>
                <string>{193,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>under_dungeon.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31de96123500ee35c092768e78ca19af:fd48e25963e629795fea9496f21d1191:b688b914c3e0f68e39156ba9ba8bd2f9$</string>
            <key>textureFileName</key>
            <string>under_dungeon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
