<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3111/effect/col_action2/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-98,16}</string>
                <key>spriteSize</key>
                <string>{151,163}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{194,574},{151,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3111/effect/col_action2/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-99,10}</string>
                <key>spriteSize</key>
                <string>{183,191}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{1,540},{183,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3111/effect/col_action2/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-89,-3}</string>
                <key>spriteSize</key>
                <string>{223,203}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{1,1},{223,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3111/effect/col_action2/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-95,3}</string>
                <key>spriteSize</key>
                <string>{211,203}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{226,1},{211,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3111/effect/col_action2/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-95,-3}</string>
                <key>spriteSize</key>
                <string>{211,183}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{216,214},{211,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3111/effect/col_action2/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-91,10}</string>
                <key>spriteSize</key>
                <string>{213,159}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{1,206},{213,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3111/effect/col_action2/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-99,5}</string>
                <key>spriteSize</key>
                <string>{203,173}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{212,399},{203,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3111/effect/col_action2/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-96,4}</string>
                <key>spriteSize</key>
                <string>{209,171}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{1,367},{209,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3111/effect/col_action2/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-99,10}</string>
                <key>spriteSize</key>
                <string>{139,147}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{1,725},{139,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3111/effect/col_action2/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-99,10}</string>
                <key>spriteSize</key>
                <string>{139,147}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{1,725},{139,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3111/effect/col_action2/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-99,10}</string>
                <key>spriteSize</key>
                <string>{139,147}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{1,866},{139,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3111/effect/col_action2/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-99,10}</string>
                <key>spriteSize</key>
                <string>{139,147}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{150,727},{139,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3111/effect/col_action2/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-99,10}</string>
                <key>spriteSize</key>
                <string>{139,145}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{150,868},{139,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action20.pvr.ccz</string>
            <key>size</key>
            <string>{430,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8dedab02fa9296f29a62a1360d9fb71:6037bc29054141b5b21b3b24ad4ac7f9:98ec4b5f3da3b367b0df440471cccb39$</string>
            <key>textureFileName</key>
            <string>col_action20.pvr.ccz</string>
        </dict>
    </dict>
</plist>
