<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3392/effect/col_action1/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{370,118}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{370,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3392/effect/col_action1/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{362,118}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1,121},{362,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3392/effect/col_action1/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{286,104}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{373,1},{286,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3392/effect/col_action1/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{258,164}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{661,1},{258,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3392/effect/col_action1/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{214,138}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{373,107},{214,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3392/effect/col_action1/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-10}</string>
                <key>spriteSize</key>
                <string>{206,86}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{921,1},{206,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action10.pvr.ccz</string>
            <key>size</key>
            <string>{1008,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd4a2953efdde49aa98b9cc2f93b6742:edd17ef984c6e44bdc849ee67bbb5814:fd6dfe3ee94267230ed6425290acf6b5$</string>
            <key>textureFileName</key>
            <string>col_action10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
