<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{121,8}</string>
			<key>spriteSize</key>
			<string>{37,21}</string>
			<key>spriteSourceSize</key>
			<string>{401,241}</string>
			<key>textureRect</key>
			<string>{{114,425},{37,21}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{90,21}</string>
			<key>spriteSize</key>
			<string>{47,39}</string>
			<key>spriteSourceSize</key>
			<string>{401,241}</string>
			<key>textureRect</key>
			<string>{{114,464},{47,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{15,47}</string>
			<key>spriteSize</key>
			<string>{157,65}</string>
			<key>spriteSourceSize</key>
			<string>{401,241}</string>
			<key>textureRect</key>
			<string>{{1,1},{157,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-35,40}</string>
			<key>spriteSize</key>
			<string>{121,87}</string>
			<key>spriteSourceSize</key>
			<string>{401,241}</string>
			<key>textureRect</key>
			<string>{{142,193},{121,87}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-109,-16}</string>
			<key>spriteSize</key>
			<string>{105,85}</string>
			<key>spriteSourceSize</key>
			<string>{401,241}</string>
			<key>textureRect</key>
			<string>{{160,1},{105,85}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-108,-17}</string>
			<key>spriteSize</key>
			<string>{103,83}</string>
			<key>spriteSourceSize</key>
			<string>{401,241}</string>
			<key>textureRect</key>
			<string>{{142,108},{103,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-112,-17}</string>
			<key>spriteSize</key>
			<string>{111,83}</string>
			<key>spriteSourceSize</key>
			<string>{401,241}</string>
			<key>textureRect</key>
			<string>{{1,425},{111,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-119,-6}</string>
			<key>spriteSize</key>
			<string>{125,105}</string>
			<key>spriteSourceSize</key>
			<string>{401,241}</string>
			<key>textureRect</key>
			<string>{{138,316},{125,105}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-126,0}</string>
			<key>spriteSize</key>
			<string>{139,117}</string>
			<key>spriteSourceSize</key>
			<string>{401,241}</string>
			<key>textureRect</key>
			<string>{{1,68},{139,117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-125,-2}</string>
			<key>spriteSize</key>
			<string>{139,117}</string>
			<key>spriteSourceSize</key>
			<string>{401,241}</string>
			<key>textureRect</key>
			<string>{{1,187},{139,117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-126,-2}</string>
			<key>spriteSize</key>
			<string>{135,117}</string>
			<key>spriteSourceSize</key>
			<string>{401,241}</string>
			<key>textureRect</key>
			<string>{{1,306},{135,117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-106,-15}</string>
			<key>spriteSize</key>
			<string>{25,33}</string>
			<key>spriteSourceSize</key>
			<string>{401,241}</string>
			<key>textureRect</key>
			<string>{{163,443},{25,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action20.pvr.ccz</string>
		<key>size</key>
		<string>{246,509}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:0219c63ae329449398e1dc6e677e033d:7aad3809b72c95439e6458f91a84eb05:98ec4b5f3da3b367b0df440471cccb39$</string>
		<key>textureFileName</key>
		<string>col_action20.pvr.ccz</string>
	</dict>
</dict>
</plist>
