<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/event/NewChildrensDay/quest/2021EventUI_Quest_00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{564,78}</string>
                <key>spriteSourceSize</key>
                <string>{564,78}</string>
                <key>textureRect</key>
                <string>{{1,1},{564,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewChildrensDay/quest/2021EventUI_Quest_00_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{564,78}</string>
                <key>spriteSourceSize</key>
                <string>{564,78}</string>
                <key>textureRect</key>
                <string>{{567,1},{564,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewChildrensDay/quest/2021EventUI_Quest_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{564,78}</string>
                <key>spriteSourceSize</key>
                <string>{564,78}</string>
                <key>textureRect</key>
                <string>{{1,81},{564,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewChildrensDay/quest/2021EventUI_Quest_02_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{564,78}</string>
                <key>spriteSourceSize</key>
                <string>{564,78}</string>
                <key>textureRect</key>
                <string>{{1,161},{564,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewChildrensDay/quest/2021EventUI_Quest_03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{564,78}</string>
                <key>spriteSourceSize</key>
                <string>{564,78}</string>
                <key>textureRect</key>
                <string>{{1,241},{564,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewChildrensDay/quest/2021EventUI_Quest_03_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{564,78}</string>
                <key>spriteSourceSize</key>
                <string>{564,78}</string>
                <key>textureRect</key>
                <string>{{1,321},{564,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewChildrensDay/quest/2021EventUI_Quest_04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{564,78}</string>
                <key>spriteSourceSize</key>
                <string>{564,78}</string>
                <key>textureRect</key>
                <string>{{1,401},{564,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewChildrensDay/quest/2021EventUI_Quest_04_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{564,78}</string>
                <key>spriteSourceSize</key>
                <string>{564,78}</string>
                <key>textureRect</key>
                <string>{{1,481},{564,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewChildrensDay/quest/2021EventUI_Quest_05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{564,78}</string>
                <key>spriteSourceSize</key>
                <string>{564,78}</string>
                <key>textureRect</key>
                <string>{{1,561},{564,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/event/NewChildrensDay/quest/2021EventUI_Quest_05_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{564,78}</string>
                <key>spriteSourceSize</key>
                <string>{564,78}</string>
                <key>textureRect</key>
                <string>{{647,1},{564,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewChildrensDay/quest/2021EventUI_Quest_06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{564,78}</string>
                <key>spriteSourceSize</key>
                <string>{564,78}</string>
                <key>textureRect</key>
                <string>{{727,1},{564,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewChildrensDay/quest/2021EventUI_Quest_06_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{564,78}</string>
                <key>spriteSourceSize</key>
                <string>{564,78}</string>
                <key>textureRect</key>
                <string>{{807,1},{564,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/event/NewChildrensDay/quest/frame_quest_success</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{564,78}</string>
                <key>spriteSourceSize</key>
                <string>{564,78}</string>
                <key>textureRect</key>
                <string>{{887,1},{564,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>quest.pvr.ccz</string>
            <key>size</key>
            <string>{966,640}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6818a594e12c82b1b6009d56b0ce001e:abd45f383810f02ad09951a147564bfd:c76e50bad73d7d101b0bd6d8b49893e3$</string>
            <key>textureFileName</key>
            <string>quest.pvr.ccz</string>
        </dict>
    </dict>
</plist>
