<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{15,77}</string>
			<key>spriteSize</key>
			<string>{93,110}</string>
			<key>spriteSourceSize</key>
			<string>{339,294}</string>
			<key>textureRect</key>
			<string>{{738,429},{93,110}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,10}</string>
			<key>spriteSize</key>
			<string>{117,222}</string>
			<key>spriteSourceSize</key>
			<string>{339,294}</string>
			<key>textureRect</key>
			<string>{{745,205},{117,222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{15,9}</string>
			<key>spriteSize</key>
			<string>{181,234}</string>
			<key>spriteSourceSize</key>
			<string>{339,294}</string>
			<key>textureRect</key>
			<string>{{509,205},{181,234}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,1}</string>
			<key>spriteSize</key>
			<string>{229,226}</string>
			<key>spriteSourceSize</key>
			<string>{339,294}</string>
			<key>textureRect</key>
			<string>{{507,388},{229,226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,6}</string>
			<key>spriteSize</key>
			<string>{305,258}</string>
			<key>spriteSourceSize</key>
			<string>{339,294}</string>
			<key>textureRect</key>
			<string>{{1,324},{305,258}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,2}</string>
			<key>spriteSize</key>
			<string>{321,262}</string>
			<key>spriteSourceSize</key>
			<string>{339,294}</string>
			<key>textureRect</key>
			<string>{{1,1},{321,262}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,-7}</string>
			<key>spriteSize</key>
			<string>{291,244}</string>
			<key>spriteSourceSize</key>
			<string>{339,294}</string>
			<key>textureRect</key>
			<string>{{261,324},{291,244}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,-8}</string>
			<key>spriteSize</key>
			<string>{291,242}</string>
			<key>spriteSourceSize</key>
			<string>{339,294}</string>
			<key>textureRect</key>
			<string>{{265,1},{291,242}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,-28}</string>
			<key>spriteSize</key>
			<string>{291,202}</string>
			<key>spriteSourceSize</key>
			<string>{339,294}</string>
			<key>textureRect</key>
			<string>{{509,1},{291,202}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action20.pvr.ccz</string>
		<key>size</key>
		<string>{863,630}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e5e87978165c7c93b72035fde1669dbf:e675aa02bef73cc7c65cc481e6a8e591:98ec4b5f3da3b367b0df440471cccb39$</string>
		<key>textureFileName</key>
		<string>col_action20.pvr.ccz</string>
	</dict>
</dict>
</plist>
