<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3167/effect/col_action1/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,10}</string>
                <key>spriteSize</key>
                <string>{901,128}</string>
                <key>spriteSourceSize</key>
                <string>{1137,642}</string>
                <key>textureRect</key>
                <string>{{909,1},{901,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3167/effect/col_action1/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,12}</string>
                <key>spriteSize</key>
                <string>{899,172}</string>
                <key>spriteSourceSize</key>
                <string>{1137,642}</string>
                <key>textureRect</key>
                <string>{{1841,1},{899,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3167/effect/col_action1/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,12}</string>
                <key>spriteSize</key>
                <string>{909,136}</string>
                <key>spriteSourceSize</key>
                <string>{1137,642}</string>
                <key>textureRect</key>
                <string>{{906,131},{909,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3167/effect/col_action1/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,12}</string>
                <key>spriteSize</key>
                <string>{915,136}</string>
                <key>spriteSourceSize</key>
                <string>{1137,642}</string>
                <key>textureRect</key>
                <string>{{1,269},{915,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3167/effect/col_action1/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,12}</string>
                <key>spriteSize</key>
                <string>{921,172}</string>
                <key>spriteSourceSize</key>
                <string>{1137,642}</string>
                <key>textureRect</key>
                <string>{{1,1173},{921,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3167/effect/col_action1/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,12}</string>
                <key>spriteSize</key>
                <string>{909,138}</string>
                <key>spriteSourceSize</key>
                <string>{1137,642}</string>
                <key>textureRect</key>
                <string>{{1,407},{909,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3167/effect/col_action1/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,12}</string>
                <key>spriteSize</key>
                <string>{915,138}</string>
                <key>spriteSourceSize</key>
                <string>{1137,642}</string>
                <key>textureRect</key>
                <string>{{912,407},{915,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3167/effect/col_action1/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,12}</string>
                <key>spriteSize</key>
                <string>{901,166}</string>
                <key>spriteSourceSize</key>
                <string>{1137,642}</string>
                <key>textureRect</key>
                <string>{{1,985},{901,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3167/effect/col_action1/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,12}</string>
                <key>spriteSize</key>
                <string>{913,144}</string>
                <key>spriteSourceSize</key>
                <string>{1137,642}</string>
                <key>textureRect</key>
                <string>{{910,547},{913,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3167/effect/col_action1/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,12}</string>
                <key>spriteSize</key>
                <string>{919,144}</string>
                <key>spriteSourceSize</key>
                <string>{1137,642}</string>
                <key>textureRect</key>
                <string>{{1,693},{919,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3167/effect/col_action1/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,12}</string>
                <key>spriteSize</key>
                <string>{907,166}</string>
                <key>spriteSourceSize</key>
                <string>{1137,642}</string>
                <key>textureRect</key>
                <string>{{904,1005},{907,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3167/effect/col_action1/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,12}</string>
                <key>spriteSize</key>
                <string>{917,144}</string>
                <key>spriteSourceSize</key>
                <string>{1137,642}</string>
                <key>textureRect</key>
                <string>{{922,693},{917,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3167/effect/col_action1/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,12}</string>
                <key>spriteSize</key>
                <string>{911,144}</string>
                <key>spriteSourceSize</key>
                <string>{1137,642}</string>
                <key>textureRect</key>
                <string>{{1,839},{911,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3167/effect/col_action1/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,12}</string>
                <key>spriteSize</key>
                <string>{913,172}</string>
                <key>spriteSourceSize</key>
                <string>{1137,642}</string>
                <key>textureRect</key>
                <string>{{924,1173},{913,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3167/effect/col_action1/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,12}</string>
                <key>spriteSize</key>
                <string>{915,136}</string>
                <key>spriteSourceSize</key>
                <string>{1137,642}</string>
                <key>textureRect</key>
                <string>{{918,269},{915,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3167/effect/col_action1/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,12}</string>
                <key>spriteSize</key>
                <string>{907,140}</string>
                <key>spriteSourceSize</key>
                <string>{1137,642}</string>
                <key>textureRect</key>
                <string>{{1,547},{907,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3167/effect/col_action1/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,12}</string>
                <key>spriteSize</key>
                <string>{915,164}</string>
                <key>spriteSourceSize</key>
                <string>{1137,642}</string>
                <key>textureRect</key>
                <string>{{914,839},{915,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3167/effect/col_action1/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,12}</string>
                <key>spriteSize</key>
                <string>{903,130}</string>
                <key>spriteSourceSize</key>
                <string>{1137,642}</string>
                <key>textureRect</key>
                <string>{{1,109},{903,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3167/effect/col_action1/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,13}</string>
                <key>spriteSize</key>
                <string>{901,106}</string>
                <key>spriteSourceSize</key>
                <string>{1137,642}</string>
                <key>textureRect</key>
                <string>{{6,1},{901,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3167/effect/col_action1/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-567,319.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1137,642}</string>
                <key>textureRect</key>
                <string>{{1,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action10.pvr.ccz</string>
            <key>size</key>
            <string>{2014,1346}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41d10b75296a31ee3e3d785dd8929a93:441714cd86110b41b54ceaec454c07fe:fd6dfe3ee94267230ed6425290acf6b5$</string>
            <key>textureFileName</key>
            <string>col_action10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
