<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{54,70}</string>
			<key>spriteSourceSize</key>
			<string>{90,90}</string>
			<key>textureRect</key>
			<string>{{145,71},{54,70}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{70,68}</string>
			<key>spriteSourceSize</key>
			<string>{90,90}</string>
			<key>textureRect</key>
			<string>{{145,1},{70,68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>3</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{70,72}</string>
			<key>spriteSourceSize</key>
			<string>{90,90}</string>
			<key>textureRect</key>
			<string>{{1,1},{70,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>4</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{70,72}</string>
			<key>spriteSourceSize</key>
			<string>{90,90}</string>
			<key>textureRect</key>
			<string>{{73,1},{70,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>profile.pvr.ccz</string>
		<key>size</key>
		<string>{216,126}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:b1f9e046bf16fdb108825317b71edf55:a333e214e8f90c47edb4740a0530db2a:03c072fd1c1f67b4883b34fedb7a3213$</string>
		<key>textureFileName</key>
		<string>profile.pvr.ccz</string>
	</dict>
</dict>
</plist>
