<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,68}</string>
			<key>spriteSize</key>
			<string>{45,35}</string>
			<key>spriteSourceSize</key>
			<string>{401,241}</string>
			<key>textureRect</key>
			<string>{{698,176},{45,35}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-92,-1}</string>
			<key>spriteSize</key>
			<string>{129,97}</string>
			<key>spriteSourceSize</key>
			<string>{401,241}</string>
			<key>textureRect</key>
			<string>{{841,148},{129,97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-89,-2}</string>
			<key>spriteSize</key>
			<string>{223,235}</string>
			<key>spriteSourceSize</key>
			<string>{401,241}</string>
			<key>textureRect</key>
			<string>{{270,1},{223,235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-67,0}</string>
			<key>spriteSize</key>
			<string>{267,241}</string>
			<key>spriteSourceSize</key>
			<string>{401,241}</string>
			<key>textureRect</key>
			<string>{{1,1},{267,241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-100,-6}</string>
			<key>spriteSize</key>
			<string>{201,223}</string>
			<key>spriteSourceSize</key>
			<string>{401,241}</string>
			<key>textureRect</key>
			<string>{{495,1},{201,223}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-113,-8}</string>
			<key>spriteSize</key>
			<string>{141,173}</string>
			<key>spriteSourceSize</key>
			<string>{401,241}</string>
			<key>textureRect</key>
			<string>{{698,1},{141,173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-110,-14}</string>
			<key>spriteSize</key>
			<string>{145,161}</string>
			<key>spriteSourceSize</key>
			<string>{401,241}</string>
			<key>textureRect</key>
			<string>{{841,1},{145,161}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action20.pvr.ccz</string>
		<key>size</key>
		<string>{1003,246}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:b2e39ffd5605d7f07a4dd8eaddc9ed05:da5ab6e193c216cdc2109f944aa9460e:98ec4b5f3da3b367b0df440471cccb39$</string>
		<key>textureFileName</key>
		<string>col_action20.pvr.ccz</string>
	</dict>
</dict>
</plist>
