<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,68}</string>
			<key>spriteSize</key>
			<string>{45,35}</string>
			<key>spriteSourceSize</key>
			<string>{401,241}</string>
			<key>textureRect</key>
			<string>{{1,1},{45,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-86,-1}</string>
			<key>spriteSize</key>
			<string>{117,97}</string>
			<key>spriteSourceSize</key>
			<string>{401,241}</string>
			<key>textureRect</key>
			<string>{{48,1},{117,97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-112,-5}</string>
			<key>spriteSize</key>
			<string>{147,137}</string>
			<key>spriteSourceSize</key>
			<string>{401,241}</string>
			<key>textureRect</key>
			<string>{{1,100},{147,137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-114,-8}</string>
			<key>spriteSize</key>
			<string>{137,179}</string>
			<key>spriteSourceSize</key>
			<string>{401,241}</string>
			<key>textureRect</key>
			<string>{{1,239},{137,179}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-111,-8}</string>
			<key>spriteSize</key>
			<string>{145,173}</string>
			<key>spriteSourceSize</key>
			<string>{401,241}</string>
			<key>textureRect</key>
			<string>{{1,521},{145,173}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-113,-8}</string>
			<key>spriteSize</key>
			<string>{141,173}</string>
			<key>spriteSourceSize</key>
			<string>{401,241}</string>
			<key>textureRect</key>
			<string>{{1,378},{141,173}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-110,-14}</string>
			<key>spriteSize</key>
			<string>{145,161}</string>
			<key>spriteSourceSize</key>
			<string>{401,241}</string>
			<key>textureRect</key>
			<string>{{1,668},{145,161}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action10.pvr.ccz</string>
		<key>size</key>
		<string>{181,814}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d3b84aac227d695fca00a2ac0c6039f8:64fd5bad8618d4fe9bca333691002dbb:fd6dfe3ee94267230ed6425290acf6b5$</string>
		<key>textureFileName</key>
		<string>col_action10.pvr.ccz</string>
	</dict>
</dict>
</plist>
