<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,-1}</string>
			<key>spriteSize</key>
			<string>{49,38}</string>
			<key>spriteSourceSize</key>
			<string>{193,186}</string>
			<key>textureRect</key>
			<string>{{436,237},{49,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,1}</string>
			<key>spriteSize</key>
			<string>{49,36}</string>
			<key>spriteSourceSize</key>
			<string>{193,186}</string>
			<key>textureRect</key>
			<string>{{432,1032},{49,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,2}</string>
			<key>spriteSize</key>
			<string>{75,64}</string>
			<key>spriteSourceSize</key>
			<string>{193,186}</string>
			<key>textureRect</key>
			<string>{{355,1032},{75,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,2}</string>
			<key>spriteSize</key>
			<string>{75,66}</string>
			<key>spriteSourceSize</key>
			<string>{193,186}</string>
			<key>textureRect</key>
			<string>{{359,237},{75,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,8}</string>
			<key>spriteSize</key>
			<string>{87,92}</string>
			<key>spriteSourceSize</key>
			<string>{193,186}</string>
			<key>textureRect</key>
			<string>{{387,943},{87,92}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,7}</string>
			<key>spriteSize</key>
			<string>{97,108}</string>
			<key>spriteSourceSize</key>
			<string>{193,186}</string>
			<key>textureRect</key>
			<string>{{387,833},{97,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,8}</string>
			<key>spriteSize</key>
			<string>{99,110}</string>
			<key>spriteSourceSize</key>
			<string>{193,186}</string>
			<key>textureRect</key>
			<string>{{286,849},{99,110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,5}</string>
			<key>spriteSize</key>
			<string>{127,116}</string>
			<key>spriteSourceSize</key>
			<string>{193,186}</string>
			<key>textureRect</key>
			<string>{{361,1},{127,116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,5}</string>
			<key>spriteSize</key>
			<string>{127,116}</string>
			<key>spriteSourceSize</key>
			<string>{193,186}</string>
			<key>textureRect</key>
			<string>{{361,119},{127,116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{17,-1}</string>
			<key>spriteSize</key>
			<string>{155,108}</string>
			<key>spriteSourceSize</key>
			<string>{193,186}</string>
			<key>textureRect</key>
			<string>{{182,457},{155,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{14,1}</string>
			<key>spriteSize</key>
			<string>{151,104}</string>
			<key>spriteSourceSize</key>
			<string>{193,186}</string>
			<key>textureRect</key>
			<string>{{317,727},{151,104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{10,0}</string>
			<key>spriteSize</key>
			<string>{173,130}</string>
			<key>spriteSourceSize</key>
			<string>{193,186}</string>
			<key>textureRect</key>
			<string>{{184,177},{173,130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{9,1}</string>
			<key>spriteSize</key>
			<string>{171,150}</string>
			<key>spriteSourceSize</key>
			<string>{193,186}</string>
			<key>textureRect</key>
			<string>{{1,529},{171,150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,1}</string>
			<key>spriteSize</key>
			<string>{179,150}</string>
			<key>spriteSourceSize</key>
			<string>{193,186}</string>
			<key>textureRect</key>
			<string>{{1,377},{179,150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,3}</string>
			<key>spriteSize</key>
			<string>{175,174}</string>
			<key>spriteSourceSize</key>
			<string>{193,186}</string>
			<key>textureRect</key>
			<string>{{184,1},{175,174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>15</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,0}</string>
			<key>spriteSize</key>
			<string>{181,186}</string>
			<key>spriteSourceSize</key>
			<string>{193,186}</string>
			<key>textureRect</key>
			<string>{{1,1},{181,186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>16</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,0}</string>
			<key>spriteSize</key>
			<string>{179,186}</string>
			<key>spriteSourceSize</key>
			<string>{193,186}</string>
			<key>textureRect</key>
			<string>{{1,189},{179,186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>17</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-1}</string>
			<key>spriteSize</key>
			<string>{169,134}</string>
			<key>spriteSourceSize</key>
			<string>{193,186}</string>
			<key>textureRect</key>
			<string>{{174,567},{169,134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>18</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-4}</string>
			<key>spriteSize</key>
			<string>{167,140}</string>
			<key>spriteSourceSize</key>
			<string>{193,186}</string>
			<key>textureRect</key>
			<string>{{1,837},{167,140}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>19</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-7,-6}</string>
			<key>spriteSize</key>
			<string>{161,146}</string>
			<key>spriteSourceSize</key>
			<string>{193,186}</string>
			<key>textureRect</key>
			<string>{{182,309},{161,146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>20</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-7,-3}</string>
			<key>spriteSize</key>
			<string>{161,154}</string>
			<key>spriteSourceSize</key>
			<string>{193,186}</string>
			<key>textureRect</key>
			<string>{{1,681},{161,154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>21</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{151,144}</string>
			<key>spriteSourceSize</key>
			<string>{193,186}</string>
			<key>textureRect</key>
			<string>{{1,1006},{151,144}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>22</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,3}</string>
			<key>spriteSize</key>
			<string>{151,144}</string>
			<key>spriteSourceSize</key>
			<string>{193,186}</string>
			<key>textureRect</key>
			<string>{{164,703},{151,144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>23</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,-3}</string>
			<key>spriteSize</key>
			<string>{143,138}</string>
			<key>spriteSourceSize</key>
			<string>{193,186}</string>
			<key>textureRect</key>
			<string>{{345,309},{143,138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>24</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,-8}</string>
			<key>spriteSize</key>
			<string>{143,138}</string>
			<key>spriteSourceSize</key>
			<string>{193,186}</string>
			<key>textureRect</key>
			<string>{{345,449},{143,138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>25</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,-8}</string>
			<key>spriteSize</key>
			<string>{143,136}</string>
			<key>spriteSourceSize</key>
			<string>{193,186}</string>
			<key>textureRect</key>
			<string>{{345,589},{143,136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>26</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,-4}</string>
			<key>spriteSize</key>
			<string>{141,126}</string>
			<key>spriteSourceSize</key>
			<string>{193,186}</string>
			<key>textureRect</key>
			<string>{{143,849},{141,126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>27</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{13,-2}</string>
			<key>spriteSize</key>
			<string>{105,124}</string>
			<key>spriteSourceSize</key>
			<string>{193,186}</string>
			<key>textureRect</key>
			<string>{{147,977},{105,124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>28</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{15,-3}</string>
			<key>spriteSize</key>
			<string>{99,122}</string>
			<key>spriteSourceSize</key>
			<string>{193,186}</string>
			<key>textureRect</key>
			<string>{{254,977},{99,122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>29</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{17,-2}</string>
			<key>spriteSize</key>
			<string>{57,122}</string>
			<key>spriteSourceSize</key>
			<string>{193,186}</string>
			<key>textureRect</key>
			<string>{{147,1103},{57,122}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action20.pvr.ccz</string>
		<key>size</key>
		<string>{489,1161}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:f8323cf46e570f684e54f504c819f9cf:9366fcbcbc0307fcb9e48552ce1151a9:98ec4b5f3da3b367b0df440471cccb39$</string>
		<key>textureFileName</key>
		<string>col_action20.pvr.ccz</string>
	</dict>
</dict>
</plist>
