<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,5}</string>
			<key>spriteSize</key>
			<string>{159,158}</string>
			<key>spriteSourceSize</key>
			<string>{189,216}</string>
			<key>textureRect</key>
			<string>{{340,646},{159,158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,4}</string>
			<key>spriteSize</key>
			<string>{137,132}</string>
			<key>spriteSourceSize</key>
			<string>{189,216}</string>
			<key>textureRect</key>
			<string>{{299,1335},{137,132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,4}</string>
			<key>spriteSize</key>
			<string>{137,132}</string>
			<key>spriteSourceSize</key>
			<string>{189,216}</string>
			<key>textureRect</key>
			<string>{{299,1335},{137,132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,4}</string>
			<key>spriteSize</key>
			<string>{165,168}</string>
			<key>spriteSourceSize</key>
			<string>{189,216}</string>
			<key>textureRect</key>
			<string>{{1,486},{165,168}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,5}</string>
			<key>spriteSize</key>
			<string>{157,158}</string>
			<key>spriteSourceSize</key>
			<string>{189,216}</string>
			<key>textureRect</key>
			<string>{{164,924},{157,158}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,4}</string>
			<key>spriteSize</key>
			<string>{129,126}</string>
			<key>spriteSourceSize</key>
			<string>{189,216}</string>
			<key>textureRect</key>
			<string>{{1,1469},{129,126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,4}</string>
			<key>spriteSize</key>
			<string>{101,100}</string>
			<key>spriteSourceSize</key>
			<string>{189,216}</string>
			<key>textureRect</key>
			<string>{{390,1469},{101,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,4}</string>
			<key>spriteSize</key>
			<string>{163,164}</string>
			<key>spriteSourceSize</key>
			<string>{189,216}</string>
			<key>textureRect</key>
			<string>{{1,653},{163,164}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,5}</string>
			<key>spriteSize</key>
			<string>{125,126}</string>
			<key>spriteSourceSize</key>
			<string>{189,216}</string>
			<key>textureRect</key>
			<string>{{132,1469},{125,126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,5}</string>
			<key>spriteSize</key>
			<string>{91,92}</string>
			<key>spriteSourceSize</key>
			<string>{189,216}</string>
			<key>textureRect</key>
			<string>{{146,1369},{91,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-7,6}</string>
			<key>spriteSize</key>
			<string>{75,68}</string>
			<key>spriteSourceSize</key>
			<string>{189,216}</string>
			<key>textureRect</key>
			<string>{{1,1393},{75,68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-11,12}</string>
			<key>spriteSize</key>
			<string>{133,154}</string>
			<key>spriteSourceSize</key>
			<string>{189,216}</string>
			<key>textureRect</key>
			<string>{{1,974},{133,154}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-11,12}</string>
			<key>spriteSize</key>
			<string>{133,154}</string>
			<key>spriteSourceSize</key>
			<string>{189,216}</string>
			<key>textureRect</key>
			<string>{{324,954},{133,154}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,12}</string>
			<key>spriteSize</key>
			<string>{161,154}</string>
			<key>spriteSourceSize</key>
			<string>{189,216}</string>
			<key>textureRect</key>
			<string>{{343,483},{161,154}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,12}</string>
			<key>spriteSize</key>
			<string>{161,154}</string>
			<key>spriteSourceSize</key>
			<string>{189,216}</string>
			<key>textureRect</key>
			<string>{{167,768},{161,154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>15</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,10}</string>
			<key>spriteSize</key>
			<string>{135,116}</string>
			<key>spriteSourceSize</key>
			<string>{189,216}</string>
			<key>textureRect</key>
			<string>{{377,108},{135,116}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>16</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,8}</string>
			<key>spriteSize</key>
			<string>{129,116}</string>
			<key>spriteSourceSize</key>
			<string>{189,216}</string>
			<key>textureRect</key>
			<string>{{259,1469},{129,116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>17</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{16,2}</string>
			<key>spriteSize</key>
			<string>{155,108}</string>
			<key>spriteSourceSize</key>
			<string>{189,216}</string>
			<key>textureRect</key>
			<string>{{343,373},{155,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>18</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{12,5}</string>
			<key>spriteSize</key>
			<string>{151,104}</string>
			<key>spriteSourceSize</key>
			<string>{189,216}</string>
			<key>textureRect</key>
			<string>{{310,1089},{151,104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>19</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{10,4}</string>
			<key>spriteSize</key>
			<string>{169,130}</string>
			<key>spriteSourceSize</key>
			<string>{189,216}</string>
			<key>textureRect</key>
			<string>{{172,358},{169,130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>20</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{10,6}</string>
			<key>spriteSize</key>
			<string>{169,150}</string>
			<key>spriteSourceSize</key>
			<string>{189,216}</string>
			<key>textureRect</key>
			<string>{{1,334},{169,150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>21</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,7}</string>
			<key>spriteSize</key>
			<string>{177,150}</string>
			<key>spriteSourceSize</key>
			<string>{189,216}</string>
			<key>textureRect</key>
			<string>{{1,182},{177,150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>22</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,6}</string>
			<key>spriteSize</key>
			<string>{175,174}</string>
			<key>spriteSourceSize</key>
			<string>{189,216}</string>
			<key>textureRect</key>
			<string>{{180,182},{175,174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>23</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,4}</string>
			<key>spriteSize</key>
			<string>{179,186}</string>
			<key>spriteSourceSize</key>
			<string>{189,216}</string>
			<key>textureRect</key>
			<string>{{1,1},{179,186}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>24</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,5}</string>
			<key>spriteSize</key>
			<string>{179,186}</string>
			<key>spriteSourceSize</key>
			<string>{189,216}</string>
			<key>textureRect</key>
			<string>{{189,1},{179,186}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>25</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,3}</string>
			<key>spriteSize</key>
			<string>{167,134}</string>
			<key>spriteSourceSize</key>
			<string>{189,216}</string>
			<key>textureRect</key>
			<string>{{171,632},{167,134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>26</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,0}</string>
			<key>spriteSize</key>
			<string>{167,140}</string>
			<key>spriteSourceSize</key>
			<string>{189,216}</string>
			<key>textureRect</key>
			<string>{{171,490},{167,140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>27</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-8,-3}</string>
			<key>spriteSize</key>
			<string>{161,146}</string>
			<key>spriteSourceSize</key>
			<string>{189,216}</string>
			<key>textureRect</key>
			<string>{{330,806},{161,146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>28</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-8,1}</string>
			<key>spriteSize</key>
			<string>{161,154}</string>
			<key>spriteSourceSize</key>
			<string>{189,216}</string>
			<key>textureRect</key>
			<string>{{1,818},{161,154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>29</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,8}</string>
			<key>spriteSize</key>
			<string>{151,144}</string>
			<key>spriteSourceSize</key>
			<string>{189,216}</string>
			<key>textureRect</key>
			<string>{{157,1083},{151,144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>30</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,9}</string>
			<key>spriteSize</key>
			<string>{151,144}</string>
			<key>spriteSourceSize</key>
			<string>{189,216}</string>
			<key>textureRect</key>
			<string>{{1,1109},{151,144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>31</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-7,2}</string>
			<key>spriteSize</key>
			<string>{143,138}</string>
			<key>spriteSourceSize</key>
			<string>{189,216}</string>
			<key>textureRect</key>
			<string>{{310,1195},{143,138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>32</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-7,-3}</string>
			<key>spriteSize</key>
			<string>{143,138}</string>
			<key>spriteSourceSize</key>
			<string>{189,216}</string>
			<key>textureRect</key>
			<string>{{154,1229},{143,138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>33</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,-5}</string>
			<key>spriteSize</key>
			<string>{143,136}</string>
			<key>spriteSourceSize</key>
			<string>{189,216}</string>
			<key>textureRect</key>
			<string>{{1,1255},{143,136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>34</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,1}</string>
			<key>spriteSize</key>
			<string>{141,126}</string>
			<key>spriteSourceSize</key>
			<string>{189,216}</string>
			<key>textureRect</key>
			<string>{{357,245},{141,126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>35</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{13,2}</string>
			<key>spriteSize</key>
			<string>{105,122}</string>
			<key>spriteSourceSize</key>
			<string>{189,216}</string>
			<key>textureRect</key>
			<string>{{377,1},{105,122}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action30.pvr.ccz</string>
		<key>size</key>
		<string>{500,1596}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:286e25194b330c011a83b96f7b8493fe:182261a012fe8b8d6e9e963a09053ac4:e44ba353004d0fd8b165f5c6960cb7e8$</string>
		<key>textureFileName</key>
		<string>col_action30.pvr.ccz</string>
	</dict>
</dict>
</plist>
