<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/dream/eclipse_dice/arrow</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,40}</string>
                <key>spriteSourceSize</key>
                <string>{37,40}</string>
                <key>textureRect</key>
                <string>{{55,1698},{37,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/dream/eclipse_dice/back_buff</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,52}</string>
                <key>spriteSourceSize</key>
                <string>{216,52}</string>
                <key>textureRect</key>
                <string>{{1,1698},{216,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/dream/eclipse_dice/bt_buff_dia</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,14}</string>
                <key>spriteSourceSize</key>
                <string>{19,14}</string>
                <key>textureRect</key>
                <string>{{93,987},{19,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/dream/eclipse_dice/case01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,53}</string>
                <key>spriteSourceSize</key>
                <string>{214,53}</string>
                <key>textureRect</key>
                <string>{{1,1482},{214,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/dream/eclipse_dice/case02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,53}</string>
                <key>spriteSourceSize</key>
                <string>{214,53}</string>
                <key>textureRect</key>
                <string>{{56,1482},{214,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/dream/eclipse_dice/frame_attribute</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,97}</string>
                <key>spriteSourceSize</key>
                <string>{89,97}</string>
                <key>textureRect</key>
                <string>{{1,165},{89,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/dream/eclipse_dice/frame_diceup</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,39}</string>
                <key>spriteSourceSize</key>
                <string>{198,39}</string>
                <key>textureRect</key>
                <string>{{55,1737},{198,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/dream/eclipse_dice/frame_diceup_material</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,129}</string>
                <key>spriteSourceSize</key>
                <string>{107,129}</string>
                <key>textureRect</key>
                <string>{{1,34},{107,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/dream/eclipse_dice/title_buff</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{109,31}</string>
                <key>spriteSourceSize</key>
                <string>{129,35}</string>
                <key>textureRect</key>
                <string>{{1,1},{109,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/dream/eclipse_dice/title_buff_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,26}</string>
                <key>spriteSourceSize</key>
                <string>{70,26}</string>
                <key>textureRect</key>
                <string>{{83,1214},{70,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/dream/eclipse_dice/title_eclipse_dice</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-6}</string>
                <key>spriteSize</key>
                <string>{365,96}</string>
                <key>spriteSourceSize</key>
                <string>{399,128}</string>
                <key>textureRect</key>
                <string>{{1,256},{365,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/dream/eclipse_dice/title_eclipse_dice_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{362,94}</string>
                <key>spriteSourceSize</key>
                <string>{362,94}</string>
                <key>textureRect</key>
                <string>{{1,623},{362,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/dream/eclipse_dice/txt_levelup</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{225,90}</string>
                <key>spriteSourceSize</key>
                <string>{227,90}</string>
                <key>textureRect</key>
                <string>{{1,987},{225,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/dream/eclipse_dice/txt_levelup_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,80}</string>
                <key>spriteSourceSize</key>
                <string>{266,80}</string>
                <key>textureRect</key>
                <string>{{1,1214},{266,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>eclipse_dice.pvr.ccz</string>
            <key>size</key>
            <string>{111,1936}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5868a3922a244274afc030917502361:cfc2cc2665889e182f192740c6445350:b696affdf73d6974d8eb51eb5c056123$</string>
            <key>textureFileName</key>
            <string>eclipse_dice.pvr.ccz</string>
        </dict>
    </dict>
</plist>
