<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/dream/quest/bg_garden_of_dreams</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{171,162},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/dream/quest/bg_top_of_dreams</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{265,162},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/dream/quest/bg_vestige_of_dreams</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{359,162},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/dream/quest/rev_quest_back</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,168}</string>
                <key>spriteSourceSize</key>
                <string>{160,168}</string>
                <key>textureRect</key>
                <string>{{1,162},{160,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/dream/quest/rev_quest_title</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{413,80}</string>
                <key>spriteSourceSize</key>
                <string>{451,98}</string>
                <key>textureRect</key>
                <string>{{1,1},{413,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/dream/quest/rev_quest_title_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,77}</string>
                <key>spriteSourceSize</key>
                <string>{410,77}</string>
                <key>textureRect</key>
                <string>{{1,83},{410,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>quest.pvr.ccz</string>
            <key>size</key>
            <string>{452,323}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba71a6a7906bcbd4ff9ef4d37754d78b:1334255fbc297c84f07dab69c955087e:c76e50bad73d7d101b0bd6d8b49893e3$</string>
            <key>textureFileName</key>
            <string>quest.pvr.ccz</string>
        </dict>
    </dict>
</plist>
