<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/dream/reve/rev_gacha_ef2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{327,311}</string>
                <key>spriteSourceSize</key>
                <string>{337,311}</string>
                <key>textureRect</key>
                <string>{{276,1},{327,311}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/dream/reve/rev_gacha_frame01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,88}</string>
                <key>spriteSourceSize</key>
                <string>{86,88}</string>
                <key>textureRect</key>
                <string>{{932,264},{86,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/dream/reve/rev_gacha_frame02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,92}</string>
                <key>spriteSourceSize</key>
                <string>{88,92}</string>
                <key>textureRect</key>
                <string>{{932,354},{88,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/dream/reve/rev_gacha_frame03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,88}</string>
                <key>spriteSourceSize</key>
                <string>{86,88}</string>
                <key>textureRect</key>
                <string>{{1022,331},{86,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/dream/reve/rev_gacha_title</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{413,79}</string>
                <key>spriteSourceSize</key>
                <string>{431,99}</string>
                <key>textureRect</key>
                <string>{{1,1},{413,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/dream/reve/rev_gacha_title_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,77}</string>
                <key>spriteSourceSize</key>
                <string>{410,77}</string>
                <key>textureRect</key>
                <string>{{1,416},{410,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/dream/reve/rev_main_bt01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,187}</string>
                <key>spriteSourceSize</key>
                <string>{163,187}</string>
                <key>textureRect</key>
                <string>{{413,330},{163,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/dream/reve/rev_main_bt02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,187}</string>
                <key>spriteSourceSize</key>
                <string>{163,187}</string>
                <key>textureRect</key>
                <string>{{602,279},{163,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/dream/reve/rev_main_bt03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,187}</string>
                <key>spriteSourceSize</key>
                <string>{163,187}</string>
                <key>textureRect</key>
                <string>{{1020,1},{163,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/dream/reve/rev_main_bt04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,187}</string>
                <key>spriteSourceSize</key>
                <string>{163,187}</string>
                <key>textureRect</key>
                <string>{{1020,166},{163,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/dream/reve/rev_main_bt05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,187}</string>
                <key>spriteSourceSize</key>
                <string>{163,187}</string>
                <key>textureRect</key>
                <string>{{767,264},{163,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/dream/reve/rev_upgrade_arrow</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,38}</string>
                <key>spriteSourceSize</key>
                <string>{48,38}</string>
                <key>textureRect</key>
                <string>{{82,368},{48,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/dream/reve/rev_upgrade_frame03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,169}</string>
                <key>spriteSourceSize</key>
                <string>{276,169}</string>
                <key>textureRect</key>
                <string>{{589,1},{276,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/dream/reve/rev_upgrade_frame11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,261}</string>
                <key>spriteSourceSize</key>
                <string>{258,261}</string>
                <key>textureRect</key>
                <string>{{760,1},{258,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/dream/reve/stats_line</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,4}</string>
                <key>spriteSourceSize</key>
                <string>{20,4}</string>
                <key>textureRect</key>
                <string>{{132,368},{20,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/dream/reve/stats_preview_circle</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{138,368},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/dream/reve/stats_preview_gauge1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,8}</string>
                <key>spriteSourceSize</key>
                <string>{128,8}</string>
                <key>textureRect</key>
                <string>{{132,390},{128,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/dream/reve/stats_preview_gauge2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,6}</string>
                <key>spriteSourceSize</key>
                <string>{128,8}</string>
                <key>textureRect</key>
                <string>{{82,408},{126,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/dream/reve/upgrade_pop_title</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{365,96}</string>
                <key>spriteSourceSize</key>
                <string>{393,124}</string>
                <key>textureRect</key>
                <string>{{82,1},{365,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/dream/reve/upgrade_pop_title_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{362,94}</string>
                <key>spriteSourceSize</key>
                <string>{362,94}</string>
                <key>textureRect</key>
                <string>{{180,1},{362,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>reve.pvr.ccz</string>
            <key>size</key>
            <string>{1208,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5decdccd3905659636741b32aaa6a93:4a27d810e562d49d4790a6a0ba2091f8:5fd6e3275279a3deeb7dd516a28f152a$</string>
            <key>textureFileName</key>
            <string>reve.pvr.ccz</string>
        </dict>
    </dict>
</plist>
