<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3056/effect/col_action3/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-102}</string>
                <key>spriteSize</key>
                <string>{446,228}</string>
                <key>spriteSourceSize</key>
                <string>{446,436}</string>
                <key>textureRect</key>
                <string>{{1793,449},{446,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3056/effect/col_action3/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-102}</string>
                <key>spriteSize</key>
                <string>{446,228}</string>
                <key>spriteSourceSize</key>
                <string>{446,436}</string>
                <key>textureRect</key>
                <string>{{1793,897},{446,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3056/effect/col_action3/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-102}</string>
                <key>spriteSize</key>
                <string>{446,228}</string>
                <key>spriteSourceSize</key>
                <string>{446,436}</string>
                <key>textureRect</key>
                <string>{{1761,1345},{446,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3056/effect/col_action3/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-101}</string>
                <key>spriteSize</key>
                <string>{446,230}</string>
                <key>spriteSourceSize</key>
                <string>{446,436}</string>
                <key>textureRect</key>
                <string>{{1793,1},{446,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3056/effect/col_action3/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{446,428}</string>
                <key>spriteSourceSize</key>
                <string>{446,436}</string>
                <key>textureRect</key>
                <string>{{1,1},{446,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3056/effect/col_action3/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{446,428}</string>
                <key>spriteSourceSize</key>
                <string>{446,436}</string>
                <key>textureRect</key>
                <string>{{449,1},{446,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3056/effect/col_action3/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{446,428}</string>
                <key>spriteSourceSize</key>
                <string>{446,436}</string>
                <key>textureRect</key>
                <string>{{897,1},{446,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3056/effect/col_action3/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{446,420}</string>
                <key>spriteSourceSize</key>
                <string>{446,436}</string>
                <key>textureRect</key>
                <string>{{1345,1},{446,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3056/effect/col_action3/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{446,404}</string>
                <key>spriteSourceSize</key>
                <string>{446,436}</string>
                <key>textureRect</key>
                <string>{{897,841},{446,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3056/effect/col_action3/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{446,390}</string>
                <key>spriteSourceSize</key>
                <string>{446,436}</string>
                <key>textureRect</key>
                <string>{{417,843},{446,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3056/effect/col_action3/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-26}</string>
                <key>spriteSize</key>
                <string>{446,380}</string>
                <key>spriteSourceSize</key>
                <string>{446,436}</string>
                <key>textureRect</key>
                <string>{{835,1623},{446,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3056/effect/col_action3/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-30}</string>
                <key>spriteSize</key>
                <string>{446,372}</string>
                <key>spriteSourceSize</key>
                <string>{446,436}</string>
                <key>textureRect</key>
                <string>{{1313,1247},{446,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3056/effect/col_action3/20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{446,408}</string>
                <key>spriteSourceSize</key>
                <string>{446,436}</string>
                <key>textureRect</key>
                <string>{{897,431},{446,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3056/effect/col_action3/21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{446,414}</string>
                <key>spriteSourceSize</key>
                <string>{446,436}</string>
                <key>textureRect</key>
                <string>{{1345,423},{446,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3056/effect/col_action3/22</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{446,406}</string>
                <key>spriteSourceSize</key>
                <string>{446,436}</string>
                <key>textureRect</key>
                <string>{{1,431},{446,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3056/effect/col_action3/23</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-23}</string>
                <key>spriteSize</key>
                <string>{446,386}</string>
                <key>spriteSourceSize</key>
                <string>{446,436}</string>
                <key>textureRect</key>
                <string>{{417,1235},{446,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3056/effect/col_action3/24</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-25}</string>
                <key>spriteSize</key>
                <string>{446,382}</string>
                <key>spriteSourceSize</key>
                <string>{446,436}</string>
                <key>textureRect</key>
                <string>{{387,1623},{446,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3056/effect/col_action3/25</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-26}</string>
                <key>spriteSize</key>
                <string>{446,380}</string>
                <key>spriteSourceSize</key>
                <string>{446,436}</string>
                <key>textureRect</key>
                <string>{{1283,1623},{446,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3056/effect/col_action3/29</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{446,410}</string>
                <key>spriteSourceSize</key>
                <string>{446,436}</string>
                <key>textureRect</key>
                <string>{{449,431},{446,410}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3056/effect/col_action3/30</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{446,414}</string>
                <key>spriteSourceSize</key>
                <string>{446,436}</string>
                <key>textureRect</key>
                <string>{{1,839},{446,414}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3056/effect/col_action3/31</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{446,406}</string>
                <key>spriteSourceSize</key>
                <string>{446,436}</string>
                <key>textureRect</key>
                <string>{{1345,839},{446,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3056/effect/col_action3/32</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-24}</string>
                <key>spriteSize</key>
                <string>{446,384}</string>
                <key>spriteSourceSize</key>
                <string>{446,436}</string>
                <key>textureRect</key>
                <string>{{1,1287},{446,384}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3056/effect/col_action3/35</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-29}</string>
                <key>spriteSize</key>
                <string>{446,374}</string>
                <key>spriteSourceSize</key>
                <string>{446,436}</string>
                <key>textureRect</key>
                <string>{{865,1247},{446,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action30.pvr.ccz</string>
            <key>size</key>
            <string>{2024,2006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b53b9784ba9df58c987446247a6ffbb:4386f72eaee40ae3f726f1a7a0db18bb:62c31d09a3c281c47788a45a3cfaa3d3$</string>
            <key>textureFileName</key>
            <string>col_action30.pvr.ccz</string>
        </dict>
    </dict>
</plist>
