<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3056/effect/col_action2/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,3}</string>
                <key>spriteSize</key>
                <string>{179,101}</string>
                <key>spriteSourceSize</key>
                <string>{669,327}</string>
                <key>textureRect</key>
                <string>{{340,1},{179,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3056/effect/col_action2/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-73,28}</string>
                <key>spriteSize</key>
                <string>{337,239}</string>
                <key>spriteSourceSize</key>
                <string>{669,327}</string>
                <key>textureRect</key>
                <string>{{1,1},{337,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3056/effect/col_action2/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-97,19}</string>
                <key>spriteSize</key>
                <string>{289,221}</string>
                <key>spriteSourceSize</key>
                <string>{669,327}</string>
                <key>textureRect</key>
                <string>{{1,242},{289,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3056/effect/col_action2/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-136,21}</string>
                <key>spriteSize</key>
                <string>{259,217}</string>
                <key>spriteSourceSize</key>
                <string>{669,327}</string>
                <key>textureRect</key>
                <string>{{258,754},{259,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3056/effect/col_action2/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-137,34}</string>
                <key>spriteSize</key>
                <string>{255,243}</string>
                <key>spriteSourceSize</key>
                <string>{669,327}</string>
                <key>textureRect</key>
                <string>{{1,465},{255,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3056/effect/col_action2/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-140,29}</string>
                <key>spriteSize</key>
                <string>{241,243}</string>
                <key>spriteSourceSize</key>
                <string>{669,327}</string>
                <key>textureRect</key>
                <string>{{258,511},{241,243}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3056/effect/col_action2/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-137,19}</string>
                <key>spriteSize</key>
                <string>{255,221}</string>
                <key>spriteSourceSize</key>
                <string>{669,327}</string>
                <key>textureRect</key>
                <string>{{1,710},{255,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3056/effect/col_action2/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-161,23}</string>
                <key>spriteSize</key>
                <string>{237,219}</string>
                <key>spriteSourceSize</key>
                <string>{669,327}</string>
                <key>textureRect</key>
                <string>{{1,933},{237,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3056/effect/col_action2/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-143,6}</string>
                <key>spriteSize</key>
                <string>{267,185}</string>
                <key>spriteSourceSize</key>
                <string>{669,327}</string>
                <key>textureRect</key>
                <string>{{292,242},{267,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3056/effect/col_action2/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-143,3}</string>
                <key>spriteSize</key>
                <string>{267,183}</string>
                <key>spriteSourceSize</key>
                <string>{669,327}</string>
                <key>textureRect</key>
                <string>{{240,1015},{267,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action20.pvr.ccz</string>
            <key>size</key>
            <string>{508,1199}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0ac619383bde7b4ca42db61ec73c0cc:6800b3d34d8d118d4a96bc81cb7e12ec:98ec4b5f3da3b367b0df440471cccb39$</string>
            <key>textureFileName</key>
            <string>col_action20.pvr.ccz</string>
        </dict>
    </dict>
</plist>
