<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3056/effect/col_action3/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-104}</string>
                <key>spriteSize</key>
                <string>{446,222}</string>
                <key>spriteSourceSize</key>
                <string>{446,436}</string>
                <key>textureRect</key>
                <string>{{1793,897},{446,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3056/effect/col_action3/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-103}</string>
                <key>spriteSize</key>
                <string>{446,226}</string>
                <key>spriteSourceSize</key>
                <string>{446,436}</string>
                <key>textureRect</key>
                <string>{{1793,449},{446,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3056/effect/col_action3/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-102}</string>
                <key>spriteSize</key>
                <string>{446,228}</string>
                <key>spriteSourceSize</key>
                <string>{446,436}</string>
                <key>textureRect</key>
                <string>{{1793,1},{446,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3056/effect/col_action3/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-33}</string>
                <key>spriteSize</key>
                <string>{446,366}</string>
                <key>spriteSourceSize</key>
                <string>{446,436}</string>
                <key>textureRect</key>
                <string>{{1345,751},{446,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3056/effect/col_action3/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-35}</string>
                <key>spriteSize</key>
                <string>{446,362}</string>
                <key>spriteSourceSize</key>
                <string>{446,436}</string>
                <key>textureRect</key>
                <string>{{897,757},{446,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3056/effect/col_action3/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-36}</string>
                <key>spriteSize</key>
                <string>{446,360}</string>
                <key>spriteSourceSize</key>
                <string>{446,436}</string>
                <key>textureRect</key>
                <string>{{1345,1119},{446,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3056/effect/col_action3/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-37}</string>
                <key>spriteSize</key>
                <string>{446,358}</string>
                <key>spriteSourceSize</key>
                <string>{446,436}</string>
                <key>textureRect</key>
                <string>{{897,1121},{446,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3056/effect/col_action3/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-38}</string>
                <key>spriteSize</key>
                <string>{446,356}</string>
                <key>spriteSourceSize</key>
                <string>{446,436}</string>
                <key>textureRect</key>
                <string>{{449,1127},{446,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3056/effect/col_action3/26</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-27}</string>
                <key>spriteSize</key>
                <string>{446,378}</string>
                <key>spriteSourceSize</key>
                <string>{446,436}</string>
                <key>textureRect</key>
                <string>{{449,1},{446,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3056/effect/col_action3/27</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-28}</string>
                <key>spriteSize</key>
                <string>{446,376}</string>
                <key>spriteSourceSize</key>
                <string>{446,436}</string>
                <key>textureRect</key>
                <string>{{897,1},{446,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3056/effect/col_action3/28</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-28}</string>
                <key>spriteSize</key>
                <string>{446,376}</string>
                <key>spriteSourceSize</key>
                <string>{446,436}</string>
                <key>textureRect</key>
                <string>{{1345,1},{446,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3056/effect/col_action3/33</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-26}</string>
                <key>spriteSize</key>
                <string>{446,380}</string>
                <key>spriteSourceSize</key>
                <string>{446,436}</string>
                <key>textureRect</key>
                <string>{{1,1},{446,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3056/effect/col_action3/34</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-28}</string>
                <key>spriteSize</key>
                <string>{446,376}</string>
                <key>spriteSourceSize</key>
                <string>{446,436}</string>
                <key>textureRect</key>
                <string>{{897,379},{446,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3056/effect/col_action3/36</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-30}</string>
                <key>spriteSize</key>
                <string>{446,372}</string>
                <key>spriteSourceSize</key>
                <string>{446,436}</string>
                <key>textureRect</key>
                <string>{{449,381},{446,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3056/effect/col_action3/37</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-30}</string>
                <key>spriteSize</key>
                <string>{446,372}</string>
                <key>spriteSourceSize</key>
                <string>{446,436}</string>
                <key>textureRect</key>
                <string>{{1,383},{446,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3056/effect/col_action3/38</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-31}</string>
                <key>spriteSize</key>
                <string>{446,370}</string>
                <key>spriteSourceSize</key>
                <string>{446,436}</string>
                <key>textureRect</key>
                <string>{{449,755},{446,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3056/effect/col_action3/39</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-31}</string>
                <key>spriteSize</key>
                <string>{446,370}</string>
                <key>spriteSourceSize</key>
                <string>{446,436}</string>
                <key>textureRect</key>
                <string>{{1,757},{446,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3056/effect/col_action3/40</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-31}</string>
                <key>spriteSize</key>
                <string>{446,370}</string>
                <key>spriteSourceSize</key>
                <string>{446,436}</string>
                <key>textureRect</key>
                <string>{{1345,379},{446,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3056/effect/col_action3/41</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-37}</string>
                <key>spriteSize</key>
                <string>{446,356}</string>
                <key>spriteSourceSize</key>
                <string>{446,436}</string>
                <key>textureRect</key>
                <string>{{1,1129},{446,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action31.pvr.ccz</string>
            <key>size</key>
            <string>{2022,1486}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b53b9784ba9df58c987446247a6ffbb:4386f72eaee40ae3f726f1a7a0db18bb:62c31d09a3c281c47788a45a3cfaa3d3$</string>
            <key>textureFileName</key>
            <string>col_action31.pvr.ccz</string>
        </dict>
    </dict>
</plist>
