<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{163,-44}</string>
			<key>spriteSize</key>
			<string>{213,64}</string>
			<key>spriteSourceSize</key>
			<string>{539,240}</string>
			<key>textureRect</key>
			<string>{{230,545},{213,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{156,-25}</string>
			<key>spriteSize</key>
			<string>{227,106}</string>
			<key>spriteSourceSize</key>
			<string>{539,240}</string>
			<key>textureRect</key>
			<string>{{1,545},{227,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{141,-4}</string>
			<key>spriteSize</key>
			<string>{257,154}</string>
			<key>spriteSourceSize</key>
			<string>{539,240}</string>
			<key>textureRect</key>
			<string>{{187,653},{257,154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{123,4}</string>
			<key>spriteSize</key>
			<string>{293,172}</string>
			<key>spriteSourceSize</key>
			<string>{539,240}</string>
			<key>textureRect</key>
			<string>{{574,833},{293,172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{107,5}</string>
			<key>spriteSize</key>
			<string>{325,176}</string>
			<key>spriteSourceSize</key>
			<string>{539,240}</string>
			<key>textureRect</key>
			<string>{{574,655},{325,176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{95,4}</string>
			<key>spriteSize</key>
			<string>{339,184}</string>
			<key>spriteSourceSize</key>
			<string>{539,240}</string>
			<key>textureRect</key>
			<string>{{1,655},{339,184}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{23,2}</string>
			<key>spriteSize</key>
			<string>{457,182}</string>
			<key>spriteSourceSize</key>
			<string>{539,240}</string>
			<key>textureRect</key>
			<string>{{1,1},{457,182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{23,-2}</string>
			<key>spriteSize</key>
			<string>{457,182}</string>
			<key>spriteSourceSize</key>
			<string>{539,240}</string>
			<key>textureRect</key>
			<string>{{1,185},{457,182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{21,-6}</string>
			<key>spriteSize</key>
			<string>{451,174}</string>
			<key>spriteSourceSize</key>
			<string>{539,240}</string>
			<key>textureRect</key>
			<string>{{1,369},{451,174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{12,-17}</string>
			<key>spriteSize</key>
			<string>{435,144}</string>
			<key>spriteSourceSize</key>
			<string>{539,240}</string>
			<key>textureRect</key>
			<string>{{460,1},{435,144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,-39}</string>
			<key>spriteSize</key>
			<string>{425,102}</string>
			<key>spriteSourceSize</key>
			<string>{539,240}</string>
			<key>textureRect</key>
			<string>{{460,147},{425,102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,-50}</string>
			<key>spriteSize</key>
			<string>{423,76}</string>
			<key>spriteSourceSize</key>
			<string>{539,240}</string>
			<key>textureRect</key>
			<string>{{460,251},{423,76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,-14}</string>
			<key>spriteSize</key>
			<string>{403,150}</string>
			<key>spriteSourceSize</key>
			<string>{539,240}</string>
			<key>textureRect</key>
			<string>{{460,329},{403,150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,-7}</string>
			<key>spriteSize</key>
			<string>{399,172}</string>
			<key>spriteSourceSize</key>
			<string>{539,240}</string>
			<key>textureRect</key>
			<string>{{454,481},{399,172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-13,-6}</string>
			<key>spriteSize</key>
			<string>{385,186}</string>
			<key>spriteSourceSize</key>
			<string>{539,240}</string>
			<key>textureRect</key>
			<string>{{187,809},{385,186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action10.pvr.ccz</string>
		<key>size</key>
		<string>{900,1006}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:016a26ef199548e8650b6001b71265aa:160e0819d3f60115734c0360bfd6f4cc:fd6dfe3ee94267230ed6425290acf6b5$</string>
		<key>textureFileName</key>
		<string>col_action10.pvr.ccz</string>
	</dict>
</dict>
</plist>
