<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,6}</string>
			<key>spriteSize</key>
			<string>{138,156}</string>
			<key>spriteSourceSize</key>
			<string>{232,204}</string>
			<key>textureRect</key>
			<string>{{1,409},{138,156}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,5}</string>
			<key>spriteSize</key>
			<string>{128,142}</string>
			<key>spriteSourceSize</key>
			<string>{232,204}</string>
			<key>textureRect</key>
			<string>{{483,409},{128,142}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,4}</string>
			<key>spriteSize</key>
			<string>{148,156}</string>
			<key>spriteSourceSize</key>
			<string>{232,204}</string>
			<key>textureRect</key>
			<string>{{815,385},{148,156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,4}</string>
			<key>spriteSize</key>
			<string>{148,156}</string>
			<key>spriteSourceSize</key>
			<string>{232,204}</string>
			<key>textureRect</key>
			<string>{{965,377},{148,156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,4}</string>
			<key>spriteSize</key>
			<string>{148,156}</string>
			<key>spriteSourceSize</key>
			<string>{232,204}</string>
			<key>textureRect</key>
			<string>{{1115,377},{148,156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,4}</string>
			<key>spriteSize</key>
			<string>{148,156}</string>
			<key>spriteSourceSize</key>
			<string>{232,204}</string>
			<key>textureRect</key>
			<string>{{1275,365},{148,156}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,4}</string>
			<key>spriteSize</key>
			<string>{148,156}</string>
			<key>spriteSourceSize</key>
			<string>{232,204}</string>
			<key>textureRect</key>
			<string>{{1433,365},{148,156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,5}</string>
			<key>spriteSize</key>
			<string>{168,190}</string>
			<key>spriteSourceSize</key>
			<string>{232,204}</string>
			<key>textureRect</key>
			<string>{{645,205},{168,190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{140,168}</string>
			<key>spriteSourceSize</key>
			<string>{232,204}</string>
			<key>textureRect</key>
			<string>{{1425,195},{140,168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{128,168}</string>
			<key>spriteSourceSize</key>
			<string>{232,204}</string>
			<key>textureRect</key>
			<string>{{159,409},{128,168}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,2}</string>
			<key>spriteSize</key>
			<string>{148,168}</string>
			<key>spriteSourceSize</key>
			<string>{232,204}</string>
			<key>textureRect</key>
			<string>{{1125,197},{148,168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,2}</string>
			<key>spriteSize</key>
			<string>{148,168}</string>
			<key>spriteSourceSize</key>
			<string>{232,204}</string>
			<key>textureRect</key>
			<string>{{1275,195},{148,168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,2}</string>
			<key>spriteSize</key>
			<string>{148,168}</string>
			<key>spriteSourceSize</key>
			<string>{232,204}</string>
			<key>textureRect</key>
			<string>{{645,397},{148,168}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,4}</string>
			<key>spriteSize</key>
			<string>{148,156}</string>
			<key>spriteSourceSize</key>
			<string>{232,204}</string>
			<key>textureRect</key>
			<string>{{1583,365},{148,156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,4}</string>
			<key>spriteSize</key>
			<string>{148,156}</string>
			<key>spriteSourceSize</key>
			<string>{232,204}</string>
			<key>textureRect</key>
			<string>{{1733,365},{148,156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>15</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,7}</string>
			<key>spriteSize</key>
			<string>{134,152}</string>
			<key>spriteSourceSize</key>
			<string>{232,204}</string>
			<key>textureRect</key>
			<string>{{329,409},{134,152}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>16</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,5}</string>
			<key>spriteSize</key>
			<string>{120,160}</string>
			<key>spriteSourceSize</key>
			<string>{232,204}</string>
			<key>textureRect</key>
			<string>{{1871,1},{120,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>17</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,6}</string>
			<key>spriteSize</key>
			<string>{120,134}</string>
			<key>spriteSourceSize</key>
			<string>{232,204}</string>
			<key>textureRect</key>
			<string>{{1871,163},{120,134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>18</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,5}</string>
			<key>spriteSize</key>
			<string>{148,180}</string>
			<key>spriteSourceSize</key>
			<string>{232,204}</string>
			<key>textureRect</key>
			<string>{{815,203},{148,180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>19</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,4}</string>
			<key>spriteSize</key>
			<string>{158,174}</string>
			<key>spriteSourceSize</key>
			<string>{232,204}</string>
			<key>textureRect</key>
			<string>{{965,201},{158,174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>20</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,2}</string>
			<key>spriteSize</key>
			<string>{180,194}</string>
			<key>spriteSourceSize</key>
			<string>{232,204}</string>
			<key>textureRect</key>
			<string>{{1675,1},{180,194}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>21</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,2}</string>
			<key>spriteSize</key>
			<string>{180,194}</string>
			<key>spriteSourceSize</key>
			<string>{232,204}</string>
			<key>textureRect</key>
			<string>{{1675,183},{180,194}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>22</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{192,202}</string>
			<key>spriteSourceSize</key>
			<string>{232,204}</string>
			<key>textureRect</key>
			<string>{{1273,1},{192,202}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>23</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,0}</string>
			<key>spriteSize</key>
			<string>{196,190}</string>
			<key>spriteSourceSize</key>
			<string>{232,204}</string>
			<key>textureRect</key>
			<string>{{1477,1},{196,190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>24</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,0}</string>
			<key>spriteSize</key>
			<string>{202,194}</string>
			<key>spriteSourceSize</key>
			<string>{232,204}</string>
			<key>textureRect</key>
			<string>{{1069,1},{202,194}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>25</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,-1}</string>
			<key>spriteSize</key>
			<string>{206,198}</string>
			<key>spriteSourceSize</key>
			<string>{232,204}</string>
			<key>textureRect</key>
			<string>{{861,1},{206,198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>26</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,-1}</string>
			<key>spriteSize</key>
			<string>{210,200}</string>
			<key>spriteSourceSize</key>
			<string>{232,204}</string>
			<key>textureRect</key>
			<string>{{649,1},{210,200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>27</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,-1}</string>
			<key>spriteSize</key>
			<string>{212,202}</string>
			<key>spriteSourceSize</key>
			<string>{232,204}</string>
			<key>textureRect</key>
			<string>{{435,1},{212,202}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>28</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,-1}</string>
			<key>spriteSize</key>
			<string>{214,202}</string>
			<key>spriteSourceSize</key>
			<string>{232,204}</string>
			<key>textureRect</key>
			<string>{{1,205},{214,202}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>29</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,-1}</string>
			<key>spriteSize</key>
			<string>{216,202}</string>
			<key>spriteSourceSize</key>
			<string>{232,204}</string>
			<key>textureRect</key>
			<string>{{1,1},{216,202}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>30</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,-1}</string>
			<key>spriteSize</key>
			<string>{214,202}</string>
			<key>spriteSourceSize</key>
			<string>{232,204}</string>
			<key>textureRect</key>
			<string>{{219,1},{214,202}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>31</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,-1}</string>
			<key>spriteSize</key>
			<string>{214,202}</string>
			<key>spriteSourceSize</key>
			<string>{232,204}</string>
			<key>textureRect</key>
			<string>{{217,205},{214,202}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>32</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,-1}</string>
			<key>spriteSize</key>
			<string>{210,202}</string>
			<key>spriteSourceSize</key>
			<string>{232,204}</string>
			<key>textureRect</key>
			<string>{{433,205},{210,202}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action30.pvr.ccz</string>
		<key>size</key>
		<string>{1992,548}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:971dae53b783939742c85984e7704a1d:abb186aed0d4116feecfd7f1b9d49c3d:e44ba353004d0fd8b165f5c6960cb7e8$</string>
		<key>textureFileName</key>
		<string>col_action30.pvr.ccz</string>
	</dict>
</dict>
</plist>
