<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/489/effect/col_action1/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,5}</string>
                <key>spriteSize</key>
                <string>{106,156}</string>
                <key>spriteSourceSize</key>
                <string>{312,240}</string>
                <key>textureRect</key>
                <string>{{837,813},{106,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/489/effect/col_action1/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,5}</string>
                <key>spriteSize</key>
                <string>{116,166}</string>
                <key>spriteSourceSize</key>
                <string>{312,240}</string>
                <key>textureRect</key>
                <string>{{803,419},{116,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/489/effect/col_action1/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,6}</string>
                <key>spriteSize</key>
                <string>{122,176}</string>
                <key>spriteSourceSize</key>
                <string>{312,240}</string>
                <key>textureRect</key>
                <string>{{227,451},{122,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/489/effect/col_action1/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,6}</string>
                <key>spriteSize</key>
                <string>{122,176}</string>
                <key>spriteSourceSize</key>
                <string>{312,240}</string>
                <key>textureRect</key>
                <string>{{405,451},{122,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/489/effect/col_action1/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-4}</string>
                <key>spriteSize</key>
                <string>{186,196}</string>
                <key>spriteSourceSize</key>
                <string>{312,240}</string>
                <key>textureRect</key>
                <string>{{787,1013},{186,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/489/effect/col_action1/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-5}</string>
                <key>spriteSize</key>
                <string>{188,198}</string>
                <key>spriteSourceSize</key>
                <string>{312,240}</string>
                <key>textureRect</key>
                <string>{{397,1061},{188,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/489/effect/col_action1/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-5}</string>
                <key>spriteSize</key>
                <string>{188,198}</string>
                <key>spriteSourceSize</key>
                <string>{312,240}</string>
                <key>textureRect</key>
                <string>{{597,1061},{188,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/489/effect/col_action1/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-5}</string>
                <key>spriteSize</key>
                <string>{188,196}</string>
                <key>spriteSourceSize</key>
                <string>{312,240}</string>
                <key>textureRect</key>
                <string>{{639,823},{188,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/489/effect/col_action1/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-5}</string>
                <key>spriteSize</key>
                <string>{188,196}</string>
                <key>spriteSourceSize</key>
                <string>{312,240}</string>
                <key>textureRect</key>
                <string>{{199,1251},{188,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/489/effect/col_action1/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-5}</string>
                <key>spriteSize</key>
                <string>{188,196}</string>
                <key>spriteSourceSize</key>
                <string>{312,240}</string>
                <key>textureRect</key>
                <string>{{1,1269},{188,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/489/effect/col_action1/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-5}</string>
                <key>spriteSize</key>
                <string>{188,196}</string>
                <key>spriteSourceSize</key>
                <string>{312,240}</string>
                <key>textureRect</key>
                <string>{{397,1251},{188,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/489/effect/col_action1/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-5}</string>
                <key>spriteSize</key>
                <string>{188,196}</string>
                <key>spriteSourceSize</key>
                <string>{312,240}</string>
                <key>textureRect</key>
                <string>{{587,1261},{188,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/489/effect/col_action1/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-5}</string>
                <key>spriteSize</key>
                <string>{188,196}</string>
                <key>spriteSourceSize</key>
                <string>{312,240}</string>
                <key>textureRect</key>
                <string>{{785,1261},{188,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/489/effect/col_action1/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-5}</string>
                <key>spriteSize</key>
                <string>{214,196}</string>
                <key>spriteSourceSize</key>
                <string>{312,240}</string>
                <key>textureRect</key>
                <string>{{1,1053},{214,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/489/effect/col_action1/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-5}</string>
                <key>spriteSize</key>
                <string>{214,196}</string>
                <key>spriteSourceSize</key>
                <string>{312,240}</string>
                <key>textureRect</key>
                <string>{{743,221},{214,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/489/effect/col_action1/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-1}</string>
                <key>spriteSize</key>
                <string>{218,204}</string>
                <key>spriteSourceSize</key>
                <string>{312,240}</string>
                <key>textureRect</key>
                <string>{{583,435},{218,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/489/effect/col_action1/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-1}</string>
                <key>spriteSize</key>
                <string>{218,204}</string>
                <key>spriteSourceSize</key>
                <string>{312,240}</string>
                <key>textureRect</key>
                <string>{{743,1},{218,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/489/effect/col_action1/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-9}</string>
                <key>spriteSize</key>
                <string>{236,218}</string>
                <key>spriteSourceSize</key>
                <string>{312,240}</string>
                <key>textureRect</key>
                <string>{{505,1},{236,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/489/effect/col_action1/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-12}</string>
                <key>spriteSize</key>
                <string>{236,212}</string>
                <key>spriteSourceSize</key>
                <string>{312,240}</string>
                <key>textureRect</key>
                <string>{{505,221},{236,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/489/effect/col_action1/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-14}</string>
                <key>spriteSize</key>
                <string>{250,208}</string>
                <key>spriteSourceSize</key>
                <string>{312,240}</string>
                <key>textureRect</key>
                <string>{{287,575},{250,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/489/effect/col_action1/20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-7}</string>
                <key>spriteSize</key>
                <string>{270,222}</string>
                <key>spriteSourceSize</key>
                <string>{312,240}</string>
                <key>textureRect</key>
                <string>{{227,227},{270,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/489/effect/col_action1/21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-6}</string>
                <key>spriteSize</key>
                <string>{276,224}</string>
                <key>spriteSourceSize</key>
                <string>{312,240}</string>
                <key>textureRect</key>
                <string>{{227,1},{276,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/489/effect/col_action1/22</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-7}</string>
                <key>spriteSize</key>
                <string>{284,222}</string>
                <key>spriteSourceSize</key>
                <string>{312,240}</string>
                <key>textureRect</key>
                <string>{{1,595},{284,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/489/effect/col_action1/23</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{290,224}</string>
                <key>spriteSourceSize</key>
                <string>{312,240}</string>
                <key>textureRect</key>
                <string>{{1,303},{290,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/489/effect/col_action1/24</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{300,224}</string>
                <key>spriteSourceSize</key>
                <string>{312,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{300,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/489/effect/col_action1/25</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-18}</string>
                <key>spriteSize</key>
                <string>{232,200}</string>
                <key>spriteSourceSize</key>
                <string>{312,240}</string>
                <key>textureRect</key>
                <string>{{1,819},{232,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/489/effect/col_action1/26</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-18}</string>
                <key>spriteSize</key>
                <string>{232,200}</string>
                <key>spriteSourceSize</key>
                <string>{312,240}</string>
                <key>textureRect</key>
                <string>{{203,827},{232,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/489/effect/col_action1/27</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-18}</string>
                <key>spriteSize</key>
                <string>{232,200}</string>
                <key>spriteSourceSize</key>
                <string>{312,240}</string>
                <key>textureRect</key>
                <string>{{437,827},{232,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/489/effect/col_action1/28</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-18}</string>
                <key>spriteSize</key>
                <string>{220,192}</string>
                <key>spriteSourceSize</key>
                <string>{312,240}</string>
                <key>textureRect</key>
                <string>{{203,1029},{220,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/489/effect/col_action1/29</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-18}</string>
                <key>spriteSize</key>
                <string>{206,180}</string>
                <key>spriteSourceSize</key>
                <string>{312,240}</string>
                <key>textureRect</key>
                <string>{{497,641},{206,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/489/effect/col_action1/30</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-18}</string>
                <key>spriteSize</key>
                <string>{194,170}</string>
                <key>spriteSourceSize</key>
                <string>{312,240}</string>
                <key>textureRect</key>
                <string>{{705,641},{194,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action10.pvr.ccz</string>
            <key>size</key>
            <string>{974,1458}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69981828b5879fa87e03dae21f574c1e:238e0df9d02142a0d6770979e28db5b4:fd6dfe3ee94267230ed6425290acf6b5$</string>
            <key>textureFileName</key>
            <string>col_action10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
