<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3384/effect/col_action2/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-134,16}</string>
                <key>spriteSize</key>
                <string>{124,154}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{187,187},{124,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3384/effect/col_action2/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-142,16}</string>
                <key>spriteSize</key>
                <string>{116,120}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{139,313},{116,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3384/effect/col_action2/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-145,9}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{257,313},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3384/effect/col_action2/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-147,5}</string>
                <key>spriteSize</key>
                <string>{66,68}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{257,387},{66,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3384/effect/col_action2/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-132,24}</string>
                <key>spriteSize</key>
                <string>{136,184}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1,167},{136,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3384/effect/col_action2/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-132,24}</string>
                <key>spriteSize</key>
                <string>{136,184}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1,305},{136,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3384/effect/col_action2/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-123,24}</string>
                <key>spriteSize</key>
                <string>{154,184}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{187,1},{154,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3384/effect/col_action2/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-118,24}</string>
                <key>spriteSize</key>
                <string>{164,184}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{164,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action20.pvr.ccz</string>
            <key>size</key>
            <string>{342,490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b256ad1f33fcb430df723ebedafd7ccc:8e10645cb79094873491b597b8fdd9fc:98ec4b5f3da3b367b0df440471cccb39$</string>
            <key>textureFileName</key>
            <string>col_action20.pvr.ccz</string>
        </dict>
    </dict>
</plist>
