<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/902/effect/col_action3/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,1}</string>
                <key>spriteSize</key>
                <string>{173,114}</string>
                <key>spriteSourceSize</key>
                <string>{289,184}</string>
                <key>textureRect</key>
                <string>{{155,493},{173,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/902/effect/col_action3/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-6}</string>
                <key>spriteSize</key>
                <string>{215,132}</string>
                <key>spriteSourceSize</key>
                <string>{289,184}</string>
                <key>textureRect</key>
                <string>{{1,1286},{215,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/902/effect/col_action3/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-6}</string>
                <key>spriteSize</key>
                <string>{245,148}</string>
                <key>spriteSourceSize</key>
                <string>{289,184}</string>
                <key>textureRect</key>
                <string>{{1,157},{245,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/902/effect/col_action3/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{241,154}</string>
                <key>spriteSourceSize</key>
                <string>{289,184}</string>
                <key>textureRect</key>
                <string>{{1,1},{241,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/902/effect/col_action3/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{239,154}</string>
                <key>spriteSourceSize</key>
                <string>{289,184}</string>
                <key>textureRect</key>
                <string>{{244,1},{239,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/902/effect/col_action3/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-1}</string>
                <key>spriteSize</key>
                <string>{229,152}</string>
                <key>spriteSourceSize</key>
                <string>{289,184}</string>
                <key>textureRect</key>
                <string>{{1,404},{229,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/902/effect/col_action3/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-5}</string>
                <key>spriteSize</key>
                <string>{229,162}</string>
                <key>spriteSourceSize</key>
                <string>{289,184}</string>
                <key>textureRect</key>
                <string>{{151,157},{229,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/902/effect/col_action3/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-4}</string>
                <key>spriteSize</key>
                <string>{219,164}</string>
                <key>spriteSourceSize</key>
                <string>{289,184}</string>
                <key>textureRect</key>
                <string>{{1,635},{219,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/902/effect/col_action3/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-4}</string>
                <key>spriteSize</key>
                <string>{213,164}</string>
                <key>spriteSourceSize</key>
                <string>{289,184}</string>
                <key>textureRect</key>
                <string>{{1,856},{213,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/902/effect/col_action3/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-4}</string>
                <key>spriteSize</key>
                <string>{213,164}</string>
                <key>spriteSourceSize</key>
                <string>{289,184}</string>
                <key>textureRect</key>
                <string>{{1,1071},{213,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/902/effect/col_action3/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-3}</string>
                <key>spriteSize</key>
                <string>{209,166}</string>
                <key>spriteSourceSize</key>
                <string>{289,184}</string>
                <key>textureRect</key>
                <string>{{167,820},{209,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/902/effect/col_action3/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-1}</string>
                <key>spriteSize</key>
                <string>{209,162}</string>
                <key>spriteSourceSize</key>
                <string>{289,184}</string>
                <key>textureRect</key>
                <string>{{167,609},{209,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/902/effect/col_action3/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-4}</string>
                <key>spriteSize</key>
                <string>{205,170}</string>
                <key>spriteSourceSize</key>
                <string>{289,184}</string>
                <key>textureRect</key>
                <string>{{331,505},{205,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/902/effect/col_action3/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-5}</string>
                <key>spriteSize</key>
                <string>{207,168}</string>
                <key>spriteSourceSize</key>
                <string>{289,184}</string>
                <key>textureRect</key>
                <string>{{167,1031},{207,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/902/effect/col_action3/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-5}</string>
                <key>spriteSize</key>
                <string>{207,170}</string>
                <key>spriteSourceSize</key>
                <string>{289,184}</string>
                <key>textureRect</key>
                <string>{{155,321},{207,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/902/effect/col_action3/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-5}</string>
                <key>spriteSize</key>
                <string>{203,170}</string>
                <key>spriteSourceSize</key>
                <string>{289,184}</string>
                <key>textureRect</key>
                <string>{{335,811},{203,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/902/effect/col_action3/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-54,-5}</string>
                <key>spriteSize</key>
                <string>{175,170}</string>
                <key>spriteSourceSize</key>
                <string>{289,184}</string>
                <key>textureRect</key>
                <string>{{218,1240},{175,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/902/effect/col_action3/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-90,-4}</string>
                <key>spriteSize</key>
                <string>{101,172}</string>
                <key>spriteSourceSize</key>
                <string>{289,184}</string>
                <key>textureRect</key>
                <string>{{382,157},{101,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/902/effect/col_action3/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-90,-4}</string>
                <key>spriteSize</key>
                <string>{101,172}</string>
                <key>spriteSourceSize</key>
                <string>{289,184}</string>
                <key>textureRect</key>
                <string>{{364,331},{101,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/902/effect/col_action3/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-92,-4}</string>
                <key>spriteSize</key>
                <string>{97,172}</string>
                <key>spriteSourceSize</key>
                <string>{289,184}</string>
                <key>textureRect</key>
                <string>{{331,712},{97,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/902/effect/col_action3/20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-101,1}</string>
                <key>spriteSize</key>
                <string>{87,154}</string>
                <key>spriteSourceSize</key>
                <string>{289,184}</string>
                <key>textureRect</key>
                <string>{{390,1172},{87,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/902/effect/col_action3/21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-100,1}</string>
                <key>spriteSize</key>
                <string>{89,154}</string>
                <key>spriteSourceSize</key>
                <string>{289,184}</string>
                <key>textureRect</key>
                <string>{{337,1016},{89,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action30.pvr.ccz</string>
            <key>size</key>
            <string>{506,1419}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16b34d43ef972a30d9e7a529c0cb35ca:fa86eb05333db9299c6bf10cd157ced0:e44ba353004d0fd8b165f5c6960cb7e8$</string>
            <key>textureFileName</key>
            <string>col_action30.pvr.ccz</string>
        </dict>
    </dict>
</plist>
