<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>intro/201204_logo_dv1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,203}</string>
                <key>spriteSourceSize</key>
                <string>{344,203}</string>
                <key>textureRect</key>
                <string>{{823,144},{344,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>intro/201204_logo_dv1_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,203}</string>
                <key>spriteSourceSize</key>
                <string>{344,203}</string>
                <key>textureRect</key>
                <string>{{1169,144},{344,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>intro/bt_apple</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,40}</string>
                <key>spriteSourceSize</key>
                <string>{127,40}</string>
                <key>textureRect</key>
                <string>{{1804,361},{127,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>intro/bt_apple_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,38}</string>
                <key>spriteSourceSize</key>
                <string>{125,38}</string>
                <key>textureRect</key>
                <string>{{1846,361},{125,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>intro/bt_exit</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,25}</string>
                <key>spriteSourceSize</key>
                <string>{26,25}</string>
                <key>textureRect</key>
                <string>{{288,464},{26,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>intro/bt_facebook</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,32}</string>
                <key>spriteSourceSize</key>
                <string>{299,32}</string>
                <key>textureRect</key>
                <string>{{412,413},{299,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>intro/bt_facebook2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,49}</string>
                <key>spriteSourceSize</key>
                <string>{47,49}</string>
                <key>textureRect</key>
                <string>{{1779,243},{47,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>intro/bt_google</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,49}</string>
                <key>spriteSourceSize</key>
                <string>{47,49}</string>
                <key>textureRect</key>
                <string>{{713,413},{47,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>intro/bt_id</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,35}</string>
                <key>spriteSourceSize</key>
                <string>{32,35}</string>
                <key>textureRect</key>
                <string>{{1856,1},{32,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>intro/bt_question</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,32}</string>
                <key>spriteSourceSize</key>
                <string>{29,32}</string>
                <key>textureRect</key>
                <string>{{1796,294},{29,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>intro/copyright</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,21}</string>
                <key>spriteSourceSize</key>
                <string>{336,21}</string>
                <key>textureRect</key>
                <string>{{1305,121},{336,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>intro/downloading_bar</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,20}</string>
                <key>spriteSourceSize</key>
                <string>{285,20}</string>
                <key>textureRect</key>
                <string>{{1586,99},{285,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>intro/downloading_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,20}</string>
                <key>spriteSourceSize</key>
                <string>{285,20}</string>
                <key>textureRect</key>
                <string>{{1,464},{285,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>intro/dragonv_logo</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,143}</string>
                <key>spriteSourceSize</key>
                <string>{325,143}</string>
                <key>textureRect</key>
                <string>{{823,349},{325,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>intro/dragonv_logo_ch</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,143}</string>
                <key>spriteSourceSize</key>
                <string>{325,143}</string>
                <key>textureRect</key>
                <string>{{1150,349},{325,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>intro/dragonv_logo_english</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,143}</string>
                <key>spriteSourceSize</key>
                <string>{325,143}</string>
                <key>textureRect</key>
                <string>{{1477,349},{325,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>intro/grb_all</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,120}</string>
                <key>spriteSourceSize</key>
                <string>{102,120}</string>
                <key>textureRect</key>
                <string>{{1779,121},{102,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>intro/highbrow_logo</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,148}</string>
                <key>spriteSourceSize</key>
                <string>{262,148}</string>
                <key>textureRect</key>
                <string>{{1515,144},{262,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>intro/intro_text</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,31}</string>
                <key>spriteSourceSize</key>
                <string>{283,31}</string>
                <key>textureRect</key>
                <string>{{412,447},{283,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>intro/login_deco</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,141}</string>
                <key>spriteSourceSize</key>
                <string>{480,141}</string>
                <key>textureRect</key>
                <string>{{823,1},{480,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>intro/login_txtbox</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,49}</string>
                <key>spriteSourceSize</key>
                <string>{409,49}</string>
                <key>textureRect</key>
                <string>{{1,413},{409,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>intro/logo_commingsoon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{820,410}</string>
                <key>spriteSourceSize</key>
                <string>{820,410}</string>
                <key>textureRect</key>
                <string>{{1,1},{820,410}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>intro/skip</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,48}</string>
                <key>spriteSourceSize</key>
                <string>{116,48}</string>
                <key>textureRect</key>
                <string>{{1828,243},{116,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>intro/tab2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{764,413},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>intro/tab3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{316,464},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>intro/title_dv</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,118}</string>
                <key>spriteSourceSize</key>
                <string>{279,118}</string>
                <key>textureRect</key>
                <string>{{1305,1},{279,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>intro/title_txt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,53}</string>
                <key>spriteSourceSize</key>
                <string>{268,53}</string>
                <key>textureRect</key>
                <string>{{1586,1},{268,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>intro/title_txt_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,35}</string>
                <key>spriteSourceSize</key>
                <string>{279,35}</string>
                <key>textureRect</key>
                <string>{{1515,294},{279,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>intro/title_txt_ko</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,41}</string>
                <key>spriteSourceSize</key>
                <string>{279,41}</string>
                <key>textureRect</key>
                <string>{{1586,56},{279,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>intro.pvr.ccz</string>
            <key>size</key>
            <string>{1889,493}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:622fcae650df2186120cfd76577330e6:55e0115a7f717575105fbbd664b441b9:f8e11402bb63098aa3caef92c8643530$</string>
            <key>textureFileName</key>
            <string>intro.pvr.ccz</string>
        </dict>
    </dict>
</plist>
