<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3173/effect/col_action1/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,11}</string>
                <key>spriteSize</key>
                <string>{903,130}</string>
                <key>spriteSourceSize</key>
                <string>{1137,642}</string>
                <key>textureRect</key>
                <string>{{1088,1181},{903,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3173/effect/col_action1/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,12}</string>
                <key>spriteSize</key>
                <string>{899,172}</string>
                <key>spriteSourceSize</key>
                <string>{1137,642}</string>
                <key>textureRect</key>
                <string>{{918,175},{899,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3173/effect/col_action1/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,12}</string>
                <key>spriteSize</key>
                <string>{909,136}</string>
                <key>spriteSourceSize</key>
                <string>{1137,642}</string>
                <key>textureRect</key>
                <string>{{1090,635},{909,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3173/effect/col_action1/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,12}</string>
                <key>spriteSize</key>
                <string>{919,142}</string>
                <key>spriteSourceSize</key>
                <string>{1137,642}</string>
                <key>textureRect</key>
                <string>{{167,953},{919,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3173/effect/col_action1/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,12}</string>
                <key>spriteSize</key>
                <string>{925,172}</string>
                <key>spriteSourceSize</key>
                <string>{1137,642}</string>
                <key>textureRect</key>
                <string>{{1,1},{925,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3173/effect/col_action1/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,12}</string>
                <key>spriteSize</key>
                <string>{911,138}</string>
                <key>spriteSourceSize</key>
                <string>{1137,642}</string>
                <key>textureRect</key>
                <string>{{1090,495},{911,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3173/effect/col_action1/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,12}</string>
                <key>spriteSize</key>
                <string>{921,144}</string>
                <key>spriteSourceSize</key>
                <string>{1137,642}</string>
                <key>textureRect</key>
                <string>{{167,517},{921,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3173/effect/col_action1/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,12}</string>
                <key>spriteSize</key>
                <string>{905,166}</string>
                <key>spriteSourceSize</key>
                <string>{1137,642}</string>
                <key>textureRect</key>
                <string>{{167,349},{905,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3173/effect/col_action1/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,12}</string>
                <key>spriteSize</key>
                <string>{915,138}</string>
                <key>spriteSourceSize</key>
                <string>{1137,642}</string>
                <key>textureRect</key>
                <string>{{1088,1041},{915,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3173/effect/col_action1/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,12}</string>
                <key>spriteSize</key>
                <string>{919,138}</string>
                <key>spriteSourceSize</key>
                <string>{1137,642}</string>
                <key>textureRect</key>
                <string>{{167,1097},{919,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3173/effect/col_action1/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,12}</string>
                <key>spriteSize</key>
                <string>{911,172}</string>
                <key>spriteSourceSize</key>
                <string>{1137,642}</string>
                <key>textureRect</key>
                <string>{{928,1},{911,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3173/effect/col_action1/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,12}</string>
                <key>spriteSize</key>
                <string>{921,144}</string>
                <key>spriteSourceSize</key>
                <string>{1137,642}</string>
                <key>textureRect</key>
                <string>{{167,663},{921,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3173/effect/col_action1/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,12}</string>
                <key>spriteSize</key>
                <string>{911,144}</string>
                <key>spriteSourceSize</key>
                <string>{1137,642}</string>
                <key>textureRect</key>
                <string>{{1074,349},{911,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3173/effect/col_action1/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,12}</string>
                <key>spriteSize</key>
                <string>{915,172}</string>
                <key>spriteSourceSize</key>
                <string>{1137,642}</string>
                <key>textureRect</key>
                <string>{{1,175},{915,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3173/effect/col_action1/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,12}</string>
                <key>spriteSize</key>
                <string>{921,142}</string>
                <key>spriteSourceSize</key>
                <string>{1137,642}</string>
                <key>textureRect</key>
                <string>{{167,809},{921,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3173/effect/col_action1/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,12}</string>
                <key>spriteSize</key>
                <string>{909,134}</string>
                <key>spriteSourceSize</key>
                <string>{1137,642}</string>
                <key>textureRect</key>
                <string>{{1090,773},{909,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3173/effect/col_action1/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,12}</string>
                <key>spriteSize</key>
                <string>{917,164}</string>
                <key>spriteSourceSize</key>
                <string>{1137,642}</string>
                <key>textureRect</key>
                <string>{{1,349},{917,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3173/effect/col_action1/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,12}</string>
                <key>spriteSize</key>
                <string>{905,130}</string>
                <key>spriteSourceSize</key>
                <string>{1137,642}</string>
                <key>textureRect</key>
                <string>{{1090,909},{905,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3173/effect/col_action1/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,12}</string>
                <key>spriteSize</key>
                <string>{903,104}</string>
                <key>spriteSourceSize</key>
                <string>{1137,642}</string>
                <key>textureRect</key>
                <string>{{167,1237},{903,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3173/effect/col_action1/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-567,319.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1137,642}</string>
                <key>textureRect</key>
                <string>{{1,1268},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action10.pvr.ccz</string>
            <key>size</key>
            <string>{2004,1342}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8db5aaed98afda3f7ee8ad513767d0cf:c8baddf9cd8f68917e8daea35649ade6:fd6dfe3ee94267230ed6425290acf6b5$</string>
            <key>textureFileName</key>
            <string>col_action10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
