<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,3}</string>
			<key>spriteSize</key>
			<string>{149,143}</string>
			<key>spriteSourceSize</key>
			<string>{465,323}</string>
			<key>textureRect</key>
			<string>{{6,1},{149,143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,3}</string>
			<key>spriteSize</key>
			<string>{173,165}</string>
			<key>spriteSourceSize</key>
			<string>{465,323}</string>
			<key>textureRect</key>
			<string>{{157,1},{173,165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,3}</string>
			<key>spriteSize</key>
			<string>{197,189}</string>
			<key>spriteSourceSize</key>
			<string>{465,323}</string>
			<key>textureRect</key>
			<string>{{397,542},{197,189}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,3}</string>
			<key>spriteSize</key>
			<string>{197,189}</string>
			<key>spriteSourceSize</key>
			<string>{465,323}</string>
			<key>textureRect</key>
			<string>{{596,552},{197,189}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,2}</string>
			<key>spriteSize</key>
			<string>{187,199}</string>
			<key>spriteSourceSize</key>
			<string>{465,323}</string>
			<key>textureRect</key>
			<string>{{793,363},{187,199}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,2}</string>
			<key>spriteSize</key>
			<string>{185,201}</string>
			<key>spriteSourceSize</key>
			<string>{465,323}</string>
			<key>textureRect</key>
			<string>{{196,351},{185,201}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,2}</string>
			<key>spriteSize</key>
			<string>{181,203}</string>
			<key>spriteSourceSize</key>
			<string>{465,323}</string>
			<key>textureRect</key>
			<string>{{598,178},{181,203}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,5}</string>
			<key>spriteSize</key>
			<string>{179,199}</string>
			<key>spriteSourceSize</key>
			<string>{465,323}</string>
			<key>textureRect</key>
			<string>{{1,168},{179,199}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,4}</string>
			<key>spriteSize</key>
			<string>{179,199}</string>
			<key>spriteSourceSize</key>
			<string>{465,323}</string>
			<key>textureRect</key>
			<string>{{202,170},{179,199}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,1}</string>
			<key>spriteSize</key>
			<string>{179,193}</string>
			<key>spriteSourceSize</key>
			<string>{465,323}</string>
			<key>textureRect</key>
			<string>{{403,174},{179,193}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,0}</string>
			<key>spriteSize</key>
			<string>{183,193}</string>
			<key>spriteSourceSize</key>
			<string>{465,323}</string>
			<key>textureRect</key>
			<string>{{1,349},{183,193}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,1}</string>
			<key>spriteSize</key>
			<string>{185,195}</string>
			<key>spriteSourceSize</key>
			<string>{465,323}</string>
			<key>textureRect</key>
			<string>{{399,355},{185,195}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,1}</string>
			<key>spriteSize</key>
			<string>{185,195}</string>
			<key>spriteSourceSize</key>
			<string>{465,323}</string>
			<key>textureRect</key>
			<string>{{596,361},{185,195}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,1}</string>
			<key>spriteSize</key>
			<string>{187,195}</string>
			<key>spriteSourceSize</key>
			<string>{465,323}</string>
			<key>textureRect</key>
			<string>{{1,538},{187,195}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,1}</string>
			<key>spriteSize</key>
			<string>{187,197}</string>
			<key>spriteSourceSize</key>
			<string>{465,323}</string>
			<key>textureRect</key>
			<string>{{198,538},{187,197}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>15</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,1}</string>
			<key>spriteSize</key>
			<string>{189,197}</string>
			<key>spriteSourceSize</key>
			<string>{465,323}</string>
			<key>textureRect</key>
			<string>{{795,552},{189,197}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>16</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,-1}</string>
			<key>spriteSize</key>
			<string>{187,183}</string>
			<key>spriteSourceSize</key>
			<string>{465,323}</string>
			<key>textureRect</key>
			<string>{{803,178},{187,183}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>17</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-1}</string>
			<key>spriteSize</key>
			<string>{187,175}</string>
			<key>spriteSourceSize</key>
			<string>{465,323}</string>
			<key>textureRect</key>
			<string>{{684,1},{187,175}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>18</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,1}</string>
			<key>spriteSize</key>
			<string>{175,171}</string>
			<key>spriteSourceSize</key>
			<string>{465,323}</string>
			<key>textureRect</key>
			<string>{{507,1},{175,171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>19</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,0}</string>
			<key>spriteSize</key>
			<string>{173,167}</string>
			<key>spriteSourceSize</key>
			<string>{465,323}</string>
			<key>textureRect</key>
			<string>{{332,1},{173,167}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>20</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-231,160}</string>
			<key>spriteSize</key>
			<string>{3,3}</string>
			<key>spriteSourceSize</key>
			<string>{465,323}</string>
			<key>textureRect</key>
			<string>{{1,1},{3,3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action20.pvr.ccz</string>
		<key>size</key>
		<string>{993,742}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:0cbcc4bf88f9d13a541a6b9fd27dde40:236c8143e1ec7c4e011339e907ab5d6f:98ec4b5f3da3b367b0df440471cccb39$</string>
		<key>textureFileName</key>
		<string>col_action20.pvr.ccz</string>
	</dict>
</dict>
</plist>
