<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{28,34}</string>
			<key>spriteSize</key>
			<string>{169,83}</string>
			<key>spriteSourceSize</key>
			<string>{301,265}</string>
			<key>textureRect</key>
			<string>{{180,340},{169,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,21}</string>
			<key>spriteSize</key>
			<string>{207,97}</string>
			<key>spriteSourceSize</key>
			<string>{301,265}</string>
			<key>textureRect</key>
			<string>{{192,132},{207,97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,18}</string>
			<key>spriteSize</key>
			<string>{219,107}</string>
			<key>spriteSourceSize</key>
			<string>{301,265}</string>
			<key>textureRect</key>
			<string>{{180,231},{219,107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-9,22}</string>
			<key>spriteSize</key>
			<string>{217,123}</string>
			<key>spriteSourceSize</key>
			<string>{301,265}</string>
			<key>textureRect</key>
			<string>{{1,427},{217,123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-12,25}</string>
			<key>spriteSize</key>
			<string>{213,129}</string>
			<key>spriteSourceSize</key>
			<string>{301,265}</string>
			<key>textureRect</key>
			<string>{{192,1},{213,129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-14,4}</string>
			<key>spriteSize</key>
			<string>{209,177}</string>
			<key>spriteSourceSize</key>
			<string>{301,265}</string>
			<key>textureRect</key>
			<string>{{1,216},{209,177}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-23,-13}</string>
			<key>spriteSize</key>
			<string>{189,213}</string>
			<key>spriteSourceSize</key>
			<string>{301,265}</string>
			<key>textureRect</key>
			<string>{{1,1},{189,213}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-14,-51}</string>
			<key>spriteSize</key>
			<string>{105,137}</string>
			<key>spriteSourceSize</key>
			<string>{301,265}</string>
			<key>textureRect</key>
			<string>{{220,425},{105,137}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-14,-57}</string>
			<key>spriteSize</key>
			<string>{103,147}</string>
			<key>spriteSourceSize</key>
			<string>{301,265}</string>
			<key>textureRect</key>
			<string>{{407,1},{103,147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-13,-57}</string>
			<key>spriteSize</key>
			<string>{101,147}</string>
			<key>spriteSourceSize</key>
			<string>{301,265}</string>
			<key>textureRect</key>
			<string>{{401,150},{101,147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-16,-44}</string>
			<key>spriteSize</key>
			<string>{79,121}</string>
			<key>spriteSourceSize</key>
			<string>{301,265}</string>
			<key>textureRect</key>
			<string>{{351,340},{79,121}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-16,-56}</string>
			<key>spriteSize</key>
			<string>{77,141}</string>
			<key>spriteSourceSize</key>
			<string>{301,265}</string>
			<key>textureRect</key>
			<string>{{359,421},{77,141}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-16,-56}</string>
			<key>spriteSize</key>
			<string>{75,141}</string>
			<key>spriteSourceSize</key>
			<string>{301,265}</string>
			<key>textureRect</key>
			<string>{{359,500},{75,141}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-21,-85}</string>
			<key>spriteSize</key>
			<string>{37,63}</string>
			<key>spriteSourceSize</key>
			<string>{301,265}</string>
			<key>textureRect</key>
			<string>{{401,299},{37,63}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-22,-85}</string>
			<key>spriteSize</key>
			<string>{37,61}</string>
			<key>spriteSourceSize</key>
			<string>{301,265}</string>
			<key>textureRect</key>
			<string>{{220,532},{37,61}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action10.pvr.ccz</string>
		<key>size</key>
		<string>{511,576}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:b9fa33581f0d47d34c43a400dd5c9df2:ac02eebab3dbc8a0584271eec504df67:fd6dfe3ee94267230ed6425290acf6b5$</string>
		<key>textureFileName</key>
		<string>col_action10.pvr.ccz</string>
	</dict>
</dict>
</plist>
