<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/167/effect/adv_action1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,120}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{1,76},{200,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/167/effect/adv_action2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,120}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{1,198},{200,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/167/effect/col_action1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,69}</string>
                <key>spriteSourceSize</key>
                <string>{132,69}</string>
                <key>textureRect</key>
                <string>{{1,1},{132,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/167/effect/col_action2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{228,176}</string>
                <key>spriteSourceSize</key>
                <string>{230,182}</string>
                <key>textureRect</key>
                <string>{{1,320},{228,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/167/effect/col_action3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{111,73}</string>
                <key>spriteSourceSize</key>
                <string>{115,85}</string>
                <key>textureRect</key>
                <string>{{135,1},{111,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>effect.pvr.ccz</string>
            <key>size</key>
            <string>{247,497}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e1aa23ed145b38089a3b2d304bb6c82:83f996e5b0b7a35be4489f62530d4147:e0fdcd92bbdb8ab6858982d39ba3f2d9$</string>
            <key>textureFileName</key>
            <string>effect.pvr.ccz</string>
        </dict>
    </dict>
</plist>
