<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>adv_action1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{200,120}</string>
			<key>spriteSourceSize</key>
			<string>{200,120}</string>
			<key>textureRect</key>
			<string>{{1,180},{200,120}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adv_action3</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{200,120}</string>
			<key>spriteSourceSize</key>
			<string>{200,120}</string>
			<key>textureRect</key>
			<string>{{123,180},{200,120}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>col_action1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{243,177}</string>
			<key>spriteSourceSize</key>
			<string>{243,187}</string>
			<key>textureRect</key>
			<string>{{1,1},{243,177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>effect.pvr.ccz</string>
		<key>size</key>
		<string>{245,381}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:788c94c8b60629b861aa19ea3ec6069a:ad7cbdd905ac188286dfa7f18e11ea68:e0fdcd92bbdb8ab6858982d39ba3f2d9$</string>
		<key>textureFileName</key>
		<string>effect.pvr.ccz</string>
	</dict>
</dict>
</plist>
