<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/RenewalRaid/MonsterData/bosslist/bosslist_188</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,80}</string>
                <key>spriteSourceSize</key>
                <string>{674,80}</string>
                <key>textureRect</key>
                <string>{{1341,1},{674,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/bosslist/bosslist_189</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,80}</string>
                <key>spriteSourceSize</key>
                <string>{674,80}</string>
                <key>textureRect</key>
                <string>{{1,81},{674,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/bosslist/bosslist_200</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,80}</string>
                <key>spriteSourceSize</key>
                <string>{674,80}</string>
                <key>textureRect</key>
                <string>{{677,83},{674,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/bosslist/bosslist_232</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,80}</string>
                <key>spriteSourceSize</key>
                <string>{674,80}</string>
                <key>textureRect</key>
                <string>{{1353,83},{674,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/bosslist/bosslist_239</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,80}</string>
                <key>spriteSourceSize</key>
                <string>{674,80}</string>
                <key>textureRect</key>
                <string>{{1,163},{674,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/bosslist/bosslist_240</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,80}</string>
                <key>spriteSourceSize</key>
                <string>{674,80}</string>
                <key>textureRect</key>
                <string>{{677,165},{674,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/bosslist/bosslist_241</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,80}</string>
                <key>spriteSourceSize</key>
                <string>{674,80}</string>
                <key>textureRect</key>
                <string>{{1353,165},{674,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/bosslist/bosslist_242</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,80}</string>
                <key>spriteSourceSize</key>
                <string>{674,80}</string>
                <key>textureRect</key>
                <string>{{1,245},{674,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/bosslist/bosslist_246</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,80}</string>
                <key>spriteSourceSize</key>
                <string>{674,80}</string>
                <key>textureRect</key>
                <string>{{677,247},{674,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/bosslist/bosslist_247</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,80}</string>
                <key>spriteSourceSize</key>
                <string>{674,80}</string>
                <key>textureRect</key>
                <string>{{1353,247},{674,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/bosslist/bosslist_248</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,80}</string>
                <key>spriteSourceSize</key>
                <string>{674,80}</string>
                <key>textureRect</key>
                <string>{{1,327},{674,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/bosslist/bosslist_249</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,80}</string>
                <key>spriteSourceSize</key>
                <string>{674,80}</string>
                <key>textureRect</key>
                <string>{{677,329},{674,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/bosslist/bosslist_250</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,80}</string>
                <key>spriteSourceSize</key>
                <string>{674,80}</string>
                <key>textureRect</key>
                <string>{{1353,329},{674,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/bosslist/bosslist_251</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,80}</string>
                <key>spriteSourceSize</key>
                <string>{674,80}</string>
                <key>textureRect</key>
                <string>{{1,409},{674,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/bosslist/bosslist_252</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,80}</string>
                <key>spriteSourceSize</key>
                <string>{674,80}</string>
                <key>textureRect</key>
                <string>{{677,411},{674,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/bosslist/bosslist_253</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,80}</string>
                <key>spriteSourceSize</key>
                <string>{674,80}</string>
                <key>textureRect</key>
                <string>{{1353,411},{674,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/bosslist/bosslist_254</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{668,78}</string>
                <key>spriteSourceSize</key>
                <string>{674,80}</string>
                <key>textureRect</key>
                <string>{{1,1},{668,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/bosslist/bosslist_255</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{668,78}</string>
                <key>spriteSourceSize</key>
                <string>{674,80}</string>
                <key>textureRect</key>
                <string>{{671,1},{668,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/bosslist/bosslist_258</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,80}</string>
                <key>spriteSourceSize</key>
                <string>{674,80}</string>
                <key>textureRect</key>
                <string>{{1,491},{674,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/bosslist/bosslist_259</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,80}</string>
                <key>spriteSourceSize</key>
                <string>{674,80}</string>
                <key>textureRect</key>
                <string>{{677,493},{674,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/bosslist/bosslist_260</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,80}</string>
                <key>spriteSourceSize</key>
                <string>{674,80}</string>
                <key>textureRect</key>
                <string>{{1353,493},{674,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/bosslist/bosslist_261</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,80}</string>
                <key>spriteSourceSize</key>
                <string>{674,80}</string>
                <key>textureRect</key>
                <string>{{1,573},{674,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/bosslist/bosslist_262</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,80}</string>
                <key>spriteSourceSize</key>
                <string>{674,80}</string>
                <key>textureRect</key>
                <string>{{677,575},{674,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/bosslist/bosslist_263</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,80}</string>
                <key>spriteSourceSize</key>
                <string>{674,80}</string>
                <key>textureRect</key>
                <string>{{1353,575},{674,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>bosslist.pvr.ccz</string>
            <key>size</key>
            <string>{2028,656}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f2f39bde0eafd3cc5c9f8b337c700ee:f1f19a9cc44114b9b4d6973ebe9ddc30:756db6a579f8e7656fbfc9778cc6e5e8$</string>
            <key>textureFileName</key>
            <string>bosslist.pvr.ccz</string>
        </dict>
    </dict>
</plist>
