<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/RenewalRaid/MonsterData/end/end_188</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{292,214}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{589,931},{292,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/end/end_189</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{292,226}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{295,931},{292,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/end/end_200</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{292,272}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{1471,887},{292,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/end/end_232</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{292,232}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{1177,923},{292,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/end/end_239</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{292,306}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{1471,1},{292,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/end/end_240</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,308}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{1,1},{292,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/end/end_241</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,308}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{1,1},{292,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/end/end_242</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{292,228}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{1,931},{292,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/end/end_246</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{292,306}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{1471,295},{292,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/end/end_247</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{292,300}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{1177,621},{292,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/end/end_248</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,308}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{1,311},{292,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/end/end_249</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,308}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{295,1},{292,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/end/end_250</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,308}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{1,621},{292,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/end/end_251</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,308}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{295,311},{292,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/end/end_252</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{292,296}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{1471,589},{292,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/end/end_253</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,308}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{589,1},{292,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/end/end_254</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,308}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{295,621},{292,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/end/end_255</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,308}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{589,311},{292,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/end/end_258</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,308}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{883,1},{292,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/end/end_259</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,308}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{589,621},{292,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/end/end_260</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,308}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{883,311},{292,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/end/end_261</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,308}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{1177,1},{292,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/end/end_262</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,308}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{1177,311},{292,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/end/end_263</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,308}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{883,621},{292,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>end.pvr.ccz</string>
            <key>size</key>
            <string>{1778,1160}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23f5482a1ea114f0cc361cdcff7b98f1:8929841039c0180ff0eac4d84e586040:5d098d410ed81327e3ecac3b9f8b900a$</string>
            <key>textureFileName</key>
            <string>end.pvr.ccz</string>
        </dict>
    </dict>
</plist>
