<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/RenewalRaid/MonsterData/frame/frame_188bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,310}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{1,1},{294,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/frame/frame_189bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,310}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{1,313},{294,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/frame/frame_200bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,310}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{297,1},{294,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/frame/frame_232bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,310}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{297,313},{294,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/frame/frame_239bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,310}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{1,625},{294,310}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/frame/frame_240bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,310}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{593,1},{294,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/frame/frame_241bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,310}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{593,1},{294,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/frame/frame_242bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,310}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{297,313},{294,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/frame/frame_246bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,310}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{889,1},{294,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/frame/frame_247bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,310}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{593,313},{294,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/frame/frame_248bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,310}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{889,313},{294,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/frame/frame_249bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,310}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{889,313},{294,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/frame/frame_250bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,310}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{297,313},{294,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/frame/frame_251bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,310}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{313,625},{294,310}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/frame/frame_252bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,310}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{297,313},{294,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/frame/frame_253bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,310}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{313,625},{294,310}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/frame/frame_254bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,310}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{297,313},{294,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/frame/frame_255bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,310}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{297,313},{294,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/frame/frame_258bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,310}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{313,625},{294,310}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/frame/frame_259bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,310}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{313,625},{294,310}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/frame/frame_260bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,310}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{1,1},{294,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/frame/frame_261bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,310}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{1,1},{294,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/frame/frame_262bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,310}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{625,625},{294,310}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/frame/frame_263bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,310}</string>
                <key>spriteSourceSize</key>
                <string>{294,310}</string>
                <key>textureRect</key>
                <string>{{625,625},{294,310}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>frame.pvr.ccz</string>
            <key>size</key>
            <string>{1184,920}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3059694207a0940f363209f9537ed86:4ffebec37accff3b97a3c3ff8c8fcdb1:f7e3c0178d45797be29be97b0f28a86f$</string>
            <key>textureFileName</key>
            <string>frame.pvr.ccz</string>
        </dict>
    </dict>
</plist>
