<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_188</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,20}</string>
                <key>spriteSourceSize</key>
                <string>{55,26}</string>
                <key>textureRect</key>
                <string>{{830,102},{55,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_188_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,26}</string>
                <key>spriteSourceSize</key>
                <string>{76,26}</string>
                <key>textureRect</key>
                <string>{{152,80},{76,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_189</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{89,24}</string>
                <key>spriteSourceSize</key>
                <string>{89,26}</string>
                <key>textureRect</key>
                <string>{{365,55},{89,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_189_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,26}</string>
                <key>spriteSourceSize</key>
                <string>{131,26}</string>
                <key>textureRect</key>
                <string>{{237,25},{131,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_200</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,26}</string>
                <key>spriteSourceSize</key>
                <string>{56,26}</string>
                <key>textureRect</key>
                <string>{{496,27},{56,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_200_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{61,22}</string>
                <key>spriteSourceSize</key>
                <string>{61,26}</string>
                <key>textureRect</key>
                <string>{{500,107},{61,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_232</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{96,24}</string>
                <key>spriteSourceSize</key>
                <string>{118,24}</string>
                <key>textureRect</key>
                <string>{{219,53},{96,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_232_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,24}</string>
                <key>spriteSourceSize</key>
                <string>{118,24}</string>
                <key>textureRect</key>
                <string>{{554,51},{118,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_239</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,24}</string>
                <key>spriteSourceSize</key>
                <string>{72,26}</string>
                <key>textureRect</key>
                <string>{{418,81},{72,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_239_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,26}</string>
                <key>spriteSourceSize</key>
                <string>{57,26}</string>
                <key>textureRect</key>
                <string>{{492,79},{57,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_240</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,24}</string>
                <key>spriteSourceSize</key>
                <string>{70,26}</string>
                <key>textureRect</key>
                <string>{{681,105},{70,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_240_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,22}</string>
                <key>spriteSourceSize</key>
                <string>{89,26}</string>
                <key>textureRect</key>
                <string>{{277,107},{89,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_241</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{129,24}</string>
                <key>spriteSourceSize</key>
                <string>{129,26}</string>
                <key>textureRect</key>
                <string>{{686,27},{129,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_241_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{165,22}</string>
                <key>spriteSourceSize</key>
                <string>{165,26}</string>
                <key>textureRect</key>
                <string>{{237,1},{165,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_242</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,21}</string>
                <key>spriteSourceSize</key>
                <string>{59,21}</string>
                <key>textureRect</key>
                <string>{{891,81},{57,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_242_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,21}</string>
                <key>spriteSourceSize</key>
                <string>{59,21}</string>
                <key>textureRect</key>
                <string>{{830,79},{59,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_246</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{75,24}</string>
                <key>spriteSourceSize</key>
                <string>{79,24}</string>
                <key>textureRect</key>
                <string>{{551,77},{75,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_246_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,24}</string>
                <key>spriteSourceSize</key>
                <string>{79,24}</string>
                <key>textureRect</key>
                <string>{{337,81},{79,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_247</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{46,24}</string>
                <key>spriteSourceSize</key>
                <string>{66,24}</string>
                <key>textureRect</key>
                <string>{{317,53},{46,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_247_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{66,22}</string>
                <key>spriteSourceSize</key>
                <string>{66,24}</string>
                <key>textureRect</key>
                <string>{{368,107},{66,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_248</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,24}</string>
                <key>spriteSourceSize</key>
                <string>{74,26}</string>
                <key>textureRect</key>
                <string>{{628,79},{74,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_248_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,26}</string>
                <key>spriteSourceSize</key>
                <string>{74,26}</string>
                <key>textureRect</key>
                <string>{{902,53},{74,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_249</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{133,24}</string>
                <key>spriteSourceSize</key>
                <string>{149,26}</string>
                <key>textureRect</key>
                <string>{{829,1},{133,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_249_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,26}</string>
                <key>spriteSourceSize</key>
                <string>{149,26}</string>
                <key>textureRect</key>
                <string>{{1,80},{149,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_250</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,21}</string>
                <key>spriteSourceSize</key>
                <string>{72,21}</string>
                <key>textureRect</key>
                <string>{{129,108},{72,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_250_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,21}</string>
                <key>spriteSourceSize</key>
                <string>{72,21}</string>
                <key>textureRect</key>
                <string>{{203,108},{72,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_251</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,24}</string>
                <key>spriteSourceSize</key>
                <string>{54,24}</string>
                <key>textureRect</key>
                <string>{{774,79},{54,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_251_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{62,22}</string>
                <key>spriteSourceSize</key>
                <string>{62,24}</string>
                <key>textureRect</key>
                <string>{{436,107},{62,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_252</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,22}</string>
                <key>spriteSourceSize</key>
                <string>{89,22}</string>
                <key>textureRect</key>
                <string>{{456,55},{89,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_252_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,24}</string>
                <key>spriteSourceSize</key>
                <string>{111,24}</string>
                <key>textureRect</key>
                <string>{{789,53},{111,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_253</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,24}</string>
                <key>spriteSourceSize</key>
                <string>{113,26}</string>
                <key>textureRect</key>
                <string>{{674,53},{113,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_253_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{137,22}</string>
                <key>spriteSourceSize</key>
                <string>{137,26}</string>
                <key>textureRect</key>
                <string>{{554,1},{137,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_254</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,24}</string>
                <key>spriteSourceSize</key>
                <string>{74,26}</string>
                <key>textureRect</key>
                <string>{{607,105},{72,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_254_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,21}</string>
                <key>spriteSourceSize</key>
                <string>{128,23}</string>
                <key>textureRect</key>
                <string>{{1,108},{126,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_255</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,24}</string>
                <key>spriteSourceSize</key>
                <string>{132,26}</string>
                <key>textureRect</key>
                <string>{{554,25},{130,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_255_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,21}</string>
                <key>spriteSourceSize</key>
                <string>{203,23}</string>
                <key>textureRect</key>
                <string>{{1,29},{201,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_258</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,24}</string>
                <key>spriteSourceSize</key>
                <string>{66,26}</string>
                <key>textureRect</key>
                <string>{{753,105},{62,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_258_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{68,24}</string>
                <key>spriteSourceSize</key>
                <string>{70,26}</string>
                <key>textureRect</key>
                <string>{{704,79},{68,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_259</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,24}</string>
                <key>spriteSourceSize</key>
                <string>{128,26}</string>
                <key>textureRect</key>
                <string>{{817,27},{124,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_259_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{148,24}</string>
                <key>spriteSourceSize</key>
                <string>{152,26}</string>
                <key>textureRect</key>
                <string>{{404,1},{148,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_260</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,26}</string>
                <key>spriteSourceSize</key>
                <string>{70,26}</string>
                <key>textureRect</key>
                <string>{{157,52},{60,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_260_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{154,26}</string>
                <key>spriteSourceSize</key>
                <string>{156,26}</string>
                <key>textureRect</key>
                <string>{{1,52},{154,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_261</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{124,26}</string>
                <key>spriteSourceSize</key>
                <string>{126,26}</string>
                <key>textureRect</key>
                <string>{{370,27},{124,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_261_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,26}</string>
                <key>spriteSourceSize</key>
                <string>{236,26}</string>
                <key>textureRect</key>
                <string>{{1,1},{234,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_262</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,26}</string>
                <key>spriteSourceSize</key>
                <string>{42,26}</string>
                <key>textureRect</key>
                <string>{{563,103},{42,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_262_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{50,22}</string>
                <key>spriteSourceSize</key>
                <string>{50,26}</string>
                <key>textureRect</key>
                <string>{{887,104},{50,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_263</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,26}</string>
                <key>spriteSourceSize</key>
                <string>{105,26}</string>
                <key>textureRect</key>
                <string>{{230,79},{105,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/RenewalRaid/MonsterData/txt/txt_263_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{134,24}</string>
                <key>spriteSourceSize</key>
                <string>{134,26}</string>
                <key>textureRect</key>
                <string>{{693,1},{134,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>txt.pvr.ccz</string>
            <key>size</key>
            <string>{977,130}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdee4fb255a0d319b147dcaf7d3a1e27:ab554f856ad3da3f13d50711c3e225ea:5137802961a01fdac837bb7908b61603$</string>
            <key>textureFileName</key>
            <string>txt.pvr.ccz</string>
        </dict>
    </dict>
</plist>
