<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-309.5,344.5}</string>
			<key>spriteSize</key>
			<string>{3,3}</string>
			<key>spriteSourceSize</key>
			<string>{622,692}</string>
			<key>textureRect</key>
			<string>{{1,987},{3,3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,-7}</string>
			<key>spriteSize</key>
			<string>{68,74}</string>
			<key>spriteSourceSize</key>
			<string>{622,692}</string>
			<key>textureRect</key>
			<string>{{1013,629},{68,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-5}</string>
			<key>spriteSize</key>
			<string>{102,112}</string>
			<key>spriteSourceSize</key>
			<string>{622,692}</string>
			<key>textureRect</key>
			<string>{{747,867},{102,112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,-2}</string>
			<key>spriteSize</key>
			<string>{136,156}</string>
			<key>spriteSourceSize</key>
			<string>{622,692}</string>
			<key>textureRect</key>
			<string>{{589,867},{136,156}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,2}</string>
			<key>spriteSize</key>
			<string>{164,198}</string>
			<key>spriteSourceSize</key>
			<string>{622,692}</string>
			<key>textureRect</key>
			<string>{{851,853},{164,198}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{10,6}</string>
			<key>spriteSize</key>
			<string>{178,224}</string>
			<key>spriteSourceSize</key>
			<string>{622,692}</string>
			<key>textureRect</key>
			<string>{{851,449},{178,224}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,9}</string>
			<key>spriteSize</key>
			<string>{176,222}</string>
			<key>spriteSourceSize</key>
			<string>{622,692}</string>
			<key>textureRect</key>
			<string>{{835,629},{176,222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,4}</string>
			<key>spriteSize</key>
			<string>{202,218}</string>
			<key>spriteSourceSize</key>
			<string>{622,692}</string>
			<key>textureRect</key>
			<string>{{851,245},{202,218}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,-9}</string>
			<key>spriteSize</key>
			<string>{242,228}</string>
			<key>spriteSourceSize</key>
			<string>{622,692}</string>
			<key>textureRect</key>
			<string>{{847,1},{242,228}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-18}</string>
			<key>spriteSize</key>
			<string>{278,242}</string>
			<key>spriteSourceSize</key>
			<string>{622,692}</string>
			<key>textureRect</key>
			<string>{{603,1},{278,242}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-20}</string>
			<key>spriteSize</key>
			<string>{308,266}</string>
			<key>spriteSourceSize</key>
			<string>{622,692}</string>
			<key>textureRect</key>
			<string>{{583,311},{308,266}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-23}</string>
			<key>spriteSize</key>
			<string>{328,284}</string>
			<key>spriteSourceSize</key>
			<string>{622,692}</string>
			<key>textureRect</key>
			<string>{{297,333},{328,284}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,-19}</string>
			<key>spriteSize</key>
			<string>{330,300}</string>
			<key>spriteSourceSize</key>
			<string>{622,692}</string>
			<key>textureRect</key>
			<string>{{1,1},{330,300}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-22}</string>
			<key>spriteSize</key>
			<string>{332,294}</string>
			<key>spriteSourceSize</key>
			<string>{622,692}</string>
			<key>textureRect</key>
			<string>{{1,333},{332,294}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-11}</string>
			<key>spriteSize</key>
			<string>{302,290}</string>
			<key>spriteSourceSize</key>
			<string>{622,692}</string>
			<key>textureRect</key>
			<string>{{297,663},{302,290}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>15</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,-10}</string>
			<key>spriteSize</key>
			<string>{298,308}</string>
			<key>spriteSourceSize</key>
			<string>{622,692}</string>
			<key>textureRect</key>
			<string>{{303,1},{298,308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>16</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,-5}</string>
			<key>spriteSize</key>
			<string>{294,318}</string>
			<key>spriteSourceSize</key>
			<string>{622,692}</string>
			<key>textureRect</key>
			<string>{{1,667},{294,318}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>17</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-10}</string>
			<key>spriteSize</key>
			<string>{244,244}</string>
			<key>spriteSourceSize</key>
			<string>{622,692}</string>
			<key>textureRect</key>
			<string>{{589,621},{244,244}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>18</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-309.5,344.5}</string>
			<key>spriteSize</key>
			<string>{3,3}</string>
			<key>spriteSourceSize</key>
			<string>{622,692}</string>
			<key>textureRect</key>
			<string>{{1,987},{3,3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>19</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-309.5,344.5}</string>
			<key>spriteSize</key>
			<string>{3,3}</string>
			<key>spriteSourceSize</key>
			<string>{622,692}</string>
			<key>textureRect</key>
			<string>{{1,987},{3,3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>20</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-309.5,344.5}</string>
			<key>spriteSize</key>
			<string>{3,3}</string>
			<key>spriteSourceSize</key>
			<string>{622,692}</string>
			<key>textureRect</key>
			<string>{{1,987},{3,3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action20.pvr.ccz</string>
		<key>size</key>
		<string>{1082,1018}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c0cb11bb9e2edba14bf21ddc3c3a4159:cb81d89a403e18c9a6e4e33b6b2f181e:98ec4b5f3da3b367b0df440471cccb39$</string>
		<key>textureFileName</key>
		<string>col_action20.pvr.ccz</string>
	</dict>
</dict>
</plist>
