<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{237,109}}</string>
			<key>offset</key>
			<string>{1,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,31},{237,109}}</string>
			<key>sourceSize</key>
			<string>{277,141}</string>
		</dict>
		<key>01</key>
		<dict>
			<key>frame</key>
			<string>{{2,890},{277,109}}</string>
			<key>offset</key>
			<string>{0,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,31},{277,109}}</string>
			<key>sourceSize</key>
			<string>{277,141}</string>
		</dict>
		<key>02</key>
		<dict>
			<key>frame</key>
			<string>{{560,779},{277,109}}</string>
			<key>offset</key>
			<string>{0,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,31},{277,109}}</string>
			<key>sourceSize</key>
			<string>{277,141}</string>
		</dict>
		<key>03</key>
		<dict>
			<key>frame</key>
			<string>{{281,779},{277,109}}</string>
			<key>offset</key>
			<string>{0,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,31},{277,109}}</string>
			<key>sourceSize</key>
			<string>{277,141}</string>
		</dict>
		<key>04</key>
		<dict>
			<key>frame</key>
			<string>{{2,779},{277,109}}</string>
			<key>offset</key>
			<string>{0,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,31},{277,109}}</string>
			<key>sourceSize</key>
			<string>{277,141}</string>
		</dict>
		<key>05</key>
		<dict>
			<key>frame</key>
			<string>{{560,668},{277,109}}</string>
			<key>offset</key>
			<string>{0,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,31},{277,109}}</string>
			<key>sourceSize</key>
			<string>{277,141}</string>
		</dict>
		<key>06</key>
		<dict>
			<key>frame</key>
			<string>{{281,668},{277,109}}</string>
			<key>offset</key>
			<string>{0,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,31},{277,109}}</string>
			<key>sourceSize</key>
			<string>{277,141}</string>
		</dict>
		<key>07</key>
		<dict>
			<key>frame</key>
			<string>{{2,668},{277,109}}</string>
			<key>offset</key>
			<string>{0,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,31},{277,109}}</string>
			<key>sourceSize</key>
			<string>{277,141}</string>
		</dict>
		<key>08</key>
		<dict>
			<key>frame</key>
			<string>{{560,557},{277,109}}</string>
			<key>offset</key>
			<string>{0,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,31},{277,109}}</string>
			<key>sourceSize</key>
			<string>{277,141}</string>
		</dict>
		<key>09</key>
		<dict>
			<key>frame</key>
			<string>{{281,557},{277,109}}</string>
			<key>offset</key>
			<string>{0,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,31},{277,109}}</string>
			<key>sourceSize</key>
			<string>{277,141}</string>
		</dict>
		<key>10</key>
		<dict>
			<key>frame</key>
			<string>{{2,557},{277,109}}</string>
			<key>offset</key>
			<string>{0,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,31},{277,109}}</string>
			<key>sourceSize</key>
			<string>{277,141}</string>
		</dict>
		<key>11</key>
		<dict>
			<key>frame</key>
			<string>{{560,446},{277,109}}</string>
			<key>offset</key>
			<string>{0,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,31},{277,109}}</string>
			<key>sourceSize</key>
			<string>{277,141}</string>
		</dict>
		<key>12</key>
		<dict>
			<key>frame</key>
			<string>{{281,446},{277,109}}</string>
			<key>offset</key>
			<string>{0,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,31},{277,109}}</string>
			<key>sourceSize</key>
			<string>{277,141}</string>
		</dict>
		<key>13</key>
		<dict>
			<key>frame</key>
			<string>{{2,446},{277,109}}</string>
			<key>offset</key>
			<string>{0,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,31},{277,109}}</string>
			<key>sourceSize</key>
			<string>{277,141}</string>
		</dict>
		<key>14</key>
		<dict>
			<key>frame</key>
			<string>{{560,335},{277,109}}</string>
			<key>offset</key>
			<string>{0,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,31},{277,109}}</string>
			<key>sourceSize</key>
			<string>{277,141}</string>
		</dict>
		<key>15</key>
		<dict>
			<key>frame</key>
			<string>{{281,335},{277,109}}</string>
			<key>offset</key>
			<string>{0,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,31},{277,109}}</string>
			<key>sourceSize</key>
			<string>{277,141}</string>
		</dict>
		<key>16</key>
		<dict>
			<key>frame</key>
			<string>{{2,335},{277,109}}</string>
			<key>offset</key>
			<string>{0,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,31},{277,109}}</string>
			<key>sourceSize</key>
			<string>{277,141}</string>
		</dict>
		<key>17</key>
		<dict>
			<key>frame</key>
			<string>{{560,224},{277,109}}</string>
			<key>offset</key>
			<string>{0,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,31},{277,109}}</string>
			<key>sourceSize</key>
			<string>{277,141}</string>
		</dict>
		<key>18</key>
		<dict>
			<key>frame</key>
			<string>{{281,224},{277,109}}</string>
			<key>offset</key>
			<string>{0,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,31},{277,109}}</string>
			<key>sourceSize</key>
			<string>{277,141}</string>
		</dict>
		<key>19</key>
		<dict>
			<key>frame</key>
			<string>{{2,224},{277,109}}</string>
			<key>offset</key>
			<string>{0,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,31},{277,109}}</string>
			<key>sourceSize</key>
			<string>{277,141}</string>
		</dict>
		<key>20</key>
		<dict>
			<key>frame</key>
			<string>{{560,113},{277,109}}</string>
			<key>offset</key>
			<string>{0,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,31},{277,109}}</string>
			<key>sourceSize</key>
			<string>{277,141}</string>
		</dict>
		<key>21</key>
		<dict>
			<key>frame</key>
			<string>{{281,113},{277,109}}</string>
			<key>offset</key>
			<string>{0,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,31},{277,109}}</string>
			<key>sourceSize</key>
			<string>{277,141}</string>
		</dict>
		<key>22</key>
		<dict>
			<key>frame</key>
			<string>{{2,113},{277,109}}</string>
			<key>offset</key>
			<string>{0,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,31},{277,109}}</string>
			<key>sourceSize</key>
			<string>{277,141}</string>
		</dict>
		<key>23</key>
		<dict>
			<key>frame</key>
			<string>{{520,2},{277,109}}</string>
			<key>offset</key>
			<string>{0,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,31},{277,109}}</string>
			<key>sourceSize</key>
			<string>{277,141}</string>
		</dict>
		<key>24</key>
		<dict>
			<key>frame</key>
			<string>{{241,2},{277,109}}</string>
			<key>offset</key>
			<string>{0,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,31},{277,109}}</string>
			<key>sourceSize</key>
			<string>{277,141}</string>
		</dict>
		<key>25</key>
		<dict>
			<key>frame</key>
			<string>{{281,890},{275,109}}</string>
			<key>offset</key>
			<string>{1,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,31},{275,109}}</string>
			<key>sourceSize</key>
			<string>{277,141}</string>
		</dict>
		<key>26</key>
		<dict>
			<key>frame</key>
			<string>{{558,890},{271,109}}</string>
			<key>offset</key>
			<string>{1,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,31},{271,109}}</string>
			<key>sourceSize</key>
			<string>{277,141}</string>
		</dict>
		<key>27</key>
		<dict>
			<key>frame</key>
			<string>{{839,520},{269,109}}</string>
			<key>offset</key>
			<string>{1,-15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,31},{269,109}}</string>
			<key>sourceSize</key>
			<string>{277,141}</string>
		</dict>
		<key>28</key>
		<dict>
			<key>frame</key>
			<string>{{839,255},{263,109}}</string>
			<key>offset</key>
			<string>{1,-15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,31},{263,109}}</string>
			<key>sourceSize</key>
			<string>{277,141}</string>
		</dict>
		<key>29</key>
		<dict>
			<key>frame</key>
			<string>{{839,2},{251,109}}</string>
			<key>offset</key>
			<string>{1,-15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,31},{251,109}}</string>
			<key>sourceSize</key>
			<string>{277,141}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>front.pvr.ccz</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:76e49c649ea66f1e2c85320947b2709f:e905e0f88c19aff629b372699d35df3e:0e4b35eee275cb82d555f86fb01ac2ee$</string>
		<key>textureFileName</key>
		<string>front.pvr.ccz</string>
	</dict>
</dict>
</plist>
