<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-9,-28}</string>
			<key>spriteSize</key>
			<string>{86,88}</string>
			<key>spriteSourceSize</key>
			<string>{222,214}</string>
			<key>textureRect</key>
			<string>{{117,1207},{86,88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-9,-29}</string>
			<key>spriteSize</key>
			<string>{128,130}</string>
			<key>spriteSourceSize</key>
			<string>{222,214}</string>
			<key>textureRect</key>
			<string>{{377,1153},{128,130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-9,-28}</string>
			<key>spriteSize</key>
			<string>{156,158}</string>
			<key>spriteSourceSize</key>
			<string>{222,214}</string>
			<key>textureRect</key>
			<string>{{849,1},{156,158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-9,-25}</string>
			<key>spriteSize</key>
			<string>{170,164}</string>
			<key>spriteSourceSize</key>
			<string>{222,214}</string>
			<key>textureRect</key>
			<string>{{205,1127},{170,164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-9,-20}</string>
			<key>spriteSize</key>
			<string>{188,174}</string>
			<key>spriteSourceSize</key>
			<string>{222,214}</string>
			<key>textureRect</key>
			<string>{{555,1133},{188,174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-9,-19}</string>
			<key>spriteSize</key>
			<string>{194,176}</string>
			<key>spriteSourceSize</key>
			<string>{222,214}</string>
			<key>textureRect</key>
			<string>{{555,955},{194,176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-9,-18}</string>
			<key>spriteSize</key>
			<string>{196,178}</string>
			<key>spriteSourceSize</key>
			<string>{222,214}</string>
			<key>textureRect</key>
			<string>{{795,685},{196,178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-9,-19}</string>
			<key>spriteSize</key>
			<string>{196,176}</string>
			<key>spriteSourceSize</key>
			<string>{222,214}</string>
			<key>textureRect</key>
			<string>{{377,777},{196,176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-9,-19}</string>
			<key>spriteSize</key>
			<string>{196,176}</string>
			<key>spriteSourceSize</key>
			<string>{222,214}</string>
			<key>textureRect</key>
			<string>{{179,949},{196,176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-9,-19}</string>
			<key>spriteSize</key>
			<string>{196,176}</string>
			<key>spriteSourceSize</key>
			<string>{222,214}</string>
			<key>textureRect</key>
			<string>{{1,1009},{196,176}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-9,-19}</string>
			<key>spriteSize</key>
			<string>{196,176}</string>
			<key>spriteSourceSize</key>
			<string>{222,214}</string>
			<key>textureRect</key>
			<string>{{575,777},{196,176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-9,-19}</string>
			<key>spriteSize</key>
			<string>{196,176}</string>
			<key>spriteSourceSize</key>
			<string>{222,214}</string>
			<key>textureRect</key>
			<string>{{773,865},{196,176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-9,-19}</string>
			<key>spriteSize</key>
			<string>{196,176}</string>
			<key>spriteSourceSize</key>
			<string>{222,214}</string>
			<key>textureRect</key>
			<string>{{377,955},{196,176}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-19}</string>
			<key>spriteSize</key>
			<string>{218,176}</string>
			<key>spriteSourceSize</key>
			<string>{222,214}</string>
			<key>textureRect</key>
			<string>{{221,201},{218,176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-19}</string>
			<key>spriteSize</key>
			<string>{210,176}</string>
			<key>spriteSourceSize</key>
			<string>{222,214}</string>
			<key>textureRect</key>
			<string>{{1,593},{210,176}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>15</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,-19}</string>
			<key>spriteSize</key>
			<string>{202,176}</string>
			<key>spriteSourceSize</key>
			<string>{222,214}</string>
			<key>textureRect</key>
			<string>{{1,805},{202,176}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>16</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-8,-1}</string>
			<key>spriteSize</key>
			<string>{198,212}</string>
			<key>spriteSourceSize</key>
			<string>{222,214}</string>
			<key>textureRect</key>
			<string>{{221,1},{198,212}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>17</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-9,-5}</string>
			<key>spriteSize</key>
			<string>{196,204}</string>
			<key>spriteSourceSize</key>
			<string>{222,214}</string>
			<key>textureRect</key>
			<string>{{643,1},{196,204}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>18</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-9,-8}</string>
			<key>spriteSize</key>
			<string>{196,198}</string>
			<key>spriteSourceSize</key>
			<string>{222,214}</string>
			<key>textureRect</key>
			<string>{{643,199},{196,198}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>19</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-9,-10}</string>
			<key>spriteSize</key>
			<string>{196,194}</string>
			<key>spriteSourceSize</key>
			<string>{222,214}</string>
			<key>textureRect</key>
			<string>{{441,201},{196,194}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>20</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{218,208}</string>
			<key>spriteSourceSize</key>
			<string>{222,214}</string>
			<key>textureRect</key>
			<string>{{1,1},{218,208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>21</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,-8}</string>
			<key>spriteSize</key>
			<string>{206,198}</string>
			<key>spriteSourceSize</key>
			<string>{222,214}</string>
			<key>textureRect</key>
			<string>{{435,1},{206,198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>22</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-8,-12}</string>
			<key>spriteSize</key>
			<string>{200,190}</string>
			<key>spriteSourceSize</key>
			<string>{222,214}</string>
			<key>textureRect</key>
			<string>{{1,211},{200,190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>23</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-9,-13}</string>
			<key>spriteSize</key>
			<string>{196,188}</string>
			<key>spriteSourceSize</key>
			<string>{222,214}</string>
			<key>textureRect</key>
			<string>{{603,397},{196,188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>24</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-8,-13}</string>
			<key>spriteSize</key>
			<string>{196,188}</string>
			<key>spriteSourceSize</key>
			<string>{222,214}</string>
			<key>textureRect</key>
			<string>{{801,495},{196,188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>25</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-8,-13}</string>
			<key>spriteSize</key>
			<string>{196,188}</string>
			<key>spriteSourceSize</key>
			<string>{222,214}</string>
			<key>textureRect</key>
			<string>{{401,587},{196,188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>26</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-8,-13}</string>
			<key>spriteSize</key>
			<string>{196,188}</string>
			<key>spriteSourceSize</key>
			<string>{222,214}</string>
			<key>textureRect</key>
			<string>{{179,759},{196,188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>27</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-8,-13}</string>
			<key>spriteSize</key>
			<string>{198,188}</string>
			<key>spriteSourceSize</key>
			<string>{222,214}</string>
			<key>textureRect</key>
			<string>{{203,379},{198,188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>28</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-8,-13}</string>
			<key>spriteSize</key>
			<string>{198,188}</string>
			<key>spriteSourceSize</key>
			<string>{222,214}</string>
			<key>textureRect</key>
			<string>{{1,403},{198,188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>29</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-8,-13}</string>
			<key>spriteSize</key>
			<string>{198,188}</string>
			<key>spriteSourceSize</key>
			<string>{222,214}</string>
			<key>textureRect</key>
			<string>{{403,397},{198,188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>30</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-7,-13}</string>
			<key>spriteSize</key>
			<string>{198,188}</string>
			<key>spriteSourceSize</key>
			<string>{222,214}</string>
			<key>textureRect</key>
			<string>{{201,569},{198,188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>31</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-7,-13}</string>
			<key>spriteSize</key>
			<string>{194,188}</string>
			<key>spriteSourceSize</key>
			<string>{222,214}</string>
			<key>textureRect</key>
			<string>{{599,587},{194,188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>32</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,-13}</string>
			<key>spriteSize</key>
			<string>{180,188}</string>
			<key>spriteSourceSize</key>
			<string>{222,214}</string>
			<key>textureRect</key>
			<string>{{751,1043},{180,188}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>33</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,-10}</string>
			<key>spriteSize</key>
			<string>{162,172}</string>
			<key>spriteSourceSize</key>
			<string>{222,214}</string>
			<key>textureRect</key>
			<string>{{843,321},{162,172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>34</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,-6}</string>
			<key>spriteSize</key>
			<string>{158,156}</string>
			<key>spriteSourceSize</key>
			<string>{222,214}</string>
			<key>textureRect</key>
			<string>{{849,161},{158,156}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>35</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,-24}</string>
			<key>spriteSize</key>
			<string>{114,86}</string>
			<key>spriteSourceSize</key>
			<string>{222,214}</string>
			<key>textureRect</key>
			<string>{{1,1207},{114,86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action30.pvr.ccz</string>
		<key>size</key>
		<string>{1006,1308}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e78431c82d216c13020125b645721bd6:9d65a452438f602d31eb224708423df6:e44ba353004d0fd8b165f5c6960cb7e8$</string>
		<key>textureFileName</key>
		<string>col_action30.pvr.ccz</string>
	</dict>
</dict>
</plist>
