<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/book/renewal/element/bt_dark</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,40}</string>
                <key>spriteSourceSize</key>
                <string>{115,42}</string>
                <key>textureRect</key>
                <string>{{1,1},{115,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/book/renewal/element/bt_dark_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,40}</string>
                <key>spriteSourceSize</key>
                <string>{115,42}</string>
                <key>textureRect</key>
                <string>{{1,43},{115,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/book/renewal/element/bt_dawn</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,40}</string>
                <key>spriteSourceSize</key>
                <string>{115,42}</string>
                <key>textureRect</key>
                <string>{{1,85},{115,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/book/renewal/element/bt_dawn_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,40}</string>
                <key>spriteSourceSize</key>
                <string>{115,42}</string>
                <key>textureRect</key>
                <string>{{1,127},{115,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/book/renewal/element/bt_dusk</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,40}</string>
                <key>spriteSourceSize</key>
                <string>{115,42}</string>
                <key>textureRect</key>
                <string>{{1,169},{115,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/book/renewal/element/bt_dusk_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,40}</string>
                <key>spriteSourceSize</key>
                <string>{115,42}</string>
                <key>textureRect</key>
                <string>{{1,211},{115,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/book/renewal/element/bt_earth</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,40}</string>
                <key>spriteSourceSize</key>
                <string>{115,42}</string>
                <key>textureRect</key>
                <string>{{1,253},{115,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/book/renewal/element/bt_earth_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,40}</string>
                <key>spriteSourceSize</key>
                <string>{115,42}</string>
                <key>textureRect</key>
                <string>{{1,295},{115,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/book/renewal/element/bt_element</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,40}</string>
                <key>spriteSourceSize</key>
                <string>{115,42}</string>
                <key>textureRect</key>
                <string>{{1,337},{115,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/book/renewal/element/bt_element_all</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,40}</string>
                <key>spriteSourceSize</key>
                <string>{115,42}</string>
                <key>textureRect</key>
                <string>{{1,379},{115,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/book/renewal/element/bt_element_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,40}</string>
                <key>spriteSourceSize</key>
                <string>{115,42}</string>
                <key>textureRect</key>
                <string>{{1,421},{115,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/book/renewal/element/bt_fire</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,40}</string>
                <key>spriteSourceSize</key>
                <string>{115,42}</string>
                <key>textureRect</key>
                <string>{{1,463},{115,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/book/renewal/element/bt_fire_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,40}</string>
                <key>spriteSourceSize</key>
                <string>{115,42}</string>
                <key>textureRect</key>
                <string>{{1,505},{115,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/book/renewal/element/bt_light</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,40}</string>
                <key>spriteSourceSize</key>
                <string>{115,42}</string>
                <key>textureRect</key>
                <string>{{1,547},{115,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/book/renewal/element/bt_light_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,40}</string>
                <key>spriteSourceSize</key>
                <string>{115,42}</string>
                <key>textureRect</key>
                <string>{{1,589},{115,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/book/renewal/element/bt_nightmare</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,40}</string>
                <key>spriteSourceSize</key>
                <string>{115,42}</string>
                <key>textureRect</key>
                <string>{{1,631},{115,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/book/renewal/element/bt_nightmare_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,40}</string>
                <key>spriteSourceSize</key>
                <string>{115,42}</string>
                <key>textureRect</key>
                <string>{{1,673},{115,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/book/renewal/element/bt_special</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,40}</string>
                <key>spriteSourceSize</key>
                <string>{115,42}</string>
                <key>textureRect</key>
                <string>{{1,715},{115,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/book/renewal/element/bt_special_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,40}</string>
                <key>spriteSourceSize</key>
                <string>{115,42}</string>
                <key>textureRect</key>
                <string>{{1,757},{115,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/book/renewal/element/bt_water</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,40}</string>
                <key>spriteSourceSize</key>
                <string>{115,42}</string>
                <key>textureRect</key>
                <string>{{1,799},{115,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/book/renewal/element/bt_water_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,40}</string>
                <key>spriteSourceSize</key>
                <string>{115,42}</string>
                <key>textureRect</key>
                <string>{{1,841},{115,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/book/renewal/element/bt_wind</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,40}</string>
                <key>spriteSourceSize</key>
                <string>{115,42}</string>
                <key>textureRect</key>
                <string>{{1,883},{115,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/book/renewal/element/bt_wind_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,40}</string>
                <key>spriteSourceSize</key>
                <string>{115,42}</string>
                <key>textureRect</key>
                <string>{{1,925},{115,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/book/renewal/element/element_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,334}</string>
                <key>spriteSourceSize</key>
                <string>{109,334}</string>
                <key>textureRect</key>
                <string>{{1,967},{109,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>element.pvr.ccz</string>
            <key>size</key>
            <string>{117,1302}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d838733923efbd8a87c2da98c88e1844:05f556e47655ec214c8aedaef0c9fcff:fd2ba608e48dbf227a74094d63bdbb6b$</string>
            <key>textureFileName</key>
            <string>element.pvr.ccz</string>
        </dict>
    </dict>
</plist>
