<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster/251/effect/at1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{904,542}</string>
                <key>spriteSourceSize</key>
                <string>{904,542}</string>
                <key>textureRect</key>
                <string>{{1,526},{904,542}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/251/effect/at2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{904,542}</string>
                <key>spriteSourceSize</key>
                <string>{904,542}</string>
                <key>textureRect</key>
                <string>{{1,1070},{904,542}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/251/effect/at3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{904,523}</string>
                <key>spriteSourceSize</key>
                <string>{904,523}</string>
                <key>textureRect</key>
                <string>{{1,1},{904,523}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>effect.pvr.ccz</string>
            <key>size</key>
            <string>{906,1613}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d7ece8f3a93bbef3c1084812520cfa3:397838a04d0ae95ff29111219507765f:e0fdcd92bbdb8ab6858982d39ba3f2d9$</string>
            <key>textureFileName</key>
            <string>effect.pvr.ccz</string>
        </dict>
    </dict>
</plist>
