<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/489/effect/col_action2/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{207,53}</string>
                <key>spriteSourceSize</key>
                <string>{301,223}</string>
                <key>textureRect</key>
                <string>{{882,1},{207,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/489/effect/col_action2/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,9}</string>
                <key>spriteSize</key>
                <string>{207,53}</string>
                <key>spriteSourceSize</key>
                <string>{301,223}</string>
                <key>textureRect</key>
                <string>{{937,1},{207,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/489/effect/col_action2/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,13}</string>
                <key>spriteSize</key>
                <string>{207,159}</string>
                <key>spriteSourceSize</key>
                <string>{301,223}</string>
                <key>textureRect</key>
                <string>{{170,885},{207,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/489/effect/col_action2/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,11}</string>
                <key>spriteSize</key>
                <string>{207,167}</string>
                <key>spriteSourceSize</key>
                <string>{301,223}</string>
                <key>textureRect</key>
                <string>{{856,443},{207,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/489/effect/col_action2/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,11}</string>
                <key>spriteSize</key>
                <string>{207,167}</string>
                <key>spriteSourceSize</key>
                <string>{301,223}</string>
                <key>textureRect</key>
                <string>{{856,652},{207,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/489/effect/col_action2/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,11}</string>
                <key>spriteSize</key>
                <string>{207,167}</string>
                <key>spriteSourceSize</key>
                <string>{301,223}</string>
                <key>textureRect</key>
                <string>{{1,885},{207,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/489/effect/col_action2/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,7}</string>
                <key>spriteSize</key>
                <string>{225,183}</string>
                <key>spriteSourceSize</key>
                <string>{301,223}</string>
                <key>textureRect</key>
                <string>{{1,1648},{225,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/489/effect/col_action2/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,7}</string>
                <key>spriteSize</key>
                <string>{225,183}</string>
                <key>spriteSourceSize</key>
                <string>{301,223}</string>
                <key>textureRect</key>
                <string>{{228,1648},{225,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/489/effect/col_action2/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,7}</string>
                <key>spriteSize</key>
                <string>{225,183}</string>
                <key>spriteSourceSize</key>
                <string>{301,223}</string>
                <key>textureRect</key>
                <string>{{837,1375},{225,183}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/489/effect/col_action2/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,6}</string>
                <key>spriteSize</key>
                <string>{225,183}</string>
                <key>spriteSourceSize</key>
                <string>{301,223}</string>
                <key>textureRect</key>
                <string>{{652,1602},{225,183}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/489/effect/col_action2/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,10}</string>
                <key>spriteSize</key>
                <string>{225,195}</string>
                <key>spriteSourceSize</key>
                <string>{301,223}</string>
                <key>textureRect</key>
                <string>{{600,1116},{225,195}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/489/effect/col_action2/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,10}</string>
                <key>spriteSize</key>
                <string>{225,195}</string>
                <key>spriteSourceSize</key>
                <string>{301,223}</string>
                <key>textureRect</key>
                <string>{{222,1106},{225,195}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/489/effect/col_action2/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,10}</string>
                <key>spriteSize</key>
                <string>{225,195}</string>
                <key>spriteSourceSize</key>
                <string>{301,223}</string>
                <key>textureRect</key>
                <string>{{443,1375},{225,195}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/489/effect/col_action2/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,10}</string>
                <key>spriteSize</key>
                <string>{225,195}</string>
                <key>spriteSourceSize</key>
                <string>{301,223}</string>
                <key>textureRect</key>
                <string>{{455,1602},{225,195}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/489/effect/col_action2/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,10}</string>
                <key>spriteSize</key>
                <string>{225,195}</string>
                <key>spriteSourceSize</key>
                <string>{301,223}</string>
                <key>textureRect</key>
                <string>{{640,1375},{225,195}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/489/effect/col_action2/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,10}</string>
                <key>spriteSize</key>
                <string>{229,195}</string>
                <key>spriteSourceSize</key>
                <string>{301,223}</string>
                <key>textureRect</key>
                <string>{{604,885},{229,195}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/489/effect/col_action2/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-2}</string>
                <key>spriteSize</key>
                <string>{271,219}</string>
                <key>spriteSourceSize</key>
                <string>{301,223}</string>
                <key>textureRect</key>
                <string>{{1,664},{271,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/489/effect/col_action2/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-2}</string>
                <key>spriteSize</key>
                <string>{271,219}</string>
                <key>spriteSourceSize</key>
                <string>{301,223}</string>
                <key>textureRect</key>
                <string>{{274,664},{271,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/489/effect/col_action2/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-2}</string>
                <key>spriteSize</key>
                <string>{271,219}</string>
                <key>spriteSourceSize</key>
                <string>{301,223}</string>
                <key>textureRect</key>
                <string>{{547,664},{271,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/489/effect/col_action2/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-2}</string>
                <key>spriteSize</key>
                <string>{271,219}</string>
                <key>spriteSourceSize</key>
                <string>{301,223}</string>
                <key>textureRect</key>
                <string>{{1,1102},{271,219}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/489/effect/col_action2/20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-2}</string>
                <key>spriteSize</key>
                <string>{271,219}</string>
                <key>spriteSourceSize</key>
                <string>{301,223}</string>
                <key>textureRect</key>
                <string>{{1,1375},{271,219}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/489/effect/col_action2/21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-2}</string>
                <key>spriteSize</key>
                <string>{271,219}</string>
                <key>spriteSourceSize</key>
                <string>{301,223}</string>
                <key>textureRect</key>
                <string>{{331,885},{271,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/489/effect/col_action2/22</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-2}</string>
                <key>spriteSize</key>
                <string>{271,219}</string>
                <key>spriteSourceSize</key>
                <string>{301,223}</string>
                <key>textureRect</key>
                <string>{{801,1102},{271,219}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/489/effect/col_action2/23</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{277,219}</string>
                <key>spriteSourceSize</key>
                <string>{301,223}</string>
                <key>textureRect</key>
                <string>{{577,443},{277,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/489/effect/col_action2/24</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{283,219}</string>
                <key>spriteSourceSize</key>
                <string>{301,223}</string>
                <key>textureRect</key>
                <string>{{292,443},{283,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/489/effect/col_action2/25</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{289,219}</string>
                <key>spriteSourceSize</key>
                <string>{301,223}</string>
                <key>textureRect</key>
                <string>{{591,1},{289,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/489/effect/col_action2/26</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{289,219}</string>
                <key>spriteSourceSize</key>
                <string>{301,223}</string>
                <key>textureRect</key>
                <string>{{1,222},{289,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/489/effect/col_action2/27</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{289,219}</string>
                <key>spriteSourceSize</key>
                <string>{301,223}</string>
                <key>textureRect</key>
                <string>{{292,222},{289,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/489/effect/col_action2/28</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{289,219}</string>
                <key>spriteSourceSize</key>
                <string>{301,223}</string>
                <key>textureRect</key>
                <string>{{583,222},{289,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/489/effect/col_action2/29</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{289,219}</string>
                <key>spriteSourceSize</key>
                <string>{301,223}</string>
                <key>textureRect</key>
                <string>{{1,443},{289,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/489/effect/col_action2/30</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{293,219}</string>
                <key>spriteSourceSize</key>
                <string>{301,223}</string>
                <key>textureRect</key>
                <string>{{1,1},{293,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/489/effect/col_action2/31</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{293,219}</string>
                <key>spriteSourceSize</key>
                <string>{301,223}</string>
                <key>textureRect</key>
                <string>{{296,1},{293,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/489/effect/col_action2/32</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-2}</string>
                <key>spriteSize</key>
                <string>{271,219}</string>
                <key>spriteSourceSize</key>
                <string>{301,223}</string>
                <key>textureRect</key>
                <string>{{222,1375},{271,219}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/489/effect/col_action2/33</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-4}</string>
                <key>spriteSize</key>
                <string>{239,195}</string>
                <key>spriteSourceSize</key>
                <string>{301,223}</string>
                <key>textureRect</key>
                <string>{{820,861},{239,195}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/489/effect/col_action2/34</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-1}</string>
                <key>spriteSize</key>
                <string>{189,155}</string>
                <key>spriteSourceSize</key>
                <string>{301,223}</string>
                <key>textureRect</key>
                <string>{{443,1106},{189,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action20.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1832}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb6d17972f3a0504a6998cf8b8df6609:8a350dd265dcb2faa82bf60a31f0d241:98ec4b5f3da3b367b0df440471cccb39$</string>
            <key>textureFileName</key>
            <string>col_action20.pvr.ccz</string>
        </dict>
    </dict>
</plist>
