<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{53,29}</string>
			<key>spriteSize</key>
			<string>{172,90}</string>
			<key>spriteSourceSize</key>
			<string>{670,328}</string>
			<key>textureRect</key>
			<string>{{367,1},{172,90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-190,2}</string>
			<key>spriteSize</key>
			<string>{210,182}</string>
			<key>spriteSourceSize</key>
			<string>{670,328}</string>
			<key>textureRect</key>
			<string>{{1,1},{210,182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-194,14}</string>
			<key>spriteSize</key>
			<string>{164,170}</string>
			<key>spriteSourceSize</key>
			<string>{670,328}</string>
			<key>textureRect</key>
			<string>{{795,1},{164,170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-199,19}</string>
			<key>spriteSize</key>
			<string>{174,152}</string>
			<key>spriteSourceSize</key>
			<string>{670,328}</string>
			<key>textureRect</key>
			<string>{{213,1},{174,152}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-206,34}</string>
			<key>spriteSize</key>
			<string>{170,166}</string>
			<key>spriteSourceSize</key>
			<string>{670,328}</string>
			<key>textureRect</key>
			<string>{{459,1},{170,166}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-207,34}</string>
			<key>spriteSize</key>
			<string>{170,166}</string>
			<key>spriteSourceSize</key>
			<string>{670,328}</string>
			<key>textureRect</key>
			<string>{{627,1},{170,166}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action10.pvr.ccz</string>
		<key>size</key>
		<string>{960,184}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:b25d2179774435fbc66c6a31b5a48147:c4b5bddaee5bbc634df7335b06f6251c:fd6dfe3ee94267230ed6425290acf6b5$</string>
		<key>textureFileName</key>
		<string>col_action10.pvr.ccz</string>
	</dict>
</dict>
</plist>
