<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/sss_aura9/back/00</key>
            <dict>
                <key>frame</key>
                <string>{{2,1946},{322,85}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,80},{322,85}}</string>
                <key>sourceSize</key>
                <string>{322,165}</string>
            </dict>
            <key>dragon/sss_aura9/back/01</key>
            <dict>
                <key>frame</key>
                <string>{{503,1151},{322,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,165}}</string>
                <key>sourceSize</key>
                <string>{322,165}</string>
            </dict>
            <key>dragon/sss_aura9/back/02</key>
            <dict>
                <key>frame</key>
                <string>{{503,827},{322,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,165}}</string>
                <key>sourceSize</key>
                <string>{322,165}</string>
            </dict>
            <key>dragon/sss_aura9/back/03</key>
            <dict>
                <key>frame</key>
                <string>{{503,503},{322,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,165}}</string>
                <key>sourceSize</key>
                <string>{322,165}</string>
            </dict>
            <key>dragon/sss_aura9/back/04</key>
            <dict>
                <key>frame</key>
                <string>{{336,1799},{322,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,165}}</string>
                <key>sourceSize</key>
                <string>{322,165}</string>
            </dict>
            <key>dragon/sss_aura9/back/05</key>
            <dict>
                <key>frame</key>
                <string>{{336,1475},{322,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,165}}</string>
                <key>sourceSize</key>
                <string>{322,165}</string>
            </dict>
            <key>dragon/sss_aura9/back/06</key>
            <dict>
                <key>frame</key>
                <string>{{336,1151},{322,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,165}}</string>
                <key>sourceSize</key>
                <string>{322,165}</string>
            </dict>
            <key>dragon/sss_aura9/back/07</key>
            <dict>
                <key>frame</key>
                <string>{{336,827},{322,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,165}}</string>
                <key>sourceSize</key>
                <string>{322,165}</string>
            </dict>
            <key>dragon/sss_aura9/back/08</key>
            <dict>
                <key>frame</key>
                <string>{{336,503},{322,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,165}}</string>
                <key>sourceSize</key>
                <string>{322,165}</string>
            </dict>
            <key>dragon/sss_aura9/back/09</key>
            <dict>
                <key>frame</key>
                <string>{{1618,336},{322,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,165}}</string>
                <key>sourceSize</key>
                <string>{322,165}</string>
            </dict>
            <key>dragon/sss_aura9/back/10</key>
            <dict>
                <key>frame</key>
                <string>{{1294,336},{322,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,165}}</string>
                <key>sourceSize</key>
                <string>{322,165}</string>
            </dict>
            <key>dragon/sss_aura9/back/11</key>
            <dict>
                <key>frame</key>
                <string>{{970,336},{322,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,165}}</string>
                <key>sourceSize</key>
                <string>{322,165}</string>
            </dict>
            <key>dragon/sss_aura9/back/12</key>
            <dict>
                <key>frame</key>
                <string>{{646,336},{322,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,165}}</string>
                <key>sourceSize</key>
                <string>{322,165}</string>
            </dict>
            <key>dragon/sss_aura9/back/13</key>
            <dict>
                <key>frame</key>
                <string>{{169,1622},{322,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,165}}</string>
                <key>sourceSize</key>
                <string>{322,165}</string>
            </dict>
            <key>dragon/sss_aura9/back/14</key>
            <dict>
                <key>frame</key>
                <string>{{169,1298},{322,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,165}}</string>
                <key>sourceSize</key>
                <string>{322,165}</string>
            </dict>
            <key>dragon/sss_aura9/back/15</key>
            <dict>
                <key>frame</key>
                <string>{{169,974},{322,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,165}}</string>
                <key>sourceSize</key>
                <string>{322,165}</string>
            </dict>
            <key>dragon/sss_aura9/back/16</key>
            <dict>
                <key>frame</key>
                <string>{{322,336},{322,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,165}}</string>
                <key>sourceSize</key>
                <string>{322,165}</string>
            </dict>
            <key>dragon/sss_aura9/back/17</key>
            <dict>
                <key>frame</key>
                <string>{{169,650},{322,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,165}}</string>
                <key>sourceSize</key>
                <string>{322,165}</string>
            </dict>
            <key>dragon/sss_aura9/back/18</key>
            <dict>
                <key>frame</key>
                <string>{{1622,169},{322,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,165}}</string>
                <key>sourceSize</key>
                <string>{322,165}</string>
            </dict>
            <key>dragon/sss_aura9/back/19</key>
            <dict>
                <key>frame</key>
                <string>{{1298,169},{322,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,165}}</string>
                <key>sourceSize</key>
                <string>{322,165}</string>
            </dict>
            <key>dragon/sss_aura9/back/20</key>
            <dict>
                <key>frame</key>
                <string>{{974,169},{322,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,165}}</string>
                <key>sourceSize</key>
                <string>{322,165}</string>
            </dict>
            <key>dragon/sss_aura9/back/21</key>
            <dict>
                <key>frame</key>
                <string>{{650,169},{322,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,165}}</string>
                <key>sourceSize</key>
                <string>{322,165}</string>
            </dict>
            <key>dragon/sss_aura9/back/22</key>
            <dict>
                <key>frame</key>
                <string>{{326,169},{322,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,165}}</string>
                <key>sourceSize</key>
                <string>{322,165}</string>
            </dict>
            <key>dragon/sss_aura9/back/23</key>
            <dict>
                <key>frame</key>
                <string>{{2,1622},{322,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,165}}</string>
                <key>sourceSize</key>
                <string>{322,165}</string>
            </dict>
            <key>dragon/sss_aura9/back/24</key>
            <dict>
                <key>frame</key>
                <string>{{2,1298},{322,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,165}}</string>
                <key>sourceSize</key>
                <string>{322,165}</string>
            </dict>
            <key>dragon/sss_aura9/back/25</key>
            <dict>
                <key>frame</key>
                <string>{{2,974},{322,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,165}}</string>
                <key>sourceSize</key>
                <string>{322,165}</string>
            </dict>
            <key>dragon/sss_aura9/back/26</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{322,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,165}}</string>
                <key>sourceSize</key>
                <string>{322,165}</string>
            </dict>
            <key>dragon/sss_aura9/back/27</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{322,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,165}}</string>
                <key>sourceSize</key>
                <string>{322,165}</string>
            </dict>
            <key>dragon/sss_aura9/back/28</key>
            <dict>
                <key>frame</key>
                <string>{{1622,2},{322,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,165}}</string>
                <key>sourceSize</key>
                <string>{322,165}</string>
            </dict>
            <key>dragon/sss_aura9/back/29</key>
            <dict>
                <key>frame</key>
                <string>{{1298,2},{322,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,165}}</string>
                <key>sourceSize</key>
                <string>{322,165}</string>
            </dict>
            <key>dragon/sss_aura9/back/30</key>
            <dict>
                <key>frame</key>
                <string>{{974,2},{322,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,165}}</string>
                <key>sourceSize</key>
                <string>{322,165}</string>
            </dict>
            <key>dragon/sss_aura9/back/31</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{322,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,165}}</string>
                <key>sourceSize</key>
                <string>{322,165}</string>
            </dict>
            <key>dragon/sss_aura9/back/32</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{322,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,165}}</string>
                <key>sourceSize</key>
                <string>{322,165}</string>
            </dict>
            <key>dragon/sss_aura9/back/33</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{322,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,165}}</string>
                <key>sourceSize</key>
                <string>{322,165}</string>
            </dict>
            <key>dragon/sss_aura9/back/34</key>
            <dict>
                <key>frame</key>
                <string>{{660,1799},{322,161}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{322,161}}</string>
                <key>sourceSize</key>
                <string>{322,165}</string>
            </dict>
            <key>dragon/sss_aura9/back/35</key>
            <dict>
                <key>frame</key>
                <string>{{503,1475},{322,161}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{322,161}}</string>
                <key>sourceSize</key>
                <string>{322,165}</string>
            </dict>
            <key>dragon/sss_aura9/back/36</key>
            <dict>
                <key>frame</key>
                <string>{{666,1475},{322,157}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{322,157}}</string>
                <key>sourceSize</key>
                <string>{322,165}</string>
            </dict>
            <key>dragon/sss_aura9/back/37</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{322,155}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{322,155}}</string>
                <key>sourceSize</key>
                <string>{322,165}</string>
            </dict>
            <key>dragon/sss_aura9/back/38</key>
            <dict>
                <key>frame</key>
                <string>{{670,503},{322,151}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{322,151}}</string>
                <key>sourceSize</key>
                <string>{322,165}</string>
            </dict>
            <key>dragon/sss_aura9/back/39</key>
            <dict>
                <key>frame</key>
                <string>{{169,326},{322,151}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{322,151}}</string>
                <key>sourceSize</key>
                <string>{322,165}</string>
            </dict>
            <key>dragon/sss_aura9/back/40</key>
            <dict>
                <key>frame</key>
                <string>{{1946,2},{322,85}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,80},{322,85}}</string>
                <key>sourceSize</key>
                <string>{322,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>back.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87039e0c35b480261077c7a40ee9d4a9:5a2e8f7220587f4aa93d71fa0c707fd2:43f3ab1da9ce7ff12a953bd181b43222$</string>
            <key>textureFileName</key>
            <string>back.pvr.ccz</string>
        </dict>
    </dict>
</plist>
