<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>frame</key>
			<string>{{914,276},{272,79}}</string>
			<key>offset</key>
			<string>{-21,-43}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,86},{272,79}}</string>
			<key>sourceSize</key>
			<string>{322,165}</string>
		</dict>
		<key>01</key>
		<dict>
			<key>frame</key>
			<string>{{491,660},{288,157}}</string>
			<key>offset</key>
			<string>{-13,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,8},{288,157}}</string>
			<key>sourceSize</key>
			<string>{322,165}</string>
		</dict>
		<key>02</key>
		<dict>
			<key>frame</key>
			<string>{{749,330},{288,163}}</string>
			<key>offset</key>
			<string>{-12,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,2},{288,163}}</string>
			<key>sourceSize</key>
			<string>{322,165}</string>
		</dict>
		<key>03</key>
		<dict>
			<key>frame</key>
			<string>{{165,664},{290,159}}</string>
			<key>offset</key>
			<string>{-12,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,6},{290,159}}</string>
			<key>sourceSize</key>
			<string>{322,165}</string>
		</dict>
		<key>04</key>
		<dict>
			<key>frame</key>
			<string>{{328,1534},{290,161}}</string>
			<key>offset</key>
			<string>{-12,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{290,161}}</string>
			<key>sourceSize</key>
			<string>{322,165}</string>
		</dict>
		<key>05</key>
		<dict>
			<key>frame</key>
			<string>{{586,2},{290,163}}</string>
			<key>offset</key>
			<string>{-12,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{290,163}}</string>
			<key>sourceSize</key>
			<string>{322,165}</string>
		</dict>
		<key>06</key>
		<dict>
			<key>frame</key>
			<string>{{294,167},{290,163}}</string>
			<key>offset</key>
			<string>{-12,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{290,163}}</string>
			<key>sourceSize</key>
			<string>{322,165}</string>
		</dict>
		<key>07</key>
		<dict>
			<key>frame</key>
			<string>{{328,1242},{290,161}}</string>
			<key>offset</key>
			<string>{-12,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{290,161}}</string>
			<key>sourceSize</key>
			<string>{322,165}</string>
		</dict>
		<key>08</key>
		<dict>
			<key>frame</key>
			<string>{{328,950},{290,161}}</string>
			<key>offset</key>
			<string>{-12,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{290,161}}</string>
			<key>sourceSize</key>
			<string>{322,165}</string>
		</dict>
		<key>09</key>
		<dict>
			<key>frame</key>
			<string>{{2,1832},{290,161}}</string>
			<key>offset</key>
			<string>{-12,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{290,161}}</string>
			<key>sourceSize</key>
			<string>{322,165}</string>
		</dict>
		<key>10</key>
		<dict>
			<key>frame</key>
			<string>{{165,1540},{290,161}}</string>
			<key>offset</key>
			<string>{-12,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{290,161}}</string>
			<key>sourceSize</key>
			<string>{322,165}</string>
		</dict>
		<key>11</key>
		<dict>
			<key>frame</key>
			<string>{{165,1248},{290,161}}</string>
			<key>offset</key>
			<string>{-12,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{290,161}}</string>
			<key>sourceSize</key>
			<string>{322,165}</string>
		</dict>
		<key>12</key>
		<dict>
			<key>frame</key>
			<string>{{165,956},{290,161}}</string>
			<key>offset</key>
			<string>{-12,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{290,161}}</string>
			<key>sourceSize</key>
			<string>{322,165}</string>
		</dict>
		<key>13</key>
		<dict>
			<key>frame</key>
			<string>{{2,1540},{290,161}}</string>
			<key>offset</key>
			<string>{-12,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{290,161}}</string>
			<key>sourceSize</key>
			<string>{322,165}</string>
		</dict>
		<key>14</key>
		<dict>
			<key>frame</key>
			<string>{{2,1248},{290,161}}</string>
			<key>offset</key>
			<string>{-12,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{290,161}}</string>
			<key>sourceSize</key>
			<string>{322,165}</string>
		</dict>
		<key>15</key>
		<dict>
			<key>frame</key>
			<string>{{2,332},{290,163}}</string>
			<key>offset</key>
			<string>{-12,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{290,163}}</string>
			<key>sourceSize</key>
			<string>{322,165}</string>
		</dict>
		<key>16</key>
		<dict>
			<key>frame</key>
			<string>{{294,2},{290,163}}</string>
			<key>offset</key>
			<string>{-12,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{290,163}}</string>
			<key>sourceSize</key>
			<string>{322,165}</string>
		</dict>
		<key>17</key>
		<dict>
			<key>frame</key>
			<string>{{2,167},{290,163}}</string>
			<key>offset</key>
			<string>{-12,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{290,163}}</string>
			<key>sourceSize</key>
			<string>{322,165}</string>
		</dict>
		<key>18</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{290,163}}</string>
			<key>offset</key>
			<string>{-12,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{290,163}}</string>
			<key>sourceSize</key>
			<string>{322,165}</string>
		</dict>
		<key>19</key>
		<dict>
			<key>frame</key>
			<string>{{2,956},{290,161}}</string>
			<key>offset</key>
			<string>{-12,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{290,161}}</string>
			<key>sourceSize</key>
			<string>{322,165}</string>
		</dict>
		<key>20</key>
		<dict>
			<key>frame</key>
			<string>{{813,620},{288,161}}</string>
			<key>offset</key>
			<string>{-12,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,4},{288,161}}</string>
			<key>sourceSize</key>
			<string>{322,165}</string>
		</dict>
		<key>21</key>
		<dict>
			<key>frame</key>
			<string>{{656,1492},{288,161}}</string>
			<key>offset</key>
			<string>{-12,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,4},{288,161}}</string>
			<key>sourceSize</key>
			<string>{322,165}</string>
		</dict>
		<key>22</key>
		<dict>
			<key>frame</key>
			<string>{{584,332},{288,163}}</string>
			<key>offset</key>
			<string>{-13,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,2},{288,163}}</string>
			<key>sourceSize</key>
			<string>{322,165}</string>
		</dict>
		<key>23</key>
		<dict>
			<key>frame</key>
			<string>{{491,1530},{288,163}}</string>
			<key>offset</key>
			<string>{-13,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,2},{288,163}}</string>
			<key>sourceSize</key>
			<string>{322,165}</string>
		</dict>
		<key>24</key>
		<dict>
			<key>frame</key>
			<string>{{326,660},{288,163}}</string>
			<key>offset</key>
			<string>{-13,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,2},{288,163}}</string>
			<key>sourceSize</key>
			<string>{322,165}</string>
		</dict>
		<key>25</key>
		<dict>
			<key>frame</key>
			<string>{{294,332},{288,163}}</string>
			<key>offset</key>
			<string>{-12,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,2},{288,163}}</string>
			<key>sourceSize</key>
			<string>{322,165}</string>
		</dict>
		<key>26</key>
		<dict>
			<key>frame</key>
			<string>{{2,497},{288,165}}</string>
			<key>offset</key>
			<string>{-12,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{288,165}}</string>
			<key>sourceSize</key>
			<string>{322,165}</string>
		</dict>
		<key>27</key>
		<dict>
			<key>frame</key>
			<string>{{654,1202},{288,161}}</string>
			<key>offset</key>
			<string>{-12,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,4},{288,161}}</string>
			<key>sourceSize</key>
			<string>{322,165}</string>
		</dict>
		<key>28</key>
		<dict>
			<key>frame</key>
			<string>{{654,912},{288,161}}</string>
			<key>offset</key>
			<string>{-12,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,4},{288,161}}</string>
			<key>sourceSize</key>
			<string>{322,165}</string>
		</dict>
		<key>29</key>
		<dict>
			<key>frame</key>
			<string>{{650,622},{288,161}}</string>
			<key>offset</key>
			<string>{-12,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,4},{288,161}}</string>
			<key>sourceSize</key>
			<string>{322,165}</string>
		</dict>
		<key>30</key>
		<dict>
			<key>frame</key>
			<string>{{491,1240},{288,161}}</string>
			<key>offset</key>
			<string>{-12,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,4},{288,161}}</string>
			<key>sourceSize</key>
			<string>{322,165}</string>
		</dict>
		<key>31</key>
		<dict>
			<key>frame</key>
			<string>{{292,497},{290,161}}</string>
			<key>offset</key>
			<string>{-12,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{290,161}}</string>
			<key>sourceSize</key>
			<string>{322,165}</string>
		</dict>
		<key>32</key>
		<dict>
			<key>frame</key>
			<string>{{2,664},{290,161}}</string>
			<key>offset</key>
			<string>{-12,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{290,161}}</string>
			<key>sourceSize</key>
			<string>{322,165}</string>
		</dict>
		<key>33</key>
		<dict>
			<key>frame</key>
			<string>{{586,167},{290,161}}</string>
			<key>offset</key>
			<string>{-12,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{290,161}}</string>
			<key>sourceSize</key>
			<string>{322,165}</string>
		</dict>
		<key>34</key>
		<dict>
			<key>frame</key>
			<string>{{491,950},{288,161}}</string>
			<key>offset</key>
			<string>{-12,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,4},{288,161}}</string>
			<key>sourceSize</key>
			<string>{322,165}</string>
		</dict>
		<key>35</key>
		<dict>
			<key>frame</key>
			<string>{{817,1198},{286,161}}</string>
			<key>offset</key>
			<string>{-13,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,4},{286,161}}</string>
			<key>sourceSize</key>
			<string>{322,165}</string>
		</dict>
		<key>36</key>
		<dict>
			<key>frame</key>
			<string>{{817,910},{286,161}}</string>
			<key>offset</key>
			<string>{-13,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,4},{286,161}}</string>
			<key>sourceSize</key>
			<string>{322,165}</string>
		</dict>
		<key>37</key>
		<dict>
			<key>frame</key>
			<string>{{819,1486},{284,161}}</string>
			<key>offset</key>
			<string>{-14,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,4},{284,161}}</string>
			<key>sourceSize</key>
			<string>{322,165}</string>
		</dict>
		<key>38</key>
		<dict>
			<key>frame</key>
			<string>{{656,1782},{282,159}}</string>
			<key>offset</key>
			<string>{-16,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,6},{282,159}}</string>
			<key>sourceSize</key>
			<string>{322,165}</string>
		</dict>
		<key>39</key>
		<dict>
			<key>frame</key>
			<string>{{294,1832},{280,159}}</string>
			<key>offset</key>
			<string>{-17,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,6},{280,159}}</string>
			<key>sourceSize</key>
			<string>{322,165}</string>
		</dict>
		<key>40</key>
		<dict>
			<key>frame</key>
			<string>{{878,2},{272,79}}</string>
			<key>offset</key>
			<string>{-21,-43}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,86},{272,79}}</string>
			<key>sourceSize</key>
			<string>{322,165}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>front.pvr.ccz</string>
		<key>size</key>
		<string>{1024,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:2fff393d77ddd3a1b7f749fedb82c697:c3d0213b77456b2195fc4c950f3e1189:0e4b35eee275cb82d555f86fb01ac2ee$</string>
		<key>textureFileName</key>
		<string>front.pvr.ccz</string>
	</dict>
</dict>
</plist>
