<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/406/effect/col_action2/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{95,3}</string>
                <key>spriteSize</key>
                <string>{102,126}</string>
                <key>spriteSourceSize</key>
                <string>{322,218}</string>
                <key>textureRect</key>
                <string>{{109,359},{102,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/406/effect/col_action2/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,3}</string>
                <key>spriteSize</key>
                <string>{120,142}</string>
                <key>spriteSourceSize</key>
                <string>{322,218}</string>
                <key>textureRect</key>
                <string>{{361,193},{120,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/406/effect/col_action2/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,3}</string>
                <key>spriteSize</key>
                <string>{138,160}</string>
                <key>spriteSourceSize</key>
                <string>{322,218}</string>
                <key>textureRect</key>
                <string>{{221,193},{138,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/406/effect/col_action2/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,3}</string>
                <key>spriteSize</key>
                <string>{116,146}</string>
                <key>spriteSourceSize</key>
                <string>{322,218}</string>
                <key>textureRect</key>
                <string>{{369,337},{116,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/406/effect/col_action2/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,3}</string>
                <key>spriteSize</key>
                <string>{106,162}</string>
                <key>spriteSourceSize</key>
                <string>{322,218}</string>
                <key>textureRect</key>
                <string>{{1,209},{106,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/406/effect/col_action2/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,3}</string>
                <key>spriteSize</key>
                <string>{116,150}</string>
                <key>spriteSourceSize</key>
                <string>{322,218}</string>
                <key>textureRect</key>
                <string>{{217,355},{116,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/406/effect/col_action2/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,3}</string>
                <key>spriteSize</key>
                <string>{106,148}</string>
                <key>spriteSourceSize</key>
                <string>{322,218}</string>
                <key>textureRect</key>
                <string>{{109,209},{106,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/406/effect/col_action2/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,0}</string>
                <key>spriteSize</key>
                <string>{190,182}</string>
                <key>spriteSourceSize</key>
                <string>{322,218}</string>
                <key>textureRect</key>
                <string>{{221,1},{190,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/406/effect/col_action2/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,1}</string>
                <key>spriteSize</key>
                <string>{218,206}</string>
                <key>spriteSourceSize</key>
                <string>{322,218}</string>
                <key>textureRect</key>
                <string>{{1,1},{218,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action20.pvr.ccz</string>
            <key>size</key>
            <string>{486,486}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:decc72b7686651289ac47d850444ae7f:1dab7f60f7de67a32c38d9df274f7817:98ec4b5f3da3b367b0df440471cccb39$</string>
            <key>textureFileName</key>
            <string>col_action20.pvr.ccz</string>
        </dict>
    </dict>
</plist>
