<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3317/effect/col_action1/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,11}</string>
                <key>spriteSize</key>
                <string>{79,78}</string>
                <key>spriteSourceSize</key>
                <string>{387,390}</string>
                <key>textureRect</key>
                <string>{{414,765},{79,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3317/effect/col_action1/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,18}</string>
                <key>spriteSize</key>
                <string>{167,88}</string>
                <key>spriteSourceSize</key>
                <string>{387,390}</string>
                <key>textureRect</key>
                <string>{{414,596},{167,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3317/effect/col_action1/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,18}</string>
                <key>spriteSize</key>
                <string>{161,92}</string>
                <key>spriteSourceSize</key>
                <string>{387,390}</string>
                <key>textureRect</key>
                <string>{{414,433},{161,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3317/effect/col_action1/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,20}</string>
                <key>spriteSize</key>
                <string>{161,96}</string>
                <key>spriteSourceSize</key>
                <string>{387,390}</string>
                <key>textureRect</key>
                <string>{{378,1224},{161,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3317/effect/col_action1/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,22}</string>
                <key>spriteSize</key>
                <string>{163,96}</string>
                <key>spriteSourceSize</key>
                <string>{387,390}</string>
                <key>textureRect</key>
                <string>{{244,1126},{163,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3317/effect/col_action1/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,24}</string>
                <key>spriteSize</key>
                <string>{169,94}</string>
                <key>spriteSourceSize</key>
                <string>{387,390}</string>
                <key>textureRect</key>
                <string>{{282,1224},{169,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3317/effect/col_action1/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,26}</string>
                <key>spriteSize</key>
                <string>{173,94}</string>
                <key>spriteSourceSize</key>
                <string>{387,390}</string>
                <key>textureRect</key>
                <string>{{186,1231},{173,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3317/effect/col_action1/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,27}</string>
                <key>spriteSize</key>
                <string>{175,96}</string>
                <key>spriteSourceSize</key>
                <string>{387,390}</string>
                <key>textureRect</key>
                <string>{{410,1032},{175,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3317/effect/col_action1/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,27}</string>
                <key>spriteSize</key>
                <string>{177,94}</string>
                <key>spriteSourceSize</key>
                <string>{387,390}</string>
                <key>textureRect</key>
                <string>{{386,254},{177,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3317/effect/col_action1/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,29}</string>
                <key>spriteSize</key>
                <string>{179,96}</string>
                <key>spriteSourceSize</key>
                <string>{387,390}</string>
                <key>textureRect</key>
                <string>{{410,851},{179,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3317/effect/col_action1/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,25}</string>
                <key>spriteSize</key>
                <string>{183,182}</string>
                <key>spriteSourceSize</key>
                <string>{387,390}</string>
                <key>textureRect</key>
                <string>{{1,1231},{183,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3317/effect/col_action1/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,24}</string>
                <key>spriteSize</key>
                <string>{275,276}</string>
                <key>spriteSourceSize</key>
                <string>{387,390}</string>
                <key>textureRect</key>
                <string>{{1,1},{275,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3317/effect/col_action1/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,29}</string>
                <key>spriteSize</key>
                <string>{241,214}</string>
                <key>spriteSourceSize</key>
                <string>{387,390}</string>
                <key>textureRect</key>
                <string>{{1,1015},{241,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3317/effect/col_action1/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,30}</string>
                <key>spriteSize</key>
                <string>{251,220}</string>
                <key>spriteSourceSize</key>
                <string>{387,390}</string>
                <key>textureRect</key>
                <string>{{278,1},{251,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3317/effect/col_action1/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,30}</string>
                <key>spriteSize</key>
                <string>{253,234}</string>
                <key>spriteSourceSize</key>
                <string>{387,390}</string>
                <key>textureRect</key>
                <string>{{1,779},{253,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3317/effect/col_action1/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,30}</string>
                <key>spriteSize</key>
                <string>{255,244}</string>
                <key>spriteSourceSize</key>
                <string>{387,390}</string>
                <key>textureRect</key>
                <string>{{1,533},{255,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3317/effect/col_action1/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,30}</string>
                <key>spriteSize</key>
                <string>{265,252}</string>
                <key>spriteSourceSize</key>
                <string>{387,390}</string>
                <key>textureRect</key>
                <string>{{1,279},{265,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3317/effect/col_action1/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,65}</string>
                <key>spriteSize</key>
                <string>{273,152}</string>
                <key>spriteSourceSize</key>
                <string>{387,390}</string>
                <key>textureRect</key>
                <string>{{256,851},{273,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3317/effect/col_action1/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,66}</string>
                <key>spriteSize</key>
                <string>{283,154}</string>
                <key>spriteSourceSize</key>
                <string>{387,390}</string>
                <key>textureRect</key>
                <string>{{258,566},{283,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3317/effect/col_action1/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,68}</string>
                <key>spriteSize</key>
                <string>{285,116}</string>
                <key>spriteSourceSize</key>
                <string>{387,390}</string>
                <key>textureRect</key>
                <string>{{268,279},{285,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action10.pvr.ccz</string>
            <key>size</key>
            <string>{507,1414}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:868c9fc18210f6e5efd0d8834cf12c23:a373b126b0e1b60344dd7c82c5f908f1:fd6dfe3ee94267230ed6425290acf6b5$</string>
            <key>textureFileName</key>
            <string>col_action10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
