<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/adventure_Scenario/222</key>
            <dict>
                <key>frame</key>
                <string>{{1166,456},{194,215}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,30},{194,215}}</string>
                <key>sourceSize</key>
                <string>{300,265}</string>
            </dict>
            <key>scene/adventure_Scenario/444</key>
            <dict>
                <key>frame</key>
                <string>{{663,556},{214,201}}</string>
                <key>offset</key>
                <string>{31,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,39},{214,201}}</string>
                <key>sourceSize</key>
                <string>{300,265}</string>
            </dict>
            <key>scene/adventure_Scenario/888_2</key>
            <dict>
                <key>frame</key>
                <string>{{324,574},{148,259}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,0},{148,259}}</string>
                <key>sourceSize</key>
                <string>{300,265}</string>
            </dict>
            <key>scene/adventure_Scenario/999</key>
            <dict>
                <key>frame</key>
                <string>{{1166,220},{234,255}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,10},{234,255}}</string>
                <key>sourceSize</key>
                <string>{300,265}</string>
            </dict>
            <key>scene/adventure_Scenario/dungeonScenario2</key>
            <dict>
                <key>frame</key>
                <string>{{456,766},{344,334}}</string>
                <key>offset</key>
                <string>{3,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,19},{344,334}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>scene/adventure_Scenario/dungeonScenario3</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{800,216}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,116},{800,216}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>scene/adventure_Scenario/dungeonScenario4</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,216}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,116},{800,216}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>scene/adventure_Scenario/fireMtScenario2</key>
            <dict>
                <key>frame</key>
                <string>{{456,1112},{334,334}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,72},{334,334}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>scene/adventure_Scenario/forestScenario2</key>
            <dict>
                <key>frame</key>
                <string>{{2,1568},{644,446}}</string>
                <key>offset</key>
                <string>{30,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,34},{644,446}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>scene/adventure_Scenario/fortune_scenario2_bg</key>
            <dict>
                <key>frame</key>
                <string>{{324,220},{272,352}}</string>
                <key>offset</key>
                <string>{-8,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,0},{272,352}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>scene/adventure_Scenario/fortune_scenario3_bg</key>
            <dict>
                <key>frame</key>
                <string>{{842,220},{322,332}}</string>
                <key>offset</key>
                <string>{-2,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,16},{322,332}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>scene/adventure_Scenario/fortune_scenario4_bg</key>
            <dict>
                <key>frame</key>
                <string>{{598,220},{242,334}}</string>
                <key>offset</key>
                <string>{5,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,17},{242,334}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>scene/adventure_Scenario/monster_fightbar</key>
            <dict>
                <key>frame</key>
                <string>{{86,1500},{520,62}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,22},{520,62}}</string>
                <key>sourceSize</key>
                <string>{588,104}</string>
            </dict>
            <key>scene/adventure_Scenario/senario_ending2_1</key>
            <dict>
                <key>frame</key>
                <string>{{86,766},{732,368}}</string>
                <key>offset</key>
                <string>{-34,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{732,368}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>scene/adventure_Scenario/senario_ending2_2</key>
            <dict>
                <key>frame</key>
                <string>{{1606,2},{762,380}}</string>
                <key>offset</key>
                <string>{19,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,100},{762,380}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>scene/adventure_Scenario/senario_ending2_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{800,82}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,197},{800,82}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>scene/adventure_Scenario/skip</key>
            <dict>
                <key>frame</key>
                <string>{{1988,96},{116,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,48}}</string>
                <key>sourceSize</key>
                <string>{116,48}</string>
            </dict>
            <key>scene/adventure_Scenario/stage</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{536,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,144}}</string>
                <key>sourceSize</key>
                <string>{536,144}</string>
            </dict>
            <key>scene/adventure_Scenario/stage_1</key>
            <dict>
                <key>frame</key>
                <string>{{1988,2},{56,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,1},{56,92}}</string>
                <key>sourceSize</key>
                <string>{110,94}</string>
            </dict>
            <key>scene/adventure_Scenario/stage_2</key>
            <dict>
                <key>frame</key>
                <string>{{585,574},{76,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{76,92}}</string>
                <key>sourceSize</key>
                <string>{110,94}</string>
            </dict>
            <key>scene/adventure_Scenario/stage_3</key>
            <dict>
                <key>frame</key>
                <string>{{608,1448},{76,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{76,94}}</string>
                <key>sourceSize</key>
                <string>{110,94}</string>
            </dict>
            <key>scene/adventure_Scenario/stage_boss</key>
            <dict>
                <key>frame</key>
                <string>{{148,220},{534,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,174}}</string>
                <key>sourceSize</key>
                <string>{534,174}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>adventure_Scenario.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae5a52ac884fec100df099037f6020f5:629651f65a90bd22c8af1ffb23977a78:6e3593be069f49dccb4e52c8350d0ce6$</string>
            <key>textureFileName</key>
            <string>adventure_Scenario.pvr.ccz</string>
        </dict>
    </dict>
</plist>
