<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/adventure/adventure_profile</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,62}</string>
                <key>spriteSourceSize</key>
                <string>{208,62}</string>
                <key>textureRect</key>
                <string>{{1,423},{208,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/adventure_profile_enemy</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,62}</string>
                <key>spriteSourceSize</key>
                <string>{208,62}</string>
                <key>textureRect</key>
                <string>{{322,183},{208,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/atk_stat</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,19}</string>
                <key>spriteSourceSize</key>
                <string>{20,19}</string>
                <key>textureRect</key>
                <string>{{689,70},{20,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/attack_effect_large</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{236,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{322,1},{236,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/bt_battle_autoon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,106}</string>
                <key>spriteSourceSize</key>
                <string>{97,106}</string>
                <key>textureRect</key>
                <string>{{560,1},{97,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/btn_darknix_extreme</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,106}</string>
                <key>spriteSourceSize</key>
                <string>{97,106}</string>
                <key>textureRect</key>
                <string>{{560,109},{97,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/btn_gskull_extreme</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,106}</string>
                <key>spriteSourceSize</key>
                <string>{97,106}</string>
                <key>textureRect</key>
                <string>{{445,260},{97,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/btn_gskull_hell</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,106}</string>
                <key>spriteSourceSize</key>
                <string>{97,106}</string>
                <key>textureRect</key>
                <string>{{445,368},{97,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/def_stat</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,19}</string>
                <key>spriteSourceSize</key>
                <string>{18,19}</string>
                <key>textureRect</key>
                <string>{{596,447},{18,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/ex_monster_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,281}</string>
                <key>spriteSourceSize</key>
                <string>{319,281}</string>
                <key>textureRect</key>
                <string>{{1,1},{319,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/g_hard</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,103}</string>
                <key>spriteSourceSize</key>
                <string>{95,103}</string>
                <key>textureRect</key>
                <string>{{544,217},{95,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/g_nomal</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,103}</string>
                <key>spriteSourceSize</key>
                <string>{95,103}</string>
                <key>textureRect</key>
                <string>{{544,322},{95,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/hp_bar</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,11}</string>
                <key>spriteSourceSize</key>
                <string>{172,11}</string>
                <key>textureRect</key>
                <string>{{322,247},{172,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/hp_bar_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,15}</string>
                <key>spriteSourceSize</key>
                <string>{163,15}</string>
                <key>textureRect</key>
                <string>{{211,457},{163,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/hp_stat</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,17}</string>
                <key>spriteSourceSize</key>
                <string>{19,17}</string>
                <key>textureRect</key>
                <string>{{689,91},{19,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/hpgage_bg_short</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,17}</string>
                <key>spriteSourceSize</key>
                <string>{90,17}</string>
                <key>textureRect</key>
                <string>{{322,260},{90,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/hpgage_short</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,15}</string>
                <key>spriteSourceSize</key>
                <string>{88,15}</string>
                <key>textureRect</key>
                <string>{{641,217},{88,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/adventure/icon_battle_auto</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,50}</string>
                <key>spriteSourceSize</key>
                <string>{47,50}</string>
                <key>textureRect</key>
                <string>{{544,427},{47,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/adventure/item_stat</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,28}</string>
                <key>spriteSourceSize</key>
                <string>{150,28}</string>
                <key>textureRect</key>
                <string>{{659,1},{150,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/adventure/lv_s</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{532,183},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/mission_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,32}</string>
                <key>spriteSourceSize</key>
                <string>{232,32}</string>
                <key>textureRect</key>
                <string>{{211,423},{232,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/mission_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{689,110},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/mission_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,22}</string>
                <key>spriteSourceSize</key>
                <string>{27,22}</string>
                <key>textureRect</key>
                <string>{{414,260},{27,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/monster_list2_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{442,137}</string>
                <key>spriteSourceSize</key>
                <string>{442,137}</string>
                <key>textureRect</key>
                <string>{{1,284},{442,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/next_arrow</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,9}</string>
                <key>spriteSourceSize</key>
                <string>{17,9}</string>
                <key>textureRect</key>
                <string>{{630,427},{17,9}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/adventure/tip</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,18}</string>
                <key>spriteSourceSize</key>
                <string>{32,18}</string>
                <key>textureRect</key>
                <string>{{596,427},{32,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/tip_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,30}</string>
                <key>spriteSourceSize</key>
                <string>{60,30}</string>
                <key>textureRect</key>
                <string>{{659,153},{60,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/adventure/txt_battle_auto</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,25}</string>
                <key>spriteSourceSize</key>
                <string>{67,25}</string>
                <key>textureRect</key>
                <string>{{689,1},{67,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/adventure/x2_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,81}</string>
                <key>spriteSourceSize</key>
                <string>{71,81}</string>
                <key>textureRect</key>
                <string>{{641,307},{71,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/adventure/x2_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,81}</string>
                <key>spriteSourceSize</key>
                <string>{71,81}</string>
                <key>textureRect</key>
                <string>{{641,390},{71,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>adventure.pvr.ccz</string>
            <key>size</key>
            <string>{715,486}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0f8bb6c9b8d740dad77407a0915a2c4:7566b332d4cdb05b69001aa3d81e350a:8637b2143b036b59b76e8c78a26e7078$</string>
            <key>textureFileName</key>
            <string>adventure.pvr.ccz</string>
        </dict>
    </dict>
</plist>
