<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/autolevelup/bt_autolv_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,36}</string>
                <key>spriteSourceSize</key>
                <string>{56,36}</string>
                <key>textureRect</key>
                <string>{{709,340},{56,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/autolevelup/bt_autolv_help</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,30}</string>
                <key>textureRect</key>
                <string>{{540,432},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/autolevelup/bt_autolv_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,28}</string>
                <key>spriteSourceSize</key>
                <string>{46,28}</string>
                <key>textureRect</key>
                <string>{{492,435},{46,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/autolevelup/bt_autolv_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,28}</string>
                <key>spriteSourceSize</key>
                <string>{46,28}</string>
                <key>textureRect</key>
                <string>{{795,401},{46,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/autolevelup/bt_autolv_r</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,46}</string>
                <key>spriteSourceSize</key>
                <string>{138,46}</string>
                <key>textureRect</key>
                <string>{{492,291},{138,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/autolevelup/bt_autolv_y</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,46}</string>
                <key>spriteSourceSize</key>
                <string>{138,46}</string>
                <key>textureRect</key>
                <string>{{661,320},{138,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/autolevelup/bt_left</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,30}</string>
                <key>spriteSourceSize</key>
                <string>{21,30}</string>
                <key>textureRect</key>
                <string>{{773,378},{21,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/autolevelup/bt_left2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,30}</string>
                <key>spriteSourceSize</key>
                <string>{25,30}</string>
                <key>textureRect</key>
                <string>{{570,432},{25,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/autolevelup/bt_ranking_help</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,46}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{837,354},{42,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/autolevelup/bt_right</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,30}</string>
                <key>spriteSourceSize</key>
                <string>{21,30}</string>
                <key>textureRect</key>
                <string>{{805,378},{21,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/autolevelup/bt_right2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,30}</string>
                <key>spriteSourceSize</key>
                <string>{25,30}</string>
                <key>textureRect</key>
                <string>{{597,432},{25,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/autolevelup/frame_autolv_bg1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,441}</string>
                <key>spriteSourceSize</key>
                <string>{376,441}</string>
                <key>textureRect</key>
                <string>{{1,1},{376,441}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/autolevelup/frame_autolv_bg2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{774,20},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/autolevelup/frame_autolv_bg3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,28}</string>
                <key>spriteSourceSize</key>
                <string>{94,28}</string>
                <key>textureRect</key>
                <string>{{488,339},{94,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/autolevelup/frame_autolv_bg4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,40}</string>
                <key>spriteSourceSize</key>
                <string>{76,40}</string>
                <key>textureRect</key>
                <string>{{731,380},{76,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/autolevelup/frame_autolv_bg_cover</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,111}</string>
                <key>spriteSourceSize</key>
                <string>{336,111}</string>
                <key>textureRect</key>
                <string>{{379,1},{336,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/autolevelup/frame_autolv_pop1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,288}</string>
                <key>spriteSourceSize</key>
                <string>{280,288}</string>
                <key>textureRect</key>
                <string>{{492,1},{280,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/autolevelup/frame_autolv_pop2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,110}</string>
                <key>spriteSourceSize</key>
                <string>{116,110}</string>
                <key>textureRect</key>
                <string>{{774,136},{116,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/autolevelup/icon_noitem</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,84}</string>
                <key>spriteSourceSize</key>
                <string>{95,84}</string>
                <key>textureRect</key>
                <string>{{402,339},{95,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/autolevelup/icon_noitem_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,85}</string>
                <key>spriteSourceSize</key>
                <string>{71,85}</string>
                <key>textureRect</key>
                <string>{{540,359},{71,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/autolevelup/txt_autolv1_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,27}</string>
                <key>spriteSourceSize</key>
                <string>{139,27}</string>
                <key>textureRect</key>
                <string>{{632,291},{139,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/autolevelup/txt_autolv1_off_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,25}</string>
                <key>spriteSourceSize</key>
                <string>{106,25}</string>
                <key>textureRect</key>
                <string>{{773,300},{106,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/autolevelup/txt_autolv1_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,27}</string>
                <key>spriteSourceSize</key>
                <string>{139,27}</string>
                <key>textureRect</key>
                <string>{{632,320},{139,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/autolevelup/txt_autolv1_on_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,25}</string>
                <key>spriteSourceSize</key>
                <string>{106,25}</string>
                <key>textureRect</key>
                <string>{{769,327},{106,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/autolevelup/txt_autolv2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,15}</string>
                <key>spriteSourceSize</key>
                <string>{66,15}</string>
                <key>textureRect</key>
                <string>{{825,402},{66,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/autolevelup/txt_autolv2_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,12}</string>
                <key>spriteSourceSize</key>
                <string>{55,12}</string>
                <key>textureRect</key>
                <string>{{881,323},{55,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/autolevelup/txt_autolv3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,20}</string>
                <key>spriteSourceSize</key>
                <string>{49,20}</string>
                <key>textureRect</key>
                <string>{{773,402},{49,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/autolevelup/txt_autolv3_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,22}</string>
                <key>spriteSourceSize</key>
                <string>{68,22}</string>
                <key>textureRect</key>
                <string>{{767,354},{68,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/autolevelup/txt_autolv4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,20}</string>
                <key>spriteSourceSize</key>
                <string>{83,20}</string>
                <key>textureRect</key>
                <string>{{518,339},{83,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/autolevelup/txt_autolv4_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,21}</string>
                <key>spriteSourceSize</key>
                <string>{101,21}</string>
                <key>textureRect</key>
                <string>{{379,339},{101,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/autolevelup/txt_autolv5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,21}</string>
                <key>spriteSourceSize</key>
                <string>{65,21}</string>
                <key>textureRect</key>
                <string>{{825,419},{65,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/autolevelup/txt_autolv5_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,18}</string>
                <key>spriteSourceSize</key>
                <string>{89,18}</string>
                <key>textureRect</key>
                <string>{{300,444},{89,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/autolevelup/txt_autolv6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,21}</string>
                <key>spriteSourceSize</key>
                <string>{99,21}</string>
                <key>textureRect</key>
                <string>{{391,442},{99,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/autolevelup/txt_autolv6_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,17}</string>
                <key>spriteSourceSize</key>
                <string>{121,17}</string>
                <key>textureRect</key>
                <string>{{774,1},{121,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/autolevelup/txt_autolv7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,18}</string>
                <key>spriteSourceSize</key>
                <string>{58,18}</string>
                <key>textureRect</key>
                <string>{{709,320},{58,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/autolevelup/txt_autolv7_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,19}</string>
                <key>spriteSourceSize</key>
                <string>{89,19}</string>
                <key>textureRect</key>
                <string>{{1,444},{89,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/autolevelup/txt_autolv8_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,24}</string>
                <key>spriteSourceSize</key>
                <string>{114,24}</string>
                <key>textureRect</key>
                <string>{{774,248},{114,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/autolevelup/txt_autolv8_off_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,19}</string>
                <key>spriteSourceSize</key>
                <string>{84,19}</string>
                <key>textureRect</key>
                <string>{{92,444},{84,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/autolevelup/txt_autolv8_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,24}</string>
                <key>spriteSourceSize</key>
                <string>{114,24}</string>
                <key>textureRect</key>
                <string>{{774,274},{114,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/autolevelup/txt_autolv8_on_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,19}</string>
                <key>spriteSourceSize</key>
                <string>{84,19}</string>
                <key>textureRect</key>
                <string>{{178,444},{84,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/autolevelup/txt_autolv9</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,20}</string>
                <key>spriteSourceSize</key>
                <string>{78,20}</string>
                <key>textureRect</key>
                <string>{{709,380},{78,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/autolevelup/txt_autolv9_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,18}</string>
                <key>spriteSourceSize</key>
                <string>{86,18}</string>
                <key>textureRect</key>
                <string>{{540,339},{86,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/autolevelup/txt_autolv_lv19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,16}</string>
                <key>spriteSourceSize</key>
                <string>{17,16}</string>
                <key>textureRect</key>
                <string>{{825,442},{17,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/autolevelup/txt_autolv_lv35</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,16}</string>
                <key>spriteSourceSize</key>
                <string>{19,16}</string>
                <key>textureRect</key>
                <string>{{264,444},{19,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/autolevelup/txt_autolv_lv45</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,16}</string>
                <key>spriteSourceSize</key>
                <string>{19,16}</string>
                <key>textureRect</key>
                <string>{{282,444},{19,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/autolevelup/txt_autolv_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,13}</string>
                <key>spriteSourceSize</key>
                <string>{21,13}</string>
                <key>textureRect</key>
                <string>{{881,300},{21,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/autolevelup/txt_autolv_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,10}</string>
                <key>spriteSourceSize</key>
                <string>{18,10}</string>
                <key>textureRect</key>
                <string>{{881,380},{18,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>autolevelup.pvr.ccz</string>
            <key>size</key>
            <string>{896,464}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bb3ad3ce40c08e1b0ae7e9faf050414:8fb63be138b0efd186e9f11236545de1:396eb37b2770721f0d855ae747961084$</string>
            <key>textureFileName</key>
            <string>autolevelup.pvr.ccz</string>
        </dict>
    </dict>
</plist>
