<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/battlefield_challenge/back_bot</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{803,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{803,85}}</string>
                <key>sourceSize</key>
                <string>{803,85}</string>
            </dict>
            <key>scene/battlefield_challenge/back_mission1</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{691,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{691,283}}</string>
                <key>sourceSize</key>
                <string>{691,283}</string>
            </dict>
            <key>scene/battlefield_challenge/back_mission2</key>
            <dict>
                <key>frame</key>
                <string>{{807,2},{208,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,193}}</string>
                <key>sourceSize</key>
                <string>{208,193}</string>
            </dict>
            <key>scene/battlefield_challenge/back_result</key>
            <dict>
                <key>frame</key>
                <string>{{194,681},{284,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,162}}</string>
                <key>sourceSize</key>
                <string>{284,162}</string>
            </dict>
            <key>scene/battlefield_challenge/back_result1</key>
            <dict>
                <key>frame</key>
                <string>{{358,681},{284,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,33}}</string>
                <key>sourceSize</key>
                <string>{284,33}</string>
            </dict>
            <key>scene/battlefield_challenge/back_result2</key>
            <dict>
                <key>frame</key>
                <string>{{427,681},{284,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,32}}</string>
                <key>sourceSize</key>
                <string>{284,32}</string>
            </dict>
            <key>scene/battlefield_challenge/back_result3</key>
            <dict>
                <key>frame</key>
                <string>{{393,681},{284,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,32}}</string>
                <key>sourceSize</key>
                <string>{284,32}</string>
            </dict>
            <key>scene/battlefield_challenge/back_title</key>
            <dict>
                <key>frame</key>
                <string>{{923,197},{220,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,72}}</string>
                <key>sourceSize</key>
                <string>{220,72}</string>
            </dict>
            <key>scene/battlefield_challenge/bt_atk_off</key>
            <dict>
                <key>frame</key>
                <string>{{923,500},{48,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,53}}</string>
                <key>sourceSize</key>
                <string>{48,53}</string>
            </dict>
            <key>scene/battlefield_challenge/bt_atk_on</key>
            <dict>
                <key>frame</key>
                <string>{{923,450},{48,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,53}}</string>
                <key>sourceSize</key>
                <string>{48,53}</string>
            </dict>
            <key>scene/battlefield_challenge/bt_enemyparty</key>
            <dict>
                <key>frame</key>
                <string>{{873,964},{48,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,53}}</string>
                <key>sourceSize</key>
                <string>{48,53}</string>
            </dict>
            <key>scene/battlefield_challenge/bt_mission</key>
            <dict>
                <key>frame</key>
                <string>{{662,964},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>scene/battlefield_challenge/bt_party_atk</key>
            <dict>
                <key>frame</key>
                <string>{{494,972},{49,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,56}}</string>
                <key>sourceSize</key>
                <string>{49,56}</string>
            </dict>
            <key>scene/battlefield_challenge/bt_party_def</key>
            <dict>
                <key>frame</key>
                <string>{{436,972},{49,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,56}}</string>
                <key>sourceSize</key>
                <string>{49,56}</string>
            </dict>
            <key>scene/battlefield_challenge/bt_quick1</key>
            <dict>
                <key>frame</key>
                <string>{{612,964},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,58}}</string>
                <key>sourceSize</key>
                <string>{48,58}</string>
            </dict>
            <key>scene/battlefield_challenge/bt_quick2</key>
            <dict>
                <key>frame</key>
                <string>{{552,972},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,58}}</string>
                <key>sourceSize</key>
                <string>{48,58}</string>
            </dict>
            <key>scene/battlefield_challenge/buff_line</key>
            <dict>
                <key>frame</key>
                <string>{{1017,2},{677,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{677,3}}</string>
                <key>sourceSize</key>
                <string>{677,3}</string>
            </dict>
            <key>scene/battlefield_challenge/guard_lose</key>
            <dict>
                <key>frame</key>
                <string>{{923,550},{46,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,53}}</string>
                <key>sourceSize</key>
                <string>{46,53}</string>
            </dict>
            <key>scene/battlefield_challenge/hpgage</key>
            <dict>
                <key>frame</key>
                <string>{{194,967},{104,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,15}}</string>
                <key>sourceSize</key>
                <string>{104,15}</string>
            </dict>
            <key>scene/battlefield_challenge/hpgage_bg</key>
            <dict>
                <key>frame</key>
                <string>{{997,197},{106,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,17}}</string>
                <key>sourceSize</key>
                <string>{106,17}</string>
            </dict>
            <key>scene/battlefield_challenge/icon_pow</key>
            <dict>
                <key>frame</key>
                <string>{{879,197},{29,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,35}}</string>
                <key>sourceSize</key>
                <string>{29,35}</string>
            </dict>
            <key>scene/battlefield_challenge/party_line</key>
            <dict>
                <key>frame</key>
                <string>{{916,197},{175,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,3}}</string>
                <key>sourceSize</key>
                <string>{175,3}</string>
            </dict>
            <key>scene/battlefield_challenge/rank1</key>
            <dict>
                <key>frame</key>
                <string>{{825,964},{46,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,55}}</string>
                <key>sourceSize</key>
                <string>{46,55}</string>
            </dict>
            <key>scene/battlefield_challenge/rank2</key>
            <dict>
                <key>frame</key>
                <string>{{777,964},{46,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,55}}</string>
                <key>sourceSize</key>
                <string>{46,55}</string>
            </dict>
            <key>scene/battlefield_challenge/rank3</key>
            <dict>
                <key>frame</key>
                <string>{{729,964},{46,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,55}}</string>
                <key>sourceSize</key>
                <string>{46,55}</string>
            </dict>
            <key>scene/battlefield_challenge/reward_line</key>
            <dict>
                <key>frame</key>
                <string>{{300,967},{3,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,258}}</string>
                <key>sourceSize</key>
                <string>{3,258}</string>
            </dict>
            <key>scene/battlefield_challenge/star</key>
            <dict>
                <key>frame</key>
                <string>{{978,544},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>scene/battlefield_challenge/tag_dragon_info_box</key>
            <dict>
                <key>frame</key>
                <string>{{670,681},{207,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,281}}</string>
                <key>sourceSize</key>
                <string>{207,281}</string>
            </dict>
            <key>scene/battlefield_challenge/tag_dragon_info_box_off</key>
            <dict>
                <key>frame</key>
                <string>{{461,681},{207,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,281}}</string>
                <key>sourceSize</key>
                <string>{207,281}</string>
            </dict>
            <key>scene/battlefield_challenge/tap_green</key>
            <dict>
                <key>frame</key>
                <string>{{879,438},{103,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,32}}</string>
                <key>sourceSize</key>
                <string>{103,32}</string>
            </dict>
            <key>scene/battlefield_challenge/tap_grey</key>
            <dict>
                <key>frame</key>
                <string>{{879,333},{103,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,32}}</string>
                <key>sourceSize</key>
                <string>{103,32}</string>
            </dict>
            <key>scene/battlefield_challenge/tap_red</key>
            <dict>
                <key>frame</key>
                <string>{{879,228},{103,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,32}}</string>
                <key>sourceSize</key>
                <string>{103,32}</string>
            </dict>
            <key>scene/battlefield_challenge/title_buff</key>
            <dict>
                <key>frame</key>
                <string>{{234,984},{200,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,38}}</string>
                <key>sourceSize</key>
                <string>{200,38}</string>
            </dict>
            <key>scene/battlefield_challenge/title_party_atk1</key>
            <dict>
                <key>frame</key>
                <string>{{130,681},{301,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,62}}</string>
                <key>sourceSize</key>
                <string>{301,62}</string>
            </dict>
            <key>scene/battlefield_challenge/title_party_def1</key>
            <dict>
                <key>frame</key>
                <string>{{66,681},{301,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,62}}</string>
                <key>sourceSize</key>
                <string>{301,62}</string>
            </dict>
            <key>scene/battlefield_challenge/title_party_enemy1</key>
            <dict>
                <key>frame</key>
                <string>{{2,681},{301,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,62}}</string>
                <key>sourceSize</key>
                <string>{301,62}</string>
            </dict>
            <key>scene/battlefield_challenge/title_reward</key>
            <dict>
                <key>frame</key>
                <string>{{2,984},{230,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,38}}</string>
                <key>sourceSize</key>
                <string>{230,38}</string>
            </dict>
            <key>scene/battlefield_challenge/txt_buff</key>
            <dict>
                <key>frame</key>
                <string>{{997,305},{37,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,17}}</string>
                <key>sourceSize</key>
                <string>{37,17}</string>
            </dict>
            <key>scene/battlefield_challenge/txt_guard1</key>
            <dict>
                <key>frame</key>
                <string>{{978,497},{45,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,28}}</string>
                <key>sourceSize</key>
                <string>{45,28}</string>
            </dict>
            <key>scene/battlefield_challenge/txt_guard2</key>
            <dict>
                <key>frame</key>
                <string>{{978,450},{45,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,28}}</string>
                <key>sourceSize</key>
                <string>{45,28}</string>
            </dict>
            <key>scene/battlefield_challenge/txt_title</key>
            <dict>
                <key>frame</key>
                <string>{{913,419},{102,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,29}}</string>
                <key>sourceSize</key>
                <string>{102,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battlefield_challenge.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d855d8962c1ed1ec0df8794b6142c9e:befaa32ab5e683dd8ac968206b087ad9:427e3b799e7f602e66284e674287f220$</string>
            <key>textureFileName</key>
            <string>battlefield_challenge.pvr.ccz</string>
        </dict>
    </dict>
</plist>
