<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/breed/ani_breeding1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{40,33}</string>
                <key>spriteSourceSize</key>
                <string>{42,39}</string>
                <key>textureRect</key>
                <string>{{617,439},{40,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/breed/ani_breeding2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{40,39}</string>
                <key>spriteSourceSize</key>
                <string>{42,39}</string>
                <key>textureRect</key>
                <string>{{419,424},{40,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/breed/ani_breeding3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{40,39}</string>
                <key>spriteSourceSize</key>
                <string>{42,39}</string>
                <key>textureRect</key>
                <string>{{721,405},{40,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/breed/box_timer</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,37}</string>
                <key>spriteSourceSize</key>
                <string>{102,37}</string>
                <key>textureRect</key>
                <string>{{617,361},{102,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/breed/box_timer2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,37}</string>
                <key>spriteSourceSize</key>
                <string>{102,37}</string>
                <key>textureRect</key>
                <string>{{617,400},{102,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/breed/breed_deco</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,53}</string>
                <key>spriteSourceSize</key>
                <string>{246,53}</string>
                <key>textureRect</key>
                <string>{{1,387},{246,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/breed/breed_heart</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,27}</string>
                <key>spriteSourceSize</key>
                <string>{35,27}</string>
                <key>textureRect</key>
                <string>{{461,424},{35,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/breed/breed_text_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,24}</string>
                <key>spriteSourceSize</key>
                <string>{480,24}</string>
                <key>textureRect</key>
                <string>{{1,361},{480,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/breed/dark_effect</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{358,358}</string>
                <key>spriteSourceSize</key>
                <string>{360,360}</string>
                <key>textureRect</key>
                <string>{{1,1},{358,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/breed/light_effect</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{358,358}</string>
                <key>spriteSourceSize</key>
                <string>{360,360}</string>
                <key>textureRect</key>
                <string>{{361,1},{358,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/breed/time_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,21}</string>
                <key>spriteSourceSize</key>
                <string>{75,21}</string>
                <key>textureRect</key>
                <string>{{1,442},{75,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/breed/txt_breeding</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{402,95}</string>
                <key>spriteSourceSize</key>
                <string>{408,103}</string>
                <key>textureRect</key>
                <string>{{721,1},{402,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/breed/txt_breeding_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,35}</string>
                <key>spriteSourceSize</key>
                <string>{244,35}</string>
                <key>textureRect</key>
                <string>{{249,387},{244,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/breed/txt_success</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,33}</string>
                <key>spriteSourceSize</key>
                <string>{168,33}</string>
                <key>textureRect</key>
                <string>{{249,424},{168,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/breed/txt_tip</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,19}</string>
                <key>spriteSourceSize</key>
                <string>{31,19}</string>
                <key>textureRect</key>
                <string>{{78,442},{31,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/breed/world_breed</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,111}</string>
                <key>spriteSourceSize</key>
                <string>{120,111}</string>
                <key>textureRect</key>
                <string>{{495,361},{120,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>breed.pvr.ccz</string>
            <key>size</key>
            <string>{817,473}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:add66a30d7017e4164bf48292fad9a39:2fc77992be6c44b0db551420239d6168:e3ff94b358b8f5771575f7800d9428f6$</string>
            <key>textureFileName</key>
            <string>breed.pvr.ccz</string>
        </dict>
    </dict>
</plist>
