<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/cardtrade/card_back</key>
            <dict>
                <key>frame</key>
                <string>{{185,426},{524,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,153}}</string>
                <key>sourceSize</key>
                <string>{524,153}</string>
            </dict>
            <key>scene/cardtrade/card_back_select</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{550,181}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{550,181}}</string>
                <key>sourceSize</key>
                <string>{554,189}</string>
            </dict>
            <key>scene/cardtrade/card_buy</key>
            <dict>
                <key>frame</key>
                <string>{{554,131},{95,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,88}}</string>
                <key>sourceSize</key>
                <string>{95,88}</string>
            </dict>
            <key>scene/cardtrade/card_select</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{128,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{128,170}}</string>
                <key>sourceSize</key>
                <string>{140,182}</string>
            </dict>
            <key>scene/cardtrade/elemental_off</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{256,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,39}}</string>
                <key>sourceSize</key>
                <string>{256,39}</string>
            </dict>
            <key>scene/cardtrade/main_bg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{550,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,422}}</string>
                <key>sourceSize</key>
                <string>{550,422}</string>
            </dict>
            <key>scene/cardtrade/need_card_bg</key>
            <dict>
                <key>frame</key>
                <string>{{2,978},{170,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,44}}</string>
                <key>sourceSize</key>
                <string>{170,44}</string>
            </dict>
            <key>scene/cardtrade/trade_tab_off</key>
            <dict>
                <key>frame</key>
                <string>{{307,952},{131,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,41}}</string>
                <key>sourceSize</key>
                <string>{131,41}</string>
            </dict>
            <key>scene/cardtrade/trade_tab_on</key>
            <dict>
                <key>frame</key>
                <string>{{174,978},{131,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,41}}</string>
                <key>sourceSize</key>
                <string>{131,41}</string>
            </dict>
            <key>scene/cardtrade/txt_sold_out</key>
            <dict>
                <key>frame</key>
                <string>{{554,43},{235,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,86}}</string>
                <key>sourceSize</key>
                <string>{235,86}</string>
            </dict>
            <key>scene/cardtrade/user_name_bg</key>
            <dict>
                <key>frame</key>
                <string>{{185,952},{116,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,23}}</string>
                <key>sourceSize</key>
                <string>{116,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cardtrade.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d09f3a45c0c4e7be6bb5d0a752338df3:e296b1aa9676685b736299fb8b7f83b9:ada2e3ea95563b9e694ec6ad01ee39a5$</string>
            <key>textureFileName</key>
            <string>cardtrade.pvr.ccz</string>
        </dict>
    </dict>
</plist>
