<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/christmas2020/bt_blue</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,40}</string>
                <key>spriteSourceSize</key>
                <string>{120,40}</string>
                <key>textureRect</key>
                <string>{{33,217},{120,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/christmas2020/bt_red</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,40}</string>
                <key>spriteSourceSize</key>
                <string>{120,40}</string>
                <key>textureRect</key>
                <string>{{33,259},{120,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/christmas2020/frame_xmas_itembg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,207}</string>
                <key>spriteSourceSize</key>
                <string>{214,207}</string>
                <key>textureRect</key>
                <string>{{33,1},{214,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/christmas2020/frame_xmasbg1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{690,30}</string>
                <key>spriteSourceSize</key>
                <string>{690,30}</string>
                <key>textureRect</key>
                <string>{{1,1},{690,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/christmas2020/frame_xmasbg2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,23}</string>
                <key>spriteSourceSize</key>
                <string>{94,23}</string>
                <key>textureRect</key>
                <string>{{33,301},{94,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/christmas2020/title_xmas_ballopen</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,84}</string>
                <key>spriteSourceSize</key>
                <string>{285,84}</string>
                <key>textureRect</key>
                <string>{{155,217},{285,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>christmas2020.pvr.ccz</string>
            <key>size</key>
            <string>{241,692}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4e53dae489cadfa20ac141516647a27:f801c7abc60e0e63aed78d954d8f865b:9866cee732e7f01a52fdff99073fcd2b$</string>
            <key>textureFileName</key>
            <string>christmas2020.pvr.ccz</string>
        </dict>
    </dict>
</plist>
