<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/conquest/bg_conquest</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,251}</string>
                <key>spriteSourceSize</key>
                <string>{472,255}</string>
                <key>textureRect</key>
                <string>{{1,832},{468,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/conquest/bg_conquest_alert</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{446,178}</string>
                <key>spriteSourceSize</key>
                <string>{450,182}</string>
                <key>textureRect</key>
                <string>{{492,483},{446,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/conquest/bg_conquest_alert_info</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,72}</string>
                <key>spriteSourceSize</key>
                <string>{284,76}</string>
                <key>textureRect</key>
                <string>{{471,931},{280,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/conquest/bg_conquest_info</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{403,72}</string>
                <key>spriteSourceSize</key>
                <string>{407,76}</string>
                <key>textureRect</key>
                <string>{{770,483},{403,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/conquest/bg_reward</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{489,347}</string>
                <key>spriteSourceSize</key>
                <string>{489,351}</string>
                <key>textureRect</key>
                <string>{{1,483},{489,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/conquest/bg_reward_info</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{419,169}</string>
                <key>spriteSourceSize</key>
                <string>{425,173}</string>
                <key>textureRect</key>
                <string>{{1,1085},{419,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/conquest/bg_reward_info_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{399,72}</string>
                <key>spriteSourceSize</key>
                <string>{405,76}</string>
                <key>textureRect</key>
                <string>{{422,1104},{399,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/conquest/btn_calc</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,37}</string>
                <key>spriteSourceSize</key>
                <string>{64,39}</string>
                <key>textureRect</key>
                <string>{{757,1002},{62,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/conquest/btn_calc_left</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,43}</string>
                <key>spriteSourceSize</key>
                <string>{42,47}</string>
                <key>textureRect</key>
                <string>{{672,886},{38,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/conquest/btn_calc_right</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,44}</string>
                <key>spriteSourceSize</key>
                <string>{43,48}</string>
                <key>textureRect</key>
                <string>{{803,429},{39,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/conquest/btn_cancel</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,44}</string>
                <key>spriteSourceSize</key>
                <string>{114,46}</string>
                <key>textureRect</key>
                <string>{{753,888},{112,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/conquest/btn_ok</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,44}</string>
                <key>spriteSourceSize</key>
                <string>{114,46}</string>
                <key>textureRect</key>
                <string>{{799,888},{112,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/conquest/btn_reward_ok</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,45}</string>
                <key>spriteSourceSize</key>
                <string>{151,47}</string>
                <key>textureRect</key>
                <string>{{650,1178},{149,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/conquest/img_ribbon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{401,96}</string>
                <key>spriteSourceSize</key>
                <string>{403,98}</string>
                <key>textureRect</key>
                <string>{{672,483},{401,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/conquest/label_cancel</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,20}</string>
                <key>spriteSourceSize</key>
                <string>{34,22}</string>
                <key>textureRect</key>
                <string>{{801,1178},{32,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/conquest/label_cancel_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,17}</string>
                <key>spriteSourceSize</key>
                <string>{63,19}</string>
                <key>textureRect</key>
                <string>{{774,1041},{61,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/conquest/label_ok</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,20}</string>
                <key>spriteSourceSize</key>
                <string>{34,22}</string>
                <key>textureRect</key>
                <string>{{712,886},{32,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/conquest/label_ok_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,17}</string>
                <key>spriteSourceSize</key>
                <string>{28,19}</string>
                <key>textureRect</key>
                <string>{{422,1085},{26,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/conquest/label_reward_ok</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,23}</string>
                <key>spriteSourceSize</key>
                <string>{34,25}</string>
                <key>textureRect</key>
                <string>{{422,1226},{34,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/conquest/label_reward_ok_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,19}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{471,832},{30,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/conquest/label_title</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,38}</string>
                <key>spriteSourceSize</key>
                <string>{131,40}</string>
                <key>textureRect</key>
                <string>{{803,298},{129,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/conquest/label_title_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,46}</string>
                <key>spriteSourceSize</key>
                <string>{303,48}</string>
                <key>textureRect</key>
                <string>{{471,1056},{301,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/conquest/label_title_en_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,49}</string>
                <key>spriteSourceSize</key>
                <string>{286,51}</string>
                <key>textureRect</key>
                <string>{{471,1005},{284,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/conquest/main_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,480}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/conquest/txt_autoreward</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,46}</string>
                <key>spriteSourceSize</key>
                <string>{226,46}</string>
                <key>textureRect</key>
                <string>{{422,1178},{226,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/conquest/txt_autoreward_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,36}</string>
                <key>spriteSourceSize</key>
                <string>{295,36}</string>
                <key>textureRect</key>
                <string>{{803,1},{295,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>conquest.pvr.ccz</string>
            <key>size</key>
            <string>{844,1255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d0fda2f5124cf1cfbecb70e22f3f40c:80272fc78794053f2a62b9e1ac32d3f8:1e429bce5e9f64e0163bfbc2eeb158fc$</string>
            <key>textureFileName</key>
            <string>conquest.pvr.ccz</string>
        </dict>
    </dict>
</plist>
