<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/drawer/frame_drawer_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,343}</string>
                <key>spriteSourceSize</key>
                <string>{232,343}</string>
                <key>textureRect</key>
                <string>{{1,1},{232,343}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/drawer/frame_drawerline</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,1}</string>
                <key>spriteSourceSize</key>
                <string>{210,1}</string>
                <key>textureRect</key>
                <string>{{1,235},{210,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_ad</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{43,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{507,125},{43,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_ad_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{43,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{550,187},{43,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_attendance</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{346,187},{53,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_attendance_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,58}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{597,63},{57,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_book</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{456,187},{45,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_book_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{503,187},{45,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_cave</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{53,58}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{597,123},{53,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_cave_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{53,58}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{638,183},{53,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_friend</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{55,56}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{703,121},{55,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_friend_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{55,56}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{707,61},{55,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_guild</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{43,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{552,1},{43,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_guild_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{458,1},{45,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_help</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{552,63},{43,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_help_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{552,125},{43,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_mail</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{49,58}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{652,123},{49,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_mail_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{49,58}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{656,61},{49,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_menu</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{458,63},{45,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_menu_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{505,1},{45,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_notice</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{41,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{595,187},{41,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_notice_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{346,63},{55,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_option</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{699,1},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_option_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{57,58}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{640,1},{57,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_quest</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{45,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{505,63},{45,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_quest_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{401,187},{53,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_raid</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{405,1},{51,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_raid_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{403,125},{51,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_ranking</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{47,56}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{760,119},{47,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_ranking_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{57,56}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{693,183},{57,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/drawer/icon_drawer_skin</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{53,56}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{744,1},{53,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_skin_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{53,56}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{751,179},{53,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_wanderer</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{403,63},{53,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_wanderer_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{346,1},{57,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_world</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{597,1},{41,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_world_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{346,125},{55,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_free_ad</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{456,125},{49,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/pop3_3_bg_opa</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{764,59},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>drawer.pvr.ccz</string>
            <key>size</key>
            <string>{808,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aeb7e18a8bf1fe11c455111a4009b22c:90172368ea7454569173555b924c96bd:d5cbe8b6ee2057909488ecf373a82123$</string>
            <key>textureFileName</key>
            <string>drawer.pvr.ccz</string>
        </dict>
    </dict>
</plist>
