<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/drawer/frame_drawer_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,343}</string>
                <key>spriteSourceSize</key>
                <string>{232,343}</string>
                <key>textureRect</key>
                <string>{{1,1},{232,343}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/drawer/frame_drawerline</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,1}</string>
                <key>spriteSourceSize</key>
                <string>{210,1}</string>
                <key>textureRect</key>
                <string>{{1,235},{210,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_ad</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{43,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{515,63},{43,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_ad_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{43,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{560,59},{43,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_attendance</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{405,63},{53,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_attendance_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,58}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{346,63},{57,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_book</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{568,121},{45,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_book_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{605,56},{45,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_cave</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{53,58}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{346,183},{53,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_cave_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{53,58}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{401,183},{53,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_friend</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{55,56}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{405,125},{55,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_friend_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{55,56}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{462,125},{55,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_guild</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{43,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{615,118},{43,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_guild_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{660,112},{45,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_help</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{754,112},{43,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_help_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{642,180},{43,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_lab</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{37,56}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{762,54},{37,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_lab_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{37,56}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{603,183},{37,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_mail</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{49,58}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{456,183},{49,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_mail_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{49,58}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{507,183},{49,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_menu</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{707,112},{45,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_menu_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{687,174},{45,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_notice</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{41,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{781,174},{41,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/drawer/icon_drawer_notice_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{405,1},{55,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_option</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{558,183},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_option_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{57,58}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{346,123},{57,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_quest</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{45,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{734,174},{45,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_quest_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{460,63},{53,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_raid</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{640,1},{51,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/drawer/icon_drawer_raid_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{702,1},{51,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/drawer/icon_drawer_ranking</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{47,56}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{519,125},{47,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_ranking_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{57,56}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{519,1},{57,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_skin</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{53,56}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{652,54},{53,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_skin_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{53,56}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{707,54},{53,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_wanderer</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{578,1},{53,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/drawer/icon_drawer_wanderer_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{346,1},{57,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_world</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{799,112},{41,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_drawer_world_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{462,1},{55,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/drawer/icon_free_ad</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{764,1},{49,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/drawer/pop3_3_bg_opa</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{801,52},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>drawer.pvr.ccz</string>
            <key>size</key>
            <string>{842,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7fa2a28ae57a906d3175bc2849107ca:09ac0a07e9111b5166020e47a672b006:d5cbe8b6ee2057909488ecf373a82123$</string>
            <key>textureFileName</key>
            <string>drawer.pvr.ccz</string>
        </dict>
    </dict>
</plist>
