<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/dream/bt_archa</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,96}</string>
                <key>spriteSourceSize</key>
                <string>{99,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{99,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/dream/bt_archa_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,96}</string>
                <key>spriteSourceSize</key>
                <string>{99,96}</string>
                <key>textureRect</key>
                <string>{{1,102},{99,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/dream/bt_archa_entrance</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,89}</string>
                <key>spriteSourceSize</key>
                <string>{93,89}</string>
                <key>textureRect</key>
                <string>{{1,203},{93,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/dream/bt_archa_entrance_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,89}</string>
                <key>spriteSourceSize</key>
                <string>{93,89}</string>
                <key>textureRect</key>
                <string>{{1,294},{93,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/dream/icon_eclipse_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,69}</string>
                <key>spriteSourceSize</key>
                <string>{62,69}</string>
                <key>textureRect</key>
                <string>{{1,649},{62,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/dream/icon_eclipse_dice</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,63}</string>
                <key>spriteSourceSize</key>
                <string>{65,63}</string>
                <key>textureRect</key>
                <string>{{1,713},{65,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/dream/leader01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,84}</string>
                <key>spriteSourceSize</key>
                <string>{170,84}</string>
                <key>textureRect</key>
                <string>{{1,477},{170,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/dream/leader02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1,385},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>dream.pvr.ccz</string>
            <key>size</key>
            <string>{98,777}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19e03acd79b694c68ff4a44b1cd8516d:518eb00aebcf6c8039484b01b0f58037:993fd9d4a04116f878b0e26618ff0d04$</string>
            <key>textureFileName</key>
            <string>dream.pvr.ccz</string>
        </dict>
    </dict>
</plist>
