<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/dungeon/castle_tab_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,41}</string>
                <key>spriteSourceSize</key>
                <string>{131,41}</string>
                <key>textureRect</key>
                <string>{{1896,479},{131,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/dungeon/castle_tab_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,41}</string>
                <key>spriteSourceSize</key>
                <string>{131,41}</string>
                <key>textureRect</key>
                <string>{{1869,684},{131,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/dungeon/dungeon_boss1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,0}</string>
                <key>spriteSize</key>
                <string>{392,350}</string>
                <key>spriteSourceSize</key>
                <string>{500,352}</string>
                <key>textureRect</key>
                <string>{{1,531},{392,350}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/dungeon/dungeon_boss2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59,0}</string>
                <key>spriteSize</key>
                <string>{382,350}</string>
                <key>spriteSourceSize</key>
                <string>{500,352}</string>
                <key>textureRect</key>
                <string>{{807,483},{382,350}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/dungeon/dungeon_boss3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,0}</string>
                <key>spriteSize</key>
                <string>{452,350}</string>
                <key>spriteSourceSize</key>
                <string>{500,352}</string>
                <key>textureRect</key>
                <string>{{353,531},{452,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/dungeon/dungeon_boss4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-2}</string>
                <key>spriteSize</key>
                <string>{448,346}</string>
                <key>spriteSourceSize</key>
                <string>{500,352}</string>
                <key>textureRect</key>
                <string>{{1161,343},{448,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/dungeon/dungeon_boss5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{500,340}</string>
                <key>spriteSourceSize</key>
                <string>{500,352}</string>
                <key>textureRect</key>
                <string>{{1161,1},{500,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/dungeon/dungeon_name_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,47}</string>
                <key>spriteSourceSize</key>
                <string>{170,47}</string>
                <key>textureRect</key>
                <string>{{1896,307},{170,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/dungeon/effect_move_dungeon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,480}</string>
                <key>spriteSourceSize</key>
                <string>{578,480}</string>
                <key>textureRect</key>
                <string>{{1,1},{578,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/dungeon/effect_move_village</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,480}</string>
                <key>spriteSourceSize</key>
                <string>{578,480}</string>
                <key>textureRect</key>
                <string>{{581,1},{578,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/dungeon/item_list_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,42}</string>
                <key>spriteSourceSize</key>
                <string>{267,42}</string>
                <key>textureRect</key>
                <string>{{807,867},{267,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/dungeon/under_castle3_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,46}</string>
                <key>spriteSourceSize</key>
                <string>{800,46}</string>
                <key>textureRect</key>
                <string>{{1,483},{800,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/dungeon/w_dv1_dungeon_castle</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{283,339}</string>
                <key>spriteSourceSize</key>
                <string>{301,339}</string>
                <key>textureRect</key>
                <string>{{1611,343},{283,339}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/dungeon/w_dv1_dungeon_dark</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{234,238}</string>
                <key>spriteSourceSize</key>
                <string>{258,248}</string>
                <key>textureRect</key>
                <string>{{1629,684},{234,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/dungeon/w_dv1_dungeon_grave</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,215}</string>
                <key>spriteSourceSize</key>
                <string>{243,215}</string>
                <key>textureRect</key>
                <string>{{1159,691},{243,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/dungeon/w_dv1_dungeon_tree</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{223,219}</string>
                <key>spriteSourceSize</key>
                <string>{247,227}</string>
                <key>textureRect</key>
                <string>{{1404,691},{223,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/dungeon/w_dv1_dungeon_underworld</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{304,280}</string>
                <key>spriteSourceSize</key>
                <string>{304,292}</string>
                <key>textureRect</key>
                <string>{{1663,1},{304,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>dungeon.pvr.ccz</string>
            <key>size</key>
            <string>{1944,924}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b47dd7091dec610d89390e96bd3f585:fc505499dae631f9a39c70c8fd6ba84d:2c04de158bb01e641d9f47edafb2124c$</string>
            <key>textureFileName</key>
            <string>dungeon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
