<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/eggshop/bt_cardshop1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,49}</string>
                <key>spriteSourceSize</key>
                <string>{136,49}</string>
                <key>textureRect</key>
                <string>{{1123,790},{136,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/eggshop/bt_cardshop2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,49}</string>
                <key>spriteSourceSize</key>
                <string>{136,49}</string>
                <key>textureRect</key>
                <string>{{1123,928},{136,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/eggshop/bt_cardshop_add</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1123,1105},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/bt_cardshop_dia1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,80}</string>
                <key>spriteSourceSize</key>
                <string>{174,80}</string>
                <key>textureRect</key>
                <string>{{962,595},{174,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/eggshop/bt_cardshop_dia2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,80}</string>
                <key>spriteSourceSize</key>
                <string>{174,80}</string>
                <key>textureRect</key>
                <string>{{1044,595},{174,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/eggshop/bt_cardshop_info</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,39}</string>
                <key>spriteSourceSize</key>
                <string>{37,39}</string>
                <key>textureRect</key>
                <string>{{1123,1066},{37,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/eggshop/bt_cardshop_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,56}</string>
                <key>spriteSourceSize</key>
                <string>{170,56}</string>
                <key>textureRect</key>
                <string>{{1126,595},{170,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/eggshop/bt_cardshop_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,56}</string>
                <key>spriteSourceSize</key>
                <string>{170,56}</string>
                <key>textureRect</key>
                <string>{{1415,1142},{170,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/bt_eggshop</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,61}</string>
                <key>spriteSourceSize</key>
                <string>{75,61}</string>
                <key>textureRect</key>
                <string>{{1184,683},{75,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/eggshop/ef_gacha10_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{1184,595},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/ef_gacha1_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,330}</string>
                <key>spriteSourceSize</key>
                <string>{211,330}</string>
                <key>textureRect</key>
                <string>{{1550,751},{211,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/frame_cardshopbg1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,480}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/eggshop/frame_cardshopbg2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{796,477}</string>
                <key>spriteSourceSize</key>
                <string>{796,477}</string>
                <key>textureRect</key>
                <string>{{483,1},{796,477}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/eggshop/frame_cardshopbg3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{592,448}</string>
                <key>spriteSourceSize</key>
                <string>{592,448}</string>
                <key>textureRect</key>
                <string>{{962,1},{592,448}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/eggshop/frame_diabg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,32}</string>
                <key>spriteSourceSize</key>
                <string>{154,32}</string>
                <key>textureRect</key>
                <string>{{503,1178},{154,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/frame_diabg2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,38}</string>
                <key>spriteSourceSize</key>
                <string>{160,38}</string>
                <key>textureRect</key>
                <string>{{758,1174},{160,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/icon_cardpack1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,373}</string>
                <key>spriteSourceSize</key>
                <string>{372,373}</string>
                <key>textureRect</key>
                <string>{{1,803},{372,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/icon_cardpack1_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,373}</string>
                <key>spriteSourceSize</key>
                <string>{372,373}</string>
                <key>textureRect</key>
                <string>{{375,803},{372,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/icon_cardpack2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,373}</string>
                <key>spriteSourceSize</key>
                <string>{372,373}</string>
                <key>textureRect</key>
                <string>{{749,799},{372,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/icon_cardpack2_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,373}</string>
                <key>spriteSourceSize</key>
                <string>{372,373}</string>
                <key>textureRect</key>
                <string>{{1176,767},{372,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/icon_dia</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,20}</string>
                <key>spriteSourceSize</key>
                <string>{24,20}</string>
                <key>textureRect</key>
                <string>{{1367,1142},{24,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/eggshop/icon_drawup</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1247,683},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/icon_golddia</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,20}</string>
                <key>spriteSourceSize</key>
                <string>{24,20}</string>
                <key>textureRect</key>
                <string>{{1374,1168},{24,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/eggshop/icon_myosotispack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,373}</string>
                <key>spriteSourceSize</key>
                <string>{372,373}</string>
                <key>textureRect</key>
                <string>{{1412,1},{372,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/icon_myosotispack_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,373}</string>
                <key>spriteSourceSize</key>
                <string>{372,373}</string>
                <key>textureRect</key>
                <string>{{1412,376},{372,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/icon_mysteyticket1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,25}</string>
                <key>spriteSourceSize</key>
                <string>{48,25}</string>
                <key>textureRect</key>
                <string>{{1012,771},{48,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/icon_mysteyticket10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,35}</string>
                <key>spriteSourceSize</key>
                <string>{53,35}</string>
                <key>textureRect</key>
                <string>{{975,1174},{53,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/icon_premiumticket1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,26}</string>
                <key>textureRect</key>
                <string>{{962,771},{48,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/icon_premiumticket10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,36}</string>
                <key>spriteSourceSize</key>
                <string>{53,36}</string>
                <key>textureRect</key>
                <string>{{920,1174},{53,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/txt_cancel</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,22}</string>
                <key>spriteSourceSize</key>
                <string>{39,22}</string>
                <key>textureRect</key>
                <string>{{1239,1187},{39,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/txt_cancel_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,20}</string>
                <key>spriteSourceSize</key>
                <string>{53,20}</string>
                <key>textureRect</key>
                <string>{{1062,771},{53,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/txt_card_pop1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,23}</string>
                <key>spriteSourceSize</key>
                <string>{225,23}</string>
                <key>textureRect</key>
                <string>{{276,1178},{225,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/txt_card_pop1_em</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,25}</string>
                <key>spriteSourceSize</key>
                <string>{273,25}</string>
                <key>textureRect</key>
                <string>{{1,1178},{273,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/txt_card_pop2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,17}</string>
                <key>spriteSourceSize</key>
                <string>{57,17}</string>
                <key>textureRect</key>
                <string>{{1117,771},{57,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/txt_card_pop2_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,16}</string>
                <key>spriteSourceSize</key>
                <string>{57,16}</string>
                <key>textureRect</key>
                <string>{{1161,1142},{57,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/txt_card_pop3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,17}</string>
                <key>spriteSourceSize</key>
                <string>{87,17}</string>
                <key>textureRect</key>
                <string>{{1108,1174},{87,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/txt_card_pop3_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,16}</string>
                <key>spriteSourceSize</key>
                <string>{89,16}</string>
                <key>textureRect</key>
                <string>{{1108,1193},{89,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/txt_card_pop4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,17}</string>
                <key>spriteSourceSize</key>
                <string>{32,17}</string>
                <key>textureRect</key>
                <string>{{1348,1142},{32,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/eggshop/txt_card_pop4_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,17}</string>
                <key>spriteSourceSize</key>
                <string>{32,17}</string>
                <key>textureRect</key>
                <string>{{1355,1176},{32,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/eggshop/txt_card_pop5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,17}</string>
                <key>spriteSourceSize</key>
                <string>{43,17}</string>
                <key>textureRect</key>
                <string>{{1284,1142},{43,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/txt_card_pop5_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,17}</string>
                <key>spriteSourceSize</key>
                <string>{43,17}</string>
                <key>textureRect</key>
                <string>{{1284,1161},{43,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/txt_card_pop6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,17}</string>
                <key>spriteSourceSize</key>
                <string>{21,17}</string>
                <key>textureRect</key>
                <string>{{1374,1194},{21,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/txt_card_pop6_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,17}</string>
                <key>spriteSourceSize</key>
                <string>{21,17}</string>
                <key>textureRect</key>
                <string>{{1389,1142},{21,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/eggshop/txt_card_pop7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,17}</string>
                <key>spriteSourceSize</key>
                <string>{33,17}</string>
                <key>textureRect</key>
                <string>{{1320,1180},{33,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/txt_card_pop7_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,17}</string>
                <key>spriteSourceSize</key>
                <string>{33,17}</string>
                <key>textureRect</key>
                <string>{{1329,1142},{33,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/eggshop/txt_cardopen1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,24}</string>
                <key>spriteSourceSize</key>
                <string>{76,24}</string>
                <key>textureRect</key>
                <string>{{1030,1174},{76,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/txt_cardopen1_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,24}</string>
                <key>spriteSourceSize</key>
                <string>{97,24}</string>
                <key>textureRect</key>
                <string>{{659,1178},{97,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/txt_cardopen2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,24}</string>
                <key>spriteSourceSize</key>
                <string>{38,24}</string>
                <key>textureRect</key>
                <string>{{1199,1187},{38,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/txt_cardopen2_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,21}</string>
                <key>spriteSourceSize</key>
                <string>{43,21}</string>
                <key>textureRect</key>
                <string>{{1236,1142},{43,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/eggshop/txt_cardopen3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,23}</string>
                <key>spriteSourceSize</key>
                <string>{37,23}</string>
                <key>textureRect</key>
                <string>{{1259,1142},{37,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/eggshop/txt_cardopen3_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,25}</string>
                <key>spriteSourceSize</key>
                <string>{37,25}</string>
                <key>textureRect</key>
                <string>{{1197,1160},{37,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/txt_ok</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,22}</string>
                <key>spriteSourceSize</key>
                <string>{38,22}</string>
                <key>textureRect</key>
                <string>{{1280,1181},{38,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/txt_ok_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,20}</string>
                <key>spriteSourceSize</key>
                <string>{32,20}</string>
                <key>textureRect</key>
                <string>{{1123,1143},{32,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/txt_x1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,17}</string>
                <key>spriteSourceSize</key>
                <string>{20,17}</string>
                <key>textureRect</key>
                <string>{{1396,1165},{20,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>eggshop.pvr.ccz</string>
            <key>size</key>
            <string>{1785,1213}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d058b3a502dd4a1b057ad3f32860f496:973c024ba473f83141e85a184e07857f:4473d06ec37240e1d0282627067068a5$</string>
            <key>textureFileName</key>
            <string>eggshop.pvr.ccz</string>
        </dict>
    </dict>
</plist>
