<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/fortune/basic_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,135}</string>
                <key>spriteSourceSize</key>
                <string>{120,135}</string>
                <key>textureRect</key>
                <string>{{1237,923},{120,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/bt_card_combine</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,109}</string>
                <key>spriteSourceSize</key>
                <string>{125,115}</string>
                <key>textureRect</key>
                <string>{{1453,1048},{121,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/bt_code</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1590,945},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/bt_egg_combine</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,116}</string>
                <key>spriteSourceSize</key>
                <string>{127,116}</string>
                <key>textureRect</key>
                <string>{{1191,1063},{127,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/bt_enchant</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{120,118}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1470,923},{120,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/bt_exchange</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,59}</string>
                <key>spriteSourceSize</key>
                <string>{183,59}</string>
                <key>textureRect</key>
                <string>{{419,552},{183,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/bt_exchange_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,59}</string>
                <key>spriteSourceSize</key>
                <string>{183,59}</string>
                <key>textureRect</key>
                <string>{{480,552},{183,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/bt_fortune_s</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,44}</string>
                <key>spriteSourceSize</key>
                <string>{140,44}</string>
                <key>textureRect</key>
                <string>{{1191,921},{140,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/bt_fortune_s_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,44}</string>
                <key>spriteSourceSize</key>
                <string>{140,44}</string>
                <key>textureRect</key>
                <string>{{1033,1198},{140,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/bt_futune</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,44}</string>
                <key>spriteSourceSize</key>
                <string>{170,44}</string>
                <key>textureRect</key>
                <string>{{1205,577},{170,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/bt_futune_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,44}</string>
                <key>spriteSourceSize</key>
                <string>{170,44}</string>
                <key>textureRect</key>
                <string>{{1205,749},{170,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/bt_heal</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{123,109}</string>
                <key>spriteSourceSize</key>
                <string>{125,115}</string>
                <key>textureRect</key>
                <string>{{1359,923},{123,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/bt_prophecy</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{96,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1564,1047},{96,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/bt_qr_code</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1522,761},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/bt_roulette</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1590,719},{120,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/bt_select_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,40}</string>
                <key>spriteSourceSize</key>
                <string>{60,40}</string>
                <key>textureRect</key>
                <string>{{1413,1186},{60,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/bt_select_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,40}</string>
                <key>spriteSourceSize</key>
                <string>{60,40}</string>
                <key>textureRect</key>
                <string>{{1522,719},{60,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/bt_slot</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,38}</string>
                <key>spriteSourceSize</key>
                <string>{31,38}</string>
                <key>textureRect</key>
                <string>{{1617,167},{31,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/card_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,196}</string>
                <key>spriteSourceSize</key>
                <string>{146,196}</string>
                <key>textureRect</key>
                <string>{{757,531},{146,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/card_combine</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,40}</string>
                <key>spriteSourceSize</key>
                <string>{538,196}</string>
                <key>textureRect</key>
                <string>{{1175,1198},{236,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/code_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,419}</string>
                <key>spriteSourceSize</key>
                <string>{528,419}</string>
                <key>textureRect</key>
                <string>{{552,1},{528,419}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/codebtn</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{186,62}</string>
                <key>spriteSourceSize</key>
                <string>{214,80}</string>
                <key>textureRect</key>
                <string>{{905,531},{186,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/codebtn_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{186,62}</string>
                <key>spriteSourceSize</key>
                <string>{214,80}</string>
                <key>textureRect</key>
                <string>{{969,531},{186,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/egg_combine</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{214,175}</string>
                <key>spriteSourceSize</key>
                <string>{390,305}</string>
                <key>textureRect</key>
                <string>{{541,552},{214,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/egg_name_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,24}</string>
                <key>spriteSourceSize</key>
                <string>{120,24}</string>
                <key>textureRect</key>
                <string>{{1617,261},{120,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/egg_name_bg2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,50}</string>
                <key>spriteSourceSize</key>
                <string>{400,50}</string>
                <key>textureRect</key>
                <string>{{1251,1},{400,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/enchant_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,-1}</string>
                <key>spriteSize</key>
                <string>{364,159}</string>
                <key>spriteSourceSize</key>
                <string>{492,161}</string>
                <key>textureRect</key>
                <string>{{1251,105},{364,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/enchant_box_gem</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,-1}</string>
                <key>spriteSize</key>
                <string>{364,159}</string>
                <key>spriteSourceSize</key>
                <string>{492,161}</string>
                <key>textureRect</key>
                <string>{{1251,266},{364,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/enchant_fail</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,105}</string>
                <key>spriteSourceSize</key>
                <string>{102,105}</string>
                <key>textureRect</key>
                <string>{{1590,841},{102,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/enchant_gold</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,50}</string>
                <key>spriteSourceSize</key>
                <string>{400,50}</string>
                <key>textureRect</key>
                <string>{{1653,1},{400,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/enchant_gold_gem</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,50}</string>
                <key>spriteSourceSize</key>
                <string>{400,50}</string>
                <key>textureRect</key>
                <string>{{1251,53},{400,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/event_codebtn</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{186,62}</string>
                <key>spriteSourceSize</key>
                <string>{214,80}</string>
                <key>textureRect</key>
                <string>{{1042,449},{186,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/event_codebtn_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{186,62}</string>
                <key>spriteSourceSize</key>
                <string>{214,80}</string>
                <key>textureRect</key>
                <string>{{1042,513},{186,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/event_discount50</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,43}</string>
                <key>spriteSourceSize</key>
                <string>{109,43}</string>
                <key>textureRect</key>
                <string>{{1522,427},{109,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/event_discount50_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,43}</string>
                <key>spriteSourceSize</key>
                <string>{109,43}</string>
                <key>textureRect</key>
                <string>{{1567,427},{109,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/gold_dia_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,48}</string>
                <key>spriteSourceSize</key>
                <string>{170,48}</string>
                <key>textureRect</key>
                <string>{{1033,799},{170,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/heal_dragon_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,156}</string>
                <key>spriteSourceSize</key>
                <string>{134,156}</string>
                <key>textureRect</key>
                <string>{{1033,1062},{134,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/icon_golddia</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,26}</string>
                <key>spriteSourceSize</key>
                <string>{33,26}</string>
                <key>textureRect</key>
                <string>{{1617,139},{33,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/icon_injury</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,33}</string>
                <key>spriteSourceSize</key>
                <string>{32,33}</string>
                <key>textureRect</key>
                <string>{{1617,105},{32,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/icon_jem</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,26}</string>
                <key>spriteSourceSize</key>
                <string>{28,26}</string>
                <key>textureRect</key>
                <string>{{1617,207},{28,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/icon_potion</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,27}</string>
                <key>spriteSourceSize</key>
                <string>{24,27}</string>
                <key>textureRect</key>
                <string>{{1617,235},{24,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/item_code</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,73}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{973,449},{67,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/prophecy_txt_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{549,131}</string>
                <key>spriteSourceSize</key>
                <string>{549,131}</string>
                <key>textureRect</key>
                <string>{{419,1},{549,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/result_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,156}</string>
                <key>spriteSourceSize</key>
                <string>{140,156}</string>
                <key>textureRect</key>
                <string>{{1033,920},{140,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/result_box2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,174}</string>
                <key>spriteSourceSize</key>
                <string>{153,174}</string>
                <key>textureRect</key>
                <string>{{1522,564},{153,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/selection_glow</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,142}</string>
                <key>spriteSourceSize</key>
                <string>{124,142}</string>
                <key>textureRect</key>
                <string>{{1309,1060},{124,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/slot_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{526,348}</string>
                <key>spriteSourceSize</key>
                <string>{526,348}</string>
                <key>textureRect</key>
                <string>{{683,729},{526,348}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/slot_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{736,416}</string>
                <key>spriteSourceSize</key>
                <string>{736,416}</string>
                <key>textureRect</key>
                <string>{{1,1},{736,416}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/slot_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{446,276}</string>
                <key>spriteSourceSize</key>
                <string>{526,348}</string>
                <key>textureRect</key>
                <string>{{973,1},{446,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/slot_bet_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,220}</string>
                <key>spriteSourceSize</key>
                <string>{170,220}</string>
                <key>textureRect</key>
                <string>{{1033,577},{170,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/slot_bt_start</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,69}</string>
                <key>spriteSourceSize</key>
                <string>{159,69}</string>
                <key>textureRect</key>
                <string>{{1617,403},{159,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/slot_bt_stop</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,69}</string>
                <key>spriteSourceSize</key>
                <string>{159,69}</string>
                <key>textureRect</key>
                <string>{{1033,849},{159,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/slot_light1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,339}</string>
                <key>spriteSourceSize</key>
                <string>{516,339}</string>
                <key>textureRect</key>
                <string>{{1,739},{516,339}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/slot_light2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,339}</string>
                <key>spriteSourceSize</key>
                <string>{516,339}</string>
                <key>textureRect</key>
                <string>{{342,739},{516,339}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/fortune/success_eff1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,246}</string>
                <key>spriteSourceSize</key>
                <string>{269,246}</string>
                <key>textureRect</key>
                <string>{{1251,427},{269,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/fortune/success_eff2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,246}</string>
                <key>spriteSourceSize</key>
                <string>{269,246}</string>
                <key>textureRect</key>
                <string>{{1251,675},{269,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>fortune.pvr.ccz</string>
            <key>size</key>
            <string>{1705,1256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d0d0fd63607542be879bf29f518aa5e:51a24414acedc22ddf13d3fa81aa45ee:2180d367b41b91dc6bec2f3b1b8e1a5b$</string>
            <key>textureFileName</key>
            <string>fortune.pvr.ccz</string>
        </dict>
    </dict>
</plist>
