<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/help/bt_help_advent</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,64}</string>
                <key>spriteSourceSize</key>
                <string>{204,64}</string>
                <key>textureRect</key>
                <string>{{1,797},{204,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/help/bt_help_advent_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,64}</string>
                <key>spriteSourceSize</key>
                <string>{204,64}</string>
                <key>textureRect</key>
                <string>{{207,797},{204,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/help/bt_help_awaken</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,64}</string>
                <key>spriteSourceSize</key>
                <string>{204,64}</string>
                <key>textureRect</key>
                <string>{{413,797},{204,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/help/bt_help_awaken_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,64}</string>
                <key>spriteSourceSize</key>
                <string>{204,64}</string>
                <key>textureRect</key>
                <string>{{1,863},{204,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/help/bt_help_capsule</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,64}</string>
                <key>spriteSourceSize</key>
                <string>{204,64}</string>
                <key>textureRect</key>
                <string>{{207,863},{204,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/help/bt_help_capsule_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,64}</string>
                <key>spriteSourceSize</key>
                <string>{204,64}</string>
                <key>textureRect</key>
                <string>{{1,929},{204,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/help/bt_help_collection</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,64}</string>
                <key>spriteSourceSize</key>
                <string>{204,64}</string>
                <key>textureRect</key>
                <string>{{207,929},{204,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/help/bt_help_collection_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,64}</string>
                <key>spriteSourceSize</key>
                <string>{204,64}</string>
                <key>textureRect</key>
                <string>{{1,995},{204,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/help/bt_help_jinawaken</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,64}</string>
                <key>spriteSourceSize</key>
                <string>{204,64}</string>
                <key>textureRect</key>
                <string>{{207,995},{204,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/help/bt_help_jinawaken_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,64}</string>
                <key>spriteSourceSize</key>
                <string>{204,64}</string>
                <key>textureRect</key>
                <string>{{413,1003},{204,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/help/bt_help_probablity</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,64}</string>
                <key>spriteSourceSize</key>
                <string>{204,64}</string>
                <key>textureRect</key>
                <string>{{1,1061},{204,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/help/bt_help_probablity_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,64}</string>
                <key>spriteSourceSize</key>
                <string>{204,64}</string>
                <key>textureRect</key>
                <string>{{207,1061},{204,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/help/bt_help_transcend</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,64}</string>
                <key>spriteSourceSize</key>
                <string>{204,64}</string>
                <key>textureRect</key>
                <string>{{1,1127},{204,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/help/bt_help_transcend_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,64}</string>
                <key>spriteSourceSize</key>
                <string>{204,64}</string>
                <key>textureRect</key>
                <string>{{207,1127},{204,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/help/frame_helpbg1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,396}</string>
                <key>spriteSourceSize</key>
                <string>{478,396}</string>
                <key>textureRect</key>
                <string>{{1,1},{478,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/help/frame_helpbg1_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,396}</string>
                <key>spriteSourceSize</key>
                <string>{478,396}</string>
                <key>textureRect</key>
                <string>{{1,399},{478,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>help.pvr.ccz</string>
            <key>size</key>
            <string>{480,1208}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b446438542bc9bb7da32baab76d9ffdf:ab0aa35dfbea4c8047f6c935de9973cd:e39418eb90d556d47aac04bdaf3d5b7a$</string>
            <key>textureFileName</key>
            <string>help.pvr.ccz</string>
        </dict>
    </dict>
</plist>
