<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/honor/badge_advan1</key>
            <dict>
                <key>frame</key>
                <string>{{150,674},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>scene/honor/badge_advan2</key>
            <dict>
                <key>frame</key>
                <string>{{76,653},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>scene/honor/badge_advan3</key>
            <dict>
                <key>frame</key>
                <string>{{2,653},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>scene/honor/badge_advan4</key>
            <dict>
                <key>frame</key>
                <string>{{150,602},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>scene/honor/badge_advan5</key>
            <dict>
                <key>frame</key>
                <string>{{76,581},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>scene/honor/badge_advan_back</key>
            <dict>
                <key>frame</key>
                <string>{{2,581},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>scene/honor/badge_nurture1</key>
            <dict>
                <key>frame</key>
                <string>{{150,530},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>scene/honor/badge_nurture2</key>
            <dict>
                <key>frame</key>
                <string>{{76,509},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>scene/honor/badge_nurture3</key>
            <dict>
                <key>frame</key>
                <string>{{2,509},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>scene/honor/badge_nurture4</key>
            <dict>
                <key>frame</key>
                <string>{{150,458},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>scene/honor/badge_nurture5</key>
            <dict>
                <key>frame</key>
                <string>{{76,437},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>scene/honor/badge_nurture_back</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>scene/honor/badge_pvp1</key>
            <dict>
                <key>frame</key>
                <string>{{150,386},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>scene/honor/badge_pvp2</key>
            <dict>
                <key>frame</key>
                <string>{{76,365},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>scene/honor/badge_pvp3</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>scene/honor/badge_pvp4</key>
            <dict>
                <key>frame</key>
                <string>{{150,314},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>scene/honor/badge_pvp5</key>
            <dict>
                <key>frame</key>
                <string>{{76,293},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>scene/honor/badge_pvp_back</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>scene/honor/badge_social1</key>
            <dict>
                <key>frame</key>
                <string>{{150,242},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>scene/honor/badge_social2</key>
            <dict>
                <key>frame</key>
                <string>{{76,221},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>scene/honor/badge_social3</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>scene/honor/badge_social4</key>
            <dict>
                <key>frame</key>
                <string>{{150,170},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>scene/honor/badge_social5</key>
            <dict>
                <key>frame</key>
                <string>{{150,170},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>scene/honor/badge_social_back</key>
            <dict>
                <key>frame</key>
                <string>{{150,170},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>scene/honor/badge_war1</key>
            <dict>
                <key>frame</key>
                <string>{{76,149},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>scene/honor/badge_war2</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>scene/honor/badge_war3</key>
            <dict>
                <key>frame</key>
                <string>{{150,98},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>scene/honor/badge_war4</key>
            <dict>
                <key>frame</key>
                <string>{{76,77},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>scene/honor/badge_war5</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>scene/honor/badge_war_back</key>
            <dict>
                <key>frame</key>
                <string>{{175,26},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>scene/honor/honor_box</key>
            <dict>
                <key>frame</key>
                <string>{{2,725},{240,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,134}}</string>
                <key>sourceSize</key>
                <string>{240,134}</string>
            </dict>
            <key>scene/honor/honor_gauge_bar</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{169,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,12}}</string>
                <key>sourceSize</key>
                <string>{169,12}</string>
            </dict>
            <key>scene/honor/honor_gauge_bar2</key>
            <dict>
                <key>frame</key>
                <string>{{2,16},{145,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,13}}</string>
                <key>sourceSize</key>
                <string>{145,13}</string>
            </dict>
            <key>scene/honor/honor_gauge_bg</key>
            <dict>
                <key>frame</key>
                <string>{{2,31},{171,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,14}}</string>
                <key>sourceSize</key>
                <string>{171,14}</string>
            </dict>
            <key>scene/honor/line_adventure</key>
            <dict>
                <key>frame</key>
                <string>{{242,98},{750,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,4}}</string>
                <key>sourceSize</key>
                <string>{750,4}</string>
            </dict>
            <key>scene/honor/line_dragon</key>
            <dict>
                <key>frame</key>
                <string>{{236,98},{750,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,4}}</string>
                <key>sourceSize</key>
                <string>{750,4}</string>
            </dict>
            <key>scene/honor/line_pvp</key>
            <dict>
                <key>frame</key>
                <string>{{230,98},{750,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,4}}</string>
                <key>sourceSize</key>
                <string>{750,4}</string>
            </dict>
            <key>scene/honor/line_social</key>
            <dict>
                <key>frame</key>
                <string>{{224,98},{750,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,4}}</string>
                <key>sourceSize</key>
                <string>{750,4}</string>
            </dict>
            <key>scene/honor/line_war</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{750,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,4}}</string>
                <key>sourceSize</key>
                <string>{750,4}</string>
            </dict>
            <key>scene/honor/select_mark</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{27,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,22}}</string>
                <key>sourceSize</key>
                <string>{27,22}</string>
            </dict>
            <key>scene/honor/star</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>scene/honor/title_bg</key>
            <dict>
                <key>frame</key>
                <string>{{138,746},{261,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,36}}</string>
                <key>sourceSize</key>
                <string>{261,36}</string>
            </dict>
            <key>scene/honor/title_textbox</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{171,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,28}}</string>
                <key>sourceSize</key>
                <string>{171,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>honor.pvr.ccz</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:846b7af7da599e77f99f2679b9d1fcdf:a3c1684dd5e84f849c917677de03dfc0:5aab4cf6162612610cc57f537f7ed455$</string>
            <key>textureFileName</key>
            <string>honor.pvr.ccz</string>
        </dict>
    </dict>
</plist>
