<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/laboratory/bt_back</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,46}</string>
                <key>spriteSourceSize</key>
                <string>{40,46}</string>
                <key>textureRect</key>
                <string>{{1603,1},{40,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/laboratory/bt_info</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,36}</string>
                <key>spriteSourceSize</key>
                <string>{32,36}</string>
                <key>textureRect</key>
                <string>{{1644,388},{32,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/laboratory/bt_laboratory</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{222,264}</string>
                <key>spriteSourceSize</key>
                <string>{234,274}</string>
                <key>textureRect</key>
                <string>{{891,1},{222,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/laboratory/bt_laboratory_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{222,264}</string>
                <key>spriteSourceSize</key>
                <string>{234,274}</string>
                <key>textureRect</key>
                <string>{{991,267},{222,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/laboratory/bt_match1_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,83}</string>
                <key>spriteSourceSize</key>
                <string>{79,83}</string>
                <key>textureRect</key>
                <string>{{1745,1},{79,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/laboratory/bt_match1_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,83}</string>
                <key>spriteSourceSize</key>
                <string>{79,83}</string>
                <key>textureRect</key>
                <string>{{1664,1},{79,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/laboratory/bt_match2_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,83}</string>
                <key>spriteSourceSize</key>
                <string>{79,83}</string>
                <key>textureRect</key>
                <string>{{1603,86},{79,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/laboratory/bt_match2_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,83}</string>
                <key>spriteSourceSize</key>
                <string>{79,83}</string>
                <key>textureRect</key>
                <string>{{1664,171},{79,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/laboratory/bt_match3_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,83}</string>
                <key>spriteSourceSize</key>
                <string>{79,83}</string>
                <key>textureRect</key>
                <string>{{1684,86},{79,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/laboratory/bt_match3_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,83}</string>
                <key>spriteSourceSize</key>
                <string>{79,83}</string>
                <key>textureRect</key>
                <string>{{1765,82},{79,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/laboratory/bt_match4_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,83}</string>
                <key>spriteSourceSize</key>
                <string>{79,83}</string>
                <key>textureRect</key>
                <string>{{1765,163},{79,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/laboratory/bt_match4_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,83}</string>
                <key>spriteSourceSize</key>
                <string>{79,83}</string>
                <key>textureRect</key>
                <string>{{1764,244},{79,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/laboratory/bt_match_start</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,47}</string>
                <key>spriteSourceSize</key>
                <string>{157,47}</string>
                <key>textureRect</key>
                <string>{{1546,264},{157,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/laboratory/bt_match_start_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,47}</string>
                <key>spriteSourceSize</key>
                <string>{157,47}</string>
                <key>textureRect</key>
                <string>{{1595,264},{157,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/laboratory/bt_save_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,40}</string>
                <key>spriteSourceSize</key>
                <string>{120,40}</string>
                <key>textureRect</key>
                <string>{{1722,256},{120,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/laboratory/bt_save_on_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,40}</string>
                <key>spriteSourceSize</key>
                <string>{120,40}</string>
                <key>textureRect</key>
                <string>{{1775,325},{120,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/laboratory/bt_slot1_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,67}</string>
                <key>spriteSourceSize</key>
                <string>{63,67}</string>
                <key>textureRect</key>
                <string>{{1339,195},{63,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/laboratory/bt_slot1_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,67}</string>
                <key>spriteSourceSize</key>
                <string>{63,67}</string>
                <key>textureRect</key>
                <string>{{1404,195},{63,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/laboratory/bt_slot2_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,67}</string>
                <key>spriteSourceSize</key>
                <string>{63,67}</string>
                <key>textureRect</key>
                <string>{{1469,195},{63,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/laboratory/bt_slot2_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,67}</string>
                <key>spriteSourceSize</key>
                <string>{63,67}</string>
                <key>textureRect</key>
                <string>{{1534,195},{63,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/laboratory/bt_slot3_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,67}</string>
                <key>spriteSourceSize</key>
                <string>{63,67}</string>
                <key>textureRect</key>
                <string>{{1580,423},{63,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/laboratory/bt_slot3_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,67}</string>
                <key>spriteSourceSize</key>
                <string>{63,67}</string>
                <key>textureRect</key>
                <string>{{1599,195},{63,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/laboratory/bt_slot4_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,67}</string>
                <key>spriteSourceSize</key>
                <string>{63,67}</string>
                <key>textureRect</key>
                <string>{{1645,422},{63,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/laboratory/bt_slot4_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,67}</string>
                <key>spriteSourceSize</key>
                <string>{63,67}</string>
                <key>textureRect</key>
                <string>{{1710,413},{63,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/laboratory/bt_start</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,37}</string>
                <key>spriteSourceSize</key>
                <string>{122,37}</string>
                <key>textureRect</key>
                <string>{{1644,264},{122,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/laboratory/bt_start_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,37}</string>
                <key>spriteSourceSize</key>
                <string>{122,37}</string>
                <key>textureRect</key>
                <string>{{1683,256},{122,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/laboratory/btn_setting</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{222,264}</string>
                <key>spriteSourceSize</key>
                <string>{234,274}</string>
                <key>textureRect</key>
                <string>{{1115,1},{222,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/laboratory/btn_setting_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{222,264}</string>
                <key>spriteSourceSize</key>
                <string>{234,274}</string>
                <key>textureRect</key>
                <string>{{1257,267},{222,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/laboratory/btn_x</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,46}</string>
                <key>spriteSourceSize</key>
                <string>{40,46}</string>
                <key>textureRect</key>
                <string>{{1603,43},{40,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/laboratory/frame_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,480}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/laboratory/frame_dragoncard</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{803,280},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/laboratory/frame_dragoncard_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{1339,1},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/laboratory/frame_dragoncard_off_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{1471,1},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/laboratory/frame_dragonslot</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{1523,431},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/laboratory/frame_match_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,86}</string>
                <key>spriteSourceSize</key>
                <string>{277,86}</string>
                <key>textureRect</key>
                <string>{{803,1},{277,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/laboratory/title_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,54}</string>
                <key>spriteSourceSize</key>
                <string>{223,54}</string>
                <key>textureRect</key>
                <string>{{935,267},{223,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/laboratory/title_laboratory</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,23}</string>
                <key>spriteSourceSize</key>
                <string>{61,23}</string>
                <key>textureRect</key>
                <string>{{1682,388},{61,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/laboratory/title_laboratory_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,21}</string>
                <key>spriteSourceSize</key>
                <string>{165,23}</string>
                <key>textureRect</key>
                <string>{{1523,264},{165,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>laboratory.pvr.ccz</string>
            <key>size</key>
            <string>{1849,491}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:732e9bef9720cbf89a518049867ad86c:ee1ef005d53936737486cc4c9d9412e1:88dd7b927cdc24f45fcc9a45f326c368$</string>
            <key>textureFileName</key>
            <string>laboratory.pvr.ccz</string>
        </dict>
    </dict>
</plist>
