<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/mission/bar</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{433,14}</string>
                <key>spriteSourceSize</key>
                <string>{433,14}</string>
                <key>textureRect</key>
                <string>{{111,448},{433,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/mission/bar2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,14}</string>
                <key>spriteSourceSize</key>
                <string>{369,14}</string>
                <key>textureRect</key>
                <string>{{13,577},{369,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/mission/dailyquest_guage</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{441,10}</string>
                <key>spriteSourceSize</key>
                <string>{441,10}</string>
                <key>textureRect</key>
                <string>{{1,577},{441,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/mission/dailyquest_guage2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,10}</string>
                <key>spriteSourceSize</key>
                <string>{365,10}</string>
                <key>textureRect</key>
                <string>{{29,577},{365,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/mission/dailyquest_guage_back</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,14}</string>
                <key>spriteSourceSize</key>
                <string>{445,14}</string>
                <key>textureRect</key>
                <string>{{111,1},{445,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/mission/dailyquest_guage_back2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,14}</string>
                <key>spriteSourceSize</key>
                <string>{369,14}</string>
                <key>textureRect</key>
                <string>{{13,948},{369,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/mission/dailyquest_guage_full</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{441,10}</string>
                <key>spriteSourceSize</key>
                <string>{441,10}</string>
                <key>textureRect</key>
                <string>{{1,1020},{441,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/mission/dailyquest_guage_full2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,10}</string>
                <key>spriteSourceSize</key>
                <string>{365,10}</string>
                <key>textureRect</key>
                <string>{{29,944},{365,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/mission/height_line</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,65}</string>
                <key>spriteSourceSize</key>
                <string>{4,65}</string>
                <key>textureRect</key>
                <string>{{95,577},{4,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/mission/icon_mission1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,66}</string>
                <key>spriteSourceSize</key>
                <string>{81,68}</string>
                <key>textureRect</key>
                <string>{{41,801},{81,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/mission/icon_mission2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,66}</string>
                <key>spriteSourceSize</key>
                <string>{81,68}</string>
                <key>textureRect</key>
                <string>{{41,884},{81,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/mission/item_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,108}</string>
                <key>spriteSourceSize</key>
                <string>{105,108}</string>
                <key>textureRect</key>
                <string>{{13,1319},{105,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/mission/mission_item</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{55,66}</string>
                <key>spriteSourceSize</key>
                <string>{105,108}</string>
                <key>textureRect</key>
                <string>{{13,1429},{55,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/mission/reward_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,76}</string>
                <key>spriteSourceSize</key>
                <string>{71,76}</string>
                <key>textureRect</key>
                <string>{{41,967},{71,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/mission/tab1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,73}</string>
                <key>spriteSourceSize</key>
                <string>{66,73}</string>
                <key>textureRect</key>
                <string>{{41,1045},{66,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/mission/tab2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,73}</string>
                <key>spriteSourceSize</key>
                <string>{66,73}</string>
                <key>textureRect</key>
                <string>{{41,1120},{66,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/mission/tab3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,73}</string>
                <key>spriteSourceSize</key>
                <string>{66,73}</string>
                <key>textureRect</key>
                <string>{{41,1195},{66,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/mission/txt_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{574,108}</string>
                <key>spriteSourceSize</key>
                <string>{574,108}</string>
                <key>textureRect</key>
                <string>{{1,1},{574,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/mission/txt_clear</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,52}</string>
                <key>spriteSourceSize</key>
                <string>{222,52}</string>
                <key>textureRect</key>
                <string>{{41,577},{222,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>mission.pvr.ccz</string>
            <key>size</key>
            <string>{126,1485}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e545bcd0dfe4cf9d7f6ac8564dee92a:4f9863760c1992bc01570741f3fd6545:11d2edf9f142b580526144416d7946f2$</string>
            <key>textureFileName</key>
            <string>mission.pvr.ccz</string>
        </dict>
    </dict>
</plist>
