<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/offerwallshop/icon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,67}</string>
                <key>spriteSourceSize</key>
                <string>{92,67}</string>
                <key>textureRect</key>
                <string>{{1,1},{92,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>offerwallshop.pvr.ccz</string>
            <key>size</key>
            <string>{94,69}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5902d06d2083519cc6084cbe58021370:75196e771411e5c1513ad4dbe3fc12ab:77d07f0d111de06596fe955d00a3df8c$</string>
            <key>textureFileName</key>
            <string>offerwallshop.pvr.ccz</string>
        </dict>
    </dict>
</plist>
