<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/package/circle_mark</key>
            <dict>
                <key>frame</key>
                <string>{{475,385},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>scene/package/icon_package</key>
            <dict>
                <key>frame</key>
                <string>{{407,2},{97,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,83}}</string>
                <key>sourceSize</key>
                <string>{97,83}</string>
            </dict>
            <key>scene/package/icon_package_old</key>
            <dict>
                <key>frame</key>
                <string>{{407,87},{86,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,62}}</string>
                <key>sourceSize</key>
                <string>{86,62}</string>
            </dict>
            <key>scene/package/packUI_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,539},{150,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,179}}</string>
                <key>sourceSize</key>
                <string>{150,179}</string>
            </dict>
            <key>scene/package/packUI_4</key>
            <dict>
                <key>frame</key>
                <string>{{183,386},{151,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,179}}</string>
                <key>sourceSize</key>
                <string>{151,179}</string>
            </dict>
            <key>scene/package/packUI_5</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{151,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,179}}</string>
                <key>sourceSize</key>
                <string>{151,179}</string>
            </dict>
            <key>scene/package/packUI_6</key>
            <dict>
                <key>frame</key>
                <string>{{183,539},{111,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,49}}</string>
                <key>sourceSize</key>
                <string>{111,49}</string>
            </dict>
            <key>scene/package/packUI_7</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{382,403}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,403}}</string>
                <key>sourceSize</key>
                <string>{382,403}</string>
            </dict>
            <key>scene/package/package_bt1</key>
            <dict>
                <key>frame</key>
                <string>{{403,455},{150,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,66}}</string>
                <key>sourceSize</key>
                <string>{150,66}</string>
            </dict>
            <key>scene/package/package_bt2</key>
            <dict>
                <key>frame</key>
                <string>{{407,303},{150,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,66}}</string>
                <key>sourceSize</key>
                <string>{150,66}</string>
            </dict>
            <key>scene/package/package_bt3</key>
            <dict>
                <key>frame</key>
                <string>{{407,151},{150,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,66}}</string>
                <key>sourceSize</key>
                <string>{150,66}</string>
            </dict>
            <key>scene/package/package_title</key>
            <dict>
                <key>frame</key>
                <string>{{364,386},{153,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,37}}</string>
                <key>sourceSize</key>
                <string>{153,37}</string>
            </dict>
            <key>scene/package/package_title_eng</key>
            <dict>
                <key>frame</key>
                <string>{{475,151},{232,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,32}}</string>
                <key>sourceSize</key>
                <string>{232,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>package.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e53b7a3dd7ed0655ce0e438f74882868:cb7c4bd662695a426ccbfff68be90892:c2ff68153dbba2484dcc5bf7541359be$</string>
            <key>textureFileName</key>
            <string>package.pvr.ccz</string>
        </dict>
    </dict>
</plist>
