<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/persionEvent/b_persion_box</key>
            <dict>
                <key>frame</key>
                <string>{{883,2},{131,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,130}}</string>
                <key>sourceSize</key>
                <string>{131,130}</string>
            </dict>
            <key>scene/persionEvent/persion_pop_text1</key>
            <dict>
                <key>frame</key>
                <string>{{988,134},{194,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,31}}</string>
                <key>sourceSize</key>
                <string>{194,31}</string>
            </dict>
            <key>scene/persionEvent/persion_pop_text2</key>
            <dict>
                <key>frame</key>
                <string>{{954,134},{162,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,32}}</string>
                <key>sourceSize</key>
                <string>{162,32}</string>
            </dict>
            <key>scene/persionEvent/striker_en</key>
            <dict>
                <key>frame</key>
                <string>{{547,2},{543,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,334}}</string>
                <key>sourceSize</key>
                <string>{543,334}</string>
            </dict>
            <key>scene/persionEvent/striker_kr</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{543,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,334}}</string>
                <key>sourceSize</key>
                <string>{543,334}</string>
            </dict>
            <key>scene/persionEvent/world_persion_icon</key>
            <dict>
                <key>frame</key>
                <string>{{883,134},{69,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,67}}</string>
                <key>sourceSize</key>
                <string>{69,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>persionEvent.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7683cc4827227f7cded2f334901d73e5:5143931dc258e2138b8011050622f348:d23c34a8d2bfb19085a7df331c4ff602$</string>
            <key>textureFileName</key>
            <string>persionEvent.pvr.ccz</string>
        </dict>
    </dict>
</plist>
