<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/present/bt_blue</key>
            <dict>
                <key>frame</key>
                <string>{{589,948},{69,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,63}}</string>
                <key>sourceSize</key>
                <string>{69,63}</string>
            </dict>
            <key>scene/present/danpung_1</key>
            <dict>
                <key>frame</key>
                <string>{{920,442},{84,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,95}}</string>
                <key>sourceSize</key>
                <string>{84,95}</string>
            </dict>
            <key>scene/present/danpung_2</key>
            <dict>
                <key>frame</key>
                <string>{{398,948},{41,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,43}}</string>
                <key>sourceSize</key>
                <string>{41,43}</string>
            </dict>
            <key>scene/present/danpung_backbox</key>
            <dict>
                <key>frame</key>
                <string>{{835,787},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>scene/present/danpung_itemcheck</key>
            <dict>
                <key>frame</key>
                <string>{{839,358},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>scene/present/danpung_offbox</key>
            <dict>
                <key>frame</key>
                <string>{{805,787},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>scene/present/danpung_textbox</key>
            <dict>
                <key>frame</key>
                <string>{{127,843},{163,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,67}}</string>
                <key>sourceSize</key>
                <string>{163,67}</string>
            </dict>
            <key>scene/present/gift_egg1</key>
            <dict>
                <key>frame</key>
                <string>{{920,648},{78,103}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{78,103}}</string>
                <key>sourceSize</key>
                <string>{86,113}</string>
            </dict>
            <key>scene/present/gift_egg2</key>
            <dict>
                <key>frame</key>
                <string>{{638,843},{78,103}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{78,103}}</string>
                <key>sourceSize</key>
                <string>{86,113}</string>
            </dict>
            <key>scene/present/gift_egg3</key>
            <dict>
                <key>frame</key>
                <string>{{558,843},{78,103}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{78,103}}</string>
                <key>sourceSize</key>
                <string>{86,113}</string>
            </dict>
            <key>scene/present/gift_egg4</key>
            <dict>
                <key>frame</key>
                <string>{{478,843},{78,103}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{78,103}}</string>
                <key>sourceSize</key>
                <string>{86,113}</string>
            </dict>
            <key>scene/present/gift_egg5</key>
            <dict>
                <key>frame</key>
                <string>{{398,843},{78,103}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{78,103}}</string>
                <key>sourceSize</key>
                <string>{86,113}</string>
            </dict>
            <key>scene/present/gift_egg_1p</key>
            <dict>
                <key>frame</key>
                <string>{{2,843},{171,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,123}}</string>
                <key>sourceSize</key>
                <string>{171,123}</string>
            </dict>
            <key>scene/present/gift_egg_BT</key>
            <dict>
                <key>frame</key>
                <string>{{674,358},{91,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,50}}</string>
                <key>sourceSize</key>
                <string>{91,50}</string>
            </dict>
            <key>scene/present/gift_egg_BT_N</key>
            <dict>
                <key>frame</key>
                <string>{{805,753},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>scene/present/gift_egg_ef1</key>
            <dict>
                <key>frame</key>
                <string>{{763,753},{42,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,40}}</string>
                <key>sourceSize</key>
                <string>{42,40}</string>
            </dict>
            <key>scene/present/gift_egg_ef2</key>
            <dict>
                <key>frame</key>
                <string>{{920,358},{79,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,82}}</string>
                <key>sourceSize</key>
                <string>{79,82}</string>
            </dict>
            <key>scene/present/gift_egg_ef3</key>
            <dict>
                <key>frame</key>
                <string>{{266,843},{130,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,149}}</string>
                <key>sourceSize</key>
                <string>{130,149}</string>
            </dict>
            <key>scene/present/gift_egg_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{1002,338},{78,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,13}}</string>
                <key>sourceSize</key>
                <string>{78,13}</string>
            </dict>
            <key>scene/present/gift_egg_text1</key>
            <dict>
                <key>frame</key>
                <string>{{196,843},{154,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{154,34}}</string>
                <key>sourceSize</key>
                <string>{158,34}</string>
            </dict>
            <key>scene/present/gift_egg_text2</key>
            <dict>
                <key>frame</key>
                <string>{{232,843},{150,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{150,32}}</string>
                <key>sourceSize</key>
                <string>{162,32}</string>
            </dict>
            <key>scene/present/gift_gauge1</key>
            <dict>
                <key>frame</key>
                <string>{{674,338},{326,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,18}}</string>
                <key>sourceSize</key>
                <string>{326,18}</string>
            </dict>
            <key>scene/present/gift_gauge2</key>
            <dict>
                <key>frame</key>
                <string>{{127,1008},{322,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,14}}</string>
                <key>sourceSize</key>
                <string>{322,14}</string>
            </dict>
            <key>scene/present/gstar_banner</key>
            <dict>
                <key>frame</key>
                <string>{{674,418},{397,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,87}}</string>
                <key>sourceSize</key>
                <string>{397,87}</string>
            </dict>
            <key>scene/present/new_year_bg</key>
            <dict>
                <key>frame</key>
                <string>{{338,338},{503,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,334}}</string>
                <key>sourceSize</key>
                <string>{503,334}</string>
            </dict>
            <key>scene/present/rand_gem</key>
            <dict>
                <key>frame</key>
                <string>{{920,528},{78,92}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{78,92}}</string>
                <key>sourceSize</key>
                <string>{116,110}</string>
            </dict>
            <key>scene/present/reward_effect2</key>
            <dict>
                <key>frame</key>
                <string>{{718,817},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>scene/present/summon_btn</key>
            <dict>
                <key>frame</key>
                <string>{{920,608},{84,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,38}}</string>
                <key>sourceSize</key>
                <string>{84,38}</string>
            </dict>
            <key>scene/present/tcg1_event</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{503,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,334}}</string>
                <key>sourceSize</key>
                <string>{503,334}</string>
            </dict>
            <key>scene/present/three_event</key>
            <dict>
                <key>frame</key>
                <string>{{507,2},{503,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,334}}</string>
                <key>sourceSize</key>
                <string>{503,334}</string>
            </dict>
            <key>scene/present/world_danpung_icon</key>
            <dict>
                <key>frame</key>
                <string>{{520,948},{69,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,67}}</string>
                <key>sourceSize</key>
                <string>{69,67}</string>
            </dict>
            <key>scene/present/world_egg_icon</key>
            <dict>
                <key>frame</key>
                <string>{{654,948},{62,67}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{62,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>scene/present/world_gift_icon</key>
            <dict>
                <key>frame</key>
                <string>{{451,948},{69,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,67}}</string>
                <key>sourceSize</key>
                <string>{69,67}</string>
            </dict>
            <key>scene/present/xmas_event</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{503,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,334}}</string>
                <key>sourceSize</key>
                <string>{503,334}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>present.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b55971f8349d0f8178e9f2b13773f934:a492ac75142268c50f6f3d4b252398e4:8138947b4ff82307a4f4c87e1adf117a$</string>
            <key>textureFileName</key>
            <string>present.pvr.ccz</string>
        </dict>
    </dict>
</plist>
