<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/raid/3dot</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,21}</string>
                <key>spriteSourceSize</key>
                <string>{4,21}</string>
                <key>textureRect</key>
                <string>{{481,318},{4,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/raid/bt_raid</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,32}</string>
                <key>spriteSourceSize</key>
                <string>{96,32}</string>
                <key>textureRect</key>
                <string>{{61,1110},{96,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/raid/icon_atk</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,23}</string>
                <key>spriteSourceSize</key>
                <string>{24,23}</string>
                <key>textureRect</key>
                <string>{{229,1095},{24,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/raid/icon_def</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,23}</string>
                <key>spriteSourceSize</key>
                <string>{22,23}</string>
                <key>textureRect</key>
                <string>{{255,1095},{22,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/raid/icon_finish</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{195,1103},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/raid/icon_hp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,20}</string>
                <key>spriteSourceSize</key>
                <string>{23,20}</string>
                <key>textureRect</key>
                <string>{{279,1095},{23,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/raid/icon_raid1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,4}</string>
                <key>spriteSize</key>
                <string>{71,79}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{395,1094},{71,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/raid/icon_raid10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{87,81}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{341,917},{87,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/raid/icon_raid11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{87,83}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{144,1014},{87,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/raid/icon_raid12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{81,79}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{312,1081},{81,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/raid/icon_raid13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,79}</string>
                <key>spriteSourceSize</key>
                <string>{92,79}</string>
                <key>textureRect</key>
                <string>{{247,917},{92,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/raid/icon_raid14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,68}</string>
                <key>spriteSourceSize</key>
                <string>{94,68}</string>
                <key>textureRect</key>
                <string>{{430,917},{94,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/raid/icon_raid15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,94}</string>
                <key>spriteSourceSize</key>
                <string>{81,94}</string>
                <key>textureRect</key>
                <string>{{61,1014},{81,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/raid/icon_raid16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{61,917},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/raid/icon_raid2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,87}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{158,917},{87,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/raid/icon_raid3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{83,79}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{312,1000},{83,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/raid/icon_raid4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{69,81}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{420,690},{69,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/raid/icon_raid5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{83,79}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{397,1013},{83,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/raid/icon_raid6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{87,81}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{229,1006},{87,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/raid/icon_raid7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{75,83}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{420,605},{75,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/raid/icon_raid9</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{87,77}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{420,516},{87,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/raid/lv</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{159,1103},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/raid/raid_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,255}</string>
                <key>spriteSourceSize</key>
                <string>{284,255}</string>
                <key>textureRect</key>
                <string>{{61,516},{284,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/raid/raid_hp_bar</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,13}</string>
                <key>spriteSourceSize</key>
                <string>{240,13}</string>
                <key>textureRect</key>
                <string>{{481,1},{240,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/raid/raid_hp_bar_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,15}</string>
                <key>spriteSourceSize</key>
                <string>{242,15}</string>
                <key>textureRect</key>
                <string>{{1,1153},{242,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/raid/raid_profile</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,46}</string>
                <key>spriteSourceSize</key>
                <string>{418,46}</string>
                <key>textureRect</key>
                <string>{{61,773},{418,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/raid/raid_ranking_me</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,30}</string>
                <key>spriteSourceSize</key>
                <string>{410,30}</string>
                <key>textureRect</key>
                <string>{{61,821},{410,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/raid/raid_ranking_title</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,30}</string>
                <key>spriteSourceSize</key>
                <string>{410,30}</string>
                <key>textureRect</key>
                <string>{{61,853},{410,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/raid/raid_ranking_title2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,30}</string>
                <key>spriteSourceSize</key>
                <string>{410,30}</string>
                <key>textureRect</key>
                <string>{{61,885},{410,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/raid/time_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,17}</string>
                <key>spriteSourceSize</key>
                <string>{73,17}</string>
                <key>textureRect</key>
                <string>{{481,243},{73,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/raid/time_number</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,58}</string>
                <key>spriteSourceSize</key>
                <string>{448,58}</string>
                <key>textureRect</key>
                <string>{{1,703},{448,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/raid/time_number_info</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,58}</string>
                <key>spriteSourceSize</key>
                <string>{700,58}</string>
                <key>textureRect</key>
                <string>{{1,1},{700,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/raid/txt_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,25}</string>
                <key>spriteSourceSize</key>
                <string>{94,25}</string>
                <key>textureRect</key>
                <string>{{473,821},{94,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/raid/txt_fail</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,208}</string>
                <key>spriteSourceSize</key>
                <string>{513,208}</string>
                <key>textureRect</key>
                <string>{{61,1},{513,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/raid/txt_finish</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,208}</string>
                <key>spriteSourceSize</key>
                <string>{513,208}</string>
                <key>textureRect</key>
                <string>{{271,1},{513,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/raid/txt_raid</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,22}</string>
                <key>spriteSourceSize</key>
                <string>{66,22}</string>
                <key>textureRect</key>
                <string>{{476,1094},{66,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/raid/wait_box_time</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,71}</string>
                <key>spriteSourceSize</key>
                <string>{250,71}</string>
                <key>textureRect</key>
                <string>{{347,516},{250,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>raid.pvr.ccz</string>
            <key>size</key>
            <string>{499,1169}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73f9526c9986953257679db53db84abf:d2ce13da870f59fc45bbec045f13369e:b3ea2585cc47ed22a0bf2a08b6bdde86$</string>
            <key>textureFileName</key>
            <string>raid.pvr.ccz</string>
        </dict>
    </dict>
</plist>
