<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/reona_opening/1</key>
            <dict>
                <key>frame</key>
                <string>{{484,924},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>scene/reona_opening/1a</key>
            <dict>
                <key>frame</key>
                <string>{{1606,62},{400,58}}</string>
                <key>offset</key>
                <string>{4,-162}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,373},{400,58}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>scene/reona_opening/2</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{454,376}}</string>
                <key>offset</key>
                <string>{157,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,15},{454,376}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>scene/reona_opening/2a</key>
            <dict>
                <key>frame</key>
                <string>{{1606,2},{416,58}}</string>
                <key>offset</key>
                <string>{6,-162}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,373},{416,58}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>scene/reona_opening/3</key>
            <dict>
                <key>frame</key>
                <string>{{2,924},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>scene/reona_opening/3a</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{568,58}}</string>
                <key>offset</key>
                <string>{4,-162}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,373},{568,58}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>scene/reona_opening/4</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>scene/reona_opening/4a</key>
            <dict>
                <key>frame</key>
                <string>{{1002,484},{512,58}}</string>
                <key>offset</key>
                <string>{3,-162}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,373},{512,58}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>scene/reona_opening/5</key>
            <dict>
                <key>frame</key>
                <string>{{458,484},{542,346}}</string>
                <key>offset</key>
                <string>{122,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,0},{542,346}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>scene/reona_opening/5a</key>
            <dict>
                <key>frame</key>
                <string>{{2008,62},{512,24}}</string>
                <key>offset</key>
                <string>{4,-160}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,388},{512,24}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>scene/reona_opening/b</key>
            <dict>
                <key>frame</key>
                <string>{{138,1726},{252,268}}</string>
                <key>offset</key>
                <string>{7,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{281,212},{252,268}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>scene/reona_opening/c</key>
            <dict>
                <key>frame</key>
                <string>{{392,1726},{172,210}}</string>
                <key>offset</key>
                <string>{-102,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,270},{172,210}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>scene/reona_opening/d</key>
            <dict>
                <key>frame</key>
                <string>{{566,1726},{140,194}}</string>
                <key>offset</key>
                <string>{152,-143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{482,286},{140,194}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>scene/reona_opening/e</key>
            <dict>
                <key>frame</key>
                <string>{{392,1938},{92,92}}</string>
                <key>offset</key>
                <string>{222,-194}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,388},{92,92}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>scene/reona_opening/f</key>
            <dict>
                <key>frame</key>
                <string>{{566,1922},{110,152}}</string>
                <key>offset</key>
                <string>{-205,-164}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,328},{110,152}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>scene/reona_opening/g</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>scene/reona_opening/g2</key>
            <dict>
                <key>frame</key>
                <string>{{1606,122},{800,390}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,390}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>scene/reona_opening/h</key>
            <dict>
                <key>frame</key>
                <string>{{2,1726},{300,134}}</string>
                <key>offset</key>
                <string>{0,-164}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,337},{300,134}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>scene/reona_opening/sr</key>
            <dict>
                <key>frame</key>
                <string>{{708,1726},{742,152}}</string>
                <key>offset</key>
                <string>{3,-164}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,328},{742,152}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>reona_opening.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7242a2872312644e65b3f3e429235642:82d946a3f21a7d9ab23efba6611d7f04:987e63bee613a716e6092dbba3c35bb3$</string>
            <key>textureFileName</key>
            <string>reona_opening.pvr.ccz</string>
        </dict>
    </dict>
</plist>
