<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/sky_maze/hp_bar_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,15}</string>
                <key>spriteSourceSize</key>
                <string>{163,15}</string>
                <key>textureRect</key>
                <string>{{1,395},{163,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/sky_maze/sky_profile_enemy</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,64}</string>
                <key>spriteSourceSize</key>
                <string>{212,64}</string>
                <key>textureRect</key>
                <string>{{931,327},{212,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/sky_maze/skycastle_attack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,82}</string>
                <key>spriteSourceSize</key>
                <string>{54,82}</string>
                <key>textureRect</key>
                <string>{{805,323},{54,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/sky_maze/skycastle_danger</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{644,198}</string>
                <key>spriteSourceSize</key>
                <string>{644,198}</string>
                <key>textureRect</key>
                <string>{{563,1},{644,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/sky_maze/skycastle_itemBT</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,84}</string>
                <key>spriteSourceSize</key>
                <string>{204,84}</string>
                <key>textureRect</key>
                <string>{{719,201},{204,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/sky_maze/skycastle_rank</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{560,392}</string>
                <key>spriteSourceSize</key>
                <string>{560,392}</string>
                <key>textureRect</key>
                <string>{{1,1},{560,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/sky_maze/skycastle_startBT</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,154}</string>
                <key>spriteSourceSize</key>
                <string>{204,154}</string>
                <key>textureRect</key>
                <string>{{563,201},{204,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/sky_maze/skycastle_title</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{252,62}</string>
                <key>spriteSourceSize</key>
                <string>{254,62}</string>
                <key>textureRect</key>
                <string>{{931,201},{252,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/sky_maze/skycastle_title_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,60}</string>
                <key>spriteSourceSize</key>
                <string>{250,60}</string>
                <key>textureRect</key>
                <string>{{931,265},{250,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/sky_maze/skycastle_wavebar</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,32}</string>
                <key>spriteSourceSize</key>
                <string>{120,32}</string>
                <key>textureRect</key>
                <string>{{805,201},{120,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/sky_maze/skyhall_Hpotion_116</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{68,90}</string>
                <key>spriteSourceSize</key>
                <string>{116,110}</string>
                <key>textureRect</key>
                <string>{{861,299},{68,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/sky_maze/skyhall_resurrection_116</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{96,76}</string>
                <key>spriteSourceSize</key>
                <string>{116,110}</string>
                <key>textureRect</key>
                <string>{{839,201},{96,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>sky_maze.pvr.ccz</string>
            <key>size</key>
            <string>{1208,411}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d8168bd33f7e2f5e32de254baec1cc9:8f986bd05f9796d269f678844f332d54:68644ca598f1aaf395ee6921df2f4514$</string>
            <key>textureFileName</key>
            <string>sky_maze.pvr.ccz</string>
        </dict>
    </dict>
</plist>
