<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/sky_castle_defense/att_count_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,30}</string>
                <key>spriteSourceSize</key>
                <string>{112,30}</string>
                <key>textureRect</key>
                <string>{{237,878},{112,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/sky_castle_defense/battle_time_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,57}</string>
                <key>spriteSourceSize</key>
                <string>{207,57}</string>
                <key>textureRect</key>
                <string>{{1000,663},{207,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/sky_castle_defense/bt_castle_shop</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,53}</string>
                <key>spriteSourceSize</key>
                <string>{130,53}</string>
                <key>textureRect</key>
                <string>{{237,823},{130,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/sky_castle_defense/bt_castle_shop_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,53}</string>
                <key>spriteSourceSize</key>
                <string>{130,53}</string>
                <key>textureRect</key>
                <string>{{1209,663},{130,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/sky_castle_defense/bt_castle_start</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,57}</string>
                <key>spriteSourceSize</key>
                <string>{234,57}</string>
                <key>textureRect</key>
                <string>{{1,823},{234,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/sky_castle_defense/bt_castle_start_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,57}</string>
                <key>spriteSourceSize</key>
                <string>{234,57}</string>
                <key>textureRect</key>
                <string>{{784,335},{234,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/sky_castle_defense/bt_castle_upgrade</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,55}</string>
                <key>spriteSourceSize</key>
                <string>{185,55}</string>
                <key>textureRect</key>
                <string>{{390,434},{185,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/sky_castle_defense/bt_castle_upgrade_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,55}</string>
                <key>spriteSourceSize</key>
                <string>{185,55}</string>
                <key>textureRect</key>
                <string>{{1000,722},{185,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/sky_castle_defense/bt_castle_upgrade_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,40}</string>
                <key>spriteSourceSize</key>
                <string>{152,40}</string>
                <key>textureRect</key>
                <string>{{1341,663},{152,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/sky_castle_defense/bt_castle_upgrade_off_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,40}</string>
                <key>spriteSourceSize</key>
                <string>{152,40}</string>
                <key>textureRect</key>
                <string>{{1208,762},{152,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/sky_castle_defense/bt_castle_upgrade_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,40}</string>
                <key>spriteSourceSize</key>
                <string>{152,40}</string>
                <key>textureRect</key>
                <string>{{1250,762},{152,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/sky_castle_defense/bt_castle_upgrade_on_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,40}</string>
                <key>spriteSourceSize</key>
                <string>{152,40}</string>
                <key>textureRect</key>
                <string>{{1292,762},{152,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/sky_castle_defense/castle_reward_info_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,332}</string>
                <key>spriteSourceSize</key>
                <string>{337,332}</string>
                <key>textureRect</key>
                <string>{{470,1},{337,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/sky_castle_defense/castle_tower</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,99}</string>
                <key>spriteSourceSize</key>
                <string>{84,99}</string>
                <key>textureRect</key>
                <string>{{1122,779},{84,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/sky_castle_defense/castle_wall</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,107}</string>
                <key>spriteSourceSize</key>
                <string>{120,107}</string>
                <key>textureRect</key>
                <string>{{1000,779},{120,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/sky_castle_defense/crystal_num_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,19}</string>
                <key>spriteSourceSize</key>
                <string>{81,19}</string>
                <key>textureRect</key>
                <string>{{369,823},{81,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/sky_castle_defense/effect_tower</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{467,431}</string>
                <key>spriteSourceSize</key>
                <string>{467,431}</string>
                <key>textureRect</key>
                <string>{{1,1},{467,431}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/sky_castle_defense/lv_count_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,208}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{843,315},{208,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/sky_castle_defense/monster_info_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,47}</string>
                <key>spriteSourceSize</key>
                <string>{261,47}</string>
                <key>textureRect</key>
                <string>{{1317,1},{261,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/sky_castle_defense/monster_lv_reset</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,46}</string>
                <key>spriteSourceSize</key>
                <string>{40,46}</string>
                <key>textureRect</key>
                <string>{{1334,817},{40,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/sky_castle_defense/monster_lv_reset_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,42}</string>
                <key>spriteSourceSize</key>
                <string>{114,42}</string>
                <key>textureRect</key>
                <string>{{1209,718},{114,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/sky_castle_defense/monster_thumb1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,8}</string>
                <key>spriteSize</key>
                <string>{285,294}</string>
                <key>spriteSourceSize</key>
                <string>{327,312}</string>
                <key>textureRect</key>
                <string>{{704,624},{285,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/sky_castle_defense/monster_thumb2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,0}</string>
                <key>spriteSize</key>
                <string>{287,312}</string>
                <key>spriteSourceSize</key>
                <string>{327,312}</string>
                <key>textureRect</key>
                <string>{{470,335},{287,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/sky_castle_defense/monster_thumb3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,0}</string>
                <key>spriteSize</key>
                <string>{295,312}</string>
                <key>spriteSourceSize</key>
                <string>{327,312}</string>
                <key>textureRect</key>
                <string>{{1053,349},{295,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/sky_castle_defense/monster_thumb4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,0}</string>
                <key>spriteSize</key>
                <string>{287,312}</string>
                <key>spriteSourceSize</key>
                <string>{327,312}</string>
                <key>textureRect</key>
                <string>{{390,624},{287,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/sky_castle_defense/monster_thumb5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{309,312}</string>
                <key>spriteSourceSize</key>
                <string>{327,312}</string>
                <key>textureRect</key>
                <string>{{809,1},{309,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/sky_castle_defense/time_count_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,51}</string>
                <key>spriteSourceSize</key>
                <string>{186,51}</string>
                <key>textureRect</key>
                <string>{{784,571},{186,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/sky_castle_defense/txt_castle_empty</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,14}</string>
                <key>spriteSourceSize</key>
                <string>{68,14}</string>
                <key>textureRect</key>
                <string>{{447,434},{68,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/sky_castle_defense/txt_castle_tower</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{186,29}</string>
                <key>spriteSourceSize</key>
                <string>{200,29}</string>
                <key>textureRect</key>
                <string>{{1350,264},{186,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/sky_castle_defense/txt_castle_tower_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,29}</string>
                <key>spriteSourceSize</key>
                <string>{200,29}</string>
                <key>textureRect</key>
                <string>{{843,525},{200,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/sky_castle_defense/txt_castle_wall</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,29}</string>
                <key>spriteSourceSize</key>
                <string>{210,29}</string>
                <key>textureRect</key>
                <string>{{1,882},{210,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/sky_castle_defense/txt_castle_wall_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,29}</string>
                <key>spriteSourceSize</key>
                <string>{181,29}</string>
                <key>textureRect</key>
                <string>{{1350,452},{181,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/sky_castle_defense/txt_fail</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,195}</string>
                <key>spriteSourceSize</key>
                <string>{346,195}</string>
                <key>textureRect</key>
                <string>{{1120,1},{346,195}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/sky_castle_defense/txt_success</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{387,387}</string>
                <key>spriteSourceSize</key>
                <string>{387,387}</string>
                <key>textureRect</key>
                <string>{{1,434},{387,387}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>sky_castle_defense.pvr.ccz</string>
            <key>size</key>
            <string>{1382,915}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a12cb70cad4cf967623aef6d8c3c1f60:7f84efa9e2dd53bee4c5fe09a452aa83:48ce4db69a85163a85125268c2fc2af8$</string>
            <key>textureFileName</key>
            <string>sky_castle_defense.pvr.ccz</string>
        </dict>
    </dict>
</plist>
