<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/slot/btn_bg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,69}}</string>
                <key>sourceSize</key>
                <string>{200,69}</string>
            </dict>
            <key>scene/slot/btn_go</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{169,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,69}}</string>
                <key>sourceSize</key>
                <string>{169,69}</string>
            </dict>
            <key>scene/slot/icon_dia</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{38,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,31}}</string>
                <key>sourceSize</key>
                <string>{38,31}</string>
            </dict>
            <key>scene/slot/text_go</key>
            <dict>
                <key>frame</key>
                <string>{{204,35},{82,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,36}}</string>
                <key>sourceSize</key>
                <string>{82,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slot.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de985afbe5f4e64f7fa8697513a3ddc8:b2dde79907a3ee3f0f44c2f97aa3219a:0cdf15b2e95dda00245ee97ca083aae8$</string>
            <key>textureFileName</key>
            <string>slot.pvr.ccz</string>
        </dict>
    </dict>
</plist>
