<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/spirit/bar_discript</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,23}</string>
                <key>spriteSourceSize</key>
                <string>{126,23}</string>
                <key>textureRect</key>
                <string>{{1092,367},{126,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/spirit/bg_evol</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{353,364}</string>
                <key>spriteSourceSize</key>
                <string>{353,364}</string>
                <key>textureRect</key>
                <string>{{658,397},{353,364}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/spirit/bg_spirit_default</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{353,364}</string>
                <key>spriteSourceSize</key>
                <string>{353,364}</string>
                <key>textureRect</key>
                <string>{{1024,397},{353,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/spirit/bg_spirit_default2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{351,362}</string>
                <key>spriteSourceSize</key>
                <string>{351,362}</string>
                <key>textureRect</key>
                <string>{{1379,373},{351,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/spirit/bg_spirit_popup</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{403,364}</string>
                <key>spriteSourceSize</key>
                <string>{403,364}</string>
                <key>textureRect</key>
                <string>{{1092,1},{403,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/spirit/bg_targetselect2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,394}</string>
                <key>spriteSourceSize</key>
                <string>{416,394}</string>
                <key>textureRect</key>
                <string>{{674,1},{416,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/spirit/big_card_high</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,342}</string>
                <key>spriteSourceSize</key>
                <string>{254,342}</string>
                <key>textureRect</key>
                <string>{{1,879},{254,342}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/spirit/big_card_normal</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,342}</string>
                <key>spriteSourceSize</key>
                <string>{254,342}</string>
                <key>textureRect</key>
                <string>{{402,395},{254,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/spirit/big_element</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,146}</string>
                <key>spriteSourceSize</key>
                <string>{132,146}</string>
                <key>textureRect</key>
                <string>{{393,1015},{132,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/spirit/big_element_select</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,130}</string>
                <key>spriteSourceSize</key>
                <string>{116,130}</string>
                <key>textureRect</key>
                <string>{{541,1062},{116,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/spirit/book_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{671,392}</string>
                <key>spriteSourceSize</key>
                <string>{671,392}</string>
                <key>textureRect</key>
                <string>{{1,1},{671,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/spirit/box_dia_cost</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,44}</string>
                <key>spriteSourceSize</key>
                <string>{240,44}</string>
                <key>textureRect</key>
                <string>{{1246,1044},{240,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/spirit/box_dia_enhancost</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,40}</string>
                <key>spriteSourceSize</key>
                <string>{162,40}</string>
                <key>textureRect</key>
                <string>{{1,1135},{162,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/spirit/box_divine_cost</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,44}</string>
                <key>spriteSourceSize</key>
                <string>{240,44}</string>
                <key>textureRect</key>
                <string>{{1246,1090},{240,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/spirit/box_enhancost</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,42}</string>
                <key>spriteSourceSize</key>
                <string>{164,42}</string>
                <key>textureRect</key>
                <string>{{1246,1136},{164,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/spirit/box_gold_cost</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,46}</string>
                <key>spriteSourceSize</key>
                <string>{242,46}</string>
                <key>textureRect</key>
                <string>{{345,879},{242,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/spirit/box_golddia_cost</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,46}</string>
                <key>spriteSourceSize</key>
                <string>{242,46}</string>
                <key>textureRect</key>
                <string>{{1246,996},{242,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/spirit/bt_side0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,127}</string>
                <key>spriteSourceSize</key>
                <string>{41,127}</string>
                <key>textureRect</key>
                <string>{{1763,503},{41,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/spirit/bt_side2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,128}</string>
                <key>spriteSourceSize</key>
                <string>{41,128}</string>
                <key>textureRect</key>
                <string>{{1763,373},{41,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/spirit/btn_bigyl</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,59}</string>
                <key>spriteSourceSize</key>
                <string>{319,59}</string>
                <key>textureRect</key>
                <string>{{1379,737},{319,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/spirit/btn_blue</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,46}</string>
                <key>spriteSourceSize</key>
                <string>{192,46}</string>
                <key>textureRect</key>
                <string>{{673,1123},{192,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/spirit/btn_darkgray</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,34}</string>
                <key>spriteSourceSize</key>
                <string>{77,34}</string>
                <key>textureRect</key>
                <string>{{279,1135},{77,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/spirit/btn_diasble</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,39}</string>
                <key>spriteSourceSize</key>
                <string>{106,39}</string>
                <key>textureRect</key>
                <string>{{1632,1072},{106,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/spirit/btn_gray</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,34}</string>
                <key>spriteSourceSize</key>
                <string>{77,34}</string>
                <key>textureRect</key>
                <string>{{876,1054},{77,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/spirit/btn_green</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,46}</string>
                <key>spriteSourceSize</key>
                <string>{142,46}</string>
                <key>textureRect</key>
                <string>{{1488,1072},{142,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/spirit/btn_mount</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,90}</string>
                <key>spriteSourceSize</key>
                <string>{75,90}</string>
                <key>textureRect</key>
                <string>{{876,962},{75,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/spirit/btn_notselect</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,39}</string>
                <key>spriteSourceSize</key>
                <string>{106,39}</string>
                <key>textureRect</key>
                <string>{{1673,1072},{106,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/spirit/btn_red</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,46}</string>
                <key>spriteSourceSize</key>
                <string>{142,46}</string>
                <key>textureRect</key>
                <string>{{1488,1120},{142,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/spirit/btn_select</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,39}</string>
                <key>spriteSourceSize</key>
                <string>{106,39}</string>
                <key>textureRect</key>
                <string>{{1714,1072},{106,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/spirit/btn_sort_notselected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,34}</string>
                <key>spriteSourceSize</key>
                <string>{76,34}</string>
                <key>textureRect</key>
                <string>{{1700,760},{76,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/spirit/btn_sort_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,34}</string>
                <key>spriteSourceSize</key>
                <string>{77,34}</string>
                <key>textureRect</key>
                <string>{{1720,869},{77,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/spirit/btn_spirit_bck</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,30}</string>
                <key>spriteSourceSize</key>
                <string>{112,30}</string>
                <key>textureRect</key>
                <string>{{165,1135},{112,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/spirit/element_small_gray</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,55}</string>
                <key>spriteSourceSize</key>
                <string>{56,55}</string>
                <key>textureRect</key>
                <string>{{1720,948},{56,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/spirit/icon_magnify</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{541,1015},{37,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/spirit/icon_splus</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,19}</string>
                <key>spriteSourceSize</key>
                <string>{19,19}</string>
                <key>textureRect</key>
                <string>{{1354,763},{19,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/spirit/icon_wplus</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1490,996},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/spirit/pull_best2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,274}</string>
                <key>spriteSourceSize</key>
                <string>{196,274}</string>
                <key>textureRect</key>
                <string>{{402,739},{196,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/spirit/pull_best5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,272}</string>
                <key>spriteSourceSize</key>
                <string>{194,272}</string>
                <key>textureRect</key>
                <string>{{1524,798},{194,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/spirit/pull_best6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,272}</string>
                <key>spriteSourceSize</key>
                <string>{194,272}</string>
                <key>textureRect</key>
                <string>{{972,961},{194,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/spirit/pull_best_only6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,274}</string>
                <key>spriteSourceSize</key>
                <string>{196,274}</string>
                <key>textureRect</key>
                <string>{{600,864},{196,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/spirit/pull_high2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,274}</string>
                <key>spriteSourceSize</key>
                <string>{196,274}</string>
                <key>textureRect</key>
                <string>{{972,763},{196,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/spirit/pull_normal2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,274}</string>
                <key>spriteSourceSize</key>
                <string>{196,274}</string>
                <key>textureRect</key>
                <string>{{1248,798},{196,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/spirit/ribbon_new</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,71}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{1720,796},{71,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/spirit/sort_direct2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,17}</string>
                <key>spriteSourceSize</key>
                <string>{19,17}</string>
                <key>textureRect</key>
                <string>{{953,962},{19,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/spirit/ticket_btn</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,81}</string>
                <key>spriteSourceSize</key>
                <string>{81,81}</string>
                <key>textureRect</key>
                <string>{{867,1090},{81,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/spirit/ticket_btn_eff</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{96,94}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{876,864},{96,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/spirit/titlebar1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,36}</string>
                <key>spriteSourceSize</key>
                <string>{124,36}</string>
                <key>textureRect</key>
                <string>{{1763,632},{124,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/spirit/titlebar2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,33}</string>
                <key>spriteSourceSize</key>
                <string>{104,33}</string>
                <key>textureRect</key>
                <string>{{1248,763},{104,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/spirit/worldmap_spirit_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{399,482}</string>
                <key>spriteSourceSize</key>
                <string>{399,482}</string>
                <key>textureRect</key>
                <string>{{1,395},{399,482}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/spirit/worldmap_spirit_bg2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,307}</string>
                <key>spriteSourceSize</key>
                <string>{370,307}</string>
                <key>textureRect</key>
                <string>{{1497,1},{370,307}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/spirit/worldmap_spirit_red</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,29}</string>
                <key>spriteSourceSize</key>
                <string>{385,29}</string>
                <key>textureRect</key>
                <string>{{1732,373},{385,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/spirit/worldmap_spirit_selectbg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,59}</string>
                <key>spriteSourceSize</key>
                <string>{184,59}</string>
                <key>textureRect</key>
                <string>{{673,1062},{184,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/spirit/worldmap_spirit_selectbg2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,110}</string>
                <key>spriteSourceSize</key>
                <string>{370,110}</string>
                <key>textureRect</key>
                <string>{{600,752},{370,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/spirit/worldmap_spirit_selectbg3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,21}</string>
                <key>spriteSourceSize</key>
                <string>{85,21}</string>
                <key>textureRect</key>
                <string>{{1220,367},{85,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>spirit.pvr.ccz</string>
            <key>size</key>
            <string>{1805,1179}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec7815b4a7bee5b13675fe07a40b7c41:4321b78c73ba82190d04d12df9324eb6:df729ef3076fdee9613c0781fd4d344d$</string>
            <key>textureFileName</key>
            <string>spirit.pvr.ccz</string>
        </dict>
    </dict>
</plist>
