<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/tower/sky_clearicon</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{65,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,78}}</string>
                <key>sourceSize</key>
                <string>{65,78}</string>
            </dict>
            <key>scene/tower/sky_lock</key>
            <dict>
                <key>frame</key>
                <string>{{398,69},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>scene/tower/sky_reset_bt</key>
            <dict>
                <key>frame</key>
                <string>{{434,351},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{28,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>scene/tower/sky_retime</key>
            <dict>
                <key>frame</key>
                <string>{{448,186},{163,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,48}}</string>
                <key>sourceSize</key>
                <string>{163,48}</string>
            </dict>
            <key>scene/tower/sky_retime_1</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{18,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,23}}</string>
                <key>sourceSize</key>
                <string>{18,23}</string>
            </dict>
            <key>scene/tower/sky_right_box1</key>
            <dict>
                <key>frame</key>
                <string>{{398,126},{179,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,48}}</string>
                <key>sourceSize</key>
                <string>{179,48}</string>
            </dict>
            <key>scene/tower/sky_right_key</key>
            <dict>
                <key>frame</key>
                <string>{{390,345},{39,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,42}}</string>
                <key>sourceSize</key>
                <string>{39,42}</string>
            </dict>
            <key>scene/tower/sky_right_water</key>
            <dict>
                <key>frame</key>
                <string>{{390,307},{36,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,43}}</string>
                <key>sourceSize</key>
                <string>{36,43}</string>
            </dict>
            <key>scene/tower/sky_right_waterback</key>
            <dict>
                <key>frame</key>
                <string>{{455,69},{115,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,52}}</string>
                <key>sourceSize</key>
                <string>{115,52}</string>
            </dict>
            <key>scene/tower/sky_rightback</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{242,386}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{242,386}}</string>
                <key>sourceSize</key>
                <string>{246,392}</string>
            </dict>
            <key>scene/tower/sky_top_nameback</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{404,45}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{404,45}}</string>
                <key>sourceSize</key>
                <string>{410,45}</string>
            </dict>
            <key>scene/tower/w_dv1_sky_topr_light01</key>
            <dict>
                <key>frame</key>
                <string>{{2,49},{394,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,179}}</string>
                <key>sourceSize</key>
                <string>{394,179}</string>
            </dict>
            <key>scene/tower/w_dv1_sky_topr_light02</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{313,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,171}}</string>
                <key>sourceSize</key>
                <string>{313,171}</string>
            </dict>
            <key>scene/tower/w_dv1_sky_topr_light03</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{265,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,152}}</string>
                <key>sourceSize</key>
                <string>{265,152}</string>
            </dict>
            <key>scene/tower/w_dv1_sky_topr_light04</key>
            <dict>
                <key>frame</key>
                <string>{{156,647},{214,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,126}}</string>
                <key>sourceSize</key>
                <string>{214,126}</string>
            </dict>
            <key>scene/tower/w_dv1_sky_topr_light05</key>
            <dict>
                <key>frame</key>
                <string>{{317,474},{260,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,162}}</string>
                <key>sourceSize</key>
                <string>{260,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tower.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce95033644784a4744a041a2c7451902:7de6f3f36822b9bd7a2bf6729d218dd0:d17431b98a526120b6dd9a77af5429f3$</string>
            <key>textureFileName</key>
            <string>tower.pvr.ccz</string>
        </dict>
    </dict>
</plist>
