<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/treasurebox_reward/bt_trabox</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,39}</string>
                <key>spriteSourceSize</key>
                <string>{147,39}</string>
                <key>textureRect</key>
                <string>{{980,437},{147,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/treasurebox_reward/card_nuri_ef1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{403,384}</string>
                <key>spriteSourceSize</key>
                <string>{403,384}</string>
                <key>textureRect</key>
                <string>{{1212,97},{403,384}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/treasurebox_reward/effect</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{671,434}</string>
                <key>spriteSourceSize</key>
                <string>{671,434}</string>
                <key>textureRect</key>
                <string>{{338,1},{671,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/treasurebox_reward/frame_treboxbg1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,335}</string>
                <key>spriteSourceSize</key>
                <string>{490,335}</string>
                <key>textureRect</key>
                <string>{{1,1},{490,335}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/treasurebox_reward/frame_treboxbg2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,158}</string>
                <key>spriteSourceSize</key>
                <string>{430,158}</string>
                <key>textureRect</key>
                <string>{{1011,1},{430,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/treasurebox_reward/frame_treboxbg3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,48}</string>
                <key>spriteSourceSize</key>
                <string>{430,48}</string>
                <key>textureRect</key>
                <string>{{338,437},{430,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/treasurebox_reward/frame_treboxbg4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,81}</string>
                <key>spriteSourceSize</key>
                <string>{75,81}</string>
                <key>textureRect</key>
                <string>{{1129,433},{75,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/treasurebox_reward/frame_treboxtitle</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{397,94}</string>
                <key>spriteSourceSize</key>
                <string>{397,94}</string>
                <key>textureRect</key>
                <string>{{1212,1},{397,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/treasurebox_reward/txt_trabox</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,22}</string>
                <key>spriteSourceSize</key>
                <string>{38,22}</string>
                <key>textureRect</key>
                <string>{{770,482},{38,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/treasurebox_reward/txt_trabox_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,20}</string>
                <key>spriteSourceSize</key>
                <string>{35,20}</string>
                <key>textureRect</key>
                <string>{{338,487},{35,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/treasurebox_reward/txt_traboxtitle</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,43}</string>
                <key>spriteSourceSize</key>
                <string>{208,43}</string>
                <key>textureRect</key>
                <string>{{770,437},{208,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/treasurebox_reward/txt_traboxtitle_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,38}</string>
                <key>spriteSourceSize</key>
                <string>{245,38}</string>
                <key>textureRect</key>
                <string>{{1171,1},{245,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>treasurebox_reward.pvr.ccz</string>
            <key>size</key>
            <string>{1610,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ccc77ac494faf17232a06e95c60403e1:3d61e3d016f9f66c5790f773559996d3:d525ddaccbff61864307b1c3ec44aabc$</string>
            <key>textureFileName</key>
            <string>treasurebox_reward.pvr.ccz</string>
        </dict>
    </dict>
</plist>
