<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/VideoAd/ad</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,50}</string>
                <key>spriteSourceSize</key>
                <string>{45,50}</string>
                <key>textureRect</key>
                <string>{{235,379},{45,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/VideoAd/ad_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,50}</string>
                <key>spriteSourceSize</key>
                <string>{45,50}</string>
                <key>textureRect</key>
                <string>{{282,379},{45,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/VideoAd/bt_ad_icon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{35,33}</string>
                <key>spriteSourceSize</key>
                <string>{45,35}</string>
                <key>textureRect</key>
                <string>{{181,438},{35,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/VideoAd/bt_free_icon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,57}</string>
                <key>spriteSourceSize</key>
                <string>{52,57}</string>
                <key>textureRect</key>
                <string>{{181,379},{52,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/VideoAd/bt_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,45}</string>
                <key>spriteSourceSize</key>
                <string>{144,45}</string>
                <key>textureRect</key>
                <string>{{329,379},{144,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/VideoAd/bt_on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,45}</string>
                <key>spriteSourceSize</key>
                <string>{144,45}</string>
                <key>textureRect</key>
                <string>{{329,426},{144,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/VideoAd/frame_ad_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{476,376}</string>
                <key>spriteSourceSize</key>
                <string>{476,376}</string>
                <key>textureRect</key>
                <string>{{1,1},{476,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/VideoAd/frame_ad_itembg1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,78}</string>
                <key>spriteSourceSize</key>
                <string>{79,78}</string>
                <key>textureRect</key>
                <string>{{1,379},{79,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/VideoAd/frame_ad_itembg2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,78}</string>
                <key>spriteSourceSize</key>
                <string>{79,78}</string>
                <key>textureRect</key>
                <string>{{81,379},{79,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/VideoAd/item_probability_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,18}</string>
                <key>spriteSourceSize</key>
                <string>{60,18}</string>
                <key>textureRect</key>
                <string>{{161,379},{60,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>VideoAd.pvr.ccz</string>
            <key>size</key>
            <string>{478,472}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a0a4a4936e5f4ccd7aa84fb889b20bb:de733c0c848dea745543807670aea9eb:11af319d459fd1d276387b083d43b9d6$</string>
            <key>textureFileName</key>
            <string>VideoAd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
