<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3082/effect/col_action2/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,-34}</string>
                <key>spriteSize</key>
                <string>{138,94}</string>
                <key>spriteSourceSize</key>
                <string>{340,292}</string>
                <key>textureRect</key>
                <string>{{407,879},{138,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3082/effect/col_action2/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,-25}</string>
                <key>spriteSize</key>
                <string>{152,110}</string>
                <key>spriteSourceSize</key>
                <string>{340,292}</string>
                <key>textureRect</key>
                <string>{{1,903},{152,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3082/effect/col_action2/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,-11}</string>
                <key>spriteSize</key>
                <string>{176,140}</string>
                <key>spriteSourceSize</key>
                <string>{340,292}</string>
                <key>textureRect</key>
                <string>{{229,879},{176,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3082/effect/col_action2/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,3}</string>
                <key>spriteSize</key>
                <string>{228,194}</string>
                <key>spriteSourceSize</key>
                <string>{340,292}</string>
                <key>textureRect</key>
                <string>{{241,683},{228,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3082/effect/col_action2/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,7}</string>
                <key>spriteSize</key>
                <string>{232,196}</string>
                <key>spriteSourceSize</key>
                <string>{340,292}</string>
                <key>textureRect</key>
                <string>{{241,485},{232,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3082/effect/col_action2/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,8}</string>
                <key>spriteSize</key>
                <string>{238,204}</string>
                <key>spriteSourceSize</key>
                <string>{340,292}</string>
                <key>textureRect</key>
                <string>{{1,485},{238,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3082/effect/col_action2/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{240,206}</string>
                <key>spriteSourceSize</key>
                <string>{340,292}</string>
                <key>textureRect</key>
                <string>{{1,277},{240,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3082/effect/col_action2/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{226,210}</string>
                <key>spriteSourceSize</key>
                <string>{340,292}</string>
                <key>textureRect</key>
                <string>{{1,691},{226,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3082/effect/col_action2/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,2}</string>
                <key>spriteSize</key>
                <string>{206,236}</string>
                <key>spriteSourceSize</key>
                <string>{340,292}</string>
                <key>textureRect</key>
                <string>{{243,277},{206,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3082/effect/col_action2/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,3}</string>
                <key>spriteSize</key>
                <string>{236,274}</string>
                <key>spriteSourceSize</key>
                <string>{340,292}</string>
                <key>textureRect</key>
                <string>{{271,1},{236,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3082/effect/col_action2/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,6}</string>
                <key>spriteSize</key>
                <string>{268,274}</string>
                <key>spriteSourceSize</key>
                <string>{340,292}</string>
                <key>textureRect</key>
                <string>{{1,1},{268,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action20.pvr.ccz</string>
            <key>size</key>
            <string>{508,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f136fcb005ec3abb9ba333ea52bf899e:ad29c557c67f1af1c584204ac05a5d7f:98ec4b5f3da3b367b0df440471cccb39$</string>
            <key>textureFileName</key>
            <string>col_action20.pvr.ccz</string>
        </dict>
    </dict>
</plist>
