<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/752/effect/col_action3/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,8}</string>
                <key>spriteSize</key>
                <string>{246,136}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{899,787},{246,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/752/effect/col_action3/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,0}</string>
                <key>spriteSize</key>
                <string>{246,208}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1361,859},{246,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/752/effect/col_action3/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,0}</string>
                <key>spriteSize</key>
                <string>{248,214}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1361,643},{248,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/752/effect/col_action3/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,0}</string>
                <key>spriteSize</key>
                <string>{348,218}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{227,353},{348,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/752/effect/col_action3/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,0}</string>
                <key>spriteSize</key>
                <string>{348,218}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{227,703},{348,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/752/effect/col_action3/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,0}</string>
                <key>spriteSize</key>
                <string>{350,224}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{350,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/752/effect/col_action3/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,0}</string>
                <key>spriteSize</key>
                <string>{338,224}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{447,353},{338,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/752/effect/col_action3/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,0}</string>
                <key>spriteSize</key>
                <string>{326,224}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{447,693},{326,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/752/effect/col_action3/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,0}</string>
                <key>spriteSize</key>
                <string>{260,224}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{679,1},{260,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/752/effect/col_action3/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,0}</string>
                <key>spriteSize</key>
                <string>{260,224}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{673,669},{260,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/752/effect/col_action3/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,0}</string>
                <key>spriteSize</key>
                <string>{350,224}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1,353},{350,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/752/effect/col_action3/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,0}</string>
                <key>spriteSize</key>
                <string>{350,224}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1,705},{350,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/752/effect/col_action3/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,0}</string>
                <key>spriteSize</key>
                <string>{350,224}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{227,1},{350,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/752/effect/col_action3/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,0}</string>
                <key>spriteSize</key>
                <string>{338,224}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{453,1},{338,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/752/effect/col_action3/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,0}</string>
                <key>spriteSize</key>
                <string>{326,224}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{673,341},{326,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/752/effect/col_action3/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,0}</string>
                <key>spriteSize</key>
                <string>{260,224}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{683,931},{260,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/752/effect/col_action3/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,0}</string>
                <key>spriteSize</key>
                <string>{260,224}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{899,263},{260,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/752/effect/col_action3/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,0}</string>
                <key>spriteSize</key>
                <string>{260,224}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{905,1},{260,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/752/effect/col_action3/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,0}</string>
                <key>spriteSize</key>
                <string>{260,224}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{899,525},{260,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/752/effect/col_action3/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,0}</string>
                <key>spriteSize</key>
                <string>{260,224}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{909,925},{260,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/752/effect/col_action3/20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,0}</string>
                <key>spriteSize</key>
                <string>{260,224}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1135,925},{260,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/752/effect/col_action3/21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,0}</string>
                <key>spriteSize</key>
                <string>{260,224}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1125,263},{260,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/752/effect/col_action3/22</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,0}</string>
                <key>spriteSize</key>
                <string>{260,224}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1131,1},{260,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/752/effect/col_action3/23</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,0}</string>
                <key>spriteSize</key>
                <string>{260,224}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1125,525},{260,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/752/effect/col_action3/24</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,0}</string>
                <key>spriteSize</key>
                <string>{260,224}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1361,1},{260,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/752/effect/col_action3/25</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,0}</string>
                <key>spriteSize</key>
                <string>{260,224}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1623,1},{260,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/752/effect/col_action3/26</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,0}</string>
                <key>spriteSize</key>
                <string>{260,224}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1361,227},{260,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/752/effect/col_action3/27</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-1}</string>
                <key>spriteSize</key>
                <string>{260,226}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{227,1053},{260,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/752/effect/col_action3/28</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-1}</string>
                <key>spriteSize</key>
                <string>{260,226}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{455,1021},{260,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/752/effect/col_action3/29</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-2}</string>
                <key>spriteSize</key>
                <string>{256,224}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1,1057},{256,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/752/effect/col_action3/30</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-3}</string>
                <key>spriteSize</key>
                <string>{248,222}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1617,599},{248,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/752/effect/col_action3/31</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-18}</string>
                <key>spriteSize</key>
                <string>{246,190}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1609,1015},{246,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/752/effect/col_action3/32</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-18}</string>
                <key>spriteSize</key>
                <string>{248,190}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1611,823},{248,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/752/effect/col_action3/33</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-19}</string>
                <key>spriteSize</key>
                <string>{254,188}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1361,453},{254,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/752/effect/col_action3/34</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-20}</string>
                <key>spriteSize</key>
                <string>{260,184}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1623,227},{260,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/752/effect/col_action3/35</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-20}</string>
                <key>spriteSize</key>
                <string>{258,184}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1623,413},{258,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/752/effect/col_action3/36</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,-13}</string>
                <key>spriteSize</key>
                <string>{154,180}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1361,1069},{154,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/752/effect/col_action3/37</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,-13}</string>
                <key>spriteSize</key>
                <string>{154,180}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1361,1069},{154,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/752/effect/col_action3/38</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-75,6}</string>
                <key>spriteSize</key>
                <string>{106,148}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{777,1193},{106,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/752/effect/col_action3/39</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-82,6}</string>
                <key>spriteSize</key>
                <string>{92,148}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1021,1187},{92,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/752/effect/col_action3/40</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-82,24}</string>
                <key>spriteSize</key>
                <string>{92,114}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{683,1193},{92,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/752/effect/col_action3/41</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-81,33}</string>
                <key>spriteSize</key>
                <string>{92,96}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{927,1187},{92,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/752/effect/col_action3/42</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-81,33}</string>
                <key>spriteSize</key>
                <string>{92,96}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{927,1187},{92,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action30.pvr.ccz</string>
            <key>size</key>
            <string>{1884,1314}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d651e2d8cfbc317593cf90e6c8640d71:528d3a429ab34694b64b99cdd493d54f:e44ba353004d0fd8b165f5c6960cb7e8$</string>
            <key>textureFileName</key>
            <string>col_action30.pvr.ccz</string>
        </dict>
    </dict>
</plist>
