<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{23,67}</string>
			<key>spriteSize</key>
			<string>{76,76}</string>
			<key>spriteSourceSize</key>
			<string>{326,240}</string>
			<key>textureRect</key>
			<string>{{497,429},{76,76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{31,18}</string>
			<key>spriteSize</key>
			<string>{154,204}</string>
			<key>spriteSourceSize</key>
			<string>{326,240}</string>
			<key>textureRect</key>
			<string>{{219,973},{154,204}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{36,18}</string>
			<key>spriteSize</key>
			<string>{166,204}</string>
			<key>spriteSourceSize</key>
			<string>{326,240}</string>
			<key>textureRect</key>
			<string>{{453,751},{166,204}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{22,45}</string>
			<key>spriteSize</key>
			<string>{190,150}</string>
			<key>spriteSourceSize</key>
			<string>{326,240}</string>
			<key>textureRect</key>
			<string>{{1,995},{190,150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,29}</string>
			<key>spriteSize</key>
			<string>{196,182}</string>
			<key>spriteSourceSize</key>
			<string>{326,240}</string>
			<key>textureRect</key>
			<string>{{453,919},{196,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,27}</string>
			<key>spriteSize</key>
			<string>{194,186}</string>
			<key>spriteSourceSize</key>
			<string>{326,240}</string>
			<key>textureRect</key>
			<string>{{795,463},{194,186}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{31,22}</string>
			<key>spriteSize</key>
			<string>{264,196}</string>
			<key>spriteSourceSize</key>
			<string>{326,240}</string>
			<key>textureRect</key>
			<string>{{497,231},{264,196}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{26,15}</string>
			<key>spriteSize</key>
			<string>{274,210}</string>
			<key>spriteSourceSize</key>
			<string>{326,240}</string>
			<key>textureRect</key>
			<string>{{285,231},{274,210}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{22,15}</string>
			<key>spriteSize</key>
			<string>{282,210}</string>
			<key>spriteSourceSize</key>
			<string>{326,240}</string>
			<key>textureRect</key>
			<string>{{1,299},{282,210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{12,9}</string>
			<key>spriteSize</key>
			<string>{296,222}</string>
			<key>spriteSourceSize</key>
			<string>{326,240}</string>
			<key>textureRect</key>
			<string>{{1,1},{296,222}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,6}</string>
			<key>spriteSize</key>
			<string>{280,228}</string>
			<key>spriteSourceSize</key>
			<string>{326,240}</string>
			<key>textureRect</key>
			<string>{{225,1},{280,228}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,6}</string>
			<key>spriteSize</key>
			<string>{268,228}</string>
			<key>spriteSourceSize</key>
			<string>{326,240}</string>
			<key>textureRect</key>
			<string>{{285,507},{268,228}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-8,1}</string>
			<key>spriteSize</key>
			<string>{254,238}</string>
			<key>spriteSourceSize</key>
			<string>{326,240}</string>
			<key>textureRect</key>
			<string>{{1,511},{254,238}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-15,1}</string>
			<key>spriteSize</key>
			<string>{242,238}</string>
			<key>spriteSourceSize</key>
			<string>{326,240}</string>
			<key>textureRect</key>
			<string>{{555,507},{242,238}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-20,-10}</string>
			<key>spriteSize</key>
			<string>{226,216}</string>
			<key>spriteSourceSize</key>
			<string>{326,240}</string>
			<key>textureRect</key>
			<string>{{1,767},{226,216}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>15</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-41,-10}</string>
			<key>spriteSize</key>
			<string>{244,216}</string>
			<key>spriteSourceSize</key>
			<string>{326,240}</string>
			<key>textureRect</key>
			<string>{{507,1},{244,216}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>16</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-41,-10}</string>
			<key>spriteSize</key>
			<string>{244,216}</string>
			<key>spriteSourceSize</key>
			<string>{326,240}</string>
			<key>textureRect</key>
			<string>{{753,1},{244,216}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>17</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-42,-9}</string>
			<key>spriteSize</key>
			<string>{242,214}</string>
			<key>spriteSourceSize</key>
			<string>{326,240}</string>
			<key>textureRect</key>
			<string>{{763,219},{242,214}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>18</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-46,-10}</string>
			<key>spriteSize</key>
			<string>{234,210}</string>
			<key>spriteSourceSize</key>
			<string>{326,240}</string>
			<key>textureRect</key>
			<string>{{241,737},{234,210}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>19</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-63,-14}</string>
			<key>spriteSize</key>
			<string>{200,198}</string>
			<key>spriteSourceSize</key>
			<string>{326,240}</string>
			<key>textureRect</key>
			<string>{{659,751},{200,198}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>20</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-68,-10}</string>
			<key>spriteSize</key>
			<string>{188,190}</string>
			<key>spriteSourceSize</key>
			<string>{326,240}</string>
			<key>textureRect</key>
			<string>{{637,953},{188,190}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>21</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-83,-9}</string>
			<key>spriteSize</key>
			<string>{154,186}</string>
			<key>spriteSourceSize</key>
			<string>{326,240}</string>
			<key>textureRect</key>
			<string>{{829,953},{154,186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>22</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-83,-10}</string>
			<key>spriteSize</key>
			<string>{154,184}</string>
			<key>spriteSourceSize</key>
			<string>{326,240}</string>
			<key>textureRect</key>
			<string>{{859,659},{154,184}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action30.pvr.ccz</string>
		<key>size</key>
		<string>{1014,1146}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:b35c81450bd01e4df9e8742d34d22de1:eaab0ee0b4365c82d863cb80f7d091e2:e44ba353004d0fd8b165f5c6960cb7e8$</string>
		<key>textureFileName</key>
		<string>col_action30.pvr.ccz</string>
	</dict>
</dict>
</plist>
