<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/cave/cave_skin/cave_skin11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,480}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>cave_skin.pvr.ccz</string>
            <key>size</key>
            <string>{802,482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5f2075852f6c80fb20f38c7eacd2bec:dcd2d56d020545ac4e079bc7aba8905e:8d9e93efe59a85097dcfcd57bd8b4b08$</string>
            <key>textureFileName</key>
            <string>cave_skin.pvr.ccz</string>
        </dict>
    </dict>
</plist>
