<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/cave/shelter/box_cover</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,21}</string>
                <key>spriteSourceSize</key>
                <string>{19,21}</string>
                <key>textureRect</key>
                <string>{{385,399},{19,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/cave/shelter/box_status2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,477}</string>
                <key>spriteSourceSize</key>
                <string>{315,477}</string>
                <key>textureRect</key>
                <string>{{1,1},{315,477}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/cave/shelter/btn_cave1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,100}</string>
                <key>spriteSourceSize</key>
                <string>{69,100}</string>
                <key>textureRect</key>
                <string>{{243,318},{69,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/cave/shelter/btn_cave2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,100}</string>
                <key>spriteSourceSize</key>
                <string>{69,100}</string>
                <key>textureRect</key>
                <string>{{314,318},{69,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/cave/shelter/icon_cave_heal</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,35}</string>
                <key>spriteSourceSize</key>
                <string>{36,35}</string>
                <key>textureRect</key>
                <string>{{243,420},{36,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/cave/shelter/icon_cave_leader</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,35}</string>
                <key>spriteSourceSize</key>
                <string>{36,35}</string>
                <key>textureRect</key>
                <string>{{281,420},{36,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/cave/shelter/lock_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,38}</string>
                <key>spriteSourceSize</key>
                <string>{29,38}</string>
                <key>textureRect</key>
                <string>{{364,420},{29,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/cave/shelter/lock_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,53}</string>
                <key>spriteSourceSize</key>
                <string>{45,53}</string>
                <key>textureRect</key>
                <string>{{408,399},{45,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/cave/shelter/thumb_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,79}</string>
                <key>spriteSourceSize</key>
                <string>{82,79}</string>
                <key>textureRect</key>
                <string>{{385,318},{82,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/cave/shelter/title_bg1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,60}</string>
                <key>spriteSourceSize</key>
                <string>{240,60}</string>
                <key>textureRect</key>
                <string>{{1,318},{240,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/cave/shelter/title_bg2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,60}</string>
                <key>spriteSourceSize</key>
                <string>{240,60}</string>
                <key>textureRect</key>
                <string>{{1,380},{240,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/cave/shelter/unlock_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,43}</string>
                <key>spriteSourceSize</key>
                <string>{29,43}</string>
                <key>textureRect</key>
                <string>{{319,420},{29,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>shelter.pvr.ccz</string>
            <key>size</key>
            <string>{479,456}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34be9e63ffdbe69834b52488ff5b7227:33a1084f154f87765feec446d78507b6:284a4ad18e6807076c3a5a8a86635f32$</string>
            <key>textureFileName</key>
            <string>shelter.pvr.ccz</string>
        </dict>
    </dict>
</plist>
