<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3091/effect/col_action1/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-153,-57}</string>
                <key>spriteSize</key>
                <string>{222,102}</string>
                <key>spriteSourceSize</key>
                <string>{670,328}</string>
                <key>textureRect</key>
                <string>{{351,1081},{222,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3091/effect/col_action1/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-151,-52}</string>
                <key>spriteSize</key>
                <string>{226,112}</string>
                <key>spriteSourceSize</key>
                <string>{670,328}</string>
                <key>textureRect</key>
                <string>{{229,853},{226,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3091/effect/col_action1/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-150,-39}</string>
                <key>spriteSize</key>
                <string>{236,138}</string>
                <key>spriteSourceSize</key>
                <string>{670,328}</string>
                <key>textureRect</key>
                <string>{{239,713},{236,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3091/effect/col_action1/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-153,-47}</string>
                <key>spriteSize</key>
                <string>{222,122}</string>
                <key>spriteSourceSize</key>
                <string>{670,328}</string>
                <key>textureRect</key>
                <string>{{227,1081},{222,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3091/effect/col_action1/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-151,-33}</string>
                <key>spriteSize</key>
                <string>{226,150}</string>
                <key>spriteSourceSize</key>
                <string>{670,328}</string>
                <key>textureRect</key>
                <string>{{1,833},{226,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3091/effect/col_action1/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-150,-19}</string>
                <key>spriteSize</key>
                <string>{236,178}</string>
                <key>spriteSourceSize</key>
                <string>{670,328}</string>
                <key>textureRect</key>
                <string>{{1,653},{236,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3091/effect/col_action1/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-153,-19}</string>
                <key>spriteSize</key>
                <string>{222,178}</string>
                <key>spriteSourceSize</key>
                <string>{670,328}</string>
                <key>textureRect</key>
                <string>{{257,371},{222,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3091/effect/col_action1/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-151,0}</string>
                <key>spriteSize</key>
                <string>{226,216}</string>
                <key>spriteSourceSize</key>
                <string>{670,328}</string>
                <key>textureRect</key>
                <string>{{259,1},{226,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3091/effect/col_action1/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-155,20}</string>
                <key>spriteSize</key>
                <string>{246,256}</string>
                <key>spriteSourceSize</key>
                <string>{670,328}</string>
                <key>textureRect</key>
                <string>{{1,1},{246,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3091/effect/col_action1/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-141,6}</string>
                <key>spriteSize</key>
                <string>{246,228}</string>
                <key>spriteSourceSize</key>
                <string>{670,328}</string>
                <key>textureRect</key>
                <string>{{1,423},{246,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3091/effect/col_action1/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-148,-28}</string>
                <key>spriteSize</key>
                <string>{230,160}</string>
                <key>spriteSourceSize</key>
                <string>{670,328}</string>
                <key>textureRect</key>
                <string>{{249,551},{230,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3091/effect/col_action1/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-141,-22}</string>
                <key>spriteSize</key>
                <string>{254,172}</string>
                <key>spriteSourceSize</key>
                <string>{670,328}</string>
                <key>textureRect</key>
                <string>{{1,249},{254,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3091/effect/col_action1/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-151,-23}</string>
                <key>spriteSize</key>
                <string>{224,170}</string>
                <key>spriteSourceSize</key>
                <string>{670,328}</string>
                <key>textureRect</key>
                <string>{{1,985},{224,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3091/effect/col_action1/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-151,-52}</string>
                <key>spriteSize</key>
                <string>{226,112}</string>
                <key>spriteSourceSize</key>
                <string>{670,328}</string>
                <key>textureRect</key>
                <string>{{229,967},{226,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3091/effect/col_action1/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-160,-38}</string>
                <key>spriteSize</key>
                <string>{216,140}</string>
                <key>spriteSourceSize</key>
                <string>{670,328}</string>
                <key>textureRect</key>
                <string>{{259,229},{216,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3091/effect/col_action1/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-158,-26}</string>
                <key>spriteSize</key>
                <string>{224,164}</string>
                <key>spriteSourceSize</key>
                <string>{670,328}</string>
                <key>textureRect</key>
                <string>{{1,1157},{224,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action10.pvr.ccz</string>
            <key>size</key>
            <string>{480,1322}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8269a2f67c4d04bc47d72864ca4915d2:3429001b407a33b6249cfd9e7edb331f:fd6dfe3ee94267230ed6425290acf6b5$</string>
            <key>textureFileName</key>
            <string>col_action10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
