<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/755/effect/col_action3/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-11}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{203,217}</string>
                <key>textureRect</key>
                <string>{{760,414},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/755/effect/col_action3/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-11}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{203,217}</string>
                <key>textureRect</key>
                <string>{{760,414},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/755/effect/col_action3/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-9}</string>
                <key>spriteSize</key>
                <string>{139,141}</string>
                <key>spriteSourceSize</key>
                <string>{203,217}</string>
                <key>textureRect</key>
                <string>{{496,335},{139,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/755/effect/col_action3/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-7}</string>
                <key>spriteSize</key>
                <string>{151,165}</string>
                <key>spriteSourceSize</key>
                <string>{203,217}</string>
                <key>textureRect</key>
                <string>{{488,1},{151,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/755/effect/col_action3/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{167,181}</string>
                <key>spriteSourceSize</key>
                <string>{203,217}</string>
                <key>textureRect</key>
                <string>{{1,1},{167,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/755/effect/col_action3/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-1}</string>
                <key>spriteSize</key>
                <string>{145,157}</string>
                <key>spriteSourceSize</key>
                <string>{203,217}</string>
                <key>textureRect</key>
                <string>{{337,339},{145,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/755/effect/col_action3/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-7}</string>
                <key>spriteSize</key>
                <string>{151,165}</string>
                <key>spriteSourceSize</key>
                <string>{203,217}</string>
                <key>textureRect</key>
                <string>{{488,168},{151,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/755/effect/col_action3/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-7}</string>
                <key>spriteSize</key>
                <string>{155,171}</string>
                <key>spriteSourceSize</key>
                <string>{203,217}</string>
                <key>textureRect</key>
                <string>{{331,1},{155,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/755/effect/col_action3/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,12}</string>
                <key>spriteSize</key>
                <string>{151,113}</string>
                <key>spriteSourceSize</key>
                <string>{203,217}</string>
                <key>textureRect</key>
                <string>{{786,299},{151,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/755/effect/col_action3/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{151,151}</string>
                <key>spriteSourceSize</key>
                <string>{203,217}</string>
                <key>textureRect</key>
                <string>{{794,146},{151,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/755/effect/col_action3/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-7}</string>
                <key>spriteSize</key>
                <string>{151,165}</string>
                <key>spriteSourceSize</key>
                <string>{203,217}</string>
                <key>textureRect</key>
                <string>{{641,1},{151,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/755/effect/col_action3/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-7}</string>
                <key>spriteSize</key>
                <string>{167,171}</string>
                <key>spriteSourceSize</key>
                <string>{203,217}</string>
                <key>textureRect</key>
                <string>{{1,184},{167,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/755/effect/col_action3/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,4}</string>
                <key>spriteSize</key>
                <string>{165,125}</string>
                <key>spriteSourceSize</key>
                <string>{203,217}</string>
                <key>textureRect</key>
                <string>{{170,351},{165,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/755/effect/col_action3/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,4}</string>
                <key>spriteSize</key>
                <string>{167,127}</string>
                <key>spriteSourceSize</key>
                <string>{203,217}</string>
                <key>textureRect</key>
                <string>{{1,357},{167,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/755/effect/col_action3/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{167,143}</string>
                <key>spriteSourceSize</key>
                <string>{203,217}</string>
                <key>textureRect</key>
                <string>{{794,1},{167,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/755/effect/col_action3/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{159,143}</string>
                <key>spriteSourceSize</key>
                <string>{203,217}</string>
                <key>textureRect</key>
                <string>{{641,168},{159,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/755/effect/col_action3/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-2}</string>
                <key>spriteSize</key>
                <string>{155,163}</string>
                <key>spriteSourceSize</key>
                <string>{203,217}</string>
                <key>textureRect</key>
                <string>{{331,174},{155,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/755/effect/col_action3/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-5}</string>
                <key>spriteSize</key>
                <string>{159,173}</string>
                <key>spriteSourceSize</key>
                <string>{203,217}</string>
                <key>textureRect</key>
                <string>{{170,1},{159,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/755/effect/col_action3/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-5}</string>
                <key>spriteSize</key>
                <string>{159,173}</string>
                <key>spriteSourceSize</key>
                <string>{203,217}</string>
                <key>textureRect</key>
                <string>{{170,176},{159,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/755/effect/col_action3/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-21}</string>
                <key>spriteSize</key>
                <string>{129,77}</string>
                <key>spriteSourceSize</key>
                <string>{203,217}</string>
                <key>textureRect</key>
                <string>{{641,329},{129,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/755/effect/col_action3/20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-20}</string>
                <key>spriteSize</key>
                <string>{121,77}</string>
                <key>spriteSourceSize</key>
                <string>{203,217}</string>
                <key>textureRect</key>
                <string>{{637,408},{121,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/755/effect/col_action3/21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-14}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{203,217}</string>
                <key>textureRect</key>
                <string>{{829,414},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action30.pvr.ccz</string>
            <key>size</key>
            <string>{962,486}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c5c253e132fb9a9e8b416bdb7d03e64:6e86e4c330f251be85130e777dd25cb8:e44ba353004d0fd8b165f5c6960cb7e8$</string>
            <key>textureFileName</key>
            <string>col_action30.pvr.ccz</string>
        </dict>
    </dict>
</plist>
