<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3309/effect/col_action1/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-18}</string>
                <key>spriteSize</key>
                <string>{56,65}</string>
                <key>spriteSourceSize</key>
                <string>{388,321}</string>
                <key>textureRect</key>
                <string>{{687,424},{56,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3309/effect/col_action1/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-41}</string>
                <key>spriteSize</key>
                <string>{98,87}</string>
                <key>spriteSourceSize</key>
                <string>{388,321}</string>
                <key>textureRect</key>
                <string>{{907,429},{98,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3309/effect/col_action1/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-47}</string>
                <key>spriteSize</key>
                <string>{98,101}</string>
                <key>spriteSourceSize</key>
                <string>{388,321}</string>
                <key>textureRect</key>
                <string>{{687,324},{98,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3309/effect/col_action1/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-47}</string>
                <key>spriteSize</key>
                <string>{98,109}</string>
                <key>spriteSourceSize</key>
                <string>{388,321}</string>
                <key>textureRect</key>
                <string>{{652,213},{98,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3309/effect/col_action1/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-45}</string>
                <key>spriteSize</key>
                <string>{96,107}</string>
                <key>spriteSourceSize</key>
                <string>{388,321}</string>
                <key>textureRect</key>
                <string>{{246,221},{96,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3309/effect/col_action1/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-46}</string>
                <key>spriteSize</key>
                <string>{88,103}</string>
                <key>spriteSourceSize</key>
                <string>{388,321}</string>
                <key>textureRect</key>
                <string>{{802,413},{88,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3309/effect/col_action1/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-45}</string>
                <key>spriteSize</key>
                <string>{96,103}</string>
                <key>spriteSourceSize</key>
                <string>{388,321}</string>
                <key>textureRect</key>
                <string>{{802,315},{96,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3309/effect/col_action1/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-43}</string>
                <key>spriteSize</key>
                <string>{110,103}</string>
                <key>spriteSourceSize</key>
                <string>{388,321}</string>
                <key>textureRect</key>
                <string>{{1,597},{110,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3309/effect/col_action1/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-45}</string>
                <key>spriteSize</key>
                <string>{92,105}</string>
                <key>spriteSourceSize</key>
                <string>{388,321}</string>
                <key>textureRect</key>
                <string>{{908,1},{92,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3309/effect/col_action1/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-45}</string>
                <key>spriteSize</key>
                <string>{92,105}</string>
                <key>spriteSourceSize</key>
                <string>{388,321}</string>
                <key>textureRect</key>
                <string>{{908,108},{92,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3309/effect/col_action1/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-43}</string>
                <key>spriteSize</key>
                <string>{110,103}</string>
                <key>spriteSourceSize</key>
                <string>{388,321}</string>
                <key>textureRect</key>
                <string>{{106,597},{110,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3309/effect/col_action1/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-45}</string>
                <key>spriteSize</key>
                <string>{94,105}</string>
                <key>spriteSourceSize</key>
                <string>{388,321}</string>
                <key>textureRect</key>
                <string>{{907,215},{94,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3309/effect/col_action1/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-45}</string>
                <key>spriteSize</key>
                <string>{90,105}</string>
                <key>spriteSourceSize</key>
                <string>{388,321}</string>
                <key>textureRect</key>
                <string>{{907,322},{90,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3309/effect/col_action1/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-43}</string>
                <key>spriteSize</key>
                <string>{102,103}</string>
                <key>spriteSourceSize</key>
                <string>{388,321}</string>
                <key>textureRect</key>
                <string>{{802,211},{102,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3309/effect/col_action1/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-44}</string>
                <key>spriteSize</key>
                <string>{104,105}</string>
                <key>spriteSourceSize</key>
                <string>{388,321}</string>
                <key>textureRect</key>
                <string>{{344,221},{104,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3309/effect/col_action1/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-45}</string>
                <key>spriteSize</key>
                <string>{100,105}</string>
                <key>spriteSourceSize</key>
                <string>{388,321}</string>
                <key>textureRect</key>
                <string>{{450,219},{100,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3309/effect/col_action1/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-45}</string>
                <key>spriteSize</key>
                <string>{98,105}</string>
                <key>spriteSourceSize</key>
                <string>{388,321}</string>
                <key>textureRect</key>
                <string>{{552,219},{98,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3309/effect/col_action1/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,24}</string>
                <key>spriteSize</key>
                <string>{328,243}</string>
                <key>spriteSourceSize</key>
                <string>{388,321}</string>
                <key>textureRect</key>
                <string>{{1,1},{328,243}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3309/effect/col_action1/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,12}</string>
                <key>spriteSize</key>
                <string>{264,195}</string>
                <key>spriteSourceSize</key>
                <string>{388,321}</string>
                <key>textureRect</key>
                <string>{{1,331},{264,195}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3309/effect/col_action1/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-27}</string>
                <key>spriteSize</key>
                <string>{210,173}</string>
                <key>spriteSourceSize</key>
                <string>{388,321}</string>
                <key>textureRect</key>
                <string>{{211,553},{210,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3309/effect/col_action1/20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-52}</string>
                <key>spriteSize</key>
                <string>{218,171}</string>
                <key>spriteSourceSize</key>
                <string>{388,321}</string>
                <key>textureRect</key>
                <string>{{246,1},{218,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3309/effect/col_action1/21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-47}</string>
                <key>spriteSize</key>
                <string>{204,161}</string>
                <key>spriteSourceSize</key>
                <string>{388,321}</string>
                <key>textureRect</key>
                <string>{{802,529},{204,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3309/effect/col_action1/22</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-46}</string>
                <key>spriteSize</key>
                <string>{196,161}</string>
                <key>spriteSourceSize</key>
                <string>{388,321}</string>
                <key>textureRect</key>
                <string>{{639,538},{196,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3309/effect/col_action1/23</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-46}</string>
                <key>spriteSize</key>
                <string>{208,161}</string>
                <key>spriteSourceSize</key>
                <string>{388,321}</string>
                <key>textureRect</key>
                <string>{{745,1},{208,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3309/effect/col_action1/24</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-47}</string>
                <key>spriteSize</key>
                <string>{220,161}</string>
                <key>spriteSourceSize</key>
                <string>{388,321}</string>
                <key>textureRect</key>
                <string>{{198,331},{220,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3309/effect/col_action1/25</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-48}</string>
                <key>spriteSize</key>
                <string>{216,161}</string>
                <key>spriteSourceSize</key>
                <string>{388,321}</string>
                <key>textureRect</key>
                <string>{{419,1},{216,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3309/effect/col_action1/26</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-48}</string>
                <key>spriteSize</key>
                <string>{210,161}</string>
                <key>spriteSourceSize</key>
                <string>{388,321}</string>
                <key>textureRect</key>
                <string>{{524,326},{210,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3309/effect/col_action1/27</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-48}</string>
                <key>spriteSize</key>
                <string>{210,161}</string>
                <key>spriteSourceSize</key>
                <string>{388,321}</string>
                <key>textureRect</key>
                <string>{{582,1},{210,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3309/effect/col_action1/28</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-48}</string>
                <key>spriteSize</key>
                <string>{214,161}</string>
                <key>spriteSourceSize</key>
                <string>{388,321}</string>
                <key>textureRect</key>
                <string>{{361,328},{214,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3309/effect/col_action1/29</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-48}</string>
                <key>spriteSize</key>
                <string>{214,161}</string>
                <key>spriteSourceSize</key>
                <string>{388,321}</string>
                <key>textureRect</key>
                <string>{{423,544},{214,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action10.pvr.ccz</string>
            <key>size</key>
            <string>{1002,735}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63d2065ecf32e4567ab28053378a04c4:7f8be6940d0139e84daae22f3875b27a:fd6dfe3ee94267230ed6425290acf6b5$</string>
            <key>textureFileName</key>
            <string>col_action10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
