<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/24/effect/col_action3/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-45}</string>
                <key>spriteSize</key>
                <string>{60,71}</string>
                <key>spriteSourceSize</key>
                <string>{202,173}</string>
                <key>textureRect</key>
                <string>{{1364,437},{60,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/24/effect/col_action3/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-40}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{202,173}</string>
                <key>textureRect</key>
                <string>{{1449,363},{70,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/24/effect/col_action3/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-25}</string>
                <key>spriteSize</key>
                <string>{74,123}</string>
                <key>spriteSourceSize</key>
                <string>{202,173}</string>
                <key>textureRect</key>
                <string>{{1544,363},{74,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/24/effect/col_action3/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-17}</string>
                <key>spriteSize</key>
                <string>{88,139}</string>
                <key>spriteSourceSize</key>
                <string>{202,173}</string>
                <key>textureRect</key>
                <string>{{1454,273},{88,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/24/effect/col_action3/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-12}</string>
                <key>spriteSize</key>
                <string>{134,149}</string>
                <key>spriteSourceSize</key>
                <string>{202,173}</string>
                <key>textureRect</key>
                <string>{{114,365},{134,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/24/effect/col_action3/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-8}</string>
                <key>spriteSize</key>
                <string>{142,157}</string>
                <key>spriteSourceSize</key>
                <string>{202,173}</string>
                <key>textureRect</key>
                <string>{{1310,162},{142,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/24/effect/col_action3/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-7}</string>
                <key>spriteSize</key>
                <string>{146,159}</string>
                <key>spriteSourceSize</key>
                <string>{202,173}</string>
                <key>textureRect</key>
                <string>{{1162,162},{146,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/24/effect/col_action3/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{158,159}</string>
                <key>spriteSourceSize</key>
                <string>{202,173}</string>
                <key>textureRect</key>
                <string>{{896,337},{158,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/24/effect/col_action3/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{158,159}</string>
                <key>spriteSourceSize</key>
                <string>{202,173}</string>
                <key>textureRect</key>
                <string>{{1002,169},{158,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/24/effect/col_action3/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-7}</string>
                <key>spriteSize</key>
                <string>{174,159}</string>
                <key>spriteSourceSize</key>
                <string>{202,173}</string>
                <key>textureRect</key>
                <string>{{343,1},{174,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/24/effect/col_action3/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{180,163}</string>
                <key>spriteSourceSize</key>
                <string>{202,173}</string>
                <key>textureRect</key>
                <string>{{1,183},{180,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/24/effect/col_action3/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{180,163}</string>
                <key>spriteSourceSize</key>
                <string>{202,173}</string>
                <key>textureRect</key>
                <string>{{166,183},{180,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/24/effect/col_action3/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{180,167}</string>
                <key>spriteSourceSize</key>
                <string>{202,173}</string>
                <key>textureRect</key>
                <string>{{1,1},{180,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/24/effect/col_action3/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{174,169}</string>
                <key>spriteSourceSize</key>
                <string>{202,173}</string>
                <key>textureRect</key>
                <string>{{331,177},{174,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/24/effect/col_action3/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{174,171}</string>
                <key>spriteSourceSize</key>
                <string>{202,173}</string>
                <key>textureRect</key>
                <string>{{170,1},{174,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/24/effect/col_action3/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{170,171}</string>
                <key>spriteSourceSize</key>
                <string>{202,173}</string>
                <key>textureRect</key>
                <string>{{667,175},{170,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/24/effect/col_action3/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-5}</string>
                <key>spriteSize</key>
                <string>{172,163}</string>
                <key>spriteSourceSize</key>
                <string>{202,173}</string>
                <key>textureRect</key>
                <string>{{502,177},{172,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/24/effect/col_action3/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-5}</string>
                <key>spriteSize</key>
                <string>{172,163}</string>
                <key>spriteSourceSize</key>
                <string>{202,173}</string>
                <key>textureRect</key>
                <string>{{504,1},{172,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/24/effect/col_action3/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-5}</string>
                <key>spriteSize</key>
                <string>{166,163}</string>
                <key>spriteSourceSize</key>
                <string>{202,173}</string>
                <key>textureRect</key>
                <string>{{669,1},{166,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/24/effect/col_action3/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-5}</string>
                <key>spriteSize</key>
                <string>{166,163}</string>
                <key>spriteSourceSize</key>
                <string>{202,173}</string>
                <key>textureRect</key>
                <string>{{834,1},{166,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/24/effect/col_action3/20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-6}</string>
                <key>spriteSize</key>
                <string>{166,161}</string>
                <key>spriteSourceSize</key>
                <string>{202,173}</string>
                <key>textureRect</key>
                <string>{{839,169},{166,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/24/effect/col_action3/21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-6}</string>
                <key>spriteSize</key>
                <string>{166,161}</string>
                <key>spriteSourceSize</key>
                <string>{202,173}</string>
                <key>textureRect</key>
                <string>{{999,1},{166,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/24/effect/col_action3/22</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{154,159}</string>
                <key>spriteSourceSize</key>
                <string>{202,173}</string>
                <key>textureRect</key>
                <string>{{735,348},{154,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/24/effect/col_action3/23</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{154,159}</string>
                <key>spriteSourceSize</key>
                <string>{202,173}</string>
                <key>textureRect</key>
                <string>{{1056,330},{154,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/24/effect/col_action3/24</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{150,159}</string>
                <key>spriteSourceSize</key>
                <string>{202,173}</string>
                <key>textureRect</key>
                <string>{{413,353},{150,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/24/effect/col_action3/25</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{150,159}</string>
                <key>spriteSourceSize</key>
                <string>{202,173}</string>
                <key>textureRect</key>
                <string>{{574,351},{150,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/24/effect/col_action3/26</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{150,159}</string>
                <key>spriteSourceSize</key>
                <string>{202,173}</string>
                <key>textureRect</key>
                <string>{{574,351},{150,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/24/effect/col_action3/27</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{150,159}</string>
                <key>spriteSourceSize</key>
                <string>{202,173}</string>
                <key>textureRect</key>
                <string>{{574,351},{150,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/24/effect/col_action3/28</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{150,159}</string>
                <key>spriteSourceSize</key>
                <string>{202,173}</string>
                <key>textureRect</key>
                <string>{{574,351},{150,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/24/effect/col_action3/29</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{150,159}</string>
                <key>spriteSourceSize</key>
                <string>{202,173}</string>
                <key>textureRect</key>
                <string>{{574,351},{150,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/24/effect/col_action3/30</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{150,159}</string>
                <key>spriteSourceSize</key>
                <string>{202,173}</string>
                <key>textureRect</key>
                <string>{{574,351},{150,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/24/effect/col_action3/31</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{150,159}</string>
                <key>spriteSourceSize</key>
                <string>{202,173}</string>
                <key>textureRect</key>
                <string>{{1162,1},{150,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/24/effect/col_action3/32</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-8}</string>
                <key>spriteSize</key>
                <string>{150,157}</string>
                <key>spriteSourceSize</key>
                <string>{202,173}</string>
                <key>textureRect</key>
                <string>{{1212,323},{150,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/24/effect/col_action3/33</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-10}</string>
                <key>spriteSize</key>
                <string>{150,153}</string>
                <key>spriteSourceSize</key>
                <string>{202,173}</string>
                <key>textureRect</key>
                <string>{{1314,1},{150,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/24/effect/col_action3/34</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-14}</string>
                <key>spriteSize</key>
                <string>{148,145}</string>
                <key>spriteSourceSize</key>
                <string>{202,173}</string>
                <key>textureRect</key>
                <string>{{1466,1},{148,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/24/effect/col_action3/35</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{146,129}</string>
                <key>spriteSourceSize</key>
                <string>{202,173}</string>
                <key>textureRect</key>
                <string>{{265,365},{146,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/24/effect/col_action3/36</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-25}</string>
                <key>spriteSize</key>
                <string>{142,123}</string>
                <key>spriteSourceSize</key>
                <string>{202,173}</string>
                <key>textureRect</key>
                <string>{{1466,148},{142,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/24/effect/col_action3/37</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-31}</string>
                <key>spriteSize</key>
                <string>{138,111}</string>
                <key>spriteSourceSize</key>
                <string>{202,173}</string>
                <key>textureRect</key>
                <string>{{1,365},{138,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/24/effect/col_action3/38</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-39}</string>
                <key>spriteSize</key>
                <string>{114,83}</string>
                <key>spriteSourceSize</key>
                <string>{202,173}</string>
                <key>textureRect</key>
                <string>{{1364,321},{114,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/24/effect/col_action3/39</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-62}</string>
                <key>spriteSize</key>
                <string>{52,33}</string>
                <key>spriteSourceSize</key>
                <string>{202,173}</string>
                <key>textureRect</key>
                <string>{{1437,437},{52,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/24/effect/col_action3/40</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-68}</string>
                <key>spriteSize</key>
                <string>{28,13}</string>
                <key>spriteSourceSize</key>
                <string>{202,173}</string>
                <key>textureRect</key>
                <string>{{1212,482},{28,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action30.pvr.ccz</string>
            <key>size</key>
            <string>{1619,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ee4d0f2a3a474d8847c590b82871d2c:4a9241551bc730bd8471ada88c9fd7e2:e44ba353004d0fd8b165f5c6960cb7e8$</string>
            <key>textureFileName</key>
            <string>col_action30.pvr.ccz</string>
        </dict>
    </dict>
</plist>
