<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3119/effect/col_action2/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-207.5,244}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{418,491}</string>
                <key>textureRect</key>
                <string>{{655,177},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3119/effect/col_action2/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{16,15}</string>
                <key>spriteSourceSize</key>
                <string>{418,491}</string>
                <key>textureRect</key>
                <string>{{429,242},{16,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3119/effect/col_action2/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,31}</string>
                <key>spriteSourceSize</key>
                <string>{418,491}</string>
                <key>textureRect</key>
                <string>{{620,382},{26,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3119/effect/col_action2/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{48,55}</string>
                <key>spriteSourceSize</key>
                <string>{418,491}</string>
                <key>textureRect</key>
                <string>{{217,425},{48,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3119/effect/col_action2/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{72,83}</string>
                <key>spriteSourceSize</key>
                <string>{418,491}</string>
                <key>textureRect</key>
                <string>{{546,382},{72,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3119/effect/col_action2/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{98,115}</string>
                <key>spriteSourceSize</key>
                <string>{418,491}</string>
                <key>textureRect</key>
                <string>{{429,382},{98,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3119/effect/col_action2/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{126,147}</string>
                <key>spriteSourceSize</key>
                <string>{418,491}</string>
                <key>textureRect</key>
                <string>{{664,360},{126,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3119/effect/col_action2/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{154,181}</string>
                <key>spriteSourceSize</key>
                <string>{418,491}</string>
                <key>textureRect</key>
                <string>{{664,177},{154,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3119/effect/col_action2/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{182,213}</string>
                <key>spriteSourceSize</key>
                <string>{418,491}</string>
                <key>textureRect</key>
                <string>{{449,198},{182,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3119/effect/col_action2/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{210,239}</string>
                <key>spriteSourceSize</key>
                <string>{418,491}</string>
                <key>textureRect</key>
                <string>{{237,1},{210,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3119/effect/col_action2/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{234,265}</string>
                <key>spriteSourceSize</key>
                <string>{418,491}</string>
                <key>textureRect</key>
                <string>{{1,1},{234,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3119/effect/col_action2/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{174,165}</string>
                <key>spriteSourceSize</key>
                <string>{418,491}</string>
                <key>textureRect</key>
                <string>{{655,1},{174,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3119/effect/col_action2/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{190,181}</string>
                <key>spriteSourceSize</key>
                <string>{418,491}</string>
                <key>textureRect</key>
                <string>{{237,242},{190,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3119/effect/col_action2/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{204,195}</string>
                <key>spriteSourceSize</key>
                <string>{418,491}</string>
                <key>textureRect</key>
                <string>{{449,1},{204,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3119/effect/col_action2/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{214,203}</string>
                <key>spriteSourceSize</key>
                <string>{418,491}</string>
                <key>textureRect</key>
                <string>{{1,268},{214,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3119/effect/col_action2/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-207.5,244}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{418,491}</string>
                <key>textureRect</key>
                <string>{{655,177},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action20.pvr.ccz</string>
            <key>size</key>
            <string>{821,487}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aad7bb9e55374513e57038f098b42f2c:8d2f86e7f141d6edad6fb01d4fe8ea26:98ec4b5f3da3b367b0df440471cccb39$</string>
            <key>textureFileName</key>
            <string>col_action20.pvr.ccz</string>
        </dict>
    </dict>
</plist>
