<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-157,55}</string>
			<key>spriteSize</key>
			<string>{86,130}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{295,421},{86,130}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-106,-3}</string>
			<key>spriteSize</key>
			<string>{188,234}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{1,243},{188,234}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-125,16}</string>
			<key>spriteSize</key>
			<string>{142,208}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{363,1},{142,208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-88,0}</string>
			<key>spriteSize</key>
			<string>{208,240}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{1,1},{208,240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-112,16}</string>
			<key>spriteSize</key>
			<string>{150,208}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{211,1},{150,208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-130,16}</string>
			<key>spriteSize</key>
			<string>{138,208}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{211,211},{138,208}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-109,42}</string>
			<key>spriteSize</key>
			<string>{102,156}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{191,351},{102,156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-94,16}</string>
			<key>spriteSize</key>
			<string>{80,208}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{421,211},{80,208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action20.pvr.ccz</string>
		<key>size</key>
		<string>{506,508}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:641dbc310e9fcc022d3060804a89ee05:28515ac87ae4670a3c1550dcde093b73:98ec4b5f3da3b367b0df440471cccb39$</string>
		<key>textureFileName</key>
		<string>col_action20.pvr.ccz</string>
	</dict>
</dict>
</plist>
