<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3358/effect/col_action1/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-137,60}</string>
                <key>spriteSize</key>
                <string>{48,120}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{197,325},{48,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3358/effect/col_action1/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-133,14}</string>
                <key>spriteSize</key>
                <string>{134,190}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1,205},{134,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3358/effect/col_action1/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-135,19}</string>
                <key>spriteSize</key>
                <string>{116,202}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{116,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3358/effect/col_action1/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-132,6}</string>
                <key>spriteSize</key>
                <string>{124,166}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{119,1},{124,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3358/effect/col_action1/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-116,14}</string>
                <key>spriteSize</key>
                <string>{98,154}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{137,169},{98,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3358/effect/col_action1/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-138,23}</string>
                <key>spriteSize</key>
                <string>{54,194}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1,397},{54,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action10.pvr.ccz</string>
            <key>size</key>
            <string>{246,452}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:686d1398387627d2def076e772d34382:10f12d186ddc50647aa9a1ab639b5851:fd6dfe3ee94267230ed6425290acf6b5$</string>
            <key>textureFileName</key>
            <string>col_action10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
