<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3379/effect/col_action2/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-28}</string>
                <key>spriteSize</key>
                <string>{202,178}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1,1173},{202,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3379/effect/col_action2/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-12}</string>
                <key>spriteSize</key>
                <string>{224,204}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1,507},{224,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3379/effect/col_action2/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{258,232}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{258,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3379/effect/col_action2/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,5}</string>
                <key>spriteSize</key>
                <string>{244,230}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1,261},{244,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3379/effect/col_action2/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-2}</string>
                <key>spriteSize</key>
                <string>{248,220}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1,713},{248,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3379/effect/col_action2/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-6}</string>
                <key>spriteSize</key>
                <string>{212,208}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1,963},{212,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3379/effect/col_action2/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-21}</string>
                <key>spriteSize</key>
                <string>{188,174}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1,1353},{188,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action20.pvr.ccz</string>
            <key>size</key>
            <string>{234,1528}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee47ea156a285155266b5cf38f1287eb:407e28b85398d49ef05ad94dc4e15b85:98ec4b5f3da3b367b0df440471cccb39$</string>
            <key>textureFileName</key>
            <string>col_action20.pvr.ccz</string>
        </dict>
    </dict>
</plist>
