<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/985/effect/col_action/001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{321,196}</string>
                <key>spriteSourceSize</key>
                <string>{411,196}</string>
                <key>textureRect</key>
                <string>{{1,1},{321,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/985/effect/col_action/002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{321,196}</string>
                <key>spriteSourceSize</key>
                <string>{411,196}</string>
                <key>textureRect</key>
                <string>{{1,199},{321,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/985/effect/col_action/003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{321,196}</string>
                <key>spriteSourceSize</key>
                <string>{411,196}</string>
                <key>textureRect</key>
                <string>{{324,1},{321,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/985/effect/col_action/004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{321,196}</string>
                <key>spriteSourceSize</key>
                <string>{411,196}</string>
                <key>textureRect</key>
                <string>{{324,199},{321,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/985/effect/col_action/005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{321,196}</string>
                <key>spriteSourceSize</key>
                <string>{411,196}</string>
                <key>textureRect</key>
                <string>{{647,1},{321,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/985/effect/col_action/006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{321,196}</string>
                <key>spriteSourceSize</key>
                <string>{411,196}</string>
                <key>textureRect</key>
                <string>{{647,199},{321,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/985/effect/col_action/007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{321,196}</string>
                <key>spriteSourceSize</key>
                <string>{411,196}</string>
                <key>textureRect</key>
                <string>{{970,1},{321,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/985/effect/col_action/008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{321,196}</string>
                <key>spriteSourceSize</key>
                <string>{411,196}</string>
                <key>textureRect</key>
                <string>{{970,199},{321,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action0.pvr.ccz</string>
            <key>size</key>
            <string>{1292,396}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e038c37da128e339e04853de6c5ef99b:099554ad1fbfad252795b0db3f33bfee:2eaeebcb7f4716f0a1a6b8caf9ed386b$</string>
            <key>textureFileName</key>
            <string>col_action0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
