<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>body</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{96,74}</string>
			<key>spriteSourceSize</key>
			<string>{96,74}</string>
			<key>textureRect</key>
			<string>{{1,104},{96,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eye1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,13}</string>
			<key>spriteSourceSize</key>
			<string>{26,13}</string>
			<key>textureRect</key>
			<string>{{100,102},{26,13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eye2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,10}</string>
			<key>spriteSourceSize</key>
			<string>{26,10}</string>
			<key>textureRect</key>
			<string>{{99,117},{26,10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>head</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{61,57}</string>
			<key>spriteSourceSize</key>
			<string>{61,57}</string>
			<key>textureRect</key>
			<string>{{40,220},{61,57}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>l_arm1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{37,65}</string>
			<key>spriteSourceSize</key>
			<string>{37,65}</string>
			<key>textureRect</key>
			<string>{{1,220},{37,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>l_ear1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{39,19}</string>
			<key>spriteSourceSize</key>
			<string>{39,19}</string>
			<key>textureRect</key>
			<string>{{34,287},{39,19}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>l_ear2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{19,11}</string>
			<key>spriteSourceSize</key>
			<string>{19,11}</string>
			<key>textureRect</key>
			<string>{{102,314},{19,11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>l_leg1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{25,55}</string>
			<key>spriteSourceSize</key>
			<string>{25,55}</string>
			<key>textureRect</key>
			<string>{{102,1},{25,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>l_leg2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{20,41}</string>
			<key>spriteSourceSize</key>
			<string>{20,41}</string>
			<key>textureRect</key>
			<string>{{80,283},{20,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>l_twing1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,25}</string>
			<key>spriteSourceSize</key>
			<string>{33,25}</string>
			<key>textureRect</key>
			<string>{{99,129},{33,25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>l_twing2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{25,18}</string>
			<key>spriteSourceSize</key>
			<string>{25,18}</string>
			<key>textureRect</key>
			<string>{{99,164},{25,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>l_wing1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{97,66}</string>
			<key>spriteSourceSize</key>
			<string>{97,66}</string>
			<key>textureRect</key>
			<string>{{1,36},{97,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>r_arm1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,38}</string>
			<key>spriteSourceSize</key>
			<string>{24,38}</string>
			<key>textureRect</key>
			<string>{{102,220},{24,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>r_arm2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{41,23}</string>
			<key>spriteSourceSize</key>
			<string>{41,23}</string>
			<key>textureRect</key>
			<string>{{55,283},{41,23}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>r_ear1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31,39}</string>
			<key>spriteSourceSize</key>
			<string>{31,39}</string>
			<key>textureRect</key>
			<string>{{1,287},{31,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>r_leg1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{34,36}</string>
			<key>spriteSourceSize</key>
			<string>{34,36}</string>
			<key>textureRect</key>
			<string>{{91,184},{34,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>r_twing1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{29,20}</string>
			<key>spriteSourceSize</key>
			<string>{29,20}</string>
			<key>textureRect</key>
			<string>{{102,283},{29,20}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>r_twing2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21,17}</string>
			<key>spriteSourceSize</key>
			<string>{21,17}</string>
			<key>textureRect</key>
			<string>{{99,260},{21,17}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>r_wing1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{99,33}</string>
			<key>spriteSourceSize</key>
			<string>{99,33}</string>
			<key>textureRect</key>
			<string>{{1,1},{99,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>tail1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,88}</string>
			<key>spriteSourceSize</key>
			<string>{38,88}</string>
			<key>textureRect</key>
			<string>{{1,180},{38,88}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>tail2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{42,27}</string>
			<key>spriteSourceSize</key>
			<string>{42,27}</string>
			<key>textureRect</key>
			<string>{{100,58},{42,27}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>child2.pvr.ccz</string>
		<key>size</key>
		<string>{128,327}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:9b689399761588537409463e5fc94a13:05e36e7272076317ed45fbfe380498b8:d093f6fb6b8d298ba9e22ef3f714344a$</string>
		<key>textureFileName</key>
		<string>child2.pvr.ccz</string>
	</dict>
</dict>
</plist>
