<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3118/effect/col_action2/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-16}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{250,258}</string>
                <key>textureRect</key>
                <string>{{445,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3118/effect/col_action2/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-16}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{250,258}</string>
                <key>textureRect</key>
                <string>{{445,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3118/effect/col_action2/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,9}</string>
                <key>spriteSize</key>
                <string>{96,90}</string>
                <key>spriteSourceSize</key>
                <string>{250,258}</string>
                <key>textureRect</key>
                <string>{{395,695},{96,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3118/effect/col_action2/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{116,110}</string>
                <key>spriteSourceSize</key>
                <string>{250,258}</string>
                <key>textureRect</key>
                <string>{{389,787},{116,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3118/effect/col_action2/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,13}</string>
                <key>spriteSize</key>
                <string>{144,136}</string>
                <key>spriteSourceSize</key>
                <string>{250,258}</string>
                <key>textureRect</key>
                <string>{{349,923},{144,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3118/effect/col_action2/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,19}</string>
                <key>spriteSize</key>
                <string>{180,162}</string>
                <key>spriteSourceSize</key>
                <string>{250,258}</string>
                <key>textureRect</key>
                <string>{{155,1101},{180,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3118/effect/col_action2/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{250,258}</string>
                <key>textureRect</key>
                <string>{{1,457},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3118/effect/col_action2/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{232,226}</string>
                <key>spriteSourceSize</key>
                <string>{250,258}</string>
                <key>textureRect</key>
                <string>{{1,1},{232,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3118/effect/col_action2/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{232,226}</string>
                <key>spriteSourceSize</key>
                <string>{250,258}</string>
                <key>textureRect</key>
                <string>{{1,229},{232,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3118/effect/col_action2/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,14}</string>
                <key>spriteSize</key>
                <string>{188,172}</string>
                <key>spriteSourceSize</key>
                <string>{250,258}</string>
                <key>textureRect</key>
                <string>{{199,749},{188,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3118/effect/col_action2/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,14}</string>
                <key>spriteSize</key>
                <string>{190,172}</string>
                <key>spriteSourceSize</key>
                <string>{250,258}</string>
                <key>textureRect</key>
                <string>{{203,575},{190,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3118/effect/col_action2/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,18}</string>
                <key>spriteSize</key>
                <string>{196,200}</string>
                <key>spriteSourceSize</key>
                <string>{250,258}</string>
                <key>textureRect</key>
                <string>{{1,659},{196,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3118/effect/col_action2/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,23}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{250,258}</string>
                <key>textureRect</key>
                <string>{{235,215},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3118/effect/col_action2/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,16}</string>
                <key>spriteSize</key>
                <string>{208,212}</string>
                <key>spriteSourceSize</key>
                <string>{250,258}</string>
                <key>textureRect</key>
                <string>{{235,1},{208,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3118/effect/col_action2/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-7}</string>
                <key>spriteSize</key>
                <string>{168,166}</string>
                <key>spriteSourceSize</key>
                <string>{250,258}</string>
                <key>textureRect</key>
                <string>{{337,1101},{168,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3118/effect/col_action2/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-2}</string>
                <key>spriteSize</key>
                <string>{188,176}</string>
                <key>spriteSourceSize</key>
                <string>{250,258}</string>
                <key>textureRect</key>
                <string>{{159,923},{188,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3118/effect/col_action2/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-6}</string>
                <key>spriteSize</key>
                <string>{210,156}</string>
                <key>spriteSourceSize</key>
                <string>{250,258}</string>
                <key>textureRect</key>
                <string>{{1,861},{210,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3118/effect/col_action2/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-6}</string>
                <key>spriteSize</key>
                <string>{210,156}</string>
                <key>spriteSourceSize</key>
                <string>{250,258}</string>
                <key>textureRect</key>
                <string>{{1,861},{210,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3118/effect/col_action2/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{200,156}</string>
                <key>spriteSourceSize</key>
                <string>{250,258}</string>
                <key>textureRect</key>
                <string>{{235,417},{200,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3118/effect/col_action2/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{200,156}</string>
                <key>spriteSourceSize</key>
                <string>{250,258}</string>
                <key>textureRect</key>
                <string>{{235,417},{200,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3118/effect/col_action2/20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-2}</string>
                <key>spriteSize</key>
                <string>{206,152}</string>
                <key>spriteSourceSize</key>
                <string>{250,258}</string>
                <key>textureRect</key>
                <string>{{1,1073},{206,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3118/effect/col_action2/21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,-2}</string>
                <key>spriteSize</key>
                <string>{94,118}</string>
                <key>spriteSourceSize</key>
                <string>{250,258}</string>
                <key>textureRect</key>
                <string>{{395,575},{94,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action20.pvr.ccz</string>
            <key>size</key>
            <string>{504,1280}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebc6d95a443c443fd4ebda39d2eb6103:8d72720db396ff0500bdc950bd330064:98ec4b5f3da3b367b0df440471cccb39$</string>
            <key>textureFileName</key>
            <string>col_action20.pvr.ccz</string>
        </dict>
    </dict>
</plist>
