<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-17,-21}</string>
			<key>spriteSize</key>
			<string>{272,213}</string>
			<key>spriteSourceSize</key>
			<string>{466,289}</string>
			<key>textureRect</key>
			<string>{{202,1005},{272,213}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-66,-6}</string>
			<key>spriteSize</key>
			<string>{258,227}</string>
			<key>spriteSourceSize</key>
			<string>{466,289}</string>
			<key>textureRect</key>
			<string>{{458,583},{258,227}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-128,0}</string>
			<key>spriteSize</key>
			<string>{178,269}</string>
			<key>spriteSourceSize</key>
			<string>{466,289}</string>
			<key>textureRect</key>
			<string>{{278,583},{178,269}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-130,-9}</string>
			<key>spriteSize</key>
			<string>{182,207}</string>
			<key>spriteSourceSize</key>
			<string>{466,289}</string>
			<key>textureRect</key>
			<string>{{687,583},{182,207}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-107,17}</string>
			<key>spriteSize</key>
			<string>{206,189}</string>
			<key>spriteSourceSize</key>
			<string>{466,289}</string>
			<key>textureRect</key>
			<string>{{687,767},{206,189}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-100,15}</string>
			<key>spriteSize</key>
			<string>{218,199}</string>
			<key>spriteSourceSize</key>
			<string>{466,289}</string>
			<key>textureRect</key>
			<string>{{1,1005},{218,199}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-100,15}</string>
			<key>spriteSize</key>
			<string>{178,191}</string>
			<key>spriteSourceSize</key>
			<string>{466,289}</string>
			<key>textureRect</key>
			<string>{{685,958},{178,191}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-102,-7}</string>
			<key>spriteSize</key>
			<string>{128,123}</string>
			<key>spriteSourceSize</key>
			<string>{466,289}</string>
			<key>textureRect</key>
			<string>{{278,854},{128,123}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-101,-4}</string>
			<key>spriteSize</key>
			<string>{116,113}</string>
			<key>spriteSourceSize</key>
			<string>{466,289}</string>
			<key>textureRect</key>
			<string>{{403,854},{116,113}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-97,-4}</string>
			<key>spriteSize</key>
			<string>{102,101}</string>
			<key>spriteSourceSize</key>
			<string>{466,289}</string>
			<key>textureRect</key>
			<string>{{518,843},{102,101}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-83,29}</string>
			<key>spriteSize</key>
			<string>{254,207}</string>
			<key>spriteSourceSize</key>
			<string>{466,289}</string>
			<key>textureRect</key>
			<string>{{476,972},{254,207}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,7}</string>
			<key>spriteSize</key>
			<string>{420,275}</string>
			<key>spriteSourceSize</key>
			<string>{466,289}</string>
			<key>textureRect</key>
			<string>{{1,583},{420,275}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{466,289}</string>
			<key>spriteSourceSize</key>
			<string>{466,289}</string>
			<key>textureRect</key>
			<string>{{1,1},{466,289}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{466,289}</string>
			<key>spriteSourceSize</key>
			<string>{466,289}</string>
			<key>textureRect</key>
			<string>{{469,1},{466,289}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{466,289}</string>
			<key>spriteSourceSize</key>
			<string>{466,289}</string>
			<key>textureRect</key>
			<string>{{1,292},{466,289}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>15</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{466,289}</string>
			<key>spriteSourceSize</key>
			<string>{466,289}</string>
			<key>textureRect</key>
			<string>{{469,292},{466,289}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action20.pvr.ccz</string>
		<key>size</key>
		<string>{936,1227}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:71e1f9b84864eea97b6f4fb027359ee6:e61f05ca9e2954034929c7871c0b8459:98ec4b5f3da3b367b0df440471cccb39$</string>
		<key>textureFileName</key>
		<string>col_action20.pvr.ccz</string>
	</dict>
</dict>
</plist>
