<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3097/effect/col_action1/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{74,-2}</string>
                <key>spriteSize</key>
                <string>{174,183}</string>
                <key>spriteSourceSize</key>
                <string>{334,281}</string>
                <key>textureRect</key>
                <string>{{224,851},{174,183}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3097/effect/col_action1/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-2}</string>
                <key>spriteSize</key>
                <string>{190,183}</string>
                <key>spriteSourceSize</key>
                <string>{334,281}</string>
                <key>textureRect</key>
                <string>{{307,222},{190,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3097/effect/col_action1/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,1}</string>
                <key>spriteSize</key>
                <string>{240,221}</string>
                <key>spriteSourceSize</key>
                <string>{334,281}</string>
                <key>textureRect</key>
                <string>{{271,628},{240,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3097/effect/col_action1/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{236,219}</string>
                <key>spriteSourceSize</key>
                <string>{334,281}</string>
                <key>textureRect</key>
                <string>{{274,407},{236,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3097/effect/col_action1/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,3}</string>
                <key>spriteSize</key>
                <string>{304,269}</string>
                <key>spriteSourceSize</key>
                <string>{334,281}</string>
                <key>textureRect</key>
                <string>{{1,1},{304,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3097/effect/col_action1/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-2}</string>
                <key>spriteSize</key>
                <string>{268,183}</string>
                <key>spriteSourceSize</key>
                <string>{334,281}</string>
                <key>textureRect</key>
                <string>{{1,568},{268,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3097/effect/col_action1/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{210,221}</string>
                <key>spriteSourceSize</key>
                <string>{334,281}</string>
                <key>textureRect</key>
                <string>{{1,753},{210,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3097/effect/col_action1/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{198,219}</string>
                <key>spriteSourceSize</key>
                <string>{334,281}</string>
                <key>textureRect</key>
                <string>{{307,1},{198,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3097/effect/col_action1/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-70,3}</string>
                <key>spriteSize</key>
                <string>{146,269}</string>
                <key>spriteSourceSize</key>
                <string>{334,281}</string>
                <key>textureRect</key>
                <string>{{1,420},{146,269}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3097/effect/col_action1/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-86,3}</string>
                <key>spriteSize</key>
                <string>{146,271}</string>
                <key>spriteSourceSize</key>
                <string>{334,281}</string>
                <key>textureRect</key>
                <string>{{1,272},{146,271}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action10.pvr.ccz</string>
            <key>size</key>
            <string>{512,1026}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45776ed7b68fc88c0385ee5721f10d21:b3d9c502ec53e52a31f12b1da3750b2b:fd6dfe3ee94267230ed6425290acf6b5$</string>
            <key>textureFileName</key>
            <string>col_action10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
