<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/15/profile/1</key>
            <dict>
                <key>frame</key>
                <string>{{142,70},{50,68}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,12},{50,68}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dragon/15/profile/2</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{68,66}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{68,66}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dragon/15/profile/3</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{68,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dragon/15/profile/4</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{68,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dragon/15/profile/5</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{68,68}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dragon/15/profile/6</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{68,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>profile.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a74c337591c586e167bf4222da9a4bc:d1f215e42911c3665577d918d301fdad:03c072fd1c1f67b4883b34fedb7a3213$</string>
            <key>textureFileName</key>
            <string>profile.pvr.ccz</string>
        </dict>
    </dict>
</plist>
