<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{22,7}</string>
			<key>spriteSize</key>
			<string>{210,179}</string>
			<key>spriteSourceSize</key>
			<string>{308,259}</string>
			<key>textureRect</key>
			<string>{{1,180},{210,179}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-11,12}</string>
			<key>spriteSize</key>
			<string>{180,195}</string>
			<key>spriteSourceSize</key>
			<string>{308,259}</string>
			<key>textureRect</key>
			<string>{{1,540},{180,195}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-19,1}</string>
			<key>spriteSize</key>
			<string>{174,165}</string>
			<key>spriteSourceSize</key>
			<string>{308,259}</string>
			<key>textureRect</key>
			<string>{{1,722},{174,165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-28,-9}</string>
			<key>spriteSize</key>
			<string>{196,177}</string>
			<key>spriteSourceSize</key>
			<string>{308,259}</string>
			<key>textureRect</key>
			<string>{{1,361},{196,177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,10}</string>
			<key>spriteSize</key>
			<string>{248,177}</string>
			<key>spriteSourceSize</key>
			<string>{308,259}</string>
			<key>textureRect</key>
			<string>{{1,1},{248,177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-15,-63}</string>
			<key>spriteSize</key>
			<string>{82,63}</string>
			<key>spriteSourceSize</key>
			<string>{308,259}</string>
			<key>textureRect</key>
			<string>{{177,722},{82,63}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action20.pvr.ccz</string>
		<key>size</key>
		<string>{250,888}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:bf71b5b96a49a04ccc9afaddc5d69488:ade1194d1c25471faed4881d1e8c11d0:98ec4b5f3da3b367b0df440471cccb39$</string>
		<key>textureFileName</key>
		<string>col_action20.pvr.ccz</string>
	</dict>
</dict>
</plist>
