<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{178,222}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{309,209},{178,222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-2}</string>
			<key>spriteSize</key>
			<string>{306,170}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{1,209},{306,170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-11,8}</string>
			<key>spriteSize</key>
			<string>{362,206}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{1,1},{362,206}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-5}</string>
			<key>spriteSize</key>
			<string>{172,92}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{365,1},{172,92}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-8}</string>
			<key>spriteSize</key>
			<string>{144,78}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{1,381},{144,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action10.pvr.ccz</string>
		<key>size</key>
		<string>{488,460}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:275424af3a0670f32671579e28d4feb2:a173e5ed05229411d5025cbd2d42b91a:fd6dfe3ee94267230ed6425290acf6b5$</string>
		<key>textureFileName</key>
		<string>col_action10.pvr.ccz</string>
	</dict>
</dict>
</plist>
