<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{10,-2}</string>
			<key>spriteSize</key>
			<string>{133,147}</string>
			<key>spriteSourceSize</key>
			<string>{211,185}</string>
			<key>textureRect</key>
			<string>{{425,1387},{133,147}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{141,151}</string>
			<key>spriteSourceSize</key>
			<string>{211,185}</string>
			<key>textureRect</key>
			<string>{{853,681},{141,151}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-1}</string>
			<key>spriteSize</key>
			<string>{159,157}</string>
			<key>spriteSourceSize</key>
			<string>{211,185}</string>
			<key>textureRect</key>
			<string>{{853,364},{159,157}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-1}</string>
			<key>spriteSize</key>
			<string>{171,161}</string>
			<key>spriteSourceSize</key>
			<string>{211,185}</string>
			<key>textureRect</key>
			<string>{{853,191},{171,161}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{203,169}</string>
			<key>spriteSourceSize</key>
			<string>{211,185}</string>
			<key>textureRect</key>
			<string>{{847,1077},{203,169}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{207,169}</string>
			<key>spriteSourceSize</key>
			<string>{211,185}</string>
			<key>textureRect</key>
			<string>{{811,868},{207,169}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{209,171}</string>
			<key>spriteSourceSize</key>
			<string>{211,185}</string>
			<key>textureRect</key>
			<string>{{427,870},{209,171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{209,171}</string>
			<key>spriteSourceSize</key>
			<string>{211,185}</string>
			<key>textureRect</key>
			<string>{{640,695},{209,171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{211,171}</string>
			<key>spriteSourceSize</key>
			<string>{211,185}</string>
			<key>textureRect</key>
			<string>{{214,526},{211,171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{211,171}</string>
			<key>spriteSourceSize</key>
			<string>{211,185}</string>
			<key>textureRect</key>
			<string>{{427,351},{211,171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{211,171}</string>
			<key>spriteSourceSize</key>
			<string>{211,185}</string>
			<key>textureRect</key>
			<string>{{640,176},{211,171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{211,171}</string>
			<key>spriteSourceSize</key>
			<string>{211,185}</string>
			<key>textureRect</key>
			<string>{{1,876},{211,171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{211,171}</string>
			<key>spriteSourceSize</key>
			<string>{211,185}</string>
			<key>textureRect</key>
			<string>{{214,699},{211,171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{211,171}</string>
			<key>spriteSourceSize</key>
			<string>{211,185}</string>
			<key>textureRect</key>
			<string>{{427,524},{211,171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{211,171}</string>
			<key>spriteSourceSize</key>
			<string>{211,185}</string>
			<key>textureRect</key>
			<string>{{640,349},{211,171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>15</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{211,173}</string>
			<key>spriteSourceSize</key>
			<string>{211,185}</string>
			<key>textureRect</key>
			<string>{{1,1},{211,173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>16</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{211,173}</string>
			<key>spriteSourceSize</key>
			<string>{211,185}</string>
			<key>textureRect</key>
			<string>{{1,176},{211,173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>17</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{211,171}</string>
			<key>spriteSourceSize</key>
			<string>{211,185}</string>
			<key>textureRect</key>
			<string>{{1,1049},{211,171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>18</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{211,171}</string>
			<key>spriteSourceSize</key>
			<string>{211,185}</string>
			<key>textureRect</key>
			<string>{{214,872},{211,171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>19</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{211,171}</string>
			<key>spriteSourceSize</key>
			<string>{211,185}</string>
			<key>textureRect</key>
			<string>{{427,697},{211,171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>20</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{211,173}</string>
			<key>spriteSourceSize</key>
			<string>{211,185}</string>
			<key>textureRect</key>
			<string>{{214,1},{211,173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>21</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{211,173}</string>
			<key>spriteSourceSize</key>
			<string>{211,185}</string>
			<key>textureRect</key>
			<string>{{1,351},{211,173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>22</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{211,173}</string>
			<key>spriteSourceSize</key>
			<string>{211,185}</string>
			<key>textureRect</key>
			<string>{{214,176},{211,173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>23</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{211,173}</string>
			<key>spriteSourceSize</key>
			<string>{211,185}</string>
			<key>textureRect</key>
			<string>{{427,1},{211,173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>24</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{211,173}</string>
			<key>spriteSourceSize</key>
			<string>{211,185}</string>
			<key>textureRect</key>
			<string>{{1,526},{211,173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>25</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{211,173}</string>
			<key>spriteSourceSize</key>
			<string>{211,185}</string>
			<key>textureRect</key>
			<string>{{214,351},{211,173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>26</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{211,173}</string>
			<key>spriteSourceSize</key>
			<string>{211,185}</string>
			<key>textureRect</key>
			<string>{{427,176},{211,173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>27</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{211,173}</string>
			<key>spriteSourceSize</key>
			<string>{211,185}</string>
			<key>textureRect</key>
			<string>{{640,1},{211,173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>28</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{211,173}</string>
			<key>spriteSourceSize</key>
			<string>{211,185}</string>
			<key>textureRect</key>
			<string>{{1,701},{211,173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>29</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{211,171}</string>
			<key>spriteSourceSize</key>
			<string>{211,185}</string>
			<key>textureRect</key>
			<string>{{640,522},{211,171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>30</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{211,171}</string>
			<key>spriteSourceSize</key>
			<string>{211,185}</string>
			<key>textureRect</key>
			<string>{{1,1222},{211,171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>31</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{209,171}</string>
			<key>spriteSourceSize</key>
			<string>{211,185}</string>
			<key>textureRect</key>
			<string>{{214,1218},{209,171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>32</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{209,171}</string>
			<key>spriteSourceSize</key>
			<string>{211,185}</string>
			<key>textureRect</key>
			<string>{{427,1043},{209,171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>33</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{211,171}</string>
			<key>spriteSourceSize</key>
			<string>{211,185}</string>
			<key>textureRect</key>
			<string>{{214,1045},{211,171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>34</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{209,171}</string>
			<key>spriteSourceSize</key>
			<string>{211,185}</string>
			<key>textureRect</key>
			<string>{{638,870},{209,171}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>35</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{207,171}</string>
			<key>spriteSourceSize</key>
			<string>{211,185}</string>
			<key>textureRect</key>
			<string>{{638,1081},{207,171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>36</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{207,171}</string>
			<key>spriteSourceSize</key>
			<string>{211,185}</string>
			<key>textureRect</key>
			<string>{{638,1254},{207,171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>37</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-1}</string>
			<key>spriteSize</key>
			<string>{209,169}</string>
			<key>spriteSourceSize</key>
			<string>{211,185}</string>
			<key>textureRect</key>
			<string>{{427,1216},{209,169}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>38</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{203,169}</string>
			<key>spriteSourceSize</key>
			<string>{211,185}</string>
			<key>textureRect</key>
			<string>{{847,1282},{203,169}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adv_action1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{200,120}</string>
			<key>spriteSourceSize</key>
			<string>{200,120}</string>
			<key>textureRect</key>
			<string>{{1,1395},{200,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>col_action1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{188,146}</string>
			<key>spriteSourceSize</key>
			<string>{188,146}</string>
			<key>textureRect</key>
			<string>{{853,1},{188,146}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>col_explode</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,0}</string>
			<key>spriteSize</key>
			<string>{144,156}</string>
			<key>spriteSourceSize</key>
			<string>{148,156}</string>
			<key>textureRect</key>
			<string>{{853,523},{144,156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action30.pvr.ccz</string>
		<key>size</key>
		<string>{1017,1521}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:09abe31d89567ed0079b218e1e690b37:63fa518c8537e885c77bac09b7c473a8:e44ba353004d0fd8b165f5c6960cb7e8$</string>
		<key>textureFileName</key>
		<string>col_action30.pvr.ccz</string>
	</dict>
</dict>
</plist>
