<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,6}</string>
			<key>spriteSize</key>
			<string>{64,78}</string>
			<key>spriteSourceSize</key>
			<string>{90,90}</string>
			<key>textureRect</key>
			<string>{{1,149},{64,78}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{70,72}</string>
			<key>spriteSourceSize</key>
			<string>{90,90}</string>
			<key>textureRect</key>
			<string>{{1,1},{70,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>3</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{70,72}</string>
			<key>spriteSourceSize</key>
			<string>{90,90}</string>
			<key>textureRect</key>
			<string>{{1,75},{70,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>4</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{70,72}</string>
			<key>spriteSourceSize</key>
			<string>{90,90}</string>
			<key>textureRect</key>
			<string>{{73,1},{70,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>5</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,0}</string>
			<key>spriteSize</key>
			<string>{66,72}</string>
			<key>spriteSourceSize</key>
			<string>{90,90}</string>
			<key>textureRect</key>
			<string>{{145,145},{66,72}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>6</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{70,72}</string>
			<key>spriteSourceSize</key>
			<string>{90,90}</string>
			<key>textureRect</key>
			<string>{{73,75},{70,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>7</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{70,72}</string>
			<key>spriteSourceSize</key>
			<string>{90,90}</string>
			<key>textureRect</key>
			<string>{{145,1},{70,72}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>8</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{70,72}</string>
			<key>spriteSourceSize</key>
			<string>{90,90}</string>
			<key>textureRect</key>
			<string>{{145,73},{70,72}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>profile.pvr.ccz</string>
		<key>size</key>
		<string>{218,214}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:9bfbdc11386aae2310488290fa7de6cf:3eedf28e28f62356fc815a53cdc15115:03c072fd1c1f67b4883b34fedb7a3213$</string>
		<key>textureFileName</key>
		<string>profile.pvr.ccz</string>
	</dict>
</dict>
</plist>
