<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>adv_action1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-7}</string>
			<key>spriteSize</key>
			<string>{200,106}</string>
			<key>spriteSourceSize</key>
			<string>{200,120}</string>
			<key>textureRect</key>
			<string>{{1,1},{200,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adv_action2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{200,120}</string>
			<key>spriteSourceSize</key>
			<string>{200,120}</string>
			<key>textureRect</key>
			<string>{{350,1},{200,120}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>col_action1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{342,152}</string>
			<key>spriteSourceSize</key>
			<string>{342,152}</string>
			<key>textureRect</key>
			<string>{{1,120},{342,152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>col_action2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,0}</string>
			<key>spriteSize</key>
			<string>{145,117}</string>
			<key>spriteSourceSize</key>
			<string>{201,129}</string>
			<key>textureRect</key>
			<string>{{203,1},{145,117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>effect.pvr.ccz</string>
		<key>size</key>
		<string>{471,273}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:257eb05245681526d210dc141dd477e3:d53a5dd687cbd8c6cf090964c7601f8d:e0fdcd92bbdb8ab6858982d39ba3f2d9$</string>
		<key>textureFileName</key>
		<string>effect.pvr.ccz</string>
	</dict>
</dict>
</plist>
