<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>arm_l1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{80,73}</string>
			<key>spriteSourceSize</key>
			<string>{80,73}</string>
			<key>textureRect</key>
			<string>{{609,421},{80,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>arm_l2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{76,211}</string>
			<key>spriteSourceSize</key>
			<string>{76,211}</string>
			<key>textureRect</key>
			<string>{{285,407},{76,211}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>arm_r1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{69,70}</string>
			<key>spriteSourceSize</key>
			<string>{69,70}</string>
			<key>textureRect</key>
			<string>{{691,434},{69,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>arm_r2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{61,106}</string>
			<key>spriteSourceSize</key>
			<string>{61,106}</string>
			<key>textureRect</key>
			<string>{{639,313},{61,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>body</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{92,98}</string>
			<key>spriteSourceSize</key>
			<string>{92,98}</string>
			<key>textureRect</key>
			<string>{{539,313},{92,98}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>body_armor1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{49,54}</string>
			<key>spriteSourceSize</key>
			<string>{49,54}</string>
			<key>textureRect</key>
			<string>{{702,383},{49,54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>evolution_1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-4}</string>
			<key>spriteSize</key>
			<string>{282,288}</string>
			<key>spriteSourceSize</key>
			<string>{300,300}</string>
			<key>textureRect</key>
			<string>{{1,1},{282,288}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>evolution_att_1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{13,2}</string>
			<key>spriteSize</key>
			<string>{272,280}</string>
			<key>spriteSourceSize</key>
			<string>{300,300}</string>
			<key>textureRect</key>
			<string>{{285,1},{272,280}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eye1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{13,13}</string>
			<key>spriteSourceSize</key>
			<string>{13,13}</string>
			<key>textureRect</key>
			<string>{{76,457},{13,13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>eye2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{12,10}</string>
			<key>spriteSourceSize</key>
			<string>{12,10}</string>
			<key>textureRect</key>
			<string>{{609,407},{12,10}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>head</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{91,126}</string>
			<key>spriteSourceSize</key>
			<string>{91,126}</string>
			<key>textureRect</key>
			<string>{{559,220},{91,126}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>leg_l1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{109,79}</string>
			<key>spriteSourceSize</key>
			<string>{109,79}</string>
			<key>textureRect</key>
			<string>{{498,407},{109,79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>leg_l2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{70,60}</string>
			<key>spriteSourceSize</key>
			<string>{70,60}</string>
			<key>textureRect</key>
			<string>{{702,311},{70,60}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>leg_r1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{89,68}</string>
			<key>spriteSourceSize</key>
			<string>{89,68}</string>
			<key>textureRect</key>
			<string>{{687,220},{89,68}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>leg_r2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{73,47}</string>
			<key>spriteSourceSize</key>
			<string>{73,47}</string>
			<key>textureRect</key>
			<string>{{1,457},{73,47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shield_l1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{70,202}</string>
			<key>spriteSourceSize</key>
			<string>{70,202}</string>
			<key>textureRect</key>
			<string>{{559,148},{70,202}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>tail</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{194,145}</string>
			<key>spriteSourceSize</key>
			<string>{194,145}</string>
			<key>textureRect</key>
			<string>{{559,1},{194,145}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>wing_l1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{164,282}</string>
			<key>spriteSourceSize</key>
			<string>{164,282}</string>
			<key>textureRect</key>
			<string>{{1,291},{164,282}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>wing_r1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{122,252}</string>
			<key>spriteSourceSize</key>
			<string>{122,252}</string>
			<key>textureRect</key>
			<string>{{285,283},{122,252}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>transcended.pvr.ccz</string>
		<key>size</key>
		<string>{763,505}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:ed90da7ad523eb93fade814084f884d5:428a403da3cc502442ac009cd3a1374a:4ccee169e4aaedda1b9c894a7fb2805b$</string>
		<key>textureFileName</key>
		<string>transcended.pvr.ccz</string>
	</dict>
</dict>
</plist>
