<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3016/effect/col_action1/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,45}</string>
                <key>spriteSize</key>
                <string>{70,72}</string>
                <key>spriteSourceSize</key>
                <string>{218,162}</string>
                <key>textureRect</key>
                <string>{{1083,1},{70,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3016/effect/col_action1/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,24}</string>
                <key>spriteSize</key>
                <string>{70,114}</string>
                <key>spriteSourceSize</key>
                <string>{218,162}</string>
                <key>textureRect</key>
                <string>{{1155,1},{70,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3016/effect/col_action1/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-16}</string>
                <key>spriteSize</key>
                <string>{84,98}</string>
                <key>spriteSourceSize</key>
                <string>{218,162}</string>
                <key>textureRect</key>
                <string>{{911,1},{84,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3016/effect/col_action1/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-16}</string>
                <key>spriteSize</key>
                <string>{84,98}</string>
                <key>spriteSourceSize</key>
                <string>{218,162}</string>
                <key>textureRect</key>
                <string>{{997,1},{84,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3016/effect/col_action1/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-17}</string>
                <key>spriteSize</key>
                <string>{136,100}</string>
                <key>spriteSourceSize</key>
                <string>{218,162}</string>
                <key>textureRect</key>
                <string>{{391,1},{136,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3016/effect/col_action1/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-17}</string>
                <key>spriteSize</key>
                <string>{132,100}</string>
                <key>spriteSourceSize</key>
                <string>{218,162}</string>
                <key>textureRect</key>
                <string>{{529,1},{132,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3016/effect/col_action1/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-17}</string>
                <key>spriteSize</key>
                <string>{132,102}</string>
                <key>spriteSourceSize</key>
                <string>{218,162}</string>
                <key>textureRect</key>
                <string>{{257,1},{132,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3016/effect/col_action1/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,-19}</string>
                <key>spriteSize</key>
                <string>{126,104}</string>
                <key>spriteSourceSize</key>
                <string>{218,162}</string>
                <key>textureRect</key>
                <string>{{1,1},{126,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3016/effect/col_action1/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,-19}</string>
                <key>spriteSize</key>
                <string>{126,104}</string>
                <key>spriteSourceSize</key>
                <string>{218,162}</string>
                <key>textureRect</key>
                <string>{{129,1},{126,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3016/effect/col_action1/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-15}</string>
                <key>spriteSize</key>
                <string>{122,98}</string>
                <key>spriteSourceSize</key>
                <string>{218,162}</string>
                <key>textureRect</key>
                <string>{{663,1},{122,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3016/effect/col_action1/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-15}</string>
                <key>spriteSize</key>
                <string>{122,98}</string>
                <key>spriteSourceSize</key>
                <string>{218,162}</string>
                <key>textureRect</key>
                <string>{{787,1},{122,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action10.pvr.ccz</string>
            <key>size</key>
            <string>{1270,106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39e24928266aa335aa1ff27af0738e29:742b2a4d001dbbebe36f070799f78630:fd6dfe3ee94267230ed6425290acf6b5$</string>
            <key>textureFileName</key>
            <string>col_action10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
