<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster/259/effect/at1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{907,544}</string>
                <key>spriteSourceSize</key>
                <string>{907,544}</string>
                <key>textureRect</key>
                <string>{{1,1},{907,544}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/259/effect/at2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{907,544}</string>
                <key>spriteSourceSize</key>
                <string>{907,544}</string>
                <key>textureRect</key>
                <string>{{1,547},{907,544}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/259/effect/at3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{907,544}</string>
                <key>spriteSourceSize</key>
                <string>{907,544}</string>
                <key>textureRect</key>
                <string>{{1,1093},{907,544}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>effect.pvr.ccz</string>
            <key>size</key>
            <string>{909,1638}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fd63a3bd01e6335f85506027ab48002:02cf53bf6e8bf47c45b9642ca88ac780:e0fdcd92bbdb8ab6858982d39ba3f2d9$</string>
            <key>textureFileName</key>
            <string>effect.pvr.ccz</string>
        </dict>
    </dict>
</plist>
