<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>adv_action1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{200,120}</string>
			<key>spriteSourceSize</key>
			<string>{200,120}</string>
			<key>textureRect</key>
			<string>{{1,383},{200,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adv_action2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{200,120}</string>
			<key>spriteSourceSize</key>
			<string>{200,120}</string>
			<key>textureRect</key>
			<string>{{1,505},{200,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adv_action3</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{200,120}</string>
			<key>spriteSourceSize</key>
			<string>{200,120}</string>
			<key>textureRect</key>
			<string>{{1,627},{200,120}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>cap_action2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{220,188}</string>
			<key>spriteSourceSize</key>
			<string>{230,194}</string>
			<key>textureRect</key>
			<string>{{1,193},{220,188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>col_action1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{195,85}</string>
			<key>spriteSourceSize</key>
			<string>{195,85}</string>
			<key>textureRect</key>
			<string>{{123,627},{195,85}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>col_action2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{221,190}</string>
			<key>spriteSourceSize</key>
			<string>{229,196}</string>
			<key>textureRect</key>
			<string>{{1,1},{221,190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>effect.pvr.ccz</string>
		<key>size</key>
		<string>{223,828}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:cbf9e9891ec04e1c0c333249dbcc601d:136de0204dacb2432ba3248e182f1733:e0fdcd92bbdb8ab6858982d39ba3f2d9$</string>
		<key>textureFileName</key>
		<string>effect.pvr.ccz</string>
	</dict>
</dict>
</plist>
