<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/504/effect/col_action1/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{141,361}</string>
                <key>spriteSourceSize</key>
                <string>{221,367}</string>
                <key>textureRect</key>
                <string>{{146,364},{141,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/504/effect/col_action1/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{143,361}</string>
                <key>spriteSourceSize</key>
                <string>{221,367}</string>
                <key>textureRect</key>
                <string>{{1,364},{143,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/504/effect/col_action1/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{145,361}</string>
                <key>spriteSourceSize</key>
                <string>{221,367}</string>
                <key>textureRect</key>
                <string>{{1,1},{145,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/504/effect/col_action1/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{147,359}</string>
                <key>spriteSourceSize</key>
                <string>{221,367}</string>
                <key>textureRect</key>
                <string>{{148,1},{147,359}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/504/effect/col_action1/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{149,357}</string>
                <key>spriteSourceSize</key>
                <string>{221,367}</string>
                <key>textureRect</key>
                <string>{{289,362},{149,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/504/effect/col_action1/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{149,355}</string>
                <key>spriteSourceSize</key>
                <string>{221,367}</string>
                <key>textureRect</key>
                <string>{{297,1},{149,355}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/504/effect/col_action1/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{149,351}</string>
                <key>spriteSourceSize</key>
                <string>{221,367}</string>
                <key>textureRect</key>
                <string>{{440,358},{149,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/504/effect/col_action1/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{149,347}</string>
                <key>spriteSourceSize</key>
                <string>{221,367}</string>
                <key>textureRect</key>
                <string>{{448,1},{149,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/504/effect/col_action1/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-7}</string>
                <key>spriteSize</key>
                <string>{151,343}</string>
                <key>spriteSourceSize</key>
                <string>{221,367}</string>
                <key>textureRect</key>
                <string>{{591,350},{151,343}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/504/effect/col_action1/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-9}</string>
                <key>spriteSize</key>
                <string>{151,339}</string>
                <key>spriteSourceSize</key>
                <string>{221,367}</string>
                <key>textureRect</key>
                <string>{{599,1},{151,339}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/504/effect/col_action1/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-12}</string>
                <key>spriteSize</key>
                <string>{153,333}</string>
                <key>spriteSourceSize</key>
                <string>{221,367}</string>
                <key>textureRect</key>
                <string>{{744,342},{153,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/504/effect/col_action1/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-15}</string>
                <key>spriteSize</key>
                <string>{153,327}</string>
                <key>spriteSourceSize</key>
                <string>{221,367}</string>
                <key>textureRect</key>
                <string>{{633,695},{153,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/504/effect/col_action1/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-19}</string>
                <key>spriteSize</key>
                <string>{153,319}</string>
                <key>spriteSourceSize</key>
                <string>{221,367}</string>
                <key>textureRect</key>
                <string>{{752,1},{153,319}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/504/effect/col_action1/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-23}</string>
                <key>spriteSize</key>
                <string>{153,311}</string>
                <key>spriteSourceSize</key>
                <string>{221,367}</string>
                <key>textureRect</key>
                <string>{{478,711},{153,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/504/effect/col_action1/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-28}</string>
                <key>spriteSize</key>
                <string>{155,303}</string>
                <key>spriteSourceSize</key>
                <string>{221,367}</string>
                <key>textureRect</key>
                <string>{{788,677},{155,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/504/effect/col_action1/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-33}</string>
                <key>spriteSize</key>
                <string>{155,293}</string>
                <key>spriteSourceSize</key>
                <string>{221,367}</string>
                <key>textureRect</key>
                <string>{{1,727},{155,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/504/effect/col_action1/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-39}</string>
                <key>spriteSize</key>
                <string>{157,281}</string>
                <key>spriteSourceSize</key>
                <string>{221,367}</string>
                <key>textureRect</key>
                <string>{{158,727},{157,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/504/effect/col_action1/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-46}</string>
                <key>spriteSize</key>
                <string>{159,267}</string>
                <key>spriteSourceSize</key>
                <string>{221,367}</string>
                <key>textureRect</key>
                <string>{{317,721},{159,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/504/effect/col_action1/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-56}</string>
                <key>spriteSize</key>
                <string>{161,249}</string>
                <key>spriteSourceSize</key>
                <string>{221,367}</string>
                <key>textureRect</key>
                <string>{{899,322},{161,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/504/effect/col_action1/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-70}</string>
                <key>spriteSize</key>
                <string>{161,227}</string>
                <key>spriteSourceSize</key>
                <string>{221,367}</string>
                <key>textureRect</key>
                <string>{{907,1},{161,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/504/effect/col_action1/20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-102}</string>
                <key>spriteSize</key>
                <string>{165,163}</string>
                <key>spriteSourceSize</key>
                <string>{221,367}</string>
                <key>textureRect</key>
                <string>{{945,851},{165,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/504/effect/col_action1/21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-106}</string>
                <key>spriteSize</key>
                <string>{165,155}</string>
                <key>spriteSourceSize</key>
                <string>{221,367}</string>
                <key>textureRect</key>
                <string>{{1110,851},{165,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/504/effect/col_action1/22</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-109}</string>
                <key>spriteSize</key>
                <string>{193,149}</string>
                <key>spriteSourceSize</key>
                <string>{221,367}</string>
                <key>textureRect</key>
                <string>{{1120,453},{193,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/504/effect/col_action1/23</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-112}</string>
                <key>spriteSize</key>
                <string>{205,143}</string>
                <key>spriteSourceSize</key>
                <string>{221,367}</string>
                <key>textureRect</key>
                <string>{{1221,604},{205,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/504/effect/col_action1/24</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-112}</string>
                <key>spriteSize</key>
                <string>{213,143}</string>
                <key>spriteSourceSize</key>
                <string>{221,367}</string>
                <key>textureRect</key>
                <string>{{1209,1},{213,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/504/effect/col_action1/25</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-112}</string>
                <key>spriteSize</key>
                <string>{217,143}</string>
                <key>spriteSourceSize</key>
                <string>{221,367}</string>
                <key>textureRect</key>
                <string>{{1201,222},{217,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/504/effect/col_action1/26</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-116}</string>
                <key>spriteSize</key>
                <string>{219,135}</string>
                <key>spriteSourceSize</key>
                <string>{221,367}</string>
                <key>textureRect</key>
                <string>{{1084,630},{219,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/504/effect/col_action1/27</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-115}</string>
                <key>spriteSize</key>
                <string>{221,137}</string>
                <key>spriteSourceSize</key>
                <string>{221,367}</string>
                <key>textureRect</key>
                <string>{{1062,230},{221,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/504/effect/col_action1/28</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-115}</string>
                <key>spriteSize</key>
                <string>{219,137}</string>
                <key>spriteSourceSize</key>
                <string>{221,367}</string>
                <key>textureRect</key>
                <string>{{1070,1},{219,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/504/effect/col_action1/29</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-115}</string>
                <key>spriteSize</key>
                <string>{219,137}</string>
                <key>spriteSourceSize</key>
                <string>{221,367}</string>
                <key>textureRect</key>
                <string>{{945,630},{219,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/504/effect/col_action1/30</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-155}</string>
                <key>spriteSize</key>
                <string>{219,55}</string>
                <key>spriteSourceSize</key>
                <string>{221,367}</string>
                <key>textureRect</key>
                <string>{{899,573},{219,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action10.pvr.ccz</string>
            <key>size</key>
            <string>{1365,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7299d153689ffc996038459a9219b432:dbd41095aaabf26156577ec400c0d561:fd6dfe3ee94267230ed6425290acf6b5$</string>
            <key>textureFileName</key>
            <string>col_action10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
