<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/101/transcended/acc2_att</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{214,271}}</string>
                <key>sourceSize</key>
                <string>{216,273}</string>
            </dict>
            <key>dragon/101/transcended/body_acc2</key>
            <dict>
                <key>frame</key>
                <string>{{403,349},{93,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,79}}</string>
                <key>sourceSize</key>
                <string>{95,81}</string>
            </dict>
            <key>dragon/101/transcended/haed2_acc2</key>
            <dict>
                <key>frame</key>
                <string>{{122,566},{55,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,35}}</string>
                <key>sourceSize</key>
                <string>{57,37}</string>
            </dict>
            <key>dragon/101/transcended/head_acc2</key>
            <dict>
                <key>frame</key>
                <string>{{318,513},{66,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,37}}</string>
                <key>sourceSize</key>
                <string>{68,39}</string>
            </dict>
            <key>dragon/101/transcended/i2_acc2</key>
            <dict>
                <key>frame</key>
                <string>{{492,88},{9,13}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{9,13}}</string>
                <key>sourceSize</key>
                <string>{11,15}</string>
            </dict>
            <key>dragon/101/transcended/l_moon_acc2</key>
            <dict>
                <key>frame</key>
                <string>{{492,73},{13,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{13,15}}</string>
                <key>sourceSize</key>
                <string>{15,17}</string>
            </dict>
            <key>dragon/101/transcended/leg_acc2</key>
            <dict>
                <key>frame</key>
                <string>{{492,21},{29,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{29,16}}</string>
                <key>sourceSize</key>
                <string>{31,18}</string>
            </dict>
            <key>dragon/101/transcended/moon_acc2</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{17,17}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>dragon/101/transcended/neck_acc2</key>
            <dict>
                <key>frame</key>
                <string>{{403,269},{105,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{105,78}}</string>
                <key>sourceSize</key>
                <string>{107,80}</string>
            </dict>
            <key>dragon/101/transcended/ob_acc2</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{73,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{73,120}}</string>
                <key>sourceSize</key>
                <string>{75,122}</string>
            </dict>
            <key>dragon/101/transcended/ob_lig_acc2</key>
            <dict>
                <key>frame</key>
                <string>{{485,506},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,23}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>dragon/101/transcended/r_arm1_acc2</key>
            <dict>
                <key>frame</key>
                <string>{{124,426},{41,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{41,55}}</string>
                <key>sourceSize</key>
                <string>{43,57}</string>
            </dict>
            <key>dragon/101/transcended/skirt2_acc2</key>
            <dict>
                <key>frame</key>
                <string>{{124,483},{28,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,40}}</string>
                <key>sourceSize</key>
                <string>{30,42}</string>
            </dict>
            <key>dragon/101/transcended/skirt_acc2</key>
            <dict>
                <key>frame</key>
                <string>{{167,313},{64,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{64,94}}</string>
                <key>sourceSize</key>
                <string>{66,96}</string>
            </dict>
            <key>dragon/101/transcended/star_acc2</key>
            <dict>
                <key>frame</key>
                <string>{{492,52},{19,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{19,15}}</string>
                <key>sourceSize</key>
                <string>{21,15}</string>
            </dict>
            <key>dragon/101/transcended/violet_ev_att</key>
            <dict>
                <key>frame</key>
                <string>{{275,2},{215,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{215,265}}</string>
                <key>sourceSize</key>
                <string>{217,267}</string>
            </dict>
            <key>dragon/101/transcended/violet_ev_body</key>
            <dict>
                <key>frame</key>
                <string>{{263,401},{130,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,110}}</string>
                <key>sourceSize</key>
                <string>{132,112}</string>
            </dict>
            <key>dragon/101/transcended/violet_ev_eye</key>
            <dict>
                <key>frame</key>
                <string>{{492,99},{13,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{13,6}}</string>
                <key>sourceSize</key>
                <string>{15,8}</string>
            </dict>
            <key>dragon/101/transcended/violet_ev_hair</key>
            <dict>
                <key>frame</key>
                <string>{{2,539},{57,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{57,75}}</string>
                <key>sourceSize</key>
                <string>{59,77}</string>
            </dict>
            <key>dragon/101/transcended/violet_ev_head</key>
            <dict>
                <key>frame</key>
                <string>{{395,506},{88,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,48}}</string>
                <key>sourceSize</key>
                <string>{90,50}</string>
            </dict>
            <key>dragon/101/transcended/violet_ev_l_arm</key>
            <dict>
                <key>frame</key>
                <string>{{167,379},{32,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,94}}</string>
                <key>sourceSize</key>
                <string>{34,96}</string>
            </dict>
            <key>dragon/101/transcended/violet_ev_l_arm_acc2</key>
            <dict>
                <key>frame</key>
                <string>{{167,413},{31,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{31,92}}</string>
                <key>sourceSize</key>
                <string>{33,96}</string>
            </dict>
            <key>dragon/101/transcended/violet_ev_l_leg1</key>
            <dict>
                <key>frame</key>
                <string>{{166,550},{46,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,55}}</string>
                <key>sourceSize</key>
                <string>{48,57}</string>
            </dict>
            <key>dragon/101/transcended/violet_ev_l_leg2</key>
            <dict>
                <key>frame</key>
                <string>{{318,552},{47,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{47,56}}</string>
                <key>sourceSize</key>
                <string>{49,58}</string>
            </dict>
            <key>dragon/101/transcended/violet_ev_l_wing1</key>
            <dict>
                <key>frame</key>
                <string>{{167,446},{64,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{64,77}}</string>
                <key>sourceSize</key>
                <string>{66,79}</string>
            </dict>
            <key>dragon/101/transcended/violet_ev_l_wing2</key>
            <dict>
                <key>frame</key>
                <string>{{395,430},{74,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,91}}</string>
                <key>sourceSize</key>
                <string>{76,93}</string>
            </dict>
            <key>dragon/101/transcended/violet_ev_neck</key>
            <dict>
                <key>frame</key>
                <string>{{188,218},{80,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{80,93}}</string>
                <key>sourceSize</key>
                <string>{82,95}</string>
            </dict>
            <key>dragon/101/transcended/violet_ev_r_arm1</key>
            <dict>
                <key>frame</key>
                <string>{{223,560},{43,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{43,50}}</string>
                <key>sourceSize</key>
                <string>{45,52}</string>
            </dict>
            <key>dragon/101/transcended/violet_ev_r_arm1_acc2</key>
            <dict>
                <key>frame</key>
                <string>{{122,513},{42,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,51}}</string>
                <key>sourceSize</key>
                <string>{44,51}</string>
            </dict>
            <key>dragon/101/transcended/violet_ev_r_arm2</key>
            <dict>
                <key>frame</key>
                <string>{{2,501},{36,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{36,77}}</string>
                <key>sourceSize</key>
                <string>{38,79}</string>
            </dict>
            <key>dragon/101/transcended/violet_ev_r_arm2_acc2</key>
            <dict>
                <key>frame</key>
                <string>{{166,512},{36,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,77}}</string>
                <key>sourceSize</key>
                <string>{38,77}</string>
            </dict>
            <key>dragon/101/transcended/violet_ev_r_leg1</key>
            <dict>
                <key>frame</key>
                <string>{{245,513},{45,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{45,71}}</string>
                <key>sourceSize</key>
                <string>{47,73}</string>
            </dict>
            <key>dragon/101/transcended/violet_ev_r_leg2</key>
            <dict>
                <key>frame</key>
                <string>{{81,501},{39,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{39,64}}</string>
                <key>sourceSize</key>
                <string>{41,66}</string>
            </dict>
            <key>dragon/101/transcended/violet_ev_r_wing1</key>
            <dict>
                <key>frame</key>
                <string>{{270,269},{131,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{131,130}}</string>
                <key>sourceSize</key>
                <string>{133,132}</string>
            </dict>
            <key>dragon/101/transcended/violet_ev_r_wing2</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{87,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{87,184}}</string>
                <key>sourceSize</key>
                <string>{89,186}</string>
            </dict>
            <key>dragon/101/transcended/violet_ev_tail</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{163,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{163,117}}</string>
                <key>sourceSize</key>
                <string>{165,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>transcended.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac70500d28e6b893e1520a09cf43e14b:d85b08735e7e06033bccd03b1f757a4d:4ccee169e4aaedda1b9c894a7fb2805b$</string>
            <key>textureFileName</key>
            <string>transcended.pvr.ccz</string>
        </dict>
    </dict>
</plist>
