<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-21,26}</string>
			<key>spriteSize</key>
			<string>{134,204}</string>
			<key>spriteSourceSize</key>
			<string>{282,260}</string>
			<key>textureRect</key>
			<string>{{275,369},{134,204}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,26}</string>
			<key>spriteSize</key>
			<string>{176,204}</string>
			<key>spriteSourceSize</key>
			<string>{282,260}</string>
			<key>textureRect</key>
			<string>{{277,191},{176,204}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-10,26}</string>
			<key>spriteSize</key>
			<string>{188,204}</string>
			<key>spriteSourceSize</key>
			<string>{282,260}</string>
			<key>textureRect</key>
			<string>{{277,1},{188,204}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-23,22}</string>
			<key>spriteSize</key>
			<string>{228,214}</string>
			<key>spriteSourceSize</key>
			<string>{282,260}</string>
			<key>textureRect</key>
			<string>{{245,1131},{228,214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-22,21}</string>
			<key>spriteSize</key>
			<string>{228,216}</string>
			<key>spriteSourceSize</key>
			<string>{282,260}</string>
			<key>textureRect</key>
			<string>{{265,649},{228,216}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,19}</string>
			<key>spriteSize</key>
			<string>{220,216}</string>
			<key>spriteSourceSize</key>
			<string>{282,260}</string>
			<key>textureRect</key>
			<string>{{1,1529},{220,216}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,16}</string>
			<key>spriteSize</key>
			<string>{242,222}</string>
			<key>spriteSourceSize</key>
			<string>{282,260}</string>
			<key>textureRect</key>
			<string>{{1,1173},{242,222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,13}</string>
			<key>spriteSize</key>
			<string>{250,228}</string>
			<key>spriteSourceSize</key>
			<string>{282,260}</string>
			<key>textureRect</key>
			<string>{{255,879},{250,228}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,-2}</string>
			<key>spriteSize</key>
			<string>{262,212}</string>
			<key>spriteSourceSize</key>
			<string>{282,260}</string>
			<key>textureRect</key>
			<string>{{1,485},{262,212}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,-3}</string>
			<key>spriteSize</key>
			<string>{274,220}</string>
			<key>spriteSourceSize</key>
			<string>{282,260}</string>
			<key>textureRect</key>
			<string>{{1,1},{274,220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-15,5}</string>
			<key>spriteSize</key>
			<string>{242,224}</string>
			<key>spriteSourceSize</key>
			<string>{282,260}</string>
			<key>textureRect</key>
			<string>{{1,947},{242,224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-8,5}</string>
			<key>spriteSize</key>
			<string>{252,246}</string>
			<key>spriteSourceSize</key>
			<string>{282,260}</string>
			<key>textureRect</key>
			<string>{{1,699},{252,246}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,0}</string>
			<key>spriteSize</key>
			<string>{272,260}</string>
			<key>spriteSourceSize</key>
			<string>{282,260}</string>
			<key>textureRect</key>
			<string>{{1,223},{272,260}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-7,4}</string>
			<key>spriteSize</key>
			<string>{226,216}</string>
			<key>spriteSourceSize</key>
			<string>{282,260}</string>
			<key>textureRect</key>
			<string>{{245,1347},{226,216}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-11}</string>
			<key>spriteSize</key>
			<string>{240,130}</string>
			<key>spriteSourceSize</key>
			<string>{282,260}</string>
			<key>textureRect</key>
			<string>{{1,1397},{240,130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>15</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{20,-6}</string>
			<key>spriteSize</key>
			<string>{218,142}</string>
			<key>spriteSourceSize</key>
			<string>{282,260}</string>
			<key>textureRect</key>
			<string>{{265,505},{218,142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>16</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{20,-6}</string>
			<key>spriteSize</key>
			<string>{218,142}</string>
			<key>spriteSourceSize</key>
			<string>{282,260}</string>
			<key>textureRect</key>
			<string>{{265,505},{218,142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>17</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{18,3}</string>
			<key>spriteSize</key>
			<string>{220,158}</string>
			<key>spriteSourceSize</key>
			<string>{282,260}</string>
			<key>textureRect</key>
			<string>{{223,1565},{220,158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action20.pvr.ccz</string>
		<key>size</key>
		<string>{484,1746}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:8f58e8dea2de1af15c32c36b6126619f:7e450925940d9dd4ed2b453b4042c057:98ec4b5f3da3b367b0df440471cccb39$</string>
		<key>textureFileName</key>
		<string>col_action20.pvr.ccz</string>
	</dict>
</dict>
</plist>
