<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-21,26}</string>
			<key>spriteSize</key>
			<string>{134,204}</string>
			<key>spriteSourceSize</key>
			<string>{282,260}</string>
			<key>textureRect</key>
			<string>{{1,1571},{134,204}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-14,26}</string>
			<key>spriteSize</key>
			<string>{148,204}</string>
			<key>spriteSourceSize</key>
			<string>{282,260}</string>
			<key>textureRect</key>
			<string>{{207,1505},{148,204}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-13,26}</string>
			<key>spriteSize</key>
			<string>{184,204}</string>
			<key>spriteSourceSize</key>
			<string>{282,260}</string>
			<key>textureRect</key>
			<string>{{1,1385},{184,204}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-23,22}</string>
			<key>spriteSize</key>
			<string>{228,214}</string>
			<key>spriteSourceSize</key>
			<string>{282,260}</string>
			<key>textureRect</key>
			<string>{{1,865},{228,214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-23,21}</string>
			<key>spriteSize</key>
			<string>{228,216}</string>
			<key>spriteSourceSize</key>
			<string>{282,260}</string>
			<key>textureRect</key>
			<string>{{243,851},{228,216}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,19}</string>
			<key>spriteSize</key>
			<string>{216,216}</string>
			<key>spriteSourceSize</key>
			<string>{282,260}</string>
			<key>textureRect</key>
			<string>{{221,1287},{216,216}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,18}</string>
			<key>spriteSize</key>
			<string>{242,218}</string>
			<key>spriteSourceSize</key>
			<string>{282,260}</string>
			<key>textureRect</key>
			<string>{{245,631},{242,218}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,17}</string>
			<key>spriteSize</key>
			<string>{242,220}</string>
			<key>spriteSourceSize</key>
			<string>{282,260}</string>
			<key>textureRect</key>
			<string>{{1,511},{242,220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-22,5}</string>
			<key>spriteSize</key>
			<string>{230,198}</string>
			<key>spriteSourceSize</key>
			<string>{282,260}</string>
			<key>textureRect</key>
			<string>{{275,205},{230,198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-21,5}</string>
			<key>spriteSize</key>
			<string>{232,202}</string>
			<key>spriteSourceSize</key>
			<string>{282,260}</string>
			<key>textureRect</key>
			<string>{{275,1},{232,202}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-15,5}</string>
			<key>spriteSize</key>
			<string>{242,224}</string>
			<key>spriteSourceSize</key>
			<string>{282,260}</string>
			<key>textureRect</key>
			<string>{{255,405},{242,224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-8,5}</string>
			<key>spriteSize</key>
			<string>{252,246}</string>
			<key>spriteSourceSize</key>
			<string>{282,260}</string>
			<key>textureRect</key>
			<string>{{1,263},{252,246}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,0}</string>
			<key>spriteSize</key>
			<string>{272,260}</string>
			<key>spriteSourceSize</key>
			<string>{282,260}</string>
			<key>textureRect</key>
			<string>{{1,1},{272,260}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-7,4}</string>
			<key>spriteSize</key>
			<string>{226,216}</string>
			<key>spriteSourceSize</key>
			<string>{282,260}</string>
			<key>textureRect</key>
			<string>{{231,1069},{226,216}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-11}</string>
			<key>spriteSize</key>
			<string>{240,130}</string>
			<key>spriteSourceSize</key>
			<string>{282,260}</string>
			<key>textureRect</key>
			<string>{{1,733},{240,130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>15</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{20,-6}</string>
			<key>spriteSize</key>
			<string>{218,142}</string>
			<key>spriteSourceSize</key>
			<string>{282,260}</string>
			<key>textureRect</key>
			<string>{{1,1241},{218,142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>16</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{20,-6}</string>
			<key>spriteSize</key>
			<string>{218,142}</string>
			<key>spriteSourceSize</key>
			<string>{282,260}</string>
			<key>textureRect</key>
			<string>{{1,1241},{218,142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>17</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{18,3}</string>
			<key>spriteSize</key>
			<string>{220,158}</string>
			<key>spriteSourceSize</key>
			<string>{282,260}</string>
			<key>textureRect</key>
			<string>{{1,1081},{220,158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action10.pvr.ccz</string>
		<key>size</key>
		<string>{508,1706}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:61f75774ef80dc4390161391ca4f383a:7cae45e4e558ad7e23e647df6bb7831a:fd6dfe3ee94267230ed6425290acf6b5$</string>
		<key>textureFileName</key>
		<string>col_action10.pvr.ccz</string>
	</dict>
</dict>
</plist>
