<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster/238/effect/at1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{845,503}</string>
                <key>spriteSourceSize</key>
                <string>{845,503}</string>
                <key>textureRect</key>
                <string>{{1,1},{845,503}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/238/effect/at2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{845,503}</string>
                <key>spriteSourceSize</key>
                <string>{845,503}</string>
                <key>textureRect</key>
                <string>{{1,506},{845,503}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster/238/effect/at3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{799,480}</string>
                <key>spriteSourceSize</key>
                <string>{799,480}</string>
                <key>textureRect</key>
                <string>{{1,1011},{799,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>effect.pvr.ccz</string>
            <key>size</key>
            <string>{847,1492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f82dacc2af128cd68bd436e08d9df903:958e0dff73a4666fef3317277c4aa64e:e0fdcd92bbdb8ab6858982d39ba3f2d9$</string>
            <key>textureFileName</key>
            <string>effect.pvr.ccz</string>
        </dict>
    </dict>
</plist>
