<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3021/effect/col_action1/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,99}</string>
                <key>spriteSize</key>
                <string>{155,129}</string>
                <key>spriteSourceSize</key>
                <string>{409,327}</string>
                <key>textureRect</key>
                <string>{{1,364},{155,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3021/effect/col_action1/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,33}</string>
                <key>spriteSize</key>
                <string>{215,261}</string>
                <key>spriteSourceSize</key>
                <string>{409,327}</string>
                <key>textureRect</key>
                <string>{{1199,238},{215,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3021/effect/col_action1/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,12}</string>
                <key>spriteSize</key>
                <string>{297,303}</string>
                <key>spriteSourceSize</key>
                <string>{409,327}</string>
                <key>textureRect</key>
                <string>{{900,1},{297,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3021/effect/col_action1/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{303,319}</string>
                <key>spriteSourceSize</key>
                <string>{409,327}</string>
                <key>textureRect</key>
                <string>{{595,1},{303,319}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3021/effect/col_action1/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,6}</string>
                <key>spriteSize</key>
                <string>{361,315}</string>
                <key>spriteSourceSize</key>
                <string>{409,327}</string>
                <key>textureRect</key>
                <string>{{1,1},{361,315}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3021/effect/col_action1/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-18}</string>
                <key>spriteSize</key>
                <string>{341,275}</string>
                <key>spriteSourceSize</key>
                <string>{409,327}</string>
                <key>textureRect</key>
                <string>{{318,1},{341,275}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3021/effect/col_action1/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-3}</string>
                <key>spriteSize</key>
                <string>{235,255}</string>
                <key>spriteSourceSize</key>
                <string>{409,327}</string>
                <key>textureRect</key>
                <string>{{1199,1},{235,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3021/effect/col_action1/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-19}</string>
                <key>spriteSize</key>
                <string>{139,163}</string>
                <key>spriteSourceSize</key>
                <string>{409,327}</string>
                <key>textureRect</key>
                <string>{{318,344},{139,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action10.pvr.ccz</string>
            <key>size</key>
            <string>{1455,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16919ee8863e3d1ed99753596d226b47:170dc73216e8c2b1e33bf3741a23f72d:fd6dfe3ee94267230ed6425290acf6b5$</string>
            <key>textureFileName</key>
            <string>col_action10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
