<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3021/effect/col_action2/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,-87}</string>
                <key>spriteSize</key>
                <string>{228,93}</string>
                <key>spriteSourceSize</key>
                <string>{418,327}</string>
                <key>textureRect</key>
                <string>{{888,620},{228,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3021/effect/col_action2/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,-86}</string>
                <key>spriteSize</key>
                <string>{230,95}</string>
                <key>spriteSourceSize</key>
                <string>{418,327}</string>
                <key>textureRect</key>
                <string>{{791,620},{230,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3021/effect/col_action2/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,11}</string>
                <key>spriteSize</key>
                <string>{310,305}</string>
                <key>spriteSourceSize</key>
                <string>{418,327}</string>
                <key>textureRect</key>
                <string>{{1,637},{310,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3021/effect/col_action2/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,11}</string>
                <key>spriteSize</key>
                <string>{310,305}</string>
                <key>spriteSourceSize</key>
                <string>{418,327}</string>
                <key>textureRect</key>
                <string>{{709,313},{310,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3021/effect/col_action2/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,11}</string>
                <key>spriteSize</key>
                <string>{310,305}</string>
                <key>spriteSourceSize</key>
                <string>{418,327}</string>
                <key>textureRect</key>
                <string>{{484,628},{310,305}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3021/effect/col_action2/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,4}</string>
                <key>spriteSize</key>
                <string>{330,319}</string>
                <key>spriteSourceSize</key>
                <string>{418,327}</string>
                <key>textureRect</key>
                <string>{{1,316},{330,319}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3021/effect/col_action2/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,7}</string>
                <key>spriteSize</key>
                <string>{370,313}</string>
                <key>spriteSourceSize</key>
                <string>{418,327}</string>
                <key>textureRect</key>
                <string>{{1,1},{370,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3021/effect/col_action2/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-18}</string>
                <key>spriteSize</key>
                <string>{366,275}</string>
                <key>spriteSourceSize</key>
                <string>{418,327}</string>
                <key>textureRect</key>
                <string>{{373,1},{366,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3021/effect/col_action2/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-21}</string>
                <key>spriteSize</key>
                <string>{310,239}</string>
                <key>spriteSourceSize</key>
                <string>{418,327}</string>
                <key>textureRect</key>
                <string>{{741,1},{310,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3021/effect/col_action2/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-39}</string>
                <key>spriteSize</key>
                <string>{310,203}</string>
                <key>spriteSourceSize</key>
                <string>{418,327}</string>
                <key>textureRect</key>
                <string>{{504,278},{310,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3021/effect/col_action2/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-56}</string>
                <key>spriteSize</key>
                <string>{310,169}</string>
                <key>spriteSourceSize</key>
                <string>{418,327}</string>
                <key>textureRect</key>
                <string>{{333,316},{310,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3021/effect/col_action2/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-56}</string>
                <key>spriteSize</key>
                <string>{310,169}</string>
                <key>spriteSourceSize</key>
                <string>{418,327}</string>
                <key>textureRect</key>
                <string>{{313,637},{310,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action20.pvr.ccz</string>
            <key>size</key>
            <string>{1020,948}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:133f2ff4347b84da736ca455298c1403:4410406541544505f3df025065346398:98ec4b5f3da3b367b0df440471cccb39$</string>
            <key>textureFileName</key>
            <string>col_action20.pvr.ccz</string>
        </dict>
    </dict>
</plist>
