<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-21}</string>
			<key>spriteSize</key>
			<string>{311,150}</string>
			<key>spriteSourceSize</key>
			<string>{311,196}</string>
			<key>textureRect</key>
			<string>{{627,1887},{311,150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-20}</string>
			<key>spriteSize</key>
			<string>{311,156}</string>
			<key>spriteSourceSize</key>
			<string>{311,196}</string>
			<key>textureRect</key>
			<string>{{1,1735},{311,156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-19}</string>
			<key>spriteSize</key>
			<string>{311,158}</string>
			<key>spriteSourceSize</key>
			<string>{311,196}</string>
			<key>textureRect</key>
			<string>{{1,935},{311,158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-18}</string>
			<key>spriteSize</key>
			<string>{311,160}</string>
			<key>spriteSourceSize</key>
			<string>{311,196}</string>
			<key>textureRect</key>
			<string>{{314,927},{311,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-13}</string>
			<key>spriteSize</key>
			<string>{311,170}</string>
			<key>spriteSourceSize</key>
			<string>{311,196}</string>
			<key>textureRect</key>
			<string>{{627,755},{311,170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-10}</string>
			<key>spriteSize</key>
			<string>{311,176}</string>
			<key>spriteSourceSize</key>
			<string>{311,196}</string>
			<key>textureRect</key>
			<string>{{314,581},{311,176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-5}</string>
			<key>spriteSize</key>
			<string>{311,186}</string>
			<key>spriteSourceSize</key>
			<string>{311,196}</string>
			<key>textureRect</key>
			<string>{{314,393},{311,186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-4}</string>
			<key>spriteSize</key>
			<string>{311,188}</string>
			<key>spriteSourceSize</key>
			<string>{311,196}</string>
			<key>textureRect</key>
			<string>{{627,391},{311,188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-3}</string>
			<key>spriteSize</key>
			<string>{311,190}</string>
			<key>spriteSourceSize</key>
			<string>{311,196}</string>
			<key>textureRect</key>
			<string>{{627,199},{311,190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{311,192}</string>
			<key>spriteSourceSize</key>
			<string>{311,196}</string>
			<key>textureRect</key>
			<string>{{314,199},{311,192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{311,194}</string>
			<key>spriteSourceSize</key>
			<string>{311,196}</string>
			<key>textureRect</key>
			<string>{{1,199},{311,194}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{311,196}</string>
			<key>spriteSourceSize</key>
			<string>{311,196}</string>
			<key>textureRect</key>
			<string>{{1,1},{311,196}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{311,196}</string>
			<key>spriteSourceSize</key>
			<string>{311,196}</string>
			<key>textureRect</key>
			<string>{{314,1},{311,196}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{311,196}</string>
			<key>spriteSourceSize</key>
			<string>{311,196}</string>
			<key>textureRect</key>
			<string>{{627,1},{311,196}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-19}</string>
			<key>spriteSize</key>
			<string>{311,158}</string>
			<key>spriteSourceSize</key>
			<string>{311,196}</string>
			<key>textureRect</key>
			<string>{{627,927},{311,158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>15</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-19}</string>
			<key>spriteSize</key>
			<string>{311,158}</string>
			<key>spriteSourceSize</key>
			<string>{311,196}</string>
			<key>textureRect</key>
			<string>{{627,1087},{311,158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>16</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-19}</string>
			<key>spriteSize</key>
			<string>{311,158}</string>
			<key>spriteSourceSize</key>
			<string>{311,196}</string>
			<key>textureRect</key>
			<string>{{314,1089},{311,158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>17</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-19}</string>
			<key>spriteSize</key>
			<string>{311,158}</string>
			<key>spriteSourceSize</key>
			<string>{311,196}</string>
			<key>textureRect</key>
			<string>{{627,1247},{311,158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>18</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-19}</string>
			<key>spriteSize</key>
			<string>{311,158}</string>
			<key>spriteSourceSize</key>
			<string>{311,196}</string>
			<key>textureRect</key>
			<string>{{1,1095},{311,158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>19</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-19}</string>
			<key>spriteSize</key>
			<string>{311,158}</string>
			<key>spriteSourceSize</key>
			<string>{311,196}</string>
			<key>textureRect</key>
			<string>{{314,1249},{311,158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>20</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-19}</string>
			<key>spriteSize</key>
			<string>{311,158}</string>
			<key>spriteSourceSize</key>
			<string>{311,196}</string>
			<key>textureRect</key>
			<string>{{627,1407},{311,158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>21</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-19}</string>
			<key>spriteSize</key>
			<string>{311,158}</string>
			<key>spriteSourceSize</key>
			<string>{311,196}</string>
			<key>textureRect</key>
			<string>{{1,1255},{311,158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>22</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-19}</string>
			<key>spriteSize</key>
			<string>{311,158}</string>
			<key>spriteSourceSize</key>
			<string>{311,196}</string>
			<key>textureRect</key>
			<string>{{314,1409},{311,158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>23</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-19}</string>
			<key>spriteSize</key>
			<string>{311,158}</string>
			<key>spriteSourceSize</key>
			<string>{311,196}</string>
			<key>textureRect</key>
			<string>{{627,1567},{311,158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>24</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-19}</string>
			<key>spriteSize</key>
			<string>{311,158}</string>
			<key>spriteSourceSize</key>
			<string>{311,196}</string>
			<key>textureRect</key>
			<string>{{1,1415},{311,158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>25</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-19}</string>
			<key>spriteSize</key>
			<string>{311,158}</string>
			<key>spriteSourceSize</key>
			<string>{311,196}</string>
			<key>textureRect</key>
			<string>{{314,1569},{311,158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>26</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-19}</string>
			<key>spriteSize</key>
			<string>{311,158}</string>
			<key>spriteSourceSize</key>
			<string>{311,196}</string>
			<key>textureRect</key>
			<string>{{627,1727},{311,158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>27</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-19}</string>
			<key>spriteSize</key>
			<string>{311,158}</string>
			<key>spriteSourceSize</key>
			<string>{311,196}</string>
			<key>textureRect</key>
			<string>{{1,1575},{311,158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>28</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-8}</string>
			<key>spriteSize</key>
			<string>{311,180}</string>
			<key>spriteSourceSize</key>
			<string>{311,196}</string>
			<key>textureRect</key>
			<string>{{1,395},{311,180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>29</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-9}</string>
			<key>spriteSize</key>
			<string>{311,178}</string>
			<key>spriteSourceSize</key>
			<string>{311,196}</string>
			<key>textureRect</key>
			<string>{{1,577},{311,178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>30</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-10}</string>
			<key>spriteSize</key>
			<string>{311,176}</string>
			<key>spriteSourceSize</key>
			<string>{311,196}</string>
			<key>textureRect</key>
			<string>{{1,757},{311,176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>31</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-12}</string>
			<key>spriteSize</key>
			<string>{311,172}</string>
			<key>spriteSourceSize</key>
			<string>{311,196}</string>
			<key>textureRect</key>
			<string>{{627,581},{311,172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>32</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-15}</string>
			<key>spriteSize</key>
			<string>{311,166}</string>
			<key>spriteSourceSize</key>
			<string>{311,196}</string>
			<key>textureRect</key>
			<string>{{314,759},{311,166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>33</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-19}</string>
			<key>spriteSize</key>
			<string>{311,158}</string>
			<key>spriteSourceSize</key>
			<string>{311,196}</string>
			<key>textureRect</key>
			<string>{{314,1729},{311,158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>34</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-27}</string>
			<key>spriteSize</key>
			<string>{311,142}</string>
			<key>spriteSourceSize</key>
			<string>{311,196}</string>
			<key>textureRect</key>
			<string>{{314,1889},{311,142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>35</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-41}</string>
			<key>spriteSize</key>
			<string>{311,110}</string>
			<key>spriteSourceSize</key>
			<string>{311,196}</string>
			<key>textureRect</key>
			<string>{{1,1893},{311,110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action10.pvr.ccz</string>
		<key>size</key>
		<string>{939,2038}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:6ac2eb12bea6276c21091a8a4d90ee54:37fb209dd990e59b65326b4dc618cda0:fd6dfe3ee94267230ed6425290acf6b5$</string>
		<key>textureFileName</key>
		<string>col_action10.pvr.ccz</string>
	</dict>
</dict>
</plist>
