<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/eggshop/opencard/images/ef_cardbg1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,482}</string>
                <key>spriteSourceSize</key>
                <string>{570,482}</string>
                <key>textureRect</key>
                <string>{{1,436},{570,482}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/eggshop/opencard/images/ef_cardbg2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{526,470}</string>
                <key>spriteSourceSize</key>
                <string>{526,470}</string>
                <key>textureRect</key>
                <string>{{485,536},{526,470}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/eggshop/opencard/images/ef_cardbg3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,433}</string>
                <key>spriteSourceSize</key>
                <string>{673,433}</string>
                <key>textureRect</key>
                <string>{{1,1},{673,433}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/opencard/images/ef_cardbg4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,320}</string>
                <key>spriteSourceSize</key>
                <string>{321,320}</string>
                <key>textureRect</key>
                <string>{{676,1},{321,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/opencard/images/ef_gacha10_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{485,436},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/opencard/images/ef_gacha1_bg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,330}</string>
                <key>spriteSourceSize</key>
                <string>{211,330}</string>
                <key>textureRect</key>
                <string>{{676,323},{211,330}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/eggshop/opencard/images/ef_star1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,82}</string>
                <key>spriteSourceSize</key>
                <string>{87,82}</string>
                <key>textureRect</key>
                <string>{{1,1008},{87,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/opencard/images/ef_star2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,83}</string>
                <key>spriteSourceSize</key>
                <string>{81,83}</string>
                <key>textureRect</key>
                <string>{{90,1008},{81,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/eggshop/opencard/images/ef_star3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,87}</string>
                <key>spriteSourceSize</key>
                <string>{84,87}</string>
                <key>textureRect</key>
                <string>{{573,436},{84,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/eggshop/opencard/images/ef_star4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,83}</string>
                <key>spriteSourceSize</key>
                <string>{76,83}</string>
                <key>textureRect</key>
                <string>{{175,1008},{76,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>images.pvr.ccz</string>
            <key>size</key>
            <string>{1007,1091}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6747f1370efb7b3439998ca58f183d2:ed738a6e1149133bd6111342bb2cc3b8:8f17e1ce2c45f807bcb9853cd131d9c3$</string>
            <key>textureFileName</key>
            <string>images.pvr.ccz</string>
        </dict>
    </dict>
</plist>
