<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,9}</string>
			<key>spriteSize</key>
			<string>{169,233}</string>
			<key>spriteSourceSize</key>
			<string>{317,287}</string>
			<key>textureRect</key>
			<string>{{857,1},{169,233}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,20}</string>
			<key>spriteSize</key>
			<string>{169,209}</string>
			<key>spriteSourceSize</key>
			<string>{317,287}</string>
			<key>textureRect</key>
			<string>{{1601,423},{169,209}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,20}</string>
			<key>spriteSize</key>
			<string>{169,209}</string>
			<key>spriteSourceSize</key>
			<string>{317,287}</string>
			<key>textureRect</key>
			<string>{{1812,379},{169,209}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,6}</string>
			<key>spriteSize</key>
			<string>{187,239}</string>
			<key>spriteSourceSize</key>
			<string>{317,287}</string>
			<key>textureRect</key>
			<string>{{795,244},{187,239}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,20}</string>
			<key>spriteSize</key>
			<string>{187,209}</string>
			<key>spriteSourceSize</key>
			<string>{317,287}</string>
			<key>textureRect</key>
			<string>{{1223,1},{187,209}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,20}</string>
			<key>spriteSize</key>
			<string>{187,209}</string>
			<key>spriteSourceSize</key>
			<string>{317,287}</string>
			<key>textureRect</key>
			<string>{{1179,423},{187,209}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,20}</string>
			<key>spriteSize</key>
			<string>{187,209}</string>
			<key>spriteSourceSize</key>
			<string>{317,287}</string>
			<key>textureRect</key>
			<string>{{1374,212},{187,209}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,20}</string>
			<key>spriteSize</key>
			<string>{187,209}</string>
			<key>spriteSourceSize</key>
			<string>{317,287}</string>
			<key>textureRect</key>
			<string>{{1412,1},{187,209}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,20}</string>
			<key>spriteSize</key>
			<string>{187,209}</string>
			<key>spriteSourceSize</key>
			<string>{317,287}</string>
			<key>textureRect</key>
			<string>{{1390,423},{187,209}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,20}</string>
			<key>spriteSize</key>
			<string>{187,209}</string>
			<key>spriteSourceSize</key>
			<string>{317,287}</string>
			<key>textureRect</key>
			<string>{{1563,212},{187,209}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,20}</string>
			<key>spriteSize</key>
			<string>{187,209}</string>
			<key>spriteSourceSize</key>
			<string>{317,287}</string>
			<key>textureRect</key>
			<string>{{1601,1},{187,209}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,20}</string>
			<key>spriteSize</key>
			<string>{187,209}</string>
			<key>spriteSourceSize</key>
			<string>{317,287}</string>
			<key>textureRect</key>
			<string>{{1790,1},{187,209}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,20}</string>
			<key>spriteSize</key>
			<string>{187,209}</string>
			<key>spriteSourceSize</key>
			<string>{317,287}</string>
			<key>textureRect</key>
			<string>{{1790,190},{187,209}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,20}</string>
			<key>spriteSize</key>
			<string>{193,209}</string>
			<key>spriteSourceSize</key>
			<string>{317,287}</string>
			<key>textureRect</key>
			<string>{{1028,1},{193,209}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,20}</string>
			<key>spriteSize</key>
			<string>{193,209}</string>
			<key>spriteSourceSize</key>
			<string>{317,287}</string>
			<key>textureRect</key>
			<string>{{1179,212},{193,209}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>15</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,18}</string>
			<key>spriteSize</key>
			<string>{193,219}</string>
			<key>spriteSourceSize</key>
			<string>{317,287}</string>
			<key>textureRect</key>
			<string>{{984,236},{193,219}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>16</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,14}</string>
			<key>spriteSize</key>
			<string>{221,241}</string>
			<key>spriteSourceSize</key>
			<string>{317,287}</string>
			<key>textureRect</key>
			<string>{{634,1},{221,241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>17</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,11}</string>
			<key>spriteSize</key>
			<string>{249,239}</string>
			<key>spriteSourceSize</key>
			<string>{317,287}</string>
			<key>textureRect</key>
			<string>{{554,262},{249,239}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>18</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,10}</string>
			<key>spriteSize</key>
			<string>{259,257}</string>
			<key>spriteSourceSize</key>
			<string>{317,287}</string>
			<key>textureRect</key>
			<string>{{375,1},{259,257}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>19</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,-32}</string>
			<key>spriteSize</key>
			<string>{269,179}</string>
			<key>spriteSourceSize</key>
			<string>{317,287}</string>
			<key>textureRect</key>
			<string>{{373,292},{269,179}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>20</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,-33}</string>
			<key>spriteSize</key>
			<string>{279,181}</string>
			<key>spriteSourceSize</key>
			<string>{317,287}</string>
			<key>textureRect</key>
			<string>{{190,292},{279,181}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>21</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,-35}</string>
			<key>spriteSize</key>
			<string>{289,183}</string>
			<key>spriteSourceSize</key>
			<string>{317,287}</string>
			<key>textureRect</key>
			<string>{{190,1},{289,183}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>22</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,-36}</string>
			<key>spriteSize</key>
			<string>{299,187}</string>
			<key>spriteSourceSize</key>
			<string>{317,287}</string>
			<key>textureRect</key>
			<string>{{1,1},{299,187}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>23</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,-36}</string>
			<key>spriteSize</key>
			<string>{299,187}</string>
			<key>spriteSourceSize</key>
			<string>{317,287}</string>
			<key>textureRect</key>
			<string>{{1,302},{299,187}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>24</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,3}</string>
			<key>spriteSize</key>
			<string>{193,109}</string>
			<key>spriteSourceSize</key>
			<string>{317,287}</string>
			<key>textureRect</key>
			<string>{{795,485},{193,109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action20.pvr.ccz</string>
		<key>size</key>
		<string>{2000,611}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:1f2d4452cc2f70040e7183c0818d247c:cfd21b31d8afbd080205120484ea8960:98ec4b5f3da3b367b0df440471cccb39$</string>
		<key>textureFileName</key>
		<string>col_action20.pvr.ccz</string>
	</dict>
</dict>
</plist>
