<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/archa/gemlab/add_egg/autoadd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,20}</string>
                <key>spriteSourceSize</key>
                <string>{75,20}</string>
                <key>textureRect</key>
                <string>{{456,645},{75,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/archa/gemlab/add_egg/autoadd_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,20}</string>
                <key>spriteSourceSize</key>
                <string>{75,20}</string>
                <key>textureRect</key>
                <string>{{456,722},{75,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/archa/gemlab/add_egg/automatic_action_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,46}</string>
                <key>spriteSourceSize</key>
                <string>{127,48}</string>
                <key>textureRect</key>
                <string>{{269,1084},{125,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/gemlab/add_egg/bar</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,31}</string>
                <key>spriteSourceSize</key>
                <string>{273,31}</string>
                <key>textureRect</key>
                <string>{{456,1},{273,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/archa/gemlab/add_egg/box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,453}</string>
                <key>spriteSourceSize</key>
                <string>{780,453}</string>
                <key>textureRect</key>
                <string>{{1,1},{780,453}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/archa/gemlab/add_egg/box_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,299}</string>
                <key>spriteSourceSize</key>
                <string>{385,299}</string>
                <key>textureRect</key>
                <string>{{1,783},{385,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/gemlab/add_egg/dragon_name_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,36}</string>
                <key>spriteSourceSize</key>
                <string>{178,36}</string>
                <key>textureRect</key>
                <string>{{417,783},{178,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/archa/gemlab/add_egg/egg_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,87}</string>
                <key>spriteSourceSize</key>
                <string>{83,87}</string>
                <key>textureRect</key>
                <string>{{210,1177},{83,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/gemlab/add_egg/egg_choice_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,62}</string>
                <key>spriteSourceSize</key>
                <string>{65,62}</string>
                <key>textureRect</key>
                <string>{{295,1177},{65,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/gemlab/add_egg/egg_number_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,21}</string>
                <key>spriteSourceSize</key>
                <string>{54,21}</string>
                <key>textureRect</key>
                <string>{{394,1241},{54,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/gemlab/add_egg/gauge_green</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,27}</string>
                <key>spriteSourceSize</key>
                <string>{266,27}</string>
                <key>textureRect</key>
                <string>{{1,1084},{266,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/gemlab/add_egg/gauge_yellow</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,27}</string>
                <key>spriteSourceSize</key>
                <string>{266,27}</string>
                <key>textureRect</key>
                <string>{{388,783},{266,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/archa/gemlab/add_egg/hammer_choice_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,62}</string>
                <key>spriteSourceSize</key>
                <string>{65,62}</string>
                <key>textureRect</key>
                <string>{{362,1177},{65,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/gemlab/add_egg/hammer_egg_choice_bt_effect</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,70}</string>
                <key>spriteSourceSize</key>
                <string>{73,70}</string>
                <key>textureRect</key>
                <string>{{417,963},{73,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/gemlab/add_egg/in_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,56}</string>
                <key>spriteSourceSize</key>
                <string>{47,56}</string>
                <key>textureRect</key>
                <string>{{429,1177},{47,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/gemlab/add_egg/material_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,47}</string>
                <key>spriteSourceSize</key>
                <string>{207,47}</string>
                <key>textureRect</key>
                <string>{{1,1168},{207,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/gemlab/add_egg/minus</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,19}</string>
                <key>spriteSourceSize</key>
                <string>{30,19}</string>
                <key>textureRect</key>
                <string>{{450,1235},{30,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/archa/gemlab/add_egg/minus_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,28}</string>
                <key>spriteSourceSize</key>
                <string>{64,28}</string>
                <key>textureRect</key>
                <string>{{455,875},{64,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/archa/gemlab/add_egg/minus_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,17}</string>
                <key>spriteSourceSize</key>
                <string>{39,17}</string>
                <key>textureRect</key>
                <string>{{220,1113},{39,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/gemlab/add_egg/mybag_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,47}</string>
                <key>spriteSourceSize</key>
                <string>{207,47}</string>
                <key>textureRect</key>
                <string>{{1,1217},{207,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/gemlab/add_egg/out_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{47,54}</string>
                <key>spriteSourceSize</key>
                <string>{47,56}</string>
                <key>textureRect</key>
                <string>{{396,1058},{47,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/gemlab/add_egg/plus</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,19}</string>
                <key>spriteSourceSize</key>
                <string>{29,19}</string>
                <key>textureRect</key>
                <string>{{471,1235},{29,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/archa/gemlab/add_egg/plus_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,28}</string>
                <key>spriteSourceSize</key>
                <string>{64,28}</string>
                <key>textureRect</key>
                <string>{{445,1058},{64,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/archa/gemlab/add_egg/plus_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,16}</string>
                <key>spriteSourceSize</key>
                <string>{19,16}</string>
                <key>textureRect</key>
                <string>{{396,1114},{19,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/gemlab/add_egg/register</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,21}</string>
                <key>spriteSourceSize</key>
                <string>{73,21}</string>
                <key>textureRect</key>
                <string>{{417,1035},{73,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/gemlab/add_egg/register_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,25}</string>
                <key>spriteSourceSize</key>
                <string>{83,25}</string>
                <key>textureRect</key>
                <string>{{456,560},{83,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/archa/gemlab/add_egg/remove</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,20}</string>
                <key>spriteSourceSize</key>
                <string>{74,20}</string>
                <key>textureRect</key>
                <string>{{455,799},{74,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/archa/gemlab/add_egg/remove_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,19}</string>
                <key>spriteSourceSize</key>
                <string>{101,19}</string>
                <key>textureRect</key>
                <string>{{456,457},{101,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/archa/gemlab/add_egg/right_top_number_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,53}</string>
                <key>spriteSourceSize</key>
                <string>{217,53}</string>
                <key>textureRect</key>
                <string>{{1,1113},{217,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/gemlab/add_egg/sign-up_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,43}</string>
                <key>spriteSourceSize</key>
                <string>{148,43}</string>
                <key>textureRect</key>
                <string>{{220,1132},{148,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/gemlab/add_egg/subtraction_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,43}</string>
                <key>spriteSourceSize</key>
                <string>{118,43}</string>
                <key>textureRect</key>
                <string>{{370,1132},{118,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/gemlab/add_egg/success_rate</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,24}</string>
                <key>spriteSourceSize</key>
                <string>{97,24}</string>
                <key>textureRect</key>
                <string>{{295,1241},{97,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/gemlab/add_egg/success_rate_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,23}</string>
                <key>spriteSourceSize</key>
                <string>{179,23}</string>
                <key>textureRect</key>
                <string>{{456,276},{179,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>add_egg.pvr.ccz</string>
            <key>size</key>
            <string>{491,1266}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64c739652216eb25d952a6c698662816:3a475867f422a523e22c172249a6fae4:c93b2582865fae2397f7c26ab5fe239b$</string>
            <key>textureFileName</key>
            <string>add_egg.pvr.ccz</string>
        </dict>
    </dict>
</plist>
