<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/archa/gemlab/add_gem/box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,447}</string>
                <key>spriteSourceSize</key>
                <string>{780,447}</string>
                <key>textureRect</key>
                <string>{{1,1},{780,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/gemlab/add_gem/box_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{758,380}</string>
                <key>spriteSourceSize</key>
                <string>{758,380}</string>
                <key>textureRect</key>
                <string>{{1,450},{758,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/gemlab/add_gem/gem_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,156}</string>
                <key>spriteSourceSize</key>
                <string>{134,156}</string>
                <key>textureRect</key>
                <string>{{761,450},{134,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/gemlab/add_gem/gem_number_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,27}</string>
                <key>spriteSourceSize</key>
                <string>{65,27}</string>
                <key>textureRect</key>
                <string>{{761,608},{65,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>add_gem.pvr.ccz</string>
            <key>size</key>
            <string>{896,831}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9fcf450523d110c4f78b0d7383a2992:da1a865a7665a4132e935b540defdadc:581e7ef0d98921049eb371632c24cc84$</string>
            <key>textureFileName</key>
            <string>add_gem.pvr.ccz</string>
        </dict>
    </dict>
</plist>
