<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/archa/gemlab/add_gem_popup/OK_BT</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,39}</string>
                <key>spriteSourceSize</key>
                <string>{150,39}</string>
                <key>textureRect</key>
                <string>{{1,1},{150,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/gemlab/add_gem_popup/box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,148}</string>
                <key>spriteSourceSize</key>
                <string>{444,148}</string>
                <key>textureRect</key>
                <string>{{1,42},{444,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/gemlab/add_gem_popup/cancle_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,39}</string>
                <key>spriteSourceSize</key>
                <string>{150,39}</string>
                <key>textureRect</key>
                <string>{{153,1},{150,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>add_gem_popup.pvr.ccz</string>
            <key>size</key>
            <string>{446,191}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f289eebaa0db7034f1ca711dc9653346:6df88cc0486612e7cbbd53f99e7d4933:7d0647668fb0b31ce0ef7f398dca5af2$</string>
            <key>textureFileName</key>
            <string>add_gem_popup.pvr.ccz</string>
        </dict>
    </dict>
</plist>
