<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/archa/gemlab/fail_upgrade/effect</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,330}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{1,1},{330,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/gemlab/fail_upgrade/fail_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,36}</string>
                <key>spriteSourceSize</key>
                <string>{178,36}</string>
                <key>textureRect</key>
                <string>{{185,333},{178,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/gemlab/fail_upgrade/ok_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,50}</string>
                <key>spriteSourceSize</key>
                <string>{182,50}</string>
                <key>textureRect</key>
                <string>{{1,333},{182,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>fail_upgrade.pvr.ccz</string>
            <key>size</key>
            <string>{364,384}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c792a1d34d41212c4f7925a127668093:2aa31118f255109b6ac8032edf7004b1:fc24eaa5a075d99d29769667a6125603$</string>
            <key>textureFileName</key>
            <string>fail_upgrade.pvr.ccz</string>
        </dict>
    </dict>
</plist>
