<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/archa/gemlab/material/box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,412}</string>
                <key>spriteSourceSize</key>
                <string>{298,412}</string>
                <key>textureRect</key>
                <string>{{1,1},{298,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/gemlab/material/ok_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,39}</string>
                <key>spriteSourceSize</key>
                <string>{150,39}</string>
                <key>textureRect</key>
                <string>{{1,415},{150,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/gemlab/material/txt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,27}</string>
                <key>spriteSourceSize</key>
                <string>{148,27}</string>
                <key>textureRect</key>
                <string>{{153,415},{148,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/gemlab/material/txt_en</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,25}</string>
                <key>spriteSourceSize</key>
                <string>{122,25}</string>
                <key>textureRect</key>
                <string>{{153,444},{122,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>material.pvr.ccz</string>
            <key>size</key>
            <string>{302,470}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aaa2d3eae3be5c3b2b04309831458a45:bf38366de6ecfb1f1de6156b6b4b16c4:5729d1c13e070a643452aaa34658d205$</string>
            <key>textureFileName</key>
            <string>material.pvr.ccz</string>
        </dict>
    </dict>
</plist>
