<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/archa/gemlab/set_egg_count/box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,209}</string>
                <key>spriteSourceSize</key>
                <string>{410,209}</string>
                <key>textureRect</key>
                <string>{{1,82},{410,209}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/archa/gemlab/set_egg_count/bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{119,1},{32,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/archa/gemlab/set_egg_count/bt_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{163,1},{32,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/archa/gemlab/set_egg_count/max_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,31}</string>
                <key>spriteSourceSize</key>
                <string>{57,31}</string>
                <key>textureRect</key>
                <string>{{1,1},{57,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/gemlab/set_egg_count/min_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,31}</string>
                <key>spriteSourceSize</key>
                <string>{57,31}</string>
                <key>textureRect</key>
                <string>{{60,1},{57,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/gemlab/set_egg_count/number_box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,45}</string>
                <key>spriteSourceSize</key>
                <string>{80,45}</string>
                <key>textureRect</key>
                <string>{{157,35},{80,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/gemlab/set_egg_count/ok_bt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,40}</string>
                <key>spriteSourceSize</key>
                <string>{154,40}</string>
                <key>textureRect</key>
                <string>{{1,35},{154,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>set_egg_count.pvr.ccz</string>
            <key>size</key>
            <string>{238,493}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c897cb1975dc8d2c253d3b73b1255cc9:0feacc45315d1464eba611a4bed8bf2f:9b40b27245c9224611b9aeca80cae744$</string>
            <key>textureFileName</key>
            <string>set_egg_count.pvr.ccz</string>
        </dict>
    </dict>
</plist>
