<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/archa/gemlab/success_upgrade/box</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,36}</string>
                <key>spriteSourceSize</key>
                <string>{178,36}</string>
                <key>textureRect</key>
                <string>{{674,1},{178,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene/archa/gemlab/success_upgrade/effect</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{671,434}</string>
                <key>spriteSourceSize</key>
                <string>{671,434}</string>
                <key>textureRect</key>
                <string>{{1,1},{671,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene/archa/gemlab/success_upgrade/particle</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{674,181},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>success_upgrade.pvr.ccz</string>
            <key>size</key>
            <string>{713,436}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2732320c5a79f008607c3d3d23707730:36890218d7b7cb6e9fe06ced5e77383a:f86a9cf0026b0f579bbed872c061bc07$</string>
            <key>textureFileName</key>
            <string>success_upgrade.pvr.ccz</string>
        </dict>
    </dict>
</plist>
