<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/176/effect/adv_action1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,160}</string>
                <key>spriteSourceSize</key>
                <string>{240,160}</string>
                <key>textureRect</key>
                <string>{{335,1},{240,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/176/effect/col_action1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{332,284}</string>
                <key>spriteSourceSize</key>
                <string>{336,284}</string>
                <key>textureRect</key>
                <string>{{1,1},{332,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>effect.pvr.ccz</string>
            <key>size</key>
            <string>{496,286}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2702a681beaf74c066b3f38b54bca81:4c3d9863a173c43e3594591ad5e37d40:e0fdcd92bbdb8ab6858982d39ba3f2d9$</string>
            <key>textureFileName</key>
            <string>effect.pvr.ccz</string>
        </dict>
    </dict>
</plist>
