<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/58/effect/col_action_acc3/01</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{489,353}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{489,353}}</string>
                <key>sourceSize</key>
                <string>{489,399}</string>
            </dict>
            <key>dragon/58/effect/col_action_acc3/02</key>
            <dict>
                <key>frame</key>
                <string>{{493,798},{489,353}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{489,353}}</string>
                <key>sourceSize</key>
                <string>{489,399}</string>
            </dict>
            <key>dragon/58/effect/col_action_acc3/03</key>
            <dict>
                <key>frame</key>
                <string>{{2,403},{489,393}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{489,393}}</string>
                <key>sourceSize</key>
                <string>{489,399}</string>
            </dict>
            <key>dragon/58/effect/col_action_acc3/04</key>
            <dict>
                <key>frame</key>
                <string>{{493,401},{489,395}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{489,395}}</string>
                <key>sourceSize</key>
                <string>{489,399}</string>
            </dict>
            <key>dragon/58/effect/col_action_acc3/05</key>
            <dict>
                <key>frame</key>
                <string>{{493,2},{489,397}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{489,397}}</string>
                <key>sourceSize</key>
                <string>{489,399}</string>
            </dict>
            <key>dragon/58/effect/col_action_acc3/06</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{489,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{489,399}}</string>
                <key>sourceSize</key>
                <string>{489,399}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>col_action_acc32.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:099a5fd18dd1aabb645530321f82f601:fdd8d1c58c9484a2df809cf393073c32:b3b56ce162f43d7109969b90a56f5feb$</string>
            <key>textureFileName</key>
            <string>col_action_acc32.pvr.ccz</string>
        </dict>
    </dict>
</plist>
