<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,7}</string>
			<key>spriteSize</key>
			<string>{179,196}</string>
			<key>spriteSourceSize</key>
			<string>{235,212}</string>
			<key>textureRect</key>
			<string>{{1,788},{179,196}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,7}</string>
			<key>spriteSize</key>
			<string>{179,196}</string>
			<key>spriteSourceSize</key>
			<string>{235,212}</string>
			<key>textureRect</key>
			<string>{{199,803},{179,196}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,8}</string>
			<key>spriteSize</key>
			<string>{179,196}</string>
			<key>spriteSourceSize</key>
			<string>{235,212}</string>
			<key>textureRect</key>
			<string>{{1,969},{179,196}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,8}</string>
			<key>spriteSize</key>
			<string>{179,196}</string>
			<key>spriteSourceSize</key>
			<string>{235,212}</string>
			<key>textureRect</key>
			<string>{{199,984},{179,196}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,7}</string>
			<key>spriteSize</key>
			<string>{195,198}</string>
			<key>spriteSourceSize</key>
			<string>{235,212}</string>
			<key>textureRect</key>
			<string>{{646,196},{195,198}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,7}</string>
			<key>spriteSize</key>
			<string>{195,198}</string>
			<key>spriteSourceSize</key>
			<string>{235,212}</string>
			<key>textureRect</key>
			<string>{{432,204},{195,198}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,7}</string>
			<key>spriteSize</key>
			<string>{195,198}</string>
			<key>spriteSourceSize</key>
			<string>{235,212}</string>
			<key>textureRect</key>
			<string>{{632,393},{195,198}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,7}</string>
			<key>spriteSize</key>
			<string>{195,198}</string>
			<key>spriteSourceSize</key>
			<string>{235,212}</string>
			<key>textureRect</key>
			<string>{{218,212},{195,198}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,7}</string>
			<key>spriteSize</key>
			<string>{195,198}</string>
			<key>spriteSourceSize</key>
			<string>{235,212}</string>
			<key>textureRect</key>
			<string>{{418,401},{195,198}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,6}</string>
			<key>spriteSize</key>
			<string>{195,198}</string>
			<key>spriteSourceSize</key>
			<string>{235,212}</string>
			<key>textureRect</key>
			<string>{{618,590},{195,198}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,6}</string>
			<key>spriteSize</key>
			<string>{195,198}</string>
			<key>spriteSourceSize</key>
			<string>{235,212}</string>
			<key>textureRect</key>
			<string>{{1,213},{195,198}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,7}</string>
			<key>spriteSize</key>
			<string>{195,198}</string>
			<key>spriteSourceSize</key>
			<string>{235,212}</string>
			<key>textureRect</key>
			<string>{{201,409},{195,198}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,7}</string>
			<key>spriteSize</key>
			<string>{195,198}</string>
			<key>spriteSourceSize</key>
			<string>{235,212}</string>
			<key>textureRect</key>
			<string>{{401,598},{195,198}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,7}</string>
			<key>spriteSize</key>
			<string>{195,198}</string>
			<key>spriteSourceSize</key>
			<string>{235,212}</string>
			<key>textureRect</key>
			<string>{{601,787},{195,198}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,7}</string>
			<key>spriteSize</key>
			<string>{195,198}</string>
			<key>spriteSourceSize</key>
			<string>{235,212}</string>
			<key>textureRect</key>
			<string>{{801,888},{195,198}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>15</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,7}</string>
			<key>spriteSize</key>
			<string>{195,198}</string>
			<key>spriteSourceSize</key>
			<string>{235,212}</string>
			<key>textureRect</key>
			<string>{{1,410},{195,198}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>16</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,7}</string>
			<key>spriteSize</key>
			<string>{195,198}</string>
			<key>spriteSourceSize</key>
			<string>{235,212}</string>
			<key>textureRect</key>
			<string>{{201,606},{195,198}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>17</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,8}</string>
			<key>spriteSize</key>
			<string>{177,196}</string>
			<key>spriteSourceSize</key>
			<string>{235,212}</string>
			<key>textureRect</key>
			<string>{{1,1331},{177,196}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>18</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,8}</string>
			<key>spriteSize</key>
			<string>{177,196}</string>
			<key>spriteSourceSize</key>
			<string>{235,212}</string>
			<key>textureRect</key>
			<string>{{397,1205},{177,196}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>19</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,7}</string>
			<key>spriteSize</key>
			<string>{179,196}</string>
			<key>spriteSourceSize</key>
			<string>{235,212}</string>
			<key>textureRect</key>
			<string>{{1,1150},{179,196}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>20</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,7}</string>
			<key>spriteSize</key>
			<string>{179,196}</string>
			<key>spriteSourceSize</key>
			<string>{235,212}</string>
			<key>textureRect</key>
			<string>{{397,1007},{179,196}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>21</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,7}</string>
			<key>spriteSize</key>
			<string>{179,196}</string>
			<key>spriteSourceSize</key>
			<string>{235,212}</string>
			<key>textureRect</key>
			<string>{{199,1165},{179,196}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>22</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,7}</string>
			<key>spriteSize</key>
			<string>{179,198}</string>
			<key>spriteSourceSize</key>
			<string>{235,212}</string>
			<key>textureRect</key>
			<string>{{1,607},{179,198}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>23</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,9}</string>
			<key>spriteSize</key>
			<string>{155,174}</string>
			<key>spriteSourceSize</key>
			<string>{235,212}</string>
			<key>textureRect</key>
			<string>{{366,1403},{155,174}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>24</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,5}</string>
			<key>spriteSize</key>
			<string>{133,198}</string>
			<key>spriteSourceSize</key>
			<string>{235,212}</string>
			<key>textureRect</key>
			<string>{{542,1415},{133,198}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>25</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,5}</string>
			<key>spriteSize</key>
			<string>{155,202}</string>
			<key>spriteSourceSize</key>
			<string>{235,212}</string>
			<key>textureRect</key>
			<string>{{576,1211},{155,202}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>26</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,3}</string>
			<key>spriteSize</key>
			<string>{145,206}</string>
			<key>spriteSourceSize</key>
			<string>{235,212}</string>
			<key>textureRect</key>
			<string>{{860,1},{145,206}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>27</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,2}</string>
			<key>spriteSize</key>
			<string>{165,208}</string>
			<key>spriteSourceSize</key>
			<string>{235,212}</string>
			<key>textureRect</key>
			<string>{{199,1346},{165,208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>28</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,1}</string>
			<key>spriteSize</key>
			<string>{181,210}</string>
			<key>spriteSourceSize</key>
			<string>{235,212}</string>
			<key>textureRect</key>
			<string>{{401,795},{181,210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>29</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-7,0}</string>
			<key>spriteSize</key>
			<string>{193,212}</string>
			<key>spriteSourceSize</key>
			<string>{235,212}</string>
			<key>textureRect</key>
			<string>{{646,1},{193,212}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>30</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,0}</string>
			<key>spriteSize</key>
			<string>{201,212}</string>
			<key>spriteSourceSize</key>
			<string>{235,212}</string>
			<key>textureRect</key>
			<string>{{432,1},{201,212}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>31</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-7,0}</string>
			<key>spriteSize</key>
			<string>{209,212}</string>
			<key>spriteSourceSize</key>
			<string>{235,212}</string>
			<key>textureRect</key>
			<string>{{218,1},{209,212}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>32</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-7,-1}</string>
			<key>spriteSize</key>
			<string>{215,210}</string>
			<key>spriteSourceSize</key>
			<string>{235,212}</string>
			<key>textureRect</key>
			<string>{{1,1},{215,210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>33</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-7,-24}</string>
			<key>spriteSize</key>
			<string>{219,164}</string>
			<key>spriteSourceSize</key>
			<string>{235,212}</string>
			<key>textureRect</key>
			<string>{{846,209},{219,164}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>34</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,-23}</string>
			<key>spriteSize</key>
			<string>{223,166}</string>
			<key>spriteSourceSize</key>
			<string>{235,212}</string>
			<key>textureRect</key>
			<string>{{752,1085},{223,166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>35</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,-23}</string>
			<key>spriteSize</key>
			<string>{225,166}</string>
			<key>spriteSourceSize</key>
			<string>{235,212}</string>
			<key>textureRect</key>
			<string>{{584,984},{225,166}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>36</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,-22}</string>
			<key>spriteSize</key>
			<string>{227,168}</string>
			<key>spriteSourceSize</key>
			<string>{235,212}</string>
			<key>textureRect</key>
			<string>{{818,659},{227,168}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>37</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,-21}</string>
			<key>spriteSize</key>
			<string>{227,170}</string>
			<key>spriteSourceSize</key>
			<string>{235,212}</string>
			<key>textureRect</key>
			<string>{{832,430},{227,170}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>38</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{13,-34}</string>
			<key>spriteSize</key>
			<string>{171,132}</string>
			<key>spriteSourceSize</key>
			<string>{235,212}</string>
			<key>textureRect</key>
			<string>{{733,1253},{171,132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>39</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{13,-33}</string>
			<key>spriteSize</key>
			<string>{171,130}</string>
			<key>spriteSourceSize</key>
			<string>{235,212}</string>
			<key>textureRect</key>
			<string>{{742,1387},{171,130}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>40</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{30,9}</string>
			<key>spriteSize</key>
			<string>{57,20}</string>
			<key>spriteSourceSize</key>
			<string>{235,212}</string>
			<key>textureRect</key>
			<string>{{988,659},{57,20}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action30.pvr.ccz</string>
		<key>size</key>
		<string>{1011,1559}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:1fa0b2198f6ad90fd9b764e0a1864e08:c4cf430c072a81ecd6fd3c11648950c4:e44ba353004d0fd8b165f5c6960cb7e8$</string>
		<key>textureFileName</key>
		<string>col_action30.pvr.ccz</string>
	</dict>
</dict>
</plist>
