<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/856/advent/body</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,156}</string>
                <key>spriteSourceSize</key>
                <string>{93,156}</string>
                <key>textureRect</key>
                <string>{{336,1},{93,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/856/advent/enturath_advent_spine-att_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-2}</string>
                <key>spriteSize</key>
                <string>{333,295}</string>
                <key>spriteSourceSize</key>
                <string>{345,339}</string>
                <key>textureRect</key>
                <string>{{1,1},{333,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/856/advent/eybr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,15}</string>
                <key>spriteSourceSize</key>
                <string>{20,15}</string>
                <key>textureRect</key>
                <string>{{535,45},{20,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/856/advent/eye1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,11}</string>
                <key>spriteSourceSize</key>
                <string>{19,11}</string>
                <key>textureRect</key>
                <string>{{207,414},{19,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/856/advent/eye2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,9}</string>
                <key>spriteSourceSize</key>
                <string>{14,9}</string>
                <key>textureRect</key>
                <string>{{479,420},{14,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/856/advent/eyeatt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,11}</string>
                <key>spriteSourceSize</key>
                <string>{19,11}</string>
                <key>textureRect</key>
                <string>{{530,309},{19,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/856/advent/head</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,44}</string>
                <key>spriteSourceSize</key>
                <string>{68,44}</string>
                <key>textureRect</key>
                <string>{{320,443},{68,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/856/advent/l_arm1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,75}</string>
                <key>spriteSourceSize</key>
                <string>{66,75}</string>
                <key>textureRect</key>
                <string>{{325,375},{66,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/856/advent/l_armf1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,73}</string>
                <key>spriteSourceSize</key>
                <string>{73,73}</string>
                <key>textureRect</key>
                <string>{{441,431},{73,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/856/advent/l_armf2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,74}</string>
                <key>spriteSourceSize</key>
                <string>{79,74}</string>
                <key>textureRect</key>
                <string>{{325,299},{79,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/856/advent/l_armf3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,84}</string>
                <key>spriteSourceSize</key>
                <string>{63,84}</string>
                <key>textureRect</key>
                <string>{{174,427},{63,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/856/advent/l_eybrf1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,53}</string>
                <key>spriteSourceSize</key>
                <string>{71,53}</string>
                <key>textureRect</key>
                <string>{{479,365},{71,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/856/advent/l_eybrf2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,46}</string>
                <key>spriteSourceSize</key>
                <string>{74,46}</string>
                <key>textureRect</key>
                <string>{{406,299},{74,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/856/advent/l_eybrf3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,56}</string>
                <key>spriteSourceSize</key>
                <string>{72,56}</string>
                <key>textureRect</key>
                <string>{{422,239},{72,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/856/advent/l_leg1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,75}</string>
                <key>spriteSourceSize</key>
                <string>{74,75}</string>
                <key>textureRect</key>
                <string>{{420,162},{74,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/856/advent/l_leg2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,84}</string>
                <key>spriteSourceSize</key>
                <string>{50,84}</string>
                <key>textureRect</key>
                <string>{{336,247},{50,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/856/advent/l_shoulder</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,42}</string>
                <key>spriteSourceSize</key>
                <string>{17,42}</string>
                <key>textureRect</key>
                <string>{{535,1},{17,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/856/advent/l_wing</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,117}</string>
                <key>spriteSourceSize</key>
                <string>{102,117}</string>
                <key>textureRect</key>
                <string>{{431,1},{102,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/856/advent/mouth</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,33}</string>
                <key>spriteSourceSize</key>
                <string>{39,33}</string>
                <key>textureRect</key>
                <string>{{516,420},{39,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/856/advent/neck</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{56,64}</string>
                <key>textureRect</key>
                <string>{{496,243},{56,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/856/advent/r_arm1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,86}</string>
                <key>spriteSourceSize</key>
                <string>{82,86}</string>
                <key>textureRect</key>
                <string>{{336,159},{82,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/856/advent/r_armf1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,82}</string>
                <key>spriteSourceSize</key>
                <string>{84,82}</string>
                <key>textureRect</key>
                <string>{{90,427},{84,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/856/advent/r_armf2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,79}</string>
                <key>spriteSourceSize</key>
                <string>{85,79}</string>
                <key>textureRect</key>
                <string>{{239,414},{85,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/856/advent/r_armf3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,87}</string>
                <key>spriteSourceSize</key>
                <string>{84,87}</string>
                <key>textureRect</key>
                <string>{{1,427},{84,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/856/advent/r_eybrf1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,73}</string>
                <key>spriteSourceSize</key>
                <string>{61,73}</string>
                <key>textureRect</key>
                <string>{{366,443},{61,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/856/advent/r_eybrf2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,75}</string>
                <key>spriteSourceSize</key>
                <string>{54,75}</string>
                <key>textureRect</key>
                <string>{{402,375},{54,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/856/advent/r_eybrf3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,74}</string>
                <key>spriteSourceSize</key>
                <string>{54,74}</string>
                <key>textureRect</key>
                <string>{{454,309},{54,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/856/advent/r_leg1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,79}</string>
                <key>spriteSourceSize</key>
                <string>{59,79}</string>
                <key>textureRect</key>
                <string>{{496,162},{59,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/856/advent/r_leg2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,93}</string>
                <key>spriteSourceSize</key>
                <string>{40,93}</string>
                <key>textureRect</key>
                <string>{{431,120},{40,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/856/advent/r_shoulder</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,38}</string>
                <key>spriteSourceSize</key>
                <string>{41,38}</string>
                <key>textureRect</key>
                <string>{{516,455},{41,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/856/advent/r_wing</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,114}</string>
                <key>spriteSourceSize</key>
                <string>{116,114}</string>
                <key>textureRect</key>
                <string>{{207,298},{116,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/856/advent/tail1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,127}</string>
                <key>spriteSourceSize</key>
                <string>{204,127}</string>
                <key>textureRect</key>
                <string>{{1,298},{204,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>advent.pvr.ccz</string>
            <key>size</key>
            <string>{556,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59d10ee9b46daea9ac641b33474fa8bf:5ed8bf243cbedd4eebe22d3e3f803e01:ffccfea3f11273cd9a437861ecc6c056$</string>
            <key>textureFileName</key>
            <string>advent.pvr.ccz</string>
        </dict>
    </dict>
</plist>
