<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/468/effect/col_action2/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-115,-23}</string>
                <key>spriteSize</key>
                <string>{97,87}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{1,1},{97,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/468/effect/col_action2/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-131,11}</string>
                <key>spriteSize</key>
                <string>{139,153}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{100,1},{139,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/468/effect/col_action2/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-129,15}</string>
                <key>spriteSize</key>
                <string>{143,167}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{255,1},{143,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/468/effect/col_action2/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-120,5}</string>
                <key>spriteSize</key>
                <string>{161,167}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{603,1},{161,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/468/effect/col_action2/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-120,11}</string>
                <key>spriteSize</key>
                <string>{161,177}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{424,1},{161,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/468/effect/col_action2/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-120,5}</string>
                <key>spriteSize</key>
                <string>{161,165}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{772,1},{161,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/468/effect/col_action2/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-108,-1}</string>
                <key>spriteSize</key>
                <string>{185,201}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{1,142},{185,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/468/effect/col_action2/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-103,-2}</string>
                <key>spriteSize</key>
                <string>{195,219}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{204,164},{195,219}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/468/effect/col_action2/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-99,-2}</string>
                <key>spriteSize</key>
                <string>{203,235}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{425,164},{203,235}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/468/effect/col_action2/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-94,0}</string>
                <key>spriteSize</key>
                <string>{213,241}</string>
                <key>spriteSourceSize</key>
                <string>{401,241}</string>
                <key>textureRect</key>
                <string>{{662,164},{213,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action20.pvr.ccz</string>
            <key>size</key>
            <string>{938,378}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d16c6d7a8064459c1d94ce549404d43d:806875971e1cef4bd8dc9651b8331982:98ec4b5f3da3b367b0df440471cccb39$</string>
            <key>textureFileName</key>
            <string>col_action20.pvr.ccz</string>
        </dict>
    </dict>
</plist>
