<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>at1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{904,542}</string>
			<key>spriteSourceSize</key>
			<string>{904,542}</string>
			<key>textureRect</key>
			<string>{{1,1},{904,542}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>at2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{904,542}</string>
			<key>spriteSourceSize</key>
			<string>{904,542}</string>
			<key>textureRect</key>
			<string>{{1,545},{904,542}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>at3</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{904,542}</string>
			<key>spriteSourceSize</key>
			<string>{904,542}</string>
			<key>textureRect</key>
			<string>{{1,1089},{904,542}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>effect.pvr.ccz</string>
		<key>size</key>
		<string>{906,1632}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:474c8d20511b174c4af1acf56f3953c7:41a480709ea327363fc9ad0dd62d7e95:e0fdcd92bbdb8ab6858982d39ba3f2d9$</string>
		<key>textureFileName</key>
		<string>effect.pvr.ccz</string>
	</dict>
</dict>
</plist>
