<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/433/effect/col_action3/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{67,-4}</string>
                <key>spriteSize</key>
                <string>{56,124}</string>
                <key>spriteSourceSize</key>
                <string>{212,190}</string>
                <key>textureRect</key>
                <string>{{187,537},{56,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/433/effect/col_action3/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-7}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{212,190}</string>
                <key>textureRect</key>
                <string>{{715,685},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/433/effect/col_action3/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-7}</string>
                <key>spriteSize</key>
                <string>{162,152}</string>
                <key>spriteSourceSize</key>
                <string>{212,190}</string>
                <key>textureRect</key>
                <string>{{751,175},{162,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/433/effect/col_action3/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-6}</string>
                <key>spriteSize</key>
                <string>{168,154}</string>
                <key>spriteSourceSize</key>
                <string>{212,190}</string>
                <key>textureRect</key>
                <string>{{741,515},{168,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/433/effect/col_action3/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-4}</string>
                <key>spriteSize</key>
                <string>{174,158}</string>
                <key>spriteSourceSize</key>
                <string>{212,190}</string>
                <key>textureRect</key>
                <string>{{569,339},{174,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/433/effect/col_action3/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-4}</string>
                <key>spriteSize</key>
                <string>{178,160}</string>
                <key>spriteSourceSize</key>
                <string>{212,190}</string>
                <key>textureRect</key>
                <string>{{377,515},{178,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/433/effect/col_action3/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{182,166}</string>
                <key>spriteSourceSize</key>
                <string>{212,190}</string>
                <key>textureRect</key>
                <string>{{381,347},{182,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/433/effect/col_action3/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,2}</string>
                <key>spriteSize</key>
                <string>{182,170}</string>
                <key>spriteSourceSize</key>
                <string>{212,190}</string>
                <key>textureRect</key>
                <string>{{575,1},{182,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/433/effect/col_action3/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,2}</string>
                <key>spriteSize</key>
                <string>{182,170}</string>
                <key>spriteSourceSize</key>
                <string>{212,190}</string>
                <key>textureRect</key>
                <string>{{385,175},{182,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/433/effect/col_action3/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{184,174}</string>
                <key>spriteSourceSize</key>
                <string>{212,190}</string>
                <key>textureRect</key>
                <string>{{1,537},{184,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/433/effect/col_action3/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{190,172}</string>
                <key>spriteSourceSize</key>
                <string>{212,190}</string>
                <key>textureRect</key>
                <string>{{1,363},{190,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/433/effect/col_action3/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{188,172}</string>
                <key>spriteSourceSize</key>
                <string>{212,190}</string>
                <key>textureRect</key>
                <string>{{385,1},{188,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/433/effect/col_action3/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{190,180}</string>
                <key>spriteSourceSize</key>
                <string>{212,190}</string>
                <key>textureRect</key>
                <string>{{1,1},{190,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/433/effect/col_action3/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{190,178}</string>
                <key>spriteSourceSize</key>
                <string>{212,190}</string>
                <key>textureRect</key>
                <string>{{1,183},{190,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/433/effect/col_action3/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{190,178}</string>
                <key>spriteSourceSize</key>
                <string>{212,190}</string>
                <key>textureRect</key>
                <string>{{193,1},{190,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/433/effect/col_action3/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-5}</string>
                <key>spriteSize</key>
                <string>{186,174}</string>
                <key>spriteSourceSize</key>
                <string>{212,190}</string>
                <key>textureRect</key>
                <string>{{193,181},{186,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/433/effect/col_action3/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{182,174}</string>
                <key>spriteSourceSize</key>
                <string>{212,190}</string>
                <key>textureRect</key>
                <string>{{193,357},{182,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/433/effect/col_action3/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-4}</string>
                <key>spriteSize</key>
                <string>{176,174}</string>
                <key>spriteSourceSize</key>
                <string>{212,190}</string>
                <key>textureRect</key>
                <string>{{187,677},{176,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/433/effect/col_action3/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-4}</string>
                <key>spriteSize</key>
                <string>{176,174}</string>
                <key>spriteSourceSize</key>
                <string>{212,190}</string>
                <key>textureRect</key>
                <string>{{363,677},{176,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/433/effect/col_action3/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-4}</string>
                <key>spriteSize</key>
                <string>{176,174}</string>
                <key>spriteSourceSize</key>
                <string>{212,190}</string>
                <key>textureRect</key>
                <string>{{539,677},{176,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/433/effect/col_action3/20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-3}</string>
                <key>spriteSize</key>
                <string>{174,164}</string>
                <key>spriteSourceSize</key>
                <string>{212,190}</string>
                <key>textureRect</key>
                <string>{{575,173},{174,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/433/effect/col_action3/21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-2}</string>
                <key>spriteSize</key>
                <string>{174,158}</string>
                <key>spriteSourceSize</key>
                <string>{212,190}</string>
                <key>textureRect</key>
                <string>{{745,339},{174,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/433/effect/col_action3/22</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-2}</string>
                <key>spriteSize</key>
                <string>{174,158}</string>
                <key>spriteSourceSize</key>
                <string>{212,190}</string>
                <key>textureRect</key>
                <string>{{565,499},{174,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/433/effect/col_action3/23</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-8}</string>
                <key>spriteSize</key>
                <string>{172,144}</string>
                <key>spriteSourceSize</key>
                <string>{212,190}</string>
                <key>textureRect</key>
                <string>{{759,1},{172,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/433/effect/col_action3/24</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-8}</string>
                <key>spriteSize</key>
                <string>{168,140}</string>
                <key>spriteSourceSize</key>
                <string>{212,190}</string>
                <key>textureRect</key>
                <string>{{1,713},{168,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action30.pvr.ccz</string>
            <key>size</key>
            <string>{904,854}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e565f3f1d6f6be3c2e2eb25667420f9:78fd513329af660174961dd3d1927fc8:e44ba353004d0fd8b165f5c6960cb7e8$</string>
            <key>textureFileName</key>
            <string>col_action30.pvr.ccz</string>
        </dict>
    </dict>
</plist>
