<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3309/effect/col_action2/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,19}</string>
                <key>spriteSize</key>
                <string>{51,73}</string>
                <key>spriteSourceSize</key>
                <string>{205,199}</string>
                <key>textureRect</key>
                <string>{{1674,1},{51,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3309/effect/col_action2/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,3}</string>
                <key>spriteSize</key>
                <string>{133,121}</string>
                <key>spriteSourceSize</key>
                <string>{205,199}</string>
                <key>textureRect</key>
                <string>{{1258,126},{133,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3309/effect/col_action2/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{139,121}</string>
                <key>spriteSourceSize</key>
                <string>{205,199}</string>
                <key>textureRect</key>
                <string>{{1117,128},{139,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3309/effect/col_action2/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{139,129}</string>
                <key>spriteSourceSize</key>
                <string>{205,199}</string>
                <key>textureRect</key>
                <string>{{941,1},{139,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3309/effect/col_action2/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{125,137}</string>
                <key>spriteSourceSize</key>
                <string>{205,199}</string>
                <key>textureRect</key>
                <string>{{1082,1},{125,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3309/effect/col_action2/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{133,137}</string>
                <key>spriteSourceSize</key>
                <string>{205,199}</string>
                <key>textureRect</key>
                <string>{{806,1},{133,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3309/effect/col_action2/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-3}</string>
                <key>spriteSize</key>
                <string>{123,133}</string>
                <key>spriteSourceSize</key>
                <string>{205,199}</string>
                <key>textureRect</key>
                <string>{{1221,1},{123,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3309/effect/col_action2/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-4}</string>
                <key>spriteSize</key>
                <string>{123,129}</string>
                <key>spriteSourceSize</key>
                <string>{205,199}</string>
                <key>textureRect</key>
                <string>{{1356,1},{123,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3309/effect/col_action2/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-4}</string>
                <key>spriteSize</key>
                <string>{127,125}</string>
                <key>spriteSourceSize</key>
                <string>{205,199}</string>
                <key>textureRect</key>
                <string>{{1522,108},{127,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3309/effect/col_action2/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-6}</string>
                <key>spriteSize</key>
                <string>{127,119}</string>
                <key>spriteSourceSize</key>
                <string>{205,199}</string>
                <key>textureRect</key>
                <string>{{1393,126},{127,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3309/effect/col_action2/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,8}</string>
                <key>spriteSize</key>
                <string>{105,59}</string>
                <key>spriteSourceSize</key>
                <string>{205,199}</string>
                <key>textureRect</key>
                <string>{{1487,1},{105,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3309/effect/col_action2/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,6}</string>
                <key>spriteSize</key>
                <string>{105,57}</string>
                <key>spriteSourceSize</key>
                <string>{205,199}</string>
                <key>textureRect</key>
                <string>{{1649,167},{105,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3309/effect/col_action2/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,3}</string>
                <key>spriteSize</key>
                <string>{105,61}</string>
                <key>spriteSourceSize</key>
                <string>{205,199}</string>
                <key>textureRect</key>
                <string>{{1,188},{105,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3309/effect/col_action2/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,3}</string>
                <key>spriteSize</key>
                <string>{105,63}</string>
                <key>spriteSourceSize</key>
                <string>{205,199}</string>
                <key>textureRect</key>
                <string>{{645,180},{105,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3309/effect/col_action2/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,4}</string>
                <key>spriteSize</key>
                <string>{107,63}</string>
                <key>spriteSourceSize</key>
                <string>{205,199}</string>
                <key>textureRect</key>
                <string>{{427,186},{107,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3309/effect/col_action2/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,5}</string>
                <key>spriteSize</key>
                <string>{107,63}</string>
                <key>spriteSourceSize</key>
                <string>{205,199}</string>
                <key>textureRect</key>
                <string>{{536,180},{107,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3309/effect/col_action2/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,5}</string>
                <key>spriteSize</key>
                <string>{103,61}</string>
                <key>spriteSourceSize</key>
                <string>{205,199}</string>
                <key>textureRect</key>
                <string>{{322,188},{103,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3309/effect/col_action2/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,4}</string>
                <key>spriteSize</key>
                <string>{101,61}</string>
                <key>spriteSourceSize</key>
                <string>{205,199}</string>
                <key>textureRect</key>
                <string>{{1548,1},{101,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3309/effect/col_action2/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,3}</string>
                <key>spriteSize</key>
                <string>{105,61}</string>
                <key>spriteSourceSize</key>
                <string>{205,199}</string>
                <key>textureRect</key>
                <string>{{108,188},{105,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3309/effect/col_action2/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,2}</string>
                <key>spriteSize</key>
                <string>{105,61}</string>
                <key>spriteSourceSize</key>
                <string>{205,199}</string>
                <key>textureRect</key>
                <string>{{215,188},{105,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3309/effect/col_action2/20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{101,61}</string>
                <key>spriteSourceSize</key>
                <string>{205,199}</string>
                <key>textureRect</key>
                <string>{{1611,1},{101,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3309/effect/col_action2/21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,1}</string>
                <key>spriteSize</key>
                <string>{101,63}</string>
                <key>spriteSourceSize</key>
                <string>{205,199}</string>
                <key>textureRect</key>
                <string>{{922,140},{101,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3309/effect/col_action2/22</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,2}</string>
                <key>spriteSize</key>
                <string>{103,63}</string>
                <key>spriteSourceSize</key>
                <string>{205,199}</string>
                <key>textureRect</key>
                <string>{{857,140},{103,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3309/effect/col_action2/23</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,3}</string>
                <key>spriteSize</key>
                <string>{101,63}</string>
                <key>spriteSourceSize</key>
                <string>{205,199}</string>
                <key>textureRect</key>
                <string>{{987,132},{101,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3309/effect/col_action2/24</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,4}</string>
                <key>spriteSize</key>
                <string>{99,63}</string>
                <key>spriteSourceSize</key>
                <string>{205,199}</string>
                <key>textureRect</key>
                <string>{{1052,132},{99,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3309/effect/col_action2/25</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,4}</string>
                <key>spriteSize</key>
                <string>{99,61}</string>
                <key>spriteSourceSize</key>
                <string>{205,199}</string>
                <key>textureRect</key>
                <string>{{1649,104},{99,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3309/effect/col_action2/26</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{103,83}</string>
                <key>spriteSourceSize</key>
                <string>{205,199}</string>
                <key>textureRect</key>
                <string>{{752,156},{103,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3309/effect/col_action2/27</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{153,141}</string>
                <key>spriteSourceSize</key>
                <string>{205,199}</string>
                <key>textureRect</key>
                <string>{{663,1},{153,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3309/effect/col_action2/28</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,6}</string>
                <key>spriteSize</key>
                <string>{177,155}</string>
                <key>spriteSourceSize</key>
                <string>{205,199}</string>
                <key>textureRect</key>
                <string>{{506,1},{177,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3309/effect/col_action2/29</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,8}</string>
                <key>spriteSize</key>
                <string>{183,165}</string>
                <key>spriteSourceSize</key>
                <string>{205,199}</string>
                <key>textureRect</key>
                <string>{{339,1},{183,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3309/effect/col_action2/30</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,9}</string>
                <key>spriteSize</key>
                <string>{185,167}</string>
                <key>spriteSourceSize</key>
                <string>{205,199}</string>
                <key>textureRect</key>
                <string>{{1,1},{185,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3309/effect/col_action2/31</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,9}</string>
                <key>spriteSize</key>
                <string>{185,167}</string>
                <key>spriteSourceSize</key>
                <string>{205,199}</string>
                <key>textureRect</key>
                <string>{{170,1},{185,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action20.pvr.ccz</string>
            <key>size</key>
            <string>{1755,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fb0e3332cc237867b046920cc3a2fbf:62e7479b5d624f317ba0112bcf723af2:98ec4b5f3da3b367b0df440471cccb39$</string>
            <key>textureFileName</key>
            <string>col_action20.pvr.ccz</string>
        </dict>
    </dict>
</plist>
