<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3296/effect/col_action1/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,136}</string>
                <key>spriteSize</key>
                <string>{116,105}</string>
                <key>spriteSourceSize</key>
                <string>{484,399}</string>
                <key>textureRect</key>
                <string>{{877,402},{116,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3296/effect/col_action1/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,133}</string>
                <key>spriteSize</key>
                <string>{116,105}</string>
                <key>spriteSourceSize</key>
                <string>{484,399}</string>
                <key>textureRect</key>
                <string>{{1,708},{116,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3296/effect/col_action1/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,123}</string>
                <key>spriteSize</key>
                <string>{116,105}</string>
                <key>spriteSourceSize</key>
                <string>{484,399}</string>
                <key>textureRect</key>
                <string>{{1,826},{116,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3296/effect/col_action1/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,110}</string>
                <key>spriteSize</key>
                <string>{116,105}</string>
                <key>spriteSourceSize</key>
                <string>{484,399}</string>
                <key>textureRect</key>
                <string>{{108,803},{116,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3296/effect/col_action1/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,91}</string>
                <key>spriteSize</key>
                <string>{116,105}</string>
                <key>spriteSourceSize</key>
                <string>{484,399}</string>
                <key>textureRect</key>
                <string>{{215,803},{116,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3296/effect/col_action1/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,62}</string>
                <key>spriteSize</key>
                <string>{116,105}</string>
                <key>spriteSourceSize</key>
                <string>{484,399}</string>
                <key>textureRect</key>
                <string>{{322,803},{116,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3296/effect/col_action1/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,17}</string>
                <key>spriteSize</key>
                <string>{116,107}</string>
                <key>spriteSourceSize</key>
                <string>{484,399}</string>
                <key>textureRect</key>
                <string>{{877,293},{116,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3296/effect/col_action1/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-74}</string>
                <key>spriteSize</key>
                <string>{104,109}</string>
                <key>spriteSourceSize</key>
                <string>{484,399}</string>
                <key>textureRect</key>
                <string>{{886,787},{104,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3296/effect/col_action1/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-98}</string>
                <key>spriteSize</key>
                <string>{224,77}</string>
                <key>spriteSourceSize</key>
                <string>{484,399}</string>
                <key>textureRect</key>
                <string>{{425,951},{224,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3296/effect/col_action1/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-90}</string>
                <key>spriteSize</key>
                <string>{276,125}</string>
                <key>spriteSourceSize</key>
                <string>{484,399}</string>
                <key>textureRect</key>
                <string>{{875,509},{276,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3296/effect/col_action1/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-71}</string>
                <key>spriteSize</key>
                <string>{380,221}</string>
                <key>spriteSourceSize</key>
                <string>{484,399}</string>
                <key>textureRect</key>
                <string>{{504,951},{380,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3296/effect/col_action1/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-64}</string>
                <key>spriteSize</key>
                <string>{422,237}</string>
                <key>spriteSourceSize</key>
                <string>{484,399}</string>
                <key>textureRect</key>
                <string>{{1,951},{422,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3296/effect/col_action1/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-63}</string>
                <key>spriteSize</key>
                <string>{430,243}</string>
                <key>spriteSourceSize</key>
                <string>{484,399}</string>
                <key>textureRect</key>
                <string>{{435,706},{430,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3296/effect/col_action1/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-63}</string>
                <key>spriteSize</key>
                <string>{436,245}</string>
                <key>spriteSourceSize</key>
                <string>{484,399}</string>
                <key>textureRect</key>
                <string>{{1,234},{436,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3296/effect/col_action1/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-61}</string>
                <key>spriteSize</key>
                <string>{442,247}</string>
                <key>spriteSourceSize</key>
                <string>{484,399}</string>
                <key>textureRect</key>
                <string>{{449,1},{442,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3296/effect/col_action1/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-50}</string>
                <key>spriteSize</key>
                <string>{446,231}</string>
                <key>spriteSourceSize</key>
                <string>{484,399}</string>
                <key>textureRect</key>
                <string>{{1,1},{446,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3296/effect/col_action1/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-46}</string>
                <key>spriteSize</key>
                <string>{432,225}</string>
                <key>spriteSourceSize</key>
                <string>{484,399}</string>
                <key>textureRect</key>
                <string>{{1,481},{432,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3296/effect/col_action1/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-45}</string>
                <key>spriteSize</key>
                <string>{434,225}</string>
                <key>spriteSourceSize</key>
                <string>{484,399}</string>
                <key>textureRect</key>
                <string>{{439,479},{434,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3296/effect/col_action1/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-45}</string>
                <key>spriteSize</key>
                <string>{436,227}</string>
                <key>spriteSourceSize</key>
                <string>{484,399}</string>
                <key>textureRect</key>
                <string>{{439,250},{436,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3296/effect/col_action1/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62,-91}</string>
                <key>spriteSize</key>
                <string>{292,93}</string>
                <key>spriteSourceSize</key>
                <string>{484,399}</string>
                <key>textureRect</key>
                <string>{{108,708},{292,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3296/effect/col_action1/20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62,-88}</string>
                <key>spriteSize</key>
                <string>{292,99}</string>
                <key>spriteSourceSize</key>
                <string>{484,399}</string>
                <key>textureRect</key>
                <string>{{886,893},{292,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3296/effect/col_action1/21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62,-84}</string>
                <key>spriteSize</key>
                <string>{290,107}</string>
                <key>spriteSourceSize</key>
                <string>{484,399}</string>
                <key>textureRect</key>
                <string>{{893,1},{290,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action10.pvr.ccz</string>
            <key>size</key>
            <string>{1001,1189}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ba1390da2b6b74e1ae72c7068b3c5cf:4273c07d9c3850811b0639c40f7711ea:fd6dfe3ee94267230ed6425290acf6b5$</string>
            <key>textureFileName</key>
            <string>col_action10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
