<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3296/effect/col_action2/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-56}</string>
                <key>spriteSize</key>
                <string>{66,120}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{383,1349},{66,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3296/effect/col_action2/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-53}</string>
                <key>spriteSize</key>
                <string>{68,116}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{265,1349},{68,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3296/effect/col_action2/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-42}</string>
                <key>spriteSize</key>
                <string>{202,114}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{1823,437},{202,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3296/effect/col_action2/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-34}</string>
                <key>spriteSize</key>
                <string>{224,96}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{583,1615},{224,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3296/effect/col_action2/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-29}</string>
                <key>spriteSize</key>
                <string>{236,114}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{589,1239},{236,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3296/effect/col_action2/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-26}</string>
                <key>spriteSize</key>
                <string>{244,116}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{1379,307},{244,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3296/effect/col_action2/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-27}</string>
                <key>spriteSize</key>
                <string>{248,116}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{1889,857},{248,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3296/effect/col_action2/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-27}</string>
                <key>spriteSize</key>
                <string>{252,116}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{1893,553},{252,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3296/effect/col_action2/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-28}</string>
                <key>spriteSize</key>
                <string>{254,114}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{713,1355},{254,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3296/effect/col_action2/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-35}</string>
                <key>spriteSize</key>
                <string>{258,128}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{583,1355},{258,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3296/effect/col_action2/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-38}</string>
                <key>spriteSize</key>
                <string>{264,134}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{1753,857},{264,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3296/effect/col_action2/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-40}</string>
                <key>spriteSize</key>
                <string>{296,138}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{1753,559},{296,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3296/effect/col_action2/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-37}</string>
                <key>spriteSize</key>
                <string>{322,132}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{265,1215},{322,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3296/effect/col_action2/20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{434,154}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{1823,1},{434,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3296/effect/col_action2/22</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-10}</string>
                <key>spriteSize</key>
                <string>{624,244}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{753,307},{624,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3296/effect/col_action2/23</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{750,262}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{1,667},{750,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3296/effect/col_action2/26</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{750,304}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{753,1},{750,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3296/effect/col_action2/29</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{750,328}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{1,1},{750,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3296/effect/col_action2/31</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-12}</string>
                <key>spriteSize</key>
                <string>{740,334}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{1,331},{740,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3296/effect/col_action2/33</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{546,336}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{265,667},{546,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3296/effect/col_action2/35</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{550,314}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{829,1117},{550,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3296/effect/col_action2/36</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{556,316}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{1505,1},{556,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3296/effect/col_action2/38</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{562,316}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{829,553},{562,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3296/effect/col_action2/39</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{562,308}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{1439,1125},{562,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3296/effect/col_action2/40</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{564,310}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{1441,559},{564,310}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3296/effect/col_action2/41</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,22}</string>
                <key>spriteSize</key>
                <string>{568,292}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{1147,553},{568,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3296/effect/col_action2/42</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{570,292}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{1145,1123},{570,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3296/effect/col_action2/43</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,23}</string>
                <key>spriteSize</key>
                <string>{572,292}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{1749,1125},{572,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3296/effect/col_action2/48</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,26}</string>
                <key>spriteSize</key>
                <string>{580,294}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{1,1419},{580,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3296/effect/col_action2/52</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{570,224}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{603,667},{570,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action20.pvr.ccz</string>
            <key>size</key>
            <string>{2042,1714}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e26b4f42984048313c47a318a0123e7a:afce7f5c1fb6d1cf19a7023d75698a84:afeb069948a2d5b73bc0123ef0ed95e9$</string>
            <key>textureFileName</key>
            <string>col_action20.pvr.ccz</string>
        </dict>
    </dict>
</plist>
