<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3020/effect/col_action2/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,-87}</string>
                <key>spriteSize</key>
                <string>{228,93}</string>
                <key>spriteSourceSize</key>
                <string>{418,327}</string>
                <key>textureRect</key>
                <string>{{1,898},{228,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3020/effect/col_action2/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,-86}</string>
                <key>spriteSize</key>
                <string>{230,95}</string>
                <key>spriteSourceSize</key>
                <string>{418,327}</string>
                <key>textureRect</key>
                <string>{{725,313},{230,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3020/effect/col_action2/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,11}</string>
                <key>spriteSize</key>
                <string>{310,305}</string>
                <key>spriteSourceSize</key>
                <string>{418,327}</string>
                <key>textureRect</key>
                <string>{{327,314},{310,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3020/effect/col_action2/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,11}</string>
                <key>spriteSize</key>
                <string>{310,305}</string>
                <key>spriteSourceSize</key>
                <string>{418,327}</string>
                <key>textureRect</key>
                <string>{{1,591},{310,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3020/effect/col_action2/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,11}</string>
                <key>spriteSize</key>
                <string>{310,305}</string>
                <key>spriteSourceSize</key>
                <string>{418,327}</string>
                <key>textureRect</key>
                <string>{{639,410},{310,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3020/effect/col_action2/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,5}</string>
                <key>spriteSize</key>
                <string>{324,317}</string>
                <key>spriteSourceSize</key>
                <string>{418,327}</string>
                <key>textureRect</key>
                <string>{{1,272},{324,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3020/effect/col_action2/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,8}</string>
                <key>spriteSize</key>
                <string>{358,311}</string>
                <key>spriteSourceSize</key>
                <string>{418,327}</string>
                <key>textureRect</key>
                <string>{{365,1},{358,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3020/effect/col_action2/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-18}</string>
                <key>spriteSize</key>
                <string>{362,269}</string>
                <key>spriteSourceSize</key>
                <string>{418,327}</string>
                <key>textureRect</key>
                <string>{{1,1},{362,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3020/effect/col_action2/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-21}</string>
                <key>spriteSize</key>
                <string>{310,239}</string>
                <key>spriteSourceSize</key>
                <string>{418,327}</string>
                <key>textureRect</key>
                <string>{{725,1},{310,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3020/effect/col_action2/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-39}</string>
                <key>spriteSize</key>
                <string>{310,203}</string>
                <key>spriteSourceSize</key>
                <string>{418,327}</string>
                <key>textureRect</key>
                <string>{{313,621},{310,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3020/effect/col_action2/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-56}</string>
                <key>spriteSize</key>
                <string>{310,169}</string>
                <key>spriteSourceSize</key>
                <string>{418,327}</string>
                <key>textureRect</key>
                <string>{{313,826},{310,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3020/effect/col_action2/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-56}</string>
                <key>spriteSize</key>
                <string>{310,169}</string>
                <key>spriteSourceSize</key>
                <string>{418,327}</string>
                <key>textureRect</key>
                <string>{{625,717},{310,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action20.pvr.ccz</string>
            <key>size</key>
            <string>{965,996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e53ebca0745bd1a6f99e977179c46a31:20ce1c4d79ef6e9fa5220f70b7dc4768:98ec4b5f3da3b367b0df440471cccb39$</string>
            <key>textureFileName</key>
            <string>col_action20.pvr.ccz</string>
        </dict>
    </dict>
</plist>
