<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3020/effect/col_action1/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,99}</string>
                <key>spriteSize</key>
                <string>{155,129}</string>
                <key>spriteSourceSize</key>
                <string>{409,327}</string>
                <key>textureRect</key>
                <string>{{736,455},{155,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3020/effect/col_action1/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,33}</string>
                <key>spriteSize</key>
                <string>{215,261}</string>
                <key>spriteSourceSize</key>
                <string>{409,327}</string>
                <key>textureRect</key>
                <string>{{603,238},{215,261}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3020/effect/col_action1/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,14}</string>
                <key>spriteSize</key>
                <string>{281,299}</string>
                <key>spriteSourceSize</key>
                <string>{409,327}</string>
                <key>textureRect</key>
                <string>{{320,338},{281,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3020/effect/col_action1/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{297,317}</string>
                <key>spriteSourceSize</key>
                <string>{409,327}</string>
                <key>textureRect</key>
                <string>{{1,350},{297,317}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3020/effect/col_action1/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,8}</string>
                <key>spriteSize</key>
                <string>{347,311}</string>
                <key>spriteSourceSize</key>
                <string>{409,327}</string>
                <key>textureRect</key>
                <string>{{1,1},{347,311}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3020/effect/col_action1/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-18}</string>
                <key>spriteSize</key>
                <string>{335,269}</string>
                <key>spriteSourceSize</key>
                <string>{409,327}</string>
                <key>textureRect</key>
                <string>{{314,1},{335,269}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3020/effect/col_action1/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-3}</string>
                <key>spriteSize</key>
                <string>{235,255}</string>
                <key>spriteSourceSize</key>
                <string>{409,327}</string>
                <key>textureRect</key>
                <string>{{585,1},{235,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3020/effect/col_action1/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-17}</string>
                <key>spriteSize</key>
                <string>{131,159}</string>
                <key>spriteSourceSize</key>
                <string>{409,327}</string>
                <key>textureRect</key>
                <string>{{603,455},{131,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action10.pvr.ccz</string>
            <key>size</key>
            <string>{866,648}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc51f0c2c96e72a4c9598eb290f8d1df:b15c809abef5cd202f52c7d34d191909:fd6dfe3ee94267230ed6425290acf6b5$</string>
            <key>textureFileName</key>
            <string>col_action10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
