<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>frame</key>
			<string>{{2,1059},{293,105}}</string>
			<key>offset</key>
			<string>{1,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,44},{293,105}}</string>
			<key>sourceSize</key>
			<string>{295,149}</string>
		</dict>
		<key>01</key>
		<dict>
			<key>frame</key>
			<string>{{893,887},{293,105}}</string>
			<key>offset</key>
			<string>{1,-22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,44},{293,105}}</string>
			<key>sourceSize</key>
			<string>{295,149}</string>
		</dict>
		<key>02</key>
		<dict>
			<key>frame</key>
			<string>{{893,592},{293,105}}</string>
			<key>offset</key>
			<string>{1,-22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,44},{293,105}}</string>
			<key>sourceSize</key>
			<string>{295,149}</string>
		</dict>
		<key>03</key>
		<dict>
			<key>frame</key>
			<string>{{893,297},{293,105}}</string>
			<key>offset</key>
			<string>{1,-22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,44},{293,105}}</string>
			<key>sourceSize</key>
			<string>{295,149}</string>
		</dict>
		<key>04</key>
		<dict>
			<key>frame</key>
			<string>{{591,1293},{293,103}}</string>
			<key>offset</key>
			<string>{1,-23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,46},{293,103}}</string>
			<key>sourceSize</key>
			<string>{295,149}</string>
		</dict>
		<key>05</key>
		<dict>
			<key>frame</key>
			<string>{{591,1188},{293,103}}</string>
			<key>offset</key>
			<string>{1,-23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,46},{293,103}}</string>
			<key>sourceSize</key>
			<string>{295,149}</string>
		</dict>
		<key>06</key>
		<dict>
			<key>frame</key>
			<string>{{297,1059},{293,103}}</string>
			<key>offset</key>
			<string>{1,-23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,46},{293,103}}</string>
			<key>sourceSize</key>
			<string>{295,149}</string>
		</dict>
		<key>07</key>
		<dict>
			<key>frame</key>
			<string>{{893,2},{293,105}}</string>
			<key>offset</key>
			<string>{1,-22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,44},{293,105}}</string>
			<key>sourceSize</key>
			<string>{295,149}</string>
		</dict>
		<key>08</key>
		<dict>
			<key>frame</key>
			<string>{{2,1927},{291,105}}</string>
			<key>offset</key>
			<string>{2,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,44},{291,105}}</string>
			<key>sourceSize</key>
			<string>{295,149}</string>
		</dict>
		<key>09</key>
		<dict>
			<key>frame</key>
			<string>{{298,1164},{291,149}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{291,149}}</string>
			<key>sourceSize</key>
			<string>{295,149}</string>
		</dict>
		<key>10</key>
		<dict>
			<key>frame</key>
			<string>{{299,908},{291,149}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{291,149}}</string>
			<key>sourceSize</key>
			<string>{295,149}</string>
		</dict>
		<key>11</key>
		<dict>
			<key>frame</key>
			<string>{{2,1776},{291,149}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{291,149}}</string>
			<key>sourceSize</key>
			<string>{295,149}</string>
		</dict>
		<key>12</key>
		<dict>
			<key>frame</key>
			<string>{{2,1479},{295,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{295,149}}</string>
			<key>sourceSize</key>
			<string>{295,149}</string>
		</dict>
		<key>13</key>
		<dict>
			<key>frame</key>
			<string>{{2,908},{295,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{295,149}}</string>
			<key>sourceSize</key>
			<string>{295,149}</string>
		</dict>
		<key>14</key>
		<dict>
			<key>frame</key>
			<string>{{2,1182},{295,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{295,149}}</string>
			<key>sourceSize</key>
			<string>{295,149}</string>
		</dict>
		<key>15</key>
		<dict>
			<key>frame</key>
			<string>{{596,757},{295,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{295,149}}</string>
			<key>sourceSize</key>
			<string>{295,149}</string>
		</dict>
		<key>16</key>
		<dict>
			<key>frame</key>
			<string>{{299,757},{295,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{295,149}}</string>
			<key>sourceSize</key>
			<string>{295,149}</string>
		</dict>
		<key>17</key>
		<dict>
			<key>frame</key>
			<string>{{2,757},{295,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{295,149}}</string>
			<key>sourceSize</key>
			<string>{295,149}</string>
		</dict>
		<key>18</key>
		<dict>
			<key>frame</key>
			<string>{{596,606},{295,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{295,149}}</string>
			<key>sourceSize</key>
			<string>{295,149}</string>
		</dict>
		<key>19</key>
		<dict>
			<key>frame</key>
			<string>{{299,606},{295,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{295,149}}</string>
			<key>sourceSize</key>
			<string>{295,149}</string>
		</dict>
		<key>20</key>
		<dict>
			<key>frame</key>
			<string>{{2,606},{295,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{295,149}}</string>
			<key>sourceSize</key>
			<string>{295,149}</string>
		</dict>
		<key>21</key>
		<dict>
			<key>frame</key>
			<string>{{596,455},{295,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{295,149}}</string>
			<key>sourceSize</key>
			<string>{295,149}</string>
		</dict>
		<key>22</key>
		<dict>
			<key>frame</key>
			<string>{{299,455},{295,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{295,149}}</string>
			<key>sourceSize</key>
			<string>{295,149}</string>
		</dict>
		<key>23</key>
		<dict>
			<key>frame</key>
			<string>{{2,455},{295,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{295,149}}</string>
			<key>sourceSize</key>
			<string>{295,149}</string>
		</dict>
		<key>24</key>
		<dict>
			<key>frame</key>
			<string>{{596,304},{295,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{295,149}}</string>
			<key>sourceSize</key>
			<string>{295,149}</string>
		</dict>
		<key>25</key>
		<dict>
			<key>frame</key>
			<string>{{299,304},{295,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{295,149}}</string>
			<key>sourceSize</key>
			<string>{295,149}</string>
		</dict>
		<key>26</key>
		<dict>
			<key>frame</key>
			<string>{{2,304},{295,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{295,149}}</string>
			<key>sourceSize</key>
			<string>{295,149}</string>
		</dict>
		<key>27</key>
		<dict>
			<key>frame</key>
			<string>{{596,153},{295,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{295,149}}</string>
			<key>sourceSize</key>
			<string>{295,149}</string>
		</dict>
		<key>28</key>
		<dict>
			<key>frame</key>
			<string>{{299,153},{295,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{295,149}}</string>
			<key>sourceSize</key>
			<string>{295,149}</string>
		</dict>
		<key>29</key>
		<dict>
			<key>frame</key>
			<string>{{2,153},{295,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{295,149}}</string>
			<key>sourceSize</key>
			<string>{295,149}</string>
		</dict>
		<key>30</key>
		<dict>
			<key>frame</key>
			<string>{{596,2},{295,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{295,149}}</string>
			<key>sourceSize</key>
			<string>{295,149}</string>
		</dict>
		<key>31</key>
		<dict>
			<key>frame</key>
			<string>{{299,2},{295,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{295,149}}</string>
			<key>sourceSize</key>
			<string>{295,149}</string>
		</dict>
		<key>32</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{295,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{295,149}}</string>
			<key>sourceSize</key>
			<string>{295,149}</string>
		</dict>
		<key>33</key>
		<dict>
			<key>frame</key>
			<string>{{298,1452},{291,133}}</string>
			<key>offset</key>
			<string>{2,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,16},{291,133}}</string>
			<key>sourceSize</key>
			<string>{295,149}</string>
		</dict>
		<key>34</key>
		<dict>
			<key>frame</key>
			<string>{{591,1398},{291,135}}</string>
			<key>offset</key>
			<string>{2,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,14},{291,135}}</string>
			<key>sourceSize</key>
			<string>{295,149}</string>
		</dict>
		<key>35</key>
		<dict>
			<key>frame</key>
			<string>{{298,1315},{291,135}}</string>
			<key>offset</key>
			<string>{2,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,14},{291,135}}</string>
			<key>sourceSize</key>
			<string>{295,149}</string>
		</dict>
		<key>36</key>
		<dict>
			<key>frame</key>
			<string>{{887,1182},{291,135}}</string>
			<key>offset</key>
			<string>{2,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,14},{291,135}}</string>
			<key>sourceSize</key>
			<string>{295,149}</string>
		</dict>
		<key>37</key>
		<dict>
			<key>frame</key>
			<string>{{592,1049},{293,137}}</string>
			<key>offset</key>
			<string>{1,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,12},{293,137}}</string>
			<key>sourceSize</key>
			<string>{295,149}</string>
		</dict>
		<key>38</key>
		<dict>
			<key>frame</key>
			<string>{{592,908},{293,139}}</string>
			<key>offset</key>
			<string>{1,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,10},{293,139}}</string>
			<key>sourceSize</key>
			<string>{295,149}</string>
		</dict>
		<key>39</key>
		<dict>
			<key>frame</key>
			<string>{{153,1477},{293,141}}</string>
			<key>offset</key>
			<string>{1,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,8},{293,141}}</string>
			<key>sourceSize</key>
			<string>{295,149}</string>
		</dict>
		<key>40</key>
		<dict>
			<key>frame</key>
			<string>{{153,1182},{293,143}}</string>
			<key>offset</key>
			<string>{1,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,6},{293,143}}</string>
			<key>sourceSize</key>
			<string>{295,149}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>back.pvr.ccz</string>
		<key>size</key>
		<string>{1024,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:35fc6db5fc010d56ef1392e5f8f73461:1e17b7a4c75a64cd90abf53779b5ecd0:43f3ab1da9ce7ff12a953bd181b43222$</string>
		<key>textureFileName</key>
		<string>back.pvr.ccz</string>
	</dict>
</dict>
</plist>
