<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>frame</key>
			<string>{{1746,488},{285,237}}</string>
			<key>offset</key>
			<string>{0,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,22},{285,237}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>01</key>
		<dict>
			<key>frame</key>
			<string>{{1756,245},{289,241}}</string>
			<key>offset</key>
			<string>{-2,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,18},{289,241}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>02</key>
		<dict>
			<key>frame</key>
			<string>{{295,2},{291,243}}</string>
			<key>offset</key>
			<string>{-3,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,16},{291,243}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>03</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{291,243}}</string>
			<key>offset</key>
			<string>{-3,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,16},{291,243}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>04</key>
		<dict>
			<key>frame</key>
			<string>{{2,492},{287,241}}</string>
			<key>offset</key>
			<string>{-1,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,18},{287,241}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>05</key>
		<dict>
			<key>frame</key>
			<string>{{291,490},{287,241}}</string>
			<key>offset</key>
			<string>{-1,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,18},{287,241}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>06</key>
		<dict>
			<key>frame</key>
			<string>{{580,488},{287,241}}</string>
			<key>offset</key>
			<string>{-1,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,18},{287,241}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>07</key>
		<dict>
			<key>frame</key>
			<string>{{1465,245},{289,241}}</string>
			<key>offset</key>
			<string>{-2,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,18},{289,241}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>08</key>
		<dict>
			<key>frame</key>
			<string>{{588,243},{289,243}}</string>
			<key>offset</key>
			<string>{-2,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,16},{289,243}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>09</key>
		<dict>
			<key>frame</key>
			<string>{{2,247},{287,243}}</string>
			<key>offset</key>
			<string>{-1,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,16},{287,243}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>10</key>
		<dict>
			<key>frame</key>
			<string>{{1443,968},{281,235}}</string>
			<key>offset</key>
			<string>{2,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,24},{281,235}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>11</key>
		<dict>
			<key>frame</key>
			<string>{{1152,970},{279,239}}</string>
			<key>offset</key>
			<string>{3,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,20},{279,239}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>12</key>
		<dict>
			<key>frame</key>
			<string>{{867,962},{283,233}}</string>
			<key>offset</key>
			<string>{1,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,26},{283,233}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>13</key>
		<dict>
			<key>frame</key>
			<string>{{1170,488},{287,239}}</string>
			<key>offset</key>
			<string>{-1,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,20},{287,239}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>14</key>
		<dict>
			<key>frame</key>
			<string>{{1756,2},{289,241}}</string>
			<key>offset</key>
			<string>{-2,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,18},{289,241}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>15</key>
		<dict>
			<key>frame</key>
			<string>{{1465,2},{289,241}}</string>
			<key>offset</key>
			<string>{-2,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,18},{289,241}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>16</key>
		<dict>
			<key>frame</key>
			<string>{{881,241},{289,243}}</string>
			<key>offset</key>
			<string>{-2,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,16},{289,243}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>17</key>
		<dict>
			<key>frame</key>
			<string>{{1174,2},{289,243}}</string>
			<key>offset</key>
			<string>{-2,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,16},{289,243}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>18</key>
		<dict>
			<key>frame</key>
			<string>{{291,247},{287,241}}</string>
			<key>offset</key>
			<string>{-1,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,18},{287,241}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>19</key>
		<dict>
			<key>frame</key>
			<string>{{1459,488},{285,237}}</string>
			<key>offset</key>
			<string>{0,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,22},{285,237}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>20</key>
		<dict>
			<key>frame</key>
			<string>{{1158,729},{283,239}}</string>
			<key>offset</key>
			<string>{1,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,20},{283,239}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>21</key>
		<dict>
			<key>frame</key>
			<string>{{1744,960},{281,239}}</string>
			<key>offset</key>
			<string>{2,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,20},{281,239}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>22</key>
		<dict>
			<key>frame</key>
			<string>{{1459,727},{283,239}}</string>
			<key>offset</key>
			<string>{1,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,20},{283,239}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>23</key>
		<dict>
			<key>frame</key>
			<string>{{2,735},{285,237}}</string>
			<key>offset</key>
			<string>{0,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,22},{285,237}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>24</key>
		<dict>
			<key>frame</key>
			<string>{{291,733},{285,237}}</string>
			<key>offset</key>
			<string>{0,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,22},{285,237}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>25</key>
		<dict>
			<key>frame</key>
			<string>{{869,727},{287,233}}</string>
			<key>offset</key>
			<string>{-1,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,26},{287,233}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>26</key>
		<dict>
			<key>frame</key>
			<string>{{879,486},{289,239}}</string>
			<key>offset</key>
			<string>{-2,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,20},{289,239}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>27</key>
		<dict>
			<key>frame</key>
			<string>{{588,2},{291,239}}</string>
			<key>offset</key>
			<string>{-3,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,20},{291,239}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>28</key>
		<dict>
			<key>frame</key>
			<string>{{881,2},{291,237}}</string>
			<key>offset</key>
			<string>{-3,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,22},{291,237}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>29</key>
		<dict>
			<key>frame</key>
			<string>{{1172,247},{289,239}}</string>
			<key>offset</key>
			<string>{-2,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,20},{289,239}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>30</key>
		<dict>
			<key>frame</key>
			<string>{{580,731},{285,239}}</string>
			<key>offset</key>
			<string>{0,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,20},{285,239}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>31</key>
		<dict>
			<key>frame</key>
			<string>{{1744,727},{283,231}}</string>
			<key>offset</key>
			<string>{1,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,28},{283,231}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>back.pvr.ccz</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:0b421fe36a0d10e086d413ae3bc0fe5f:01b652db4f0b68344cfb993d649c00f2:43f3ab1da9ce7ff12a953bd181b43222$</string>
		<key>textureFileName</key>
		<string>back.pvr.ccz</string>
	</dict>
</dict>
</plist>
