<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>frame</key>
			<string>{{205,630},{201,165}}</string>
			<key>offset</key>
			<string>{-2,24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{60,23},{201,165}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>01</key>
		<dict>
			<key>frame</key>
			<string>{{515,471},{201,173}}</string>
			<key>offset</key>
			<string>{-2,29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{60,14},{201,173}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>02</key>
		<dict>
			<key>frame</key>
			<string>{{2,453},{201,181}}</string>
			<key>offset</key>
			<string>{-4,27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{58,12},{201,181}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>03</key>
		<dict>
			<key>frame</key>
			<string>{{375,797},{171,167}}</string>
			<key>offset</key>
			<string>{-20,28}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{57,18},{171,167}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>04</key>
		<dict>
			<key>frame</key>
			<string>{{538,149},{1,1}}</string>
			<key>offset</key>
			<string>{-162,129}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>05</key>
		<dict>
			<key>frame</key>
			<string>{{434,624},{95,77}}</string>
			<key>offset</key>
			<string>{-22,75}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{93,16},{95,77}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>06</key>
		<dict>
			<key>frame</key>
			<string>{{538,149},{1,1}}</string>
			<key>offset</key>
			<string>{-162,129}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>07</key>
		<dict>
			<key>frame</key>
			<string>{{789,171},{65,51}}</string>
			<key>offset</key>
			<string>{-18,-79}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{112,183},{65,51}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>08</key>
		<dict>
			<key>frame</key>
			<string>{{375,970},{115,51}}</string>
			<key>offset</key>
			<string>{8,-79}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{113,183},{115,51}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>09</key>
		<dict>
			<key>frame</key>
			<string>{{718,471},{163,51}}</string>
			<key>offset</key>
			<string>{29,-79}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{110,183},{163,51}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>10</key>
		<dict>
			<key>frame</key>
			<string>{{434,447},{175,79}}</string>
			<key>offset</key>
			<string>{31,-65}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{106,155},{175,79}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>11</key>
		<dict>
			<key>frame</key>
			<string>{{280,797},{179,93}}</string>
			<key>offset</key>
			<string>{30,-58}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{103,141},{179,93}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>12</key>
		<dict>
			<key>frame</key>
			<string>{{169,809},{187,109}}</string>
			<key>offset</key>
			<string>{26,-50}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{95,125},{187,109}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>13</key>
		<dict>
			<key>frame</key>
			<string>{{2,314},{225,137}}</string>
			<key>offset</key>
			<string>{10,-36}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{60,97},{225,137}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>14</key>
		<dict>
			<key>frame</key>
			<string>{{773,444},{231,139}}</string>
			<key>offset</key>
			<string>{9,-35}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,95},{231,139}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>15</key>
		<dict>
			<key>frame</key>
			<string>{{538,149},{1,1}}</string>
			<key>offset</key>
			<string>{-162,129}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>16</key>
		<dict>
			<key>frame</key>
			<string>{{526,322},{245,147}}</string>
			<key>offset</key>
			<string>{-2,-31}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,87},{245,147}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>17</key>
		<dict>
			<key>frame</key>
			<string>{{277,298},{247,147}}</string>
			<key>offset</key>
			<string>{-5,-31}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,87},{247,147}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>18</key>
		<dict>
			<key>frame</key>
			<string>{{538,171},{249,149}}</string>
			<key>offset</key>
			<string>{-7,-30}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,85},{249,149}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>19</key>
		<dict>
			<key>frame</key>
			<string>{{277,149},{259,147}}</string>
			<key>offset</key>
			<string>{-3,-31}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,87},{259,147}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>20</key>
		<dict>
			<key>frame</key>
			<string>{{538,149},{1,1}}</string>
			<key>offset</key>
			<string>{-162,129}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>21</key>
		<dict>
			<key>frame</key>
			<string>{{538,149},{1,1}}</string>
			<key>offset</key>
			<string>{-162,129}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>22</key>
		<dict>
			<key>frame</key>
			<string>{{293,2},{283,145}}</string>
			<key>offset</key>
			<string>{1,-37}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,94},{283,145}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>23</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{289,145}}</string>
			<key>offset</key>
			<string>{6,-37}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,94},{289,145}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>24</key>
		<dict>
			<key>frame</key>
			<string>{{2,149},{273,163}}</string>
			<key>offset</key>
			<string>{19,-28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{45,76},{273,163}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>25</key>
		<dict>
			<key>frame</key>
			<string>{{853,2},{273,167}}</string>
			<key>offset</key>
			<string>{19,-23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{45,69},{273,167}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>26</key>
		<dict>
			<key>frame</key>
			<string>{{578,2},{273,167}}</string>
			<key>offset</key>
			<string>{17,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{43,68},{273,167}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>27</key>
		<dict>
			<key>frame</key>
			<string>{{789,277},{231,165}}</string>
			<key>offset</key>
			<string>{-4,-25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{43,72},{231,165}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>28</key>
		<dict>
			<key>frame</key>
			<string>{{2,809},{165,191}}</string>
			<key>offset</key>
			<string>{-8,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{72,47},{165,191}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>29</key>
		<dict>
			<key>frame</key>
			<string>{{2,636},{171,193}}</string>
			<key>offset</key>
			<string>{-10,-12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{67,45},{171,193}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>30</key>
		<dict>
			<key>frame</key>
			<string>{{538,149},{1,1}}</string>
			<key>offset</key>
			<string>{-162,129}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
		<key>31</key>
		<dict>
			<key>frame</key>
			<string>{{229,447},{181,203}}</string>
			<key>offset</key>
			<string>{-18,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{54,36},{181,203}}</string>
			<key>sourceSize</key>
			<string>{325,259}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>front.pvr.ccz</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:14ce712a1529e8ce6ed95651617d6186:e2a7787ae1fcd7c013e1fb6abfa7217e:0e4b35eee275cb82d555f86fb01ac2ee$</string>
		<key>textureFileName</key>
		<string>front.pvr.ccz</string>
	</dict>
</dict>
</plist>
