<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,35}</string>
			<key>spriteSize</key>
			<string>{89,79}</string>
			<key>spriteSourceSize</key>
			<string>{229,209}</string>
			<key>textureRect</key>
			<string>{{389,980},{89,79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{179,83}</string>
			<key>spriteSourceSize</key>
			<string>{229,209}</string>
			<key>textureRect</key>
			<string>{{176,1330},{179,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{155,87}</string>
			<key>spriteSourceSize</key>
			<string>{229,209}</string>
			<key>textureRect</key>
			<string>{{389,1061},{155,87}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-1}</string>
			<key>spriteSize</key>
			<string>{131,111}</string>
			<key>spriteSourceSize</key>
			<string>{229,209}</string>
			<key>textureRect</key>
			<string>{{363,1218},{131,111}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{163,173}</string>
			<key>spriteSourceSize</key>
			<string>{229,209}</string>
			<key>textureRect</key>
			<string>{{1,1326},{163,173}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{173,179}</string>
			<key>spriteSourceSize</key>
			<string>{229,209}</string>
			<key>textureRect</key>
			<string>{{208,980},{173,179}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-1}</string>
			<key>spriteSize</key>
			<string>{173,179}</string>
			<key>spriteSourceSize</key>
			<string>{229,209}</string>
			<key>textureRect</key>
			<string>{{1,1151},{173,179}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-1}</string>
			<key>spriteSize</key>
			<string>{173,179}</string>
			<key>spriteSourceSize</key>
			<string>{229,209}</string>
			<key>textureRect</key>
			<string>{{182,1155},{173,179}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{209,173}</string>
			<key>spriteSourceSize</key>
			<string>{229,209}</string>
			<key>textureRect</key>
			<string>{{1,624},{209,173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{209,173}</string>
			<key>spriteSourceSize</key>
			<string>{229,209}</string>
			<key>textureRect</key>
			<string>{{1,799},{209,173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{209,187}</string>
			<key>spriteSourceSize</key>
			<string>{229,209}</string>
			<key>textureRect</key>
			<string>{{220,614},{209,187}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{205,175}</string>
			<key>spriteSourceSize</key>
			<string>{229,209}</string>
			<key>textureRect</key>
			<string>{{212,803},{205,175}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{205,175}</string>
			<key>spriteSourceSize</key>
			<string>{229,209}</string>
			<key>textureRect</key>
			<string>{{1,974},{205,175}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{217,199}</string>
			<key>spriteSourceSize</key>
			<string>{229,209}</string>
			<key>textureRect</key>
			<string>{{232,212},{217,199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{217,199}</string>
			<key>spriteSourceSize</key>
			<string>{229,209}</string>
			<key>textureRect</key>
			<string>{{232,413},{217,199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>15</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{217,199}</string>
			<key>spriteSourceSize</key>
			<string>{229,209}</string>
			<key>textureRect</key>
			<string>{{1,423},{217,199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>16</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{229,209}</string>
			<key>spriteSourceSize</key>
			<string>{229,209}</string>
			<key>textureRect</key>
			<string>{{1,1},{229,209}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>17</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{229,209}</string>
			<key>spriteSourceSize</key>
			<string>{229,209}</string>
			<key>textureRect</key>
			<string>{{232,1},{229,209}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>18</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{229,209}</string>
			<key>spriteSourceSize</key>
			<string>{229,209}</string>
			<key>textureRect</key>
			<string>{{1,212},{229,209}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>19</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{77,67}</string>
			<key>spriteSourceSize</key>
			<string>{229,209}</string>
			<key>textureRect</key>
			<string>{{176,1415},{77,67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>20</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{77,67}</string>
			<key>spriteSourceSize</key>
			<string>{229,209}</string>
			<key>textureRect</key>
			<string>{{255,1415},{77,67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>21</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{77,65}</string>
			<key>spriteSourceSize</key>
			<string>{229,209}</string>
			<key>textureRect</key>
			<string>{{334,1415},{77,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>22</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{75,65}</string>
			<key>spriteSourceSize</key>
			<string>{229,209}</string>
			<key>textureRect</key>
			<string>{{413,1351},{75,65}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action20.pvr.ccz</string>
		<key>size</key>
		<string>{479,1490}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:06e36deec016fcbeb6a633a21eca1d6e:31f22b5679ff5bd0184566d45ad29c17:98ec4b5f3da3b367b0df440471cccb39$</string>
		<key>textureFileName</key>
		<string>col_action20.pvr.ccz</string>
	</dict>
</dict>
</plist>
