<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/768/effect/col_action3/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{96,12}</string>
                <key>spriteSize</key>
                <string>{72,58}</string>
                <key>spriteSourceSize</key>
                <string>{360,240}</string>
                <key>textureRect</key>
                <string>{{579,727},{72,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/768/effect/col_action3/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{72,-13}</string>
                <key>spriteSize</key>
                <string>{72,58}</string>
                <key>spriteSourceSize</key>
                <string>{360,240}</string>
                <key>textureRect</key>
                <string>{{653,727},{72,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/768/effect/col_action3/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{96,12}</string>
                <key>spriteSize</key>
                <string>{72,58}</string>
                <key>spriteSourceSize</key>
                <string>{360,240}</string>
                <key>textureRect</key>
                <string>{{579,727},{72,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/768/effect/col_action3/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-13}</string>
                <key>spriteSize</key>
                <string>{128,108}</string>
                <key>spriteSourceSize</key>
                <string>{360,240}</string>
                <key>textureRect</key>
                <string>{{685,1},{128,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/768/effect/col_action3/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-8}</string>
                <key>spriteSize</key>
                <string>{166,168}</string>
                <key>spriteSourceSize</key>
                <string>{360,240}</string>
                <key>textureRect</key>
                <string>{{675,201},{166,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/768/effect/col_action3/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{176,176}</string>
                <key>spriteSourceSize</key>
                <string>{360,240}</string>
                <key>textureRect</key>
                <string>{{659,373},{176,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/768/effect/col_action3/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{172,176}</string>
                <key>spriteSourceSize</key>
                <string>{360,240}</string>
                <key>textureRect</key>
                <string>{{221,601},{172,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/768/effect/col_action3/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{174,176}</string>
                <key>spriteSourceSize</key>
                <string>{360,240}</string>
                <key>textureRect</key>
                <string>{{651,551},{174,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/768/effect/col_action3/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-7}</string>
                <key>spriteSize</key>
                <string>{208,170}</string>
                <key>spriteSourceSize</key>
                <string>{360,240}</string>
                <key>textureRect</key>
                <string>{{465,201},{208,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/768/effect/col_action3/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-7}</string>
                <key>spriteSize</key>
                <string>{210,170}</string>
                <key>spriteSourceSize</key>
                <string>{360,240}</string>
                <key>textureRect</key>
                <string>{{1,625},{210,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/768/effect/col_action3/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{210,186}</string>
                <key>spriteSourceSize</key>
                <string>{360,240}</string>
                <key>textureRect</key>
                <string>{{233,413},{210,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/768/effect/col_action3/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-8}</string>
                <key>spriteSize</key>
                <string>{204,176}</string>
                <key>spriteSourceSize</key>
                <string>{360,240}</string>
                <key>textureRect</key>
                <string>{{453,373},{204,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/768/effect/col_action3/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-9}</string>
                <key>spriteSize</key>
                <string>{204,174}</string>
                <key>spriteSourceSize</key>
                <string>{360,240}</string>
                <key>textureRect</key>
                <string>{{445,551},{204,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/768/effect/col_action3/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-2}</string>
                <key>spriteSize</key>
                <string>{218,198}</string>
                <key>spriteSourceSize</key>
                <string>{360,240}</string>
                <key>textureRect</key>
                <string>{{1,425},{218,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/768/effect/col_action3/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-2}</string>
                <key>spriteSize</key>
                <string>{218,198}</string>
                <key>spriteSourceSize</key>
                <string>{360,240}</string>
                <key>textureRect</key>
                <string>{{233,213},{218,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/768/effect/col_action3/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-2}</string>
                <key>spriteSize</key>
                <string>{218,198}</string>
                <key>spriteSourceSize</key>
                <string>{360,240}</string>
                <key>textureRect</key>
                <string>{{465,1},{218,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/768/effect/col_action3/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-4}</string>
                <key>spriteSize</key>
                <string>{230,210}</string>
                <key>spriteSourceSize</key>
                <string>{360,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{230,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/768/effect/col_action3/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-4}</string>
                <key>spriteSize</key>
                <string>{230,210}</string>
                <key>spriteSourceSize</key>
                <string>{360,240}</string>
                <key>textureRect</key>
                <string>{{1,213},{230,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/768/effect/col_action3/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-4}</string>
                <key>spriteSize</key>
                <string>{230,210}</string>
                <key>spriteSourceSize</key>
                <string>{360,240}</string>
                <key>textureRect</key>
                <string>{{233,1},{230,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/768/effect/col_action3/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-57,-8}</string>
                <key>spriteSize</key>
                <string>{88,70}</string>
                <key>spriteSourceSize</key>
                <string>{360,240}</string>
                <key>textureRect</key>
                <string>{{685,111},{88,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/768/effect/col_action3/20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-57,-8}</string>
                <key>spriteSize</key>
                <string>{88,70}</string>
                <key>spriteSourceSize</key>
                <string>{360,240}</string>
                <key>textureRect</key>
                <string>{{757,111},{88,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/768/effect/col_action3/21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-57,-8}</string>
                <key>spriteSize</key>
                <string>{88,70}</string>
                <key>spriteSourceSize</key>
                <string>{360,240}</string>
                <key>textureRect</key>
                <string>{{399,727},{88,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/768/effect/col_action3/22</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-57,-8}</string>
                <key>spriteSize</key>
                <string>{88,70}</string>
                <key>spriteSourceSize</key>
                <string>{360,240}</string>
                <key>textureRect</key>
                <string>{{489,727},{88,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action30.pvr.ccz</string>
            <key>size</key>
            <string>{842,798}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c35ea153d6daf2fe808803e86fd1f9f:7041c9d16d17d5da57f3cdc54d590a10:e44ba353004d0fd8b165f5c6960cb7e8$</string>
            <key>textureFileName</key>
            <string>col_action30.pvr.ccz</string>
        </dict>
    </dict>
</plist>
