<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-9,5}</string>
			<key>spriteSize</key>
			<string>{452,65}</string>
			<key>spriteSourceSize</key>
			<string>{568,321}</string>
			<key>textureRect</key>
			<string>{{1,58},{452,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-14,6}</string>
			<key>spriteSize</key>
			<string>{450,87}</string>
			<key>spriteSourceSize</key>
			<string>{568,321}</string>
			<key>textureRect</key>
			<string>{{1,1185},{450,87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-15,6}</string>
			<key>spriteSize</key>
			<string>{456,69}</string>
			<key>spriteSourceSize</key>
			<string>{568,321}</string>
			<key>textureRect</key>
			<string>{{1,194},{456,69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-13,6}</string>
			<key>spriteSize</key>
			<string>{458,69}</string>
			<key>spriteSourceSize</key>
			<string>{568,321}</string>
			<key>textureRect</key>
			<string>{{1,265},{458,69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-11,6}</string>
			<key>spriteSize</key>
			<string>{462,87}</string>
			<key>spriteSourceSize</key>
			<string>{568,321}</string>
			<key>textureRect</key>
			<string>{{1,1274},{462,87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-14,6}</string>
			<key>spriteSize</key>
			<string>{456,71}</string>
			<key>spriteSourceSize</key>
			<string>{568,321}</string>
			<key>textureRect</key>
			<string>{{1,407},{456,71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-12,6}</string>
			<key>spriteSize</key>
			<string>{460,71}</string>
			<key>spriteSourceSize</key>
			<string>{568,321}</string>
			<key>textureRect</key>
			<string>{{1,480},{460,71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-15,6}</string>
			<key>spriteSize</key>
			<string>{452,85}</string>
			<key>spriteSourceSize</key>
			<string>{568,321}</string>
			<key>textureRect</key>
			<string>{{1,1011},{452,85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-12,6}</string>
			<key>spriteSize</key>
			<string>{458,73}</string>
			<key>spriteSourceSize</key>
			<string>{568,321}</string>
			<key>textureRect</key>
			<string>{{1,626},{458,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-11,6}</string>
			<key>spriteSize</key>
			<string>{462,73}</string>
			<key>spriteSourceSize</key>
			<string>{568,321}</string>
			<key>textureRect</key>
			<string>{{1,776},{462,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-14,6}</string>
			<key>spriteSize</key>
			<string>{456,85}</string>
			<key>spriteSourceSize</key>
			<string>{568,321}</string>
			<key>textureRect</key>
			<string>{{1,1098},{456,85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-11,6}</string>
			<key>spriteSize</key>
			<string>{460,73}</string>
			<key>spriteSourceSize</key>
			<string>{568,321}</string>
			<key>textureRect</key>
			<string>{{1,701},{460,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-13,6}</string>
			<key>spriteSize</key>
			<string>{456,73}</string>
			<key>spriteSourceSize</key>
			<string>{568,321}</string>
			<key>textureRect</key>
			<string>{{1,851},{456,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-12,6}</string>
			<key>spriteSize</key>
			<string>{458,87}</string>
			<key>spriteSourceSize</key>
			<string>{568,321}</string>
			<key>textureRect</key>
			<string>{{1,1363},{458,87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-12,6}</string>
			<key>spriteSize</key>
			<string>{460,69}</string>
			<key>spriteSourceSize</key>
			<string>{568,321}</string>
			<key>textureRect</key>
			<string>{{1,336},{460,69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>15</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-14,6}</string>
			<key>spriteSize</key>
			<string>{456,71}</string>
			<key>spriteSourceSize</key>
			<string>{568,321}</string>
			<key>textureRect</key>
			<string>{{1,553},{456,71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>16</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-12,6}</string>
			<key>spriteSize</key>
			<string>{460,83}</string>
			<key>spriteSourceSize</key>
			<string>{568,321}</string>
			<key>textureRect</key>
			<string>{{1,926},{460,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>17</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-15,6}</string>
			<key>spriteSize</key>
			<string>{454,67}</string>
			<key>spriteSourceSize</key>
			<string>{568,321}</string>
			<key>textureRect</key>
			<string>{{1,125},{454,67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>18</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-15,7}</string>
			<key>spriteSize</key>
			<string>{452,55}</string>
			<key>spriteSourceSize</key>
			<string>{568,321}</string>
			<key>textureRect</key>
			<string>{{6,1},{452,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>19</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-282.5,159}</string>
			<key>spriteSize</key>
			<string>{3,3}</string>
			<key>spriteSourceSize</key>
			<string>{568,321}</string>
			<key>textureRect</key>
			<string>{{1,1},{3,3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action10.pvr.ccz</string>
		<key>size</key>
		<string>{464,1451}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:7851b7408c306e008ce20f6b288a40ad:9de8ba949c70be01f041ab901bd934de:fd6dfe3ee94267230ed6425290acf6b5$</string>
		<key>textureFileName</key>
		<string>col_action10.pvr.ccz</string>
	</dict>
</dict>
</plist>
