<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-75,71}</string>
			<key>spriteSize</key>
			<string>{3,3}</string>
			<key>spriteSourceSize</key>
			<string>{153,145}</string>
			<key>textureRect</key>
			<string>{{54,1167},{3,3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-9,47}</string>
			<key>spriteSize</key>
			<string>{135,25}</string>
			<key>spriteSourceSize</key>
			<string>{153,145}</string>
			<key>textureRect</key>
			<string>{{152,593},{135,25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,26}</string>
			<key>spriteSize</key>
			<string>{149,93}</string>
			<key>spriteSourceSize</key>
			<string>{153,145}</string>
			<key>textureRect</key>
			<string>{{1,768},{149,93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,22}</string>
			<key>spriteSize</key>
			<string>{149,97}</string>
			<key>spriteSourceSize</key>
			<string>{153,145}</string>
			<key>textureRect</key>
			<string>{{152,303},{149,97}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,15}</string>
			<key>spriteSize</key>
			<string>{149,101}</string>
			<key>spriteSourceSize</key>
			<string>{153,145}</string>
			<key>textureRect</key>
			<string>{{152,1},{149,101}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,10}</string>
			<key>spriteSize</key>
			<string>{149,101}</string>
			<key>spriteSourceSize</key>
			<string>{153,145}</string>
			<key>textureRect</key>
			<string>{{152,152},{149,101}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,6}</string>
			<key>spriteSize</key>
			<string>{149,103}</string>
			<key>spriteSourceSize</key>
			<string>{153,145}</string>
			<key>textureRect</key>
			<string>{{1,663},{149,103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,2}</string>
			<key>spriteSize</key>
			<string>{149,105}</string>
			<key>spriteSourceSize</key>
			<string>{153,145}</string>
			<key>textureRect</key>
			<string>{{1,556},{149,105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,1}</string>
			<key>spriteSize</key>
			<string>{149,109}</string>
			<key>spriteSourceSize</key>
			<string>{153,145}</string>
			<key>textureRect</key>
			<string>{{1,1},{149,109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,2}</string>
			<key>spriteSize</key>
			<string>{149,109}</string>
			<key>spriteSourceSize</key>
			<string>{153,145}</string>
			<key>textureRect</key>
			<string>{{1,112},{149,109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,4}</string>
			<key>spriteSize</key>
			<string>{149,109}</string>
			<key>spriteSourceSize</key>
			<string>{153,145}</string>
			<key>textureRect</key>
			<string>{{1,223},{149,109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,6}</string>
			<key>spriteSize</key>
			<string>{149,109}</string>
			<key>spriteSourceSize</key>
			<string>{153,145}</string>
			<key>textureRect</key>
			<string>{{1,334},{149,109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,7}</string>
			<key>spriteSize</key>
			<string>{149,109}</string>
			<key>spriteSourceSize</key>
			<string>{153,145}</string>
			<key>textureRect</key>
			<string>{{1,445},{149,109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,6}</string>
			<key>spriteSize</key>
			<string>{137,97}</string>
			<key>spriteSourceSize</key>
			<string>{153,145}</string>
			<key>textureRect</key>
			<string>{{152,454},{137,97}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,4}</string>
			<key>spriteSize</key>
			<string>{111,79}</string>
			<key>spriteSourceSize</key>
			<string>{153,145}</string>
			<key>textureRect</key>
			<string>{{1,863},{111,79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>15</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{83,57}</string>
			<key>spriteSourceSize</key>
			<string>{153,145}</string>
			<key>textureRect</key>
			<string>{{76,944},{83,57}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>16</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-1}</string>
			<key>spriteSize</key>
			<string>{53,39}</string>
			<key>spriteSourceSize</key>
			<string>{153,145}</string>
			<key>textureRect</key>
			<string>{{149,1001},{53,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>17</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-2}</string>
			<key>spriteSize</key>
			<string>{45,41}</string>
			<key>spriteSourceSize</key>
			<string>{153,145}</string>
			<key>textureRect</key>
			<string>{{199,1169},{45,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>18</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-3}</string>
			<key>spriteSize</key>
			<string>{49,43}</string>
			<key>spriteSourceSize</key>
			<string>{153,145}</string>
			<key>textureRect</key>
			<string>{{204,942},{49,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>19</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,-2}</string>
			<key>spriteSize</key>
			<string>{51,45}</string>
			<key>spriteSourceSize</key>
			<string>{153,145}</string>
			<key>textureRect</key>
			<string>{{149,1042},{51,45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>20</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-3}</string>
			<key>spriteSize</key>
			<string>{49,43}</string>
			<key>spriteSourceSize</key>
			<string>{153,145}</string>
			<key>textureRect</key>
			<string>{{204,987},{49,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>21</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-3}</string>
			<key>spriteSize</key>
			<string>{49,43}</string>
			<key>spriteSourceSize</key>
			<string>{153,145}</string>
			<key>textureRect</key>
			<string>{{204,1032},{49,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>22</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,-2}</string>
			<key>spriteSize</key>
			<string>{49,43}</string>
			<key>spriteSourceSize</key>
			<string>{153,145}</string>
			<key>textureRect</key>
			<string>{{151,1089},{49,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>23</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-2}</string>
			<key>spriteSize</key>
			<string>{47,43}</string>
			<key>spriteSourceSize</key>
			<string>{153,145}</string>
			<key>textureRect</key>
			<string>{{109,1175},{47,43}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>24</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-2}</string>
			<key>spriteSize</key>
			<string>{47,43}</string>
			<key>spriteSourceSize</key>
			<string>{153,145}</string>
			<key>textureRect</key>
			<string>{{154,1134},{47,43}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>25</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-3}</string>
			<key>spriteSize</key>
			<string>{49,43}</string>
			<key>spriteSourceSize</key>
			<string>{153,145}</string>
			<key>textureRect</key>
			<string>{{202,1124},{49,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>26</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-3}</string>
			<key>spriteSize</key>
			<string>{51,45}</string>
			<key>spriteSourceSize</key>
			<string>{153,145}</string>
			<key>textureRect</key>
			<string>{{202,1077},{51,45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>27</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-3}</string>
			<key>spriteSize</key>
			<string>{53,47}</string>
			<key>spriteSourceSize</key>
			<string>{153,145}</string>
			<key>textureRect</key>
			<string>{{54,1175},{53,47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>28</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,-3}</string>
			<key>spriteSize</key>
			<string>{55,51}</string>
			<key>spriteSourceSize</key>
			<string>{153,145}</string>
			<key>textureRect</key>
			<string>{{1,1167},{55,51}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>29</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,-4}</string>
			<key>spriteSize</key>
			<string>{67,57}</string>
			<key>spriteSourceSize</key>
			<string>{153,145}</string>
			<key>textureRect</key>
			<string>{{135,942},{67,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>30</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,-4}</string>
			<key>spriteSize</key>
			<string>{69,61}</string>
			<key>spriteSourceSize</key>
			<string>{153,145}</string>
			<key>textureRect</key>
			<string>{{149,879},{69,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>31</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,-4}</string>
			<key>spriteSize</key>
			<string>{71,65}</string>
			<key>spriteSourceSize</key>
			<string>{153,145}</string>
			<key>textureRect</key>
			<string>{{152,812},{71,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>32</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,-3}</string>
			<key>spriteSize</key>
			<string>{73,69}</string>
			<key>spriteSourceSize</key>
			<string>{153,145}</string>
			<key>textureRect</key>
			<string>{{76,1104},{73,69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>33</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,-4}</string>
			<key>spriteSize</key>
			<string>{73,69}</string>
			<key>spriteSourceSize</key>
			<string>{153,145}</string>
			<key>textureRect</key>
			<string>{{152,741},{73,69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>34</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,-3}</string>
			<key>spriteSize</key>
			<string>{73,71}</string>
			<key>spriteSourceSize</key>
			<string>{153,145}</string>
			<key>textureRect</key>
			<string>{{1,1094},{73,71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>35</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,-3}</string>
			<key>spriteSize</key>
			<string>{73,71}</string>
			<key>spriteSourceSize</key>
			<string>{153,145}</string>
			<key>textureRect</key>
			<string>{{179,593},{73,71}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>36</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,-3}</string>
			<key>spriteSize</key>
			<string>{73,71}</string>
			<key>spriteSourceSize</key>
			<string>{153,145}</string>
			<key>textureRect</key>
			<string>{{179,668},{73,71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>37</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,-3}</string>
			<key>spriteSize</key>
			<string>{73,71}</string>
			<key>spriteSourceSize</key>
			<string>{153,145}</string>
			<key>textureRect</key>
			<string>{{76,1029},{73,71}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>38</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,-3}</string>
			<key>spriteSize</key>
			<string>{73,73}</string>
			<key>spriteSourceSize</key>
			<string>{153,145}</string>
			<key>textureRect</key>
			<string>{{1,944},{73,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>39</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,-3}</string>
			<key>spriteSize</key>
			<string>{73,73}</string>
			<key>spriteSourceSize</key>
			<string>{153,145}</string>
			<key>textureRect</key>
			<string>{{1,1019},{73,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>40</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{33,69}</string>
			<key>spriteSourceSize</key>
			<string>{153,145}</string>
			<key>textureRect</key>
			<string>{{114,863},{33,69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>41</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-75,71}</string>
			<key>spriteSize</key>
			<string>{3,3}</string>
			<key>spriteSourceSize</key>
			<string>{153,145}</string>
			<key>textureRect</key>
			<string>{{54,1167},{3,3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action10.pvr.ccz</string>
		<key>size</key>
		<string>{254,1223}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:09e8bd5134092de22e9b7f4aca4f4d9d:11518a638c30737e2fef23e0d2d993bf:fd6dfe3ee94267230ed6425290acf6b5$</string>
		<key>textureFileName</key>
		<string>col_action10.pvr.ccz</string>
	</dict>
</dict>
</plist>
