<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/137/effect/adv_action1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,120}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{200,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/137/effect/col_action1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,121}</string>
                <key>spriteSourceSize</key>
                <string>{157,121}</string>
                <key>textureRect</key>
                <string>{{203,1},{157,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/137/effect/col_explode</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,141}</string>
                <key>spriteSourceSize</key>
                <string>{148,141}</string>
                <key>textureRect</key>
                <string>{{362,1},{148,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>effect.pvr.ccz</string>
            <key>size</key>
            <string>{511,143}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95f2e7c2473e439029bd642bef189b07:f6e2693efe7ff762042b4e04ff41de9b:e0fdcd92bbdb8ab6858982d39ba3f2d9$</string>
            <key>textureFileName</key>
            <string>effect.pvr.ccz</string>
        </dict>
    </dict>
</plist>
