<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>frame</key>
			<string>{{1000,2},{1,1}}</string>
			<key>offset</key>
			<string>{-131,71.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>01</key>
		<dict>
			<key>frame</key>
			<string>{{1000,2},{1,1}}</string>
			<key>offset</key>
			<string>{-131,71.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>02</key>
		<dict>
			<key>frame</key>
			<string>{{1000,2},{1,1}}</string>
			<key>offset</key>
			<string>{-131,71.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>03</key>
		<dict>
			<key>frame</key>
			<string>{{1000,2},{1,1}}</string>
			<key>offset</key>
			<string>{-131,71.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>04</key>
		<dict>
			<key>frame</key>
			<string>{{1000,2},{1,1}}</string>
			<key>offset</key>
			<string>{-131,71.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>05</key>
		<dict>
			<key>frame</key>
			<string>{{2,889},{215,132}}</string>
			<key>offset</key>
			<string>{-5,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,12},{215,132}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>06</key>
		<dict>
			<key>frame</key>
			<string>{{290,383},{223,136}}</string>
			<key>offset</key>
			<string>{-5,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,8},{223,136}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>07</key>
		<dict>
			<key>frame</key>
			<string>{{699,284},{225,136}}</string>
			<key>offset</key>
			<string>{-4,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,8},{225,136}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>08</key>
		<dict>
			<key>frame</key>
			<string>{{219,879},{239,142}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,2},{239,142}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>09</key>
		<dict>
			<key>frame</key>
			<string>{{146,391},{243,142}}</string>
			<key>offset</key>
			<string>{3,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,2},{243,142}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>10</key>
		<dict>
			<key>frame</key>
			<string>{{2,642},{245,142}}</string>
			<key>offset</key>
			<string>{4,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,2},{245,142}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>11</key>
		<dict>
			<key>frame</key>
			<string>{{2,146},{247,142}}</string>
			<key>offset</key>
			<string>{4,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,2},{247,142}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>12</key>
		<dict>
			<key>frame</key>
			<string>{{751,2},{247,142}}</string>
			<key>offset</key>
			<string>{5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,2},{247,142}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>13</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{249,142}}</string>
			<key>offset</key>
			<string>{5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,2},{249,142}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>14</key>
		<dict>
			<key>frame</key>
			<string>{{502,2},{247,142}}</string>
			<key>offset</key>
			<string>{5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,2},{247,142}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>15</key>
		<dict>
			<key>frame</key>
			<string>{{253,2},{247,142}}</string>
			<key>offset</key>
			<string>{4,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,2},{247,142}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>16</key>
		<dict>
			<key>frame</key>
			<string>{{2,395},{245,142}}</string>
			<key>offset</key>
			<string>{4,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,2},{245,142}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>17</key>
		<dict>
			<key>frame</key>
			<string>{{146,146},{243,142}}</string>
			<key>offset</key>
			<string>{3,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,2},{243,142}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>18</key>
		<dict>
			<key>frame</key>
			<string>{{146,636},{241,142}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,2},{241,142}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>19</key>
		<dict>
			<key>frame</key>
			<string>{{460,146},{237,142}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,2},{237,142}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>20</key>
		<dict>
			<key>frame</key>
			<string>{{290,146},{235,142}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,2},{235,142}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>21</key>
		<dict>
			<key>frame</key>
			<string>{{699,146},{231,136}}</string>
			<key>offset</key>
			<string>{-2,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,8},{231,136}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>22</key>
		<dict>
			<key>frame</key>
			<string>{{460,290},{223,136}}</string>
			<key>offset</key>
			<string>{-5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,8},{223,136}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>23</key>
		<dict>
			<key>frame</key>
			<string>{{290,608},{213,130}}</string>
			<key>offset</key>
			<string>{-5,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,14},{213,130}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>24</key>
		<dict>
			<key>frame</key>
			<string>{{932,146},{191,82}}</string>
			<key>offset</key>
			<string>{-7,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{29,37},{191,82}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>25</key>
		<dict>
			<key>frame</key>
			<string>{{926,339},{71,72}}</string>
			<key>offset</key>
			<string>{-57,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{39,44},{71,72}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>back.pvr.ccz</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:f9022457962229d15a7016b930632ede:6ae80429a7931d52930176d0bc3d9a19:43f3ab1da9ce7ff12a953bd181b43222$</string>
		<key>textureFileName</key>
		<string>back.pvr.ccz</string>
	</dict>
</dict>
</plist>
