<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>frame</key>
			<string>{{808,388},{45,68}}</string>
			<key>offset</key>
			<string>{-82,-16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{27,54},{45,68}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>01</key>
		<dict>
			<key>frame</key>
			<string>{{2,378},{217,116}}</string>
			<key>offset</key>
			<string>{-23,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,19},{217,116}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>02</key>
		<dict>
			<key>frame</key>
			<string>{{225,246},{221,124}}</string>
			<key>offset</key>
			<string>{-21,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,15},{221,124}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>03</key>
		<dict>
			<key>frame</key>
			<string>{{687,2},{225,132}}</string>
			<key>offset</key>
			<string>{-19,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,12},{225,132}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>04</key>
		<dict>
			<key>frame</key>
			<string>{{460,2},{225,132}}</string>
			<key>offset</key>
			<string>{-19,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,12},{225,132}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>05</key>
		<dict>
			<key>frame</key>
			<string>{{2,246},{221,130}}</string>
			<key>offset</key>
			<string>{-21,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,13},{221,130}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>06</key>
		<dict>
			<key>frame</key>
			<string>{{448,258},{217,126}}</string>
			<key>offset</key>
			<string>{-23,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,13},{217,126}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>07</key>
		<dict>
			<key>frame</key>
			<string>{{667,258},{209,128}}</string>
			<key>offset</key>
			<string>{-27,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{209,128}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>08</key>
		<dict>
			<key>frame</key>
			<string>{{225,372},{217,124}}</string>
			<key>offset</key>
			<string>{-23,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,7},{217,124}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>09</key>
		<dict>
			<key>frame</key>
			<string>{{456,136},{225,120}}</string>
			<key>offset</key>
			<string>{-19,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,7},{225,120}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>10</key>
		<dict>
			<key>frame</key>
			<string>{{231,2},{227,120}}</string>
			<key>offset</key>
			<string>{-13,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,7},{227,120}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>11</key>
		<dict>
			<key>frame</key>
			<string>{{229,124},{225,120}}</string>
			<key>offset</key>
			<string>{-6,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,7},{225,120}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>12</key>
		<dict>
			<key>frame</key>
			<string>{{2,124},{225,120}}</string>
			<key>offset</key>
			<string>{0,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,7},{225,120}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>13</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{227,120}}</string>
			<key>offset</key>
			<string>{6,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,7},{227,120}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>14</key>
		<dict>
			<key>frame</key>
			<string>{{683,136},{223,120}}</string>
			<key>offset</key>
			<string>{13,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,7},{223,120}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>15</key>
		<dict>
			<key>frame</key>
			<string>{{2,496},{211,120}}</string>
			<key>offset</key>
			<string>{16,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,7},{211,120}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>16</key>
		<dict>
			<key>frame</key>
			<string>{{444,386},{205,116}}</string>
			<key>offset</key>
			<string>{21,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{50,11},{205,116}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>17</key>
		<dict>
			<key>frame</key>
			<string>{{908,173},{181,114}}</string>
			<key>offset</key>
			<string>{21,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{62,13},{181,114}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>18</key>
		<dict>
			<key>frame</key>
			<string>{{878,356},{161,108}}</string>
			<key>offset</key>
			<string>{31,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{82,17},{161,108}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>19</key>
		<dict>
			<key>frame</key>
			<string>{{914,2},{169,108}}</string>
			<key>offset</key>
			<string>{27,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{74,17},{169,108}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>20</key>
		<dict>
			<key>frame</key>
			<string>{{651,388},{155,102}}</string>
			<key>offset</key>
			<string>{31,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{85,22},{155,102}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>21</key>
		<dict>
			<key>frame</key>
			<string>{{456,124},{1,1}}</string>
			<key>offset</key>
			<string>{-131,71.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>22</key>
		<dict>
			<key>frame</key>
			<string>{{456,124},{1,1}}</string>
			<key>offset</key>
			<string>{-131,71.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>23</key>
		<dict>
			<key>frame</key>
			<string>{{456,124},{1,1}}</string>
			<key>offset</key>
			<string>{-131,71.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>24</key>
		<dict>
			<key>frame</key>
			<string>{{456,124},{1,1}}</string>
			<key>offset</key>
			<string>{-131,71.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
		<key>25</key>
		<dict>
			<key>frame</key>
			<string>{{456,124},{1,1}}</string>
			<key>offset</key>
			<string>{-131,71.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{263,144}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>front.pvr.ccz</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d6f1c4790d6ba6fe39579d9f3ab804f6:a2948699ef45d7e2ad1e6e53eddc4b9c:0e4b35eee275cb82d555f86fb01ac2ee$</string>
		<key>textureFileName</key>
		<string>front.pvr.ccz</string>
	</dict>
</dict>
</plist>
