<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3186/effect/col_action1/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{268,110}</string>
                <key>spriteSourceSize</key>
                <string>{910,476}</string>
                <key>textureRect</key>
                <string>{{405,1799},{268,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3186/effect/col_action1/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{402,168}</string>
                <key>spriteSourceSize</key>
                <string>{910,476}</string>
                <key>textureRect</key>
                <string>{{1,1799},{402,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3186/effect/col_action1/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{620,250}</string>
                <key>spriteSourceSize</key>
                <string>{910,476}</string>
                <key>textureRect</key>
                <string>{{753,885},{620,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3186/effect/col_action1/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{686,272}</string>
                <key>spriteSourceSize</key>
                <string>{910,476}</string>
                <key>textureRect</key>
                <string>{{769,611},{686,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3186/effect/col_action1/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{722,286}</string>
                <key>spriteSourceSize</key>
                <string>{910,476}</string>
                <key>textureRect</key>
                <string>{{1,1217},{722,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3186/effect/col_action1/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{750,296}</string>
                <key>spriteSourceSize</key>
                <string>{910,476}</string>
                <key>textureRect</key>
                <string>{{1,617},{750,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3186/effect/col_action1/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{766,304}</string>
                <key>spriteSourceSize</key>
                <string>{910,476}</string>
                <key>textureRect</key>
                <string>{{1,311},{766,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3186/effect/col_action1/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{756,304}</string>
                <key>spriteSourceSize</key>
                <string>{910,476}</string>
                <key>textureRect</key>
                <string>{{769,1},{756,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3186/effect/col_action1/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{766,308}</string>
                <key>spriteSourceSize</key>
                <string>{910,476}</string>
                <key>textureRect</key>
                <string>{{1,1},{766,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3186/effect/col_action1/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{724,300}</string>
                <key>spriteSourceSize</key>
                <string>{910,476}</string>
                <key>textureRect</key>
                <string>{{1,915},{724,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3186/effect/col_action1/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{728,302}</string>
                <key>spriteSourceSize</key>
                <string>{910,476}</string>
                <key>textureRect</key>
                <string>{{769,307},{728,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3186/effect/col_action1/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{688,292}</string>
                <key>spriteSourceSize</key>
                <string>{910,476}</string>
                <key>textureRect</key>
                <string>{{1,1505},{688,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3186/effect/col_action1/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{604,284}</string>
                <key>spriteSourceSize</key>
                <string>{910,476}</string>
                <key>textureRect</key>
                <string>{{727,1137},{604,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3186/effect/col_action1/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{546,266}</string>
                <key>spriteSourceSize</key>
                <string>{910,476}</string>
                <key>textureRect</key>
                <string>{{725,1423},{546,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3186/effect/col_action1/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{524,274}</string>
                <key>spriteSourceSize</key>
                <string>{910,476}</string>
                <key>textureRect</key>
                <string>{{1375,965},{524,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3186/effect/col_action1/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-3}</string>
                <key>spriteSize</key>
                <string>{312,280}</string>
                <key>spriteSourceSize</key>
                <string>{910,476}</string>
                <key>textureRect</key>
                <string>{{1675,1241},{312,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3186/effect/col_action1/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-1}</string>
                <key>spriteSize</key>
                <string>{320,290}</string>
                <key>spriteSourceSize</key>
                <string>{910,476}</string>
                <key>textureRect</key>
                <string>{{1649,1555},{320,290}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3186/effect/col_action1/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-1}</string>
                <key>spriteSize</key>
                <string>{326,296}</string>
                <key>spriteSourceSize</key>
                <string>{910,476}</string>
                <key>textureRect</key>
                <string>{{691,1691},{326,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3186/effect/col_action1/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,0}</string>
                <key>spriteSize</key>
                <string>{332,304}</string>
                <key>spriteSourceSize</key>
                <string>{910,476}</string>
                <key>textureRect</key>
                <string>{{1343,1553},{332,304}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3186/effect/col_action1/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,0}</string>
                <key>spriteSize</key>
                <string>{340,310}</string>
                <key>spriteSourceSize</key>
                <string>{910,476}</string>
                <key>textureRect</key>
                <string>{{1333,1241},{340,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3186/effect/col_action1/20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,1}</string>
                <key>spriteSize</key>
                <string>{346,318}</string>
                <key>spriteSourceSize</key>
                <string>{910,476}</string>
                <key>textureRect</key>
                <string>{{1457,645},{346,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3186/effect/col_action1/21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,2}</string>
                <key>spriteSize</key>
                <string>{352,324}</string>
                <key>spriteSourceSize</key>
                <string>{910,476}</string>
                <key>textureRect</key>
                <string>{{989,1691},{352,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3186/effect/col_action1/22</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-1}</string>
                <key>spriteSize</key>
                <string>{358,324}</string>
                <key>spriteSourceSize</key>
                <string>{910,476}</string>
                <key>textureRect</key>
                <string>{{1499,319},{358,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3186/effect/col_action1/23</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-6}</string>
                <key>spriteSize</key>
                <string>{364,316}</string>
                <key>spriteSourceSize</key>
                <string>{910,476}</string>
                <key>textureRect</key>
                <string>{{1527,1},{364,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action10.pvr.ccz</string>
            <key>size</key>
            <string>{1956,2018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef6cd0e45fa280e42c039e634bb79d9f:edf4be563ae0ff5f9199023d9e4ca05b:fd6dfe3ee94267230ed6425290acf6b5$</string>
            <key>textureFileName</key>
            <string>col_action10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
