<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,-1}</string>
			<key>spriteSize</key>
			<string>{144,78}</string>
			<key>spriteSourceSize</key>
			<string>{524,290}</string>
			<key>textureRect</key>
			<string>{{679,355},{144,78}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,-6}</string>
			<key>spriteSize</key>
			<string>{156,90}</string>
			<key>spriteSourceSize</key>
			<string>{524,290}</string>
			<key>textureRect</key>
			<string>{{587,355},{156,90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,-5}</string>
			<key>spriteSize</key>
			<string>{168,102}</string>
			<key>spriteSourceSize</key>
			<string>{524,290}</string>
			<key>textureRect</key>
			<string>{{1,407},{168,102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,-4}</string>
			<key>spriteSize</key>
			<string>{174,108}</string>
			<key>spriteSourceSize</key>
			<string>{524,290}</string>
			<key>textureRect</key>
			<string>{{477,195},{174,108}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,-4}</string>
			<key>spriteSize</key>
			<string>{180,114}</string>
			<key>spriteSourceSize</key>
			<string>{524,290}</string>
			<key>textureRect</key>
			<string>{{187,397},{180,114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,-4}</string>
			<key>spriteSize</key>
			<string>{180,114}</string>
			<key>spriteSourceSize</key>
			<string>{524,290}</string>
			<key>textureRect</key>
			<string>{{759,365},{180,114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,-5}</string>
			<key>spriteSize</key>
			<string>{182,116}</string>
			<key>spriteSourceSize</key>
			<string>{524,290}</string>
			<key>textureRect</key>
			<string>{{369,385},{182,116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,-11}</string>
			<key>spriteSize</key>
			<string>{184,128}</string>
			<key>spriteSourceSize</key>
			<string>{524,290}</string>
			<key>textureRect</key>
			<string>{{347,199},{184,128}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,-13}</string>
			<key>spriteSize</key>
			<string>{188,148}</string>
			<key>spriteSourceSize</key>
			<string>{524,290}</string>
			<key>textureRect</key>
			<string>{{979,355},{188,148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,-14}</string>
			<key>spriteSize</key>
			<string>{190,154}</string>
			<key>spriteSourceSize</key>
			<string>{524,290}</string>
			<key>textureRect</key>
			<string>{{979,199},{190,154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,-15}</string>
			<key>spriteSize</key>
			<string>{192,158}</string>
			<key>spriteSourceSize</key>
			<string>{524,290}</string>
			<key>textureRect</key>
			<string>{{187,203},{192,158}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,-15}</string>
			<key>spriteSize</key>
			<string>{194,166}</string>
			<key>spriteSourceSize</key>
			<string>{524,290}</string>
			<key>textureRect</key>
			<string>{{587,187},{194,166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,-14}</string>
			<key>spriteSize</key>
			<string>{194,174}</string>
			<key>spriteSourceSize</key>
			<string>{524,290}</string>
			<key>textureRect</key>
			<string>{{783,189},{194,174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,-14}</string>
			<key>spriteSize</key>
			<string>{196,180}</string>
			<key>spriteSourceSize</key>
			<string>{524,290}</string>
			<key>textureRect</key>
			<string>{{989,1},{196,180}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,-14}</string>
			<key>spriteSize</key>
			<string>{196,186}</string>
			<key>spriteSourceSize</key>
			<string>{524,290}</string>
			<key>textureRect</key>
			<string>{{791,1},{196,186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>15</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,-13}</string>
			<key>spriteSize</key>
			<string>{196,192}</string>
			<key>spriteSourceSize</key>
			<string>{524,290}</string>
			<key>textureRect</key>
			<string>{{389,1},{196,192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>16</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,-13}</string>
			<key>spriteSize</key>
			<string>{194,196}</string>
			<key>spriteSourceSize</key>
			<string>{524,290}</string>
			<key>textureRect</key>
			<string>{{193,1},{194,196}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>17</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,-13}</string>
			<key>spriteSize</key>
			<string>{190,200}</string>
			<key>spriteSourceSize</key>
			<string>{524,290}</string>
			<key>textureRect</key>
			<string>{{1,1},{190,200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>18</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,-12}</string>
			<key>spriteSize</key>
			<string>{184,202}</string>
			<key>spriteSourceSize</key>
			<string>{524,290}</string>
			<key>textureRect</key>
			<string>{{1,203},{184,202}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>19</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,-11}</string>
			<key>spriteSize</key>
			<string>{184,202}</string>
			<key>spriteSourceSize</key>
			<string>{524,290}</string>
			<key>textureRect</key>
			<string>{{587,1},{184,202}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>20</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,-1}</string>
			<key>spriteSize</key>
			<string>{144,78}</string>
			<key>spriteSourceSize</key>
			<string>{524,290}</string>
			<key>textureRect</key>
			<string>{{679,355},{144,78}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action10.pvr.ccz</string>
		<key>size</key>
		<string>{1170,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:ac568fad1b45f5c3217cc75687222d33:19f3d9586bbdc0ce629061804b4e971c:fd6dfe3ee94267230ed6425290acf6b5$</string>
		<key>textureFileName</key>
		<string>col_action10.pvr.ccz</string>
	</dict>
</dict>
</plist>
