<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3258/effect/col_action1/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-101,11}</string>
                <key>spriteSize</key>
                <string>{116,96}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1,381},{116,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3258/effect/col_action1/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-101,11}</string>
                <key>spriteSize</key>
                <string>{116,96}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{119,381},{116,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3258/effect/col_action1/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-101,11}</string>
                <key>spriteSize</key>
                <string>{116,96}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{237,381},{116,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3258/effect/col_action1/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-101,11}</string>
                <key>spriteSize</key>
                <string>{116,96}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{361,333},{116,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3258/effect/col_action1/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-95,12}</string>
                <key>spriteSize</key>
                <string>{164,136}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{361,167},{164,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3258/effect/col_action1/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-95,5}</string>
                <key>spriteSize</key>
                <string>{164,148}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{361,1},{164,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3258/effect/col_action1/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-87,7}</string>
                <key>spriteSize</key>
                <string>{178,188}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{178,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3258/effect/col_action1/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-87,7}</string>
                <key>spriteSize</key>
                <string>{178,188}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{1,191},{178,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3258/effect/col_action1/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-87,7}</string>
                <key>spriteSize</key>
                <string>{178,188}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{181,1},{178,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3258/effect/col_action1/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-87,7}</string>
                <key>spriteSize</key>
                <string>{178,188}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{181,191},{178,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3258/effect/col_action1/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-87,7}</string>
                <key>spriteSize</key>
                <string>{178,188}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{181,191},{178,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action10.pvr.ccz</string>
            <key>size</key>
            <string>{510,478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91d9cae904569d537fbcd3463c74544c:e0456d97242b9e1ade155fbd287ec09c:fd6dfe3ee94267230ed6425290acf6b5$</string>
            <key>textureFileName</key>
            <string>col_action10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
