<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/80/effect/adv_action1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{140,129}</string>
                <key>spriteSourceSize</key>
                <string>{200,133}</string>
                <key>textureRect</key>
                <string>{{307,119},{140,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/80/effect/adv_action2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{200,116}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{307,1},{200,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/80/effect/col_action1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{216,90}</string>
                <key>spriteSourceSize</key>
                <string>{218,94}</string>
                <key>textureRect</key>
                <string>{{1,1},{216,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/80/effect/col_action2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{216,90}</string>
                <key>spriteSourceSize</key>
                <string>{218,94}</string>
                <key>textureRect</key>
                <string>{{1,1},{216,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/80/effect/col_explode</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,212}</string>
                <key>spriteSourceSize</key>
                <string>{212,212}</string>
                <key>textureRect</key>
                <string>{{93,1},{212,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>effect.pvr.ccz</string>
            <key>size</key>
            <string>{508,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70e0596702e4be80b887f41beca59088:f11fa88181800ba2ae7abe80c1a68c3b:e0fdcd92bbdb8ab6858982d39ba3f2d9$</string>
            <key>textureFileName</key>
            <string>effect.pvr.ccz</string>
        </dict>
    </dict>
</plist>
