<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-33}</string>
			<key>spriteSize</key>
			<string>{13,14}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{750,247},{13,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-24}</string>
			<key>spriteSize</key>
			<string>{35,34}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{713,247},{35,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-15}</string>
			<key>spriteSize</key>
			<string>{55,56}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{1878,149},{55,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-11}</string>
			<key>spriteSize</key>
			<string>{65,64}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{1943,718},{65,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{17,-12}</string>
			<key>spriteSize</key>
			<string>{103,64}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{222,886},{103,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{15,3}</string>
			<key>spriteSize</key>
			<string>{109,98}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{1035,780},{109,98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,-14}</string>
			<key>spriteSize</key>
			<string>{129,146}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{1878,1},{129,146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-12}</string>
			<key>spriteSize</key>
			<string>{139,152}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{1802,718},{139,152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,-11}</string>
			<key>spriteSize</key>
			<string>{143,154}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{1353,625},{143,154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-8}</string>
			<key>spriteSize</key>
			<string>{147,154}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{1494,790},{147,154}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{157,158}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{1626,939},{157,158}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{163,150}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{1188,629},{163,150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-3}</string>
			<key>spriteSize</key>
			<string>{165,150}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{1650,772},{165,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-8}</string>
			<key>spriteSize</key>
			<string>{159,156}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{1465,939},{159,156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-6}</string>
			<key>spriteSize</key>
			<string>{151,156}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{1823,565},{151,156}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>15</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-8}</string>
			<key>spriteSize</key>
			<string>{147,164}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{1498,624},{147,164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>16</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,-25}</string>
			<key>spriteSize</key>
			<string>{193,208}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{1012,243},{193,208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>17</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-26}</string>
			<key>spriteSize</key>
			<string>{189,202}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{844,689},{189,202}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>18</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,-23}</string>
			<key>spriteSize</key>
			<string>{199,196}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{1622,247},{199,196}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>19</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-25}</string>
			<key>spriteSize</key>
			<string>{213,198}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{765,489},{213,198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>20</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,-23}</string>
			<key>spriteSize</key>
			<string>{205,206}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{1207,241},{205,206}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>21</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-23}</string>
			<key>spriteSize</key>
			<string>{199,206}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{1414,247},{199,206}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>22</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-24}</string>
			<key>spriteSize</key>
			<string>{189,202}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{926,893},{189,202}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>23</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-15}</string>
			<key>spriteSize</key>
			<string>{163,184}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{1823,247},{163,184}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>24</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-9}</string>
			<key>spriteSize</key>
			<string>{151,174}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{222,952},{151,174}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>25</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-9}</string>
			<key>spriteSize</key>
			<string>{151,174}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{398,952},{151,174}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>26</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-8}</string>
			<key>spriteSize</key>
			<string>{151,174}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{574,952},{151,174}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>27</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-8}</string>
			<key>spriteSize</key>
			<string>{151,174}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{750,952},{151,174}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>28</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-9}</string>
			<key>spriteSize</key>
			<string>{151,172}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{1647,598},{151,172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>29</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-9}</string>
			<key>spriteSize</key>
			<string>{151,172}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{1146,781},{151,172}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>30</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-10}</string>
			<key>spriteSize</key>
			<string>{151,172}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{1320,781},{151,172}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>31</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-10}</string>
			<key>spriteSize</key>
			<string>{151,174}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{1035,604},{151,174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>32</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-11}</string>
			<key>spriteSize</key>
			<string>{151,172}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{1117,934},{151,172}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>33</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-12}</string>
			<key>spriteSize</key>
			<string>{151,172}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{1291,934},{151,172}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>34</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-12}</string>
			<key>spriteSize</key>
			<string>{151,174}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{1823,412},{151,174}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>35</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-12}</string>
			<key>spriteSize</key>
			<string>{151,174}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{1188,453},{151,174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>36</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-12}</string>
			<key>spriteSize</key>
			<string>{151,174}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{1341,449},{151,174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>37</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-12}</string>
			<key>spriteSize</key>
			<string>{151,174}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{1494,448},{151,174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>38</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-12}</string>
			<key>spriteSize</key>
			<string>{151,174}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{1647,445},{151,174}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>39</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-12}</string>
			<key>spriteSize</key>
			<string>{149,174}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{1012,453},{149,174}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>40</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,5}</string>
			<key>spriteSize</key>
			<string>{219,216}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{1,886},{219,216}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>41</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,1}</string>
			<key>spriteSize</key>
			<string>{245,244}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{765,243},{245,244}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>42</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,3}</string>
			<key>spriteSize</key>
			<string>{303,246}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{517,477},{303,246}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>43</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,2}</string>
			<key>spriteSize</key>
			<string>{367,244}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{1509,1},{367,244}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>44</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-5}</string>
			<key>spriteSize</key>
			<string>{375,240}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{755,1},{375,240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>45</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-10}</string>
			<key>spriteSize</key>
			<string>{375,238}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{1132,1},{375,238}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>46</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-11}</string>
			<key>spriteSize</key>
			<string>{375,244}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{378,1},{375,244}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>47</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-11}</string>
			<key>spriteSize</key>
			<string>{375,252}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{1,1},{375,252}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>48</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,-12}</string>
			<key>spriteSize</key>
			<string>{367,254}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{1,517},{367,254}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>49</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-7,-12}</string>
			<key>spriteSize</key>
			<string>{361,258}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{257,517},{361,258}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>50</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,-13}</string>
			<key>spriteSize</key>
			<string>{365,260}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{1,255},{365,260}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>51</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-13,-29}</string>
			<key>spriteSize</key>
			<string>{333,228}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{378,247},{333,228}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>52</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-10,-2}</string>
			<key>spriteSize</key>
			<string>{325,168}</string>
			<key>spriteSourceSize</key>
			<string>{375,288}</string>
			<key>textureRect</key>
			<string>{{517,782},{325,168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action10.pvr.ccz</string>
		<key>size</key>
		<string>{2008,1104}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:985d969b0fedaed704f5036be285bb7c:eb640200be231837de2c82f86252e507:fd6dfe3ee94267230ed6425290acf6b5$</string>
		<key>textureFileName</key>
		<string>col_action10.pvr.ccz</string>
	</dict>
</dict>
</plist>
