<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/442/effect/col_action1/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,91}</string>
                <key>spriteSize</key>
                <string>{107,103}</string>
                <key>spriteSourceSize</key>
                <string>{247,285}</string>
                <key>textureRect</key>
                <string>{{351,1052},{107,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/442/effect/col_action1/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,78}</string>
                <key>spriteSize</key>
                <string>{109,111}</string>
                <key>spriteSourceSize</key>
                <string>{247,285}</string>
                <key>textureRect</key>
                <string>{{351,941},{109,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/442/effect/col_action1/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,58}</string>
                <key>spriteSize</key>
                <string>{115,113}</string>
                <key>spriteSourceSize</key>
                <string>{247,285}</string>
                <key>textureRect</key>
                <string>{{359,576},{115,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/442/effect/col_action1/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,33}</string>
                <key>spriteSize</key>
                <string>{119,117}</string>
                <key>spriteSourceSize</key>
                <string>{247,285}</string>
                <key>textureRect</key>
                <string>{{355,693},{119,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/442/effect/col_action1/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{125,121}</string>
                <key>spriteSourceSize</key>
                <string>{247,285}</string>
                <key>textureRect</key>
                <string>{{351,814},{125,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/442/effect/col_action1/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-62}</string>
                <key>spriteSize</key>
                <string>{247,147}</string>
                <key>spriteSourceSize</key>
                <string>{247,285}</string>
                <key>textureRect</key>
                <string>{{1,1},{247,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/442/effect/col_action1/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-71}</string>
                <key>spriteSize</key>
                <string>{247,129}</string>
                <key>spriteSourceSize</key>
                <string>{247,285}</string>
                <key>textureRect</key>
                <string>{{1,287},{247,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/442/effect/col_action1/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-68}</string>
                <key>spriteSize</key>
                <string>{247,135}</string>
                <key>spriteSourceSize</key>
                <string>{247,285}</string>
                <key>textureRect</key>
                <string>{{1,150},{247,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/442/effect/col_action1/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-65}</string>
                <key>spriteSize</key>
                <string>{233,135}</string>
                <key>spriteSourceSize</key>
                <string>{247,285}</string>
                <key>textureRect</key>
                <string>{{236,439},{233,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/442/effect/col_action1/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-62}</string>
                <key>spriteSize</key>
                <string>{233,141}</string>
                <key>spriteSourceSize</key>
                <string>{247,285}</string>
                <key>textureRect</key>
                <string>{{1,418},{233,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/442/effect/col_action1/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-56}</string>
                <key>spriteSize</key>
                <string>{223,131}</string>
                <key>spriteSourceSize</key>
                <string>{247,285}</string>
                <key>textureRect</key>
                <string>{{250,1},{223,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/442/effect/col_action1/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-54}</string>
                <key>spriteSize</key>
                <string>{213,125}</string>
                <key>spriteSourceSize</key>
                <string>{247,285}</string>
                <key>textureRect</key>
                <string>{{250,134},{213,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/442/effect/col_action1/12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-48}</string>
                <key>spriteSize</key>
                <string>{207,95}</string>
                <key>spriteSourceSize</key>
                <string>{247,285}</string>
                <key>textureRect</key>
                <string>{{250,261},{207,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/442/effect/col_action1/13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-52}</string>
                <key>spriteSize</key>
                <string>{175,87}</string>
                <key>spriteSourceSize</key>
                <string>{247,285}</string>
                <key>textureRect</key>
                <string>{{182,576},{175,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/442/effect/col_action1/14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-55}</string>
                <key>spriteSize</key>
                <string>{179,81}</string>
                <key>spriteSourceSize</key>
                <string>{247,285}</string>
                <key>textureRect</key>
                <string>{{1,561},{179,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/442/effect/col_action1/15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-57}</string>
                <key>spriteSize</key>
                <string>{183,79}</string>
                <key>spriteSourceSize</key>
                <string>{247,285}</string>
                <key>textureRect</key>
                <string>{{250,358},{183,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/442/effect/col_action1/16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-61}</string>
                <key>spriteSize</key>
                <string>{175,73}</string>
                <key>spriteSourceSize</key>
                <string>{247,285}</string>
                <key>textureRect</key>
                <string>{{1,644},{175,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/442/effect/col_action1/17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-62}</string>
                <key>spriteSize</key>
                <string>{173,71}</string>
                <key>spriteSourceSize</key>
                <string>{247,285}</string>
                <key>textureRect</key>
                <string>{{178,736},{173,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/442/effect/col_action1/18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-61}</string>
                <key>spriteSize</key>
                <string>{173,69}</string>
                <key>spriteSourceSize</key>
                <string>{247,285}</string>
                <key>textureRect</key>
                <string>{{176,1028},{173,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/442/effect/col_action1/19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-59}</string>
                <key>spriteSize</key>
                <string>{173,69}</string>
                <key>spriteSourceSize</key>
                <string>{247,285}</string>
                <key>textureRect</key>
                <string>{{1,1080},{173,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/442/effect/col_action1/20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-60}</string>
                <key>spriteSize</key>
                <string>{175,67}</string>
                <key>spriteSourceSize</key>
                <string>{247,285}</string>
                <key>textureRect</key>
                <string>{{1,719},{175,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/442/effect/col_action1/21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-61}</string>
                <key>spriteSize</key>
                <string>{175,69}</string>
                <key>spriteSourceSize</key>
                <string>{247,285}</string>
                <key>textureRect</key>
                <string>{{178,665},{175,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/442/effect/col_action1/22</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-63}</string>
                <key>spriteSize</key>
                <string>{173,69}</string>
                <key>spriteSourceSize</key>
                <string>{247,285}</string>
                <key>textureRect</key>
                <string>{{176,1099},{173,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/442/effect/col_action1/23</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-63}</string>
                <key>spriteSize</key>
                <string>{173,71}</string>
                <key>spriteSourceSize</key>
                <string>{247,285}</string>
                <key>textureRect</key>
                <string>{{1,788},{173,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/442/effect/col_action1/24</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-63}</string>
                <key>spriteSize</key>
                <string>{173,71}</string>
                <key>spriteSourceSize</key>
                <string>{247,285}</string>
                <key>textureRect</key>
                <string>{{176,809},{173,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/442/effect/col_action1/25</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-63}</string>
                <key>spriteSize</key>
                <string>{173,71}</string>
                <key>spriteSourceSize</key>
                <string>{247,285}</string>
                <key>textureRect</key>
                <string>{{1,861},{173,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/442/effect/col_action1/26</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-63}</string>
                <key>spriteSize</key>
                <string>{173,71}</string>
                <key>spriteSourceSize</key>
                <string>{247,285}</string>
                <key>textureRect</key>
                <string>{{176,882},{173,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/442/effect/col_action1/27</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-63}</string>
                <key>spriteSize</key>
                <string>{173,71}</string>
                <key>spriteSourceSize</key>
                <string>{247,285}</string>
                <key>textureRect</key>
                <string>{{1,934},{173,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/442/effect/col_action1/28</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-63}</string>
                <key>spriteSize</key>
                <string>{173,71}</string>
                <key>spriteSourceSize</key>
                <string>{247,285}</string>
                <key>textureRect</key>
                <string>{{176,955},{173,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/442/effect/col_action1/29</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-63}</string>
                <key>spriteSize</key>
                <string>{173,71}</string>
                <key>spriteSourceSize</key>
                <string>{247,285}</string>
                <key>textureRect</key>
                <string>{{1,1007},{173,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action10.pvr.ccz</string>
            <key>size</key>
            <string>{474,1169}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cda091603324d3dc455ac7b8d117cfa5:08176adf1c6d7c0d8cf05f02e7989c38:fd6dfe3ee94267230ed6425290acf6b5$</string>
            <key>textureFileName</key>
            <string>col_action10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
