<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{28,-35}</string>
			<key>spriteSize</key>
			<string>{206,124}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{591,1285},{206,124}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{28,-37}</string>
			<key>spriteSize</key>
			<string>{188,114}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{681,739},{188,114}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{24,-28}</string>
			<key>spriteSize</key>
			<string>{168,126}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{167,1333},{168,126}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{22,-29}</string>
			<key>spriteSize</key>
			<string>{150,120}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{827,1379},{150,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-32}</string>
			<key>spriteSize</key>
			<string>{154,108}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{443,1175},{154,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,-33}</string>
			<key>spriteSize</key>
			<string>{192,136}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{787,991},{192,136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,-35}</string>
			<key>spriteSize</key>
			<string>{172,126}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{167,1159},{172,126}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-37}</string>
			<key>spriteSize</key>
			<string>{156,116}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{681,581},{156,116}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-38}</string>
			<key>spriteSize</key>
			<string>{138,108}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{717,1379},{138,108}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>09</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-38}</string>
			<key>spriteSize</key>
			<string>{188,102}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{787,1129},{188,102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>10</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-38}</string>
			<key>spriteSize</key>
			<string>{284,164}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{1,1233},{284,164}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>11</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-33}</string>
			<key>spriteSize</key>
			<string>{336,174}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{801,1},{336,174}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>12</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-30}</string>
			<key>spriteSize</key>
			<string>{354,180}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{799,339},{354,180}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>13</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-29}</string>
			<key>spriteSize</key>
			<string>{368,182}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{1,581},{368,182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>14</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-27}</string>
			<key>spriteSize</key>
			<string>{380,186}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{1,393},{380,186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>15</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-26}</string>
			<key>spriteSize</key>
			<string>{388,188}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{393,391},{388,188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>16</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-24}</string>
			<key>spriteSize</key>
			<string>{390,192}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{1,199},{390,192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>17</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-24}</string>
			<key>spriteSize</key>
			<string>{396,192}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{401,197},{396,192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>18</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-23}</string>
			<key>spriteSize</key>
			<string>{398,194}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{401,1},{398,194}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>19</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-22}</string>
			<key>spriteSize</key>
			<string>{398,196}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{1,1},{398,196}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>20</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-22}</string>
			<key>spriteSize</key>
			<string>{306,196}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{1,765},{306,196}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>21</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-21}</string>
			<key>spriteSize</key>
			<string>{308,198}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{371,581},{308,198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>22</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-23}</string>
			<key>spriteSize</key>
			<string>{300,194}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{305,979},{300,194}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>23</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-22}</string>
			<key>spriteSize</key>
			<string>{302,196}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{309,781},{302,196}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>24</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-22}</string>
			<key>spriteSize</key>
			<string>{302,194}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{1,963},{302,194}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>25</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-15}</string>
			<key>spriteSize</key>
			<string>{294,180}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{799,695},{294,180}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>26</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-15}</string>
			<key>spriteSize</key>
			<string>{284,172}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{613,929},{284,172}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>27</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,-10}</string>
			<key>spriteSize</key>
			<string>{240,146}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{443,1285},{240,146}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>28</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,-10}</string>
			<key>spriteSize</key>
			<string>{242,146}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{295,1233},{242,146}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>29</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,-11}</string>
			<key>spriteSize</key>
			<string>{242,144}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{717,1233},{242,144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action20.pvr.ccz</string>
		<key>size</key>
		<string>{980,1526}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:18374aebed51f61ef6c80576211b17a2:c3f2a04279bda6e83bfb73ca7a3084e3:98ec4b5f3da3b367b0df440471cccb39$</string>
		<key>textureFileName</key>
		<string>col_action20.pvr.ccz</string>
	</dict>
</dict>
</plist>
